<%- content_for :head do %>
	<style type="text/css">
		.host_community{background:url(<%= asset_path "personal/black_conbg.png"%>) no-repeat 20px 0;}
		.host_community .community_renren{left:75px;top:350px;}
		.host_community .community_sina{left:75px;}
		.host_community .community_kaixin{top:350px;}
		.host_community .community_sina p, .host_community .community_qq p, .host_community .community_renren p, .host_community .community_kaixin p{color:#b6b6b6;}
	</style>
<%- end %>

<div class="host_community">
  <div class="community_sina">
    <h5>绑定微博账号</h5>
    <p>绑定新浪微博，挂上新浪微博勋章！<br>把自己的微博和新浪微博连起来</p>    
    <%- if @providers.include?("weibo") %>
      <a href="<%= user_community_binding_cancel_path(:community => "weibo") %>"><button>取消绑定</button></a>
    <%- else %> 
      <a href="/users/auth/weibo" id="weibo"><button>立即绑定</button></a>
    <%- end %>   
  </div>
  <div class="community_qq">
    <h5>绑定QQ账号</h5>
    <p>绑定QQ微博，和好友边聊边博！<br>绑定后，可以实时获得QQ好友动态。</p>
    <%- if @providers.include?("qq_connect") %>
      <a href="<%= user_community_binding_cancel_path(:community => "qq_connect") %>"><button>取消绑定</button></a>
    <%- else %> 
      <a href="/users/auth/qq_connect" id="qq_connect"><button>立即绑定</button></a>
    <%- end %>
  </div>
  <div class="community_renren">
    <h5>绑定人人网账号</h5>
    <p>绑定人人社交网络，联络你和你周围的朋友！<br>马上绑定人人网，还等什么？</p>
    <%- if @providers.include?("renren") %>
      <a href="<%= user_community_binding_cancel_path(:community => "renren") %>"><button>取消绑定</button></a>
    <%- else %>
      <a href="/users/auth/renren" id="renren"><button>立即绑定</button></a>
    <%- end %>
  </div>
  <div class="community_kaixin">
    <h5>绑定开心网</h5>
    <p>绑定开心网，点亮开心图标！<br>把自己的微博和开心连起来</p>
    <%- if @providers.include?("kaixin") %>
      <a href="<%= user_community_binding_cancel_path(:community => "kaixin") %>"><button>取消绑定</button></a>
    <%- else %> 
      <a href="/users/auth/kaixin" id="kaixin"><button>立即绑定</button></a>
    <%- end %>
  </div>
</div>