<%- content_for :head do %>
  <style type="text/css">
    form.host_msgboard textarea{border:1px solid #515151;background:#3E3E3E;}
    .personalized_main .per_works .host_main{border:none;background:none;}
    .personalized_main .host_main .host_main_list p.p_hover{background:#727272;}
    .personalized_main .host_main .host_main_list span a:hover{color:#ffb1b1;}
  </style>
<%- end %>

<div class="host_main">
  <div class="host_main_list" id="d_notice">
    <h3 class="mb15">
      <span class="ft14">编辑</span><span class="ft14">发起时间</span><strong>标题</strong>（共<%= @events.size %>条）
    </h3>

    <% @events.each do |event| %>
    <p>
      <%- if current_user && current_user == @user %>
      <span><%= link_to "编辑", edit_user_event_path(current_user,event.id) %>/<%= link_to "删除", user_event_path(current_user,event.id), :method => "delete" %></span>
      <span><%= event.created_at.strftime("%Y-%m-%d") %></span><%= event.title %>
      <%- end %>
    </p>
    <%- end -%>
  </div>
</div>
<%- content_for :tail do %>
<script type="text/javascript">
  $(function(){
    $('#d_notice').children('p').mouseover(function(){
      $(this).addClass('p_hover').siblings('p').removeClass()
    }).mouseout(function(){
      $(this).removeClass()
    })
  })
</script>
<% end %>