<%- content_for :head do %>
    <%= stylesheet_link_tag 'style' %>
    <script type="text/javascript">
        $(window).load(function () {
            $('#inspiration').masonry();
        });
    </script>
    <style type="text/css">
     .popup_zf {
            bottom: 0;
        }
    </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag "jquery.masonry.js" %>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='<%= asset_path "design/title_design.png"%>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/inspirations">灵感秀</a></em>
    <em><a href="#">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group'>
    <div class="design_tit group">
      <ul class="design_filter group">
        <li class=<%="#{'li_current' if params[:order] == '最新' }" %> >
        <a href="/inspirations?order=<%= URI.escape('最新')%>">最新</a>
        </li>
        <li class=<%="#{'li_current' if params[:order] == '最热' }" %> >
        <a href="/inspirations?order=<%= URI.escape('最热')%>">最热</a>
        </li>
      </ul>
      <div class="upload_btn">
        <% if current_user -%>
          <%= link_to "我要上传", new_user_inspiration_path(current_user) %>
        <% else -%>
          <%= link_to_function "我要上传", "show_login()" %>
        <% end -%>
      </div>
    </div>
    <div class="inspiration_result">
      <div id="inspiration" class="row group">
        <%- @inspirations.each do |i| -%>
        <div>
        <%- unless i.cover_img.nil? -%>
          <%= link_to (image_tag i.cover_img.file.url(:outside)), inspiration_path(i) %>
        <%-end-%>
          <h3><%= i.title %></h3>
          <p class="p0 group">
          <%- unless i.user.nil? -%>
            <span class="nopl"><%= i.user.name %></span><span class="result_time nopl"><%= i.created_at.to_date%></span>
          <%-end-%>
          </p>
          <p class="p1 group">
            <strong class="ft14 fb"><em id="votes_count<%= i.id%>"><%= i.votes_count %></em></strong>
            <a class="vote_btn" href="#">
            <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => i.id, :voteable_type => "Inspiration"), :remote => true, :method => 'post' %>
            </a>
          </p>
          <p class="p3 group">
            <strong>灵感启发：</strong><%= i.content %>
          </p>
          <p class="p2 group">
            <span class="zf ft12">转发 (<%= i.shares_count %>)</span>
            <span class="pl ft12">评论 (<%= i.comments_count %>)</span>
          </p>
          <% cover_img = i.cover_img.file.url if i.cover_img -%>
          <%= forward_links("分享一套灵感图片，装修灵感从点滴积累开始，让我们一起行动吧！更多灵感创意，尽在---立邦iColor网 http://www.icolor.com.cn ", inspiration_url(i), cover_img) %>
        </div>
        <%- end -%>
      </div><!--row ends-->
    </div><!--design_result ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @inspirations %>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
