<%- content_for :head do %>
  <%= stylesheet_link_tag 'style', 'weekstar' %>
  <script type="text/javascript">
  $(window).load(function () {
    $('#inspiration').masonry();
  });
  </script>
  <style type="text/css">
  span.arrow_1 {
    right: 144px;
    _right: 151px;
  }

  span.arrow_2 {
    right: 77px;
    _right: 82px;
  }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='<%= asset_path "design/title_design.png"%>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">灵感秀</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group'>
    <div class="design_tit group">
      <ul class="design_filter group">
        <li class="li_current">
        <a href="#">最新</a>
        </li>
        <li>
        <a href="#">最热</a>
        </li>
      </ul>
      <div class="upload_btn">
        <%= link_to "我要上传", new_inspiration_path %>
      </div>
    </div>
    <div class="inspiration_result">
      <div id="inspiration" class="row group">
        <%- @inspirations.each do |i| -%>
        <div>
          <%= link_to (image_tag i.cover_img.file.url(:outside)), inspiration_path(i) %>
          <h3><%= i.title %></h3>
          <p class="p0 group">
            <span class="nopl"><%= i.user.name %></span><span class="result_time nopl"><%= i.created_at.to_date%></span>
          </p>
          <p class="p1 group">
            <strong class="ft14 fb"><%= i.votes_count %></strong>
            <a class="vote_btn" href="#">
              <img src="<%= asset_path "design/d_vote_btn.png" %>" alt="" />
            </a>
          </p>
          <p class="p3 group">
            <strong>灵感启发：</strong><%= i.content %>
          </p>
          <p class="p2 group">
            <span class="zf ft12">转发 (<%= i.shares_count %>)</span>
            <span class="pl ft12">评论 (<%= i.comments_count %>)</span>
          </p>
        </div>
        <%- end -%>
      </div><!--row ends-->
    </div><!--design_result ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @inspirations %>
    </div><!--pager ends-->
  </div><!--sub_bot ends-->
</div><!--main ends-->
