<% content_for :head do -%>
  <%= stylesheet_link_tag 'weekstar','style' %>
  <style type="text/css">
    span.popup_zf{bottom:0;left:50px;background:#fff!important;}
  </style>
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag 'galleryB.js','reply' %>
  <script type="text/javascript">
    $(".slide_thumb").click(function(event) {
      event.preventDefault();
      $(".big_image img").attr("src", $(event.target).parent().attr("href"));
    });
    $(function(){
      if ($("#new_message")) {
        $("#new_message").click(function (event) {
            <% if current_user -%>
            return true;
            <% else -%>
            show_login();
            return false;
            <% end -%>
        });
    }
    });
  </script>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
  <em><%= link_to "灵感秀", "/inspirations", :class => "fb" %></em>
  <em><%= link_to "设计鉴赏", "/weekly_stars" %><span></span></em>
  <em><%= link_to "首页", "/" %><span></span></em>
</div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB pr">
      <h1><%= @inspiration.title %></h1>
      <div class="subtitle">
        <%= link_to votes_path(:voteable_id => @inspiration.id, :voteable_type => "Inspiration"), :remote => true, :method => 'post', :class => "votes xin_red", :title => "" do %>
          <span id='votes_count<%= @inspiration.id%>'><%= @inspiration.votes_count %></span>
        <%- end %>
        <div class="operate pr">
<!--           <span class="forward">转发 (<%#= @inspiration.shares_count %>)</span> -->
          <span class="review">评论 (<%= @inspiration.comments_count %>)</span>
          <% cover_img = @inspiration.cover_img.file.url if @inspiration.cover_img -%>
          <span class="forward" style="height:18px">一键转发：</span>
          <!-- JiaThis Button BEGIN -->
          <div id="ckepop">
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a class="jiathis_button_renren"></a>
          </div>
          <!-- JiaThis Button END -->
          <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->

          <%
            role = "#{@inspiration.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if @inspiration.user.role_id != 3
            text = if @inspiration.user.area_id.present?
              province = @inspiration.user.city.try(:parent).try(:name)
              city = @inspiration.user.try(:city).try(:name)

              if province && city
                province == city ? "#{city}的" : "#{province + city}的"
              else
                "#{city}的" if city
              end
            end
          -%>
          <script type="text/javascript" charset="utf-8">
          var jiathis_config = {
            boldNum:4,
            siteNum:4,
            showClose:false,
            sm:"kaixin001,renren,tsina,tqq",
            imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
            imageWidth:26,
            marginTop:150,
            pic: "http://www.icolor.com.cn/<%= cover_img %>",
            url:"<%= inspiration_url(@inspiration) %>",
            title:"#iColor分享#来自<%= text %><%= role %><%= @inspiration.user.display_name %>的一套灵感图片，装修灵感从点滴积累开始，让我们一起行动吧！更多灵感创意，尽在iColor，@刷新生活iColor，",
            data_track_clickback:true
          }
          </script>
          <%#= forward_links("#iColor分享#一套灵感图片，装修灵感从点滴积累开始，让我们一起行动吧！更多灵感创意，尽在iColor，@刷新生活iColor，", inspiration_url(@inspiration), cover_img, @inspiration.id.to_s, "Inspiration") %>
        </div>
      </div>

      <div class="btn_group fr" style="margin-top:5px;">
        <%= link_to "", user_collects_path(@inspiration, in_design_id: @inspiration.id), :remote => true, method: :post, id: "new_message", :class => "icon_colleting"  %>
        <%= link_to "", fullscreen_user_inspiration_path(@inspiration.user_id, @inspiration), :class =>"icon_fullscreen" %>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <% if @inspiration.cover_img -%>
          <%= image_tag @inspiration.cover_img.file.url(:slide), :title => "装修设计欣赏-#{@inspiration.title}", :alt => "装修设计欣赏-#{@inspiration.title}" %>
        <% end -%>
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>
            <% @inspiration.design_images.each do |i| -%>
              <li><%= link_to (image_tag i.file.url(:slide_thumb),
                :alt => "装修设计欣赏-#{@inspiration.title}"), i.file.url(:slide),
                :title => "装修设计欣赏-#{@inspiration.title}", :class => 'slide_thumb' %></li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="properties">
        <table class="propertyA">
          <tr>
            <th>上传者：</th>
            <td><%= @inspiration.user.display_name %></td>
          </tr>
          <tr>
            <th>上传时间：</th>
            <td><%= @inspiration.created_at.to_date %></td>
          </tr>
          <tr>
            <th>灵感启发：</th>
            <td><%= @inspiration.content %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @inspiration.comments_count %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
            <%= f.hidden_field :commentable_id, value: params[:id] %>
            <%= f.hidden_field :commentable_type, value: 'Inspiration' %>
            <p class="input">
              <%= f.text_area :content, :class => "area_text" %>
            </p>
            <p class="button">
              <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
              <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
            </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="pager ft12">
        <%= paginate @comments %>
      </div>
      <div class="review_list">
        <ul class="review_listA">
          <% @comments.each do |c| %>
              <li>
                <div class="bar">                  
                  <% if c.user %>
                    <a href="/users/<%= c.user.id %>" class="user"><%= c.user.display_name %></a>
                  <% else %>
                    <a href="#" class="user">匿名</a>
                  <% end -%>                  
                  <span class="time"><%= c.created_at.to_date %></span>
                </div>
                <div class="reply">
                  <a href="javascript:void(0)">回复</a>
                </div>
                <div class="content">
                  <%= c.content %>
                </div>

                <div class="reply_area none cl pr">
                  <em class="pa">◆</em>
                  <span class="pa">◆</span>

                  <div class="reply_input clear">
                    <%= form_for(ReplyMsg.new) do |f| %>
                        <%= f.hidden_field :show_id, value: @inspiration.id %>
                        <%= f.hidden_field :comment_id, value: c.id %>
                        <%= f.hidden_field :reply_type, value: "inspirations" %>
                        <%= f.text_area :content, :rows => 2 %>
                        <input type="image" src="<%= asset_path "btn.jpg" %>">
                    <%- end %>
                  </div>
                  <!--reply_input ends-->
                </div>
                <!--reply_area ends-->

                <div class="reply_list none cl pr">
                  <em class="pa">◆</em>
                  <span class="pa">◆</span>

                  <div class="reply_con ft14 clear">
                    <div class="clear">
                      <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                          <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                            <p class="reply_tabs fl">
                              <a href="/users/<%= r.user.id %>"><%= r.user.display_name %></a>回复:<%= r.content %>
                            </p>

                            <p class="fr">
                              <%= r.created_at.to_date %>
                            </p>
                          </div>
                      <%- end %>
                    </div>
                  </div>
                  <!--reply_con ends-->
                </div>
                <!--reply_list ends-->
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'></div>
</div>