<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">每周之星</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB">
      <h1><%= @inspiration.title %></h1>
      <div class="subtitle">
        <div class="votes">
          当前票数：<span><%= @inspiration.votes_count %></span> 
          <a href="#"><img src="<%= asset_path "design/d_vote_btn.png" %>" /></a>
        </div>
        <div class="operate">
          <span class="forward">转发 (<%= @inspiration.shares_count %>)</span>
          <span class="review">评论 (<%= @inspiration.comments_count %>)</span>
        </div>
      </div>
      <div class="fullscreen_btn">
        <a href="/inspiration/1/fullscreen">全屏观看</a>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <%= image_tag "design/pc1.jpg" %>
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>          
            <% Inspiration.limit(4).each do |i| %>
            <li><%= link_to (image_tag i.img.url), inspiration_path(i) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <script type="text/javascript" src="js/galleryB.js"></script>
      <div class="properties">
        <table class="propertyA">
          <tr>
            <th>上传者：</th>
            <td><%= @inspiration.user.name %></td>
          </tr>
          <tr>
            <th>上传时间：</th>
            <td><%= @inspiration.created_at.to_date %></td>
          </tr>
          <tr>
            <th>设计风格：</th>
            <td>田园</td>
          </tr>
          <tr>
            <th>灵感启发：</th>
            <td><%= @inspiration.content %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @inspiration.comments_count %>)</h4><span class="r">0/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
              <%= f.hidden_field :inspiration_id, value: params[:id] %>
              <p class="input">
                <%= f.text_area :content %>
              </p>
              <p class="button">
                <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
                <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
              </p>
            <% end %>
          </div>
        </div>
        <div class="pager ft12">
          <%= paginate @comments %>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <% @comments.each do |c| %>
            <li>
              <div class="bar">
                <span class="user"><%= c.user.name %></span><span class="time"><%= c.created_at.to_date %></span>
              </div>
              <div class="reply">
                <a href="#">回复</a>
              </div>
              <div class="content">
                <%= c.content %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
  </div>
</div>
