<% content_for :head do -%>
  <%= stylesheet_link_tag 'weekstar','style' %>
  <style type="text/css">
  	span.arrow_1{right:87px;}
  </style>  
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag 'galleryB.js','main' %>
  <script type="text/javascript">
    $(".slide_thumb").click(function(event) {
      event.preventDefault();
      $(".big_image img").attr("src", $(event.target).parent().attr("href"));
    });
  </script>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">灵感秀</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB">
      <h1><%= @inspiration.title %></h1>
      <div class="subtitle">
        <div class="votes">
          当前票数：<span id="votes_count<%= @inspiration.id%>"><%= @inspiration.votes_count %></span>
          <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @inspiration.id, :voteable_type => "Inspiration"), :remote => true, :method => 'post' %>
        </div>
        <div class="operate pr">
          <span class="forward">转发 (<%= @inspiration.shares_count %>)</span>
          <span class="review">评论 (<%= @inspiration.comments_count %>)</span>
          <div class="popup_zf group none" style="bottom:0; left:193px;"><span style="background:none; padding:0; margin:0; line-height:14px;">一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></div>
        </div>
      </div>
      <div class="fullscreen_btn">
        <%= link_to "全屏观看", fullscreen_user_inspiration_path(@inspiration.user_id, @inspiration) %>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <% if @inspiration.cover_img -%>
          <%= image_tag @inspiration.cover_img.file.url(:slide) %>
        <% end -%>
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>
            <% @inspiration.design_images.each do |i| -%>
              <li><%= link_to (image_tag i.file.url(:slide_thumb),
                :alt => @inspiration.title), i.file.url(:slide),
                :title => @inspiration.title, :class => 'slide_thumb' %></li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="properties">
        <table class="propertyA">
          <tr>
            <th>上传者：</th>
            <td><%= @inspiration.user.display_name %></td>
          </tr>
          <tr>
            <th>上传时间：</th>
            <td><%= @inspiration.created_at.to_date %></td>
          </tr>
          <tr>
            <th>灵感启发：</th>
            <td><%= @inspiration.content %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @inspiration.comments_count %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
            <%= f.hidden_field :commentable_id, value: params[:id] %>
            <%= f.hidden_field :commentable_type, value: 'Inspiration' %>
            <p class="input">
              <%= f.text_area :content, :class => "area_text" %>
            </p>
            <p class="button">
              <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
              <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
            </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="pager ft12">
        <%= paginate @comments %>
      </div>
      <div class="review_list">
        <ul class="review_listA">
          <% @comments.each do |c| %>
              <li>
                <div class="bar">
                  <span class="user"><%= c.user.display_name %></span><span class="time"><%= c.created_at.to_date %></span>
                </div>
                <div class="reply">
                  <a href="javascript:void(0)">回复</a>
                </div>
                <div class="content">
                  <%= c.content %>
                </div>
                <div class="reply_input none cl pr clear">
                  <%= form_for(ReplyMsg.new) do |f| %>
                      <%= f.hidden_field :show_id, value: @inspiration.id %>
                      <%= f.hidden_field :comment_id, value: c.id %>
                      <%= f.hidden_field :reply_type, value: "inspirations" %>
                      <%= f.text_area :content, :rows => 5 %>
                      <em class="pa">◆</em>
                      <span class="pa">◆</span>
                      <input type="image" src="<%= asset_path "btn.jpg" %>">
                  <%- end %>
                </div>
                <!--reply_input ends-->
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'></div>
</div>