<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg', 'uploadify' %>
  <style type="text/css">
    #upload_photo {
      float: right;
    }
  </style>
<% end -%>
<%- content_for :tail do %>
<%= javascript_include_tag "swfobject.js", "jquery.uploadify.js" %>

<script type="text/javascript" charset="utf-8">
<%- session_key = Rails.application.config.session_options[:key] -%>
$(function() {

  $('#upload_photo').click(function(event){
    event.preventDefault();
  });

  $('#upload_photo').uploadify({
    swf : '/uploadify/uploadify.swf',
    cancelImage : '/uploadify/uploadify-cancel.png',
    uploadLimit : 60,
    skipDefault : ['onSelect'],
    buttonText : "选择文件",
    width : 112,
    height : 31,
    multi : true,
    auto : true,
    checkExisting : false,
    transparent : true,
    uploader : '<%= user_design_images_path(current_user) %>',
    //buttonText : '选择文件',
    onUploadSuccess : function(file, data, response) {
      var dat = eval('(' + data + ')');
      if (dat.result == 'success') {
        $.getScript(dat.upload + "?for=inspiration");
      };
      if (dat.result == 'failed')
        {alert("图片宽度不能小于202像素！")};
    },
    postData : {
        '_http_accept': 'application/javascript',
        'format' : 'json',
        '_method': 'post',
        '<%= session_key %>' : '<%= cookies[session_key] %>',
        'authenticity_token': '<%= form_authenticity_token %>'
    },
    onUploadStart : function(){
      $("#upload_going").show();
    },
    onUploadComplete : function(){
      $("#upload_going").hide();
    }    
  });

});

function uploads_size () {
  $('#design_images_size').html($(".upload_item").size());
  if ($(".upload_item").size() >= 60) {
    $("#upload_photo").hide();
  } else {
    $("#upload_photo").show();
  }
}
</script>

<script type="text/javascript">
  $(function(){
    $(".load_submit").click(function(){
      var imgCount = $("#inspiration_images_size").text();
      if(parseInt(imgCount) == 0){
        alert("不能一张图片都没有哦");
        return false;
      }else{
        $(".edit_inspiration").submit();
      }
    })
  })
</script>
<%- end -%>
<%= form_for([current_user, @inspiration]) do |f| %>
<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clear ft12">
        <span class="fl ft18">上传灵感秀</span>
      </div><!--sys_bar ends-->
      <div class="suc_content ft14 clear">
        <div class="reg_list reg_width fb">上传到灵感秀：<%= @inspiration.title %></div>
        <div class="work_area clear">
          <p class="fl">您已经添加了<span id="inspiration_images_size"><%= @inspiration.design_images.size %></span>张图片（还可以添加<span><%= 60 - @inspiration.design_images.size %></span>张）</p>
          <a href="#" class="re_add fr" id="upload_photo"></a>
          <div><img src="<%= asset_path "indicator.gif" %>" style="display:none;" id="upload_going"></div>
          <div class="upload_bin fl">
            <div class="load_bar clear">
              <div class="work_title fb fl">文件</div>
              <div class="work_size tc fl">大小</div>
              <div class="set_cover tc fl">设为封面</div>
              <div class="work_del tc fl">移除</div>
            </div><!--load_bar ends-->
            <div class="load_bar load_content" id="uploads">
              <%= render :partial => "design_images/upload", :collection => @inspiration.design_images -%>
            </div><!--load_content ends-->
            <p class="load_footer ft12 fl">
              共有<span id="design_images_size"><%= @inspiration.design_images.size %></span>个文件 |
              <a href="javascript:$('.upload_item').remove();uploads_size();" class="clear_all">清空列表</a>
            </p><!--load_footer ends-->
            <!-- <p class="load_total ft12 fr">总计：<span>432</span>KB</p> -->
          </div><!--upload_bin ends-->
          <p class="load_info ft12 fl">
            您可以上传JPG、GIF、PNG、或BMP文件，建议大尺寸，单张图片5M以下，一批可上传60张
          </p><!--load_info ends-->
        </div><!--work_area-->
        <div class="reg_list reg_width clear"></div>
<!--         <a href="javascript:$('.edit_inspiration').submit();" class="load_submit db"></a>
 -->
          <a href="javascript:void(0)" class="load_submit db" ></a>
       </div><!--suc_content ends-->
    </div><!--section ends-->
  </div><!--shadow ends-->
</div><!--main ends-->
<% end -%>

