<ul class="unstyled map-right index_main mt10 js-img_show">
  <li class="clearfix refresh_r_tit">
    <a href="#" target="_blank" class="pull-right"><small class="muted">更多&gt;</small></a>
    <strong class="pull-left">最新大师作品</strong>
  </li>
  <% @new_designs.each_with_index do |_design,index| %>
    <li class="map-r1 <%= index == 0 ? 'dott1 active' : ''%>">
      <i class="icon-i16 icon-1"><%= index+1 %></i>
      <strong class="js-title"><%= _design.title %></strong>
      <% cover = _design.file %>
      <a href="<%= _design.url -%>" class="js-img" style="<%= index > 0 ? 'display: none;' : '' %>">
        <img src="<%=_design.file(:list_155x115)%>" alt="">
      </a>
    </li>
  <%end-%>
</ul>