<% content_for :head do -%>
  <%= stylesheet_link_tag '2013upload' %>
  <style type="text/css">
    .upload_img_btn {margin: 25px 0 31px;}
  </style>
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag "/location.js","LinkageSelect.js" %>
  <%= javascript_include_tag "2013main.js" %>
  <script type="text/javascript">
    (function($){
      if(typeof data != 'undefined'){
        var options = {
          data  : data
        }
        <% area = Area.find @design_image.area_id  if @design_image && @design_image.area_id.present?%>
        var sel = new LinkageSelect(options);
        sel.bind('.level_1', '<%=area.try(:parent).try(:parent).try(:id) if area.present? %>');
        sel.bind('.level_2', '<%=area.try(:parent).try(:id) if area.present? %>');
        sel.bind('.level_3', '<%=area.try(:id) if area.present? %>');
      }
      $(".upload_img_btn").click(function(){
        var effect = $(':radio[name="effect[]"]:checked').val();
        window.opener.document.getElementById('effect_<%=params[:design_image_id]%>').value = effect;
        window.opener.document.getElementById('delete_image_tag_<%=params[:design_image_id]%>').value = effect;
      })
    })($);
  </script>
<% end %>

<div class="container refresh_main">
  <ul class="breadcrumb">
    <li><a href="#">首页</a> > </li>
    <li class="active">用户中心</li>
  </ul>
  <hr class="border2 border2_mt2">

  <ul class="nav nav-tabs upload_tab" id="upload_tab">
    <li class="active"><a href="#upload_tab1" data-toggle="tab">上传作品</a></li>
  </ul>
  <div class="tab-content upload_more">
    <div class="tab-pane active" id="upload_tab1">
      <%= form_tag image_tag_design_images_path, :remote => true, :class=>'form-horizontal index_main noborder' do %>
        <h5 class="upload_tag_more"><span>按图片</span></h5>
        <fieldset>
          <% ImageLibraryCategory.where(parent_id: 132).order("created_at desc").each do |img_lib_cat| %>
            <label class="radio inline span1 nomargin">
              <% if params[:image_tag].present? %>
                <% if params[:image_tag].to_i == img_lib_cat.id.to_i %>
                  <%=radio_button_tag "effect[]",img_lib_cat.id,true, id: "effect"%><%=img_lib_cat.title%>
                <% else %>
                  <%=radio_button_tag "effect[]",img_lib_cat.id, nil, id: "effect"%><%=img_lib_cat.title%>
                <% end %>
              <% end %>
              <% unless params[:image_tag].present?  %>
                <% @image_tags.each do |image_tag| %>
                  <% if image_tag.to_i == img_lib_cat.id %>
                    <%=radio_button_tag "effect[]",img_lib_cat.id,true, id: "effect"%><%=img_lib_cat.title%>
                  <% end %>
                <% end %>
                <% unless @image_tags.include?(img_lib_cat.id) %>
                  <%=radio_button_tag "effect[]",img_lib_cat.id, nil, id: "effect"%><%=img_lib_cat.title%>
                <% end %>
              <% end %>
            </label>
          <% end %>
        </fieldset>
        <h5 class="upload_tag_more"><span>用途</span></h5>
        <fieldset>
          <% ImageLibraryCategory.where(parent_id: 122).each do |img_lib_cat| %>
            <label class="radio inline span1 nomargin">
              <% @image_tags.each do |image_tag| %>
                <% if image_tag == img_lib_cat.id %>
                  <%=radio_button_tag "use[]",img_lib_cat.id, true %><%=img_lib_cat.title%>
                <% end %>
              <% end %>
              <% unless @image_tags.include?(img_lib_cat.id) %>
                <%=radio_button_tag "use[]",img_lib_cat.id%><%=img_lib_cat.title%>
              <% end %>
            </label>
          <% end %>
        </fieldset>
        <h5 class="upload_tag_more"><span>按区域</span></h5>
        <fieldset>
          <select id="province" class="level_1 input-small" ><option>省/直辖市</option></select>
          <select id="city" class="level_2 input-small"><option>城市</option></select>
          <select id="zone" class="level_3 input-small" name="design_image[area_id]"><option>区</option></select>
        </fieldset>
        <h5 class="upload_tag_more"><span>按部件</span></h5>
        <fieldset class="noborder nomargin">
          <div class="control-group">
            <strong class="text-important control-label">家具</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 211).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "furniture[]",img_lib_cat.id, true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "furniture[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">灯具</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 212).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "lamps[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "lamps[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">墙面</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 214).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "metope[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "metope[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">饰品</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 215).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "accessories[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "accessories[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">家电</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 216).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "appliances[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "appliances[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">橱柜</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 217).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "cupboard[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "cupboard[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">卫浴</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 218).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "baths[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "baths[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">瓷砖</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 219).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "ceramic_tile[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "ceramic_tile[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">地板</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 220).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "floor[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "floor[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">用品</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 221).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "articles[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "articles[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">门窗</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 222).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "doors_windows[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "doors_windows[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">数码</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 223).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "digital[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "digital[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">其他</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 224).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "other[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "other[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
          <div class="control-group">
            <strong class="text-important control-label">布艺</strong>
            <div class="controls clearfix">
              <% ImageLibraryCategory.where(parent_id: 213).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <% @image_tags.each do |image_tag| %>
                    <% if image_tag.to_i == img_lib_cat.id %>
                      <%=check_box_tag "fabric[]",img_lib_cat.id,true%><%=img_lib_cat.title%>
                    <% end %>
                  <% end %>
                  <% unless @image_tags.include?(img_lib_cat.id) %>
                    <%=check_box_tag "fabric[]",img_lib_cat.id%><%=img_lib_cat.title%>
                  <% end %>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <div class="text-center">
          <input type="hidden" name="image_id" value="<%=params[:design_image_id]%>">
          <button class="upload_img_btn">保&nbsp;&nbsp;&nbsp;存</button>
          <a href="javascript:window.close()" class="upload_img_back">取消</a>

        </div>
      <% end %>
    </div>
  </div>

  <div class="clearfix">
    <div class="footer_banner pull-left">
      <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' if @banners[0] %>" target="_blank">
        <%= image_tag @banners[0].try(:file).try(:url, :list_670x85) if @banners[0] %>
      </a>
    </div>
    <div class="footer_banner pull-right">
      <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' if @banners[1] %>" target="_blank">
        <%= image_tag @banners[1].try(:file).try(:url, :list_310x85) if @banners[1] %>
      </a>
    </div>
  </div>
</div>