<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "dd" %>
    <style type="text/css">
    .ac_results{background: #FFFFFF !important;z-index: 500;border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
    #color_select{}
    .dd .ddTitle{ background:#fff; border:1px solid #ccc;}
    .dd .ddChild a.nobg,
    .dd .ddChild a.nobg:visited {background:none;padding-left:10px; }    
    #style_child a{background:none!important;padding-left:10px;}
    .work_number .dd{ margin-right:15px;}
    #design_style, #design_design_color{width:108px;}
    #province, #city{background:white;border:1px solid #ccc;width:108px;height:23px;}
  </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
    <%= javascript_include_tag "uncompressed.jquery.dd.js" %>
    <script type="text/javascript">
    $(function() {
      var options = {
        data  : data
      }
      var sel = new LinkageSelect(options);
      <%- if params[:area_head] && !params[:area_head].blank? -%>
        sel.bind('.level_1',<%= params[:area_head] %>);
      <%- else -%>
        sel.bind('.level_1', null, '请选择省会');
      <%- end -%>
      <%- if params[:area_id] && !params[:area_id].blank? -%>
        sel.bind('.level_2',<%= params[:area_id] %>);
      <%- else -%>
        sel.bind('.level_2', null, '请选择市');
      <%- end -%>
    });
    $(function(){
      try {
          //$("body select").msDropDown();
          oHandler = $("#order,#style,#design_color").msDropDown({
            useSprite : 'sprite'
          }).data("dd");
          $("#ver").html($.msDropDown.version);
        } catch(e) {
          alert("Error: " + e.message);
        }
      });

    </script>
<%- end %>
<div class="main">
<div class='sub_title tr pt25'>
  <img src='<%= asset_path "design/title_design.png" %>'/>
</div>
<div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designs">推荐作品</a></em>
    <em><a href="/weekly_stars">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
</div><!--sub_nav ends-->
<div class='wrapper pb60 group'>
<div class="design_tit group">
  <ul class="design_filter group">
    <form method="get" id="filter_form">
      <li>
        <%= select_tag "order", options_for_select(design_order_option, params[:order]) %>
      <li>
    <li>
       <%= select_tag "style", options_for_select(design_style_option, params[:style]) %>
    </li>
    <li>
       <%= select_tag "design_color", options_for_select(color_design_color_option, params[:design_color]) %>
    </li>    
    <!-- <li> -->
      <%#= select_tag "room_type",options_for_select(design_room_type_option, params[:room_type]), class: "arrow_filter",:onchange => "$('#filter_form').submit()" %>
    <!-- </li> -->
    <li>
      <select id="province" class="level_1 arrow_filter" name="area_head">
      </select>
      <select id="city" class="level_2 arrow_filter" name="area_id">
      </select>
    </li>
    <li style="background:none;"><button><img src="<%= asset_path "design_search.png" %>" /></button></li>
    </form>

    <li>
      <a href="/designs?q=超越刷新" style="margin:0;padding:0;"><img src="<%= asset_path "landingpage/refresh_btn.jpg"%>"/></a>
    </li>
  </ul>
  <div class="upload_btn">
    <% if current_user -%>
      <% unless current_user.common_user? %>
        <%= link_to "我要上传", new_user_design_path(current_user) %>
      <% end -%>
    <% else -%>
      <%= link_to_function "我要上传", "show_login()" %>
    <% end -%>
  </div>
</div>
<div class="design_result">
  <% @designs.in_groups_of(3, false).each do |group| -%>
  <ul class="d_works add_icon group">
    <% group.each do |design| -%>
    <li>
      <%- if design.cover_img %>
        <%= link_to user_design_path(design.user_id, design) do %>
          <%= image_tag(design.cover_img.file.url(:index), :title => "装修设计欣赏-#{design.title}", :alt => "装修设计欣赏-#{design.title}") %>
          <%- if design.is_refresh? %>
            <span class="design_icon"><img src="<%= asset_path "design/icon_landing.png"%>"></span>
          <%- end %>
        <%- end %>
      <%- end %>
      <h3><%= design.title %></h3>
      <p class="p1 group">
        <strong class="ft14 fb">当前票数：<em id ="votes_count<%= design.id%>"><%= design.votes_count %></em></strong>
        <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => design.id, :voteable_type => "Design"), :remote => true, :method => 'post' %>
      </p>

      <p class="p2 p2_popup_zf group">
        <span class="zf ft12">转发 (<em><%= design.shares_count %></em>)</span><a href="/designs/<%= design.id %>"><span class="pl ft12">评论 (<%= design.comments_count %>)</span></a>
      </p>
      <%
        cover_img = design.cover_img.file.url if design.cover_img
        role = "#{design.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if design.user.role_id != 3
        text = if design.user.area_id.present?
          province = design.user.city.try(:parent).try(:name)
          city = design.user.try(:city).try(:name)

          if province && city
            province == city ? "#{city}的" : "#{province + city}的"
          else
            "#{city}的" if city
          end          
        end
      -%>
      <%= forward_links("#iColor分享#来自#{text}#{role}#{design.user.display_name}的作品【#{design.title}】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor，", user_design_url(design.user_id, design), cover_img, design.id.to_s, "Design") %>
      <p>
        公司：<%= design.user.name_of_company %>
        <br/>
        设计师：<%= design.user.display_name %>
        <br/>
        风格：<%= design.style %>
      </p>
    </li>
    <% end -%>
  </ul>
  <% end -%>
  <!--result one ends-->
</div>
<!--design_result ends-->
</div>
<!--wrapper ends-->
<div class='sub_bot pr'>
  <div class="pager ft12">
    <%= paginate @designs %>
  </div>
  <!--pager ends-->
</div>
<!--sub_bot ends-->
</div><!--main ends-->