<h3 class="chann_caption nomargin">
  <i class="icon-map icon-map3 icon_colors"></i>
  <strong>设计鉴赏</strong>
  <small>实用案例为您的家装出谋画色</small>
</h3>
<div class="clearfix">
  <div class="footer_banner pull-left mt10"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/index/footer_banner.jpg") %></div>
  <div class="footer_banner pull-right mt10"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/index/footer_banner2.jpg") %></div>
</div>
<ul class="breadcrumb">
  <li><%= link_to "首页", "/" %> &gt;</li>
  <li><%= link_to "设计鉴赏", "/weekly_stars" %> &gt;</li>
  <li class="active">作品展示</li>
</ul>
<hr class="border2 border2_mt2">
<div class="clearfix color_designs">
  <div class="map-left pull-left">
    <div class="index_main nopadding">
      <form action="#" method="" class="map-list-search nomargin">
        <p class="map-srch-bin">
          您的选择：
          <span class="map-srch-s">小户型<a href="javascript:;" class="map-srch-del">delete</a></span>
          <span class="map-srch-s">飘窗设计<a href="javascript:;" class="map-srch-del">delete</a></span>
          <span class="map-srch-s">儿童房<a href="javascript:;" class="map-srch-del">delete</a></span>
          <span class="map-srch-s">70-90平米<a href="javascript:;" class="map-srch-del">delete</a></span>
          <span class="map-srch-s map-srch-reset">重新选择</span>
        </p>
        <div class="map-list-form map-mini">
          <fieldset class="clearfix">
            <label class="pull-left">风格：</label>
            <span>
              <a href="#" class="highlight">全部</a>
              <a href="#">小户型</a>
              <a href="#">公寓</a>
              <a href="#">复式</a>
              <a href="#">别墅</a>
              <a href="#">一室</a>
              <a href="#">两居</a>
              <a href="#">三居</a>
              <a href="#">四居</a>
              <a href="#">四居以上</a>
              <a href="#">挑高</a>
              <a href="#">跃层</a>
              <a href="#">错层</a>
            </span>
          </fieldset>
          <fieldset class="clearfix">
            <label class="pull-left">色系：</label>
            <span>
              <a href="#">全部</a>
              <a href="#">背景墙装修</a>
              <a href="#">玄关设计</a>
              <a href="#">阳光房设计</a>
              <a href="#">衣帽间设计</a>
              <a href="#">飘窗设计</a>
              <a href="#">隔断设计</a>
              <a href="#">吧台设计</a>
              <a href="#">阁楼设计</a>
            </span>
          </fieldset>
          <fieldset class="clearfix noborder">
            <label class="pull-left mt6">地区：</label>
            <span class="mt6">
              <a href="#" style="margin-right:15px;">全部</a>
              <select></select>
              <select></select>
              <select></select>
              <input type="submit" class="map-srch-submit" value="确定">
            </span>
          </fieldset>
        </div>
      </form>
    </div>
    <div class="mt10 pt15">
      <% if current_user -%>
        <% unless current_user.common_user? %>
          <%= link_to "", new_user_design_path(current_user), class: 'pull-right designs_upload_btn' %>
        <% end -%>
      <% else -%>
        <%= link_to_function "", "show_login()", class: 'pull-right designs_upload_btn' %>
      <% end -%>
      <div class="btn-group">
        <button class="btn" >
          <%= link_to "最新",designs_path(order: '最新'), class: "#{'active' if params[:order] == '最新' || params[:order].nil? }" %>
        </button>
        <button class="btn">
          <%= link_to "最热",designs_path(order: '最热'), class: "#{'active' if params[:order] == '最热' }" %>
        </button>
      </div>
      <%= link_to "", "/designs?order=因爱之名", class: 'designs_search_btn'%>
    </div>

    <div class="index_main mt10">
      <%- unless @designs.nil? %>
      <ul class="per_works unstyled clearfix mt10">
        <% @designs.in_groups_of(3, false).each do |group| -%>
          <% group.each do |design| -%>
          <li class="">
            <%- if design.cover_img %>
              <a href="<%= user_design_path(design.user_id, design) %>" class="help-block">
                <img src="<%= design.cover_img.file.url(:index) %>" title="<%= design.title %>" alt="" />
              </a>
            <%- end %>
            <h5 class="dott1"><%= design.title %></h5>
            <p class="para_oneline nomargin"><%= design.user.display_name %></p>
            <p class="para_oneline nomargin">
              <% if design.cover_img && design.cover_img.source == "yda" %>
                <% tag = ImageTag.where("design_image_id = #{design.cover_img.id}").map &:image_library_category_id %>
                风格：<%= (ImageLibraryCategory.where("id in (#{tag.join(",")})").map &:title).join(",") if tag.present? %>
              <% else %>
                风格：<%= design.design_style_names %>
              <% end %>
            </p>
            <p class="dott1 nomargin">
              <%= link_to raw("<span><i class='icon-i16 icon-xin_gray2' id='votes_count#{design.id}'></i>#{design.votes_count}</span>"), votes_path(:voteable_id => design.id, :voteable_type => "Design"), :remote => true, :method => 'post' %>
              <a href="/designs/<%= design.id %>"><span><i class="icon-i16 icon-comment1"></i><%=design.comments.length %></span></a>
              <span class="noborder"><i class="icon-i16 icon-share1"></i><%=design.shares_count %></span>
            </p>
          </li>
          <% end %>
        <% end %>
      </ul>
      <% end -%>
      <form class="pager pager-form">
        <%- unless @designs.nil? %>
          <%= paginate @designs, :window => 3, :outer_window => 3, :left => 5, :right => 3 %>
        <%- end %>
      </form>
    </div>
  </div>
  <div class="pull-right smaller">
    <div class="map-right index_main">
      <div class="media media_chann">
        <a class="pull-left" href="/design_images/lists" target="_blank">
          <i class="icon-chann icon-chann_imgbase"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="/images" target="_blank">装修图库</a></h4>
          <p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
        </div>
      </div>
      <div class="media media_chann">
        <a class="pull-left" href="/color_designs" target="_blank">
          <i class="icon-chann icon-chann_match"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="/color_designs" target="_blank">色彩配搭</a></h4>
          <p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
        </div>
      </div>
      <div class="media media_chann">
        <a class="pull-left" href="#">
          <i class="icon-chann icon-chann_qbt"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="#">装修丘比特</a></h4>
          <p class="media_con nomargin">仅需三步，让您轻松找到心仪的家装设计公司！</p>
        </div>
      </div>
    </div>
    <%- colum_datas1 = IColumnData.show_data(1).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 1).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">最新大师作品</strong>
      </li>
      <% colum_datas1.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%> 
    </ul>
    <%- colum_datas2 = IColumnData.show_data(4).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 4).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">装修效果图精华推荐</strong>
      </li>
      <% colum_datas2.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%> 
    </ul>
    <%- colum_datas3 = IColumnData.show_data(5).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 5).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">本周最热装修设计</strong>
      </li>
      <% colum_datas3.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%> 
    </ul>
    <div><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/refresh/refresh_list_banner1.jpg") %></div>
    <div class="mt10"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/refresh/refresh_list_banner2.jpg") %></div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="<%= @master_more.url if @master_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>大师访谈</h5>
    <ul class="ul_dot">
      <%- @master_interviews.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @master_interviews.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="<%= @more_info.url if @more_info%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>相关资讯</h5>
    <ul class="ul_dot">
      <%- @about_info.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @about_info.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="pull-right"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/refresh/refresh_list_banner3.jpg") %></div>
</div>

<div class="clearfix">
  <div class="footer_banner pull-left"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/index/footer_banner.jpg") %></div>
  <div class="footer_banner pull-right"><%= link_to image_tag("http://htmlhub.doorder.com/icolor2/images/index/footer_banner2.jpg") %></div>
</div>