<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
<% end -%>
<%= form_for([current_user, @design]) do |f| %>
<%= hidden_field_tag "user_id", current_user.id %>
<div class="main syslist uploads">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clear ft12">
        <span class="fl ft18">上传作品</span>
      </div><!--sys_bar ends-->
      <div class="reg_content ft14">
        <div class="reg_list reg_width fl">
          <%= f.label :title, "作品名称：" %>
          <%= f.text_field :title, class: "works fl" -%>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <%= f.label :content, "作品描述：" %>
          <%= f.text_area :content, class: "works_details fb ft14 fl" -%>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <%= f.label :style, "风格：" %>
          <div class="fl">
            <%= f.select :style, ["现代简约", "中式新古典", "欧式复古", "田园地中海", "其他"],
              class: "fl" %>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <%= f.label :room_type, "户型：" %>
          <div class="fl">
            <%= f.select :room_type, ["一室一厅", "二室一厅", "二室二厅", "三室二厅", "其他"],
              class: "fl" %>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <label for="city">作品建筑所属城市：</label>
          <div class="fl">
            <select class="fl">
              <option>请选择</option>
            </select>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <label for="labels">标签：</label>
          <div class="tag_list fl">
            <a href="javascript:void(0)" class="labels fl cr">客厅设计<%= image_tag "news/labels.png" %></a>
            <a href="javascript:void(0)" class="labels fl cr">田园风格<%= image_tag "news/labels.png" %></a>
            <a href="javascript:void(0)" class="labels fl cr">小清新<%= image_tag "news/labels.png" %></a>
            <a href="javascript:void(0)" class="labels fl cr">绿色系<%= image_tag "news/labels.png" %></a>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <label></label>
          <div class="fl tags">
            <a href="javascript:void(0)" class="tag fl ft14 cw bg1">客厅设计</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg2">田园风格</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg3">欧式奢华风</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg4">斯堪的纳维亚半岛风格</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg5">小清新</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg6">黄色系</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg7">结构美学设计</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg8">宜家简约设计风格</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg9">中式古典风格</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg10">低调的奢华</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg11">北欧</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg11">灰色调</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg11">北欧</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg10">低调的奢华</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg11">灰色调</a>
            <a href="javascript:void(0)" class="tag fl ft14 cw bg9">中式古典风格</a>
            <input type="text" class="add_tag fl" />
            <input type="image" src="<%= asset_path "news/add_tag.jpg" %>" class="add_tag_on fl" onclick="return false;" />
          </div>
        </div><!--reg_list ends-->
        <input type="image" src="<%= asset_path "news/add_img.jpg" %>" class="add_img fl" />
      </div><!--reg_content ends-->
    </div><!--section ends-->
  </div><!--shadow ends-->
</div><!--main ends-->
<% end %>