<% content_for :head do -%>
  <%= stylesheet_link_tag '2013upload' %>
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag "/location.js","LinkageSelect.js" %>
  <%= javascript_include_tag "2013main.js" %>
  <script type="text/javascript">
  $(function(){
  <%- unless flash[:design_errors].blank? %>
  <%-
      errors = ""
      flash[:design_errors].each do |e|
        errors << "*" + e + '\n'
      end
  %>
    alert("<%= errors %>");
  <%- end %>
  (function($){

    //linkageselect
    if(typeof data != 'undefined'){
      var options = {
        data  : data
      }

      var sel = new LinkageSelect(options);
      sel.bind('.level_1');
      sel.bind('.level_2');
      sel.bind('.level_3');
    }
    var thisForm = $(".js-commit")
    thisForm.radio1 = thisForm.radio2 = false
    thisForm.checkbox = 0
    thisForm.on('click', 'input[name="apartment"]', function(){
      if( !thisForm.radio1 )  thisForm.radio1 = true
    }).on('click', 'input[name="use"]', function(){
      if( !thisForm.radio2 )  thisForm.radio2 = true
    }).on('click', '[name="style[]"]', function(){
      if(this.checked) thisForm.checkbox += 1
      else  thisForm.checkbox -= 1
    }).submit(function(e){
      falg = ""
      design_title = $('#design_title').val();
      zone = $('#zone').val();
      property_name = $('#design_property_name').val();
      if(design_title == ""){
        falg += '请输入作品名称！'+ '\n'
      }
      if( !thisForm.radio1 ){
        falg += '请选择户型！'+ '\n'
      }
      if( thisForm.checkbox <= 0 ){
        falg += '请选择风格！'+ '\n'
      }
      if( !thisForm.radio2 ){
        falg += '请选择用途！'+ '\n'
      }
      if(zone == ""){
        falg += '请选择城市！'+ '\n'
      }
      if(property_name == ""){
       falg += '请输入楼盘名称！'
      }
      if(falg != ""){
        alert(falg)
        return false
      }else{
        return true
      }

    })
  })($);

  var jump = function (){
    design_title = $("#edit_title").val();
    window.location = "/users/<%=current_user.id%>/designs/"+ design_title +"/edit_design"
  }

  var title = $('#edit_title')

  $('#t1').click(function(){
    title.hide()
  })
  $('#t2').click(function(){
    title.show()
  })

  title.change(jump)

  })
  </script>

  <!--[if IE 6]>
  <script src="../js/png.js"></script>
  <script>
  PNG.fix('img,div,a,ul,li');
  </script>
  <![endif]-->
<% end %>
<div class="container refresh_main">
  <ul class="breadcrumb">
    <li><a href="#">首页</a> > </li>
    <li class="active">用户中心</li>
  </ul>
  <hr class="border2 border2_mt2">

  <ul class="nav nav-tabs upload_tab" id="upload_tab">
    <li class="active"><a href="#upload_tab1" data-toggle="tab">上传作品</a></li>
  </ul>

  <div class="tab-content upload_content">
    <div class="tab-pane active" id="upload_tab1">
      <%= form_for([current_user, @design], html: {:class=>"form-horizontal index_main noborder nopadding nomargin js-commit"}) do |f| %>
        <%= hidden_field_tag "story_id", params[:story_id] %>
        <fieldset class="text-center">
          <label class="radio inline">
            <input type="radio" id="t1" name="radio1" value="" checked> 新建作品
          </label>
          <label class="radio inline">
            <input type="radio" id="t2" name="radio1" value=""> 更新已有作品
          </label>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label pt10" for="workname">作品名称<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <% if params[:story_id].present? %>
                  <% story = Story.find params[:story_id]%>
                  <%= f.text_field :title, class: "inputs_count workname", "data-count"=> "50", value: "为#{story.property_name}房型图做的设计" -%>
              <% else %>
                <%= f.text_field :title, class: "inputs_count workname", "data-count"=> "50" -%>
                <span class="help-text help-inline">还可以输入<b class="text-important inputs_count_tip">50</b>符汉字</span>
                <% unless params[:baicheng_active].present? %>
                  <%= select_tag "edit_title",
                  options_for_select(Design.order('created_at desc').where("user_id = #{current_user.id} and story_id is null").map { |design| [design.title, design.id] },@design.id),:prompt => '--请选择--',:class => "hide" -%>
                 <% end %>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">户型<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <% ImageLibraryCategory.where(parent_id: 1).each do |img_lib_cat| %>
                <label class="radio inline span1">
                    <%=radio_button_tag "apartment",img_lib_cat.id%><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">风格<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <% ImageLibraryCategory.where(parent_id: 34).each do |img_lib_cat| %>
                <label class="checkbox inline span1">
                  <%= check_box_tag "style[]", img_lib_cat.id %><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">用途<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <% ImageLibraryCategory.where(parent_id: 122).each do |img_lib_cat| %>
                <label class="radio inline span1">
                   <%=radio_button_tag "use",img_lib_cat.id%><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label for="building_name" class="control-label">作品建筑所属城市<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <select id="province" class="level_1 input-small" ><option>省/直辖市</option></select>
              <select id="city" class="level_2 input-small"><option>城市</option></select>
              <select id="zone" class="level_3 input-small" name="design[area_id]"><option>区</option></select>
              <span class="help-inline text-muted">请如实填写作品建筑所属城市，以便顺利参加iColor的相关活动</span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label for="building_name" class="control-label pt10">楼盘名称<span class="help-inline text-important">*</span></label>
            <div class="controls">
              <%= f.text_field :property_name, class: "building_name" -%>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label for="building_name" class="control-label">设计理念</label>
            <div class="controls">
              <%= f.text_area :content, class: "design_ideal inputs_count", "data-count"=>"2000" -%>
              <p class="help-text help-block">还可以输入<b class="text-important inputs_count_tip">2000</b> 字符/汉字</p>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">装修报价</label>
            <div class="controls">
              <% ImageLibraryCategory.where(parent_id: 19).each do |img_lib_cat| %>
                <label class="radio inline span1">
                   <%=radio_button_tag "fee",img_lib_cat.id%><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">面积</label>
            <div class="controls">              <% ImageLibraryCategory.where(parent_id: 28).each do |img_lib_cat| %>
                <label class="radio inline span1">
                   <%=radio_button_tag "acreage",img_lib_cat.id%><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="">人群</label>
            <div class="controls">
              <% ImageLibraryCategory.where(parent_id: 127).each do |img_lib_cat| %>
                <label class="radio inline span1">
                   <%=radio_button_tag "throng",img_lib_cat.id%><%=img_lib_cat.title%>
                </label>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset class="text-center">
          <% if params[:story_id].present? %>
            <input type="hidden" name="story_id" value="<%=params[:story_id]%>">
          <% end %>
          <% if params[:baicheng_active].present? %>
            <input type="hidden" name="story_id" value="true">
          <% end %>
          <button class="upload_img_btn">上传图片</button>
          <!-- <a href="upload2.html" class="upload_img_btn">上传图片</a> -->
          <span class="help-block text-warning pb25">*红色标注为必填项</span>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class="clearfix">
    <div class="footer_banner pull-left">
      <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' if @banners[0] %>" target="_blank">
        <%= image_tag @banners[0].try(:file).try(:url, :list_670x85) if @banners[0] %>
      </a>
    </div>
    <div class="footer_banner pull-right">
      <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' if @banners[1] %>" target="_blank">
        <%= image_tag @banners[1].try(:file).try(:url, :list_310x85) if @banners[1] %>
      </a>
    </div>
  </div>
</div>