<% content_for :head do -%>
  <%= stylesheet_link_tag '2013base','2013upload' %>
  <% if current_user && !current_user.common_user? %>
    <%= render :partial => "/refresh/new" %>
  <% end %>
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
  <%= javascript_include_tag "2013main.js" %>
  <script type="text/javascript">
  <%- unless flash[:design_errors].blank? %>
  <%-
      errors = ""
      flash[:design_errors].each do |e|
        errors << "*" + e + '\n'
      end
  %>
    alert("<%= errors %>");
  <%- end %>
  (function($){

    //linkageselect
    if(typeof data != 'undefined'){
      var options = {
        data  : data
      }

      var sel = new LinkageSelect(options);
      sel.bind('.level_1');
      sel.bind('.level_2');
      sel.bind('.level_3');
    }
  })($);

  function jump(){
    design_title = $("#edit_title").val();
    window.location = "/users/<%=current_user.id%>/designs/"+ design_title +"/edit_design"
  }
  </script>

  <!--[if IE 6]>
  <script src="../js/png.js"></script>
  <script>
  PNG.fix('img,div,a,ul,li');
  </script>
  <![endif]-->
<% end %>
<div class="wrapper">
    <div class="upload2013">
        <h1>上传作品</h1>
    </div>
    <%= form_for([current_user, @design], :calss=>"clear") do |f| %>
        <div class="upload2013">
            <div class="control2013">
                <%= f.label :title, raw("作品名称<span class='cr'>*</span>"), class: "label2013" %>
                <%= f.text_field :title, class: "width652 fl inputs_count", "data-count"=> "50" -%>
                <span class="help-text fl">还可以输入<b class="cr inputs_count_tip">50</b>符汉字</span>
                 <%= select_tag "edit_title", options_for_select(Design.order('created_at desc').where(user_id: current_user.id).map { |design| [design.title, design.id] },@design.id),:prompt => '--请选择--', :onchange => 'jump()' -%>
            </div>
            <div class="control2013">
                <label class="label2013">
                    户型<span class="cr">*</span>
                </label>
                <div class="upload2013_toggle fl">
                    <a href="javascript:;" class="upload2013_btn pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 1).each do |img_lib_cat| %>
                        <label>
                            <%=radio_button_tag "apartment",img_lib_cat.id%><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="control2013">
                <label class="label2013">
                    风格<span class="cr">*</span>
                </label>
                <div class="upload2013_toggle checkbox2013 fl">
                    <a href="javascript:;" class="upload2013_btn pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 34).each do |img_lib_cat| %>
                        <label>
                          <%= check_box_tag "style[]", img_lib_cat.id %><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="control2013">
                <label class="label2013">
                    用途<span class="cr">*</span>
                </label>
                <div class="upload2013_toggle fl">
                    <a href="javascript:;" class="upload2013_btn upload2013_btn_down pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 122).each do |img_lib_cat| %>
                        <label>
                           <%=radio_button_tag "use",img_lib_cat.id%><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="control2013 clear">
                <label class="label2013">
                    作品建筑所属城市<span class="cr">*</span>
                </label>
                <div class="fl">
                  <select id="province" class="level_1 fl" ><option>省/直辖市</option></select>
                  <select id="city" class="level_2 fl"><option>城市</option></select>
                  <select id="zone" class="level_3 fl" name="design[area_id]"><option>区</option></select>
                    <span class="help-text fl">请如实填写作品建筑所属城市，以便顺利参加iColor的相关活动</span>
                </div>
            </div>
            <div class="control2013">
                <%= f.label :property_name, raw("楼盘名称<span class='cr'>*</span>"), class: "label2013" %>
                <%= f.text_field :property_name, class: "width335 fl" -%>
            </div>
        </div>
        <div class="upload2013 noborder">
            <div class="control2013">
              <%= f.label :content, "设计理念", class: "label2013" %>
                <div class="fl">
                    <%= f.text_area :content, class: "inputs_count", "data-count"=>"2000" -%>
                    <p class="help-text">还可以输入<b class="cr inputs_count_tip">2000</b> 字符/汉字</p>
                </div>
            </div>
            <div class="control2013">
                <label class="label2013">装修报价</label>
                <div class="upload2013_toggle fl">
                    <a href="javascript:;" class="upload2013_btn pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 19).each do |img_lib_cat| %>
                        <label>
                           <%=radio_button_tag "fee",img_lib_cat.id%><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="control2013">
                <label class="label2013">面积</label>
                <div class="upload2013_toggle fl">
                    <a href="javascript:;" class="upload2013_btn pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 28).each do |img_lib_cat| %>
                        <label>
                           <%=radio_button_tag "acreage",img_lib_cat.id%><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
            <div class="control2013">
                <label class="label2013">人群</label>
                <div class="upload2013_toggle fl">
                    <a href="javascript:;" class="upload2013_btn pa"></a>
                    <div class="clear">
                      <% ImageLibraryCategory.where(parent_id: 127).each do |img_lib_cat| %>
                        <label>
                           <%=radio_button_tag "throng",img_lib_cat.id%><%=img_lib_cat.title%>
                        </label>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
        <% if params[:story_id].present? %>
          <input type="hidden" name="story_id" value="<%=params[:story_id]%>">
        <% end %>
        <input type="image" src="<%=asset_path 'upload2013_submit.jpg'%>" class="upload2013_submit">
        <!-- <input type="button" class="upload2013_submit" /> -->
        <p class="help-text tc cr">*红色标注为必填项</p>
    <% end %>
</div><!--main ends-->