<% content_for :head do -%>
  <%= stylesheet_link_tag 'weekstar','style' %>
  <style type="text/css">
    span.arrow_1{right:87px;}
    span.popup_zf{bottom: -1px; left: 185px;}
  </style>
<% end -%>
<% content_for :tail do -%>
  <%= javascript_include_tag 'galleryB.js','reply.js' %>
  <script type="text/javascript">
    $(".slide_thumb").click(function(event) {
      event.preventDefault();
      $(".big_image img").attr("src", $(event.target).parent().attr("href"));
    });
  $(function(){
    if ($("#new_message")) {
        $("#new_message").click(function (event) {
            <% if current_user -%>
            return true;
            <% else -%>
            show_login();
            return false;
            <% end -%>
        });
    }
  });
  </script>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "作品展示", "/designs", :class => "fb" %></em>
    <em><%= link_to "设计鉴赏", "/weekly_stars" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB pr">
      <h1><%= @design.title %></h1>
      <div class="subtitle">
        <div class="votes">
          当前票数：<span id="votes_count<%= @design.id%>"><%= @design.votes_count %></span>
          <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "Design"), :remote => true, :method => 'post' %>
        </div>
        <div class="operate pr">
          <span class="review">评论 (<%= @design.comments_count %>)</span>
          <span class="forward" style="height:18px">一键转发：</span>
          <!-- JiaThis Button BEGIN -->
          <div id="ckepop">
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a class="jiathis_button_renren"></a>
          </div>
          <!-- JiaThis Button END -->
          <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->

          <%
            role = "#{@design.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if @design.user.role_id != 3
            text = if @design.user.area_id.present?
              province = @design.user.city.try(:parent).try(:name)
              city = @design.user.try(:city).try(:name)

              if province && city
                province == city ? "#{city}的" : "#{province + city}的"
              else
                "#{city}的" if city
              end
            end
          -%>
          <script type="text/javascript" charset="utf-8">
          var jiathis_config = {
            boldNum:4,
            siteNum:4,
            showClose:false,
            sm:"kaixin001,renren,tsina,tqq",
            imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
            imageWidth:26,
            marginTop:150,
            pic: "http://www.icolor.com.cn/<%= @design.cover_img.try(:file).try(:url, :slide) %>",
            url:"<%= user_design_url(@design.user_id, @design) %>",
            title:"#iColor分享#来自<%= text %><%= role %><%= @design.user.display_name %>的作品【<%= @design.title %>】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor.",
            summary:" ",
            data_track_clickback:true
          }
          </script>

           <%#= forward_links("#iColor分享#一套优秀家装作品----【#{@design.title}】，更多实用装修案例，尽在iColor，", user_design_url(@design.user_id, @design), @design.cover_img.file.url(:slide), @design.id.to_s, "Design") %>
        </div>
      </div>
      <div class="btn_group fr" style="margin-top:8px;">
        <%= link_to "", download_user_design_path(@design.user_id, @design), :class =>"icon_freedown" %>
        <%= link_to "", user_collects_path(designs_id: @design.id,user_id: @design.user_id), :remote => true, method: :post, id: "new_message", :class =>"icon_colleting" %>
        <!-- <a class="icon_view" href="#">浏览:125552</a> -->
        <%= link_to "", fullscreen_user_design_path(@design.user_id, @design, :img => 'imgs'), :class =>"icon_fullscreen" %>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <%- if params[:image_id] %>
          <%= image_tag @image.file.url(:slide), :title => "装修设计欣赏-#{@design.title}", :alt => "装修设计欣赏-#{@design.title}" %>
        <%- else %>
          <% if @design.cover_img -%>
            <%= image_tag @design.cover_img.file.url(:slide), :title => "装修设计欣赏-#{@design.title}", :alt => "装修设计欣赏-#{@design.title}" %>
          <% end -%>
        <%- end %>
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>
            <% @design.design_images.each do |i| -%>
              <li><%= link_to (image_tag i.file.url(:slide_thumb),
                :alt => "装修设计欣赏-#{@design.title}"), i.file.url(:slide),
                :title => "装修设计欣赏-#{@design.title}", :class => "slide_thumb" %></li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="properties">
        <!--
          <%- unless @design.tag_counts_on(:tags).size == 0 %>
          <div class="tags">
            <h5>标签</h5>
            <ul>
              <%- @design.tag_counts_on(:tags).each do |tag| %>
                <li><%= link_to tag.name, "" %></li>
              <%- end %>
            </ul>
          </div>
          <%- end %>
        -->
        <table class="propertyA">
          <%- unless @design.user.try(:name_of_company).blank? %>
          <tr>
            <th>公司名称：</th>
            <td><%= @design.user.try(:name_of_company) %><!--<a href="#">[进入公司主页]</a>--></td>
          </tr>
          <%- end %>
          <tr>
            <th>设计师：</th>
            <td><%= @design.user.display_name %>
              <%= link_to user_asks_path(@design.user) do %>
                <img style="margin-top:2px;" src="<%= asset_path '2013/free_ask.jpg' %>">
              <%- end %>
            </td>
          </tr>
          <%- unless @design.try(:style) == "风格" %>
          <tr>
            <th>设计风格：</th>
            <td><%= @design.design_style_names %></td>
          </tr>
          <%- end %>
          <%- if @design.try(:design_color) != "色系" && !@design.design_color.blank? %>
          <tr>
            <th>色系：</th>
            <td><%= @design.try(:design_color) %></td>
          </tr>
          <%- end %>
          <%- unless @design.try(:recommend_color_category1).blank?  %>
          <tr>
            <th>推荐色：</th>
            <td>
              <%- color = search_color_code(@design.recommend_color_category1) %>
              <%= color.code.match(/^[F,W]M/) ? "立邦木器漆" : "立邦" %>
              (<%= color.code %>)<%= color.name %>
            </td>
          </tr>
          <%- end %>
          <%- unless @design.area_id.blank? %>
          <tr>
            <th>作品所在城市：</th>
            <td><%= Area.find(@design.try(:area_id)).try(:parent).try(:name) %></td>
          </tr>
          <%- end %>
          <%- unless @design.try(:content).blank? %>
          <tr>
            <th>设计理念：</th>
            <td><%= @design.try(:content) %></td>
          </tr>
          <%- end %>
           <%- unless @design.try(:reason).blank? %>
          <tr>
            <th>推荐理由：</th>
            <td><%= @design.try(:reason) %></td>
          </tr>
          <%- end %>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @design.comments_count %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
      </div>

          <div class="form-content">
            <%= form_for(Comment.new, :html => {:class => "check_valid"}) do |f| %>
            <%= f.hidden_field :commentable_id, value: params[:id] %>
            <%= f.hidden_field :commentable_type, value: 'Design' %>
            <p class="input">
              <%= f.text_area :content, :class => "area_text" %>
            </p>
            <p class="button">
              <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
              <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
            </p>
            <% end %>
          </div>
        </div>
        <div class="pager ft12">
          <%= paginate @comments %>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <% @comments.each do |c| %>
            <li>
              <div class="bar">
                <% if c.user %>
                  <a href="/users/<%= c.user.id %>" class="user"><%= c.user.display_name %></a>
                <% else %>
                  <a href="#" class="user">匿名</a>
                <% end %>
                <span class="time"><%= c.created_at.to_date %>
                </span>
              </div>
              <div class="reply">
                <a href="javascript:void(0)">回复</a>
              </div>
              <div class="content">
                <%= c.content %>
              </div>
              <div class="reply_area none cl pr">
                <em class="pa">◆</em>
                <span class="pa">◆</span>

                <div class="reply_input clear">
                  <%= form_for(ReplyMsg.new) do |f| %>
                      <%= f.hidden_field :show_id, value: @design.id %>
                      <%= f.hidden_field :comment_id, value: c.id %>
                      <%= f.hidden_field :reply_type, value: "designs" %>
                      <%= f.text_area :content, :rows => 2 %>
                      <input type="image" src="<%= asset_path "btn.jpg" %>">
                  <%- end %>
                </div>
                <!--reply_input ends-->
              </div>
              <!--reply_area ends-->
              <div class="reply_list none cl pr">
                <em class="pa">◆</em>
                <span class="pa">◆</span>

                <div class="reply_con ft14 clear">
                  <div class="clear">
                    <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                        <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                          <p class="reply_tabs fl">
                            <a href="/users/<%= r.user.id %>"><%= r.user.display_name %></a>回复:<%= r.content %>
                          </p>

                          <p class="fr">
                            <%= r.created_at.to_date %>
                          </p>
                        </div>
                    <%- end %>
                  </div>
                </div>
                <!--reply_con ends-->
              </div>
              <!--reply_list ends-->
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
  </div>
</div>