<% content_for :head do -%>
  <%= stylesheet_link_tag 'weekstar' %>
  <%= javascript_include_tag 'jquery.masonry.js' %>
  <%= javascript_include_tag 'galleryB.js' %>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="/weekly_stars">设计鉴赏</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB">
      <h1><%= @design.title %></h1>
      <div class="subtitle">
        <div class="votes">
          当前票数：<span><%= @design.votes_count %></span>
          <a href="#"><img src="<%= asset_path "design/d_vote_btn.png" %>" /></a>
        </div>
        <div class="operate">
          <span class="forward">转发 (<%= @design.shares_count %>)</span>
          <span class="review">评论 (<%= @design.comments_count %>)</span>
        </div>
      </div>
      <div class="fullscreen_btn">
        <a href="/inspiration/1/fullscreen">全屏观看</a>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <% if @design.cover_img -%>
          <%= image_tag @design.cover_img.file.url(:slide) %>
        <% end -%>
      </div>
      <div class="galleryB">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="list">
          <ul>
            <% @design.design_images.each do |i| -%>
              <li><%= link_to (image_tag i.file.url(:slide_thumb),
                :alt => @design.title), i.file.url(:slide),
                :title => @design.title %></li>
            <% end -%>
          </ul>
        </div>
      </div>
      <div class="properties">
        <table class="propertyA">
          <tr>
            <th>上传者：</th>
            <td><%= @design.user.display_name %></td>
          </tr>
          <tr>
            <th>上传时间：</th>
            <td><%= @design.created_at.to_date %></td>
          </tr>
          <tr>
            <th>灵感启发：</th>
            <td><%= @design.content %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @design.comments_count %>)</h4><span class="r">0/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
            <%= f.hidden_field :commentable_id, value: params[:id] %>
            <%= f.hidden_field :commentable_type, value: 'Design' %>
            <p class="input">
              <%= f.text_area :content %>
            </p>
            <p class="button">
              <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
              <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
            </p>
            <% end %>
          </div>
        </div>
        <div class="pager ft12">
          <%= paginate @comments %>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <% @comments.each do |c| %>
            <li>
              <div class="bar">
                <span class="user"><%= c.user.name %></span><span class="time"><%= c.created_at.to_date %></span>
              </div>
              <div class="reply">
                <a href="#">回复</a>
              </div>
              <div class="content">
                <%= c.content %>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
  </div>
</div>