<div class="count clear" style="height:auto;padding-bottom:30px;">
	<h1>icolor经销商后台</h1>
	<ul class="count_left fl ft15">
		<li><a href="<%= seller_user_seller_data_url %>">iColor用户数据统计</a></li>
		<li><a href="/seller_user/reports">iColor报告下载</a></li>
		<li><a href="<%= seller_user_seller_sms_url %>">icolor短信通知</a></li>
		<!-- <li><a href="<%= seller_user_seller_tool_url %>">iColor工具申请</a></li> -->
	</ul><!--count_left ends-->
	<div class="count_right fr">
		<div class="count_sum fl">
			<h2>iColor网站数据</h2>
			<p class="data_count_p"><span>124,680</span>人访问过此网站</p>
			<ul class="count_ul">
				<li><span>访问次数：</span>134,142</li>
				<li><span>唯一身份访问者：</span>124,680</li>
				<li><span>浏览量：</span>299,427</li>
			</ul>
		</div><!--count_sum ends-->
	</div><!--count_right ends-->

	<%- day = MagicSetting.statistical_time.blank? ? 06 : MagicSetting.statistical_time.to_i %>
	<table>
		<tr>
			<th class="tl" width="185">报告名称</th>
			<th width="145">报告时间</th>
			<th width="145">生成时间</th>
			<th class="noborder" width="145">下载</th>
		</tr>

		<%- (2012..Time.now.year).each do |year| %>
			<%- month_begin = year.eql?(2012) ? 7 : 1 %>
			<%- (month_begin..12).each do |month| %>
				<%- if Time.now.year.eql?(year) && Time.now.month >= month %>
					<tr>
						<td class="tl">iColor<%= year %>年<%= month %>月报告</td>
						<td><%= month.eql?(12) ? year+1 : year %>-<%= month.eql?(12) ? 1 : month+1 %>-<%= day %></td>
						<%- report = SellerReport.where("file_name like ?", "%#{year}年#{month}月%").first %>
						<td><%= report.created_time.strftime("%Y-%m-%d %H:%M:%S") if report %></td>
						<td><%= link_to "下载", seller_user_reports_export_path(statistical_time: "#{year}-#{month}-#{day}", file_name: "iColor#{year}年#{month}月报告") %></td>
					</tr>
				<%- elsif Time.now.year > year %>
					<tr>
						<td class="tl">iColor<%= year %>年<%= month %>月报告</td>
						<td><%= month.eql?(12) ? year+1 : year %>-<%= month.eql?(12) ? 1 : month+1 %>-<%= day %></td>
						<%- report = SellerReport.where("file_name like ?", "%#{year}年#{month}月%").first %>
						<td><%= report.created_time.strftime("%Y-%m-%d %H:%M:%S") if report %></td>
						<td><%= link_to "下载", seller_user_reports_export_path(statistical_time: "#{year}-#{month}-#{day}", file_name: "iColor#{year}年#{month}月报告") %></td>
					</tr>
				<%- end %>
			<%- end %>
		<%- end %>
	</table>
</div><!--count ends-->