!!!
%html{ lang: 'zh' }
  %head
    %title
      iColor 名人问答QA系统
    %meta{ charset: 'utf-8' }
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "icolor", :name => "description"}
    %meta{:content => "icolor", :name => "author"}
    = stylesheet_link_tag("dialog_celebrity/media")
    = stylesheet_link_tag "upload_image/jquery.fileupload-ui","bootstrap.min","datepicker","bootstrap-timepicker","colorbox/colorbox"
    = javascript_include_tag("bootstrap/jquery.min","dialog_celebrity/media","bootstrap-datetimepicker","jquery.colorbox")

  %body
    #banner
      .pull-left#banner-title iColor 名人问答QA系统
      .pull-right#banner-username= current_media.username
    %ul.nav.clearfix
      - @boards.each do |board|
        %li.fl= link_to board.name,"/dialog_celebrity/media/index?board_id=#{board.id}",class: @board_id.to_i == board.id ? "active" : ""
      - if current_media.boards.keys.include? 0
        %li.fl= link_to "未分类","/dialog_celebrity/media/index?board_id=0",class: @board_id.to_i == 0 ? "active" : ""
      - if current_media.is_admin?
        %li.fl= link_to "回收站","/dialog_celebrity/media/index?board_id=-1",class: @board_id.to_i == -1 ? "active" : ""

    %form#search-area.shadow
      %input{type: :hidden, name: :board_id, value: @board_id}
      #search-area-line1
        %span.first 我想查找
        %select.input-small{name: "type"}
          %option{value: ""} 全部
          %option{value: "not_replied",selected: params[:type] == "not_replied"} 未回复
          %option{value: "replied",selected: params[:type] == "replied"} 已经回复

        %span 的问题
        %span.text_green 并且
        %span 我想查找从
        %input.datetimepicker_full.input-medium{name: :start_date,type: :text,placeholder: "格式: 2014-01-01", value: params[:start_date]}
        %span 到
        %input.datetimepicker_full.input-medium{name: :end_date,type: :text,placeholder: "格式: 2014-01-01", value: params[:end_date].present? ? params[:end_date] : Date.current.to_s}
        %span 的问题
        %span.text_green 并且
      #search-area-line2
        %span.first 我想查找
        %select.input-small{name: :key_type}
          %option{value: "title",selected: params[:key_type]=="title"} 标题
          %option{value: "content",selected: params[:key_type]=="content"} 内容
        %span 中有关于
        %input.input-medium{type: :text, name: :keyword, placeholder: "输入关键字",value: params[:keyword]}
        %span 的问题
        %input.btn{type: :submit, value: "查找"}
    #question-title.clearfix
      .pr10.fl &nbsp;
      .pr55.fl 标题
      .pr10.fl 提问者
      .pr10.fl 回复者
      .pr5.fl 提问日期
      - if params[:board_id] != "-1"
        .pr10.fl 回复期限

    - @questions.each do |_question|
      - if params[:type] == "replied" && _question.replied? || params[:type] == "not_replied" && !_question.replied? || params[:type].blank?
        .question-warp
          .question-title-warp.clearfix
            .pr10.fl
              - if _question.replied?
                = link_to "已回复","javascript:;",style: "color: green;",:class => "reply-status"
              - else
                = link_to  "未回复","javascript:;",style: "color: red;",:class => "reply-status"
            .pr55.fl
              = _question.name
            .pr10.fl
              - if _question.user.present?
                [#{_question.user.try(:username)}]#{_question.user.try(:name)}
              - elsif _question.fake_username.present?
                = "[虚拟账号]"+_question.fake_username
            .pr10.fl
              &nbsp
              - if _question.replied?
                - reply = _question.find_media_reply
                [#{reply.media.name}]#{reply.media.username}
            .pr5.fl
              = _question.created_at.strftime("%y-%m-%d")

            - if params[:board_id] != "-1" && !_question.replied?
              - t = _question.created_at + 36.hours - Time.now
              - hour = t.abs / 3600
              - min =  t.abs % 3600 / 60
              .pr10.fl
                %span{style: "color:red;"}
                  #{ t > 0 ? "还剩下" : "已过期" }#{ hour.to_i }小时#{ min.to_i }分钟

          .content{style: "display: none;",:"data-question-id" => _question.id}
            .question-content-warp.clearfix
              = raw _question.content
              - if  _question.images.present?
                .question-upload-warp.clearfix
                  .pr90
                    - _question.images.each do |_image|
                      = link_to image_tag(_image.image(:thumb2)),_image.image.url,:target => "_blank"
            .clearfix.mt10.mb10
              - if params[:board_id] == "0"
                .fl.ml15.mt5 编辑操作权限
                .fl.ml20
                  %select.fl{name: "board_id"}
                    %option{value: ""} 选择领域分类
                    - CelebrityContentBoard.first(5).each do |board|
                      %option{value: board.id, selected: params[:board_id] == board.id.to_s}= board.name
                .fl.ml20
                  = link_to "确定","javascript:;",:class => "btn update_board_id"

                .fl.ml20.mt5
                  = link_to "删除此问题","javascript:;",:class => "delete-question"

              - elsif params[:board_id] == "-1" && current_media.is_admin?
                .mb10
                  .fl.ml15.mt5 管理操作权限
                  .fl.ml20.mt5
                    = link_to "恢复此问题","javascript:;",:class => "recover_board"

                  .fl.ml20.mt5
                    = link_to "彻底删除此问题","javascript:;",:class => "destroy-question"
                  .fl.ml60.mt5
                    提示:
                    %span{style: "color:red;"}
                      - delete_user = _question.delete_media
                      [#{delete_user.name}]#{delete_user.username}
                    在
                    %span{style: "color:green;"}
                      = _question.delete_at.strftime("%y-%m-%d %H:%m")
                    删除这个问题
              - else
                .fl.ml15.mt5 媒体操作权限
                .fl.ml20
                  %select.board_scope.fl{name: "board_scope"}
                    %option{value: ""} 选择范围
                    - _question.board.key_scopes.each do |scope|
                      %option{:"data-key" => scope.key_arr.join(",") }= scope.name

                / .fl.ml20
                /   %select.key_arr.fl{name: "key"}
                /     %option{value: ""} 选择关键字
                /     - _question.board.key_scopes.each do |scope|
                /       - if scope.key_arr.include?(_question.key)
                /         - scope.key_arr.each do |_key|
                /           %option{selected: _key==_question.key}= _key

                .fl.ml20
                  = link_to "确认","javascript:;",:class => "btn checkkey"

                .fl.ml20.mt5
                  = link_to "重置领域分类","javascript:;",:class => "reset_board_id"

                .fl.ml20.mt5
                  = link_to "删除此问题","javascript:;",:class => "delete-question"

            .ml10.clearfix.key-checkboxs
              - if _question.keyword.present?
                - _question.keyword.split("|").each do |_key|
                  .fl.ml30
                    %span{style: "height: 16px; line-height: 16px;"}= _key
                    %input{type: "checkbox", checked: true, style: "height: 16px; line-height:16px; margin-left: 6px;"}

            .ml15.mt10{ style: " padding: 4px 12px; background-color: rgb(154,101,33); color: rgb(236,229,188); width: 124px;"}
              其他设计师的回答
            .ml15.mr15.mt10{ style: "background-color:rgb(228,228,228); color: #333; padding: 10px 8px; " }
              - _question.replies.where("media_id is null").each do |_reply|
                %div
                  .clearfix.mt10
                    .fl= _reply.user.try(:name)
                    .fl.ml20
                      = link_to "[删除]","javascript:;",:class => "delete-question-reply-btn",:"data-other-reply-id" => _reply.id
                  .clearfix.mt10
                    = _reply.content



            - if (1..5).to_a.include? params[:board_id].to_i
              .reply.clearfix.relative.mt10
                / .pr10.fl &nbsp;
                / .pr80.fl
                - reply = _question.find_media_reply
                - if reply.present?
                  %span.media_name
                    [#{reply.media.name}] #{reply.media.username} 已在 #{reply.updated_at.strftime("%y-%m-%d %H:%M")} 回复:

                  %textarea{placeholder: "我来回答"}
                    = reply.content
                - else
                  %textarea{placeholder: "我来回答"}
                %div
                  %input#submit-question.btn{:type => "submit", :value => "提交回复", :"data-question-id" => _question.id, :"data-reply-id" => reply.try(:id) || ""}
              .reply-upload
                %span.fileinput-button
                  %span.btn 上传图片...
                  %input.upload{type: "file",name: "file",multiple: ""}
                .replies-upload-warp.clearfix
                  - if reply.present?
                    - reply.images.order("created_at desc").each do |_image|
                      .fl.mr5.image-warp.fl.clearfix
                        %a{:href => _image.image(:slide), :class => "reply-upload-colorbox reply-upload-colorbox-#{_question.id}",:"data-question-id" => _question.id}
                          = image_tag _image.image(:thumb),:"data-image-id" => _image.id
                        = link_to "删除","javascript:;",:class => "delete-reply-img-btn"
    .pager
      = paginate @questions

    = javascript_include_tag "upload_image/vendor/jquery.ui.widget","upload_image/jquery.iframe-transport","upload_image/jquery.fileupload"

    :coffeescript
      $ ->
        D.initialize()
