<div class="index_main refresh_news mt10 clearfix">
	<div class="refresh_new pull-left">
		<h5><a href="<%= @design_more.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>装修图库精选</h5>
		<ul class="ul_dot">
			<% if @design_datas.present? %>
				<% @design_datas.each do |data| %>
				  <li><a href="<%= data.url %>" target="_blank"><%= data.title %></a></li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<% if controller_name == "refresh_list" %>
		<div class="refresh_new pull-left">
			<h5><a href="<%= @weekly_star_more.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>设计之星作品精选</h5>
			<ul class="ul_dot">
				<% if @weekly_star_datas.present? %>
					<% @weekly_star_datas.each do |data| %>
					  <li><a href="<%= data.url %>" target="_blank"><%= data.title %></a></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% else %>
	  <div class="refresh_new pull-left">
			<h5><a href="<%= @master_design_more.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>刷新效果精彩资讯</h5>
			<ul class="ul_dot">
				<% if @weekly_star_datas.present? %>
					<% @weekly_star_datas.each do |data| %>
					  <li><a href="<%= data.url %>" target="_blank"><%= data.title %></a></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="pull-right"><a href="<%=@i_banner1 if @i_banner1%>"><img src="<%=@i_banner1.file.url(:list_230x230)%>"></a></div>
</div>
<div class="clearfix">
	<div class="footer_banner pull-left"><a href="<%=@i_banner2 if @i_banner2%>"><img src="<%=@i_banner2.file.url(:list_670x85)%>"></a></div>
	<div class="footer_banner pull-right"><a href="<%=@i_banner3 if @i_banner3%>"><img src="<%=@i_banner3.file.url(:list_310x85)%>"></a></div>
</div>