<div class="design_tit group pb10 line_b_dot">
  <ul class="design_filter group">
	<%- if !params[:master_kind] %>
    <li class="<%= 'li_current' if params[:action] == 'all' %> ">
	  <%= link_to "全部", all_master_interviews_path%>
    </li>
    <li class="<%= 'li_current' if params[:action] == 'oversea' %> ">
		<%= link_to "海外",oversea_master_interviews_path %>
	</li>
	<li class="<%= 'li_current' if params[:action] == 'hk_tw_mc' %> ">
		<%= link_to "港澳台", hk_tw_mc_master_interviews_path %>
	</li>
	<li class="<%= 'li_current' if params[:action] == 'cn' %> ">	
		<%= link_to "中国大陆", cn_master_interviews_path %>
	</li>
	<%- else %>
        <li class="<%= 'li_current' if params[:tags] == '全部' || !params[:tags] %> ">
          <a href="/master_designs?tags=<%= URI.escape("全部") %>&master_kind=<%= params[:master_kind] %>">全部</a>
        </li>
		<li class="<%= 'li_current' if params[:tags] == '海外' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("海外") %>&master_kind=<%= params[:master_kind] %>">海外</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '港澳台' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("港澳台") %>&master_kind=<%= params[:master_kind] %>">港澳台</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '中国大陆' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("中国大陆") %>&master_kind=<%= params[:master_kind] %>">中国大陆</a>
		</li>
	<%- end %>
  </ul>
</div>

<!--design_tit ends-->
<div class="list_btn line_b_dot">
  <%- if !params[:tags] %>
      <a href="/master_designs?master_kind=<%= URI.escape("室内空间大师") %>"><img src="<%= asset_path space_master_image %>"/></a>
	  <a href="/master_designs?master_kind=<%= URI.escape("色彩大师") %>"><img src="<%= asset_path color_master_image %>"/></a>

  <%- else %>
      <a href="/master_designs?tags=<%= params[:tags] %>&master_kind=<%= URI.escape("室内空间大师") %>"><img src="<%= asset_path space_master_image %>"/></a>
      <a href="/master_designs?tags=<%= params[:tags] %>&master_kind=<%= URI.escape("色彩大师") %>"><img src="<%= asset_path color_master_image %>"/></a>
  <%- end %>
</div>
<!--list_btn ends-->