<div class="design_tit group pb10 line_b_dot">
  <ul class="design_filter group">
	<%- if params[:master_kind].nil? %>
        <li class="<%= 'li_current' if params[:tags].blank? %> ">
          <a href="/master_designs">全部</a>
        </li>
		<li class="<%= 'li_current' if params[:tags] == '海外' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("海外") %>">海外</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '港澳台' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("港澳台") %>">港澳台</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '中国大陆' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("中国大陆") %>">中国大陆</a>
		</li>
	<%- else %>
        <li class="<%= 'li_current' if params[:tags] == '全部' || !params[:tags] %> ">
          <a href="/master_designs?tags=<%= URI.escape("全部") %>&master_kind=<%= params[:master_kind] %>">全部</a>
        </li>
		<li class="<%= 'li_current' if params[:tags] == '海外' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("海外") %>&master_kind=<%= params[:master_kind] %>">海外</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '港澳台' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("港澳台") %>&master_kind=<%= params[:master_kind] %>">港澳台</a>
		</li>
		<li class="<%= 'li_current' if params[:tags] == '中国大陆' %> ">
		  <a href="/master_designs?tags=<%= URI.escape("中国大陆") %>&master_kind=<%= params[:master_kind] %>">中国大陆</a>
		</li>
	<%- end %>
  </ul>
</div>

<!--design_tit ends-->
<div class="list_btn line_b_dot">
  <%- if params[:tags].nil? || params[:tags] == '全部' %>
      <a href="/master_designs?master_kind=<%= URI.escape("室内空间大师") %>"><img src="<%= asset_path space_master_image %>"/></a>
	  <a href="/master_designs?master_kind=<%= URI.escape("色彩大师") %>"><img src="<%= asset_path color_master_image %>"/></a>

  <%- else %>
      <a href="/master_designs?tags=<%= params[:tags] %>&master_kind=<%= URI.escape("室内空间大师") %>"><img src="<%= asset_path space_master_image %>"/></a>
      <a href="/master_designs?tags=<%= params[:tags] %>&master_kind=<%= URI.escape("色彩大师") %>"><img src="<%= asset_path color_master_image %>"/></a>
  <%- end %>
</div>
<!--list_btn ends-->