<!DOCTYPE html>
<html>
  <head>
    <title>【<%=@master_design.design_name%>】【<%=@master_design.master_profile.try(:name) || @master_design.master_name%>】设计作品 - 立邦iColor</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag  "reset","galleryc"  %>
    <%= javascript_include_tag  "jquery","galleryC"  %>
  </head>
  <body>
    <div class="galleryC_wrap">
      <div class="title"><h1><%= @master_design.design_name %><span class="qin_span"></span></h1></div>
      <div class="galleryC">
        <div class="toolbar">
          <div class="toolbar_wrap">
            <div class="time"><span>10秒</span></div>
            <div class="prev"></div>
            <div class="pause"></div>
            <div class="next"></div>
            <div class="exit"><a href="/master_designs/<%= @master_design.id %>">退出全屏</a></div>
          </div>
        </div>
        <div class="big_image"></div>
        <div class="moveleft"></div>
        <div class="moveright"></div>
      </div>
    </div>
    <div class="gallery_over_wrap">
      <div class="gallery_over">
        <a class="fr cr" href="/master_designs/<%= @master_design.id %>">X</a>
        <h5 class="legend">您已浏览完所有图片</h5>
        <div class="button"><span class="replay"><a href="/master_designs/<%= @master_design.id %>/fullscreen">重新播放</a></span></div>
        <div class="more">
        <%- if @master_design.master_profile && @master_design.master_profile.name %>
          <!-- <p>观看 <%#= link_to @master_design.try(:master_profile).try(:name), "/master_designs/#{@master_design.try(:master_profile).try(:id)}" %> 往期作品</p> -->
          <ul>
            <% @master_design.master_profile.master_designs.limit(5).each do |design| -%>
                <li>
                  <%= link_to image_tag(design.main_preview_img.url(:fullscreen_thumb)), "/master_designs/#{design.id}/fullscreen" %>
                </li>
            <% end -%>
          </ul>          
        <%- end %>
        <%- unless  @master_design_next.blank? %>
          <p><a id="timers" href="/master_designs/<%= @master_design_next.try(:id)%>/fullscreen">5</a>秒后跳转到下一套作品</p>
        <%- end %>  
        </div>
      </div>
    </div>
    <div class="gallery_over_mask"></div>
    <script type="text/javascript">
      $(function(){
          var obj = galleryC({ 'images' : [<%= @master_design.master_design_uploads.map{ |design| "'#{design.file.url(:fullscreen)}'" }.join(",").html_safe %>]});
          $('div.gallery_over span.replay a').click(function(e){
            $('div.gallery_over_wrap').hide();
            $('div.gallery_over_mask').hide();
            obj.showImage(0);
            e.preventDefault();
            });
          });
    </script>
  </body>
</html>
