<%- content_for :head do %>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .shadow {
            zoom: 1;
        }

        .works_list_slide {
            margin-top: 82px;
        }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/master_designs">装修设计作品</a></em>
    <em><a href="/master_interviews">设计大师殿堂</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60'>
    <%= render :partial => "master_switch" %>
    <%- @master_designs.each do |design| %>
        <div class="shadow mt25">
          <div class="section master_works_list">
            <%= link_to image_tag(design.main_preview_img.url(:index), :title => "装修设计欣赏-#{design.design_name}", :alt => "装修设计欣赏-#{design.design_name}"), "/master_designs/#{design.id}", :class => "works_b" %>
            <div class="works_detail">
              <h4>作者：<strong><%= design.master_profile.try(:name) || design.master_name %></strong></h4>
              <h4>国籍：<span><%= design.master_profile.try(:nationality) %></span></h4>
              <h4>作品名称：<span><%= design.design_name %></span></h4>

              <%- if design.master_design_uploads && design.master_design_uploads.size > 0  %>
              <div class="works_list_slide" id="qin_slide1">
                <%= link_to image_tag("/assets/master/works_list_left.png"), "javascript:void(0)", :class => "works_pre" %><%= link_to image_tag("/assets/master/works_list_right.png"), "javascript:void(0)", :class => "works_next" %>
                <div class="img_works_box">
                  <div class="img_works_list">
                    <%- design.master_design_uploads.each do |i| %>
                        <%- unless i.file.nil? %>
                            <%= link_to image_tag(i.file.url(:thumb)), "/master_designs/#{design.id}"%>
                        <%- end %>
                    <%- end %>
                  </div>
                </div>
              </div>
              <%- end -%>

            </div>
          </div>
        </div>
        <!--master_works_list ends-->
    <%- end %>
  </div>
  <!--wrapper ends-->

  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @master_designs %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>

<script type="text/javascript">
    var page = 1;
    var i = 3;

    $('a.works_next').click(function() {

        //alert('next')
        var $parent = $(this).parent('div.works_list_slide');
        var $v_list = $parent.find('div.img_works_list');
        var $v_box = $parent.children('div.img_works_box');

        var v_width = $v_box.width();
        //alert(v_width)
        var len = $v_list.find('img').length;
        var page_count = Math.ceil(len / i);
        //alert(page_count)


        if (!$v_list.is(':animated')) {
            if (page == page_count) {
                $v_list.animate({'left':'0px'});
                page = 1;

            } else {
                $v_list.animate({'left':'-=' + v_width});
                page++;
            }
        }

    })

    $('a.works_pre').click(function() {

        //alert('pre')
        var $parent = $(this).parent('div.works_list_slide');
        var $v_list = $parent.find('div.img_works_list');
        var $v_box = $parent.children('div.img_works_box');

        var v_width = $v_box.width();
        var len = $v_list.find('img').length;
        var page_count = Math.ceil(len / i);


        if (!$v_list.is(':animated')) {
            if (page == 1) {
                $v_list.animate({left:'-=' + v_width * (page_count - 1)});
                page = page_count;

            } else {
                $v_list.animate({left:'+=' + v_width});
                page--;
            }
        }

    })

</script>
</div><!--main ends-->
