<%- content_for :head do %>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
    .shadow {
      zoom: 1;
    }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='<%= set_style[:pic_path] %>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/master_designs">大师作品</a></em>
    <em><a href="#">大师殿堂</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group pt25'>
    <div class="works_detail_tit line_b_dot group">
      <h3><%= @master_design.design_name%><strong><%= @master_design.master_profile.try(:name) %></strong></h3>
      <div class="full_play">
        <a href="/master_designs/<%= @master_design.id %>/fullscreen">全屏观看</a>
      </div>
    </div>

    <div class="kv_loop mt25">
      <div class="gallery">
        <div class="galleryK" id="gallery">
          <%- @master_design.master_design_uploads.each do |i| %>
            <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :alt => '') unless i.file.nil? %>
          <%- end %>
        </div>
      </div>
      <%= javascript_include_tag  "galleryK"  %>
    </div>

    <div class="colors_box b_shadow">
      <div class="color-picker">
        <div class="color">
          <div class="palettes">
            <%- 8.times do %>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <%if @color1  %>
                      <li><div class="colorblock" style="background-color:rgb(<%= @color1.rgb %>)"></div>
                        <h5><%= @color1.name %></h5>
                        <p><%= @color1.code %></p>
                      </li>
                  <%- end %>
                  <%if @color2  %>
                      <li><div class="colorblock" style="background-color:rgb(<%= @color2.rgb %>)"></div>
                        <h5><%= @color2.name %></h5>
                        <p><%= @color2.code %></p>
                      </li>
                  <%- end %>
                  <%if @color3  %>
                      <li><div class="colorblock" style="background-color:rgb(<%= @color3.rgb %>)"></div>
                        <h5><%= @color3.name %></h5>
                        <p><%= @color3.code %></p>
                      </li>
                  <%- end %>
                </ul></div>
              </div>
            </div>
            <%- end %>
          </div>
          <!--[if IE 6]>
          <script type="text/javascript">
              if ($.browser.msie && $.browser.version < 7) {
                  $(function() {
                      $('div.palette').hover(function() {
                          $(this).find('div.desc').show();
                      }, function() {
                          $(this).find('div.desc').hide();
                      });
                  })
              }
          </script>
          <![endif]-->
          <div class="gotaobao"><a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">访立邦淘宝商城，点选更多产品颜色</a></div>
        </div>
      </div>
    </div>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
