<% content_for :head do -%>
  <%= stylesheet_link_tag "news", "owners_channel" %>
<% end -%>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="index.html">首页</a><span class="arrow_1"></span><a href="access.html">业主通道</a><span class="arrow_2"></span><a class="fb" href="#">装修问答</a>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <div class="faq_bar clear ft14">
      <p class="faq_title fl fb">标题<span>(共<%= @faqs.size %>条)</span></p>
      <p class="faq_num fl tc">回答数</p>
      <p class="faq_date tr fr">提问时间</p>
    </div><!--faq_bar ends-->
    <%- @faqs.each do |f| %>
    <div class='faq_list clear ft14'>
      <p class="faq_title fl"><a href="/faqs/<%= f.try(:id) %>"><%= f.try(:title) %></a></p>
      <p class="faq_num fl tc"><%= f.comments_count %></p>
      <p class="faq_date tr fr"><%= f.created_at.to_s(:db)[0..9] %></p>
    </div><!--news_top ends-->
    <%- end %>
    <div class="pag_container">
      <div class="pager ft12">
        <%= paginate @faqs %>
      </div><!--pager ends-->
    </div><!--pag_container ends-->
    <div class="weekly_tips ft12" id="weekly_tip_body">
      <%= render :partial => "weekly_tips" %>
    </div><!--weekly_tips ends-->
    <div class="pag_container faq ft12 pr" id="weekly_tip_nav">
      <%= render :partial => "weekly_tips_nav" %>
    </div><!--pag_container ends-->
    <div class="owner_bar wauto">
      <div class="faq_ask fb tc ft14">我要提问：</div>
    </div><!--owner_bar ends-->
    <div class="faqs_ask ft12 clear">
      <%= form_for :faq, :url => faqs_path, :html => {:multipart => true, :id => 'new_faq'} do %>
        <div>
          <label for="title" class="fl ask_title">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</label>
          <input type="text" class="fl faq_text ft14" maxlength="30" name="faq[title]">
          <span class="fl">您还可以输入<span id="input_span">30</span>字</span>
        </div>
        <div>
          <label for="upload" class="fl">上传图片：</label>
          <%= file_field(:faq, :img, :class => "fl") %>
        </div>
        <div>
          <label for="content" class="fl">内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容：</label>
          <textarea class="fl ft14" name="faq[content]"></textarea>
          <span class="fl">您还可以输入<span id="textarea_span">200</span>字</span>
        </div>
        <div>
          <label class="fl"></label>
          <input type="image" src="<%= asset_path "news/submit.jpg" %>" class="fl faq_submit" />
          <input type="reset" class="fl faq_reset" value="重置" />
        </div>
      <%- end %>
    </div><!--faqs_ask ends-->
  </div><!--wrapper ends-->
</div><!--main ends-->
<script type="text/javascript">
  function WeeklyTip(id) {
    $.get("/faqs/get_weekly_tips", {id:id}, function(data) {
      });
  }
</script>

