<% content_for :head do -%>
    <%= stylesheet_link_tag "news", "owners_channel","style" %>
    <style type="text/css">
        span.arrow_1 {
            right: 178px;
        }

        span.arrow_2 {
            right: 110px;
        }
    </style>
<% end -%>
<%- content_for :tail do %>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "装修贴士", "/faqs", :class => 'fb' %></em>
    <em><%= link_to "业主通道", "/channel/access" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <!-- <div class="faq_bar clear ft14">
      <p class="faq_title fl fb">标题<span>(共<%#= @faqs.size %>条)</span></p>
      <p class="faq_num fl tc">回答数</p>
      <p class="faq_date tr fr">提问时间</p>
    </div> -->
    <!--faq_bar ends-->
    <%#- @faqs.each do |f| %>
        <!-- <div class='faq_list clear ft14'>
          <p class="faq_title fl"><a href="/faqs/<%#= f.try(:id) %>"><%#= f.try(:title) %></a></p>
          <p class="faq_num fl tc"><%#= f.comments_count %></p>
          <p class="faq_date tr fr"><%#= f.created_at.strftime("%Y-%m-%d %H:%M:%S")[0..9] %></p>
        </div> -->
        <!--news_top ends-->
    <%#- end %>
    <!-- <div class="pag_container">
      <div class="pager ft12"> -->
        <%#= paginate @faqs %>
      <!-- </div> -->
      <!--pager ends-->
    <!-- </div> -->
    <!--pag_container ends-->
    <a name="tips"></a>
    <div class="weekly_tips ft12" id="weekly_tips" style="border-bottom: none;padding-bottom: 0px;margin-bottom: 0px;">
      <%= render :partial => "weekly_tips/index" %>
    </div>
    <!--weekly_tips ends-->
    <div class="pag_container">
     <div class="pager ft12" id="weekly_tips_nav">
        <%= render :partial => "weekly_tips/nav" %>
     </div>
      <!--pager ends-->
    </div>
    <!--pag_container ends-->
    <!--<div class="owners_form formB">
      <div class="title">
        <h5>我要提问：</h5>
      </div>
      <div class="form_target">
        <iframe id="upload_target" name="upload_target"></iframe>
      </div> -->

      <%#= form_for :faq, :url => faqs_path, :html => { :multipart => true, :id => 'new_faq', :onsubmit => 'return check()' } do %>
         <!--  <table>
            <tr class="f_title">
              <th>标　　题：</th>
              <td><input type="text" class="f_input" name="faq[title]" id="faq_title"></td>
            </tr>

            <tr class="f_image">
              <th>上传图片：</th>
              <td> <%#= file_field(:faq, :img, :class => "fl") %>
              </td>
            </tr>

            <tr class="f_content">
              <th>内　　容：</th>
              <td><textarea class="f_input" id="f_input" name="faq[content]"></textarea>
                <span id="span6_2">您还可以输入<span>500</span>字</span>
                <span class="none" id="overflow6_2">您已经超出<span class="cr"></span>字</span>
              </td>
            </tr>

            <tr class="f_submit">
              <th>&nbsp;</th>
              <td><input type="image" src="<%#= asset_path "design/submitB.gif" %>" alt="提交" value="提交"/>
                <input type="reset" class="reset" value="重置"/>
              </td>
            </tr>
          </table> -->
      <%#- end %>
    <!-- </div> -->
  </div>
  <!--wrapper ends-->
  <div class="popupA">
    <div class="popupA_content popupA_middle">
      <div class="popupA_title"><h4>提示</h4><span class="close"></span></div>
      <div class="popupA_body">
        <div class="success">提交成功！</div>
        <div class="desc">我们将在3个工作日内对您的色彩需求给予答复，请留意系统消息。<br/>具体规则流程请查看 <a href="#">服务与介绍流程</a></div>
        <div class="button"><input type="button" class="ok okA" value="确定"/></div>
      </div>
    </div>
  </div>
  <div class="popupA_mask"></div>
</div>

<% content_for :tail do %>
  <script type="text/javascript" charset="utf-8">
    function check () {
      if($("#faq_title").val() == ""){
          alert("提问标题不能为空!");
          return false;
        };
      if($("#f_input").val() == ""){
          alert("提问内容不能为空!");
          return false;
        }  
    };
  </script>
<%- end -%>

