<% content_for :head do -%>
  <%= stylesheet_link_tag "news", "owners_channel" %>
    <style type="text/css">
        span.arrow_1 {
            right: 180px;
        }

        span.arrow_2 {
            right: 112px;
        }
    </style>
<% end -%>
<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="<%= asset_path "design/title_owner.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/faqs">家装设计咨询</a></em>
    <em><a href="#">业主通道</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="dec_qc">
      <div class="title">家装设计咨询</div>
      <div class="dec_question">
        <div class="titlebar">
          <div class="legend"><a href="#"><%= @faq.user.display_name %>：</a><%= @faq.title %></div>
          <div class="time"><%= @faq.created_at.to_s(:db)[0..9] %></div>
        </div>
        <div class="dec_question_content">
          <strong>装修咨询：</strong>
          <div class="text">
            <%= @faq.content %>
          </div>
          <%- unless @faq.img_file_name.blank? %>
            <div class="image"><%= image_tag @faq.img.url(:thumb) %></div>
          <%- end %>
        </div>
      </div>
    </div>
    <div class="dec_answer_form">
      <div class="owners_form">
        <div class="title">
          <h5>我来解答：</h5>
        </div>
        <%= form_for(Comment.new) do |f| %>
        <%= f.hidden_field :commentable_id, value: params[:id] %>
        <%= f.hidden_field :commentable_type, value: 'Faq' %>
          <p><%= f.text_area :content %></p>
          <p><span class="input">参考资料：<input type="input" class="quote" name="from" value="" hintvalue="如果您的回答问题为引用，请注明出处" /></span>
          <span class="submit">
            <input type="image" src="<%= asset_path "design/submitB.gif" %>" alt="提交" value="提交" />
            <input type="reset" class="reset" value="重置" />
          </span>
          </p>
        <%- end %>
        <script type="text/javascript">
            $(function() {
                var $input = $('input.quote');
                var dv = $input.attr('hintvalue');
                $input.focus(
                        function() {
                            if ($input.hasClass('hint')) {
                                $input.attr('value', '').removeClass('hint');
                            }
                        }).blur(
                        function() {
                            if (!$input.attr('value')) {
                                $input.attr('value', dv).addClass('hint');
                            }
                        }).each(
                        function() {
                            if (!$input.attr('value') || $input.attr('value') == dv) {
                                $input.attr('value', dv).addClass('hint');
                            }
                        }).parents('form').submit(function(e) {
                            if ($input.hasClass('hint') && $input.attr('value') == dv) {
                                $input.attr('value', '');
                            }
                        });
            });
          </script>
      </div>
    </div>
    <div class="answer_list_wrap">
      <div class="legend">其他回答</div>
      <div class="answer_list">
        <%- unless @comments.blank? %>
        <%- @comments.each do |c| %>
        <div class="item">
          <div class="bar">
            <div class="user"><a href="#"><%= c.user.display_name %></a></div>
            <div class="time"><%= c.created_at.to_s(:db) %></div>
          </div>
          <div class="texts">
            <%= c.content %>
          </div>
          <div class="like">
            <%= link_to votes_path(:voteable_id => c.id, :voteable_type => "Comment"), :remote => true, :method => 'post' do %>
                顶(<span id="votes_count<%= c.id%>"><%= c.votes_count %></span>)
            <%- end %>
          </div>
        </div>
        <%- end %><%- else %>
          暂时没有评论！
        <%- end %>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @comments %>
    </div>
  </div><!--sub_bot ends-->
</div>