<% if request.xhr? %>
  <%= stylesheet_link_tag "point" %>
  <%= javascript_include_tag "main" %>
<% end %>
<ul class="gifts_list h330 clear">
  <% @point_gifts.each_with_index do |gift, index| %>
      <% i_index = index + 1 %>
        <li class='<%= "noborder_right" if (i_index % 4) == 0 && i_index != 0 %>'>
          <a href="javascript:void(0);" class="gift_img">
            <img data-url="ex_img_url" src="<%= gift.file.url(:list) %>" id="gift_image" />
          </a>
          <a href="javascript:void(0);">
            <span class="db" id='gift_name' data-name="ex_gift_name"><%= gift.gift_name %></span>
            <span class="db">所需积分<strong class="cr" id='gift_point' data-point="ex_point"><%= gift.gift_point %></strong></span>
          </a>
          <p class="ft12 change_num clear pb10">
            <span class="fl">数量</span>
            <a href="javascript:;" class="num_minus fl js_minus"></a>
            <input id="gift_number" name="gift_number" class="num_input fl" type="text" placeholder="0">
            <a href="javascript:;" class="num_plus fl js_plus"></a>
          </p>
          <p>
            <%= link_to image_tag(asset_path "personal/point_btn.jpg"), "javascript:void(0);", :id => "add_gift", class: "search_button js-exchange_btn", alt: '我要兑换' %>
          </p>
        </li>
  <% end %>
</ul>