<%- content_for :head do %>
    <%= stylesheet_link_tag "point" %>
    <script type="text/javascript">
      $(function() {
          // $("#gift_div").hide();

          $('form[data-redirect_url]').bind('ajax:success', function(evt, data) {
              alert("兑换成功,等待审核");
              var url = $(this).data('redirect_url');
              window.location.href = url;
          }).bind("ajax:error", function(evt, data) {
              alert(data.responseText);
              // var url = $(this).data('redirect_url');
              // window.location.href = url;
          });

      });
    </script>
<%- end %>
<div class="main signup group main_new">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_main">
        <p class="lh25 ft16 line_b1 mb5">
          您目前的累计积分为<strong class="cr fb"><%= @total_point %></strong>分，
          可用积分为<strong class="cr fb"><%= @user_total_point %></strong>分
        </p>

        <h5 class="ft14 fb mb25 mt25">选择您可兑换的礼品：</h5>

        <div id="gift_details">
            <%= render :partial => "gifts"  %>
        </div>
        <div id="paginator" class="pager host_pager ft12 mt25">
            <%= paginate @point_gifts, :remote=>true %>
        </div>

        <div id="gift_div">
          <h5 class="mb15 mt25 line_b5">您已选择：</h5>
          <%= form_tag(user_points_add_gift_url, :remote => true, :'data-redirect_url' => user_points_exchange_path(@user)) do %>
            <%= hidden_field_tag 'gift_user_id', @user.id %>
            <table class="gifts_select mb15 js_checkall" id="gifts_list">
              <tr>
                <th class="tl" width="155"><input type="checkbox" id="checkall">全选</th>
                <th class="tl" width="260">礼品名称</th>
                <th width="76">单位积分</th>
                <th width="170">数量</th>
                <th width="80">积分合计</th>
                <th width="140">操作</th>
              </tr>
            </table>
            <p class="fb tr ft14 mb5">礼品总积分：<strong class="cr fb js-total_point" id="total_point">0</strong> 分</p>
            <p class="fb tr ft14 mb5">您目前剩余可用积分：<strong class="cr fb" id="user_point"><%= @user_total_point %></strong> 分</p>
            <p class="tr">
              <%= image_submit_tag(asset_path "personal/change_btn.jpg", data: { disable_with: "请等待..." }, class: 'record_submit', alt: '提交') %>
            </p>
          <% end %>
        </div>

        <p class="gifts_tips">
          友情提示：<br>当您点击确认兑换后，您此次兑换即可生效，不可更改，对应积分也即刻从您可用积分的账户中去除。<br>请去<a href="<%= users_edit_me_url %>" class="cr fb">个人账户</a>填写或核实您的邮寄地址，我们会在您确认兑换后的<strong class="cr fb">10</strong>个工作日内寄出您此次兑换的礼品。
        </p>

      </div>
    </div>
  </div>
</div>
