- content_for :head do
  = stylesheet_link_tag 'manage/dialog_celebrity'
  = javascript_include_tag "manage/dialog_celebrities/editor_treasuries"

#celebrity_questions
  %span.ltitle
    小编宝典管理

  %form.mt20.ml20.clearfix{method: "get",action: "/manage/dialog_celebrities/editor_treasuries"}
    %select.fl{name: "board_id"}
      %option{value: ""} 选择领域分类
      - CelebrityContentBoard.where("id in (?)",(1..5).to_a).each do |board|
        %option{value: board.id, selected: params[:board_id] == board.id.to_s}= board.name
    .ml10.fl= ".and."
    %input.fl.ml10.w150{type: "text", name: "key", placeholder: "输入宝典标题", value: params[:key]}
    %input{type: "hidden", value: "true", name: "query"}
    %button.fl.btn.btn-small.ml10.radius6{type: "submit", value: "搜索"} 搜索
  .ml10
    %hr.w500{style: "border-style: dashed;"}/
  .mt10
    %a.btn.btn-small.ml20.radius6#save-board{href: new_dialog_celebrities_editor_treasury_path} 新建宝典...
  %table#ett.table1.mt10.ml20
    %tr
      %th.w100 操作
      %th.w300 小编宝典标题
      %th.leftText.w100 分类
      %th.leftText.w100 最后修改日期
    - @collection.each do |_item|
      %tr
        %td.centerText
          = link_to "编辑",edit_dialog_celebrities_editor_treasury_path(_item.id)
          = link_to "删除",dialog_celebrities_editor_treasury_path(_item.id),:method => "delete",:confirm => "是否确定要删除这篇宝典?"
        %td= _item.name
        %td= _item.celebrity_content_board.try(:name)
        %td= _item.updated_at.strftime "%y-%m-%d"
  .pager.fl.ml20
    = paginate @collection
:coffeescript
  $ ->
    D.initialize()


