<%- content_for :tail do %>
  <%= javascript_include_tag "swfobject.js", "jquery.uploadify.js" %>
  <style type="text/css">
  .uploadify{cursor: pointer;width:305px;float:left;}
  </style>
  <script type="text/javascript">
    <%- session_key = Rails.application.config.session_options[:key] -%>
    $(function() {
      $('#upload_photo').uploadify({
        swf : '/uploadify/uploadify.swf',
        cancelImage : '/uploadify/uploadify-cancel.png',
        //skipDefault : ['onSelect'],
        progressData : 'percentage',
        buttonText : "<a href='#' class='btn btn-danger mb5'>上传图片</a>",
        fileTypeDesc : '图片文件',
        fileTypeExts : '*.jpg; *.png',
        successTimeout : 6000,
        fileSizeLimit : '5MB',
        // uploadLimit : 60,
        width : 85,
        height : 35,
        multi : true,
        auto : true,
        checkExisting : false,
        transparent : true,
        uploader : '<%= create_image_teams_path %>',
        //buttonText : '选择文件',
        onUploadSuccess : function(file, data, response) {
          var dat = eval('(' + data + ')');
          if (dat.result == 'success') {
            $.getScript(dat.upload, function(){});
          }else{
            alert("图片上传失败");
          };
        },
        postData : {
            '_http_accept': 'application/javascript',
            'format' : 'json',
            '_method': 'post',
            '<%= session_key %>' : '<%= cookies[session_key] %>',
            'authenticity_token': '<%= form_authenticity_token %>'
        },
        onUploadError : function(file, errorCode, errorMsg, errorString) {
          alert('您的网络不给力，请稍后尝试'+ errorCode + errorMsg);
        },
        onUploadStart : function(){
          //$("#upload_going").show();
        },
        onUploadComplete : function(){
          //$("#upload_going").hide();
        }
      });
    });
    function is_image(){
        var image_id = $("#image_id").val();
        var name = $("#name").val();
        var job = $("#job").val();
        var url = $("#url").val();
        if(image_id == undefined){
          alert("请上传图片！");
          return false;
        }
        if(name == ""){
          alert("请输入名字！");
          return false;
        }
        if(job == ""){
          alert("请输入职位！");
          return false
        }
        if(url == ""){
          alert("请输入链接！");
          return false
        }
    }
  </script>
<%- end %>
<div class="container-fluid">
  <div class="tab-pane" id="tab_haxun6">
    <h3 class="text-haxun">精英团队</h3>
    <%= form_for Team.new, html: {class: "form-horizontal row-fluid", :onsubmit => "return is_image();"} do %>
      <fieldset class="span5">
        <div class="clearfix">
          <div class="pull-left haxun_teamimg mr10" style="border: solid 1px red" id="uploads">
          </div>
          <div>
            <a href="#" class="btn btn-danger mb5" id="upload_photo">上传图片</a>
          </div>
        </div>
        <div class="clearfix mt20 haxun_main">
          <label class="pull-left mb5 mr10">
            <strong class="control-label w40">姓名</strong>
            <input class="input-small" type="text" placeholder="" id="name" name="teams[name]">
          </label>
          <label class="pull-left mb5">
            <strong class="control-label w40">职务</strong>
            <input class="input-medium" type="text" placeholder="" id="job" name="teams[job]">
          </label>
        </div>
        <div class="clearfix haxun_main mb5">
          <label class="pull-left mb5 mr10">
            <strong class="control-label w40">URL</strong>
            <input class="input-xlarge" type="text" placeholder="" id="url" name="teams[url]">
          </label>
        </div>
        <div class="offset40_haxun">
          <!-- <button class="">保存</button> -->
          <input type="submit" value="保存" class="btn btn-danger load_submit">
          <a href="<%=teams_path%>" class="btn btn-danger" style="margin-left: 85px;">返回</a>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>