<div class="content">
  <div class="title"><h5>在线客服咨询回复</h5></div>
  <div class="num"></div>
  <!-- Dynamic table -->
  <div class="table">
    <div class="head"><h5 class="iFrames">咨询列表</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
      <thead>
        <tr>
          <th width="5%">ID</th>
          <th>标题</th>
          <th>内容</th>
          <th width="100px">提问用户</th>
          <th width="100px">发布时间</th>
          <th width="100px">操作</th>
        </tr>
      </thead>
      <tbody>
        <%- @site_messages.each do |c| %>
          <tr class="gradeA">
            <td><%= c.id %></td>
            <td><%= c.title %></td>
            <td><%= c.desc %></td>
            <td><%= c.user.display_name %></td>
            <td><%= c.created_at.to_date %></td>
            <td nowrap="nowrap" align="center">
              <%= "已回复" if c.sys_msg_id %>
              <%= link_to "回复", main_app.edit_site_message_path(c), class: 'button basicBtn' %>
              <%= link_to "查看回复", main_app.site_message_path(c), class: 'button basicBtn' unless c.sys_msg_id.blank? %>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>