<div class="per_left index_main pull-left">
  <p class="clearfix index_tit">
    <strong class="pull-left mr5">案例赏析</strong>
    <a class="pull-left <%= 'active' if params[:choice] %>" href="/huaxun_homes?choice=1" >精选作品</a>
    <a class="pull-left" href="/huaxun_homes" >全部作品</a>
  </p>
  <hr class="border2 border2_mt2">
  <div>
    <ul class="per_works unstyled clearfix mt20">
      <% @examples.each do |example| %>
        <li>
          <a href="<%= example.url %>" target="_blank" class="help-block">
            <%= image_tag example.try(:img).try(:url, :list) %>
          </a>
          <h5 class="dott1">
            <a href="<%= example.url %>" target="_blank"><%= example.title %></a>
          </h5>
          <p class="nomargin"><%= example.name %></p>
          <p class="nomargin">风格: <%= example.style %></p>
          <p class="dott1 p2">
            <span><i class="icon-i16 icon-xin_gray2"></i>
              <a href="<%=update_vote_huaxun_homes_path(id: example.id)%>" data-method="post" data-remote="true" class="week-vote" style="color: #333;">
                <%= example.votes_count.present? ? example.votes_count : 0 %>
              </a>
            </span>
            <span><i class="icon-i16 icon-comment1"></i><%= example.comment_count %></span>
            <span class="noborder zf"><i class="icon-i16 icon-share1"></i><em><%= example.shares_count.present? ? example.shares_count : 0 %></em></span>
          </p>
          <%= forward_links("#iColor分享#来自#{example.name}的作品【#{example.title}】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor，", huaxun_homes_path, example.img.url, example.id.to_s, "huaxun") %>
        </li>
      <% end %>
    </ul>
    <div class="pager">
      <%= paginate @examples, :param_name => :example_page %>
    </div>
  </div>
</div>