<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "july_event" %>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "design/title_event.png"%>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "设计师活动", "/designer_events", :class => 'fb' %></em>
    <em><%= link_to "精彩活动", "/events" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->

  <%- if params[:page] %>
    <%= render "designer_events/city/#{params[:city]}/page#{params[:page]}" %>
  <%- else %>
    <%= render "designer_events/city/#{params[:city]}" %>
  <%- end %>

  <!--wrapper ends-->
</div>
<!--main ends-->