<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "exciting_activities" %>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "设计师活动", "/designer_events", :class => 'fb' %></em>
    <em><%= link_to "精彩活动", "/events" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper d_act_list pb30 group">
    <div class="shadow">
      <div class="section">
        <div class="interview_box dec_list"><a href="/designer_events/city/shanghai2011" ><img class="fl" src="<%= asset_path "design/d_act_list/shanghai2011.jpg"%>"/></a>
          <a href="/designer_events/city/shanghai2011" ><h3 class="fr" title="2011年给力色彩之 上海有看头">2011年给力色彩之 上海有看头</h3></a>
          <p class="fr">2011年最给力的色彩有哪些？上海的设计师们又对色彩有何独到见解？作为走在时尚前沿的国际化大都会，上海对于国际流行色的触觉究竟有多灵敏？作为立邦2011春季色彩潮流研讨会的首站，上海的会议一经举行，立即吸引无数业内目光。</p>
          <a class="fl designer_events" href="/designer_events/city/shanghai2011"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>

        <div class="interview_box dec_list"><a href="/designer_events/city/chendu2011" ><img class="fl" src="<%= asset_path "design/d_act_list/chengdu2011.jpg"%>"/></a>
          <a href="/designer_events/city/chengdu2011" ><h3 class="fr" title="2011年给力色彩之 玩色成都">2011年给力色彩之 玩色成都</h3></a>
          <p class="fr">2011立邦色彩研讨会最后一站是成都。在这个美食与美色兼具的美丽城市，立邦所带来的色彩与创意将激发出怎样的缤纷灵感？这一站的会议又有些什么好玩的花絮呢？现在就跟我看看吧！</p>
          <a class="fl designer_events" href="/designer_events/city/chengdu2011"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
          
        <div class="interview_box dec_list"><a href="/designer_events/city/guangzhou2011" ><img class="fl" src="<%= asset_path "design/d_act_list/guangzhou2011.jpg"%>"/></a>
          <a href="/designer_events/city/guangzhou2011" ><h3 class="fr" title="2011年给力色彩之 秀色广州">2011年给力色彩之 秀色广州</h3></a>
          <p class="fr">作为立邦2011春季色彩潮流研讨会第三站，广州的活动现场自然不甘示弱，将精彩一路接力，以各种给力的方式碰撞出色彩的激情和创意。</p>
          <a class="fl designer_events" href="/designer_events/city/guangzhou2011"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="/designer_events" class="prev"><span></span>上一页</a>
      <a href="/designer_events">1</a>
      <a href="/designer_events/index_2">2</a>
      <a href="/designer_events/index_3" class="current">3</a>
      <a href="#" class="next">下一页<span></span></a>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>