<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "exciting_activities" %>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designer_events">设计师活动</a></em>
    <em><a href="#">精彩活动</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper d_act_list pb30 group">
    <div class="shadow event event_desc">
      <div class="section clear"><a href="/designer_events/kv"><img src="<%= asset_path "design/d_act_list/d_act_list_banner.jpg"%>"/></a>
        <h2 class="tl"><span class="fr">活动时间：2011年12月   活动主办方：立邦(Nippon Paint)</span>2012立邦和设计师畅想色彩</h2>
      </div>
    </div>
    <div class="shadow">
      <div class="section">
        <div class="interview_box dec_list"><a href="/designer_events/city/wuhan" ><img class="fl" src="<%= asset_path "design/d_act_list/2012wuhan.jpg"%>"/></a>
          <a href="/designer_events/city/wuhan" ><h3 class="fr">2012年立邦色彩趋势设计师沙龙----武汉站</h3></a>
          <p class="fr">3月20日，立邦在武汉五月花酒店举办了一场“2012年立邦色彩趋势设计师沙龙----武汉站”活动，与设计师及同行业朋友一起分享了2012年度色彩趋势，探讨色彩在室内环境中的运用</p>
          <a class="fl designer_events" href="/designer_events/city/wuhan"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list"><a href="/designer_events/city/xian" ><img class="fl" src="<%= asset_path "design/d_act_list/2012xian.jpg"%>"/></a>
          <a href="/designer_events/city/xian" ><h3 class="fr">2012立邦和设计师一起 畅想色彩——西安站</h3></a>
          <p class="fr">2012立邦和设计师一起 畅想色彩——西安站于3月22日在西安阳光国际大酒店成功举行。在活动签到入场时,立邦奇思妙想，让到场嘉宾亲身体验立邦缤纷迷你涂料漆来代替传统签字，既好玩又环保,100%净味健康哦~~</p>
          <a class="fl designer_events" href="/designer_events/city/xian"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="/designer_events" class="prev"><span></span>上一页</a>
      <a href="/designer_events">1</a>
      <a href="/designer_events/index_2" class="current">2</a>
      <a href="#" class="next">下一页<span></span></a>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>