<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "exciting_activities" %>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designer_events">设计师活动</a></em>
    <em><a href="/events">精彩活动</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <!--sub_nav ends-->
  <div class="wrapper d_act_list pb30 group">
    <div class="shadow event event_desc">
      <div class="section clear"><a href="/designer_events/kv"><img src="<%= asset_path "design/d_act_list/d_act_list_banner.jpg"%>"/></a>
        <h2 class="tl"><span class="fr">活动时间：2012年5月28日至2012年10月下旬    活动主办方：立邦(Nippon Paint)</span>2012iColor全国未来设计明星活动</h2>
      </div>
    </div>
    <div class="shadow">
      <div class="section">

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/qingdao1?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/qingdao0831.jpg"%>"/></a>
          <a href="/designer_events/city/qingdao1?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（青岛站）</h3></a>
          <p class="fr">8月31日，立邦iColor家装公司见面会青岛站顺利召开。当天，青岛阳光灿烂，风和日丽，来自青岛的近150位家装公司的代表及设计师一同出席了本次活动，现场异常火爆。
          </p>
          <a class="fl designer_events" href="/designer_events/city/qingdao1?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a>
        </div>

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/hangzhou1?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/hangzhou0830.jpg"%>"/></a>
          <a href="/designer_events/city/hangzhou1?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（杭州站）</h3></a>
          <p class="fr">7月31日，立邦iColor家装公司见面会杭州站顺利召开，来自杭州当地的近50位家装公司的代表及设计师一同出席了本次活动。
          </p>
          <a class="fl designer_events" href="/designer_events/city/hangzhou1?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a>
        </div>

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/zhengzhou1?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/zhengzhou0831.jpeg"%>"/></a>
          <a href="/designer_events/city/zhengzhou1?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（郑州站）</h3></a>
          <p class="fr">8月31日，立邦iColor家装公司见面会郑州站顺利召开，虽然这几天郑州遭遇暴雨，但是完全没有挡住当地家装公司与设计师的热情，来自郑州的近100位家装公司的代表及设计师一同出席了本次活动，现场座无虚席。</p>
          <a class="fl designer_events" href="/designer_events/city/zhengzhou1?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a>
        </div>

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/shenyang2?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/shenyang0817.jpg"%>"/></a>
          <a href="/designer_events/city/shenyang2?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（沈阳站）</h3></a>
          <p class="fr">6月13日的沈阳一扫前几日的阴霾，阳光明媚，迎来了立邦全国家装公司见面会沈阳站的序幕拉开。活动现场座无虚席，近200多人的当地家装公司代表出席了活动。</p>
          <a class="fl designer_events" href="/designer_events/city/shenyang2?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a>
        </div>

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/nanjing1?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/nanjing0817.jpg"%>"/></a>
          <a href="/designer_events/city/nanjing1?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（南京站）</h3></a>
          <p class="fr">2012年6月19日，立邦全国家装公司见面会南京站顺利召开。南京当地的近60位家装公司代表和设计师出席了本次活动。</p>
          <a class="fl designer_events" href="/designer_events/city/nanjing1?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a>
        </div>

          <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/xuzhou1?page=1" ><img class="fl" src="<%= asset_path "design/d_act_list/xuzhou0817.jpg"%>"/></a>
          <a href="/designer_events/city/xuzhou1?page=1" ><h3 class="fr">2012立邦和家装界精英携手刷新 --- 立邦iColor全国家装公司见面会现场报道（徐州站）</h3></a>
          <p class="fr">继2012年6月19日立邦iColor全国家装公司见面会南京站的顺利召开后，6月20日温暖的午后江苏省第二站---徐州iColor全国家装公司见面会又热闹开场。来自徐州当地的将近50位家装公司代表和设计师出席了活动。</p>
          <a class="fl designer_events" href="/designer_events/city/xuzhou1?page=1" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>

        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/shanghai2012" ><img class="fl" src="<%= asset_path "design/d_act_list/2012shanghai.jpg"%>"/></a>
          <a href="/designer_events/city/shanghai2012" ><h3 class="fr">2012年立邦色彩趋势设计师沙龙活动----上海站</h3></a>
          <p class="fr">2012年3月13日，中国涂料行业领导企业立邦(NipponPaint)在上海浦东佳友维景大酒店举办了“2012年立邦色彩趋势设计师沙龙活动----上海站”。此次活动交请来自各知名家装公司的60余位设计师们，一起分享2012年度色彩趋势，探讨色彩在室内环境中的运用。</p>
          <a class="fl designer_events" href="/designer_events/city/shanghai2012" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>

      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="#" class="prev"><span></span>上一页</a>
      <a href="/designer_events" class="current">1</a>
      <a href="/designer_events/index_2">2</a>
      <a href="/designer_events/index_3">3</a>
      <a href="/designer_events/index_2" class="next">下一页<span></span></a>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>