<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "exciting_activities" %>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designer_events">设计师活动</a></em>
    <em><a href="#">精彩活动</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper pt25 d_act_list group">
    <div class="shadow mb25">
      <div class="section">
        <div class="interview_box dec_list line_b_dot"><img class="fl" src="<%= asset_path "design/d_act_list/d_act_list5.jpg"%>"/>

          <h3 class="fr">春季设计师风尚沙龙</h3>

          <p class="fr">2011立邦色彩研讨会最后一站是成都。在这个美食与美色兼具的美丽城市，立邦所带来的色彩与创意将激发出怎样的缤纷灵感？这一站的会议又有些什么好玩的花絮呢？现在就跟我看看吧！</p>
          <a class="fl" href="/designer_events/1"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><img class="fl" src="<%= asset_path "design/d_act_list/d_act_list1.jpg"%>"/>

          <h3 class="fr">2011年给力色彩之 上海有看头</h3>

          <p class="fr">2011年最给力的色彩有哪些？上海的设计师们又对色彩有何独到见解？作为走在时尚前沿的国际化大都会，上海对于国际流行色的触觉究竟有多灵敏？作为立邦2011春季色彩潮流研讨会的首站，上海的会议一经举行，立即吸引无数业内目光。</p>
          <a class="fl" href="#"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><img class="fl" src="<%= asset_path "design/d_act_list/d_act_list2.jpg"%>"/>

          <h3 class="fr">2011年给力色彩之 北京问与答</h3>

          <p class="fr">北京，数千年历史沉淀成就了这样一个世界闻名的文化古城，在这里，每一种色彩都是浓郁而经得起时间磨砺的。作为立邦2011春季色彩潮流研讨会的第二站，北京的会议更是带给所有参会设计师更多的惊喜和激情。</p>
          <a class="fl" href="#"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><img class="fl" src="<%= asset_path "design/d_act_list/d_act_list3.jpg"%>"/>

          <h3 class="fr">2011年给力色彩之 秀色广州</h3>

          <p class="fr">作为立邦2011春季色彩潮流研讨会第三站，广州的活动现场自然不甘示弱，将精彩一路接力，以各种给力的方式碰撞出色彩的激情和创意。</p>
          <a class="fl" href="#"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><img class="fl" src="<%= asset_path "design/d_act_list/d_act_list4.jpg"%>"/>

          <h3 class="fr">2011年给力色彩之 玩色成都</h3>

          <p class="fr">2011立邦色彩研讨会最后一站是成都。在这个美食与美色兼具的美丽城市，立邦所带来的色彩与创意将激发出怎样的缤纷灵感？这一站的会议又有些什么好玩的花絮呢？现在就跟我看看吧！</p>
          <a class="fl" href="#"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="/designer_events" class="prev"><span></span>上一页</a>
      <a href="/designer_events">1</a>
      <a href="/designer_events/index_2" class="current">2</a>
      <a href="/designer_events/index_2" class="next">下一页<span></span></a>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>