<%- content_for :head do %>
    <%= stylesheet_link_tag "style", "exciting_activities" %>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/designer_events">设计师活动</a></em>
    <em><a href="/events">精彩活动</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <!--sub_nav ends-->
  <div class="wrapper d_act_list pb30 group">
    <div class="shadow event event_desc">
      <div class="section clear"><a href="/designer_events/kv"><img src="<%= asset_path "design/d_act_list/d_act_list_banner.jpg"%>"/></a>
        <h2 class="tl"><span class="fr">活动时间：2011年12月   活动主办方：立邦(Nippon Paint)</span>2012立邦和设计师畅想色彩</h2>
      </div>
    </div>
    <div class="shadow">
      <div class="section">
        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/shanghai2012" ><img class="fl" src="<%= asset_path "design/d_act_list/2012shanghai.jpg"%>"/></a>
          <a href="/designer_events/city/shanghai2012" ><h3 class="fr">2012年立邦色彩趋势设计师沙龙活动----上海站</h3></a>
          <p class="fr">2012年3月13日，中国涂料行业领导企业立邦(NipponPaint)在上海浦东佳友维景大酒店举办了“2012年立邦色彩趋势设计师沙龙活动----上海站”。此次活动交请来自各知名家装公司的60余位设计师们，一起分享2012年度色彩趋势，探讨色彩在室内环境中的运用。</p>
          <a class="fl designer_events" href="/designer_events/city/shanghai2012" ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/beijing2012" ><img class="fl" src="<%= asset_path "design/d_act_list/2012beijing.jpg"%>"/></a>
          <a href="/designer_events/city/beijing2012" ><h3 class="fr">2012立邦和设计师一起畅想色彩——北京站</h3></a>
          <p class="fr">“立邦，作为涂料行业的领军者，在经历了提供各类功能性产品的理性阶段后，现在，更希望通过色彩的演绎，为广大消费者带去更多感性和感动。。。。“2012立邦和设计师一起畅想色彩——北京站活动在立邦北区总经理陈总充满感情的开场词拉开帷幕。</p>
          <a class="fl designer_events" href="/designer_events/city/beijing2012"><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/shenyang2012" ><img class="fl" src="<%= asset_path "design/d_act_list/2012shenyang.jpg"%>"/></a>
          <a href="/designer_events/city/shenyang2012" ><h3 class="fr">2012年立邦色彩趋势设计师沙龙活动----沈阳站</h3></a>
          <p class="fr">“2012年立邦色彩趋势设计师沙龙活动----沈阳站”来自东北三省的知名家装公司总经理和设计总监齐聚一堂，共同探讨家装界色彩的运用和趋势。</p>
          <a class="fl designer_events" href="/designer_events/city/shenyang2012"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
        <div class="interview_box dec_list line_b_dot"><a href="/designer_events/city/haikou2012" ><img class="fl" src="<%= asset_path "design/d_act_list/2012haikou.jpg"%>"/></a>
          <a href="/designer_events/city/haikou2012" ><h3 class="fr">2012立邦和设计师一起 畅想色彩——海口站</h3></a>
          <p class="fr">“2012立邦和设计师一起 畅想色彩——海口站“会场入口处，立邦专门设计的整面色彩趋势的墙面吸引着到场所有嘉宾的眼球，展现了立邦2012年度的5大色彩趋势.吸引了众多设计师们的关注。</p>
          <a class="fl designer_events" href="/designer_events/city/haikou2012"  ><img src="<%= asset_path "master/look_detail_btn.png"%>"/></a></div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a href="#" class="prev"><span></span>上一页</a>
      <a href="/designer_events" class="current">1</a>
      <a href="/designer_events/index_2">2</a>
      <a href="/designer_events/index_2" class="next">下一页<span></span></a>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>