<%- content_for :head do %>
    <style type="text/css">
        span.arrow_1 {
            right: 167px;
        }

        span.arrow_2 {
            right: 100px;
        }
    </style>
    <%= stylesheet_link_tag "exciting_activities", "news", "style" %>
<%- end %>

<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="<%= asset_path "design/title_event.png"%>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">精彩活动</a><span class="arrow_2"></span><a class="fb" href="#">设计师活动</a>
  </div>
  <!--sub_nav ends-->
  <div class="wrapper group">
    <div class="shadow event the_activity">
      <div class="section clear">
        <div class="banner"><a href="#"><img src="<%= asset_path "news/event_big.jpg"%>"></a></div>
        <div class="operate">
          <ul class="stars">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="not_selected"></li>
          </ul>
          <span class="forward">转发 (124)</span>
          <span class="review">评论 (86)</span>
        </div>
        <div class="legend">听设计师领袖的色彩故事 了解2012最新色彩趋势<span class="status">正在进行</span></div>
        <div class="stars_wrap">喜爱度
          <ul class="stars">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="not_selected"></li>
          </ul>
          <a href="#">(我要打分)</a></div>
        <div class="properties">
          <table>
            <tr>
              <th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr>
              <th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr>
              <th>活动详情：</th>
              <td>听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
                领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势

                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势
                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
              </td>
            </tr>
          </table>
        </div>
        <div class="galleryD_wrap clear">
          <div class="galleryD">
            <span class="moveleft"></span>
            <span class="moveright"></span>

            <div class="list">
              <ul>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
              </ul>
            </div>
          </div>
          <div class="apply">
            <p class="button"><a href="#">我要报名</a></p>

            <p class="count">(已有4566人参与)</p>
          </div>
        </div>
        <div class="rate_wrap">
          <p>喜爱这个活动？请为活动进行评价（喜爱度打分）</p>
          <ul class="stars_big">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="not_selected"></li>
          </ul>
        </div>
        <div class="review_wrap">
          <div class="reviewform">
            <div class="bar"><h4><span>评论</span>(86)</h4><span class="r">0/140</span></div>
            <div class="form-content">
              <form>
                <p class="input"><textarea></textarea></p>

                <p class="button">
                  <input type="image" name="submit" src="<%= asset_path "design/submitA.gif"%>" alt="提交" value="提交"/></p>
              </form>
            </div>
          </div>
          <div class="pager ft12">
            <a class="prev" href="#"><span></span>上一页</a>
            <a href="#">1</a>
            <a href="#" class="current">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">...</a>
            <a href="#">20</a>
            <a class="next" href="#">下一页<span></span></a>
          </div>
          <div class="review_list">
            <ul class="review_listA">
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <a class="prev" href="#"><span></span>上一页</a>
      <a href="#">1</a>
      <a href="#" class="current">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">...</a>
      <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a>
    </div>
  </div>
  <!--sub_bot ends-->
</div>