<%- content_for :head do %>
    <style type="text/css">
        span.arrow_1 {
            right: 167px;
        }

        span.arrow_2 {
            right: 100px;
        }
    </style>
    <%= stylesheet_link_tag "exciting_activities", "style", "jquery.rating" %>
    <%= javascript_include_tag "jquery.rating" %>
<%- end %>
<%- content_for :tail do %>
    <script type="text/javascript">
        $(function() { // wait for document to load
            $('input.star_rat').rating({starWidth: 47,half:false,required:true});
        });
    </script>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="<%= asset_path "design/title_event.png"%>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">精彩活动</a><span class="arrow_2"></span><a class="fb" href="#">设计师活动</a>
  </div>
  <!--sub_nav ends-->
  <div class="wrapper group">
    <div class="shadow event the_activity">
      <div class="section clear">
        <div class="banner"><a href="#"><img src="<%= asset_path "news/event_big.jpg"%>"></a></div>
        <div class="operate pr clear">
          <span class="review fr">评论 (86)</span>
          <span class="forward fr">转发 (124)</span>
          <ul class="stars fr"><li></li><li></li><li></li><li></li><li class="not_selected"></li></ul>
          <div class="popup_zf group none" style="bottom:-26px; left:733px;"><span style="background:none; padding:0; margin:0; line-height:14px;">一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></div>
        </div>
        <div class="legend">听设计师领袖的色彩故事 了解2012最新色彩趋势<span class="status">正在进行</span></div>
        <div class="stars_wrap clear"><span class="fl">喜爱度</span>
          <ul class="stars">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="not_selected"></li>
          </ul>
          <a href="#">(我要打分)</a></div>
        <div class="properties">
          <table>
            <tr>
              <th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr>
              <th>活动时间：</th>
              <td>2012年4月5日～2012年6月5日</td>
            </tr>
            <tr>
              <th>活动详情：</th>
              <td>听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
                领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势

                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势
                听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师领袖的色彩故事 了解2012最新色彩趋势听设计师
              </td>
            </tr>
          </table>
        </div>
        <div class="galleryD_wrap clear">
          <div class="galleryD">
            <span class="moveleft"></span>
            <span class="moveright"></span>

            <div class="list">
              <ul>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
                <li><a href="#"><img src="<%= asset_path "design/ua1.jpg"%>"/></a></li>
              </ul>
            </div>
          </div>
          <script type="text/javascript">
              $(function() {
                  var $item = $('div.galleryD div.list ul');
                  var count = $item.find('li').size();
                  var colsize = 12;
                  var pwidth = $item.find('li').eq(0).width();
                  var sp = 3;
                  var wwidth = count * ( pwidth + sp ) - sp;
                  var movewidth = pwidth + sp;
                  var disabledClassName = "disabled";
                  if (count > colsize) {
                      var $left = $('div.galleryD span.moveleft');
                      var $right = $('div.galleryD span.moveright');

                      function s(left) {
                          if (typeof left != 'number') {
                              left = parseInt($item.css('left')) || 0;
                          }
                          $left[ left >= 0 ? 'addClass' : 'removeClass' ](disabledClassName);
                          $right[ ( -1 * left ) >= wwidth - ( colsize * ( movewidth ) - sp ) ? 'addClass' : 'removeClass' ](disabledClassName);
                      }

                      s();
                      $left.click(function() {
                          if ($(this).hasClass(disabledClassName)) {
                              return;
                          }
                          s((parseInt($item.css('left')) || 0) + movewidth);
                          $item.animate({
                              "left" : "+=" + movewidth + 'px'
                          }, 'fast');
                      });
                      $right.click(function() {
                          if ($(this).hasClass(disabledClassName)) {
                              return;
                          }
                          s((parseInt($item.css('left')) || 0) - movewidth);
                          $item.animate({
                              "left" : "-=" + movewidth + 'px'
                          }, 'fast');
                      });
                  }
              });
          </script>
          <div class="apply">
            <p class="button"><a href="#">我要报名</a></p>

            <p class="count">(已有4566人参与)</p>
          </div>
        </div>
        <div class="rate_wrap" style="height:65px;">
          <p>喜爱这个活动？请为活动进行评价（喜爱度打分）</p>
          <!--<ul class="stars_big"><li></li><li></li><li></li><li></li><li class="not_selected"></li></ul>-->
          <div style="margin-top:10px;">
            <input name="adv2" type="radio" title="1" class="star_rat"/>
            <input name="adv2" type="radio" title="2" class="star_rat"/>
            <input name="adv2" type="radio" title="3" class="star_rat" checked="checked"/>
            <input name="adv2" type="radio" title="4" class="star_rat"/>
            <input name="adv2" type="radio" title="5" class="star_rat"/>
          </div>
        </div>
        <div class="review_wrap">
          <div class="reviewform">
            <div class="bar"><h4><span>评论</span>(86)</h4><span class="words_tip">0</span>/140</span></div>
            <div class="form-content">
              <form>
                <p class="input"><textarea class="area_text"></textarea></p>

                <p class="button">
                  <input type="image" name="submit" src="<%= asset_path "design/submitA.gif"%>" alt="提交" value="提交"/></p>
              </form>
            </div>
          </div>
          <div class="pager ft12">
            第1-123条 , 共123条
            <a class="prev" href="#"><span></span>上一页</a>
            <a href="#">1</a>
            <a href="#" class="current">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">...</a>
            <a href="#">20</a>
            <a class="next" href="#">下一页<span></span></a>
          </div>
          <div class="review_list">
            <ul class="review_listA">
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12">
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div>