<%- content_for :head do %>
  <%= stylesheet_link_tag "style"%>
<%- end %>
<div class="container">
  <h3 class="chann_caption nomargin"><i class="icon-map icon-map8 icon_colors"></i><strong>精彩活动</strong><small>记录iColor的点滴精彩</small></h3>
  <ul class="breadcrumb">
    <li><a href="/">首页</a> > </li>
    <li><a href="/designer_events">精彩活动</a> > </li>
    <li class="active">活动集锦</li>
  </ul>
  <hr class="border2 border2_mt2">

  <div class="clearfix">
    <div class="index_main pull-left events_in">
      <h4 class="text-center title"><%=@active.title %></h4>
      <div class="mt10">
        <p class="events_content"><%=raw(@active.content)%></p>
      </div>
    </div>
    <div class="pull-right smaller">
        <div class="chann_warp chann1_right map-right index_main">
          <div class="media media_chann">
            <a class="pull-left" href="/design_images/lists" target="_blank">
              <i class="icon-chann icon-chann_imgbase"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a class="media-heading_link_a" href="/images" target="_blank">装修图库</a></h4>
              <p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
            </div>
          </div>
          <div class="media media_chann">
            <a class="pull-left" href="/color_designs" target="_blank">
              <i class="icon-chann icon-chann_match"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a class="media-heading_link_a" href="/color_designs" target="_blank">色彩配搭</a></h4>
              <p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
            </div>
          </div>
          <div class="media media_chann">
            <a class="pull-left" href="/master_interviews" target="_blank">
              <i class="icon-chann icon-chann_master"></i>
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a class="media-heading_link_a" href="/master_interviews" target="_blank">大师殿堂</a></h4>
              <p class="media_con nomargin">对话顶尖设计大师，提升家装专业眼界！</p>
            </div>
          </div>
        </div>
        <ul class="unstyled map-right index_main mt10 js-img_show">
          <li class="clearfix refresh_r_tit">
            <a href="<%=@master_design_data_url.url if @master_design_data_url %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
            <strong class="pull-left">最新大师作品</strong>
          </li>
          <% @master_design_datas.each_with_index do |cd,index| %>
            <li class="map-r<%=index+1%> dott1 <%="active" if index == 0 %>">
              <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
              <strong class="js-title"><%=cd.title%></strong><br>
              <a href="<%= cd.url %>" class="<%="hide" if index != 0 %> js-img" target="_blank"><img src="<%=cd.file.url(:list_155x115)%>" alt="" /></a>
            </li>
          <% end %>
        </ul>
        <ul class="unstyled map-right index_main mt10 js-img_show">
          <li class="clearfix refresh_r_tit">
            <a href="<%=@rrdr_url.url if @rrdr_url%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
            <strong class="pull-left">装修效果图精华推荐</strong>
          </li>
          <% @rrdrs.each_with_index do |rr,index| %>
            <li class="map-r<%=index+1%> dott1 <%="active" if index == 0 %>">
              <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
              <strong class="js-title"><%=rr.title%></strong><br>
              <a href="<%= rr.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=rr.file.url(:list_155x115)%>" alt="" /></a>
            </li>
          <% end %>
        </ul>
        <div>
          <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_230x230) %></a>
        </div>
        <div class="mt10">
          <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_230x170) %></a>
        </div>
        <div class="mt10">
          <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[2].try(:file).try(:url, :list_230x230) %></a>
        </div>
      </div>
  </div>

  <div class="index_main refresh_news mt10 clearfix">
      <div class="refresh_new pull-left">
        <h5><a href="<%= @master_more.url if @master_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>大师访谈</h5>
        <ul class="ul_dot">
          <%- @master_interviews.each_with_index do |m,i| %>
            <li class="<%= 'noborder' if i == @master_interviews.size - 1 %>">
              <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
            </li>
          <%- end %>
        </ul>
      </div>
      <div class="refresh_new pull-left">
        <h5><a href="<%= @more_info.url if @more_info%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>相关资讯</h5>
        <ul class="ul_dot">
          <%- @about_info.each_with_index do |m,i| %>
            <li class="<%= 'noborder' if i == @about_info.size - 1 %>">
              <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
            </li>
          <%- end %>
        </ul>
      </div>
      <div class="mt10">
        <a href="<%= @banners[3].url? ? @banners[3].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[3].try(:file).try(:url, :list_230x230) %></a>
      </div>
    </div>

  <div class="clearfix">
    <div class="footer_banner mt10 pull-left">
      <a href="<%= @banners[4].url? ? @banners[4].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[4].try(:file).try(:url, :list_670x85) %></a>
    </div>
    <div class="footer_banner mt10 pull-right">
      <a href="<%= @banners[5].url? ? @banners[5].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[5].try(:file).try(:url, :list_310x85) %></a>
    </div>
  </div>
</div>
