<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
    <style type="text/css">
        span.arrow_1 {
            right: 180px;
        }

        span.arrow_2 {
            right: 110px;
        }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "paint_art/title_paint_art.png"%>" alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="#">木纹风尚生活</a></em>
    <em><a href="#">漆光溢彩</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper paint_art paint_art_bg pb30'>
    <div class="shadow">
      <div class="section">
        <h2 class="art_tit_fs"></h2>

        <div class="paint_art_conbox_bg">
          <h3><img src="<%= asset_path "paint_art/art_tit3.png"%>"/></h3>

          <p>不论是烂漫樱花的粉，温润翡翠的绿；<br/>还是希腊纯粹的蓝，被夕阳染尽的红。<br/>美好生活总是需要用多姿多彩来点缀。</p>
        </div>
        <ul class="color_square line_b_dot">
          <li>
            <div class="color_6840_2"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_6620_3"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_6751_4"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_6851_4"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_5900_1"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_5500_1"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_5340_2"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_4340_2"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_0400_1"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_0640_2"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_0420_3"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_0501_4"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_2800_1"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_2840_2"></div>
            <span>6620-3</span></li>
          <li>
            <div class="color_3370_3"></div>
            <span>6840-2</span></li>
          <li>
            <div class="color_2910_4"></div>
            <span>6840-2</span></li>
        </ul>
        <div class="tr mt25 ft12">本色卡采用了先进的工艺，更接近原色，但与实际涂料还是有一点差距，请与实际涂料颜色为准。</div>
      </div>
    </div>

    <div class="shadow mt25">
      <div class="section">
        <h2 class="art_tit_green"></h2>

        <div class="paint_art_conbox_bg2">
          <h3><img src="<%= asset_path "paint_art/art_tit4.png"%>"/></h3>

          <p>用木纹的深浅，洞悉生命的深度。<br/>沿着木纹的不变路线。<br/>透露纹理的千姿百态，演绎生活的靓丽万千。</p>
        </div>
        <ul class="color_square line_b_dot">
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm611.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm612.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_fm618.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm631.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_fm654.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm661.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm641.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm642.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_fm628.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm651.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm652.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_fm653.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm682.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm683.jpg"%>"/></div>
            <span>6620-3</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_wm662.jpg"%>"/></div>
            <span>6840-2</span></li>
          <li>
            <div><img src="<%= asset_path "paint_art/muwen/color_fm619.jpg"%>"/></div>
            <span>6840-2</span></li>
        </ul>
        <div class="tr mt25 ft12">本色卡采用了先进的工艺，更接近原色，但与实际涂料还是有一点差距，请与实际涂料颜色为准。</div>

      </div>
    </div>
  </div>
  <!--wrapper ends-->
</div><!--main ends-->
