<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "paint_art/title_paint_art.png" %>" alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">漆光异彩</a><span class="arrow_2"></span><a class="fb" href="#">墙面艺术漆</a>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper paint_art pb30'>
    <div class="shadow">
      <div class="section">
        <h2>米兰诺艺术漆罗马效果</h2>

        <div class="paint_art_tip">产品源自意大利，以其传统产品和先进的工艺精心打造而成，涂刷后可呈现出金银铜箔等时尚效果，立体而有层次肌理质感，富有变化的色彩融合效果、闪耀于心的金银点缀，艺术漆为你刷新家的高档与品位，尽显时尚与高雅。</div>
        <div class="paint_art_conbox">
          <h3>罗马332</h3>

          <div class="art_showbox">
            <div class="fl art1_show" id="art1_show">
              <span></span>
              <img src="<%= asset_path "paint_art/art0_big.jpg" %>"/>
            </div>
            <div class="fl art1_before">
              Before<img src="<%= asset_path "paint_art/art1_before.jpg" %>"/>
            </div>
            <div class="fl art1_after">
              After<img src="<%= asset_path "paint_art/art0_after.jpg" %>"/>
            </div>
          </div>
        </div>
        <hr/>
        <div class="paint_art_conbox art_option">
          <div class="art_option_slide">
            <a href="#" class="art_pre"><img src="<%= asset_path "master/works_list_left.png" %>"/></a>
            <a href="#" class="art_next"><img src="<%= asset_path "master/works_list_right.png" %>"/></a>

            <div class="art_option_box">
              <div class="art_option_list" id="art_option_list">
                <img src="/assets/paint_art/art1.jpg" title="BN7430-2清花瓷器"/>
                <img src="/assets/paint_art/art2.jpg" title="test"/>
                <img src="/assets/paint_art/art3.jpg"/>
                <img src="/assets/paint_art/art4.jpg"/>
                <img src="/assets/paint_art/art5.jpg"/>
                <img src="/assets/paint_art/art1.jpg"/>
                <img src="/assets/paint_art/art2.jpg"/>
                <img src="/assets/paint_art/art3.jpg"/>
                <img src="/assets/paint_art/art4.jpg"/>
                <img src="/assets/paint_art/art5.jpg"/>
                <img src="/assets/paint_art/art1.jpg"/>
                <img src="/assets/paint_art/art2.jpg"/>
                <img src="/assets/paint_art/art3.jpg"/>
                <img src="/assets/paint_art/art4.jpg"/>
                <img src="/assets/paint_art/art5.jpg"/>
              </div>
            </div>
            <script type="text/javascript">

                var str = '/assets/paint_art/art';
                function qin_photo(id1, id2, string1, string2) {
                    var $qin_img = $(id1 + ' img');
                    MakeTitle(0, id1, id2);
                    $qin_img.click(function() {
                        var i = $qin_img.index(this);
                        var src = $(this).attr('src');
                        $(id2 + ' img').attr('src', str + i + string1);
                        $(id2).siblings('.art1_after').find('img').attr('src', str + i + string2);
                        MakeTitle(i, id1, id2);
                    })
                }

                $(function() {
                    qin_photo('#art_option_list', '#art1_show', '_big.jpg', '_after.jpg');
                    qin_photo('#art_option_list_none', '#art2_show', '_big2.jpg', '_2_after.jpg');
                })
                function MakeTitle(num, ID, show) {
                    var $qin_img = $(ID + ' img');
                    var title = $qin_img.eq(num).attr('title');
                    $(show + ' span').text(title);
                }
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="shadow">
      <div class="section">
        <h2>米兰诺艺术漆丝幕效果</h2>

        <div class="paint_art_tip">产品源自意大利，有着细腻与舒适的丝绒质地，不同层次的光泽让简单的色彩丰富起来，尽显低调的华丽。如锦似缎的墙面效果实现了低调奢华生活的真正回归，艺术漆为你刷出全新的家居风格与富有品质感的高档空间。</div>
        <div class="paint_art_conbox">
          <h3>旭日金</h3>

          <div class="art_showbox">
            <div class="fl art1_show" id="art2_show">
              <span></span>
              <img src="<%= asset_path "paint_art/art0_big2.jpg" %>"/>
            </div>
            <div class="fl art1_before">Before<img src="<%= asset_path "paint_art/art1_2_before.jpg" %>"/></div>
            <div class="fl art1_after">After<img src="<%= asset_path "paint_art/art0_2_after.jpg" %>" id="art2_after"/>
            </div>
          </div>
        </div>
        <hr/>
        <div class="paint_art_conbox art_option">
          <div class="art_option_slide">
            <div class="art_option_box">
              <div class="art_option_list_none" id="art_option_list_none">
                <img src="/assets/paint_art/art1_2.jpg" title="ON0024-2芒果柑橘"/>
                <img src="/assets/paint_art/art2_2.jpg" title="test2"/>
                <img src="/assets/paint_art/art3_2.jpg"/>
                <img src="/assets/paint_art/art4_2.jpg"/>
                <img src="/assets/paint_art/art5_2.jpg"/>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--wrapper ends-->
</div><!--main ends-->