<%- content_for :head do %>
	<%= stylesheet_link_tag "art", "style" %>
<%- end %>
<%- content_for :tail do %>
  <%= javascript_include_tag "jquery-ui.min.js","easing","jquery.draggablecarousel-0.1.js","art","/Scripts/swfobject_modified.js" %>
<%- end %>	

<div class="main">
<div class='sub_title tr'>
	<img src="<%= asset_path "paint_art/title_paint_art.png"%>" alt="" />
</div>
<div class='sub_nav ft12 pr tr'>
	<em><%= link_to "米兰诺艺术效果", "/art", :class => 'fb' %></em>
	<em><%= link_to "漆光艺彩", "/art" %><span></span></em>
	<em><%= link_to "首页", "/" %><span></span></em>
</div><!--sub_nav ends-->
<div class='w_995'>
	<div class="art_top pr">
          	<ul class="pa">
                <li>
                    <div class="art_info pr">
                        <span>VA0004-FGG1 紫醉金迷</span>
                        <img src="<%= asset_path "art/stone2.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>BN7570-FGC3 冲风破浪</span>
                        <img src="<%= asset_path "art/stone10.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>BN0002-FGS4 碧海银沙</span>
                        <img src="<%= asset_path "art/stone5.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>YN3730-FGC2 粉彩黄玉</span>
                        <img src="<%= asset_path "art/stone1.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>ON0071-FGO2 棕榈天堂</span>
                        <img src="<%= asset_path "art/stone7.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>OA2200-FGO1 枫叶红了</span>
                        <img src="<%= asset_path "art/stone12.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>NN5290-SRS2 墨绿矿石</span>
                        <img src="<%= asset_path "art/stone4.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>BN0005-SRS2 丝绒天幕</span>
                        <img src="<%= asset_path "art/stone11.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>BN0003-SRS4 蓝色河畔</span>
                        <img src="<%= asset_path "art/stone9.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>YN0035-SRS3 法国乳酪</span>
                        <img src="<%= asset_path "art/stone6.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
              	<li>
                   	<div class="art_info pr">
                        <span>ON0024-SRG2 金碧辉煌</span>
                   	    <img src="<%= asset_path "art/stone3.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
                <li>
                    <div class="art_info pr">
                        <span>RA0500-SRG1 艳红玫瑰</span>
                        <img src="<%= asset_path "art/stone8.png"%>" />
                    </div>
                    <a href="javascript:;" class="overs none pa"></a>
                </li>
            </ul>
        </div><!--art_top ends-->
        <div class="art_bot">
            <div class="art_box_bin">
                <div class="art_box pr">
                     <div class="art_bin">
                      <img src="<%= asset_path "art/arts2_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts2_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts2_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color4 art_pos1 pa" data-title="NN7508-4深邃太空"></div>
                        <div class="art_color5 art_pos2 pa" data-title="OW002-4 烟紫"></div>
                        <div class="art_color6 art_pos3 pa" data-title="VC7060-4人约黄昏"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts10_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts10_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts10_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos2 pa fb ft14">墙面搭配色</p>
                        <div class="art_color24 art_pos3 pa" data-title="YN3007-4 虔诚"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts5_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts5_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts5_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos2 pa fb ft14">墙面搭配色</p>
                        <div class="art_color13 art_pos3 pa" data-title="OW054-4青山淡彩"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts1_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts1_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts1_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color1 art_pos1 pa" data-title="NN2570-3 布莱垦棕"></div>
                        <div class="art_color2 art_pos2 pa" data-title="NN3401-4 荷兰乳酪"></div>
                        <div class="art_color3 art_pos3 pa" data-title="NN3990-2 牡蛎"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts7_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts7_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts7_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color15 art_pos1 pa" data-title="NN0032-2 乌金"></div>
                        <div class="art_color16 art_pos2 pa" data-title="NN3401-4 荷兰乳酪"></div>
                        <div class="art_color17 art_pos3 pa" data-title="OA1200-1 哈瓦那雪茄"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts12_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts12_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts12_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                     <p class="p_pos2 pa fb ft14">墙面搭配色</p>
                        <div class="art_color26 art_pos3 pa" data-title="OW038-4象牙白"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts4_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts4_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts4_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color10 art_pos1 pa" data-title="NN2520-3细沙海岸"></div>
                        <div class="art_color11 art_pos2 pa" data-title="ON0058-4春雨"></div>
                        <div class="art_color12 art_pos3 pa" data-title="VC7770-3花样年华"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts11_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts11_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts11_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                     <p class="p_pos2 pa fb ft14">墙面搭配色</p>
                        <div class="art_color25 art_pos3 pa" data-title="OW060-4 雪蓝"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts9_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts9_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts9_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color21 art_pos1 pa" data-title="NN1330-2乌云"></div>
                        <div class="art_color22 art_pos2 pa" data-title="NN3401-4 荷兰乳酪"></div>
                        <div class="art_color23 art_pos3 pa" data-title="YN4951-4石上清泉"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts6_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts6_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts6_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos2 pa fb ft14">墙面搭配色</p>
                        <div class="art_color14 art_pos3 pa" data-title="NN1330-2乌云"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts3_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts3_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts3_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color7 art_pos1 pa" data-title="NN4760-4锡兰象牙"></div>
                        <div class="art_color8 art_pos2 pa" data-title="ON0058-4春雨"></div>
                        <div class="art_color9 art_pos3 pa" data-title="OW076-4柔粉"></div>
                </div><!--art_box ends-->
                <div class="art_box none pr">
                    <div class="art_bin">
                      <img src="<%= asset_path "art/arts8_0.jpg"%>" />
                      <img src="<%= asset_path "art/arts8_1.jpg"%>" />
                      <img src="<%= asset_path "art/arts8_2.jpg"%>" />
                     </div>
                        <a href="javascript:" class="light_white light_on">普通光源</a>
                        <a href="javascript:" class="light_hot">暖光源</a>
                        <a href="javascript:" class="light_cold">冷光源</a>
                    <p class="p_pos1 pa fb ft14">墙面搭配色</p>
                        <div class="art_color18 art_pos1 pa" data-title="BN7707-4青烟飘渺"></div>
                        <div class="art_color19 art_pos2 pa" data-title="NN7851-4银币"></div>
                        <div class="art_color20 art_pos3 pa" data-title="OW034-4贝卡黄"></div>
                </div><!--art_box ends-->
            </div><!--art_box_bin ends-->
            <ul class="art_nav clear">
             	<li class="art_nav1 selected fl">媒体报道</li>
                    <li class="art_nav2 fl">刷新服务</li>
                    <li class="art_nav3 fl">艺术漆效果图册</li>
                    <li class="art_nav4 fl">艺术漆微电影</li>
            </ul>
            <div id="art_container">
             	<div class="ipad1 pr">
                  	<div id="carousel">
                        <ul>
                            <li><img src="<%= asset_path "art/ipad1_img5.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img6.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img7.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img8.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img3.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img4.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img1.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/ipad1_img2.jpg"%>" alt=""></li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="ipad1_zoom pa">全屏观看</a>
                        <a href="javascript:;" class="ipad1_prev draggablecarousel-prev pa">prev</a>
                        <a href="javascript:;" class="ipad1_next draggablecarousel-next pa">next</a>
                </div>
                <div class="ipad1 pr none">
                    <div class="ipad1_img2">
                         <a href="/flash/refresh-3-mins.flv" style="display:block;width:847px;height:465px" id="player"></a>
                           <%= javascript_include_tag "flowplayer-3.2.11.min" %>
                            <script>
                                flowplayer("player", "flash/flowplayer-3.2.12.swf");
                            </script>
                    </div><!--ipad1_img2 ends-->
                     <a class="video_words pa" href="http://www.nipponpaint.com.cn/shuaxin/fuwu/" target="_blank">
                            艺术漆首批上市地区：上海 
                            相关产品与服务信息请拨打：800-810-1687
                        </a>
                    <img src="<%= asset_path "art/ipad2_img.jpg"%>" alt="" class="ipad1_img3 pa" />
                <!-- JiaThis Button BEGIN -->
                    <div id="ckepop" class="cw pa" style="right:142px;bottom:66px;">
                        <span class="jiathis_txt">分享：</span>
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_renren"></a>
                        <a class="jiathis_button_kaixin001"></a>
                    </div>
                    <!-- JiaThis Button END -->
                </div>
                <div class="ipad2 pr none">
                    <!--div class="ipad2_layer pa"></div-->

                    <a href= "/pdf/e-art.pdf" class="ipad2_down pa">一键下载</a>
                    <!--a href="images/art/e-art.pdf" class="ipad2_down pa">一键下载</a-->
                    <div id="pdf_container">
                        <ul>
                            <!--li><img src="<%= asset_path "art/pdf1.jpg"%>" alt=""></li-->
                            <li><img src="<%= asset_path "art/pdf2.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf3.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf4.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf5.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf6.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf7.jpg"%>" alt=""></li>
                            <li><img src="<%= asset_path "art/pdf8.jpg"%>" alt=""></li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="ipad1_prev draggablecarousel-prev pa">prev</a>
                    <a href="javascript:;" class="ipad1_next draggablecarousel-next pa">next</a>
                </div>
                <div class="ipad2 pr none">
                    <img src="<%= asset_path "art/ipad3.jpg"%>" alt="coming soon" title="coming soon" />
                </div>
            </div>
        </div><!--art_bot ends-->
    </div><!--wrapper ends-->
</div><!--main ends-->
<div id="overlay2">
    <div id="arts_bin">
        <div id="arts">
            <ul>
                <li><img src="<%= asset_path "art/ipad1_img5_big.jpg"%>"></li>
                <li><img src="<%= asset_path "art/ipad1_img6_big.jpg"%>"></li>
                <li><img src="<%= asset_path "art/ipad1_img7_big.jpg"%>"></li>
                <li><img src="<%= asset_path "art/ipad1_img8_big.jpg"%>"></li>
                <li><img src="<%= asset_path "art/ipad1_img3_big.jpg"%>" /></li>
                <li><img src="<%= asset_path "art/ipad1_img4_big.jpg"%>" /></li>
                <li><img src="<%= asset_path "art/ipad1_img1_big.jpg"%>" /></li>
                <li><img src="<%= asset_path "art/ipad1_img2_big.jpg"%>" /></li>
                

            </ul>
        </div>
        <a href="javascript:;" id="lay_close"></a>
    </div><!--arts ends-->
</div><!--overlay ends-->
