<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main color_signup_box">
  <h2><img src="<%= asset_path "design/mb/color_signup.png"%>"/></h2>

  <div class="wrapper">
    <div class="border_bottom">
      <a href="#"><img src="<%= asset_path "design/mb/signup_btn.png"%>"/></a>
    </div>
    <div class="signup_con_box pr">
      <p>
        根据中国流行色协会第七届会员代表大会确定的协会工作规划，协会自2007年起正式开展色彩搭配设计师培训与考评工作。中国流行色协会作为中国唯一的色彩专业协会，旨在科学培养和提升专业色彩人才并给予其明确的专业培训、满足企业和社会需求，促进国内色彩产业的健康发展以及其他产业在色彩运用能力方面的提升。本项工作在组织和筹备上聘请了国内外权威的色彩专家，在技术内容、能力等级划分、技术水平和操作规则上与国际同步，为未来亚洲色彩联合会（中、日、韩）色彩从业人员的专业等级互认作准备。<br/>
        具体推出方式为色彩搭配设计师三级、二级、一级逐级进行培训、考试及证书发放工作（详情见协会网站）。原则上只有通过三级考评的人员方可申请更高一级的考试；考试合格者将获得由中国流行色协会颁发的色彩搭配设计师等级能力证书。以上工作由协会色彩教育专业委员会负责，协会培训部负责具体实施。
      </p>

      <h2>哪些人适合学习色彩搭配设计师？</h2>

      <p>
        1、企业在职设计师、企划人员（包括服装设计、个人形象设计、纺织品设计、产品设计、涂料设计、汽车色彩设计、室内设计、建筑设计、商场导购、灯光设计、舞台设计、广告设计、动画设计、园艺设计等领域的从业人员）；<br/>
        2、营销企划人员、管理人员；<br/>
        3、设计类专业在校学生；<br/>
        4、大众色彩爱好者。
      </p>

      <h2>国 内 外 背 景：</h2>

      <p>色彩搭配师是九十年代在日本等国家兴起的一种时尚职业，活跃于各行各业进行色彩设计和商品企划。现在日本每年参加考试认证的人数高达十几万人，大多数设计师及零售、商品企划人员都拥有色彩搭配师身份；普通色彩爱好者也通过考取证书拥有一个新的职业机会。目前专业色彩搭配师在国内基本空白，前途非常广阔。</p>

      <h2>关于色彩搭配师：</h2>

      <p>
        （COLOR COORDINATOR）是运用专业知识和技能，进行色彩搭配与设计；色彩策划与营销；色彩调查与管理；色彩研究与咨询的工作人员。
      </p>

      <h2>专 业 考 评：</h2>

      <p>
        色彩搭配设计师3级、2级、1级。
      </p>

      <h2>各 级 目 标：</h2>

      <p>
        3级：掌握从事色彩行业的部分基础知识和技能；<br/>
        2级：掌握较高级的色彩知识和色彩实践的指导能力，具有提供专业的色彩咨询服务工作的能力；<br/>
        1级：集丰富的色彩知识于一身，具有色彩开发、色彩计划、色彩研究等高水平驾驭色彩的能力。具有实施色彩计划、进行色彩教育的能力。
      </p>

      <h2>权 威 认 证：</h2>

      <p>考试合格获得由中国流行色协会颁发的色彩搭配设计师等级能力证书；</p>

      <h2>培 训 考 试：</h2>

      <p>时间约为一周（专业培训6天，考前培训1天，考试半天）。</p>

      <h2>报 名 条 件：</h2>

      <p>中国流行色协会会员（如非流行色协会会员，可于报到时办理加入协会会员手续，享受协会会员专业服务等）</p>

      <h2>培 训 讲 师 ：</h2>

      <p>特聘请日本一级色彩搭配讲师全程授课（日本色彩研究所、AFT、东京商工会所指定一级色彩讲师），并配有现场翻译（色彩搭配讲师）。培训内容：色彩学原理及配色技巧（三级）。</p>

      <h2>考 试 形 式 ：</h2>

      <p class="line_b_dot">统一试卷、统一考试；</p>

      <h1 class="tc fb lh32">色彩搭配设计师三级专业能力培训与考评面授课程</h1>

      <h1 class="tc fb lh32">时间安排详情查看
        <a href="http://www.colorcoordinator.cn/">www.colorcoordinator.cn</a>
      </h1>

      <h1 class="tc fb mt25">色彩搭配设计师（三级）全套精品课程</h1>

      <p class="tc">学员可通过网络，根据个人时间进行自主远程学习，所学内容与面授课程一致。</p>

      <p class="tr line_b_dot">中国流行色协会 2012年2月1日</p>

      <h1 class="fb lh32">色彩搭配师设计培训方式及价格表</h1>
      <img src="<%= asset_path "design/mb/price_tag.jpg"%>"/>

      <p class="line_b_dot"></p>

      <h1 class="fb lh32">色彩搭配师级别及课程内容</h1>
      <img src="<%= asset_path "design/mb/rank_content.jpg"%>"/>

      <p class="line_b_dot"></p>

      <p><a href="#"><img src="<%= asset_path "design/mb/signup_btn.png"%>"/></a></p>

      <p class="design_zg_tips">
        报 名 方 式：电话报名：400-678-8522
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        传真报名：010-85229563
        <br/>
        Email ：<a href="mailto:icolor@nipponpaint.com.cn">icolor@nipponpaint.com.cn</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        网上查询：<a href="http://www.colorcoordinator.cn">www.colorcoordinator.cn</a>
        <br/>
        协会地址：北京市东长安街12号516室中国流行色协会培训部（100742）<br/>
        详情请点击： <a href="http://www.spta.gov.cn/index.html">http://www.spta.gov.cn/index.html</a><br/>
      </p>
    </div>
  </div>
</div>
<!--main ends-->