<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>电子期刊</title>
  <%= stylesheet_link_tag "reset", "base", "style" %>
  <%= javascript_include_tag "jquery", "main" %>
  <!--[if IE 6]>
  <script src="/png.js"></script>
  <script>
      PNG.fix('img,div,a,ul,li,p,span,strong,h2');
  </script>
  <![endif]-->
  <style type="text/css">
      .shadow {
          zoom: 1;
      }

  </style>
</head>
<body>
<div class="header">
  <div class="nav pa">
    <div class="logo">
      <a href="#"><img src="<%= asset_path "logo.png" %>"/></a>
      <a href="#"><img src="<%= asset_path "logo2.png" %>"/></a>
    </div>
    <div class="top_bar fr">
      <a href="#" class="user_info fl"><strong>NEO</strong></a><a href="#" class="user_info fl">普通会员</a><a href="#" class="user_info out fl">退出</a><a href="#" class="weibo fl"></a><a href="#" class="nippon fl"></a>
    </div>
    <!--navTop ends-->
    <ul class="navBot fr cw fb ft14">
      <li class="pr">
        <a href="home.html">首页</a>
      </li>
      <li class="pr">
        <a href="javascript:void(0)">大师殿堂</a>
        <ul>
          <li>
            <a href="master_list.html">大师访谈</a>
          </li>
          <li>
            <a href="master_topics.html">热点话题</a>
          </li>
          <li class="noborder">
            <a href="master_works_list.html">大师作品</a>
          </li>
        </ul>
      </li>
      <li class="pr">
        <a href="javascript:void(0)">设计鉴赏</a>
        <ul>
          <li>
            <a href="2-1.html">每周之星</a>
          </li>
          <li>
            <a href="design.html">推荐作品</a>
          </li>
          <li>
            <a href="inspiration.html">灵感秀</a>
          </li>
          <li class="noborder">
            <a href="#">色彩搭配</a>
          </li>
        </ul>
      </li>
      <li class="pr">
        <a href="javascript:void(0)">行业资讯</a>
        <ul>
          <li>
            <a href="3-3.html">色彩资讯</a>
          </li>
          <li>
            <a href="news.html">装修资讯</a>
          </li>
          <li class="noborder">
            <a href="#">微博资讯</a>
          </li>
        </ul>
      </li>
      <li class="pr"><a href="javascript:void(0)">精彩活动</a>
        <ul class="w_nav1">
          <li><a href="4-1.html">年度色彩趋势活动</a></li>
          <li><a href="event.html">设计师活动</a></li>
          <li class="noborder"><a href="4-3.html">其他精彩活动</a></li>
        </ul>
      </li>
      <li class="pr"><a href="javascript:void(0)">实用工具</a>
        <ul class="w_nav2">
          <li><a href="tools.html">配色工具</a></li>
          <li class="noborder"><a href="app.html">设计师APP</a></li>
        </ul>
      </li>
      <li class="pr"><a href="javascript:void(0)">业主通道</a>
        <ul class="w_nav3">
          <li><a href="access.html">片区快查</a></li>
          <li><a href="faq.html">装修问答</a></li>
          <li class="noborder"><a href="6-3.html">在线配色服务</a></li>
        </ul>
      </li>
      <li class="noborder pr"><a href="javascript:void(0)">漆光艺彩</a>
        <ul class="w_nav4">
          <li><a href="4-1.html">墙面艺术效果</a></li>
          <li class="noborder"><a href="4-3.html">木纹风尚生活</a></li>
        </ul>
      </li>
    </ul>
    <!--navBot ends-->
  </div>
  <!--nav ends-->
  <div class="loginBg pa none">
    <div class="loginCon ft12 clear">
      <form>
        <div>
          <label for="username" class="username ft14 fl">帐号：</label>
          <input id="username" type="text" class="fl" value="用户名/邮箱/手机"/>
        </div>
        <div>
          <label for="password" class="password ft14 fl">密码：</label>
          <input id="password" type="password" class="fl"/>
          <span class="tips tc fr"><a href="#">忘记密码？</a></span>
        </div>
        <input id="login" type="image" src="<%= asset_path "login.jpg" %>"/>

        <div class="checkbox fl">
          <input type="checkbox"/>
          <span>下次自动登录</span>
        </div>
      </form>
    </div>
    <!--loginCon ends-->
    <div class="loginCon ft12 border clear">
      <ul class="clear">
        <li>
          <a href="#"><img src="<%= asset_path "sina.jpg" %>" alt=""/>新浪微博</a>
        </li>
        <li>
          <a href="#"><img src="<%= asset_path "qq.jpg" %>" alt=""/>QQ</a>
        </li>
        <li>
          <a href="#"><img src="<%= asset_path "rr.jpg" %>" alt=""/>人人网</a>
        </li>
        <li>
          <a href="#"><img src="<%= asset_path "kx.jpg" %>" alt=""/>开心网</a>
        </li>
      </ul>
      <a href="#" class="more">更多》</a>
    </div>
    <!--loginCon ends-->
    <div class="tc ft14">
      还没加入iColor?
      <br/>
      <a href="#"></a>
    </div>
    <!--tc ends-->
  </div>
  <!--loginBg ends-->
</div>
<!--header ends-->
<div class="main emagazine">
  <div class="e_new group">
    <div class="new_act_box fl">
      <h2 class="line_b_dot">最新活动</h2>

      <div class="act_img">
        <a href="#"><img src="<%= asset_path "emagezine/e_act1.jpg" %>" alt=""/></a><a href="#" class="e_act_btn fr"><img src="<%= asset_path "emagezine/e_act_btn.png" %>"/></a>

        <p>
          立邦为你刷新生活，引领2012色彩潮流
          <br/>
          活动时间：2011年12月-2012年4月
        </p>
      </div>
    </div>
    <!--new_act ends-->
    <div class="new_news_box fr">
      <h2 class="line_b_dot">最新新闻</h2>

      <div class="new_news line_b_dot group">
        <a href="#" class="fl"><img src="<%= asset_path "emagezine/news1.jpg" %>" alt=""/></a>

        <div class="fr">
          <h3><a href="#">半包4万5打造90平时尚新居</a></h3>

          <p>
            80平两居室两厅的小居，以简约风格打造，温暖而丰富的色彩使用让这套案例充满了浓浓...<a href="#">[查看详情]</a>
          </p>

          <p class="pl40">
            <span>装修diy</span><span>单身公寓</span><span>简约风格</span>
          </p>
        </div>
      </div>
      <!--new_news ends-->
      <div class="new_news line_b_dot group">
        <a href="#" class="fl"><img src="<%= asset_path "emagezine/news1.jpg" %>" alt=""/></a>

        <div class="fr">
          <h3><a href="#">半包4万5打造90平时尚新居</a></h3>

          <p>
            80平两居室两厅的小居，以简约风格打造，温暖而丰富的色彩使用让这套案例充满了浓浓...<a href="#">[查看详情]</a>
          </p>

          <p class="pl40">
            <span>装修diy</span><span>单身公寓</span><span>简约风格</span>
          </p>
        </div>
      </div>
      <!--new_news ends-->
    </div>
    <!--new_news_box ends-->
  </div>
  <!--e_new ends-->
  <div class="week_info">
    <div class="bg_fff line_b_dot group">
      <div class="week_star fl">
        <h2 class="line_b_dot">每周之星</h2>

        <div class="star_img"><img src="<%= asset_path "emagezine/week_star.jpg" %>"/>

          <p>
            设计师：王勤俭(上海)
          </p>

          <p class="xin_bg">
            286<a href="#"></a>
          </p>

          <div class="week_star_icon"><img src="<%= asset_path "emagezine/week_star_icon.png" %>" alt=""/>
          </div>
        </div>
      </div>
      <div class="master_talk fl">
        <h2 class="line_b_dot">大师访谈</h2>

        <div class="list_main group">
          <div class="img_name"><img src="<%= asset_path "emagezine/color_master1.jpg" %>" alt=""/>

            <h2>立邦专访当代世界设计界最有
              <br/>
              影响力的设计师之一Michaea Young</h2>
          </div>
          <h3>MICHAEL YOUNG</h3>

          <p>
            1966年出生于英格兰东北部的桑德兰，毕业于金顿大学家具和产品设计专业。在Tom Dixon设计工作，Smarty等两个作品在巴黎。香港和东京等巡回展与东京著名品牌E&amp;Y建立长久合作。1922年在伦敦建立M.Y工作室........<a href="#">查看详情》</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="magazine_bottom">
    <img src="<%= asset_path "emagezine/emagazine_bg3.png" %>"/>

    <div class="bg_fff line_b_dot">
      <div class="magazine_tips fl">
        <h2 class="line_b_dot">一周装修小贴士</h2>

        <div class="interview_box">
          <div class="interview">
            <h3><span>03-01</span>如何选购布艺沙发？</h3>

            <h3><span>03-01</span>将环保进行到底 将健康带回家？</h3>

            <h3><span>03-01</span>春日自然风 享受木质家装？</h3>

            <h3><span>03-01</span>清新自然的春之家？</h3>

            <h3><span>03-01</span>欢度元宵需注意？</h3>

            <h3><span>03-01</span>浪漫生活 从卧室开始？</h3>
          </div>
        </div>
      </div>
      <!--magazine_tips ends-->
      <div class="ins_works fl">
        <h2 class="line_b_dot">灵感秀推荐</h2>
        <ul>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/ins_works1.jpg" %>"/></a>

            <h3>美式黄色餐厅三居效果图</h3>

            <p class="p1 group">
              <strong>当前票数：286</strong>
            </p>

            <p class="p2 group">
              <span class="zf">转发 (124)</span><span class="pl ft12">评论 (86)</span>
            </p>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/ins_works1.jpg" %>"/></a>

            <h3>美式黄色餐厅三居效果图</h3>

            <p class="p1 group">
              <strong>当前票数：286</strong>
            </p>

            <p class="p2 group">
              <span class="zf">转发 (124)</span><span class="pl ft12">评论 (86)</span>
            </p>
          </li>
        </ul>
      </div>
      <!--ins_works ends-->
      <div class=" e_works fr">
        <h2 class="line_b_dot">大师作品</h2>
        <ul>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
          <li>
            <a href="#"><img src="<%= asset_path "emagezine/e_works1.jpg" %>"/></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bg_fff">
      <div class="e_btn">
        <a href="#">点击进入icolor官网，浏览更多资讯</a>
      </div>
    </div>
  </div>
</div>
<!--main ends-->
<div class='footer'>
  <div class='copyright e_copyright ft12'>
    <a href='#'>立邦官网</a> | <a href='contact.html'>联系我们</a> | <a href='rules.html'>会员机制</a> | <a href='#'>网上商城</a> |
    <a href='state.html'>网站声明</a>

    <p>
      Copyright 2011 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved
    </p>
  </div>
  <!--copyright ends-->
</div>
<!--footer ends-->
</body>
</html>
