<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main gift">
  <div class='wrapper gift_box'>
    <img src="<%= asset_path "paint_art/gift_banner.jpg"%>"/>
    <div class="art_step1">
      <h2><img src="<%= asset_path "paint_art/gift_step1.png"%>"/></h2>
      <p>“礼从天降”，注册有奖。每周新注册会员中，随机抽取2位幸运者，赠送立邦1881色卡各一本；随机抽取3位幸运者，赠送立邦七彩纸砖各一份。</p>
      <div class="gift_step1_conbg"><img src="<%= asset_path "paint_art/art_step1_conbg.png"%>"/></div>
    </div>
    <div class="art_step2">
      <h2><img src="<%= asset_path "paint_art/gift_step2.png"%>"/></h2>
      <p> 每月上传作品数最多的设计师，您将有机会获得由立邦准备的德国Lamy钢笔套装一份。你会是那个幸运星吗？赶快行动吧！</p>
      <div class="gift_step2_conbg"><img src="<%= asset_path "paint_art/art_step2_conbg.png"%>"/></div>
    </div>
    <div class="art_step3">
      <h2><img src="<%= asset_path "paint_art/gift_step3.png"%>"/></h2>
      <p>每周我们会从上传作品的设计师中，评选出一位案例之星，立邦将会为您提供更直接的对外宣传作品的机会。
        方式如下：<br/>
        1．新浪微博、BBS论坛、人人、开心等社区网站<br/>
        2．iColor首页展示焦点图<br/>
        3．icolor片区查询中hot名单展示</p>
      <div class="gift_step3_conbg"><img src="<%= asset_path "paint_art/art_step3_conbg.png"%>"/></div>
    </div>
  </div>
  <!--wrapper ends-->
</div><!--main ends-->