<% content_for :head do -%>
  <%= stylesheet_link_tag "reg" %>
<% end -%>
<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <h1><span class="sys_title">系统消息</span>（总共<span>5</span>条）</h1>
      <table class="sys_content ft14 tc">
        <tr class="sys_head">
          <th class="th_1">发件人</th>
          <th class="th_2">主题</th>
          <th class="th_3">时间</th>
          <th class="th_4">删除</th>
        </tr>
        <tr class="sys_row">
          <td>iColor客服</td>
          <td class="sys_topics"><a href="/info">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="#"><img src="<%= asset_path "news/sys_del.png" %>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>iColor客服</td>
          <td class="sys_topics"><a href="/info">台湾著名设计师史迪威：设计要从加法回到减法<br />台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="#"><img src="<%= asset_path "news/sys_del.png" %>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>iColor客服</td>
          <td class="sys_topics"><a href="/info">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="#"><img src="<%= asset_path "news/sys_del.png" %>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>iColor客服</td>
          <td class="sys_topics"><a href="/info">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="#"><img src="<%= asset_path "news/sys_del.png" %>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>iColor客服</td>
          <td class="sys_topics"><a href="/info">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="#"><img src="<%= asset_path "news/sys_del.png" %>" /></a></td>
        </tr>
      </table>
      <div class="bot_pager pa">
        <div class="pager ft12 fr">
          <a href="#" class="prev"><span></span>上一页</a>
          <a href="#">1</a>
          <a href="#" class="current">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#" class="next">下一页<span></span></a>
        </div><!--pager ends-->
      </div><!--bot_pager ends-->
    </div><!--section ends-->
  </div><!--shadow ends-->
</div><!--main ends-->
