<% content_for :head do -%>
    <%= stylesheet_link_tag "sitemap" %>
<% end -%>
<div class="sitemap">
  <ul class="nav nav-tabs sitemap_tab1 nomargin">
    <li class=""><a href="<%=refresh_record_index_path%>"><i class="icon-i16 icon-arrow_right"></i>刷新生活</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="<%=refresh_record_index_path%>" class="maplink">刷新实录</a>
      <a href="/refresh_life/refresh_show" class="maplink">刷新效果</a>
      <a href="http://shuaxinfuwu.nipponpaint.com.cn/" class="maplink">刷新服务</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab2 nomargin">
    <li class=""><a href="/master_interviews"><i class="icon-i16 icon-arrow_right"></i>大师殿堂</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/master_interviews/all/shinei" class="maplink">室内空间大师</a>
      <a href="/master_interviews/all/color" class="maplink">色彩大师</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab3 nomargin">
    <li class=""><a href="<%= lists_design_images_path %>"><i class="icon-i16 icon-arrow_right"></i>装修图库</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="<%= lists_design_images_path %>" class="maplink">图库精华</a>
      <a href="/images" class="maplink">装修图库大全</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab4 nomargin">
    <li class=""><a href="/weekly_stars"><i class="icon-i16 icon-arrow_right"></i>设计鉴赏</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/weekly_stars" class="maplink">设计之星</a>
      <a href="/designs" class="maplink">作品展示</a>
      <a href="/color_designs" class="maplink">色彩配搭</a>
      <a href="/inspirations" class="maplink">灵感秀</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab5 nomargin">
    <li class=""><a href="/channel/access"><i class="icon-i16 icon-arrow_right"></i>业主通道</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/channel/access" class="maplink">设计快查</a>
      <a href="/faqs" class="maplink">装修贴士</a>
      <a href="/mix_colors/new" class="maplink">配色咨询</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab6 nomargin">
    <li class=""><a href="/articles"><i class="icon-i16 icon-arrow_right"></i>行业资讯</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/articles" class="maplink">装修资讯</a>
      <a href="/color_articles" class="maplink">色彩资讯</a>
      <a href="/master_topics" class="maplink">业内动态</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab7 nomargin">
    <li class=""><a href="/softwares/case"><i class="icon-i16 icon-arrow_right"></i>应用工具</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/softwares/case" class="maplink">案例下载</a>
    </div>
  </div>

  <ul class="nav nav-tabs sitemap_tab8 nomargin">
    <li class=""><a href="/designer_events"><i class="icon-i16 icon-arrow_right"></i>精彩活动</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="">
      <a href="/designer_events" class="maplink">设计师活动</a>
      <a href="/other_events" class="maplink">其他活动</a>
      <a href="/gift_list" class="maplink">获奖名单</a>
    </div>
  </div>
</div>