<div class="content">
  <div class="title">
    <h5>
      回复在线配色
    </h5>
    <div class="num"><%= link_to '返回', "/admin/content/mix_colors", :class => "redNum" %></div>
  </div>

  <%- if resource.errors.size > 0 -%>
    <div class="nNote nFailure hideit">
      <p><strong>出错啦: </strong><%= resource.errors.full_messages.join(", ") %></p>
    </div>
  <%- end -%>

  <!-- Form with validation -->
  <%= simple_form_for(:customer_reply, :url => main_app.mix_color_path(resource),:html => { :class => "mainForm", :id => "valid", :method => "put" }) do |f| %>
    <div>
      <blockquote>
        <%= resource.description %>
        <%- unless resource.mix_color_img_file_name.blank? %>
          ”<br>“<%= image_tag resource.mix_color_img.url(:thumb) %>
        <% end %>
      </blockquote>
    </div>
    <fieldset>
      <div class="widget border">
        <%= f.input :reply_content, :as => "text", :input_html => { :rows => 7, :hint => "请在输入标题或者内容后换行！", :value => "亲爱的#{resource.user.display_name}您好！我们根据您提出的问题，设计了与您的家居与软装设计最适合的搭配风格供您参考，希望能给到您帮助！针对您问题里的“#{resource.description}”，我们建议：" }, :label => "回复内容" %>

        <div class="rowElem">
          <%= f.button :submit, :value => "回复" %>
          <div class="fix"></div>
        </div>
      </div>
    </fieldset>
  <%- end %>
</div>