<div class="content">
  <div class="title"><h5>数据统计</h5></div>
  <!-- Dynamic table -->
  <div class="widget">
    <div class="head"><h5 class="iFrames">按时间筛选</h5></div>
    <form class="mainForm" method="get">
      <fieldset>
      <div class="rowElem noborder">
        <label for="start_date">开始日期:</label>
        <div class="formRight">
          <input type="text" class="datepicker" id="start_date" name="start_date" value="<%= params[:start_date] %>" />
        </div>
        <div class="fix"></div>
      </div>
      <div class="rowElem noborder">
        <label for="end_date">结束日期:</label>
        <div class="formRight">
          <input type="text" class="datepicker" id="end_date" name="end_date" value="<%= params[:end_date] %>" />
        </div>
        <div class="fix"></div>
      </div>

      <div class="rowElem">
          <%= submit_tag "查询", class: 'greyishBtn submitForm' %>
          <div class="fix"></div>
        </div>
      </fieldset>
    </form>
  </div>


  <div class="table">
    <div class="head"><h5 class="iFrames">查询结果</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr>
          <th width="20%">项目</th>
          <th width="20%">设计师（在职）</th>
          <th width="20%">设计师（在读）</th>
          <th width="20%">家装公司</th>
          <th width="20%">普通用户</th>
        </tr>
      </thead>
      <tbody>
        <tr class="gradeA"><td>用户注册数</td><td><%= @reg_count1 %></td><td><%= @reg_count2 %></td><td><%= @reg_count3 %></td><td><%= @reg_count4 %></td></tr>
        <tr class="gradeA"><td>发表作品数</td><td><%= @design_count1 %></td><td><%= @design_count2 %></td><td><%= @design_count3 %></td><td><%= @design_count4 %></td></tr>
        <tr class="gradeA"><td>注册后登陆用户</td><td><%= @reg_and_login_count1 %></td><td><%= @reg_and_login_count2 %></td><td><%= @reg_and_login_count3 %></td><td><%= @reg_and_login_count4 %></td></tr>
        <tr class="gradeA"><td>注册后未登陆用户</td><td><%= @reg_not_login_count1 %></td><td><%= @reg_not_login_count2 %></td><td><%= @reg_not_login_count3 %></td><td><%= @reg_not_login_count4 %></td></tr>
        <tr class="gradeA"><td>sina发表作品数</td><td><%= @sina_design_count1 %></td><td><%= @sina_design_count2 %></td><td><%= @sina_design_count3 %></td><td><%= @sina_design_count4 %></td></tr>  
        <tr class="gradeA"><td>科普兰德发表作品数</td><td><%= @kepulande_design_count1 %></td><td><%= @kepulande_design_count2 %></td><td><%= @kepulande_design_count3 %></td><td><%= @kepulande_design_count4 %></td></tr>
      </tbody>
    </table>
  </div>

  <div class="table">
    <div class="head"><h5 class="iFrames">统计数据结果</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
        <tr>
          <th width="70%">数据来源</th>
          <th width="30%">数量</th>
        </tr>
      </thead>
      <tbody>
        <% @lands.each do |land| %>
        <tr class="gradeA">
          <td><%= land.source %></td>
          <td><%= land.count %></td>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <div class="table">
    <div class="head"><h5 class="iFrames">片区活跃度</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
      <tr>
        <th colspan="2">地区</th>
        <th>设计师（在职）</th>
        <th>设计师（在读）</th>
        <th>家装公司</th>
        <th>普通用户</th>
      </tr>
    </thead>

    <tbody>
      <% @data.each do |key, value| %>
      <tr class="gradeA">
        <td rowspan="3"><%= area_name(key) %></td>
        <td>注册数</td>
        <td><%= sum_count('zz', 'reg', value) %></td>
        <td><%= sum_count('zd', 'reg', value) %></td>
        <td><%= sum_count('gs', 'reg', value) %></td>
        <td><%= sum_count('pt', 'reg', value) %></td>
      </tr>
      <tr class="gradeA">
        <td>登录数</td>
        <td><%= sum_count('zz', 'login', value) %></td>
        <td><%= sum_count('zd', 'login', value) %></td>
        <td><%= sum_count('gs', 'login', value) %></td>
        <td><%= sum_count('pt', 'login', value) %></td>
      </tr>
      <tr class="gradeA">
        <td>上传作品数</td>
        <td><%= sum_count('zz', 'design', value) %></td>
        <td><%= sum_count('zd', 'design', value) %></td>
        <td><%= sum_count('gs', 'design', value) %></td>
        <td><%= sum_count('pt', 'design', value) %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  </div>

  <div class="table">
    <div class="head"><h5 class="iFrames">城市活跃度</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
          <tr>
            <th colspan="5">注册数</th>
          </tr>
        <tr>
          <th>城市</th>
          <th>设计师（在职）</th>
          <th>设计师（在读）</th>
          <th>家装公司</th>
          <th>普通用户</th>
        </tr>
      </thead>
      <tbody>
      <% @data.each do |area, value| %>
          <% value.each do |city| %>
              <tr class="gradeA">
                <td><%= city['name'] %></td>
                <td><%= city['zz']['reg'] %></td>
                <td><%= city['zd']['reg'] %></td>
                <td><%= city['gs']['reg'] %></td>
                <td><%= city['pt']['reg'] %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
      <tr>
        <th colspan="5">登录数</th>
      </tr>
        <tr>
          <th>城市</th>
          <th>设计师（在职）</th>
          <th>设计师（在读）</th>
          <th>家装公司</th>
          <th>普通用户</th>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |area, value| %>
          <% value.each do |city| %>
            <tr class="gradeA">
                <td><%= city['name'] %></td>
                <td><%= city['zz']['login'] %></td>
                <td><%= city['zd']['login'] %></td>
                <td><%= city['gs']['login'] %></td>
                <td><%= city['pt']['login'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <table cellpadding="0" cellspacing="0" border="0" class="display">
      <thead>
          <tr>
            <th colspan="5">发布作品数</th>
          </tr>
          <tr>
              <th>城市</th>
              <th>设计师（在职）</th>
              <th>设计师（在读）</th>
              <th>家装公司</th>
              <th>普通用户</th>
          </tr>
      </thead>
      <tbody>
        <% @data.each do |area, value| %>
          <% value.each do |city| %>
            <tr class="gradeA">
              <td><%= city['name'] %></td>
              <td><%= city['zz']['design'] %></td>
              <td><%= city['zd']['design'] %></td>
              <td><%= city['gs']['design'] %></td>
              <td><%= city['pt']['design'] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
