<%- content_for :head do %>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag 'jquery.masonry.js' %>
<% end -%>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">
      <div class="host_self group">
        <div class="signup_img_box"> <img class="box_shadow" src="<%= asset_path "personal/d_host_img.jpg"%>" alt="" />
          <p><a href="#">修改账户信息</a></p>
        </div>
        <div class="host_status">
          <p class="d_hostaddr">上海罗磊室内设计有限公司</p>
          <a class="back_perhome" href="f_in_works.html">返回个人主页</a>
          <div class="signup_text">
            <p> 从业5年，擅长简约及田园风格室内装修设计 </p>
          </div>
          <p class="icon_email">Email：  designer@163.com</p>
          <p class="icon_qq">Q   Q：  1204333759</p>
          <p class="icon_msn">MSN：  designer@hotmail.com</p>
          <p class="icon_fetion">飞  信：  395005</p>
        </div>
        <!--host_status ends-->
      </div>
      <!--host_self ends-->

      <ul class="system_info group">
        <li class="icon_point"><a href="f_in_point.html">我的积分</a></li>
        <li class="icon_info"><a class="host_cur" href="f_in_infolist.html">系统消息</a></li>
        <li class="icon_qustion"><a href="f_in_question.html">我的提问</a></li>
        <li class="icon_active"><a href="f_in_signup.html">我报名的活动</a></li>
      </ul>
      <!--system_info ends-->

      <div class="host_sort pr group">
        <ul class="show_tit_ul group">
          <li class="sort_show_tit"> <a class="sort_show_a" href="#">系统消息</a> </li>
        </ul>
        <span class="host_ts pa">(总共5条)</span> </div>
      <!--host_sort ends-->

      <table class="sys_content ft14 tc">
        <tr class="sys_head">
          <th class="th_1">发件人</th>
          <th class="th_2">主题</th>
          <th class="th_3">时间</th>
          <th class="th_4">删除</th>
        </tr>
        <tr class="sys_row">
          <td>icolor客服</td>
          <td class="sys_topics"><a href="info.html">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="javascript:void(0)"><img src="<%= asset_path "close_btn.jpg"%>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>icolor客服</td>
          <td class="sys_topics"><a href="#">台湾著名设计师史迪威：设计要从加法回到减法<br />
              台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="javascript:void(0)"><img src="<%= asset_path "close_btn.jpg"%>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>icolor客服</td>
          <td class="sys_topics"><a href="#">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="javascript:void(0)"><img src="<%= asset_path "close_btn.jpg"%>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>icolor客服</td>
          <td class="sys_topics"><a href="#">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="javascript:void(0)"><img src="<%= asset_path "close_btn.jpg"%>" /></a></td>
        </tr>
        <tr class="sys_row">
          <td>icolor客服</td>
          <td class="sys_topics"><a href="#">台湾著名设计师史迪威：设计要从加法回到减法</a></td>
          <td class="sys_time">2012-11-10 10:42</td>
          <td><a href="javascript:void(0)"><img src="<%= asset_path "close_btn.jpg"%>" /></a></td>
        </tr>
      </table>
      <div class="pager host_pager ft12"> <a class="prev" href="#"><span></span>上一页</a><a href="#">1</a><a href="#" class="current">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a class="next" href="#">下一页<span></span></a> </div>
      <!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->
