<div class="widget-box">
	<div class="form-actions center">
		<%= image_tag @kv.try(:file).try(:url, :big), style: 'width:700px;height:345px;' %>
	</div>
	<div class="widget-header">
		<h4>上传KV</h4>
	</div>

	<div class="widget-body">
		<div class="widget-main no-padding">
			<form>
			<div>
		    <div class="work_title fl">
		      <%= image_tag @kv.try(:file).try(:url, :list), style: 'width:200px;height:100px;' %>
		      <p class="file_name"><%= @kv.try(:file).try(:original_filename) %></p>
				  </div><!--work_title ends-->
				  <div class="work_size tc fl"><%= @kv.get_geometry(@kv.file.path(:original)) if @kv %></div>
				  
				  <div class="work_del tc fl">
				    <%= link_to '删除', delete_file_home_kv_path(@kv.id), confirm: '确认删除图片?' if @kv %>
				  </div><!--work_del ends-->
				  
				</div><!--file_list ends-->
			</form>

		</div>
	</div>
</div>