<% content_for :head do -%>
  <%= stylesheet_link_tag "news", "industry_news" %>
<% end -%>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "news/title_news.png" %>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="/">首页</a><span class="arrow_1"></span><a href="#">行业资讯</a><span class="arrow_2"></span><a class="fb" href="/articles">装修资讯</a>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper'>
    <div class='news_top clear ft12'>

      <%= link_to "全部", "/articles" %>
      <% @tags.each do |tag| %>
          <%= link_to tag.name, "/articles?tags=#{URI.escape(tag.name)}", :class => "#{'active' if tag.name == params[:tags] }" %>
      <% end %>
    </div>
    <!--news_top ends-->
    <%- @articles.each do |article| %>
        <div class="shadow">
          <div class="section clear">
            <%= image_tag article.preview_img.url(:original) if article.preview_img %>
            <div class="article fl ft14">
              <h1><a href='#'><%= link_to article.title, "/articles/#{article.id}" %></a></h1>
              <span>时间：<%= article.published_at.to_formatted_s(:db) %></span>
              <p><%= raw article.intro %>...<%= link_to "[详细]", "/articles/#{article.id}" %></p>
            </div>
            <!--article ends-->
          </div><!--section ends-->
        </div><!--shadow ends-->
    <%- end %>
    <div class="pag_container">
      <div class="pager ft12">
        <%= paginate @articles %>
      </div>
      <!--pager ends-->
    </div>
    <!--pag_container ends-->
    <div class="weekly_tips ft12" id="weekly_tip_body">
      <%= render :partial => "weekly_tips" %>
    </div>
    <!--weekly_tips ends-->
    </div>
    <!--wrapper ends-->
    <div class='sub_bot ft12 pr' id="weekly_tip_nav">
      <%= render :partial => "weekly_tips_nav" %>
    </div>
    <!--sub_bot ends-->
  </div>
  <!--main ends-->
  <script type="text/javascript">
      function WeeklyTip(id) {
          $.get("/articles/get_weekly_tips", {id:id}, function(data) {
          });
      }
  </script>

