<% content_for :head do -%>
    <%= stylesheet_link_tag "news", "industry_news" %>
    <style type="text/css">
        .article a {
            color: #b90000;
        }
        /*.faqs p.ft14{ width:780px; line-height:18px; margin-bottom:15px;}*/
    </style>
<% end -%>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "news/title_news.png" %>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/articles">装修资讯</a></em>
    <em><a href="/articles">行业资讯</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <div class='news_top clear ft12'>

      <%= link_to "全部", "/articles", :class => "#{'active' if !params[:tags]  }" %>
      <% ["设计相关","产品相关"].each do |tag| %>
          <%= link_to tag, "/articles?tags=#{URI.escape(tag)}", :class => "#{'active' if tag == params[:tags] }" %>
      <% end %>
    </div>
    <!--news_top ends-->
    <%- if request.url.include? 'tags'
     tag = request.url.split("=")[1] 
     -%>
    <%- @articles.each do |article| %>
        <div class="shadow">
          <div class="section clear">
            <%= image_tag article.preview_img.url(:icolor_articles) if article.preview_img %>
            <div class="article fl ft14">
              <h1><%= link_to article.title, "/articles/#{article.id}?tags=#{tag}" %></h1>
              <span>时间：<%= article.published_at.to_date %></span>
              <p><%= raw article.intro %>...<br/><%= link_to "[详细]", "/articles/#{article.id}?tags=#{tag}" %></p>
            </div>
            <!--article ends-->
          </div><!--section ends-->
        </div><!--shadow ends-->
    <%- end %>     
    <%- else -%>
       <%- @articles.each do |article| %>
        <div class="shadow">
          <div class="section clear">
            <%= image_tag article.preview_img.url(:icolor_articles) if article.preview_img %>
            <div class="article fl ft14">
              <h1><%= link_to article.title, "/articles/#{article.id}" %></h1>
              <span>时间：<%= article.published_at.to_date %></span>
              <p><%= raw article.intro %>...<br/><%= link_to "[详细]", "/articles/#{article.id}" %></p>
            </div>
            <!--article ends-->
          </div><!--section ends-->
        </div><!--shadow ends-->
    <%- end %>    
    <%- end %>
    <div class="pag_container">
      <div class="pager ft12">
        <%= paginate @articles %>
      </div>
      <!--pager ends-->
    </div>
    <!--pag_container ends-->
    <div class="weekly_tips ft12" id="weekly_tips">
      <%= render :partial => "weekly_tips/index" %>
    </div>
    <!--weekly_tips ends-->
    </div>
    <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12" id="weekly_tips_nav">
      <%= render :partial => "weekly_tips/nav" %>
    </div>
    </div>
    <!--sub_bot ends-->
  </div>
  <!--main ends-->