<% content_for :head do -%>
  <%= stylesheet_link_tag "news", "industry_news" %>
<% end -%>
<div class="main industry_news">
	<div class='sub_title tr'>
		<img src="<%= asset_path "design/title_news.png" %>" />
	</div>
	<div class='sub_nav ft12 pr tr'>
		<a href="#">首页</a><span class="arrow_1"></span><a href="#">行业资讯</a><span class="arrow_2"></span><a class="fb" href="#">装修资讯</a>
	</div><!--sub_nav ends-->
	<div class="wrapper group news_detail">
	 <div class='news_top clear ft12'>
      <%=link_to "全部","/articles"%>
      <% @tags.each do |tag| %>
        <%= link_to tag.name,  "/articles?tags=#{URI.escape(tag.name)}", :class => "#{'active' if tag.name == params[:tags] }"%>
      <% end %>
     </div>
		<div class="shadow news_detail_main">
			<div class="section">
				<div class="title">
					<h1><%= @article.title %></h1>
					<div class="info">
						<!--<div class="from">来源：<%= #@article.content_source %></div>-->
						<div class="time">时间：<%= @article.published_at %></div>
                        <!--<%=# render :partial => 'jiathis_button' %>-->
					</div>
				</div>
				<div class="news_content">
                  <%= raw @article.body %>
				</div>
				<%= render :partial => 'news_footer' %>
		    </div>
		<%= render :partial => 'news_detail_side' %>
	</div>
	<div class="sub_bot pr">
	<div class="pager topic_pager ft12">
    <%- unless @prev_article.nil? %>
	    <a href="/articles/<%= @prev_article.id %>" class="prev"><span></span>上一篇</a>
    <%- end %>
	<%- unless @next_article.nil? %>
	    <a href="/articles/<%= @next_article.id %>" class="next"><span></span>下一篇</a>
    <%- end %>
	</div><!--pager ends-->
	</div><!--sub_bot ends-->
</div>