<div class="container-fluid">
	<div class="design_works pad_t60">
		<div class="wrapper pad_b40">
			<div class="clearfix sys_top">
				<a class="pull-left show" href="<%= user_asks_path(current_user) if current_user %>" target="_blank" id='monitor_link_326848'>
					<%= image_tag 'baicheng/system/userimg.jpg' %>
				</a>
				<!-- <a href="javascript:;" class="pull-left well well-small sys_user_name pr"><span class="arrow_left"><img src="images/system/arrow_left.jpg"></span><strong class="color_red">景涛</strong>的活动主页</a> -->

				<a href="<%= user_asks_path(current_user) if current_user %>" class="pull-left sys_user_name" target="_blank"><span><strong class="color_red"><%= current_user.display_name if current_user %></strong>的活动主页</span></a>
				<a href="<%= stories_path %>" class="pull-left sys_works_more" id='monitor_link_326845'>更多家装需求 期待您的精彩设计</a>
			</div>
			<div class="redline_b4 pad_b40">
				<h5 class="sys_title"><span>我想设计</span></h5>
				<ul class="thumbnails design_list nomargin">
					<li class="span2">
						<div class="thumbnail nopadding">
							<!-- <span class="list_tag list_tag_full"></span> -->
							<a href="javascript:;" class="list_img_a">
								<%= image_tag 'baicheng/mydesign/list1.jpg' %>
							</a>
							<div class="design_list_tit">
								<h5 class="nomargin"><a href="javascript:;">爱家，就用爱去浇灌它</a></h5>
								<p class="nomargin">小丸子 (杭州)</p>
							</div>
						</div>
						<p class="well well-small text-center status">倒计时<i class="i_icon i_icon_big icon_day">7</i>天</p>
					</li>
					<li class="span2">
						<div class="thumbnail nopadding">
							<!-- <span class="list_tag list_tag_full"></span> -->
							<a href="javascript:;" class="list_img_a">
								<%= image_tag 'baicheng/mydesign/list1.jpg' %>
							</a>
							<div class="design_list_tit">
								<h5 class="nomargin"><a href="javascript:;">爱家，就用爱去浇灌它</a></h5>
								<p class="nomargin">小丸子 (杭州)</p>
							</div>
						</div>
						<p class="well well-small text-center status"><i class="i_icon i_icon_xbig mar_h5 icon_full"></i>设计已满</p>
					</li>
					<li class="span2">
						<div class="thumbnail nopadding">
							<!-- <span class="list_tag list_tag_full"></span> -->
							<a href="javascript:;" class="list_img_a"><%= image_tag 'baicheng/mydesign/list1.jpg' %></a>
							<div class="design_list_tit">
								<h5 class="nomargin"><a href="javascript:;">爱家，就用爱去浇灌它</a></h5>
								<p class="nomargin">小丸子 (杭州)</p>
							</div>
						</div>
						<p class="well well-small text-center status">倒计时<i class="i_icon i_icon_big icon_day">7</i>天</p>
					</li>
					<li class="span2">
						<div class="thumbnail nopadding">
							<!-- <span class="list_tag list_tag_full"></span> -->
							<a href="javascript:;" class="list_img_a"><%= image_tag 'baicheng/mydesign/list1.jpg' %></a>
							<div class="design_list_tit">
								<h5 class="nomargin"><a href="javascript:;">爱家，就用爱去浇灌它</a></h5>
								<p class="nomargin">小丸子 (杭州)</p>
							</div>
						</div>
						<p class="well well-small text-center status"><i class="i_icon i_icon_xbig mar_h5 icon_warn"></i>已过期</p>
					</li>
				</ul>
				<h5 class="sys_title"><span>我已上传</span></h5>
				<ul class="thumbnails design_list nomargin">
					<%- @designs.each do |design| %>
						<li class="span2">
							<div class="thumbnail nopadding">
								<!-- <span class="list_tag list_tag_deal"></span> -->
								<a href="<%= design_compete_path(design) %>" class="list_img_a">
									<%= image_tag(design.cover_img.file.url(:baicheng_list)) if design.cover_img.present? %>
								</a>
								<div class="works_tit">
									<h5 class="nomargin"><a href="javascript:;"></a><%= design.title %></h5>
									<p class="nomargin"><span class="pull-right"><%= design.design_style_names.split(',')[0] %></span><%= design.user.display_name %></p>
								</div>
							</div>
						</li>
					<%- end %>
				</ul>
			</div>
		</div>
	</div>
</div>