<%- content_for :tail do %>
	<script type="text/javascript" charset="utf-8">
	    $(function() {
	        var options = {
	            data  : data
	        }
	        var sel = new LinkageSelect(options);
	        sel.bind('.level_1', <%= params[:province_id].present? ? params[:province_id] : "null" %>);
	        sel.bind('.level_2', <%= params[:city_id].present? ? params[:city_id] : "null" %>);
	        sel.bind('.level_3', <%= params[:area_id].present? ? params[:area_id] : "null" %>);
	    });
	</script>
<%- end %>
<div class="container-fluid">
	<div class="mydesign">
		<div class="banner1"></div>
		<div class="wrapper pr pad_b40">
			<%= form_for @search, :url => stories_path, :html =>{:class => 'design_list_form mar_h20 clearfix', method: :get} do |f| %>
				<fieldset class="ft12 form-inline search_area text-right">
					<p class="pull-left">
						房型图排序
						<%= select_tag :sort, options_for_select([["默认排序",""],
			          ["热门排序↑","hot"],
			          ["热门排序↓", "new_chance"]], params[:sort]), :class => "span2", :onChange =>'submit();' %>
					</p>
						寻找同城房型图
					<select id="province" class="level_1 span2" name="province_id"></select>
					<select id="city" class="level_2 span2" name="city_id"></select>
					<select id="country" class="level_3 span2" name="area_id"></select>
					<button type="" class="btn btn-small btn_yellow">确定</button>
					<%= f.text_field :user_username_or_user_name_or_user_name_of_company_like, :class =>"span2",:placeholder =>"搜用户" %>
					<input type="submit" class="search_btn" value="">
				</fieldset>
			<%- end %>
			<div class="divider_hori_dot"></div>
			<div class="redline_b4">
				<ul class="thumbnails design_list nomargin">
					<%- @stories.each do |story| %>
					  <li class="span2">
							<div class="thumbnail nopadding">
								<%- if story.designs_count == 3 %>
								  <span class="list_tag list_tag_full"></span>
								<%- end %>
								  <!-- <span class="list_tag list_tag_deal"></span> -->
								<a href="<%= story_path(story.id) %>" class="list_img_a">
									<%= image_tag(story.story_image.file.url(:baicheng_list)) %>
								</a>
								<div class="design_list_tit">
									<h5 class="nomargin"><a href="<%= story_path(story.id) %>"><%= story.title %></a></h5>
									<p class="nomargin"><%= story.user.display_name %> (<%= story.location %>)</p>
								</div>
							</div>
						</li>
					<%- end %>
				</ul>
				<div class="pagination pagination-centered">
					<%= paginate @stories %>
				</div>
			</div>
		</div>
	</div>
</div>