<%- content_for :head do %>
	<%= stylesheet_link_tag "baicheng/steps.css" %>

<script type='text/javascript'>
// Conversion Name: 因爱之名-我要装修内页-Landing on Step1
// INSTRUCTIONS 
// The Conversion Tags should be placed at the top of the <BODY> section of the HTML page. 
// In case you want to ensure that the full page loads as a prerequisite for a conversion 
// being recorded, place the tag at the bottom of the page. Note, however, that this may 
// skew the data in the case of slow-loading pages and in general not recommended. 
//
// NOTE: It is possible to test if the tags are working correctly before campaign launch 
// as follows:  Browse to http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=at, which is 
// a page that lets you set your local machine to 'testing' mode.  In this mode, when 
// visiting a page that includes an conversion tag, a new window will open, showing you 
// the data sent by the conversion tag to the MediaMind servers. 
// 
// END of instructions (These instruction lines can be deleted from the actual HTML)
var ebRand = Math.random()+'';
ebRand = ebRand * 1000000;
//<![CDATA[ 
document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=326816&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
//]]>

CClicki[10008]._trackEvent({
    type: 1,
    labels: [
        {"按钮名称":"Landing on Step1"}
    ],
    values: [
        {"数量":1}    
    ]
});
</script>
<noscript>
<img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/BurstingPipe/ActivityServer.bs?cn=as&amp;ActivityID=326816&amp;ns=1"/>
</noscript>
<%- end %>

<% content_for :tail do -%>
  <script type="text/javascript">
  	$(function(){
  		(function($){
        $('.refresh-form').on('click', '.upload2013-btn', function(){
         $(this).toggleClass('upload2013-btn-down').next().slideToggle(200)
         .closest('.refresh-control').siblings().find('.clear').slideUp(200);
        });
  			$('textarea').bind('keydown keyup', function(){
  				var $this = $(this);
  				var total = $this.data('total');
  				if(!total) return;
  				var len = total - $this.val().length;
  				if(len < 0) {
  					$this.val($this.val().slice(0, total));
  				} else{
  					$this.next().find('b').text(len);
  				}
  			});
  		}($));

  		if(typeof data != 'undefined'){
  			var sel = new LinkageSelect({data : data});
  			sel.bind('.linkageseclet .level_1','<%=@story.area.try(:parent).try(:parent).try(:id) %>', '省/直辖市');
  			sel.bind('.linkageseclet .level_2','<%=@story.area.try(:parent).try(:id) %>', '城市');
  			sel.bind('.linkageseclet .level_3','<%=@story.try(:area_id) %>', '区');
  		}
  	});
  	function form_valid(){
    flag = true
    alt = ""
  	// story_title = $('#story_title').val();
  	// story_content = $('#story_content').val();
  	story_area_id = $('#story_area_id').val();
  	story_property_name = $('#story_property_name').val();
  	apartment = $("[name='apartment']:checked");
    style = $("[name='style[]']:checked");
    acreage = $("[name='acreage[]']:checked");
    room = $("[name='room[]']:checked");
    fee = $("[name='fee']:checked");

    
    // imgCount = $(".story_image_size").text();
    // use = $("[name='use[]']:checked");
    // if(story_title == ""){
    //   alt += "请输入主题！";
    //   flag = false;
    // }
    // if(story_content == ""){
    //   alt += "请输入正文！";
    //   flag = false;
    // }
    // if(parseInt(imgCount) == 0){
    //   alt += "不能一张图片都没有哦！";
    //   flag = false;
    // }
    if(story_area_id == ""){
      alt += "请选择地区！";
      flag = false;
    }
    if(story_property_name == ""){
      alt += "请输入楼盘名称！";
      flag = false;
    }
    if(apartment.length==0){
      alt += "请选择户型！";
      flag = false;
    }
    if(style.length == 0){
      alt += "请选择风格！";
      flag = false;
    }
    if(acreage.length == 0){
    	alt += "请选择面积！"
    }
    if(room.length == 0){
      alt += "请选择重点设计功能区！";
      flag = false;
    }
    if(fee.length==0){
      alt += "请选择装修预算！";
      flag = false;
    }
    if(flag == false){
      alert(alt);
      return false;
    }else{
      return true;
    }
  }
  </script>

<% end %>
<div class="container-fluid step1">
	<div class="container">
		<h1>step1 填写家装需求</h1>
    <%= form_for @story, html:{:class=>"refresh-form ft12", :onsubmit => "return form_valid();"} do |f| %>
			<div class="refresh-control">
				<label>所在城市<b>*</b></label>
				<div class="form-article linkageseclet">
					<select class="level_1">
						<!-- <option>省/直辖市</option> -->
					</select>
					<select class="level_2">
						<!-- <option>城市</option> -->
					</select>
					<select class="level_3" id="story_area_id" name="story[area_id]">
						<!-- <option>区</option> -->
					</select>
				</div>
			</div>
			<div class="refresh-control mt20">
				<label>楼盘名称<b>*</b></label>
				<div class="form-article">
          <%= f.text_field :property_name, class: "form-text1 nomargin" -%>
				</div>
			</div>
			<div class="refresh-control">
				<label>户型<b>*</b></label>
				<div class="form-article upload2013-toggle pull-left">
					<a href="javascript:;" class="upload2013-btn pa"></a>
					<div class="clear">
            <% ImageLibraryCategory.where(parent_id: 1).each do |img_lib_cat| %>
              <label>
                  <%=radio_button_tag "apartment",img_lib_cat.id, false,:id=>"apartment"%><%=img_lib_cat.title%>
              </label>
            <% end %>
					</div>
				</div>
			</div>
			<div class="refresh-control">
				<label>期望风格<b>*</b></label>
				<div class="form-article upload2013-toggle checkbox2013">
					<a href="javascript:;" class="upload2013-btn pa"></a>
					<div class="clear none">
						<% ImageLibraryCategory.where(parent_id: 34).each do |img_lib_cat| %>
              <label>
                <%= check_box_tag "style[]", img_lib_cat.id %><%=img_lib_cat.title%>
              </label>
            <% end %>
					</div>
				</div>
			</div>
			<div class="refresh-control">
				<label>面积<b>*</b></label>
				<div class="form-article upload2013-toggle checkbox2013">
					<a href="javascript:;" class="upload2013-btn pa"></a>
					<div class="clear none">
						<% ImageLibraryCategory.where(parent_id: 28).each do |img_lib_cat| %>
              <label>
                 <%=check_box_tag "acreage[]",img_lib_cat.id%><%=img_lib_cat.title%>
              </label>
            <% end %>
					</div>
				</div>
			</div>
			<div class="refresh-control">
				<label>重点设计功能区<b>*</b></label>
				<div class="form-article upload2013-toggle checkbox2013">
					<a href="javascript:;" class="upload2013-btn pa"></a>
					<div class="clear none">
						<% ImageLibraryCategory.where("id in (83,84,85,86,87,90,91,89)").each do |img_lib_cat| %>
              <label>
                  <%=check_box_tag "room[]",img_lib_cat.id%><%=img_lib_cat.title%>
              </label>
            <% end %>
					</div>
				</div>
			</div>
			<div class="refresh-control">
				<label>装修预算<b>*</b></label>
				<div class="form-article upload2013-toggle checkbox2013">
					<a href="javascript:;" class="upload2013-btn pa"></a>
					<div class="clear none">
						<label><input id="fee" name="fee" type="radio" value="5万-8万">5万-8万</label>
						<label><input id="fee" name="fee" type="radio" value="8万-15万">8万-15万</label>
						<label><input id="fee" name="fee" type="radio" value="15万-30万">15万-30万</label>
						<label><input id="fee" name="fee" type="radio" value="30-100万">30-100万</label>
						<label><input id="fee" name="fee" type="radio" value="100万以上">100万以上</label>
					</div>
				</div>
			</div>
			<div class="refresh-control">
				<label style="margin-top:0;">个性需求</label>
				<div class="form-article">
          <%= f.text_area :demand, "data-total"=>"40", :placeholder=>"我喜欢简单的生活，装修不需要很华丽，但一定要很舒服！" -%>
					<span class="helper-text">还可以输入<b>40</b>字</span>
				</div>
			</div>
			<p class="text-center cr">
        <input type="hidden"  value="<%=params[:id] if params[:id]%>" name="stroy_id">
				<input type="submit" class="step1-btn" id='monitor_link_326817' value=""><br>*红色标注为必填项
			</p>
		<% end %>
	</div>
</div>