<div class="span3 well well-small nom">
  <p class="text-right" style="margin-top:50px;">
    <a href="/manage/banner_activities?page_name=其它活动内页&position=1" class="btn btn-medium <%= i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">230x230</a>
  </p>
  <div class="clearfix">
    <p class="text-left">
      <a href="/manage/banner_activities?page_name=其它活动内页&position=2" class="btn btn-small span7 <%= i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">670x85</a>
      <a href="/manage/banner_activities?page_name=其它活动内页&position=3" class="btn btn-medium span4 pull-right <%= i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">230x170</a>
    </p>
  </div>
  <p class="text-right" style="margin-top:10px;margin-bottom:10px;">
    <a href="/manage/banner_activities?page_name=其它活动内页&position=4" class="btn btn-medium <%= i_banner.position == 4 ? 'btn-primary' : 'btn-light' %>">230x230</a>
  </p>

  <div class="clearfix" style="margin-bottom:20px;">
    <p class="text-left">
      <a href="/manage/banner_activities?page_name=其它活动内页&position=5" class="btn btn-small span7 <%= i_banner.position == 5 ? 'btn-primary' : 'btn-light' %>">670x85</a>
      <a href="/manage/banner_activities?page_name=其它活动内页&position=6" class="btn btn-small span5 <%= i_banner.position == 6 ? 'btn-primary' : 'btn-light' %>">310x85</a>
    </p>
  </div>
</div>