<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
  	<p>[<%=@media.name%>]<%=@media.username%> 用户您好！</p>
  	<p>以下是今天的提问数量统计：</p>
    <% @arr.each do |arr| -%>
      <p>
        [<%=arr[0]%>]　今天有<%=arr[1]%>条新问题，其中有<%=arr[2]%>条问题还没有回复。历史统计一共还有<%=arr[3]%>条问题没有回复。
      </p>
    <%end-%>
  </body>
</html>
