<% cache 'footer_categories' do %>
<ul class="map-bot index_main mt10 clearfix unstyled">
  <li class="map-bot1">
    <strong>装修户型</strong>
    <div>
      <%- @footer_categories[0][0..8].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @footer_categories[0][9..-1].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot2">
    <strong>装修风格</strong>
    <div>
      <%- @footer_categories[1][0..8].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @footer_categories[1][9..17].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @footer_categories[1][18..-1].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot3">
    <strong>装修空间</strong>
    <div>
      <%- @footer_categories[2][0..9].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @footer_categories[2][10..-1].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot4">
    <strong>装修色彩</strong>
    <div>
      <%- @footer_categories[3][0..9].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @footer_categories[3][10..-1].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot5">
    <strong>装修费用</strong>
    <div>
      <%- @footer_categories[4].each do |c| %>
      <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
</ul>
<% end %>