<ul class="unstyled map-right index_main mt10 js-img_show">
	<li class="clearfix refresh_r_tit">
		<li class="map-r0 text-right"><strong><%= name %></strong><a href="#">更多></a></li>
	</li>
	<% IColumnData.show_data(i_column_type_id).limit(5).each_with_index do |dcs,index| %>
	<li class="map-r1 dott1 <%="active" if index == 0%>">
      <i class="icon-i16 icon-<%= index+1 %>"></i>
      <strong class="js-title"><%=dcs.title%></strong><br>
      <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
  </li>
	<% end %>
</ul>