<%- content_for :tail do %>
  <script type="text/javascript">
    $('.more_comment').bind('click', function(e) {
      var page = $(e.currentTarget).data('page')
      $.ajax({
        type: 'GET',
        url: '/design_images/<%= @image.id %>/more_comment.js?page='+page
      });
    });
  </script>
<%- end %>

<%- comments.each do |c| %>
  <div class="img_reply_item clear">
    <%- if c.user.try(:avatar) -%>
      <%= image_tag(c.user.avatar.file(:icon), :size =>"50x50", :class=>"fl" )%>
    <%- else -%>
      <%= image_tag "news/regimg_bg.jpg", size: '50x50', :class =>"fl" %>
    <%- end -%>
    <div class="fl this_btn">
      <span class="imgbase_reply_arrow"></span>
      <p>
        <%- if @image.user == current_user %>
          <a class="js-reply" href="javascript:;">回复</a>
        <%- end %>
        <strong><%= c.user ? c.user.display_name : "匿名" %></strong>
        <span><%= c.created_at.to_date %></span>
      </p>
      <p><%= c.content %></p>
    </div>

    <%= form_for(ReplyMsg.new, :html =>{:class =>"img_reply img_reply2 fl"}) do |f| %>
      <h3>回复评论</h3>
      <%= f.hidden_field :show_id, value: @image.id %>
      <%= f.hidden_field :comment_id, value: c.id %>
      <%= f.hidden_field :reply_type, value: "design_images" %>
      <%= f.text_area :content %>
      <div>
        <button class="img_reply_btn">提交回复</button>
        <button class="img_reply_btn img_reply_btn_close js-reply_close">取消</button>
      </div>
    <%- end %>

    <%- c.reply_msgs.order("created_at DESC").each do |r| %>
      <div class="fl reply_margin">
        <p>
          <strong>
            <%= r.user.display_name %>
          </strong>
          <span>
            <%= r.created_at.to_date %>
          </span>
          <%- if @image.user == current_user %>
            <%= link_to "[删除回复]", reply_msg_path(r.id), :class => "reply_del color", method: :delete, :confirm => "Are you sure?" %>
          <%- end %>
        </p>
        <p><%= r.content %></p>
      </div>
    <%- end %>
  </div>
<%- end %>
