<div class="file_list clear upload_item" id="design_image<%= upload.id %>">
    <div class="work_title fl">
      <%= image_tag upload.file.url(:thumb), :class => "fl" %>
      <p class="file_name"><%= upload.file.original_filename %></p>
      <%= hidden_field_tag "#{params[:for]}[design_image_ids][]", upload.id %>
  </div><!--work_title ends-->
  <div class="work_size tc fl"><%= number_to_human_size upload.file.size %></div>
  <div class="set_cover tc fl">
      <input type="radio" name="cover_image" value="<%= upload.id %>" />
  </div><!--set_cover ends-->
  <div class="work_del tc fl">
      <a href="javascript:$('#design_image<%= upload.id %>').remove();uploads_size();" class="load_del">删除</a>
  </div><!--work_del ends-->
</div><!--file_list ends-->