<%- content_for :head do %>
  <%= stylesheet_link_tag "base", "reset", "imgbase", "jquery.slider"%>
  <%= javascript_include_tag "jquery", "jquery.slider" %>
  <script type="text/javascript">
    $(function(){
			var $slider = $('.imgbase_slider'),
				$list   = $('.imgbase_list'),
				$view   = $('#imgbase_view'),
				$info   = $('#imgbase_info'),
				$toggle = $('.imgbase_toggle'),
				$form   = $('form.tab_content');
			$slider.slider({
				speed : 1500,
				mouse : 'mouseover',
				duration : 5000,
				callback : function(num){
					var $curr = $list.find('li').eq(num),
						views = $curr.data('view'),
						html  = $curr.find('div').html();
					$curr.addClass('imgbase_curr').siblings().removeClass('imgbase_curr');
					$view.text(views);
					$info.html(html);
				}
			});
			$list.on('mouseenter', 'li', function(){
				var index = $(this).index();
				$slider.find('li').eq(index).mouseover();
			}).mouseleave(function(){
				$slider.mouseleave();
			});
			$toggle.click(function(){
				var $this = $(this);
				$this.toggleClass('form_expand').text($this.hasClass('form_expand') ? '展开' : '收起');
				$form.toggleClass('form_mini');
			});
		});
  </script>
<%- end %>
<div class="imgbase">
			<div class="imgbase_title">
				<img src="<%= asset_path "imgbase/imgbase_tit.png" %>" >
				<div class="clear">
					<div class="fr imgbase_search">
						<input type="text"><button>搜图</button>
						<span>热门搜索：<a href="#">橙色系</a><a href="#">小户型</a><a href="#">宜家</a><a href="#">墙面色</a></span>
					</div>
					<p>iColor为您提供<strong><%= @image_length%></strong>张装修图片</p>
				</div>
			</div><!-- imgbase_title -->
			<div class="imgbase_main pr">
				<div class="tit_tab clear">
					<p class="fr">
						<a href="/design_images/decoration_parts" class="<%="active_condition" if params[:controller] == 'design_images' && params[:imageable_type] == nil %>">所有图片</a>
						<a href="/design_images/decoration_parts?imageable_type=MasterDesign" class="<%="active_condition" if params[:imageable_type] == 'MasterDesign'%>">大师作品</a>
						<a href="/design_images/decoration_parts?imageable_type=Design" class="<%="active_condition" if params[:imageable_type] == 'Design'%>">推荐作品</a>
						<a href="/design_images/decoration_parts?imageable_type=ColorDesign" class="<%="active_condition" if params[:imageable_type] == 'ColorDesign'%>">色彩搭配</a>
					</p>
					<ul class="fl">
						<li><a href="/design_images">家装设计</a></li>
						<li class="active_tit"><a href="/design_images/decoration_parts">装修部件</a></li>
					</ul>
					<!-- <ul class="fl">
						<li><a href="#" class="fresh">刷新百城</a></li>
					</ul> -->
				</div><!-- tit_tab -->
				<form class="tab_content">
					<fieldset>
						<label>家具：</label>
						<span>
							<a href="#">实木家具</a>
							<a href="#">板式家具</a>
							<a href="#">藤艺家具</a>
							<a href="#">铁艺家具</a>
							<a href="#">红木家具</a>
							<a href="#">沙发</a>
							<a href="#">单人沙发</a>
							<a href="#">椅子</a>
							<a href="#">贵妃椅</a>
							<a href="#">茶几</a>
							<a href="#">电视柜</a>
							<a href="#">餐桌</a>
							<a href="#">餐边柜</a>
							<a href="#">吧椅</a>
							<a href="#">书桌</a>
							<a href="#">电脑桌</a>
							<a href="#">儿童家具</a>
							<a href="#">榻榻米</a>
							<a href="#">床</a>
							<a href="#">沙发床</a>
							<a href="#">儿童床</a>
							<!--  -->
						</span>
					</fieldset>
					<fieldset>
						<label class="hide">家具：</label>
						<span>
							<a href="#">婴儿床</a>
							<a href="#">罗汉床</a>
							<a href="#">床垫</a>
							<a href="#">梳妆台</a>
							<a href="#">衣柜</a>
							<a href="#">床头柜</a>
							<a href="#">鞋柜</a>
							<a href="#">储物柜</a>
							<a href="#">搁架</a>
							<a href="#">书架</a>
							<a href="#">博古架</a>
							<a href="#">酒驾</a>
							<a href="#">酒柜</a>
							<a href="#">展示柜</a>
						</span>
					</fieldset>
					<fieldset>
						<label>灯具：</label>
						<span>
							<a href="#">吊灯</a>
							<a href="#">壁灯</a>
							<a href="#">台灯</a>
							<a href="#">落地灯</a>
							<a href="#">吸顶灯</a>
							<a href="#">水晶灯</a>
							<a href="#">投射灯</a>
							<a href="#">筒灯</a>
						</span>
					</fieldset>
					<fieldset>
						<label>布艺：</label>
						<span>
							<a href="#">窗帘</a>
							<a href="#">地毯</a>
							<a href="#">床上用品</a>
							<a href="#">桌布</a>
							<a href="#">靠垫</a>
							<a href="#">抱枕</a>
							<a href="#">坐垫</a>
						</span>
					</fieldset>
					<fieldset>
						<label>墙面：</label>
						<span>
							<a href="#">背景墙</a>
							<a href="#">墙贴</a>
							<a href="#">壁纸</a>
							<a href="#">涂料</a>
							<a href="#">手绘墙</a>
							<a href="#">装饰画</a>
							<a href="#">照片墙</a>
						</span>
					</fieldset>
					<fieldset>
						<label>饰品：</label>
						<span>
							<a href="#">钟</a>
							<a href="#">烛台</a>
							<a href="#">饰品</a>
							<a href="#">珠帘</a>
							<a href="#">花瓶</a>
							<a href="#">鱼缸</a>
							<a href="#">绿植</a>
							<a href="#">园艺装饰</a>
							<a href="#">花架</a>
							<a href="#">相框</a>
							<a href="#">摆件</a>
						</span>
					</fieldset>
					<fieldset>
						<label>家电：</label>
						<span>
							<a href="#">电视</a>
							<a href="#">音箱</a>
							<a href="#">冰箱</a>
							<a href="#">空调</a>
							<a href="#">油烟机</a>
							<a href="#">洗衣机</a>
							<a href="#">热水器</a>
							<a href="#">小家电</a>
							<a href="#">厨房电器</a>
							<a href="#">燃气灶</a>
							<a href="#">消毒柜</a>
						</span>
					</fieldset>
					<fieldset>
						<label>橱柜：</label>
						<span>
							<a href="#">橱柜</a>
							<a href="#">整体橱柜</a>
							<a href="#">橱柜配件</a>
							<a href="#">厨具</a>
							<a href="#">餐具</a>
							<a href="#">茶具</a>
							<a href="#">橱柜五金</a>
						</span>
					</fieldset>
					<fieldset>
						<label>卫浴：</label>
						<span>
							<a href="#">洁具</a>
							<a href="#">座便器</a>
							<a href="#">淋浴房</a>
							<a href="#">台盆</a>
							<a href="#">浴缸</a>
							<a href="#">木质洁具</a>
							<a href="#">浴室柜</a>
							<a href="#">浴帘</a>
							<a href="#">卫浴五金</a>
							<a href="#">龙头|水槽</a>
							<a href="#">淋浴柱|淋雨浴霸|换气扇</a>
							<a href="#">卫浴镜</a>
						</span>
					</fieldset>
					<fieldset>
						<label>瓷砖：</label>
						<span>
							<a href="#">瓷砖</a>
							<a href="#">马赛克</a>
							<a href="#">石材</a>
							<a href="#">墙砖</a>
							<a href="#">花砖</a>
							<a href="#">腰线</a>
							<a href="#">地砖</a>
						</span>
					</fieldset>
					<fieldset>
						<label>地板：</label>
						<span>
							<a href="#">地板</a>
							<a href="#">木地板</a>
							<a href="#">实木地板</a>
							<a href="#">复合地板</a>
						</span>
					</fieldset>
					<fieldset>
						<label>用品：</label>
						<span>
							<a href="#">晾衣架</a>
							<a href="#">开关插座</a>
							<a href="#">镜子</a>
							<a href="#">电话</a>
							<a href="#">玻璃</a>
							<a href="#">医疗设备</a>
							<a href="#">乐器</a>
							<a href="#">健身器</a>
						</span>
					</fieldset>
					<fieldset>
						<label>门窗：</label>
						<span>
							<a href="#">门</a>
							<a href="#">窗</a>
						</span>
					</fieldset>
					<fieldset>
						<label>数码：</label>
						<span>
							<a href="#">手机</a>
							<a href="#">电脑</a>
						</span>
					</fieldset>
					<fieldset>
						<label>其他：</label>
						<span>
							<a href="#">门洞</a>
							<a href="#">隔断</a>
							<a href="#">楼梯</a>
							<a href="#">吧台</a>
							<a href="#">壁炉</a>
							<a href="#">墙裙</a>
							<a href="#">屏风</a>
							<a href="#">围栏</a>
							<a href="#">踢脚线</a>
							<a href="#">花板</a>
							<a href="#">罗马柱</a>
							<a href="#">吊顶</a>
						</span>
					</fieldset>
					<fieldset class="lastfield">
						<label>拼音检索：</label>
						<a href="#">A</a>|
						<a href="#">B</a>|
						<a href="#">C</a>|
						<a href="#">D</a>|
						<a href="#">E</a>|
						<a href="#">F</a>|
						<a href="#">G</a>|
						<a href="#">H</a>|
						<a href="#">I</a>|
						<a href="#">J</a>|
						<a href="#">K</a>|
						<a href="#">L</a>|
						<a href="#">M</a>|
						<a href="#">N</a>|
						<a href="#">O</a>|
						<a href="#">P</a>|
						<a href="#">Q</a>|
						<a href="#">R</a>|
						<a href="#">S</a>|
						<a href="#">T</a>|
						<a href="#">U</a>|
						<a href="#">V</a>|
						<a href="#">W</a>|
						<a href="#">X</a>|
						<a href="#">Y</a>|
						<a href="#">Z</a>|
					</fieldset>
				</form><!-- tab_content -->
				<a href="javascript:;" class="pa imgbase_toggle">收起</a>
			</div><!-- imgbase_main -->
			<div class="search_bin clear">
				<a href="/design_images/decoration_parts?ranking_list=like" class="fr <%= "curr_rank" if params[:ranking_list] == "like" %>">喜欢排行</a>
				<a href="/design_images/decoration_parts?ranking_list=view_count" class="fr <%= "curr_rank" if params[:ranking_list] == "view_count" %>">浏览排行</a>
				<a href="/design_images/decoration_parts" class="fr <%= "curr_rank" if params[:ranking_list] == nil && params[:controller] == "design_images" %>">默认排行</a>
				<p>搜索结果：现代简约,15-30万,小户型,创意家居，储藏室，样板房装修，效果图</p>
			<div class="imgbase_area clear">
				<%- if @images.present?%>
				<div class="imgbase_bin fl pr">
					<div class="imgbase_func ft12 pa">
						<a href="#" class="imgbase_collect">收藏</a>
						<a class="imgbase_view">浏览:<span id="imgbase_view"><%= @images.first.design.try(:view_count) %></span></a>
						<!-- <a href="#" class="imgbase_fullpage">全屏观看</a> -->
					</div>
						<div class="imgbase_slider slider_bin">
							<%- @images.each do |image| %>
							  <%= image_tag(image.file, size: '686x496') %>
							<%- end %>
						</div>
						<div id="imgbase_info">
							<span class="imgbase_comm"><%= @images.first.design.try(:comments_count) %></span>
							<span class="imgbase_like"><%= @images.first.design.try(:votes_count) %></span>
							<h4><a href="<%= user_design_path(@images.first.id, @images.first.imageable_id) %>" ><%= truncate(@images.first.design.try(:title), length: 15) %><span>(查看该套作品)</span></a></h4>
							<p><%= @images.first.user.try(:username) %> <a href="<%= user_path(@images.first.user.id) %>" >查看联系方式</a></p>
						</div><!-- imgbase_info -->
				</div><!-- imgbase_bin -->

				<ul class="imgbase_list">
					<%- @images.each_with_index do |image, index| %>
						<li data-view="<%= image.design.try(:view_count) %>" class="<%= 'imgbase_curr' if index == 0 %>">
							<a href="<%= user_design_path(image.id, image.imageable_id) %>">
								<%= image_tag(image.file, size: '224x162') %>
								<p><%= truncate(image.title, length: 15) %></p>
								<span></span>
							</a>
							<div class="none">
								<span class="imgbase_comm"><%= image.design.try(:comments_count)%></span>
								<span class="imgbase_like"><%= image.design.try(:votes_count)%></span>
								<h4><a href="<%= user_design_path(image.id, image.imageable_id) %>" ><%= truncate(image.design.try(:title), length: 15) %> <span>(查看该套作品)</span></a></h4>
								<p><%= image.user.try(:username) %> <a href="<%= user_path(image.user.id) %>" >查看联系方式</a></p>
							</div>
						</li>
					<%- end %>
				</ul>
				<%- end %>
			</div><!-- imgbase_area -->
			<div class="pager ft12">
				<%= paginate @images if @images.present? %>
			</div><!-- pager -->
		</div><!-- imgbase -->
