<%- content_for :head do %>
  <%= stylesheet_link_tag "manage/map.css" %>
  <%= javascript_include_tag "manage/map-kv-slider.js","/resources/js/plugins/exp/exp.js" %>
  <script type="text/javascript">
    // 评论回复JS弹框
    function js_comment_reply () {
        $('.js-recomment').click(function(){
          $(this).parents('li').siblings().find('.r_comment_form').hide();
          $(this).parents('li').find('.r_comment_form').show();
        });
        $('.js-close').click(function(e){
          e.preventDefault();
          $(this).parents('.r_comment_form').hide();
        });
    };

    $(function() {
      var $image_id = $('.work_comments').data('image_id'),
          $site = $('.work_comments').data('site'),
          $path = $('.work_comments').data('path');

      $.post('/design_images/' + $image_id + '/view_count');
      $.get('/design_images/' + $image_id + '/get_latest_and_likes');

      if ($(".img_show_votes_link")) {
        $.getJSON("<%= home_image_vote_path %>",{image_id: $image_id},function(data){
            $('.img_show_votes_link > span').text(data.image_vote);
        })
      };

      var $page = getParameters().page;
      if (!($page == undefined)) {
        $.ajax({
          type: 'GET',
          data: { id : $image_id,
                  site : $site,
                  path : $path,
                  page : parseInt($page)
                },
          url: '/comments/get_comments'
        }).done(function() {
          js_comment_reply();
        });
      }else{
        $.ajax({
          type: 'GET',
          data: { id : $image_id,
                  site : $site,
                  path : $path
                },
          url: '/comments/get_comments'
        }).done(function() {
          js_comment_reply();
        });
      };

      $('.map-submit').click(function(){
        var search = $(".search_query_value").val();
        if(search == "" || search == null){
        window.location = "/images"
        }else{
        var link = "/images/<%= prefix_link %>-0_0_" + search + "_0_0_0"
        window.location = link
        }
      });

      var options = {
      data  : data
    }
    var sel = new LinkageSelect(options);
    sel.bind('.level1_1', null, '省/直辖市');
    sel.bind('.level1_2', null, '城市');
    sel.bind('.level1_3', null, '区');
    });
  </script>
  <script type="text/javascript">
  $(function() {
    var site = 0;
    <% if (params[:site].to_i + 4) >= @images_count %>
      site = 4
    <% else %>
      site = <%= params[:site].to_i + 4 %>
    <% end %>
    setInterval(function(){
      $.get("<%= get_thumb_design_images_path %>",{site:site},function(data){
        re_site = data.site;
        html = '<ul>';
        data.result.forEach(function(el) {
          var str = makeStr(el.id);
          re_site = ++re_site
          html += "<li><a href='/images/" + el.id+ "/" +  re_site + "/<%=params[:path]%>'><span></span>" +
                  "<img src='/system/design_images/files/000/" + str.slice(0, 3) + '/' + str.slice(3)+ "/image_show_thumb/" + el.id + ".jpg' /></a></li>";
        });
        html += '</ul>';
         $(".map-kv-container").html(html);
      })
      site = site + 4
    },5000)
    function makeStr(num){
      num = (num + '').split('');
      while(num.length < 6){
        num.unshift('0')
      }
      return num.join('')
    }
  });
  </script>
<%- end %>
<h3 class="chann_caption nomargin">
  <div class="map-search pull-right">
    <p class="pull-left">热门搜索：
      <%- @hot_search.each_with_index do |s,i| %>
        <%- unless i == @hot_search.size - 1 %>
          <a href="<%= s.link %>" target="_blank"><%= s.title %></a>
        <%- end %>
      <%- end %>
    </p>
    <form action="/icolor/" method='post' class="pull-left">
      <input type="text" name='search' placeholder="<%= @hot_search.last.try(:title) %>" class="search_query_value map-text">
      <input type="submit" class="map-submit" value="搜图" onclick="return false;" />
    </form>
  </div>
  <i class="icon-map icon-map2 icon_colors"></i>
  <strong>装修图库</strong>
  <small>iColor为您提供<span class="cr"><%= @images_count %></span>张装修图片</small>
</h3>
<ul class="map-nav bd clearfix unstyled">
  <li class="pull-left"><a href="/design_images/lists">图库精华</a></li>
  <li class="pull-left"><a href="/images">装修图库大全</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(1) %>">装修户型</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(34) %>">装修风格</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(19) %>">装修费用</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(82) %>">装修空间</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(107) %>">装修色彩</a></li>
  <%- @seo_sites.each do |s| %>
    <li class="pull-right"><a href="<%= s.link %>"><%= s.title %></a></li>
  <%- end %>
  <li class="pull-right"><a href="/color_designs" target="_blank">装修色彩搭配</a></li>
</ul>
<a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>

<ul class="breadcrumb">
  <li><a href="<%= root_path %>">首页</a> &gt;</li>
  <li><a href="<%= lists_design_images_path %>">装修图库</a> &gt;</li>
  <li class="active">专题正文</li>
</ul>
<hr class="border2 border2_mt2">

<p class="map-srch-bin index_main">
  您的选择：
  <%- @tag_names.each do |tag| %>
    <% next if tag.blank? %>
    <span class="map-srch-s">
      <%= tag.title %>
      <a href="/images/<%= delete_link tag.id, :tag %>" class="map-srch-del">删除</a>
    </span>
  <%- end %>
  <%- if @pinyin.present? && @pinyin.to_s != "0" %>
    <span class="map-srch-s">拼音: <i><%= @pinyin %></i>
      <a href="/images/<%= delete_link @pinyin, :pinyin %>" class="map-srch-del">删除</a>
    </span>
  <%- end %>
  <%- if @area_names.present? %>
    <span class="map-srch-s">地区: <i><%= @area_names %></i>
      <a href="/images/<%= delete_link @area, :area %>" class="map-srch-del">删除</a>
    </span>
  <%- end %>
  &nbsp;
  <span class="map-srch-s map-srch-reset" onclick="javascript:window.location='/images/0-0-0-0-0-0-0-0-0-0-0-0-0_0_0_0_0_0';">重新选择</span>
</p>

<h4><%= @image.title %></h4>
<div class="index_main clearfix">
  <div class="pull-left imgbase_in_left">
    <div class="slides_box clearfix">
      <div class="map-big pull-left">
        <%= image_tag(@image.file.url(:image_map_show), :class =>"imginfo_big_img", alt: "【#{@image.house_type_names}】【#{@image.acreages_names}】【#{@image.use_names}】效果图 ", title: @image.design.try(:title)) %>
      </div>
      <div class="map-kv-slider pull-right">
        <% if @up_id %>
          <a href="/images/<%=@up_id%>/<%=params[:site].to_i - 1%>/<%=params[:path]%>" class="map-prev">上一张图</a>
          <a href="/images/<%=@image_arr.first.id%>/<% if params[:site].to_i <= 4 %>1<% else %><%=params[:site].to_i - 4%><% end %>/<%=params[:path]%>" class="map-prev-bullet">prev</a>
        <% else %>
          <a class="map-prev">上一张图</a>
          <a class="map-prev-bullet">prev</a>
        <% end %>
        <div class="map-kv-container">
          <ul>
            <li class="map-active"><a ><span></span><img src="<%= @image.file.url(:image_show_thumb) %>" alt="" /></a></li>
            <% if @image_thumb_arr %>
              <% @image_thumb_arr.each_with_index do |image,index| %>
                <li><a href="/images/<%=image.id%>/<%=params[:site].to_i + (index+1)%>/<%=params[:path]%>"><span></span><img src="<%=image.file.url(:image_show_thumb)%>" alt="" /></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
        <% if @image_arr.last.id != @image.id %>
          <a href="/images/<%=@image_arr.last.id%>/<% if (params[:site].to_i + 4) >= @images_count %><%=@images_count%><% else %><%=params[:site].to_i + 4%><% end %>/<%=params[:path]%>" class="map-next-bullet">next</a>
        <% else %>
          <a class="map-next-bullet">next</a>
        <% end %>

        <% if @next_id %>
          <a href="/images/<%=@next_id%>/<%=params[:site].to_i + 1%>/<%=params[:path]%>" class="map-next">下一张图</a>
        <% else %>
          <a class="map-next">下一张图</a>
        <% end %>
      </div>
    </div>
    <div class="btn_group clearfix">
      <a href="<%= user_design_path(@image.user_id, @image.imageable_id) %>" class="btn1 pull-left"><i class="icon-i16 icon-suit"></i>查看该套作品</a>
      <a href="/images/<%= @image.id%>/fullscreen" class="btn2 pull-right" target="_blank" title=''><i class="icon-i16 icon-fullscreen"></i>全屏</a>
      <%= link_to user_collects_path(1, design_image_id: @image.id), class: 'btn2 pull-right img_show_collect', :remote => true, method: :post, :title => '' do %>
          <i class='icon-i16 icon-collect'></i>收藏
        <%- end %>
      <a href="<%= download_design_image_path(@image.id) %>" class="btn2 pull-right" title=''><i class="icon-i16 icon-freedown"></i>免费下载</a>
      <%= link_to votes_path(:voteable_id => @image.id, :voteable_type => "DesignImage"), :class =>" btn2 pull-right img_show_votes_link manage_span#{@image.id}", :'data-image_id' => @image.id, :remote => true, :method => :post, :title => '' do %>
        <i class='icon-i16 icon-xin_gray'></i>
        <span><%= @image.votes_count %></span>
      <%- end %>
    </div>
    <div class="colors_box clearfix">
      <div class="pull-left"><img src="<%= asset_path 'imgbase_in/color.jpg' %>"></div>
      <ul class="pull-left unstyled">
        <%- [@color1, @color2, @color3].each_with_index do |color,index| %>
          <%- unless color.nil? %>
            <%- name = case index
            when 0
              @image.color1_name
            when 1
              @image.color2_name
            when 2
              @image.color3_name
            else
              @image.color1_name
            end
             %>
            <li>
              <div class="colorblock" style="background-color:rgb(<%= color.rgb %>)"></div>
              <h6 class="colortitle"><%= name %></h6>
              <p class="colorname">立邦(<%= color.code %>)<%= color.try(:name) %></p>
            </li>
          <%- end %>
        <%- end %>
      </ul>
      <a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank" class="goshop pull-right"></a>
      <a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank" class="gobuy pull-right"></a>
    </div>
    <div class="work_infos">
      <%- unless @image.design_style_names.present? %>
        <p class="work_info nomargin">设计风格：<%= @image.design_style_names %></p>
      <%- end %>
      <%- if @image_city %>
        <p class="work_info">作品所在城市：<%= @image_city %></p>
      <%- end %>
      <%- if @image.content? %>
        <p class="work_info">设计理念：<%= @image.content %></p>
      <%- end %>
    </div>
    <div class="work_tags">
      <span>标签：</span>
      <%- @image.all_tags.uniq.each do |tag| %>
    <a href="/images/<%=tag.id%>-0-0-0-0-0-0-0-0-all-0-0-0-_-0-0-0" target="_blank"><%= tag.title %></a>
    <%- end %>
    </div>
    <div style="height:30px;margin-left:20px;margin-top:18px;">
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_icons_1"></a>
        <a class="jiathis_button_icons_2"></a>
        <a class="jiathis_button_icons_3"></a>
        <a class="jiathis_button_icons_4"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
        <a class="jiathis_counter_style"></a>
      </div>
      <!-- JiaThis Button END -->
    </div>
    <div class="work_comments" data-image_id="<%= @image.id %>" data-site="<%= params[:site] %>" data-path="<%= params[:path] %>">
      <%= form_for(Comment.new, :html => {:class => "comment_form exp-holder"}) do |f| %>
        <h5>评论<span class="text-error comment_count"></span></h5>
        <%= f.hidden_field :commentable_id, value: params[:id] %>
    <%= f.hidden_field :commentable_type, value: 'DesignImage', id: 'J_t' %>
    <%= f.text_area :content, :placeholder =>"最多可输入1000字" %>
        <ul class="moodbtn_group unstyled clearfix">
          <li class="pull-right btn_send"><span class="muted">可以输入<span class="text-error">1000</span>个字符</span><button class="">提交评论</button></li>
          <li class="pull-left exp-block-trigger" id="J_sbt">
            <i class="icon-mood icon-face"></i>
            添加表情
          </li>
        </ul>
      <%- end %><!-- bottom_mood end -->

      <ul class="get_comments_ul mood_list unstyled nomargin">评论加载中...</ul>

    </div>
  </div>
  <div class="pull-right imgbase_in_right">
    <!-- 个人头像 -->
    <%- unless @image.imageable_type == "MasterDesign" || @image.imageable_type == "ColorDesign"-%>
    <div class="clearfix author_info">
      <a class="pull-left author_photo" href="<%= user_designs_path(@image.user_id) %>" target="_blank">
        <%- if @image.user && @image.user.avatar -%>
      <%= image_tag @image.user.avatar.file(:profile),:size =>"92x92", :title => "装修设计师-#{@image.user.display_name}", :alt => "装修设计师-#{@image.user.display_name}" %>
    <%- else -%>
      <%= image_tag "news/regimg_bg.jpg", size: '92x92' %>
    <%- end -%>
      </a>
      <div class="author_text">
        <h5>
          <a href="<%= user_designs_path(@image.user_id) %>" target="_blank"><%= @image.user.display_name if @image.user%></a>
        </h5>
        <p class="muted"><%= @image.user.city.try(:parent).try(:name) if @image.user%></p>
        <%- if @image.user %>
      <a href="<%= user_asks_path(@image.user.id) %>" class="btn_ask" target="_blank"></a>
    <%- end %>
      </div>
    </div>
    <%- end %>
    <!-- 装修丘比特 -->
    <%= render partial: 'cubit' %>
    <div>
      <h6 class="nomargin">查看更多家装咨询和服务</h6>
      <ul class="ul_dot clearfix nomargin">
        <li class="pull-left noborder mr10"><a href="/faqs" target="_blank">装修贴士</a></li>
        <li class="pull-left noborder mr10"><a href="/mix_colors/new" target="_blank">配色咨询</a></li>
        <li class="pull-left noborder mr10"><a href="/channel/refresh_service" target="_blank">刷新服务</a></li>
      </ul>
    </div>
    <hr class="nomargin">
    <dl class="clearfix like_list js_like_part">
      <dt>猜你喜欢</dt>
      <dd>加载中...</dd>
    </dl>
    <hr class="nomargin dott1">
    <dl class="clearfix like_list js_recent_part">
      <dt>最近更新</dt>
      <dd>加载中...</dd>
    </dl>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="<%= @master_more.url if @master_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>大师访谈</h5>
    <ul class="ul_dot">
      <%- @master_interviews.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @master_interviews.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="<%= @more_info.url if @more_info%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>相关资讯</h5>
    <ul class="ul_dot">
      <%- @about_info.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @about_info.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="pull-right">
    <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_230x230) %></a>
  </div>
</div>

<div class="clearfix">
  <div class="footer_banner pull-left">
    <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank">
      <%= image_tag @banners[2].try(:file).try(:url, :list_670x85) %>
    </a>
  </div>
  <div class="footer_banner pull-right">
    <a href="<%= @banners[3] ? @banners[3].url : 'javascript:void(0);' %>" target="_blank">
      <%= image_tag @banners[3].try(:file).try(:url, :list_310x85) %>
    </a>
  </div>
</div>

<%= render partial: 'design_images/footer' %>