<%- content_for :head do %>
  <%= stylesheet_link_tag "imgbase", "style","jquery.slider" %>
  <style type="text/css">
    .jiathis_style{display:none!important;}
    .popup_zf {
            bottom: 18px;
            background: #fff !important;
        }

        .design_listA li {
            position: relative;
        }

        #gallery_caption {
            display: none;
        }
        .design_listA li {overflow:visible;}

        .colors_recommend p {width: 100%;}
        /*.desc ul p{max-width: 150px;*max-width: none;}*/
        #feb_slides{width:760px;height:507px;background:#ececec;overflow: hidden;}
        #feb_slides .slider_prev,#feb_slides .slider_next{background-image:url(<%= image_path "news/app_pointer.png" %>);width:32px;height:52px;top: 26%;}
        .slider_prev{left:28px;}
        .slides_container,.slides_container div{width: 760px;height:507px;}
  </style>
<%- end %>
<%- content_for :tail do %>
  <%= javascript_include_tag "slides" %>

<script type="text/javascript">

$(function(){
  var $slider = $('#feb_slides');
  $slider.slides({
    next: 'slider_next',
    prev: 'slider_prev',
    start: <%=@image_num%>
  });
});

$(function() {
  Object.size = function(obj) {
  var size = 0, key;
  for (key in obj) {
    if (obj.hasOwnProperty(key)) size++;
  }
  return size;
  };
});

var color_codes = {
  <%- color1, color2, color3 = search_color_code(@image.color1), search_color_code(@image.color2), search_color_code(@image.color3) %>

  '<%= @image.id %>': {
    <%-
    codes = []
    [color1, color2, color3].each_with_index do |color, index|
        unless color.blank?
            codes << "'#{index+1}': { 'rgb': '#{color.rgb}', 'code': '#{color.code}', 'name': '#{color.name}', 'category': '#{@image.color1_name}'}"
        end
    end
    %>
    <%= codes.join(",").html_safe %>
  }
};

$('#colors_con').mouseenter(function() {
  var id = $("#gallery_caption").text() * 1;
  if (id == 0) {
      id = <%= @image.try(:id) %>
  }

  code = color_codes[id];
  // Get the size of an object
  var size = Object.size(code);
  var $ul = $(this).find('ul');
  var tmp = '';
  for (i = 1; i <= size; i++) {
      if (code[i].rgb == '') {
          tmp += '<li><div class="colorblock" style="background:url(/assets/color_code/' + code[i].code + '.png)"></div><h5>' + code[i].category + '</h5><p>立邦木器漆(' + code[i].code + ')</p></li>';
      } else {
          tmp += '<li><div class="colorblock" style="background-color:rgb(' + code[i].rgb + ')"></div><h5>' + code[i].category + '</h5><p>立邦(' + code[i].code + ')' + code[i].name + '</p></li>';
      }
  };

  $ul.html(tmp);
  $(this).children('img').hide();
  $(this).children('div.desc').show();
  $(".list ul li:last").addClass("noborder");
}).mouseleave(function(){
  $(this).children('img').show();
  $(this).children('div.desc').hide();
});

function show_login() {
  o_in();
  $('#login_win').show();
  $("#design_message").hide();
  $('#overlay_new_user, #new_user').bind('ajax:error', function (xhr, status, error) {
      err_in();
  });
}

$(function(){
  $(".colors_recommend").bind("mouseover mouseout", function(){
    $(".color_hover").toggle();
    $(".color_over").toggle();
  });
});
</script>
<%- end %>
<div class="imgbase border_bline">
	<div class="imgbase_title">
		<img src="<%= asset_path "imgbase/imgbase_tit.png" %>">
		<!-- <p>iColor为您提供<strong><%#= @images_total %></strong>张装修图片</p> -->
	</div><!-- imgbase_title -->

	<div class="imgbase_main clear nomargin">
		<h3 class="tit_tab"><%= @image.title %></h3>
    <div class="imginfo_show pr">
      <div class="imgbase_func ft12 pa btn_group">
        <!-- <a class="icon_view">浏览:<span><%= @image.view_count %></span></a> -->
        <%= link_to "全屏观看", fullscreen_design_image_path(@image), :class =>"icon_fullscreen", :target => "_blank" %>
        <%- if current_user %>
          <%=link_to "收藏", user_collects_path(current_user, design_image_id: @image.id), :remote => true, method: :post, :id => "new_message" , :class => "icon_colleting" %>
        <%- else %>
          <%=link_to_function "收藏", "show_login()", :id => "new_message" , :class => "icon_colleting" %>
        <%- end %>
        <a class="icon_freedown" href="<%= download_design_image_path(@image.id) %>">免费下载</a>
     </div>
     <div class="img_vertical_align" id="feb_slides">
        <div class="slides_container">
          <%- @images.each do |image| %>
            <div >
              <div>
                  <%= image_tag(image.file.url(:design_image_big), :class =>"imginfo_big_img") %>
              </div>
            </div>
          <%- end %>
        </div>
       <a href="javascript:;" class="slider_next">next</a>
       <a href="javascript:;" class="slider_prev">prev</a>
     </div>
      <%- unless @image.imageable_type == "MasterDesign" || @image.imageable_type == "ColorDesign" -%>
	    <%= link_to "查看该套作品", user_design_path(@image.user_id, @image.imageable_id), :class =>"link_group" %>
      <%- end -%>
	    <span class="fr">
	    	<a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank"><img src="<%= asset_path "imgbase/near-shop_link_btn.png" %>"></a>
	    	<a href="http://www.nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank"><img src="<%= asset_path "master/mall_link_btn.png" %>"></a>
	    </span>
	    <p class="imginfo_big_txt">
	        <span>
	        	<strong>设计风格：</strong>
	        	<%= @image.design.style %>
	        </span>
	        <span>
	        	<strong>作品所在城市：</strong>
	        	<%= @image_city %>
	        </span>
	    </p>

	    <div class="colors_recommend colorsbox clear">
	    	<strong>推荐色</strong>

        <div id="colors_con" class="colors_con" style="float:left; padding:25px 0 0; height:35px; width:617px; position:relative;">
          <img src="<%= asset_path "design/colors2.gif" %>" />
          <div class="desc" style=" height:35px; width:617px; margin:25px 0;display:none; position:absolute; left:1px; top:1px; background:#fff;">
            <div class="list" style="height:35px;">
              <ul class="group" style="overflow:hidden;">
              </ul>
            </div>
          </div>
        </div>
	    </div>


	    <p class="imginfo_big_txt">
	      <strong>设计理念：</strong>
	      <%= @image.content %>
	    </p>
      <%= form_for(Comment.new, :html => {:class => "img_reply"}) do |f| %>
        <h3 class="img_reply_tit">评论(<%= @image.comments_count %>)</h3>
        <%= f.hidden_field :commentable_id, value: params[:id] %>
        <%= f.hidden_field :commentable_type, value: 'DesignImage' %>
        <%= f.text_area :content, :placeholder =>"最多可输入140字" %>
        <div class="tr">
          <%= f.submit "提交评论", :class => "img_reply_btn" %>
        </div>
      <% end %>
    <%- if @comments.any? %>
    <div class="img_reply_list">
      <div class="comments">
        <%= render :partial => "show_comments", locals: { comments: @comments} %>
      </div>
      <div class="imgbase_more_btn">
        <a href="javascript:;" class="more_comment" data-page="1">查看更多评论
        </a>
      </div>
    </div>
    <%- end %>

    </div><!--imginfo_show-->
    <div class="author_show">

      <%- unless @image.imageable_type == "MasterDesign" || @image.imageable_type == "ColorDesign"-%>
      <div class="author_info clear">
        <%- if @image.user && @image.user.avatar -%>
            <%= image_tag @image.user.avatar.file(:profile), :class => 'box_shadow fl',:size =>"119x119", :title => "装修设计师-#{@image.user.display_name}", :alt => "装修设计师-#{@image.user.display_name}" %>
        <%- else -%>
          <%= image_tag "news/regimg_bg.jpg", size: '119x119', :class =>"fl" %>
        <%- end -%>
        <div class="fl border_lline">
          <p class="clear border_bline">
            <strong><%= @image.user.display_name if @image.user%></strong>
            <%= link_to "#{@image.votes_count}", votes_path(:voteable_id => @image.id, :voteable_type => "DesignImage"), :class =>"imgbase_like votes_count#{@image.id}", :remote => true, :method => :post %>
            <%= link_to "#{@image.comments_count}", "javascript:void(0);", :class =>"imgbase_comm" %>
          </p>
          <p>
            <%= link_to "进入个人主页", user_designs_path(@image.user_id), :class =>"img_reply_btn" %>
          </p>
        </div>
      </div><!-- author_info -->
      <%- if @image.imageable_type == "MasterDesign" %>
          <div class="author_info clear">
            <%= image_tag(@image.try(:file), :class => "fl") %>
              <div class="fl border_lline">
                <p class="clear border_bline">
                  <strong class="nomargin">
                     <%= @image.try(:title)%>
                  </strong>s
                </p>
                <p>
                  <a href="/master_interviews/<%= @master_design.master_profile_id %>" class="img_reply_btn">进入大师访谈</a>
                </p>
              </div>
          </div><!-- author_info->大师访谈 -->
      <%- elsif @image.imageable_type == "Design" %>
          <div class="author_info clear">
            <p class="clear border_bline">
              <strong>
                <%= @image.design.try(:title) %>
              </strong>
              <span>
                <%= @image.design.user.display_name %>
              </span>
            </p>
          </div><!-- author_info->色彩搭配 -->
      <%- end %>
      <!-- JiaThis Button BEGIN -->
      <div class="clear imgs_share border_bline">
        <span class="fl t">分享:</span>
        <div id="jiathis_style_32x32" class="fl" style="overflow:hidden;">
        <a class="jiathis_button_kaixin001"></a>
        <a class="jiathis_button_renren"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <!-- <a class="jiathis_counter_style"></a> -->
        </div>
        <%
          role = "#{@image.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if @image.user && @image.user.role_id != 3
          text = if @image.user && @image.user.area_id.present?
            province = @image.user.city.try(:parent).try(:name)
            city = @image.user.try(:city).try(:name)

            if province && city
              province == city ? "#{city}的" : "#{province + city}的"
            else
              "#{city}的" if city
            end
          end
        -%>
        <script type="text/javascript" charset="utf-8">
        var jiathis_config={
          boldNum:4,
          siteNum:4,
          showClose:false,
          sm:"kaixin001,renren,tsina,tqq",
          summary:"",
          hideMore:false,
          pic:"http://www.icolor.com.cn<%= @image.file.url %>",
          title:"#iColor分享#来自<%= text %><%= role %><%= @image.user.display_name if @image.user%>的作品【<%= @image.title %>】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor，",
          imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
          imageWidth:26,
          marginTop:150,
          url:"<%= image_show_design_image_url(@image.id) %>",
          data_track_clickback:true
        }
        </script>
        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
        <!-- JiaThis Button END -->
      </div>
      <%- end -%>

      <div class="imgs_otherinfo border_bline">
      	<h4>标签</h4>
      	<%- @image_tags.each do |tag| %>
      	  <span style="font-size:12px;"><%= tag %></span>
      	<%- end %>
      </div>
      <div class="imgs_otherinfo border_bline">
      	<h4>图片来源：<span><%= @image.image_come_from %></span>
      	</h4>
      </div>
      <div class="imgs_in_list clear">
      	<dl>
      		<dt>猜你喜欢</dt>
          <%- @like_images.each do |like_image| %>
            <dd>
              <a href="/design_images/<%= like_image.id %>/image_show">
                <%= image_tag(like_image.file.url(:list), size: '178x128')%>
                <span><%= truncate(like_image.title ? like_image.title : "未命名", length: 15) %></span>
              </a>
            </dd>
          <%- end %>
      	</dl>
      	<dl>
      		<dt>精品推荐</dt>
          <%- @week_stars.each do |star| %>
            <dd>
              <a href="<%= star.design_link %>">
                <%= image_tag(star.main_preview_img.url(:image_show), size: '178x128') %>
                <span><%= truncate(star.design_name, length: 15) %></span>
              </a>
            </dd>
          <%- end %>
      	</dl>
      </div><!-- imgs_in_list -->
      <p class="imgs_banner">
      	<a href="/yda/2013"><img src="<%= asset_path '2013/index/2013yda.jpg' %>"></a>
      </p>
    </div><!--author_show-->
	</div><!--imgbase_main-->
</div>
