<%- content_for :tail do %>
<%= javascript_include_tag "jquery.masonry" %>
<style type="text/css">
  .highlight_gray {background-color:#E3E3E3;}
</style>
<script type="text/javascript">
$(function() {
  window.search_path = "<%= params[:path] || '0-0-0-0-0-0-0-0-0-0-0-0-0_0_0_0_0_0' %>";
  window.original_search_path = window.search_path;
  init_query_tags();

  var options = {
    data  : data
  }
  var sel = new LinkageSelect(options);
  sel.bind('.level_1', <%= @area_level_1 ? "'#{@area_level_1}'".html_safe : "null" %>, '请选择');
  sel.bind('.level_2', <%= @area_level_2 ? "'#{@area_level_2}'".html_safe : "null" %>, '请选择');
  sel.bind('.level_3', <%= @area_level_3 ? "'#{@area_level_3}'".html_safe : "null" %>, '请选择');

  $('.check_on').bind("click", function (event) {
    $(this).addClass("highlight");
    event.preventDefault();
    event.stopPropagation();
    add_tag($(event.currentTarget).data('parent-id'), $(event.currentTarget).data('tag-id'));
  });

  var $list   = $('.imgbase_list'),
  $view   = $('#imgbase_view'),
  $info   = $('#imgbase_info'),
  $full   = $('#imgbase_full'),
  $collect= $('.imgbase_collect_id'),
  $down   = $('.imgbase_down_id'),
  $toggle = $('.map-list-up'),
  $form   = $('.map-list-search'),
  $ul     = $('ul.nomargin'),
  $conte = $('.imgbase_bin > .imginfo_big_txt'),
  $colorsbox = $(".imgbase_bin > .colorsbox");

  <% if params[:page].present? &&  params[:page].to_i != 0 %>
  $('#prev').show();
  $('#prev').click(function(event) {
    var li_index = $list.find('.imgbase_curr').index();
    event.preventDefault()
    if(li_index == 0){
      <% if  (params[:page].to_i - 1) == 1 %>
        ///0-0-0-0-0-0-0-0-0-all-view_count-3-B-a-0-0
        window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1"
      <% else %>
        window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1/<%=@images.current_page - 1%>"
      <% end %>
    }
  })
  <% else %>
    $("#prev").hide();
  <% end %>

  <% if @images.current_page == @images.total_pages %>
    var li_index = $list.find('.imgbase_curr');
    var last_id = li_index.data('full');
    if(last_id == <%=@images.last.id%>){
      $("#next").hide();
    }
  <% else %>
    $('#next').click(function(event) {
    var li_index = $list.find('.imgbase_curr').index();
      if(li_index == 10){
        window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-0/<%=@images.current_page + 1%>"
      }
    });
  <% end %>

  $list.on('mouseenter', 'li', function(){
    var index = $(this).index();
    $slider.find('li').eq(index).find('a').click();
  }).mouseleave(function(){
    $slider.mouseleave();
  });
  $ul.on('click', 'li', function(){
    var $this = $(this),
    index = $this.index();
    $.createCookie('nomargin', index);
    $this.addClass('active_tit').siblings().removeClass();
    $form.eq(index).show().siblings().hide();
  });

  var cookie = $.readCookie("nomargin");
  if (cookie != ""){
    if(parseInt(cookie) > 1) cookie = "0";
    $("ul.pull-left.nomargin").find("li").not(':eq(' + cookie + ')').removeClass("list-curr");
    $("ul.pull-left.nomargin").find("li").eq(cookie).addClass("active_tit list-curr");
    $form.eq(cookie).show().siblings().hide();
  };

  // 展开收起JS
  $toggle.click(function(){
    var $this = $(this);
    if($this.hasClass('map-list-down')){
      $.createCookie('expand', 1);
    } else {
      $.createCookie('expand', 2);
    }
  });

  // 有标签筛选,展开
  <%- if @tag_ids.present? %>
    $("<%= @tag_ids.map{|id| "fieldset.js-cate-#{id}" }.join(", ") %>").addClass('highlight_gray');
    $("<%= @tag_ids.map{|id| "a.js-tag-#{id}" }.join(", ") %>").addClass('highlight');
    $("a.js-cate-all").addClass('highlight');
    $("<%= @tags.map{|tag| "a.js-cate-all-#{tag.parent_id}" }.join(", ") %>").removeClass('highlight');
    $.createCookie('expand', 2);
  <%- end %>

  var cookie = $.readCookie('expand');
  if(cookie == 1){
    $toggle.addClass('map-list-down').text('展开').parent().addClass("map-mini");
  } else if(cookie == 2){
    $toggle.removeClass('map-list-down').text('收起').parent().removeClass("map-mini");
  }
  // 展开收起JS END

  $('.colors_con').live('hover', function(){
    $(this).children().fadeToggle('fast');
  });
});

function search_sub(){
  var search = $("#search_query_value").val();
  if(search == "" || search == null){
    window.location = "/images"
  }else{
    var link = "/images/<%= prefix_link %>-0_0_" + search + "_0_0_0"
    window.location = link
  }
}

function submit_area() {
  var area_id = 0, area_names = [];
  if ($(".level_1").val() > 0) {
    area_id = $(".level_1").val();
    area_names.push($(".level_1 option:selected").text())
  };
  if ($(".level_2").val() > 0) {
    area_id = $(".level_2").val();
    area_names.push($(".level_2 option:selected").text())
  };
  if ($(".level_3").val() > 0) {
    area_id = $(".level_3").val();
    area_names.push($(".level_3 option:selected").text())
  };
  var path = window.search_path;
  var tags = path.split("_")[0].split("-");
  tags[tags.length - 1] = area_id;
  $("#area_names").val(area_names.join(' '));
  reset_search_path(tags);
}
</script>
<% if params[:return].present? && params[:return].to_i == 1 %>
<script type="text/javascript">
  $(function(){
    setTimeout(function(){
      $('.imgbase_list').children().last().trigger('mouseover');
    },500)
  })
</script>
<% end %>

<%- end %>
<h3 class="chann_caption nomargin">
  <div class="map-search pull-right">
    <p class="pull-left">
      热门搜索：
      <%- @hot_search.each_with_index do |s,i| %>
      <%- unless i == @hot_search.size - 1 %>
      <a href="<%= s.link %>" target="_blank"><%= s.title %></a>
      <%- end %>
      <%- end %>
    </p>
    <form action='/images/' method='post' style="display:inline" class="pull-left">
      <input type="text" name='search' placeholder="<%= @hot_search.last.try(:title) %>" id="search_query_value" class="map-text">
      <input type="button"  onclick="search_sub()" class="map-submit" value="搜图" />
    </form>
  </div>
  <i class="icon-map icon-map2 icon_colors"></i>
  <strong>装修图库</strong>
  <small>iColor为您提供<span class="cr"><%= @images_count %></span>张装修图片</small>
</h3>
<ul class="map-nav bd clearfix unstyled">
  <li class="pull-left"><a href="/design_images/lists">图库精华</a></li>
  <li class="pull-left"><a href="/images">装修图库大全</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(1) %>">装修户型</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(34) %>">装修风格</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(19) %>">装修费用</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(82) %>">装修空间</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(107) %>">装修色彩</a></li>
  <%- @seo_sites.each do |s| %>
  <li class="pull-right"><a href="<%= s.link %>"><%= s.title %></a></li>
  <%- end %>
  <li class="pull-right"><a href="/color_designs" target="_blank">装修色彩搭配</a></li>
</ul>

<%- if params[:path].blank? && params[:page].blank? %>
<%- if @special_kv %>
<a href="<%= @special_kv.url %>" target="_blank"><%= image_tag(@special_kv.file.url(:special), usemap: "#mapkv_special", class: 'mt10 bd') %></a>
<%- if @special_kv.kv_maps.any? %>
<map id="mapkv_special" name="mapkv_special">
  <%- @special_kv.kv_maps.each do |map| %>
  <area shape="rect" coords="<%= map.x_line %>,<%= map.y_line %>,<%= map.x_line + map.width %>,<%= map.y_line + map.high %>" href="<%= map.url %>" target="_blank" />
  <%- end %>
</map>
<%- end %>
<%- end %>
<%- end %>

<ul class="breadcrumb">
  <li><a href="<%= root_path %>">首页</a> &gt;</li>
  <li><a href="<%= lists_design_images_path %>">装修图库</a> &gt;</li>
  <li class="active">装修图片大全</li>
</ul>

<div class="map-list bd">
  <div class="map-list-nav clearfix">
    <p class="pull-right">
      我们为您精选了 <strong><%= @img_count %></strong> 张图片
    </p>
    <ul class="pull-left nomargin unstyled">
      <li class="list-curr">家装设计</li>
      <li class="">装修部件</li>
    </ul>
  </div>

  <div>
    <%=form_tag image_search_index_design_images_path, :class => 'map-list-search pr',:style => "display: block" do %>
    <p class="map-srch-bin">
      您的选择：
      <span class="js-query-tags"></span>
      <%- if @color.present? && @color.to_s != "0" %>
      <span class="map-srch-s">查询: <i><%= @color %></i>
        <a href="<%= delete_link @color, :color %>" class="map-srch-del">删除</a>
      </span>
      <%- end %>
      <%- if @pinyin.present? && @pinyin.to_s != "0" %>
      <span class="map-srch-s">拼音: <i><%= @pinyin %></i>
        <a href="<%= delete_link @pinyin, :pinyin %>" class="map-srch-del">删除</a>
      </span>
      <%- end %>
      <span class="map-srch-s map-srch-reset js-search-now" style="display:none">&nbsp;&nbsp;确定&nbsp;&nbsp;</span>
      <span class="map-srch-s map-srch-reset" onclick="javascript:window.location='/images/0-0-0-0-0-0-0-0-0-0-0-0-0_0_0_0_0_0';">重新选择</span>
    </p>

    <div class="<%= @tag_ids.blank? ? 'map-list-form map-mini' : 'map-list-form' %>">
      <%- @home_design.each_with_index do |category, index| %>
        <%- unless category.title == "按地区" %>
          <% cache category do %>
            <fieldset class="clearfix js-cate-<%= category.category_id %>">
              <label class="pull-left"><%= category.title %>：</label>
              <span>
                <a href="/images/<%= show_link category.category_id.to_i %>" data-tag-name='全部: <%= category.title %>' data-tag-id='<%= category.category_id %>' data-tag-index="<%= index %>" class="js-tag js-tag-<%=category.category_id %> js-cate-all js-cate-all-<%= category.category_id %>">全部</a>
                <%- category.category(category.category_id).each do |cate_child| %>
                <a data-tag-name='<%= category.title %>: <%= cate_child.title %>' data-tag-id='<%= cate_child.id %>' data-tag-index="<%= index %>" href="/images/<%= show_link cate_child.id %>" class="js-tag js-tag-<%= cate_child.id %>"><%= cate_child.title %></a>
                <%- end %>
              </span>
            </fieldset>
          <% end %>
        <% else %>
        <fieldset class="clearfix noborder">
          <label class="pull-left"><%= category.title %>：</label>
          <span>
            <select id="province" class="level_1">省</select>
            <select id="city" class="level_2">市</select>
            <select id="county" class="level_3" name='area_id'>区</select>
            <input type="submit" class="map-srch-submit" value="确定" onclick="submit_area();return false;" />
            <input type="hidden" value="<%= @area_names %>" id="area_names">
          </span>
        </fieldset>
        <% end %>
      <% end %>

      <%- if @tag_ids.blank? %>
      <a href="javascript:;" class="pa map-list-up map-list-down">展开</a>
      <%- else %>
      <a href="javascript:;" class="pa map-list-up">收起</a>
      <%- end %>
    </div>
    <%- end %>

    <form class="map-list-search hide pr" style="display:none;">
      <p class="map-srch-bin">
        您的选择：
        <span class="js-query-tags"></span>

        <%- if @color.present? && @color.to_s != "0" %>
        <span class="map-srch-s">查询: <i><%= @color %></i>
          <a href="<%= delete_link @color, :color %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @pinyin.present? && @pinyin.to_s != "0" %>
        <span class="map-srch-s">拼音: <i><%= @pinyin %></i>
          <a href="<%= delete_link @pinyin, :pinyin %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <span class="map-srch-s map-srch-reset js-search-now" style="display:none">&nbsp;&nbsp;确定&nbsp;&nbsp;</span>
        <span class="map-srch-s map-srch-reset" onclick="javascript:window.location='/images/0-0-0-0-0-0-0-0-0-0-0-0-0_0_0_0_0_0';">重新选择</span>
      </p>

      <div class="<%= @tag_ids.blank? ? 'map-list-form map-mini' : 'map-list-form' %>">
        <%- @fitting_parts.each do |child_lv2| %>
          <% cache child_lv2 do %>
            <fieldset class="clearfix js-cate-<%= child_lv2.category_id %>">
              <label class="pull-left"><%= child_lv2.title %>：</label>
              <span>
                <a href="/images/<%= show_link child_lv2.category_id.to_i %>" data-tag-name='全部: <%= child_lv2.title %>' data-tag-id='<%= child_lv2.id %>' data-tag-index="_2" class="js-tag js-tag-<%= child_lv2.id%> js-cate-all js-cate-all-<%= child_lv2.category_id %>">全部</a>
                <%- child_lv2.category(child_lv2.category_id).each do |child_lv3| %>
                <a href="/images/<%= show_link child_lv3.id %>" data-tag-name='<%= child_lv2.title %>: <%= child_lv3.title %>' data-tag-id='<%= child_lv3.id %>' data-tag-index="_2" class="js-tag js-tag-<%= child_lv3.id %>"><%= child_lv3.title %></a>
                <%- end %>
              </span>
            </fieldset>
          <% end %>
        <%- end %>
        <%- if @tag_ids.blank? %>
        <a href="javascript:;" class="pa map-list-up map-list-down">展开</a>
        <%- else %>
        <a href="javascript:;" class="pa map-list-up">收起</a>
        <%- end %>
      </div>
    </form><!-- tab_content -->
  </div>
</div>

<div class="map-flow index_main mt10 pull-left">
  <div id="map-flow" class="clearfix">
    <%
    if params[:page].present? && params[:page].to_i != 0
      site = (params[:page].to_i - 1) * 18
    else
      site =  0 * 18
    end
    %>
    <% @images.each_with_index do |image,index| %>
    <div class="pull-left">
      <a href="/images/<%=image.id%>/<%=site + (index + 1)%>/<%=show_link image.id%>" target="_blank" >
        <%= image_tag(image.file.url(:image_map_list), alt: image.design.try(:title), title: image.design.try(:title)) %>
        <p><%= image.design.try(:title) %></p>
      </a>
    </div>
    <% end %>
  </div>
  <form class="pager pager-form">
    <%= paginate @images, :window => 3, :outer_window => 3, :left => 5, :right => 3 %>
  </form>
</div>
<div class="map-flow-r pull-right">
  <% cache "column_image_list" do %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 1, name: '最新大师作品' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 4, name: '装修效果图精华推荐' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 5, name: '本周最热装修设计' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 9, name: '装修色彩配搭' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 7, name: '相关资讯' } %>
  <% end %>
</div>

<div class="index_main refresh_news mt10 clearfix pull-left">
  <div class="refresh_new pull-left">
    <h5><a href="<%= @images_jingxuan_more.url if @images_jingxuan_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>装修图库精选</h5>
    <ul class="ul_dot">
      <%- @images_jingxuan.each_with_index do |m,i| %>
      <li class="<%= 'noborder' if i == @images_jingxuan.size - 1 %>">
        <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
      </li>
      <%- end %>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="<%= @star_jingxuan_more.url if @star_jingxuan_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>设计之星作品精选</h5>
    <ul class="ul_dot">
      <%- @star_jingxuan.each_with_index do |m,i| %>
      <li class="<%= 'noborder' if i == @star_jingxuan.size - 1 %>">
        <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
      </li>
      <%- end %>
    </ul>
  </div>
  <div class="pull-right">
    <a href="<%= @banner1.url? ? @banner1.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner1.try(:file).try(:url, :list_230x230) %></a>
  </div>
</div>

<a href="<%= @banner2.url? ? @banner2.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner2.try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>

<%= render partial: 'design_images/footer' %>