<%- content_for :head do %>
  <%= stylesheet_link_tag "manage/bootstrap","jquery.slider","manage/icolor","manage/map" %>
  <%= javascript_include_tag "jquery.masonry","jsCookie" %>
<%- end %>
<%- content_for :tail do %>

  <script type="text/javascript">
  function show_login() {
          o_in();
          $('#login_win').show();
          $("#design_message").hide();
          $('#overlay_new_user, #new_user').bind('ajax:error', function (xhr, status, error) {
              err_in();
          });
      }

    $(function() {
      var options = {
        data  : data
      }
      var sel = new LinkageSelect(options);
      sel.bind('.level_1', <%= @area_level_1 ? "'#{@area_level_1}'".html_safe : "null" %>, '请选择');
      sel.bind('.level_2', <%= @area_level_2 ? "'#{@area_level_2}'".html_safe : "null" %>, '请选择');
      sel.bind('.level_3', <%= @area_level_3 ? "'#{@area_level_3}'".html_safe : "null" %>, '请选择');
    });
    $(function() {
      $('.check_on').bind("click", function (event) {
        $(this).addClass("highlight");
        event.preventDefault();
        event.stopPropagation();
        add_tag($(event.currentTarget).data('parent-id'), $(event.currentTarget).data('tag-id'));
      });
    });
    $(function(){
      var $list   = $('.imgbase_list'),
        $view   = $('#imgbase_view'),
        $info   = $('#imgbase_info'),
        $full   = $('#imgbase_full'),
        $collect= $('.imgbase_collect_id'),
        $down   = $('.imgbase_down_id'),
        $toggle = $('.map-list-up'),
        // s = $(".imgbase_collect").attr('data_s'),
        $form   = $('.map-list-search'),
        $ul     = $('.nomargin'),
        $conte = $('.imgbase_bin > .imginfo_big_txt'),
        $colorsbox = $(".imgbase_bin > .colorsbox");
// console.log($('.imgbase_list').children().last().data('full'))

      <% if params[:page].present? &&  params[:page].to_i != 0 %>
        $('#prev').show();
        $('#prev').click(function(event) {
          var li_index = $list.find('.imgbase_curr').index();
          event.preventDefault()
          if(li_index == 0){
            <% if  (params[:page].to_i - 1) == 1 %>
              //window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:return => 1)) %>"
              ///0-0-0-0-0-0-0-0-0-all-view_count-3-B-a-0-0
                window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1"
            <% else %>
              // window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:page => (@images.current_page - 1),:return => 1))%>"
              window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1/<%=@images.current_page - 1%>"
            <% end %>
          }
        })
      <% else %>
        $("#prev").hide();
      <% end %>
      <% if @images.current_page == @images.total_pages %>

          var li_index = $list.find('.imgbase_curr');
          var last_id = li_index.data('full');
          if(last_id == <%=@images.last.id%>){
            $("#next").hide();
          }
      <% else %>
        $('#next').click(function(event) {
          var li_index = $list.find('.imgbase_curr').index();
          if(li_index == 10){
            // window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:page => (@images.current_page + 1))) %>"
            window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-0/<%=@images.current_page + 1%>"
          }
        });
      <% end %>


      $list.on('mouseenter', 'li', function(){
        var index = $(this).index();
        $slider.find('li').eq(index).find('a').click();
      }).mouseleave(function(){
        $slider.mouseleave();
      });
      $ul.on('click', 'li', function(){
        var $this = $(this),
            index = $this.index();
            $.createCookie('nomargin', index);
        $this.addClass('active_tit').siblings().removeClass();
        $form.eq(index).show().siblings().hide();
      });

      var cookie = $.readCookie("nomargin");
      if (cookie != ""){
        $("ul.pull-left.nomargin").find("li").not(':eq(' + cookie + ')').removeClass("list-curr");
        $("ul.pull-left.nomargin").find("li").eq(cookie).addClass("active_tit list-curr");
        $form.eq(cookie).show().siblings().hide();
      };

      $toggle.click(function(){
        var $this = $(this);
        if($this.hasClass('map-list-down')){
          $.createCookie('expand', 1);
        } else {
          $.createCookie('expand', 2);
        }
      });
      var cookie = $.readCookie('expand');
      if(cookie == 1){
        $toggle.addClass('map-list-down').text('展开').parent().addClass("map-mini");
      } else if(cookie == 2){
        $toggle.removeClass('map-list-down').text('收起').parent().removeClass("map-mini");
      }
      // $(window).unload(function(){alert(1)})
      // if($toggle.hasClass('form_expand')){
      //  $toggle.text("展开");
      //  alert(1);
      // }
      // else {
      //  $toggle.text("收起");
      //  alert(2);
      // };

      $('.colors_con').live('hover', function(){
        $(this).children().fadeToggle('fast');
      });
});

  function search_sub(){
    var search = $("#search_query_value").val();
    if(search == "" || search == null){
      window.location = "/images"
    }else{
      var link = "/images/<%= prefix_link %>-0_0_" + search + "_0_0_0"
      window.location = link
    }
  }

  function submit_area() {
    var area_id = "";
    if ($(".level_1").val() > 0) {
      area_id = $(".level_1").val();
    };
    if ($(".level_2").val() > 0) {
      area_id = $(".level_2").val();
    };
    if ($(".level_3").val() > 0) {
      area_id = $(".level_3").val();
    };

    if(area_id == "" || area_id == null){
      window.location = "/images"
    }else{
      var link = "/images/<%= prefix_link %>-" + area_id + "_0_0_0_0_0"
      window.location = link
    }
  }
  </script>
<%- end %>
<% if params[:return].present? && params[:return].to_i == 1 %>
  <script type="text/javascript">
  $(function(){
    setTimeout(function(){
      $('.imgbase_list').children().last().trigger('mouseover');
    },500)
  })
  </script>
<% end %>
<h3 class="chann_caption nomargin">
  <div class="map-search pull-right">
    <p class="pull-left">
      热门搜索：
      <%- @hot_search.each_with_index do |s,i| %>
        <%- unless i == @hot_search.size - 1 %>
          <a href="<%= s.link %>" target="_blank"><%= s.title %></a>
        <%- end %>
      <%- end %>
    </p>
    <form action='/images/' method='post' style="display:inline" class="pull-left">
      <input type="text" name='search' value="<%= @hot_search.last.try(:title) %>" id="search_query_value" class="map-text">
      <input type="button"  onclick="search_sub()" class="map-submit" value="搜图" />
    </form>
  </div>
  <i class="icon-map icon-map2 icon_colors"></i>
  <strong>装修图库</strong>
  <small>iColor为您提供<span class="cr"><%= @images_count %></span>张装修图片</small>
</h3>
<ul class="map-nav bd clearfix">
  <li class="pull-left"><a href="/design_images/lists">图库首页</a></li>
  <li class="pull-left"><a href="/images">装修图片大全</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(1) %>">装修户型</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(34) %>">装修风格</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(19) %>">装修费用</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(82) %>">装修空间</a></li>
  <li class="pull-left"><a href="/images/<%= show_link(107) %>">装修色彩</a></li>
  <%- @seo_sites.each do |s| %>
    <li class="pull-right"><a href="<%= s.link %>"><%= s.title %></a></li>
  <%- end %>
  <li class="pull-right"><a href="/color_designs" target="_blank">装修色彩搭配</a></li>
</ul>

<%- if @special_kv %>
  <%- if @special_kv.kv_maps.any? %>
    <%= image_tag(@special_kv.file.url(:special), usemap: "#mapkv_special", class: 'mt10 bd') %>
    <map id="mapkv_special" name="mapkv_special">
      <%- @special_kv.kv_maps.each do |map| %>
        <area shape="rect" coords="<%= map.x_line %>,<%= map.y_line %>,<%= map.x_line + map.width %>,<%= map.y_line + map.high %>" href="<%= map.url %>" target="_blank" />
      <%- end %>
    </map>
  <%- else %>
    <a href="<%= @special_kv.url %>" target="_blank"><%= image_tag(@special_kv.file.url(:special), class: 'mt10 bd') %></a>
  <%- end %>
<%- end %>

<ul class="breadcrumb">
  <li><a href="<%= root_path %>">首页</a> &gt;</li>
  <li><a href="<%= lists_design_images_path %>">装修图库</a> &gt;</li>
  <li class="active">装修图片大全</li>
</ul>

<div class="map-list bd">
  <div class="map-list-nav clearfix">
    <p class="pull-right">
      我们为您精选了 <strong><%= @images.count %></strong> 张图片
    </p>
    <ul class="pull-left nomargin">
      <li class="list-curr">家装设计</li>
      <li class="">装修部件</li>
    </ul>
  </div>

  <div>
    <%=form_tag image_search_index_design_images_path, :class => 'map-list-search pr',:style => "display: block" do %>
      <p class="map-srch-bin">
        您的选择：
        <%- @query_tags.each do |tag| %>
        <% next if tag.blank? %>
        <span class="map-srch-s"><%= tag.parent.present? ? "#{tag.parent.title}" : "" %>: <i><%= tag.title %></i>
          <a href="<%= delete_link tag.id, :tag %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @color.present? && @color.to_s != "0" %>
        <span class="map-srch-s">查询: <i><%= @color %></i>
          <a href="<%= delete_link @color, :color %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @pinyin.present? && @pinyin.to_s != "0" %>
        <span class="map-srch-s">拼音: <i><%= @pinyin %></i>
          <a href="<%= delete_link @pinyin, :pinyin %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @area_names.present? %>
        <span class="map-srch-s">地区: <i><%= @area_names %></i>
          <a href="<%= delete_link @area, :area %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <span class="map-srch-s map-srch-reset" onclick="javascript:window.location='/images';">重新选择</button>
      </p>

      <div class="map-list-form map-mini">
        <%- @home_design.each do |category| %>
          <%- unless category.title == "按地区" %>
            <fieldset class="clearfix">
              <label class="pull-left"><%= category.title %>：</label>
                <span>
                  <a href="/images/<%= show_link category.category_id.to_i %>" class="highlight">全部</a>
                  <%- category.category(category.category_id).each do |cate_child| %>
                  <a href="/images/<%= show_link cate_child.id %>" class="<%= 'highlight' if @tag_ids &&  @tag_ids.include?(cate_child.id.to_s) %>"><%= cate_child.title %></a>
                  <%- end %>
                </span>
            </fieldset>
          <% else %>
            <fieldset class="clearfix noborder">
              <label class="pull-left"><%= category.title %>：</label>
              <span>
                <select id="province" class="level_1" style="width:70px;">省</select>
                <select id="city" class="level_2" style="width:70px;">市</select>
                <select id="county" class="level_3" style="width:70px;" name='area_id'>区</select>
                <input type="submit" class= "map-srch-submit" value="确定" onclick="submit_area();return false;" />
              </span>
            </fieldset>
          <% end %>
        <% end %>


        <a href="javascript:;" class="pa map-list-up map-list-down">展开</a>
      </div>
    <%- end %>

    <form class="map-list-search hide pr" style="display: none;">
      <p class="map-srch-bin">
        您的选择：
        <%- @query_tags.each do |tag| %>
        <% next if tag.blank? %>
        <span class="map-srch-s"><%= tag.parent.present? ? "#{tag.parent.title}" : "" %>: <i><%= tag.title %></i>
          <a href="<%= delete_link tag.id, :tag %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @color.present? && @color.to_s != "0" %>
        <span class="map-srch-s">查询: <i><%= @color %></i>
          <a href="<%= delete_link @color, :color %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @pinyin.present? && @pinyin.to_s != "0" %>
        <span class="map-srch-s">拼音: <i><%= @pinyin %></i>
          <a href="<%= delete_link @pinyin, :pinyin %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <%- if @area_names.present? %>
        <span class="map-srch-s">地区: <i><%= @area_names %></i>
          <a href="<%= delete_link @area, :area %>" class="map-srch-del">删除</a>
        </span>
        <%- end %>
        <span class="map-srch-s map-srch-reset" onclick="javascript:window.location='/images';">重新选择</button>
      </p>

      <div class="map-list-form map-mini">

        <%- @fitting_parts.each do |child_lv2| %>
          <fieldset class="clearfix">
            <label class="pull-left"><%= child_lv2.title %>：</label>
              <span>
                <a href="/images/<%= show_link child_lv2.category_id.to_i %>" class="highlight">全部</a>
                <%- child_lv2.category(child_lv2.category_id).each do |child_lv3| %>
                  <a href="/images/<%= show_link child_lv3.id %>" class="<%= 'highlight' if @tag_ids &&  @tag_ids.include?(child_lv3.id.to_s) %>"><%= child_lv3.title %></a>
                <%- end %>
              </span>
          </fieldset>
        <%- end %>
        <a href="javascript:;" class="pa map-list-up map-list-down">展开</a>
      </div>
    </form><!-- tab_content -->
  </div>
</div>


<div class="map-flow index_main mt10 pull-left">
  <div id="map-flow">
    <%
       if params[:page].present? && params[:page].to_i != 0
        site = (params[:page].to_i - 1) * 18
       else
        site =  0 * 18
       end
    %>
    <% @images.each_with_index do |image,index| %>
    <div>
      <a href="/images/<%=image.id%>/<%=site + (index + 1)%>/<%=show_link image.id%>" target="_blank" >
        <%= image_tag(image.file.url(:image_map_list), alt: image.design.try(:title), title: image.design.try(:title)) %>
        <p><%= image.design.try(:title) %></p>
      </a>
    </div>
    <% end %>
  </div>
  <form class="pager pager-form">
    <%= paginate @images, :window => 3, :outer_window => 3, :left => 5, :right => 3 %>
  </form>
</div>
  <div class="map-flow-r pull-right">
    <%= render partial: 'image_list', locals: { i_column_type_id: 1, name: '最新大师作品' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 4, name: '装修效果图精华推荐' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 5, name: '本周最热装修设计' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 9, name: '装修色彩配搭' } %>
    <%= render partial: 'image_list', locals: { i_column_type_id: 7, name: '相关资讯' } %>
  </div>

  <div class="index_main refresh_news mt10 clearfix pull-left">
    <div class="refresh_new pull-left">
      <h5><a href="<%= @images_jingxuan_more.url if @images_jingxuan_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>装修图库精选</h5>
      <ul class="ul_dot">
        <%- @images_jingxuan.each_with_index do |m,i| %>
          <li class="<%= 'noborder' if i == @images_jingxuan.size - 1 %>">
            <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
          </li>
        <%- end %>
      </ul>
    </div>
    <div class="refresh_new pull-left">
      <h5><a href="<%= @star_jingxuan_more.url if @star_jingxuan_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>设计之星作品精选</h5>
      <ul class="ul_dot">
        <%- @star_jingxuan.each_with_index do |m,i| %>
          <li class="<%= 'noborder' if i == @star_jingxuan.size - 1 %>">
            <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
          </li>
        <%- end %>
      </ul>
    </div>
    <div class="pull-right">
      <a href="<%= @banner1.url? ? @banner1.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner1.try(:file).try(:url, :list_230x230) %></a>
    </div>
  </div>

<a href="<%= @banner2.url? ? @banner2.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner2.try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>
<ul class="map-bot index_main mt10 clearfix">
  <li class="map-bot1">
    <strong>装修户型</strong>
    <div>
      <%- @type_categories1.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @type_categories2.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot2">
    <strong>装修风格</strong>
    <div>
      <%- @style_categories1.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @style_categories2.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @style_categories3.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot3">
    <strong>装修空间</strong>
    <div>
      <%- @space_categories1.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @space_categories2.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot4">
    <strong>装修色彩</strong>
    <div>
      <%- @color_categories1.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
    <div>
      <%- @color_categories2.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
  <li class="map-bot5">
    <strong>装修费用</strong>
    <div>
      <%- @cost_categories.each do |c| %>
        <p><a href="/images/<%= show_link(c.id) %>"><%= c.title %></a></p>
      <%- end %>
    </div>
  </li>
</ul>