<%- content_for :head do %>
  <%= stylesheet_link_tag "imgbase", "jquery.slider"%>
  <style type="text/css">
  	.check_imgs{padding-left:25px;background:#e71d36 url(<%= asset_path 'imgbase/icon_freeq.png' %>) no-repeat 8px -17px;text-decoration:none;}
  </style>
<%- end %>
<%- content_for :tail do %>
  <%= javascript_include_tag "slides", "LinkageSelect.js", "/location.js", "underscore.js", "design_images.js" %>
  <script type="text/javascript">
	function show_login() {
	        o_in();
	        $('#login_win').show();
	        $("#design_message").hide();
	        $('#overlay_new_user, #new_user').bind('ajax:error', function (xhr, status, error) {
	            err_in();
	        });
	    }

  	$(function() {
      var options = {
        data  : data
      }
      var sel = new LinkageSelect(options);
      sel.bind('.level_1', <%= @area_level_1 ? "'#{@area_level_1}'".html_safe : "null" %>, '请选择');
      sel.bind('.level_2', <%= @area_level_2 ? "'#{@area_level_2}'".html_safe : "null" %>, '请选择');
      sel.bind('.level_3', <%= @area_level_3 ? "'#{@area_level_3}'".html_safe : "null" %>, '请选择');
    });
    $(function() {
    	$('.check_on').bind("click", function (event) {
    		$(this).addClass("highlight");
        event.preventDefault();
        event.stopPropagation();
        add_tag($(event.currentTarget).data('parent-id'), $(event.currentTarget).data('tag-id'));
    	});
    });
    $(function(){
			var $slider = $('#feb_slides'),
				$list   = $('.imgbase_list'),
				$view   = $('#imgbase_view'),
				$info   = $('#imgbase_info'),
				$full   = $('#imgbase_full'),
				$collect= $('.imgbase_collect_id'),
				$down   = $('.imgbase_down_id'),
				$toggle = $('.imgbase_toggle'),
				// s = $(".imgbase_collect").attr('data_s'),
				$form   = $('#imgbase_forms').find('form'),
        $ul     = $('#imgbase_ul'),
        $conte = $('.imgbase_bin > .imginfo_big_txt'),
        $colorsbox = $(".imgbase_bin > .colorsbox");
			$slider.slides({
				next: 'slider_next',
				prev: 'slider_prev',
				// paly : 5000,
				pause: 2500,
				animationComplete:function(){
					var num = $slider.find('.current').index();
					var $curr = $list.find('> li').eq(num),
						views = $curr.data('view'),
						full = $curr.data('full'),
						html  = $curr.find('div').html();
					$curr.addClass('imgbase_curr').siblings().removeClass('imgbase_curr');
					$view.text(views);
					$full.attr('href', '/images/' + full + '/fullscreen');
					$collect.attr('href', '/users/' + full + '/collects?design_image_id=' + full);
					$down.attr('href', '/design_images/' + full + '/download');
					$info.html(html);
					$conte.html($curr.find('.imginfo_big_txt').html());
          $colorsbox.html($curr.find('.colorsbox').html());
          <% if !params[:page].present? || params[:page].to_i == 0 %>
	          if(num == 0 ){
	          	$("#prev").hide();
	          }else{
							$("#prev").show();
	          }
          <% end %>
          <% if @images.current_page == @images.total_pages %>
						if(num == $list.children().length -1){
	          	$("#next").hide();
	          }else{
							$("#next").show();
	          }
					<% end %>

          //fn(full)
				}
			});
// console.log($('.imgbase_list').children().last().data('full'))

			<% if params[:page].present? &&  params[:page].to_i != 0 %>
				$('#prev').show();
				$('#prev').click(function(event) {
					var li_index = $list.find('.imgbase_curr').index();
					event.preventDefault()
					if(li_index == 0){
					 	<% if  (params[:page].to_i - 1) == 1 %>
					 		//window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:return => 1)) %>"
              ///0-0-0-0-0-0-0-0-0-all-view_count-3-B-a-0-0
                window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1"
					 	<% else %>
					 		// window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:page => (@images.current_page - 1),:return => 1))%>"
              window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-1/<%=@images.current_page - 1%>"
					 	<% end %>
					}
				})
			<% else %>
				$("#prev").hide();
			<% end %>
			<% if @images.current_page == @images.total_pages %>

					var li_index = $list.find('.imgbase_curr');
					var last_id = li_index.data('full');
					if(last_id == <%=@images.last.id%>){
						$("#next").hide();
					}
			<% else %>
				$('#next').click(function(event) {
					var li_index = $list.find('.imgbase_curr').index();
					if(li_index == 10){
						// window.location = "<%=escape_javascript(raw design_images_path(imageable_type: params[:imageable_type],pinyin: params[:pinyin],search: params[:search],tags: params[:tags],all_tags: params[:all_tags],area_id: params[:area_id],ranking_list: params[:ranking_list],:page => (@images.current_page + 1))) %>"
            window.location = "/images/<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0%>-<%=params[:search] ? params[:search] : '_'%>-<%=params[:all_tags] ? params[:all_tags] : 0%>-0/<%=@images.current_page + 1%>"
					}
				});
			<% end %>


			$list.on('mouseenter', 'li', function(){
				var index = $(this).index();
				$slider.find('li').eq(index).find('a').click();
			}).mouseleave(function(){
				$slider.mouseleave();
			});
			$ul.on('click', 'li', function(){
	      var $this = $(this),
	          index = $this.index();
	      $this.addClass('active_tit').siblings().removeClass();
	      $form.eq(index).show().siblings().hide();
      });
			$toggle.click(function(){
				var $this = $(this);
				$this.toggleClass('form_expand').text($this.hasClass('form_expand') ? '展开' : '收起').parent().toggleClass('form_mini');
			});

			if($toggle.hasClass('form_expand')){
				$toggle.text("展开");
			}
			else {
				$toggle.text("收起");
			};

      $('.colors_con').live('hover', function(){
        $(this).children().fadeToggle('fast');
      });

});

  var tags = new Array();
  <%- if @tags -%>
    <%- @tags.each do |tag| -%>
      <%- if tag.children_count == 0 -%>
      tags[<%= tag.parent_id %>] = <%= tag.id -%>;
      <%- else -%>
      tags[<%= tag.id %>] = <%= tag.id -%>;
      <%- end -%>
    <%- end -%>
  <%- end -%>
  function search_sub(){
  var search = $("#search_query_value").val();
  if(search == "" || search == null){
    window.location = "/images"
  }else{
    window.location = "/images/0-0-0-0-0-0-0-0-0-all-0-0-0-" + search + "-0-0"
  }
}
  </script>
<%- end %>
<% if params[:return].present? && params[:return].to_i == 1 %>
<script type="text/javascript">
$(function(){
  setTimeout(function(){
  $('.imgbase_list').children().last().trigger('mouseover');
  },500)
})
</script>
<% end %>

<div class="imgbase">
	<div class="imgbase_title">
		<img src="<%= asset_path "imgbase/imgbase_tit.png" %>">
		<div class="clear">
			<div class="fr imgbase_search">
				<form action='/images/' method='get' style="display:inline">
					<input type="text" name='search' value="<%= params[:search] if params[:search].present? && params[:search].to_s != "_"%>" id="search_query_value"><button type="button"  onclick="search_sub()">搜图</button>
				</form>
				<span>热门搜索：
					<%- if MagicSetting.color_tag.present? %>
						<a href="/images/0-0-0-0-0-0-0-0-0-0-all-0-0-0-<%= MagicSetting.color_tag %>-0-0"><%= MagicSetting.color_tag %></a>
					<%- end %>
					<a href="/images/0-0-0-0-0-0-0-0-0-0-all-0-0-0-小户型-0-0">小户型</a>
					<a href="/images/0-0-0-0-0-0-0-0-0-0-all-0-0-0-客厅-0-0">客厅</a>
					<a href="/images/0-0-0-0-0-0-0-0-0-0-all-0-0-0-简约-0-0">简约</a>
				</span>
			</div>
			<p>iColor为您提供<strong><%= @image_length%></strong>张装修图片</p>
		</div>
	</div><!-- imgbase_title -->
	<div class="imgbase_main pr">
		<div class="tit_tab clear">
			<p class="fr">
				<a href="/images/0-0-0-0-0-0-0-0-0-0-all-0-0-0-_-0-0" class="<%="active_condition" if params[:controller] == 'design_images' && (params[:imageable_type] == nil || params[:imageable_type] == "" || params[:imageable_type] == "all") %>">所有图片</a>
				<a href="/images/0-0-0-0-0-0-0-0-0-0-MasterDesign-0-0-0-_-0-0" class="<%="active_condition" if params[:imageable_type] == 'MasterDesign'%>">大师作品</a>
        <a href="/images/0-0-0-0-0-0-0-0-0-0-WeekStart-0-0-0-_-0-0" class="<%="active_condition" if params[:imageable_type] == 'WeekStart'%>">设计之星</a>
				<a href="/images/0-0-0-0-0-0-0-0-0-0-ColorDesign-0-0-0-_-0-0" class="<%="active_condition" if params[:imageable_type] == 'ColorDesign'%>">色彩配搭</a>
			</p>
			<ul id="imgbase_ul" class="fl">
				<li class="active_tit">家装设计</li>
				<li>装修部件</li>
			</ul>
			<!-- <ul class="fl">
				<li><a href="#" class="fresh">刷新百城</a></li>
			</ul> -->
		</div><!-- tit_tab -->
		<div id="imgbase_forms">
      <%=form_tag image_search_index_design_images_path, :class => params["tags"].blank? ? 'tab_content form_mini' : 'tab_content' do %>
				<%- @categories.each do |category| %>
					<%- unless category.title == "按建筑" || category.title == "按部件" %>
						<fieldset class="clear">
							<label class="fl"><%= category.title %>：</label>
							<span>
								<a href="/images?tags=<%=category.id%>"
                  data-parent-id='<%= category.id %>' data-tag-id='<%= category.id %>'
                  class="check_on <% if @tag_ids &&  @tag_ids.include?(category.id) %>highlight<% end %>">全部</a>
								<%- category.children.each do |cate_child| %>
									<a href="/images?tags=<%= cate_child.id %>"
                    data-parent-id='<%= category.id %>' data-tag-id='<%= cate_child.id %>'
                    class="check_on <% if @tag_ids && @tag_ids.include?(cate_child.id) %>highlight<% end %>"><%= cate_child.title %></a>
								<%- end %>
							</span>
						</fieldset>
					<%- end %>
				<%- end %>

				<fieldset class="clear">
					<label class="fl">按地域：</label>
					<span>
						<select id="province" class="level_1" style="width:70px;">省</select>
		        <select id="city" class="level_2" style="width:70px;">市</select>
		        <select id="county" class="level_3" style="width:70px;" name='area_id'>区</select>
		        <input type="button" value="" onclick="submit_area()" />
					</span>
				</fieldset>
				<fieldset class="lastfield pinyin_list clear">
					<label class="fl">拼音检索：</label>
					<a href="/images?pinyin=A">A</a>|
          <a href="/images?pinyin=B">B</a>|
          <a href="/images?pinyin=C">C</a>|
          <a href="/images?pinyin=D">D</a>|
          <a href="/images?pinyin=E">E</a>|
          <a href="/images?pinyin=F">F</a>|
          <a href="/images?pinyin=G">G</a>|
          <a href="/images?pinyin=H">H</a>|
          <a href="/images?pinyin=I">I</a>|
          <a href="/images?pinyin=J">J</a>|
          <a href="/images?pinyin=K">K</a>|
          <a href="/images?pinyin=L">L</a>|
          <a href="/images?pinyin=M">M</a>|
          <a href="/images?pinyin=N">N</a>|
          <a href="/images?pinyin=O">O</a>|
          <a href="/images?pinyin=P">P</a>|
          <a href="/images?pinyin=Q">Q</a>|
          <a href="/images?pinyin=R">R</a>|
          <a href="/images?pinyin=S">S</a>|
          <a href="/images?pinyin=T">T</a>|
          <a href="/images?pinyin=U">U</a>|
          <a href="/images?pinyin=V">V</a>|
          <a href="/images?pinyin=W">W</a>|
          <a href="/images?pinyin=X">X</a>|
          <a href="/images?pinyin=Y">Y</a>|
          <a href="/images?pinyin=Z">Z</a>
				</fieldset>
				<a href="javascript:;" class="<%= params["tags"].blank? ? "pa imgbase_toggle form_expand" : "pa imgbase_toggle" %>">展开</a>
      <% end %>
			<form class="<%= params[:tags].blank? ? 'tab_content form_mini' : 'tab_content' %> none">
				<%- @categories.each do |category| %>
					<%- if category.title == "按部件" %>
						<%- category.children.each do |child_lv2| %>
							<fieldset class="clear">
								<label class="fl"><%= child_lv2.title %>：</label>
								<span>
									<a href="/images?tags=<%= child_lv2.id %>"
                    data-parent-id='<%= child_lv2.id %>' data-tag-id='<%= child_lv2.id %>'
                    value ="<%= child_lv2.id %>" class="check_on <% if @tag_ids &&  @tag_ids.include?(child_lv2.id) %>highlight<% end %>">全部</a>
									<%- child_lv2.children.each do |child_lv3| %>
										<a href="/images?tags=<%= child_lv2.id %>,<%= child_lv3.id %>"
                      data-parent-id='<%= child_lv2.id %>' data-tag-id='<%= child_lv3.id %>'
                      value ="<%= child_lv3.id %>" class="check_on <% if @tag_ids && @tag_ids.include?(child_lv3.id) %>highlight<% end %>"><%= child_lv3.title %></a>
									<%- end %>
								</span>
							</fieldset>
						<%- end %>
					<%- end %>
				<%- end %>
				<a href="javascript:;" class="<%= params["tags"].blank? ? "pa imgbase_toggle form_expand" : "pa imgbase_toggle" %>">展开</a> 
			</form><!-- tab_content -->
		</div><!-- imgbase_forms -->
	</div><!-- imgbase_main -->
	<div class="search_bin clear">
		<a href="/images?ranking_list=like" data-rank='like' class="fr <%= "curr_rank" if params[:ranking_list] == "like" %>">喜欢排行</a>
		<a href="/images?ranking_list=view_count" data-rank='view_count' class="fr <%= "curr_rank" if params[:ranking_list] == "view_count" %>">浏览排行</a>
		<a href="/images" class="fr <%= "curr_rank" if (params[:ranking_list] == "0" || params[:ranking_list] == nil || params[:ranking_list] == "") && params[:controller] == "design_images" %>">默认排行</a>
		<%- if @query_params_index.present? || @area_names.present? || (params[:pinyin].present? && params[:pinyin].to_i != 0)%>
			<p class="srch-items">
				您的选择：
				<%- @query_tags.each do |tag| %>
          <% next if tag.blank? %>
					<span class="srch-span"><%= tag.parent.title %>: <i><%= tag.title %></i><a href="javascript:add_tag(<%= tag.parent_id %>, <%= tag.id %>);" class="srch-del">删除</a></span>
				<%- end %>
				<%- if params[:pinyin].present? && params[:pinyin].to_s != "0" %>
					<span class="srch-span">拼音: <i><%= params[:pinyin] %></i><a href="javascript:delete_pinyin();" class="srch-del">删除</a></span>
				<%- end %>
				<%- if @area_names.present? %>
					<span class="srch-span">地区: <i><%= @area_names %></i><a href="javascript:delete_submit_area();" class="srch-del">删除</a></span>
				<%- end %>
				<span class="srch-divider">|</span>
				<button class="srch-span" onclick="javascript:window.location='/images/0-0-0-0-0-0-0-0-0-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0%>-0-0-_-0-0';">重新选择</button>
			</p>
		<%- end %>
	</div><!-- search_bin -->

	<%- if @images.present? %>
		<div class="imgbase_area clear">
			<div class="imgbase_bin fl pr">
				<div class="imgbase_func ft12 pa btn_group">
					<%= link_to "", "/images/#{@images.first.id}/fullscreen", :class =>"icon_fullscreen", :id =>"imgbase_full", :target => '_blank' %>
					<%- if current_user %>
						<%=link_to "", user_collects_path(current_user, design_image_id: @images.first.id), :remote => true, method: :post, :id => "new_message" , :class => "icon_colleting" %>
					<%- else %>
						<%=link_to_function "", "show_login()", :id => "new_message" , :class => "icon_colleting" %>
					<%- end %>
						<%= link_to '', download_design_image_path(@images.first.id), :class => 'icon_freedown imgbase_down_id' %>
				</div>
				<div id="feb_slides">
					<div class="slides_container">
						<%- @images.each do |image| %>
							<div>
								<div class="img_vertical_align">
									<%- if image.imageable_type == "MasterDesign" -%>
										<a href="<%= master_design_path(image.imageable_id) %>" target="_blank" >
											<%= image_tag(image.file.url(:design_image_big), alt: image.design.try(:title), title: image.design.try(:title)) %>
										</a>
									<%- elsif image.imageable_type == "ColorDesign" -%>
										<a href="/color_designs/<%= image.imageable_id %>" target="_blank" >
											<%= image_tag(image.file.url(:design_image_big), alt: image.design.try(:title), title: image.design.try(:title)) %>
										</a>
									<%- else %>
										<a href="<%= user_design_path(image.user_id, image.imageable_id, image_id: image.id) %>" target="_blank" >
											<%= image_tag(image.file.url(:design_image_big), alt: image.design.try(:title), title: image.design.try(:title)) %>
										</a>
									<%- end -%>
								</div>
							</div>
						<%- end %>
					</div>

						<a href="javascript:;" class="slider_next"  id="next">next</a>


						<a href="javascript:;" class="slider_prev" id="prev">prev</a>

				</div>

				<div class="colorsbox clear border_bline" style="height:82px;">
					<%= image_tag('colors_icon_tit.png', style: 'float:left; margin-top:15px;') %>
					<div id="colors_con" class="colors_con" style="float:left; padding:20px 0 0; height:35px; position:relative;">
						<%= image_tag('colors2.jpg', style: 'display: inline-block;') %>
						<div class="desc" style="height: 35px; width: 560px; margin: 19px 0px; position: absolute; left: 1px; top: 1px; background-color: rgb(255, 255, 255); display: none;">
							<div class="list" style="height:35px;">
								<ul class="group" style="overflow:hidden;">
									<%- @image_colors.first.each do |color| %>
										<li>
											<div class="colorblock" style="background-color:rgb(<%= color.rgb %>)"></div>
											<h5><%= color.name %></h5>
											<p><%= color.code %></p>
										</li>
			                  <%- end %>
								</ul>
							</div>
						</div>
					</div>
					<div class="fr ft12 btn_group btn_group_imgs border_lline">
						<%= link_to votes_path(:voteable_id => @images.first.id, :voteable_type => "DesignImage"), :title => '', :remote => true, class: "icon_like votes_count#{@images.first.id}", :method => :post, :title => @images.first.try(:votes_count) do %>
				           <%= @images.first.try(:votes_count) %>
				        <%- end %>
						<a href="javascript:void(0);" class="icon_view">
			            <%= @images.first.try(:comments_count) %>
			         </a>
					</div>
				</div>

				<p class="imginfo_big_txt">
					<span class="fr nomargin">
						<a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank"><img src="<%= asset_path 'imgbase/tmall.jpg' %>"></a>
						<a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank"><img src="<%= asset_path 'imgbase/go_shops.jpg' %>"></a>
					</span>
					<%- if @images.first.imageable_type == "MasterDesign" -%>
						<span class="fl march-twenty-a">
							<a href="/master_designs/<%= @images.first.imageable_id %>" target="_blank">
								<%= truncate(@images.first.imageable.try(:title), length: 15) %>
							</a>
								<a href="<%= user_design_path(@images.first.user_id, @images.first.imageable_id) %>" class="img_reply_btn check_imgs" target="_blank">
									查看该套作品
								</a>
							
						</span>
						<span class="fl cl">
							<strong>
								<%= @images.first.imageable.master_profile.try(:name) || @images.first.imageable.master_name %>
							</strong>
						</span>
					<%- elsif @images.first.imageable_type == "ColorDesign" %>
						<span class="fl march-twenty-a">
							<a href="/color_designs/<%= @images.first.imageable_id %>" target="_blank"><%= truncate(@images.first.try(:title), length: 15) %> </a>
						</span>
						<span class="fl cl">
						</span>
					<%- else %>
						<span class="fl march-twenty-a">
							<a href="<%= user_design_path(@images.first.user_id, @images.first.imageable_id) %>" target="_blank"><%= truncate(@images.first.design.try(:title), length: 15) %> </a>
							<a href="<%= user_design_path(@images.first.user_id, @images.first.imageable_id) %>" class="img_reply_btn check_imgs" target="_blank">
								查看该套作品
							</a>
						</span>
						<span class="fl cl">
							<strong>
								<%= @images.first.user.try(:display_name) %>
								<% if @images.first.user %>
									<a href="<%= user_asks_path(@images.first.user.id) %>"  class="img_reply_btn" target="_blank">
										免费咨询
									</a>
								<% end %>
							</strong>
						</span>
					<%- end %>
				</p>
			</div><!-- imgbase_bin -->

			<ul class="imgbase_list">
				<%
         if params[:page].present? && params[:page].to_i != 0
          site = (params[:page].to_i - 1) * 11
         else
          site =  0 * 11 
         end
        %>
				<%- @images.each_with_index do |image, index| %>
					<li data-full="<%= image.id %>" data-view="<%= image.try(:view_count) %>" class="<%= 'imgbase_curr' if index == 0 %>">
						
						<a href="/images/<%=image.id%>_<%=params[:tags] ? params[:tags] : '0-0-0-0-0-0-0-0-0-0'%>-<%=params[:imageable_type] ? params[:imageable_type] : 'all'%>-<%=params[:ranking_list] ? params[:ranking_list] : 0 %>-<%=params[:area_id] ? params[:area_id] : 0 %>-<%=params[:pinyin] ? params[:pinyin] : 0 %>-<%= params[:search] ? params[:search] : '_' %>-<%=params[:all_tags] ? params[:all_tags] : 0%>-<%=site + (index + 1)%>" target="_blank">
							<%= image_tag(image.file.url(:design_image_list), size: '224x162', alt: image.design.try(:title), title: image.design.try(:title)) %>
							<p><%= truncate(image.title, length: 15) %></p>
							<span></span>
						</a>

						<p class="imginfo_big_txt none">
							<span class="fr nomargin">
								<a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank"><img src="<%= asset_path 'imgbase/tmall.jpg' %>"></a>
								<a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank"><img src="<%= asset_path 'imgbase/go_shops.jpg' %>"></a>
							</span>
							<%- if @images.first.imageable_type == "MasterDesign" -%>
								<span class="fl march-twenty-a">
									<a href="/master_designs/<%= image.imageable_id %>" target="_blank">
										<%= truncate(image.imageable.try(:title), length: 15) %>
									</a>
									<a href="<%= user_design_path(@images.first.user_id, @images.first.imageable_id) %>" class="img_reply_btn check_imgs" target="_blank">
										查看该套作品
									</a>
									</a>
								</span>
								<span class="fl cl">
									<strong>
										<%= image.imageable.master_profile.try(:name) || image.imageable.master_name %>
									</strong>
								</span>
							<%- elsif @images.first.imageable_type == "ColorDesign" -%>
								<span class="fl march-twenty-a">
									<a href="/color_designs/<%= image.imageable_id %>" target="_blank">
										<%= truncate(image.try(:title), length: 15) %>
									</a>
								</span>
							<%- else %>
								<span class="fl march-twenty-a">
									<a href="<%= user_design_path(image.user_id, image.imageable_id) %>" target="_blank">
										<%= truncate(image.design.try(:title), length: 15) %>
									</a>
									<a href="<%= user_design_path(@images.first.user_id, @images.first.imageable_id) %>" class="img_reply_btn check_imgs" target="_blank">
										查看该套作品
									</a>
								</span>
								<span class="fl cl">
									<strong>
										<%= image.user.try(:display_name) %>
										<% if image.user %>
											<a href="<%= user_asks_path(image.user.id) %>"  class="img_reply_btn" target="_blank">
												免费咨询
											</a>
										<% end %>
									</strong>
								</span>
							<%- end %>
						</p>

						<div class="colorsbox clear border_bline" style="height:82px;display:none;">
							<%= image_tag('colors_icon_tit.png', style: 'float:left; margin-top:15px;') %>
							<div id="colors_con" class="colors_con" style="float:left; padding:20px 0 0; height:35px; position:relative;">
								<%= image_tag('colors2.jpg', style: 'display: inline-block;') %>
								<div class="desc" style="height: 35px; width: 560px; margin: 19px 0px; position: absolute; left: 1px; top: 1px; background-color: rgb(255, 255, 255); display: none;">
									<div class="list" style="height:35px;">
										<ul class="group" style="overflow:hidden;">
											<%- @image_colors[index].each do |color| %>
												<li>
													<%- background = color.rgb.blank? ? "background:url(/assets/color_code/' + color.code + '.png)" : "background-color: rgb(#{color.rgb})" -%>
													<div class="colorblock" style="<%= background %>"></div>
													<h5><%= image.color1_name %></h5>
													<p>立邦(<%= color.code %>)<%= color.name %></p>
												</li>
											<%- end %>
										</ul>
									</div>
								</div>
							</div>
							<div class="fr ft12 btn_group btn_group_imgs border_lline">
								<%= link_to votes_path(:voteable_id => image.id, :voteable_type => "DesignImage"), :remote => true, class: "icon_like votes_count#{image.id}", :method => :post, :title => image.try(:votes_count) do %>
									<%= image.try(:votes_count) %>
								<%- end %>
								<a href="javascript:void(0);" class="icon_view">
									<%= image.try(:comments_count) %>
								</a>
							</div>
						</div>
					</li>
				<%- end %>
			</ul>
		</div><!-- imgbase_area -->

		<div class="pager ft12">
			<%= paginate @images %>
		</div><!-- pager -->
	<%- else %>
		<div class="imgbase_area clear">
			<div class="imgbase_bin fl pr">
				<!--图片不存在-->
			</div>
		</div>
	<%- end %>
</div><!-- imgbase -->
