<%- content_for :head do %>
	<%= stylesheet_link_tag "manage/map.css" %>
<%- end %>

<h3 class="chann_caption nomargin">
	<div class="map-search pull-right">
		<p class="pull-left">热门搜索：
			<a href="#">欧式</a>
			<a href="#">小户型</a>
			<a href="#">客厅</a>
			<a href="#">背景墙</a>
			<a href="#">阳台</a>
			<a href="#">暖色调</a>
			<a href="#">卧室</a>
		</p>
		<form action="#" class="pull-left">
			<input type="text" class="map-text" placeholder="婚房装修" />
			<input type="submit" class="map-submit" value="搜图" />
		</form>
	</div>
	<i class="icon-map icon-map2 icon_colors"></i>
	<strong>装修图库</strong>
	<small>iColor为您提供<span class="cr"><%= @images_count %></span>张装修图片</small>
</h3>
<ul class="map-nav bd clearfix">
	<li class="pull-left"><a href="/design_images/lists">图库首页</a></li>
	<li class="pull-left"><a href="#">装修图片大全</a></li>
	<li class="pull-left"><a href="#">装修户型</a></li>
	<li class="pull-left"><a href="#">装修风格</a></li>
	<li class="pull-left"><a href="#">装修费用</a></li>
	<li class="pull-left"><a href="#">装修空间</a></li>
	<li class="pull-left"><a href="#">装修色彩</a></li>
	<li class="pull-right"><a href="#">装修色彩配搭</a></li>
	<li class="pull-right"><a href="#">小户型卧室</a></li>
	<li class="pull-right"><a href="#">欧式厨房</a></li>
	<li class="pull-right"><a href="#">经济型现代简约</a></li>
	<li class="pull-right"><a href="#">餐厅隔断设计</a></li>
	<li class="pull-right"><a href="#">蓝色系儿童房</a></li>
</ul>
<a href="<%= @banner1.url? ? @banner1.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner1.try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>

<ul class="breadcrumb">
	<li><a href="<%= root_path %>">首页</a> &gt;</li>
	<li><a href="<%= lists_design_images_path %>">装修图库</a> &gt;</li>
	<li class="active">图库首页</li>
</ul>
<div class="map-top clearfix">
	<div id="refresh_slide" class="map-slider media_refresh pull-left">
		<div class="slider-bin">
			<div class="slider-container">
				<ul class="clearfix nomargin">
					<li class="item">
						<a class="pull-left media_a title_opacity" href="#">
							<img class="media-object" data-src="holder.js/64x64" src="<%= asset_path 'manage/map/map-slider.jpg'%>">
							<p>
								<span>80平糖果色甜美公寓1</span>
							</p>
						</a>
					</li>
					<li class="item">
						<a class="pull-left media_a title_opacity" href="#">
							<img class="media-object" data-src="holder.js/64x64" src="<%= asset_path 'manage/map/map-slider.jpg' %>">
							<p>
								<span>80平糖果色甜美公寓2</span>
							</p>
						</a>
					</li>
				</ul>
			</div>
			<ul class="circle_indicators nomargin">
				<li class="slider-active"><a href="javascript:;">1</a></li>
				<li><a href="javascript:;">2</a></li>
			</ul>
		</div>
	</div>
	<div class="map-cen pull-left">
		<h4 class="text-center"><a href="#" class="map-title1">简约现代宜家三居设计</a></h4>
		<div class="map-news">
			<a href="#">大胆玩色 2套现代休闲美宅时尚比拼2套现代休闲美宅时尚比拼</a>
			<span>|</span>
			<a href="#">阁楼华丽变身 3套儿童房改造案例</a>
			<a href="#">小瓷砖定乾坤 61个卫浴间万能模板</a>
			<span>|</span>
			<a href="#">现代简约装修 年轻夫妇甜蜜婚房</a>
		</div>
		<h4 class="text-center"><a href="#" class="map-title2">简约现代宜家三居设计</a></h4>
		<div class="map-news">
			<a href="#">110平米时尚混搭 田园气质童话梦想</a>
			<span>|</span>
			<a href="#">简约主义8万装100平米三居室婚房</a>
			<a href="#">130平米大气轩昂 三人的古典美宅</a>
			<span>|</span>
			<a href="#">独具一格 孩子视角看120平色彩家</a>
		</div>
		<ul class="map-bt">
			<li>
				<a href="#" class="map-bt1">装修户型</a><span>|</span>
				<a href="#" class="map-bt2">风景这边独好 阳台也能很浪漫</a>
				<a href="#" class="map-bt2">荐12款实惠的小户型电视柜</a>
			</li>
			<li>
				<a href="#" class="map-bt1">装修风格</a><span>|</span>
				<a href="#" class="map-bt2">两套悠然自在三居室设计推荐</a>
				<a href="#" class="map-bt2">南非别墅的色彩视觉震撼</a>
			</li>
			<li>
				<a href="#" class="map-bt1">装修费用</a><span>|</span>
				<a href="#" class="map-bt2">8万半包95平时尚浪漫田园美家</a>
				<a href="#" class="map-bt2">白领7万装92平两房两厅幸福</a>
			</li>
			<li>
				<a href="#" class="map-bt1">装修空间</a><span>|</span>
				<a href="#" class="map-bt2">突破极限3-7平小浴室制胜空间</a>
				<a href="#" class="map-bt2">11招让居家和时尚并排走</a>
			</li>
			<li>
				<a href="#" class="map-bt1">装修色彩</a><span>|</span>
				<a href="#" class="map-bt2">淡雅色彩让你在夏日享清凉</a>
				<a href="#" class="map-bt2">浪漫地中海风情 80后小户型</a>
			</li>
		</ul>
	</div>
	<div class="map-r pull-right">
		<a href="<%= @banner2.url? ? @banner2.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner2.try(:file).try(:url, :list_230x230) %></a>
		<a href="<%= @banner3.url? ? @banner3.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner3.try(:file).try(:url, :list_230x170), class: "mt10" %></a>
	</div>
</div>

<div class="clearfix">
	<div class="footer_banner pull-left">
		<a href="<%= @banner4.url? ? @banner4.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner4.try(:file).try(:url, :list_670x85) %></a>
	</div>
	<div class="footer_banner pull-right">
		<a href="<%= @banner5.url? ? @banner5.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner5.try(:file).try(:url, :list_310x85) %></a>
	</div>
</div>

<div class="index_base clearfix">
	<p class="clearfix index_tit">
		<a href="#" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
		<strong class="pull-left mr10 ft14">装修户型</strong>
		<a href="#">小户型</a> |
		<a href="#">两居室</a> |
		<a href="#">三居室</a> |
		<a href="#">60平</a> |
		<a href="#">120平</a>
	</p>
	<hr class="border2 border2_mt2">
	<ul class="map-left index_main pull-left">
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map01.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map02.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map03.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map04.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map05.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map06.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map07.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map08.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
	</ul>
	<ul class="map-right index_main pull-right">
		<li class="text-center">装修户型排行榜</li>
		<li class="map-r1">
			<a href="#">
				<strong>20万装修148平简欧风舒适四房</strong>
				<img src="<%= asset_path 'manage/map/img/map01.jpg'%>" alt="" />
			</a>
		</li>
		<li class="map-r2"><a href="#">东南亚混搭中式 五行风水人家</a></li>
		<li class="map-r3"><a href="#">128平大空间彰显现代美式风情</a></li>
		<li class="map-r4"><a href="#">惬意欧式古典风 9.8万打造</a></li>
		<li class="map-r5"><a href="#">海派南美家居装饰风格家</a></li>
	</ul>
</div>
<div class="index_base clearfix">
	<p class="clearfix index_tit">
		<a href="#" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
		<strong class="pull-left mr10 ft14">装修风格</strong>
		<a href="#">现代简约</a> |
		<a href="#">欧美流行</a> |
		<a href="#">混搭</a> |
		<a href="#">田园</a> |
		<a href="#">日式</a>
	</p>
	<hr class="border2 border2_mt2">
	<ul class="map-left index_main pull-left">
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map10.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map11.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map12.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map13.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map14.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map15.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map16.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
	</ul>
	<ul class="map-right index_main pull-right">
		<li class="text-center">装修风格排行榜</li>
		<li class="map-r1">
			<a href="#">
				<strong>20万装修148平简欧风舒适四房</strong>
				<img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" />
			</a>
		</li>
		<li class="map-r2"><a href="#">东南亚混搭中式 五行风水人家</a></li>
		<li class="map-r3"><a href="#">128平大空间彰显现代美式风情</a></li>
		<li class="map-r4"><a href="#">惬意欧式古典风 9.8万打造</a></li>
		<li class="map-r5"><a href="#">海派南美家居装饰风格家</a></li>
	</ul>
</div>
<a href="<%= @banner6.url? ? @banner6.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner6.try(:file).try(:url, :list_1000x85) %></a>

<div class="index_base clearfix">
	<p class="clearfix index_tit">
		<a href="#" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
		<strong class="pull-left mr10 ft14">装修费用</strong>
		<a href="#">经济型</a> |
		<a href="#">8万以下</a> |
		<a href="#">8-15万</a> |
		<a href="#">15-30万</a>
	</p>
	<hr class="border2 border2_mt2">
	<ul class="map-left index_main pull-left">
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map01.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map02.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map03.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map04.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map05.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map06.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map07.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map08.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
	</ul>
	<ul class="map-right index_main pull-right">
		<li class="text-center">装修费用排行榜</li>
		<li class="map-r1">
			<a href="#">
				<strong>20万装修148平简欧风舒适四房</strong>
				<img src="<%= asset_path 'manage/map/img/map01.jpg'%>" alt="" />
			</a>
		</li>
		<li class="map-r2"><a href="#">东南亚混搭中式 五行风水人家</a></li>
		<li class="map-r3"><a href="#">128平大空间彰显现代美式风情</a></li>
		<li class="map-r4"><a href="#">惬意欧式古典风 9.8万打造</a></li>
		<li class="map-r5"><a href="#">海派南美家居装饰风格家</a></li>
	</ul>
</div>
<div class="index_base clearfix">
	<p class="clearfix index_tit">
		<a href="#" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
		<strong class="pull-left mr10 ft14">装修空间</strong>
		<a href="#">客厅</a> |
		<a href="#">卧室</a> |
		<a href="#">厨房</a> |
		<a href="#">卫生间</a> |
		<a href="#">阳台</a>
	</p>
	<hr class="border2 border2_mt2">
	<ul class="map-left index_main pull-left">
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map10.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map11.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map12.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map13.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map14.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map15.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map16.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
	</ul>
	<ul class="map-right index_main pull-right">
		<li class="text-center">装修空间排行榜</li>
		<li class="map-r1">
			<a href="#">
				<strong>20万装修148平简欧风舒适四房</strong>
				<img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" />
			</a>
		</li>
		<li class="map-r2"><a href="#">东南亚混搭中式 五行风水人家</a></li>
		<li class="map-r3"><a href="#">128平大空间彰显现代美式风情</a></li>
		<li class="map-r4"><a href="#">惬意欧式古典风 9.8万打造</a></li>
		<li class="map-r5"><a href="#">海派南美家居装饰风格家</a></li>
	</ul>
</div>
<div class="index_base clearfix">
	<p class="clearfix index_tit">
		<a href="#" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
		<strong class="pull-left mr10 ft14">装修色彩</strong>
		<a href="#">浅白色系</a> |
		<a href="#">紫色系</a> |
		<a href="#">中性色系</a> |
		<a href="#">暖色调</a> |
		<a href="#">木器实色</a>
	</p>
	<hr class="border2 border2_mt2">
	<ul class="map-left index_main pull-left">
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map10.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map11.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map12.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map13.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">时尚雅致景观视野</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map14.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">循著彩虹階梯奔向幸福</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map15.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">浪漫地中海 海洋的味道</a></p>
		</li>
		<li>
			<a href="#"><img src="<%= asset_path 'manage/map/img/map16.jpg'%>" alt="" /></a>
			<p class="text-center"><a href="#">东南亚风情两居室</a></p>
		</li>
	</ul>
	<ul class="map-right index_main pull-right">
		<li class="text-center">装修色彩排行榜</li>
		<li class="map-r1">
			<a href="#">
				<strong>20万装修148平简欧风舒适四房</strong>
				<img src="<%= asset_path 'manage/map/img/map09.jpg'%>" alt="" />
			</a>
		</li>
		<li class="map-r2"><a href="#">东南亚混搭中式 五行风水人家</a></li>
		<li class="map-r3"><a href="#">128平大空间彰显现代美式风情</a></li>
		<li class="map-r4"><a href="#">惬意欧式古典风 9.8万打造</a></li>
		<li class="map-r5"><a href="#">海派南美家居装饰风格家</a></li>
	</ul>
</div>

<div class="clearfix">
	<div class="footer_banner pull-left">
		<a href="<%= @banner7.url? ? @banner7.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner7.try(:file).try(:url, :list_670x85) %></a>
	</div>
	<div class="footer_banner pull-right">
		<a href="<%= @banner8.url? ? @banner8.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner8.try(:file).try(:url, :list_310x85) %></a>
	</div>
</div>

<ul class="map-bot index_main mt10 clearfix">
	<li class="map-bot1">
		<strong>装修户型</strong>
		<div>
			<p><a href="#">小户型</a></p>
			<p><a href="#">公寓</a></p>
			<p><a href="#">复式</a></p>
			<p><a href="#">别墅</a></p>
			<p><a href="#">一室</a></p>
			<p><a href="#">两居</a></p>
			<p><a href="#">三居</a></p>
			<p><a href="#">四居</a></p>
			<p><a href="#">四居以上</a></p>
		</div>
		<div>
			<p><a href="#">挑高</a></p>
			<p><a href="#">跃层</a></p>
			<p><a href="#">错层</a></p>
			<p><a href="#">四合院</a></p>
			<p><a href="#">老洋房</a></p>
			<p><a href="#">石库门</a></p>
			<p><a href="#">楼中楼</a></p>
			<p><a href="#">LOFT</a></p>
		</div>
	</li>
	<li class="map-bot2">
		<strong>装修风格</strong>
		<div>
			<p><a href="#">现代简约</a></p>
			<p><a href="#">清新田园</a></p>
			<p><a href="#">欧美流行</a></p>
			<p><a href="#">混搭新风潮</a></p>
			<p><a href="#">东方新古典</a></p>
			<p><a href="#">中式</a></p>
			<p><a href="#">韩式</a></p>
			<p><a href="#">日式</a></p>
			<p><a href="#">泰式</a></p>
		</div>
		<div>
			<p><a href="#">港式</a></p>
			<p><a href="#">希腊</a></p>
			<p><a href="#">地中海</a></p>
			<p><a href="#">东南亚</a></p>
			<p><a href="#">西班牙</a></p>
			<p><a href="#">意大利</a></p>
			<p><a href="#">墨西哥</a></p>
			<p><a href="#">英伦</a></p>
			<p><a href="#">乡村</a></p>
		</div>
		<div>
			<p><a href="#">古典</a></p>
			<p><a href="#">洛可可</a></p>
			<p><a href="#">巴洛克</a></p>
			<p><a href="#">波西米亚</a></p>
			<p><a href="#">哥特</a></p>
			<p><a href="#">波普</a></p>
			<p><a href="#">托斯卡纳</a></p>
			<p><a href="#">ArtDeco</a></p>
			<p><a href="#">简装修</a></p>
		</div>
	</li>
	<li class="map-bot3">
		<strong>装修空间</strong>
		<div>
			<p><a href="#">客厅</a></p>
			<p><a href="#">卧室</a></p>
			<p><a href="#">厨房</a></p>
			<p><a href="#">餐厅</a></p>
			<p><a href="#">书房</a></p>
			<p><a href="#">阳台</a></p>
			<p><a href="#">卫生间</a></p>
			<p><a href="#">儿童房</a></p>
			<p><a href="#">老人房</a></p>
			<p><a href="#">过道</a></p>
		</div>
		<div>
			<p><a href="#">工作间</a></p>
			<p><a href="#">地下室</a></p>
			<p><a href="#">储藏室</a></p>
			<p><a href="#">花园</a></p>
			<p><a href="#">洗衣间</a></p>
			<p><a href="#">化妆间</a></p>
			<p><a href="#">健身房</a></p>
			<p><a href="#">休闲区</a></p>
			<p><a href="#">庭院</a></p>
		</div>
	</li>
	<li class="map-bot4">
		<strong>装修色彩</strong>
		<div>
			<p><a href="#">浅白色系</a></p>
			<p><a href="#">红色系</a></p>
			<p><a href="#">橙色系</a></p>
			<p><a href="#">黄色系</a></p>
			<p><a href="#">绿色系</a></p>
			<p><a href="#">蓝色系</a></p>
			<p><a href="#">紫色系</a></p>
			<p><a href="#">中性色系</a></p>
			<p><a href="#">冷色调</a></p>
			<p><a href="#">暖色调</a></p>
		</div>
		<div>
			<p><a href="#">无彩色</a></p>
			<p><a href="#">木器实色</a></p>
			<p><a href="#">木器透明色</a></p>
			<p><a href="#">多彩色</a></p>
		</div>
	</li>
	<li class="map-bot5">
		<strong>装修费用</strong>
		<div>
			<p><a href="#">经济型</a></p>
			<p><a href="#">富裕型</a></p>
			<p><a href="#">豪华型</a></p>
			<p><a href="#">8万以下</a></p>
			<p><a href="#">8-15万</a></p>
			<p><a href="#">15-30万</a></p>
			<p><a href="#">30-100万</a></p>
			<p><a href="#">100万以上</a></p>
		</div>
	</li>
</ul>