<%- content_for :head do %>
	<%= stylesheet_link_tag "manage/map.css" %>
	<script type="text/javascript">
		$(function() {
			$('.map-submit').click(function(){
				var search = $(".search_query_value").val();
			  if(search == "" || search == null){
			    window.location = "/images"
			  }else{
			  	var link = "/images/<%= prefix_link %>-0_0_" + search + "_0_0_0"
			    window.location = link
			  }
			});
		});
	</script>
<%- end %>

<h3 class="chann_caption nomargin">
	<div class="map-search pull-right">
		<p class="pull-left">热门搜索：
			<%- @hot_search.each_with_index do |s,i| %>
				<%- unless i == @hot_search.size - 1 %>
					<a href="<%= s.link %>" target="_blank"><%= s.title %></a>
				<%- end %>
			<%- end %>
		</p>
		<form action="/icolor/" method='post' class="pull-left">
			<input type="text" name='search' placeholder="<%= @hot_search.last.try(:title) %>" class="search_query_value map-text">
			<input type="submit" class="map-submit" value="搜图" onclick="return false;" />
		</form>
	</div>
	<i class="icon-map icon-map2 icon_colors"></i>
	<strong>装修图库</strong>
	<small>iColor为您提供<span class="cr"><%= @images_count %></span>张装修图片</small>
</h3>
<ul class="map-nav bd clearfix unstyled">
	<li class="pull-left"><a href="/design_images/lists">图库精华</a></li>
	<li class="pull-left"><a href="/images">装修图库大全</a></li>
	<li class="pull-left"><a href="/images/<%= show_link(1) %>">装修户型</a></li>
	<li class="pull-left"><a href="/images/<%= show_link(34) %>">装修风格</a></li>
	<li class="pull-left"><a href="/images/<%= show_link(19) %>">装修费用</a></li>
	<li class="pull-left"><a href="/images/<%= show_link(82) %>">装修空间</a></li>
	<li class="pull-left"><a href="/images/<%= show_link(107) %>">装修色彩</a></li>
	<%- @seo_sites.each do |s| %>
		<li class="pull-right"><a href="<%= s.link %>"><%= s.title %></a></li>
	<%- end %>
	<li class="pull-right"><a href="/color_designs" target="_blank">装修色彩搭配</a></li>
</ul>
<a href="<%= @banner1.url? ? @banner1.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner1.try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>

<ul class="breadcrumb">
	<li><a href="<%= root_path %>">首页</a> &gt;</li>
	<li><a href="<%= lists_design_images_path %>">装修图库</a> &gt;</li>
	<li class="active">图库精华</li>
</ul>
<div class="map-top clearfix">
	<div id="refresh_slide" class="map-slider media_refresh pull-left">
		<div class="slider-bin">
			<div class="slider-container">
				<ul class="clearfix nomargin">
					<%- @home_heads.each do |image| %>
					<li class="item">
						<a class="pull-left media_a title_opacity" href="<%= image.link %>" target="_blank">
							<%= image_tag image.file.url(:big), class: 'media-object' %>
							<p>
								<span><%= image.title %></span>
							</p>
						</a>
					</li>
					<%- end %>
				</ul>
			</div>
			<ul class="circle_indicators nomargin">
				<%- @home_heads.each_with_index do |image,index| %>
					<li class="<%= 'slider-active' if index == 0 %>"><a href="javascript:;"><%= index %></a></li>
				<%- end %>
			</ul>
		</div>
	</div>
	<div class="map-cen pull-left">
		<h4 class="text-center"><a href="<%= @liters_red[0].link %>" class="map-title1" target="_blank"><%= @liters_red[0].title %></a></h4>
		<div class="map-news">
			<a href="<%= @liters_red[1].link %>" target="_blank"><%= @liters_red[1].title %></a>
			<span>|</span>
			<a href="<%= @liters_red[2].link %>" target="_blank"><%= @liters_red[2].title %></a>
			<a href="<%= @liters_red[3].link %>" target="_blank"><%= @liters_red[3].title %></a>
			<span>|</span>
			<a href="<%= @liters_red[4].link %>" target="_blank"><%= @liters_red[4].title %></a>
		</div>

		<h4 class="text-center"><a href="<%= @liters_black[0].link %>" class="map-title2" target="_blank"><%= @liters_black[0].title %></a></h4>
		<div class="map-news">
			<a href="<%= @liters_black[1].link %>" target="_blank"><%= @liters_black[1].title %></a>
			<span>|</span>
			<a href="<%= @liters_black[2].link %>" target="_blank"><%= @liters_black[2].title %></a>
			<a href="<%= @liters_black[3].link %>" target="_blank"><%= @liters_black[3].title %></a>
			<span>|</span>
			<a href="<%= @liters_black[4].link %>" target="_blank"><%= @liters_black[4].title %></a>
		</div>
		<ul class="map-bt unstyled">
			<li>
				<a href="/images/<%= show_link(1) %>" class="map-bt1" target="_blank">装修户型</a><span>|</span>
				<%- @type.each do |type| %>
					<a href="<%= type.link %>" class="map-bt2" target="_blank"><%= type.title %></a>
				<%- end %>
			</li>
			<li>
				<a href="/images/<%= show_link(34) %>" class="map-bt1" target="_blank">装修风格</a><span>|</span>
				<%- @style.each do |style| %>
					<a href="<%= style.link %>" class="map-bt2" target="_blank"><%= style.title %></a>
				<%- end %>
			</li>
			<li>
				<a href="/images/<%= show_link(19) %>" class="map-bt1" target="_blank">装修费用</a><span>|</span>
				<%- @cost.each do |cost| %>
					<a href="<%= cost.link %>" class="map-bt2" target="_blank"><%= cost.title %></a>
				<%- end %>
			</li>
			<li>
				<a href="/images/<%= show_link(82) %>" class="map-bt1" target="_blank">装修空间</a><span>|</span>
				<%- @space.each do |space| %>
					<a href="<%= space.link %>" class="map-bt2" target="_blank"><%= space.title %></a>
				<%- end %>
			</li>
			<li>
				<a href="/images/<%= show_link(107) %>" class="map-bt1" target="_blank">装修色彩</a><span>|</span>
				<%- @color.each do |color| %>
					<a href="<%= color.link %>" class="map-bt2" target="_blank"><%= color.title %></a>
				<%- end %>
			</li>
		</ul>
	</div>

	<div class="map-r pull-right">
		<a href="<%= @banner2.url? ? @banner2.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner2.try(:file).try(:url, :list_230x230) %></a>
		<a href="<%= @banner3.url? ? @banner3.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner3.try(:file).try(:url, :list_230x170), class: "mt10" %></a>
	</div>
</div>

<div class="clearfix">
	<div class="footer_banner pull-left">
		<a href="<%= @banner4.url? ? @banner4.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner4.try(:file).try(:url, :list_670x85) %></a>
	</div>
	<div class="footer_banner pull-right">
		<a href="<%= @banner5.url? ? @banner5.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner5.try(:file).try(:url, :list_310x85) %></a>
	</div>
</div>

<div class="index_base clearfix">
	<%= render partial: 'home_image_lists', locals: { resource: @home_types, tags: @home_type_tags, name: '装修户型' } %>
	<%= render partial: 'ranking_list', locals: { name: '装修户型排行榜',i_column_type_id: 10 } %>
</div>
<div class="index_base clearfix">
	<%= render partial: 'home_image_lists', locals: { resource: @home_styles, tags: @home_style_tags, name: '装修风格' } %>
	<%= render partial: 'ranking_list', locals: { name: '装修风格排行榜',i_column_type_id: 11 } %>
</div>
<a href="<%= @banner6.url? ? @banner6.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner6.try(:file).try(:url, :list_1000x85) %></a>

<div class="index_base clearfix">
	<%= render partial: 'home_image_lists', locals: { resource: @home_costs, tags: @home_cost_tags, name: '装修费用' } %>
	<%= render partial: 'ranking_list', locals: { name: '装修费用排行榜',i_column_type_id: 12 } %>
</div>
<div class="index_base clearfix">
	<%= render partial: 'home_image_lists', locals: { resource: @home_spaces, tags: @home_space_tags, name: '装修空间' } %>
	<%= render partial: 'ranking_list', locals: { name: '装修空间排行榜',i_column_type_id: 13 } %>
</div>
<div class="index_base clearfix">
	<%= render partial: 'home_image_lists', locals: { resource: @home_colors, tags: @home_color_tags, name: '装修色彩' } %>
	<%= render partial: 'ranking_list', locals: { name: '装修色彩排行榜',i_column_type_id: 14 } %>
</div>

<div class="clearfix">
	<div class="footer_banner pull-left">
		<a href="<%= @banner7.url? ? @banner7.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner7.try(:file).try(:url, :list_670x85) %></a>
	</div>
	<div class="footer_banner pull-right">
		<a href="<%= @banner8.url? ? @banner8.url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banner8.try(:file).try(:url, :list_310x85) %></a>
	</div>
</div>

<%= render partial: 'design_images/footer' %>