<div class="upload" id="master_design_upload_<%= upload.id %>">
  <div class="widgets" style="padding-bottom: 15px;">
    <div class="left" style="width: 15%">
      <%= image_tag upload.file.url(:thumb) %>
      <%= hidden_field_tag 'weekly_star[weekly_star_upload_ids][]', upload.id %>

      <%= link_to_function "移除", "$('#weekly_star_upload_#{upload.id}').remove();" %>
    </div>
    <div class="formRight www1 recommend_color" style="width: 75%">
      <label>&nbsp;&nbsp;推荐色(请输入颜色编码):</label>
      <%- 3.times do |i| %>
          <%= text_field_tag "recommend_color[#{upload.id}][recommend_color#{i+1}]", '', :label => '推荐色:' %>
      <%- end %>
    </div>
    <div class="formRight www1 recommend_color" style="width: 75%">
      <label>&nbsp;&nbsp;推荐色(请输入颜色类别):</label>
      <%- 3.times do |i| %>
          <%= text_field_tag "recommend_color[#{upload.id}][recommend_color_category#{i+1}]", '', :label => '推荐色类别:' %>
      <%- end %>
    </div>
    <div class="fix"></div>
  </div>
</div>