<!DOCTYPE html>
<html>
<head>
  <title>幻灯片</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag  "reset", "galleryc"  %>
  <%= javascript_include_tag  "jquery","galleryC"  %>
</head>
<body>
<div class="galleryC_wrap">
  <div class="title"><h1><%= @design.design_name %><span class="qin_span"></span></h1></div>
  <div class="galleryC">
    <div class="toolbar">
      <div class="toolbar_wrap">
        <div class="time"><span>10秒</span></div>
        <div class="prev"></div>
        <div class="pause"></div>
        <div class="next"></div>
        <%- if params[:action_from] == "action_show" %>
            <div class="exit"><%= link_to "退出全屏", "/weekly_stars/#{@design.id}" %></div>
        <%- else %>
            <div class="exit"><%= link_to "退出全屏", "/weekly_stars" %></div>
        <%- end %>
      </div>
    </div>
    <div class="big_image"></div>
    <div class="moveleft"></div>
    <div class="moveright"></div>
  </div>
</div>
<div class="gallery_over_wrap">
  <div class="gallery_over">
    <%- if params[:action_from] == "action_show" %>
        <a class="fr cr" href="/weekly_stars/<%=@design.id%>">X</a>
    <%- else %>
        <a class="fr cr" href="/weekly_stars">X</a>
    <%- end %>
    <h5 class="legend">您已浏览完所有图片</h5>
    <div class="button"><span class="replay"><a href="/weekly_stars/#{@design.id}/fullscreen">重新播放</a></span></div>
    <%- unless  @design_next.blank? %>
      <p><a id="timers" href="/weekly_stars/<%= @design_next.id %>/fullscreen?action_from=action_show">5</a>秒后跳转到下一套作品</p>
    <%- end %> 
  </div>
</div>
<div class="gallery_over_mask"></div>
<script type="text/javascript">
    $(function(){
        var obj = galleryC({ 'images' : [<%= @design.weekly_star_uploads.map{ |design| "'#{design.file.url(:fullscreen)}'" }.join(",") %>]});
        $('div.gallery_over span.replay a').click(function(e){
            $('div.gallery_over_wrap').hide();
            $('div.gallery_over_mask').hide();
            obj.showImage(0);
            e.preventDefault();
        });
    });
</script>
</body>
</html>