<% content_for :head do -%>
  <%= stylesheet_link_tag 'style', 'weekstar' %>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="/">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">每周之星</a>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleC">
      <%- unless @design.id.nil? %>
        <a href="/weekly_stars/<%= @design.id %>"><h1>本周<b>之星</b><p>STAR OF THIS WEEK</p></h1></a>
        <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen" %></div>
      <%- end %>
    </div>
    <div class="weekstart_detail">
      <div class="gallery">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="galleryK" id="gallery">
          <%- @design.weekly_star_uploads.each do |i| %>
              <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :alt => "") unless i.file.nil? %>
          <%- end %>
        </div>
      </div>
    <%= javascript_include_tag "galleryK" %>
      <div class="color-picker">
        <div class="overview">
          <div class="votes">
            所获票数：<span id="votes_count<%= @design.id %>"><%= @design.try(:votes_count) %></span>&nbsp;&nbsp;
            <%- unless @design.id.nil? %>
              <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "WeeklyStar"), :remote => true, :method => 'post',:class => "vote_btn" %>
            <%- end %>
          </div>
          <div class="operate">
            <span class="forward">转发 (0)</span>
            <span class="review">评论 (<%= @design.try(:comments).try(:length) %>)</span>
          </div>
        </div>
        <div class="color">
          <div class="palettes">
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
            <div class="palette">
              <div class="desc">
                <div class="title"></div>
                <div class="list"><ul>
                  <li><div class="colorblock" style="background-color:red"></div>
                    <h5>室内墙面漆</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:#006eb9"></div>
                    <h5>蓝色妖姬</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                  <li><div class="colorblock" style="background-color:yellow"></div>
                    <h5>喜气洋洋</h5>
                    <p>激情岁月8740-2</p>
                  </li>
                </ul></div>
              </div>
            </div>
          </div>
          <!--[if IE 6]>
          <script type="text/javascript">
            if( $.browser.msie && $.browser.version < 7 ) {
              $(function(){
                  $('div.palette').hover(function(){
                    $(this).find('div.desc').show();
                    },function(){
                    $(this).find('div.desc').hide();
                    });
                  })
            }
</script>
<![endif]-->
<div class="gotaobao"><a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">访立邦淘宝商城，点选更多产品颜色</a></div>
        </div>
      </div>
      <!--<div class="galleryB">-->
        <!--<span class="moveleft"></span>-->
        <!--<span class="moveright"></span>-->
        <!--<div class="list">-->

          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<script type="text/javascript">
//        $(function(){
//            var $item = $('div.galleryB div.list ul');
//            var count = $item.find('li').size();
//            var colsize = 4;
//            var pwidth = $item.find('li').eq(0).width();
//            var sp = 10;
//            var wwidth = count * ( pwidth + sp ) - sp;
//            var movewidth = pwidth + sp;
//            var disabledClassName = "disabled";
//            if( count > colsize ) {
//            var $left	= $('div.galleryB span.moveleft');
//            var $right	= $('div.galleryB span.moveright');
//            function s(left) {
//            if( typeof left != 'number' ) {
//            left = parseInt($item.css('left')) || 0;
//            }
//            $left[ left >= 0 ? 'addClass' : 'removeClass' ](disabledClassName);
//            $right[ ( -1 * left ) >= wwidth - ( 4 * ( movewidth ) - sp ) ? 'addClass' : 'removeClass' ](disabledClassName);
//            }
//            s();
//            $left.click(function(){
//              if( $(this).hasClass(disabledClassName) ) {
//              return;
//              }
//              s( (parseInt($item.css('left')) || 0) + movewidth );
//              $item.animate({
//                "left" : "+="+movewidth+'px'
//                }, 'fast');
//              });
//            $right.click(function(){
//                if( $(this).hasClass(disabledClassName) ) {
//                return;
//                }
//                s( (parseInt($item.css('left')) || 0) - movewidth );
//                $item.animate({
//                  "left" : "-="+movewidth+'px'
//                  }, 'fast');
//                });
//            }
//        });
</script>-->
<div class="properties">
  <table class="propertyA">
    <tr><th>公司名称：</th>
      <td><%= @design.try(:company_name) %><a href="<%=@design.try(:company_url)%>">[进入公司主页]</a></td>
    </tr>
    <tr><th>公司地址：</th>
      <td><%= @design.try(:company_address) %></td>
    </tr>
    <tr><th>设计师：</th>
      <td><%=  @design.try(:author) %><a href="<%= @design.try(:author_url) %>">[进入个人主页]</a></td>
    </tr>
    <tr><th>项目名称：</th>
      <td><%= @design.try(:project_name) %></td>
    </tr>
    <tr><th>设计风格：</th>
      <td><%= @design.try(:design_style) %></td>
    </tr>
    <tr><th>设计说明：</th>
      <td><%= @design.try(:design_intro) %></td>
    </tr>
    <tr><th>主要材料：</th>
      <td><%= @design.try(:design_material) %></td>
    </tr>
    <tr><th>推荐理由：</th>
      <td><%= @design.try(:recommend_reason) %></td>
    </tr>
  </table>
</div>
<div class="shadow mb25">
  <div class="section">
    <div class="tit_bg"><h2>往期之星</h2></div>
    <div class="interview_box design_listA">
          <% @elder_designs.in_groups_of(4, false).each do |group| -%>
              <ul>
                <% group.each do |design| -%>
                    <li>
                      <a href="/weekly_stars/<%= design.id %>"><img src="<%= design.main_preview_img.url(:index) %>" title="<%= design.design_name %>" alt=""/></a>
                      <h3><%= design.design_name %></h3>
                      <p class="p1 group">
                        <strong class="ft14 fb">所获票数：<%= design.votes_count %></strong>
                      </p>
                      <p class="p2 group">
                        <span class="zf ft12">转发 (0)</span><span class="pl ft12">评论 (<%=design.comments.length %>)</span>
                      </p>
                    </li>
                <% end -%>
              </ul>
          <% end -%>
    </div>
  </div>
</div>
    </div>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @elder_designs %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
