<% content_for :head do -%>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .popup_zf {
            bottom: 18px;
            background: #fff !important;
        }

        .design_listA li {
            position: relative;
        }

        #gallery_caption {
            display: none;
        }
    </style>
<% end -%>
<%- content_for :tail do %>
    <%= render :partial => "recommend_color" %>
<%- end %>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/weekly_stars">每周之星</a></em>
    <em><a href="/weekly_stars">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleC">
      <%- unless @design.id.nil? %>
        <a href="/weekly_stars/<%= @design.id %>"><h1>本周<b>之星</b><p>STAR OF THIS WEEK</p></h1></a>
        <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen" %></div>
      <%- end %>
    </div>
    <div class="weekstart_detail">
      <div class="gallery">
        <span class="moveleft"></span>
        <span class="moveright"></span>
        <div class="galleryK" id="gallery">
          <%- @design.weekly_star_uploads.each do |i| %>
              <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :alt => i.id) unless i.file.nil? %>
          <%- end %>
        </div>
      </div>
    <%= javascript_include_tag "galleryK" %>
      <div class="color-picker">
        <div class="overview">
          <div class="votes">
            所获票数：<span id="votes_count<%= @design.id %>"><%= @design.try(:votes_count) %></span>&nbsp;&nbsp;
          </div>
          <div class="operate pr">
            <span class="forward">转发 (<%= @design.shares_count %>)</span>
            <a href="<%= @design.try(:design_link) %>" target="_blank"><span class="review">评论 (<%= @design.try(:comments).try(:length) %>)</span></a>
              <%= forward_links("分享每周之星精彩设计作品----#{@design.project_name}（#{@design.author},#{@design.design_name}），更多精彩装修作品，尽在---立邦iColor网","#{request.host_with_port}", @design.main_preview_img.url, @design.id.to_s, "WeeklyStar") %>
          </div>
        </div>
        <div class="color">
          <div class="palettes">
            <%- 8.times do %>
                <div class="palette">
                  <div class="desc desc3">
                    <div class="title"></div>
                    <div class="list">
                      <ul>
                      </ul>
                    </div>
                  </div>
                </div>
            <%- end %>
          </div>
          <!--[if IE 6]>
          <script type="text/javascript">
            if( $.browser.msie && $.browser.version < 7 ) {
              $(function(){
                  $('div.palette').hover(function(){
                    $(this).find('div.desc').show();
                    },function(){
                    $(this).find('div.desc').hide();
                    });
                  })
            }
</script>
<![endif]-->
<div class="gotaobao"><a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">访立邦淘宝商城，点选更多产品颜色</a></div>
        </div>
      </div>
      <!--<div class="galleryB">-->
        <!--<span class="moveleft"></span>-->
        <!--<span class="moveright"></span>-->
        <!--<div class="list">-->

          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<script type="text/javascript">
//        $(function(){
//            var $item = $('div.galleryB div.list ul');
//            var count = $item.find('li').size();
//            var colsize = 4;
//            var pwidth = $item.find('li').eq(0).width();
//            var sp = 10;
//            var wwidth = count * ( pwidth + sp ) - sp;
//            var movewidth = pwidth + sp;
//            var disabledClassName = "disabled";
//            if( count > colsize ) {
//            var $left	= $('div.galleryB span.moveleft');
//            var $right	= $('div.galleryB span.moveright');
//            function s(left) {
//            if( typeof left != 'number' ) {
//            left = parseInt($item.css('left')) || 0;
//            }
//            $left[ left >= 0 ? 'addClass' : 'removeClass' ](disabledClassName);
//            $right[ ( -1 * left ) >= wwidth - ( 4 * ( movewidth ) - sp ) ? 'addClass' : 'removeClass' ](disabledClassName);
//            }
//            s();
//            $left.click(function(){
//              if( $(this).hasClass(disabledClassName) ) {
//              return;
//              }
//              s( (parseInt($item.css('left')) || 0) + movewidth );
//              $item.animate({
//                "left" : "+="+movewidth+'px'
//                }, 'fast');
//              });
//            $right.click(function(){
//                if( $(this).hasClass(disabledClassName) ) {
//                return;
//                }
//                s( (parseInt($item.css('left')) || 0) - movewidth );
//                $item.animate({
//                  "left" : "-="+movewidth+'px'
//                  }, 'fast');
//                });
//            }
//        });
</script>-->
<div class="properties">
  <table class="propertyA">
    <%- unless @design.company_name.blank? %>
        <tr><th>公司名称：</th>
          <td><%= @design.company_name %>
            <%- unless @design.company_url.blank? %>
                <a href="<%=@design.company_url%>">[进入公司主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.company_address.blank? %>
        <tr><th>公司地址：</th>
          <td><%= @design.company_address %></td>
        </tr>
    <%- end %>
    <%- unless @design.author.blank? %>
        <tr><th>设计师：</th>
          <td><%=  @design.author %>
            <%- unless @design.author_url.blank? %>
                <a href="<%= @design.author_url %>">[进入个人主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.project_name.blank? %>
        <tr><th>项目名称：</th>
          <td><%= @design.project_name %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_style.blank? %>
        <tr><th>设计风格：</th>
          <td><%= @design.design_style %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_intro.blank? %>
        <tr><th>设计说明：</th>
          <td><%= @design.design_intro %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_material.blank? %>
        <tr><th>主要材料：</th>
          <td><%= @design.design_material %></td>
        </tr>
    <%- end %>
    <%- unless @design.recommend_reason.blank? %>
        <tr><th>推荐理由：</th>
          <td><%= @design.recommend_reason %></td>
        </tr>
    <%- end %>
  </table>
</div>
<div class="shadow mb25">
  <div class="section">
    <div class="tit_bg"><h2>往期之星</h2></div>
    <div class="interview_box design_listA">
          <% if !@elder_designs.blank? %>
          <% @elder_designs.in_groups_of(4, false).each do |group| -%>
              <ul>
                <% group.each do |design| -%>
                    <li>
                      <a href="/weekly_stars/<%= design.id %>"><img src="<%= design.main_preview_img.url(:index) %>" title="<%= design.design_name %>" alt=""/></a>
                      <h3 title="<%= design.design_name %>"><%= truncate(design.design_name, :length => 16) %></h3>
                      <p class="p1 group">
                        <strong class="ft14 fb">所获票数：<%= design.votes_count %></strong>
                      </p>
                      <p class="p2 group">
                        <span class="zf ft12">转发 (<%= design.shares_count || 0%>)</span>
                        <a href="<%= design.try(:design_link) %>" target="_blank">
                         <span class="pl ft12">评论 (<%=design.comments.length %>)</span>
                        </a>
                      </p>
                      <%= forward_links("分享每周之星精彩设计作品----#{@design.project_name}（#{@design.author}, #{@design.design_name}），更多精彩装修作品，尽在---立邦iColor网","#{request.host_with_port}", design.main_preview_img.url, design.id.to_s, "WeeklyStar") %>
                    </li>
                <% end -%>
              </ul>
          <% end -%>
    </div>
  </div>
</div>
    </div>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @elder_designs %>
      <%- end -%>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
