<% content_for :head do -%>
  <%= stylesheet_link_tag "imageflow" %>
    <style type="text/css">
      #gallery_caption {
        display: none;
      }
    </style>
<% end -%>
<%- content_for :tail do %>
  <%= javascript_include_tag "new_imageflow" %>
  <script type="text/javascript">
  $(function(){
    var gallery = new ImageFlow();
    gallery.init({
      ImageFlowID: 'gallery',
      imagesHeight:       0.69,
      startID:            1,
      xStep:              100,
      buttons:            true,          /* Toggle navigation buttons */
      circular:           true,          /* 连续播放 */
      imageFocusMax:      1,              /* Max number of images on each side of the focussed one */
      imagesM:            1.0,            /* Multiplicator for all images in percent */
      opacity:            true,          /* Toggle image opacity */
      opacityArray:       [10,7],         /* Image opacity (range: 0 to 10) first value is for the focussed image */
      percentLandscape:   300,           /* Scale landscape format */
      onClick:            function() { }
    });
  });
  </script>
<%- end %>
<h3 class="chann_caption nomargin">
  <i class="icon-map icon-map3 icon_colors"></i>
  <strong>设计鉴赏</strong>
  <small>实用案例为您的家装出谋画色</small>
</h3>
<div class="mt10">
  <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_1000x85) %></a>
</div>
<ul class="breadcrumb">
  <li><%= link_to "首页", "/" %> &gt;</li>
  <li><%= link_to "设计鉴赏", "/weekly_stars" %> &gt;</li>
  <li class="active">设计之星</li>
</ul>
<hr class="border2 border2_mt2">
<div class="weekly_gallery">
  <div class="slider_topbar">
    <form class="btn_group pull-right">
      <%-
        {weekly_stars_week_weekly_stars_path => "每周之星",
         weekly_stars_month_color_weekly_stars_path  => "月度色彩之星",
         weekly_stars_month_design_weekly_stars_path => "月度设计之星"}.each do |pat,type|
      %>
        <button class="<%= request.fullpath == pat ? 'btn active' : 'btn'%>">
          <%= link_to type, pat %>
        </button>
      <%-end%>
    </form>
    <h3 class="title nomargin"><%= @design.design_name %></h3>
  </div>
  <div class="index_main nopadding">
    <div class="slides_box">
      <div class="designs_in_slide pr">
        <span class="moveleft slider-prev"></span>
        <span class="moveright slider-next"></span>
        <div class="imageflow" id="gallery">
          <%- @design.weekly_star_uploads.each do |i| %>
            <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :'data-id' => i.id, :alt => "装修设计欣赏-#{@design.design_name}") unless i.file.nil? %>
          <%- end %>
        </div>
      </div>
    </div>
    <div class="weekly_info clearfix mt10">
      <div class="pull-left main">
        <div class="btn_group clearfix nomargin">
          <%= link_to raw("<i class='icon-i16 icon-xin_gray'></i>#{@link_design.try(:votes_count)}"), "", class: 'btn2 pull-left' %>
          <%= link_to raw("<i class='icon-i16 icon-comment1'></i>评论(#{@link_design.try(:comments).try(:length)})"), @design.try(:design_link) ,class: 'btn2 pull-left' %>
          <%= link_to raw("<i class='icon-i16 icon-share1'></i>转发(#{@link_design.try(:shares_count) || 0})"), "" ,class: 'btn2 pull-left' %>
          <%= link_to raw("<i class='icon-i16 icon-fullscreen'></i>全屏"), "/weekly_stars/#{@design.id}/fullscreen" ,class: 'btn2 pull-right' %>
          <%= link_to raw("<i class='icon-i16 icon-collect'></i>收藏"), user_collects_path(@design.id, weekly_star_id: @design.id), :remote => true, method: :post, id: "new_message", :class => "btn2 pull-right"  %>
          <%= link_to raw("<i class='icon-i16 icon-freedown'></i>免费下载"), download_weekly_star_path(@design.id,:target => params[:action]), class: "btn2 pull-right" %>
        </div>
        <div class="colors_box clearfix nomargin pt15" id="colors_con">
          <div class="pull-left">
            <img src="<%= asset_path 'imgbase_in/color.jpg' %>">
          </div>
          <ul class="pull-left unstyled">
            <li>
              <div class="colorblock" style="background-color:#7b6d66"></div>
              <h6 class="colortitle">墙面推荐色</h6>
              <p class="colorname">立邦(GN5080-2)狮峰龙井</p>
            </li>
            <li>
              <div class="colorblock" style="background-color:#acb57f"></div>
              <h6 class="colortitle">墙面推荐色</h6>
              <p class="colorname">立邦(GN5080-2)狮峰龙井</p>
            </li>
          </ul>
          <a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank" class="goshop pull-right"></a>
          <a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank" class="gobuy pull-right"></a>
        </div>
        <div class="work_infos linet1">
          <p class="work_info">
            <%- unless @design.company_name.blank? %>
              <span>公司名称：<%= @design.company_name %></span>
            <%- end %>
            <%- unless @design.author.blank? %>
              <span>设计师  ：<%=  @design.author %>
                <%- unless @design.author_url.blank? %>
                  <%= link_to "", user_asks_path(@link_design.user.id), class: "btn_ask"%>
                <%- end %>
              </span>
            <%- end %>
            <%- unless @design.design_style.blank? %>
              <span>设计风格：<%= @design.design_style %></span>
            <%- end %>
          </p>
          <%- unless @design.design_intro.blank? %>
            <p class="work_info">设计说明：<%= @design.design_intro %></p>
          <%- end %>
        </div>
      </div>
      <div class="pull-right">
        <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_230x230) %></a>
      </div>
    </div>
  </div>
</div>
<div class="clearfix">
  <div class="footer_banner mt10 pull-left">
    <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[2].try(:file).try(:url, :list_670x85) %></a>
  </div>
  <div class="footer_banner mt10 pull-right">
    <a href="<%= @banners[3].url? ? @banners[3].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[3].try(:file).try(:url, :list_310x85) %></a>
  </div>
</div>
<div class="clearfix color_designs weekly_stars mt10">
  <div class="map-left pull-left">
    <div class="index_main" style="height:1254px;">
      <h5 class="sub_title">往期之星</h5>
      <ul class="per_works unstyled clearfix mt20 pb25">
        <% if @elder_designs.present? %>
          <% @elder_designs.in_groups_of(3, false).each do |group| -%>
            <% group.each do |design| -%>
              <% link_design = Design.find(design.design_link.split("/").last) unless design.design_link.blank? %>
              <li class="">
                <a href="/weekly_stars/<%= design.id %>" class="help-block pr">
                  <img src="<%= design.main_preview_img.url(:index) %>" title="装修设计欣赏-<%= design.design_name %>" alt=""/>
                  <%=
                    case design.star_type_id
                      when 2
                        content_tag(:i, "", class: "icon-star_of icon-star_color")
                      when 3
                        content_tag(:i, "", class: "icon-star_of icon-star_design")
                    end
                  %>
                </a>
                <div class="thumb_imgs clearfix">
                  <a href="weekly_stars_in.html" class="pull-left thumb_item">
                    <img width="65" height="65" src="images/per_home_huaxun/per_work.jpg" alt="" />
                  </a>
                  <a href="weekly_stars_in.html" class="pull-left thumb_item">
                    <img width="65" height="65" src="images/per_home_huaxun/per_work.jpg" alt="" />
                  </a>
                  <a href="weekly_stars_in.html" class="pull-left thumb_item">
                    <img width="65" height="65" src="images/per_home_huaxun/per_work.jpg" alt="" />
                  </a>
                </div>
                <h5 title="<%= design.design_name %>" class="dott1">
                  <%= truncate(design.design_name, :length => 16) %>
                </h5>
                <p class="para_oneline">
                  <small class="pull-right muted">201306-1</small><%= design.author %>
                </p>
                <p class="dott1 nomargin">
                  <span><i class="icon-i16 icon-xin_gray2"></i><%= link_design.try(:votes_count) || 0 %></span>
                  <a href="<%= design.try(:design_link) %>" target="_blank">
                    <span><i class="icon-i16 icon-comment1"></i><%= link_design.try(:comments).try(:length) || 0 %></span>
                  </a>
                  <span class="noborder"><i class="icon-i16 icon-share1"></i><%= link_design.try(:shares_count) || 0%></span>
                </p>
              </li>
            <% end -%>
          <% end -%>
        <% end -%>
      </ul>
      <form class="pager pager-form">
        <%= paginate @elder_designs, :window => 3, :outer_window => 3, :left => 5, :right => 3 %>
      </form>
    </div>
  </div>
  <div class="pull-right smaller">
    <%- colum_datas1 = IColumnData.show_data(1).limit(5) %>
    <ul class="unstyled map-right index_main js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 1).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">最新大师作品</strong>
      </li>
      <% colum_datas1.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%>
    </ul>
    <%- colum_datas2 = IColumnData.show_data(4).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 4).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">装修效果图精华推荐</strong>
      </li>
      <% colum_datas2.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%>
    </ul>
    <%- colum_datas3 = IColumnData.show_data(5).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 5).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">本周最热装修设计</strong>
      </li>
      <% colum_datas3.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%>
    </ul>
    <div class="mt10">
      <a href="<%= @banners[4].url? ? @banners[4].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[4].try(:file).try(:url, :list_230x170) %></a>
    </div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="<%= @master_more.url if @master_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>大师访谈</h5>
    <ul class="ul_dot">
      <%- @master_interviews.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @master_interviews.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="<%= @more_info.url if @more_info%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>相关资讯</h5>
    <ul class="ul_dot">
      <%- @about_info.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @about_info.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="pull-right">
    <a href="<%= @banners[5].url? ? @banners[5].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[5].try(:file).try(:url, :list_230x230) %></a>
  </div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left">
    <a href="<%= @banners[6].url? ? @banners[6].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[6].try(:file).try(:url, :list_670x85) %></a>
  </div>
  <div class="footer_banner mt10 pull-right">
    <a href="<%= @banners[7].url? ? @banners[7].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[7].try(:file).try(:url, :list_310x85) %></a>
  </div>
</div>