<% content_for :head do -%>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .popup_zf {
            bottom: 18px;
            background: #fff !important;
        }

        .design_listA li {
            position: relative;
        }

        #gallery_caption {
            display: none;
        }
        .design_listA li {overflow:visible;}

        .desc ul p{max-width: 150px;*max-width: none;}
    </style>
<% end -%>
<%- content_for :tail do %>
    <%= render :partial => "recommend_color" %>
<%- end %>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/weekly_stars"><%= params[:star_type] %></a></em>
    <em><a href="/weekly_stars">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleC">
      <%- unless @design.id.nil? %>
      <a href="/weekly_stars/<%= @design.id %>">
        <h1>
          <%= params[:star_type][0,2] %><b><%= params[:star_type][2..-1] %></b>
          <p>STAR OF THIS <%= params[:star_type].include?("月度") ? 'MONTH' : 'WEEK' %></p>
        </h1>
      </a>
      <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen" %></div>
      <%- end %>      
    </div>
    <div class="weekstart_detail">
      <div class="group mt50">
        <h3 class="this_week_tit"><%= @design.design_name %></h3>
        <ul class="this_week_tab group">
          <%- 
            ["每周之星","月度色彩之星","月度设计之星"].each do |type|
            unless star_blank?(type) 
          %>
            <li class="<%= 'this_week_btnhover' if params[:star_type] == type %>">
              <a href="/weekly_stars?star_type=<%= URI.escape(type) %>"><%= type %></a>
            </li>  
          <%- 
            end 
          end
          %>  
        </ul>
      </div>

      <div class="week_tab_content">
        <div class="gallery">
          <span class="moveleft"></span>
          <span class="moveright"></span>
          <div class="galleryK" id="gallery">
            <%- @design.weekly_star_uploads.each do |i| %>
            <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :'data-id' => i.id, :alt => "装修设计欣赏-#{@design.design_name}") unless i.file.nil? %>
            <%- end %>
          </div>
        </div>
      </div>  
      <%= javascript_include_tag "galleryK" %>
      <div class="color-picker">
        <div class="overview">
          <div class="votes">
            所获票数：<span id="votes_count<%= @design.id %>"><%= @link_design.try(:votes_count) %></span>&nbsp;&nbsp;
          </div>
          <div class="operate pr">
            <%= forward_links("#iColor分享#每周之星精彩设计作品----【#{@design.author},#{@design.design_name}】，更多精彩装修作品，尽在iColor，@刷新生活iColor，", weekly_stars_url, @design.main_preview_img.url, @design.id.to_s, "WeeklyStar") %>
            <a href="<%= @design.try(:design_link) %>" target="_blank"><span class="review">评论 (<%= @link_design.try(:comments).try(:length) %>)</span></a>   
          </div>
        </div>
        <div class="colors_box b_shadow">
          <div class="colorsbox " style="padding:10px 0; overflow:hidden;">
            <div class="color-picker group">
              <div class="colors_tit" style="float:left; margin:20px 5px 0 0;">
                <img src="<%= asset_path "master/colors_icon_tit.png" %>" />
              </div>
              <div id="colors_con" class="colors_con" style="float:left; padding:25px 0 0; height:35px; width:617px; position:relative;">
                <img src="<%= asset_path "design/colors2.gif" %>" />
                <div class="desc" style=" height:35px; width:617px; margin:25px 0;display:none; position:absolute; left:1px; top:1px; background:#fff;">
                  <div class="list" style="height:35px;">
                    <ul class="group" style="overflow:hidden;">
                    </ul>
                  </div>
                </div>
              </div>
              <div class="mall_link">
                <a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank"><img src="<%= asset_path "master/go_shops.jpg"%>" /></a>
                <a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank"><img src="<%= asset_path "master/mall_link_btn.png" %>" /></a>
              </div>
            </div>  
          </div>
        </div>        
      </div>
<div class="properties">
  <table class="propertyA">
    <%- unless @design.company_name.blank? %>
        <tr><th>公司名称：</th>
          <td><%= @design.company_name %>
            <%- unless @design.company_url.blank? %>
                <a href="<%=@design.company_url%>">[进入公司主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.company_address.blank? %>
        <tr><th>公司地址：</th>
          <td><%= @design.company_address %></td>
        </tr>
    <%- end %>
    <%- unless @design.author.blank? %>
        <tr><th>设计师：</th>
          <td><%=  @design.author %>
            <%- unless @design.author_url.blank? %>
                <a href="<%= @design.author_url %>">[进入个人主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.project_name.blank? %>
        <tr><th>项目名称：</th>
          <td><%= @design.project_name %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_style.blank? %>
        <tr><th>设计风格：</th>
          <td><%= @design.design_style %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_intro.blank? %>
        <tr><th>设计说明：</th>
          <td><%= @design.design_intro %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_material.blank? %>
        <tr><th>主要材料：</th>
          <td><%= @design.design_material %></td>
        </tr>
    <%- end %>
    <%- unless @design.recommend_reason.blank? %>
        <tr><th>推荐理由：</th>
          <td><%= @design.recommend_reason %></td>
        </tr>
    <%- end %>
  </table>
</div>
<div class="shadow mb25">
  <div class="section">
    <div class="tit_bg"><h2>往期之星</h2></div>
    <div class="interview_box design_listA">
          <% if !@elder_designs.blank? %>
          <% @elder_designs.in_groups_of(4, false).each do |group| -%>
              <ul>
                <% group.each do |design| -%>
                <% link_design = Design.find(design.design_link.split("/").last) unless design.design_link.blank? %>
                    <li class="pr group">
                      <%= 
                        case design.star_type_id 
                          when 2 
                            content_tag(:div, image_tag(asset_path "weekstar/color_star.png"), class: "color_star")
                          when 3
                            content_tag(:div, image_tag(asset_path "weekstar/design_star.png"), class: "design_star") 
                        end
                      %>   
                      <a href="/weekly_stars/<%= design.id %>" style="display: block;overflow: hidden;"><img src="<%= design.main_preview_img.url(:index) %>" title="装修设计欣赏-<%= design.design_name %>" alt=""/></a>
                      <h3 title="<%= design.design_name %>"><%= truncate(design.design_name, :length => 16) %></h3>
                      <p class="p1 group">
                        <strong class="ft14 fb">所获票数：<%= link_design.try(:votes_count) || 0 %></strong>
                      </p>
                      <p class="p2 group">
                        <span class="zf ft12">转发 (<%= link_design.try(:shares_count) || 0%>)</span>
                        <a href="<%= design.try(:design_link) %>" target="_blank">
                         <span class="pl ft12">评论 (<%= link_design.try(:comments).try(:length) || 0 %>)</span>
                        </a>
                      </p>

                      <%
                        role = "#{link_design.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if link_design.user.role_id != 3
                        text = if link_design.user.area_id.present?
                          province = link_design.user.city.try(:parent).try(:name)
                          city = link_design.user.try(:city).try(:name)

                          if province && city
                            province == city ? "#{city}的" : "#{province + city}的"
                          else
                            "#{city}的" if city
                          end
                        end
                      -%>
                      <%= forward_links("#iColor分享#来自#{text}#{role}#{link_design.user.display_name}的作品【#{link_design.title}】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor，", weekly_stars_url, design.main_preview_img.url, design.id.to_s, "WeeklyStar") %>
                    </li>
                <% end -%>
              </ul>
          <% end -%>
    </div>
  </div>
</div>
    </div>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @elder_designs %>
      <%- end -%>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
