<% content_for :head do -%>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
<div class='sub_title tr pt25'>
  <img src="<%= asset_path "design/title_design.png" %>"/>
</div>
<div class='sub_nav ft12 pr tr'>
  <a href="/">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="#">每周之星</a>
</div>
<!--sub_nav ends-->
<div class="wrapper group">
<%- if @design == WeeklyStar.last %>
    <div class="weekstart_titleA">
      <div class="subtitle">2012.5.12 往期作品</div>
      <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen" %></div>
      <h1>华帝公馆样板房</h1>
    </div>
<%- else %>
<div class="weekstart_titleA">
  <div class="subtitle"><%= @design.try(:published_at).try(:to_date) %> 往期作品</div>
  <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen?action_from=action_show" %></div>
  <h1><%= @design.design_name  %></h1>
</div>
<%- end %>

<div class="weekstart_detail">
<div class="gallery">
  <span class="moveleft"></span>
  <span class="moveright"></span>

  <div class="galleryK" id="gallery">
    <%- unless @design.nil? %>
        <%- @design.weekly_star_uploads.each do |i| %>
            <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :alt => "") unless i.file.nil? %>
        <%- end %>
    <%- end %>
  </div>
</div>
<%= javascript_include_tag "galleryK" %>
<div class="color-picker">
<div class="overview">
  <div class="votes">所获票数：<span id="votes_count<%= @design.id %>"><%= @design.try(:votes_count) %></span>
    <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "WeeklyStar"), :remote => true, :method => 'post' %>
  </div>

  <div class="operate pr">
    <span class="forward">转发 (0)</span>
    <span class="review">评论 (<%= @design.try(:comments).length %>)</span>
    <div class="popup_zf group none" style="bottom:-35px; left:25px;">
      <span style="background:none; padding:0; margin:0; line-height:14px;">一键转发：</span>
      <a class="popup_zf_qq" href="#"></a>
      <a  class="popup_zf_sina" href="#"></a>
      <a class="popup_zf_rr" href="#"></a>
      <a class="popup_zf_kaixin" href="#"></a>
    </div>
  </div>
</div>
<div class="color">
<div class="palettes">
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li>
          <div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>

          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="palette">
  <div class="desc">
    <div class="title"></div>
    <div class="list">
      <ul>
        <li><div class="colorblock" style="background-color:red"></div>
          <h5>室内墙面漆</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:#006eb9"></div>
          <h5>蓝色妖姬</h5>
          <p>激情岁月8740-2</p>
        </li>
        <li><div class="colorblock" style="background-color:yellow"></div>
          <h5>喜气洋洋</h5>
          <p>激情岁月8740-2</p>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
<!--[if IE 6]>
<script type="text/javascript">
    if ($.browser.msie && $.browser.version < 7) {
        $(function () {
            $('div.palette').hover(function () {
                $(this).find('div.desc').show();
            }, function () {
                $(this).find('div.desc').hide();
            });
        })
    }
</script>
<![endif]-->
<div class="gotaobao">
  <a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">访立邦淘宝商城，点选更多产品颜色</a>
</div>
</div>
</div>

<div class="properties">
  <table class="propertyA">
    <tr><th>公司名称：</th>
      <td><%= @design.try(:company_name) %><a href="<%=@design.try(:company_url)%>">[进入公司主页]</a></td>
    </tr>
    <tr><th>公司地址：</th>
      <td><%= @design.try(:company_address) %></td>
    </tr>
    <tr><th>设计师：</th>
      <td><%=  @design.try(:author) %><a href="<%= @design.try(:author_url) %>">[进入个人主页]</a></td>
    </tr>
    <tr><th>项目名称：</th>
      <td><%= @design.try(:project_name) %></td>
    </tr>
    <tr><th>设计风格：</th>
      <td><%= @design.try(:design_style) %></td>
    </tr>
    <tr><th>设计说明：</th>
      <td><%= @design.try(:design_intro) %></td>
    </tr>
    <tr><th>主要材料：</th>
      <td><%= @design.try(:design_material) %></td>
    </tr>
    <tr><th>推荐理由：</th>
      <td><%= @design.try(:recommend_reason) %></td>
    </tr>
  </table>
</div>
<div class="review_wrap">
  <div class="reviewform">
    <div class="bar">
      <h4><span>评论</span>(<%= @design.comments.length %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
    </div>
    <div class="form-content">
      <%= form_for(Comment.new) do |f| %>
          <%= f.hidden_field :commentable_id, value: params[:id] %>
          <%= f.hidden_field :commentable_type, value: 'WeeklyStar' %>
          <p class="input">
            <%= f.text_area :content, :class => "area_text" %>
          </p>
          <p class="button">
            <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
          </p>
      <% end %>
    </div>
  </div>
  <div class="pager ft12">
    <%- unless @comments.nil? %>
        <%= paginate @comments %>
    <%- end %>
  </div>
  <div class="review_list">
    <ul class="review_listA">
      <% @comments.each do |c| %>
          <li>
            <div class="bar">
              <span class="user"><%= c.user.display_name %></span><span class="time"><%= c.created_at.to_date %></span>
            </div>
            <div class="reply">
              <a href="#">回复</a>
            </div>
            <div class="content">
              <%= c.content %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
</div>
<div class='sub_bot pr'></div>
<!--sub_bot ends-->
</div><!--main ends-->