<% content_for :head do -%>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        #gallery_caption {
            display: none;
        }
        .popup_zf {
          bottom: 18px;
          background:white !important;
        }
    </style>
<% end -%>
<%- content_for :tail do %>
    <%= javascript_include_tag "reply" %>
    <%= render :partial => "recommend_color" %>
<%- end %>
<div class="main page_weekstar page_weekstar_detail">
<div class='sub_title tr pt25'>
  <img src="<%= asset_path "design/title_design.png" %>"/>
</div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/weekly_stars">每周之星</a></em>
    <em><a href="/weekly_stars">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
<div class="wrapper group">
<%- if @design == WeeklyStar.last %>
    <div class="weekstart_titleA">
      <div class="subtitle clear">
        <a href="/weekly_stars/<%= @prev_star.try(:id) %>" class="star_prev fl"></a>
          <span class="fl">2012.5.12 往期作品</span>
      </div>
      <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen" %></div>
      <h1><%= @design.design_name %></h1>
    </div>
<%- else %>
<div class="weekstart_titleA">
  <div class="subtitle clear">
    <%- unless @design == WeeklyStar.order("published_at desc").last %>
      <a href="/weekly_stars/<%= @prev_star.try(:id) %>" class="star_prev fl"></a>
    <%- end %>
      <span class="fl"><%= @design.try(:published_at).try(:to_date) %>往期作品</span>
    <a href="/weekly_stars/<%= @next_star.try(:id) %>" class="star_next fl"></a>
  </div>
  <div class="fullscreen_btn"><%= link_to "全屏观看", "/weekly_stars/#{@design.id}/fullscreen?action_from=action_show" %></div>
  <h1><%= @design.design_name %></h1>
</div>
<%- end %>

<div class="weekstart_detail">
<div class="gallery">
  <span class="moveleft"></span>
  <span class="moveright"></span>

  <div class="galleryK" id="gallery">
    <%- unless @design.nil? %>
        <%- @design.weekly_star_uploads.each do |i| %>
            <%= image_tag(i.file.url(:slide), :class => "cloudcarousel", :'data-id' => i.id, :alt => "装修设计欣赏-#{@design.design_name}") unless i.file.nil? %>
        <%- end %>
    <%- end %>
  </div>
</div>
<%= javascript_include_tag "galleryK" %>
<div class="color-picker">
<div class="overview">
  <div class="votes">所获票数：<span id="votes_count<%= @design.id %>"><%= @link_design.try(:votes_count) %></span>
    <%#=# link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "WeeklyStar"), :remote => true, :method => 'post' %>
  </div>

  <div class="operate pr">
    <span class="forward">转发 (<%=@link_design.shares_count %>)</span>
    <a href="<%= @design.try(:design_link) %>" target="_blank"><span class="review">评论 (<%= @link_design.try(:comments).length %>)</span></a>
      <%= forward_links("#iColor分享#每周之星精彩设计作品----【#{@design.author}】，更多精彩装修作品，尽在iColor，@刷新生活iColor，", weekly_star_url(@design), @design.main_preview_img.url, @design.id.to_s, "WeeklyStar") %>
  </div>
</div>
<div class="color">
  <div class="palettes">
    <%- 8.times do %>
        <div class="palette">
          <div class="desc">
            <div class="title"></div>
            <div class="list">
              <ul>
              </ul>
            </div>
          </div>
        </div>
    <%- end %>
  </div>
<!--[if IE 6]>
<script type="text/javascript">
    if ($.browser.msie && $.browser.version < 7) {
        $(function () {
            $('div.palette').hover(function () {
                $(this).find('div.desc').show();
            }, function () {
                $(this).find('div.desc').hide();
            });
        })
    }
</script>
<![endif]-->
<div class="gotaobao">
  <a href="http://nipponpaint.tmall.com/shop/viewShop.htm" target="_blank">访立邦淘宝商城，点选更多产品颜色</a>
</div>
</div>
</div>

<div class="properties">
  <table class="propertyA">
    <%- unless @design.company_name.blank? %>
        <tr><th>公司名称：</th>
          <td><%= @design.company_name %>
            <%- unless @design.company_url.blank? %>
                <a href="<%=@design.company_url%>">[进入公司主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.company_address.blank? %>
        <tr><th>公司地址：</th>
          <td><%= @design.company_address %></td>
        </tr>
    <%- end %>
    <%- unless @design.author.blank? %>
        <tr><th>设计师：</th>
          <td><%=  @design.author %>
            <%- unless @design.author_url.blank? %>
                <a href="<%= @design.author_url %>">[进入个人主页]</a></td>
            <%- end %>
            </tr>
    <%- end %>
    <%- unless @design.project_name.blank? %>
        <tr><th>项目名称：</th>
          <td><%= @design.project_name %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_style.blank? %>
        <tr><th>设计风格：</th>
          <td><%= @design.design_style %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_intro.blank? %>
        <tr><th>设计说明：</th>
          <td><%= @design.design_intro %></td>
        </tr>
    <%- end %>
    <%- unless @design.design_material.blank? %>
        <tr><th>主要材料：</th>
          <td><%= @design.design_material %></td>
        </tr>
    <%- end %>
    <%- unless @design.recommend_reason.blank? %>
        <tr><th>推荐理由：</th>
          <td><%= @design.recommend_reason %></td>
        </tr>
    <%- end %>
  </table>
</div>
<div class="review_wrap">
  <div class="reviewform">
    <div class="bar">
      <h4><span>评论</span>(<%= @design.comments.length %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
    </div>
    <div class="form-content">
      <%= form_for(Comment.new) do |f| %>
          <%= f.hidden_field :commentable_id, value: params[:id] %>
          <%= f.hidden_field :commentable_type, value: 'WeeklyStar' %>
          <p class="input">
            <%= f.text_area :content, :class => "area_text" %>
          </p>
          <p class="button">
            <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
          </p>
      <% end %>
    </div>
  </div>
  <div class="pager ft12">
    <%- unless @comments.nil? %>
        <%= paginate @comments %>
    <%- end %>
  </div>
  <div class="review_list">
    <ul class="review_listA">
      <% @comments.each do |c| %>
          <li>
            <div class="bar">
              <span class="user">
                <% if c.user %>
                <a href="/users/<%= c.user.id %>"><%= c.user.display_name %></a>
                <% else %>
                <a href="#">匿名</a>
                <% end %>
              </span>
              <span class="time"><%= c.created_at.to_date %></span>
            </div>
            <div class="reply">
              <a href="javascript:void(0)">回复</a>
            </div>
            <div class="content">
              <%= c.content %>
            </div>

            <div class="reply_area none cl pr">
              <em class="pa">◆</em>
              <span class="pa">◆</span>

              <div class="reply_input clear">
                <%= form_for(ReplyMsg.new) do |f| %>
                    <%= f.hidden_field :show_id, value: @design.id %>
                    <%= f.hidden_field :comment_id, value: c.id %>
                    <%= f.hidden_field :reply_type, value: "weekly_stars" %>
                    <%= f.text_area :content, :rows => 2 %>
                    <input type="image" src="<%= asset_path "btn.jpg" %>">
                <%- end %>
              </div>
              <!--reply_input ends-->
            </div>
            <!--reply_area ends-->
            <div class="reply_list none cl pr">
              <em class="pa">◆</em>
              <span class="pa">◆</span>

              <div class="reply_con ft14 clear">
                <div class="clear">
                  <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                      <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                        <p class="reply_tabs fl">
                          <a href="/users/<%= r.user.id %>"><%= r.user.display_name %></a>回复:<%= r.content %>
                        </p>

                        <p class="fr">
                          <%= r.created_at.to_date %>
                        </p>
                      </div>
                  <%- end %>
                </div>
              </div>
              <!--reply_con ends-->
            </div>
            <!--reply_list ends-->
          </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
</div>
<div class='sub_bot pr'></div>
<!--sub_bot ends-->
</div><!--main ends-->