<% content_for :head do -%>
  <%= stylesheet_link_tag "style" %>
  <style type="text/css">
  .map-next-bullet{background-position: center 1px;margin-bottom: 10px;}
  .map-prev-bullet{background-position: center -13px;margin-bottom:0;}
  </style>
<% end -%>
<%- content_for :tail do %>
  <%= javascript_include_tag "manage/map-kv-slider.js", "/resources/js/plugins/exp/exp.js" %>
  <script type="text/javascript">
    $(function(){
      $('.js-slider-prev').click(function(){
        $('.slides_box').find('.map-next').click()
      });
      $('.js-slider-next').click(function(){
        $('.slides_box').find('.map-prev').click()
      });
      // 评论JS
      $('.js-recomment').click(function(){
        $(this).parents('li').siblings().find('.r_comment_form').hide();
        $(this).parents('li').find('.r_comment_form').show();
      });
      $('.js-close').click(function(e){
        e.preventDefault();
        $(this).parents('.r_comment_form').hide();
      });
    });
  </script>
<%- end %>
<h3 class="chann_caption nomargin">
  <i class="icon-map icon-map3 icon_colors"></i>
  <strong>设计鉴赏</strong>
  <small>实用案例为您的家装出谋画色</small>
</h3>
<div class="mt10">
  <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_1000x85) %></a>
</div>
<ul class="breadcrumb">
  <li><%= link_to "首页", "/" %> &gt;</li>
  <li><%= link_to "设计鉴赏", "/weekly_stars" %> &gt;</li>
  <li><%= link_to "设计之星", "/weekly_stars" %> &gt;</li>
  <li class="active"><%= @design.design_name %></li>
</ul>
<hr class="border2 border2_mt2">

<div class="index_main noborder designs_in_slide nopadding">
  <div class="slider_topbar">
    <%- if @next_star.present? %>
      <a href="/weekly_stars/<%= @next_star.try(:id) %>" class="a_hover_red slider_btns pull-right">
        下一期作品<i class="icon-slider_next icon-i30"></i>
      </a>
    <%- end %>
    <%- if @prev_star.present? %>
      <a href="/weekly_stars/<%= @prev_star.try(:id) %>" class="a_hover_red slider_btns pull-left">
        <i class="icon-slider_prev icon-i30"></i>上一期作品
      </a>
    <%- end %>
    <h3 class="title text-center nomargin"><%= @design.design_name %></h3>
  </div>
  <div class="mt20">
    <div class="slides_box clearfix">
      <div class="map-big pull-left js-map-big">
        <%= image_tag @design.weekly_star_uploads.first.file.url(:show_big) %>
        <a href="javascript:;" class="slider-prev js-slider-prev">prev</a>
        <a href="javascript:;" class="slider-next js-slider-next">next</a>
      </div>
      <div class="map-kv-slider pull-right">
        <a href="javascript:;" class="map-next-bullet js-map-next-bullet">prev</a>
        <hr class="nomargin">
        <a href="javascript:;" class="map-next js-map-next">上一张图</a>
        <div class="map-kv-container">
          <ul>
            <%- @design.weekly_star_uploads.each_with_index do |star_upload,index| %>
              <li class="<%= 'map-active' if index == 0 %>">
                <a href="javascript:;"><span></span>
                  <%= image_tag star_upload.file.url(:show_big), size: "75x75",index: "#{index}", alt: "", :'data-id' => star_upload.id %>
                </a>
              </li>
            <%- end %>
          </ul>
        </div>
        <a href="javascript:;" class="map-prev js-map-prev">下一张图</a>
        <hr class="nomargin">
        <a href="javascript:;" class="map-prev-bullet js-map-prev-bullet mt10">next</a>
      </div>
    </div>
  </div>
  <div class="btn_group clearfix mt20 noborder pr">
    <%= link_to raw("<i class='icon-i16 icon-xin_gray'></i><span class='votes_count#{@link_design.id}'>#{@link_design.try(:votes_count)}</span>"), votes_path(:voteable_id => @link_design.id, :voteable_type => "Design"), :remote => true, :method => 'post', class: 'btn2 pull-left', title: '' %>
    <%= link_to raw("<i class='icon-i16 icon-comment1'></i>评论(#{@link_design.try(:comments).try(:length)})"), "/weekly_stars/#{@design.id}#comments" ,class: 'btn2 pull-left', title: '', target: '_blank' %>
    <%= link_to raw("<i class='icon-i16 icon-share1'></i>转发(#{@link_design.try(:shares_count) || 0})"), "javascript:;" ,class: 'btn2 pull-left js-share_btn', title: '' %>
    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare js-share_toggle hide">
      <a class="bds_qzone"></a>
      <a class="bds_tsina"></a>
      <a class="bds_tqq"></a>
      <a class="bds_renren"></a>
      <a class="bds_t163"></a>
      <a class="shareCount" href="#" title="累计分享0次">0</a>
      <!-- <a class="bds_more" style="background-image:none!important;padding-left:0;">更多分享平台...</a> -->
    </div>
    <%= link_to raw("<i class='icon-i16 icon-fullscreen'></i>全屏"), "/weekly_stars/#{@design.id}/fullscreen" ,class: 'btn2 pull-right', title: '' %>
    <%- if current_user %>
      <%= link_to raw("<i class='icon-i16 icon-collect'></i>收藏"), user_collects_path(@design.id, weekly_star_id: @design.id), :remote => true, method: :post, :class => "btn2 pull-right", title: ''  %>
    <%- else %>
      <a href="/users/sign_in" class="btn2 pull-right"><i class='icon-i16 icon-collect'></i>收藏</a>
    <%- end %>
    <%= link_to raw("<i class='icon-i16 icon-freedown'></i>免费下载"), download_weekly_star_path(@design.id,:target => params[:action]), class: "btn2 pull-right", title: '' %>
  </div>
</div>

<div class="clearfix mt10">
  <div class="index_main designs_in_left pull-left">
    <div class="pt15">
      <%- @design.weekly_star_uploads.each_with_index do |star_upload,index| %>
        <div class="colors_box clearfix nomargin <%= 'none' unless index == 0 %>">
          <div class="pull-left"><img src="<%= asset_path 'imgbase_in/color.jpg' %>"></div>
          <ul class="pull-left group unstyled colorbox_ul">
            <%- color1, color2, color3 = search_color_code(star_upload.recommend_color1), search_color_code(star_upload.recommend_color2), search_color_code(star_upload.recommend_color3) %>
            <% if color1 %>
              <li>
                <%- if color1.rgb? %>
                  <div class="colorblock" style="background-color:rgb(<%= color1.rgb %>)"></div>
                <%- end %>
                <h6 class="colortitle"><%= star_upload.recommend_color_category1 %></h6>
                <p class="colorname">立邦(<%= star_upload.recommend_color1 %>)<%= color1.try(:name) %></p>
              </li>
            <% end %>
            <% if color2 %>
              <li>
                <%- if color2.rgb? %>
                  <div class="colorblock" style="background-color:rgb(<%= color2.rgb %>)"></div>
                <%- end %>
                <h6 class="colortitle"><%= star_upload.recommend_color_category2 %></h6>
                <p class="colorname">立邦(<%= star_upload.recommend_color2 %>)<%= color2.try(:name) %></p>
              </li>
            <% end %>
            <% if color3 %>
              <li>
                <%- if color3.rgb? %>
                  <div class="colorblock" style="background-color:rgb(<%= color3.rgb %>)"></div>
                <%- end %>
                <h6 class="colortitle"><%= star_upload.recommend_color_category3 %></h6>
                <p class="colorname">立邦(<%= star_upload.recommend_color3 %>)<%= color3.try(:name) %></p>
              </li>
            <% end %>
          </ul>
          <a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank" class="goshop pull-right"></a>
          <a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank" class="gobuy pull-right"></a>
        </div>
      <%- end %>
    </div>

    <div class="work_infos linet1">
      <p class="work_info">
        <span>公司名称：<%= @design.company_name %></span>
        <span>设计师  ：<%= @design.author %>
          <a href="<%= user_asks_path(@link_design.user.id) %>" class="btn_ask" target="_blank"></a>
        </span>
        <span>设计风格：<%= @design.design_style %></span>
      </p>
      <p class="work_info" style="height:72px;overflow:hidden;">设计说明：<%= @design.design_intro %></p>
    </div>
    <div class="work_tags">
      <span class="">标签：</span>
      <%- @design.tag_list.each do |tag| %>
        <a href="javascript:;"><%= tag %></a>
      <%- end %>
    </div>
    <div style="height:30px;margin:10px 0 31px 7px;">
      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <a class="shareCount"></a>
      </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
      <!-- Baidu Button END -->
    </div>
    <a name="comments"></a>
    <div class="work_comments nomargin">
      <%= form_for(Comment.new, :html => {:class => "comment_form exp-holder"}) do |f| %>
        <%= f.hidden_field :commentable_id, value: @link_design.id %>
        <%= f.hidden_field :commentable_type, value: 'Design' %>
        <h5>评论<span class="text-error">（<%= @link_design.comments.length %>）</span></h5>
        <%= f.text_area :content, :class => "J_resulte js-text_rest", placeholder: '最多输入100个字', :'data-max' => 1000 %>
        <ul class="moodbtn_group unstyled clearfix">
          <li class="pull-right btn_send">
            <span class="muted">
              最多可以输入
              <span class="text-important js-text_rest_show">1000</span>
              个字符
            </span>
            <button class="">提交评论</button>
          </li>
          <li class="pull-left exp-block-trigger" id="">
            <i class="icon-mood icon-face"></i>
            添加表情
          </li>
        </ul>
      <% end %><!-- bottom_mood end -->
      <ul class="mood_list unstyled nomargin js-list_parent">
        <%- @comments.each_with_index do |c,i| %>
          <li>
            <div class="clearfix">
              <div class="pull-left comment_photo">
                <%- if c.user.try(:avatar) -%>
                  <%= image_tag(c.user.avatar.file(:icon), :size =>"50x50")%>
                <%- else -%>
                  <%= image_tag "news/regimg_bg.jpg", size: '50x50' %>
                <%- end -%>
              </div>
              <div class="comment_text">
                <p>
                  <strong class="pull-right comment_floor"><%= @comments.size - i %>F</strong>
                  <strong><%= c.user ? c.user.display_name : "匿名" %></strong>
                  <span class="comment_date"><%= c.created_at.to_date %></span>
                </p>
                <p class="J_resulte"><%= c.content %></p>
                <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                  <div class="re_comments">
                    <i class="icon-i16 icon-toparrow"></i>
                    <p>
                      <strong><%= r.user.display_name %></strong>
                      <span class="muted">说</span>
                      <p><%= r.content %></p>
                    </p>
                    <p class="muted"><%= r.created_at.to_date %></p>
                  </div>
                <%- end %>
              </div>
            </div>
            <div class="clearfix" style="margin-bottom:-10px;*margin-bottom:0;">
              <%- if current_user %>
                <a class="pull-right js-recomment" href="javascript:;">回复</a>
              <%- end %>
            </div>
            <%= form_for(ReplyMsg.new, :html =>{:class =>"comment_text r_comment_form"}) do |f| %>
              <%= f.hidden_field :show_id, value: params[:id] %>
              <%= f.hidden_field :comment_id, value: c.id %>
              <%= f.hidden_field :reply_type, value: "weekly_stars" %>
              <%= f.text_area :content, class: 're_comments' %>
              <div>
                <button class="btn btn-small">提交</button>
                <a href="#" class="btn btn-small js-close">取消</a>
              </div>
            <%- end %>
          </li>
        <%- end %>
      </ul>
      <div class="pager">
        <%- unless @comments.nil? %>
          <%= paginate @comments %>
        <%- end %>
      </div>
    </div>
  </div>
  <div class="pull-right smaller">
    <%- colum_datas1 = IColumnData.show_data(1).limit(5) %>
    <ul class="unstyled map-right index_main js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 1).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">最新大师作品</strong>
      </li>
      <% colum_datas1.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%>
    </ul>
    <%- colum_datas2 = IColumnData.show_data(4).limit(5) %>
    <ul class="unstyled map-right index_main mt10 js-img_show">
      <li class="clearfix refresh_r_tit">
        <a href="<%= IColumnData.where(position: 0, i_column_type_id: 4).first.try(:url) %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
        <strong class="pull-left">装修效果图精华推荐</strong>
      </li>
      <% colum_datas2.each_with_index do |dcs,index| %>
      <li class="map-r1 dott1 <%="active" if index == 0%>">
          <i class="icon-i16 icon-<%= index+1 %>"><%= index+1 %></i>
            <strong class="js-title"><%=dcs.title%></strong><br>
            <a href="<%=dcs.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=dcs.file.url(:list_155x115)%>" alt="" /></a>
      </li>
      <% end -%>
    </ul>
    <div class="mt10">
      <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_230x170) %></a>
    </div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="<%= @master_more.url if @master_more%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>大师访谈</h5>
    <ul class="ul_dot">
      <%- @master_interviews.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @master_interviews.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="<%= @more_info.url if @more_info%>" target="_blank" class="pull-right"><small class="muted">更多></small></a>相关资讯</h5>
    <ul class="ul_dot">
      <%- @about_info.each_with_index do |m,i| %>
        <li class="<%= 'noborder' if i == @about_info.size - 1 %>">
          <a href="<%= m.url %>" target="_blank"><%= m.title %></a>
        </li>
      <%- end %>
    </ul>
  </div>
  <div class="pull-right">
    <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[2].try(:file).try(:url, :list_230x230) %></a>
  </div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left">
    <a href="<%= @banners[3].url? ? @banners[3].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[3].try(:file).try(:url, :list_670x85) %></a>
  </div>
  <div class="footer_banner mt10 pull-right">
    <a href="<%= @banners[4].url? ? @banners[4].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[4].try(:file).try(:url, :list_310x85) %></a>
  </div>
</div>
