<% content_for :head do %>
<%= stylesheet_link_tag "manage/map" %>
<%end-%>

<%- content_for :tail do %>
<%= javascript_include_tag "manage/map-kv-slider.js", "/resources/js/plugins/exp/exp.js" %>
<%- end %>

<h3 class="chann_caption nomargin">
  <i class="icon-map icon-map1 icon_colors"></i>
  <strong>对话名人</strong>
  <small>直面大师专家，为您在线授道解惑</small>
</h3>
<div class="clearfix">
  <div class="footer_banner pull-left"><a href="#"><img src="images/index/footer_banner.jpg"></a></div>
  <div class="footer_banner pull-right"><a href="#"><img src="images/index/footer_banner2.jpg"></a></div>
</div>

<ul class="breadcrumb">
  <li><a href="#">首页</a> &gt;</li>
  <li><a href="#">对话名人</a> &gt;</li>
  <li><a href="#">名家设计</a> &gt;</li>
  <li class="active"><%=@master_design.title -%></li>
</ul>
<hr class="border2 border2_mt2">

<h4><%=@master_design.title -%></h4>
<div class="index_main clearfix">
  <div class="pull-left imgbase_in_left">
    <div class="slides_box clearfix">
      <div class="map-big pull-left js-map-big">
        <% if @master_design.master_design_uploads.first -%>
          <img src="<%=@master_design.master_design_uploads.first.file(:slide)%>" />
        <%end-%>
      </div>
      <div class="map-kv-slider pull-right">
        <a href="javascript:;" class="map-prev-bullet js-map-prev-bullet">prev</a>
        <hr class="nomargin">
        <a href="javascript:;" class="map-prev js-map-prev">上一张图</a>
        <div class="map-kv-container">
          <ul>
            <% @master_design.master_design_uploads.each_with_index do |_upload,index| -%>
            <li class="<%= index == 0 ? 'map-active' : ''%>"><a href="javascript:;"><span></span><img src="<%=_upload.file(:thumb)-%>" alt="<%=_upload.title%>" /></a></li>
            <%end -%>
          </ul>
        </div>
        <a href="javascript:;" class="map-next js-map-next">下一张图</a>
        <hr class="nomargin">
        <a href="javascript:;" class="map-next-bullet js-map-next-bullet mt10">next</a>
      </div>
    </div>
    <div class="btn_group clearfix">
      <a target="_blank" href="#" class="btn1 pull-left"><i class="icon-i16 icon-suit"></i>查看该大师访谈</a>
      <a href="#" class="btn2 pull-right"><i class="icon-i16 icon-fullscreen"></i>全屏</a>
      <a href="#" class="btn2 pull-right"><i class="icon-i16 icon-collect"></i>收藏</a>
      <a href="#" class="btn2 pull-right"><i class="icon-i16 icon-freedown"></i>免费下载</a>
      <!-- <a href="#" class="btn2 pull-right"><i class="icon-i16 icon-xin_gray"></i>8799</a> -->
    </div>
    <div class="colors_box clearfix">
      <div class="pull-left"><img src="images/imgbase_in/color.jpg"></div>
      <ul class="pull-left unstyled">
        <li>
          <div class="colorblock" style="background-color:#7b6d66"></div>
          <h6 class="colortitle">墙面推荐色</h6>
          <p class="colorname">立邦(GN5080-2)狮峰龙井</p>
        </li>
        <li>
          <div class="colorblock" style="background-color:#acb57f"></div>
          <h6 class="colortitle">墙面推荐色</h6>
          <p class="colorname">立邦(GN5080-2)狮峰龙井</p>
        </li>
        <li>
          <div class="colorblock" style="background-color:#ebe8c4"></div>
          <h6 class="colortitle">墙面推荐色</h6>
          <p class="colorname">立邦(GN5080-2)狮峰龙井</p>
        </li>
      </ul>
      <a href="#" class="gobuy pull-left"></a>
      <a href="#" class="goshop pull-left"></a>
    </div>
    <div class="work_tags">
      <span>标签：</span>
      <a href="#">公寓</a>
      <a href="#">复式</a>
      <a href="#">别墅</a>
      <a href="#">三居</a>
      <a href="#">四局</a>
      <a href="#">豪华型</a>
      <a href="#">30-100万</a>
      <a href="#">150平米以上</a>
      <a href="#">现代简约</a>
    </div>
    <div style="height:30px;margin-left:20px;margin-top:18px;">
      <!-- Baidu Button BEGIN -->
      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <!-- <a class="shareCount"></a> -->
      </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
      </script>
      <!-- Baidu Button END -->
    </div>
  </div>
  <div class="pull-right imgbase_in_right works">
    <div class="media media_chann">
      <a class="pull-left" href="#">
        <i class="icon-chann icon-chann_imgbase"></i>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a class="media-heading_link_a" href="#">装修图库</a></h4>
        <p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
      </div>
    </div>
    <div class="media media_chann">
      <a class="pull-left" href="#">
        <i class="icon-chann icon-chann_match"></i>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a class="media-heading_link_a" href="#">色彩配搭</a></h4>
        <p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
      </div>
    </div>
    <div class="media media_chann">
      <a class="pull-left" href="#">
        <i class="icon-chann icon-chann_qbt"></i>
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a class="media-heading_link_a" href="#">装修丘比特</a></h4>
        <p class="media_con nomargin">仅需三步，让您轻松找到心仪的家装设计公司！</p>
      </div>
    </div>

    <div class="mt10"><a href="#"><img src="images/map/map-right1.jpg" alt=""></a></div>

    <ul class="map-right index_main mt10 unstyled js-img_show">
      <li class="map-r0 text-right"><strong>最新大师作品</strong><a href="#">更多></a></li>
      <li class="map-r1 active">
        <i class="icon-i16 icon-1">1</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="js-img"><img src="images/map/img/map01.jpg" alt="" /></a>
      </li>
      <li class="map-r2">
        <i class="icon-i16 icon-2">2</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt="" /></a>
      </li>
      <li class="map-r3">
        <i class="icon-i16 icon-3">3</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt="" /></a>
      </li>
      <li class="map-r4">
        <i class="icon-i16 icon-4">4</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt="" /></a>
      </li>
      <li class="map-r5">
        <i class="icon-i16 icon-5">5</i>
        <strong class="js-title">20万装修148平简欧风舒适四房</strong>
        <a href="#" class="hide js-img"><img src="images/map/img/map01.jpg" alt="" /></a>
      </li>
    </ul>
  </div>
</div>

<div class="mt10"><a href="#"><img src="images/channel/banner1.jpg"></a></div>