<div id="image-box">
  <div class="title">
    <h5>
      <%= link_to '图库管理', main_app.image_libraries_path %>&nbsp;&nbsp;>&nbsp;
      <%= link_to(image.imageable.title, main_app.user_design_path(user_id: image.user_id, id: image.imageable_id), target: '_blank') if image.imageable.try(:title).present? %>
    </h5>
  </div>
  <h3><%= image.title %>&nbsp;&nbsp;&nbsp;ID:&nbsp;<%= image.id %></h3>
  <div class="image-preview" data-id='<%= image.id %>'>
    <p class='up-down-page'>
      <button class='left'>上一张</button>
      <button class='right'>下一张</button>
    </p>
    <span class='zoom' id='ex1' style="margin-top:40px">
      <%= image_tag(image.file, :size =>"500x400" )%>
    </span>
  </div>
  <%= form_tag main_app.image_library_update_tags_path(image), :method => :put do %>
  <div class="container">
    <h2>按区域</h2>
    <table>
      <tr>
        <td><select id="province" class="level_1">省</select></td>
        <td><select id="city" class="level_2">市</select></td>
        <td><select id="county" class="level_3" name='area_id' data-image-id='<%= image.id %>'>区</select></td>
      </tr>
    </table>
    <%- categories.each do |c| %>
      <h2>
        <%= c.title %>
        <span class="expand" data-tag-id='<%= c.id %>'>
          <%= c.id == 136 || c.id == 210 ? '展开' : '收缩'%>
        </span>
      </h2>
      <table width='100%' class='js-tab-<%= c.id %>-childen <%= 'expand' if c.id == 136 || c.id == 210 %>'>
        <%- if c.id != 136 && c.id != 210 -%>
          <tr>
            <td align='right' colspan='4' class='toggle-options'>
              <span class="js-all" data-type='child' data-tag-id='<%= c.id %>'>全选</span>
              <span class="js-reverse" data-type='child' data-tag-id='<%= c.id %>'>反选</span>
            </td>
          </tr>
        <%- end -%>
        <%- c.children.in_groups_of(4, false) do |group|%>
        <tr <%= "class=js-checkboxes-#{c.id}" if c.id != 136 && c.id != 210 %>>
          <%- group.each do |child| -%>
            <td>
            <%- if child.children.any? -%>
              <h5><%= child.title%></h5>
              <p class='toggle-options'>
                <span class="js-all" data-type='node' data-tag-id='<%= child.id %>'>全选</span>
                <span class="js-reverse" data-type='node' data-tag-id='<%= child.id %>'>反选</span>
              </p>
              <div class='js-checkboxes-<%= child.id %>'>
                <%- child.children.each do |node| -%>
                  <%= check_box_tag "tags[]", node.id, image_tag_ids.include?(node.id), :class => "js-check_boxes", :"data-image-id" => image.id %>&nbsp;<%= node.title %><br/>
                <%- end -%>
              </div>
            <%- else -%>
              <%= check_box_tag "tags[]", child.id, image_tag_ids.include?(child.id), :class => "js-check_boxes", :"data-image-id" => image.id %>&nbsp;<%= child.title %>
            <%- end -%>
            </td>
          <%- end -%>
        </tr>
        <%- end %>
      </table>
    <%- end %>
    <%= submit_tag '保存', :class =>"greyishBtn" %>
    &nbsp;
    <% if can? :audit, :aud %>
      <%= link_to '审核', main_app.image_library_audited_path(image, :genre => params[:genre], :keywords => params[:keywords], :page => params[:page]), :confirm => "确认审核通过吗", :class =>"button basicBtn" %>
    <% end %>
  </div>
  <%- end -%>
</div>