<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <%= javascript_include_tag "LinkageSelect.js", "/location.js", "keymaster.min", 'icolor', 'magic_content/image_library', 'jquery.blockui' %>
	<script type="text/javascript">
    $(function() {
      window.area_data = data;
      iColor.ImageLibrary.init_area_selection(window.area_data, '<%= @image.area_id %>',
        <%= @image.areas %>);
      iColor.ImageLibrary.bindEvents();
    });
	</script>
<%- end %>

<div class="content tags_main">
  <%= render partial: 'layouts/flash_message' %>
  <div class="title">
    <h5>
      <%= link_to '图库管理', main_app.image_libraries_path %>&nbsp;&nbsp;>&nbsp;
      <%= link_to(@image.imageable.title, main_app.user_design_path(user_id: @image.user_id, id: @image.imageable_id), target: '_blank') if @image.imageable.title.present? %>
    </h5>
  </div>
  <h3><%= @image.title %></h3>
  <%= render partial: 'image_with_tags', locals: { image: @image, categories: @categories, image_tag_ids: @image_tag_ids } %>
</div>