<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <%= javascript_include_tag "LinkageSelect.js", "/location.js", "keymaster.min", 'icolor', 'magic_content/image_library', 'jquery.blockui' %>
	<script type="text/javascript">
    $(function() {
      window.area_data = data;
      iColor.ImageLibrary.init_area_selection(window.area_data, '<%= @image.area_id %>',
        <%= @image.areas %>);
      iColor.ImageLibrary.bindEvents();
    });
	</script>
<%- end %>

<div class="content tags_main">
  <%= render partial: 'layouts/flash_message' %>
  <%= render partial: 'image_with_tags', locals: { image: @image, categories: @categories, image_tag_ids: @image_tag_ids } %>
</div>