<div class="color_form_overlay"></div>
<style type="text/css">
.pub_time{display:none;display:none;}
</style>
<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <%= javascript_include_tag 'twitter/bootstrap' %>
  <script type="text/javascript">
    $(function(){
      if($("#genre").val() == "pub_time"){
        $('.pub_time').show()
      }
      if($("#genre").val() == "al_time"){
        $('.pub_time').show()
      }
      if($("#genre").val() == "last_al_time"){
        $('.pub_time').show()
      }
      $('.set_name').click(function(e){
        $(this).siblings('.name_form').show()
        $('.color_form_overlay').show()
      })
      $("#genre").change(function(e){
        if($(this).val() == 'pub_time' || $(this).val() == 'al_time' || $(this).val() == 'last_al_time'){
          $('.pub_time').show()
        }else{
          $('.pub_time').hide()
        }
      })
      $('.set_color').click(function(e){
        $(this).siblings('.color_form').show()
        $('.color_form_overlay').show()
        $('#image_id').val($(this).attr('data-id'))
        input_change()
      })

      $('.color_commit').click(function(){
         image_id = $('#image_id').val();
        $('.color_form_overlay').hide();
        // console.log($(this).parents('tr').html())
        if ($("#edited_color_"+image_id).attr('checked')==undefined){

          if ($(this).parent().siblings('fieldset').children('input').val() == ''){
            alert('请至少在第一行输入一个色号!');
            return false;
          }
          var $input_parent = $(this).parent().siblings().find('fieldset')
          var $input1 = $input_parent.children('.color_input').val();
          var $input2 = $input_parent.children('.color_input2').val();
          var $input3 = $input_parent.children('.color_input3').val();
          if ($input1 == $input2 || $input1 == $input3 || ($input2 != '' && $input2 == $input3)){
            alert('不能输入相同色号');
            return false;
          }
        }
      })
      $('.name_commit').click(function(){
        $('.color_form_overlay').hide();
        if ($(this).parent().siblings('fieldset').children('input').val() == ''){
        alert('请输入名称');
        return false;
      }
      })
      $('.js-close').click(function(){
        $(this).parents('form').hide();
        $('.color_form_overlay').hide();
        // $(this).parents('form').find('input[type="text"]').attr('value','');
        // $(this).parents('form').find('.design_name').text();
        // $('.name_form')[0].reset();
      })
      $('.color_input, .color_input2, .color_input3').typeahead({
        source: function(query, process){
          $.get('/admin/content/image_libraries/1/autocomplete', {num: query}, function(data){
             process(data)
           })
        }
      })


    });
    $(function() {
      $(".image-thumbnail").hover(
        function () {
          $(this).tooltip('show');
        },
        function () {
          $(this).tooltip('hide');
        }
      );
    });
  </script>
<%- end %>
<div class="content">
  <%= render partial: 'layouts/flash_message' %>
  <div class="title">
    <h5>图库管理</h5>
  </div>

  <div class="widget first" style="position:relative;width:99.7%;min-height:500px">
    <%=form_tag main_app.image_libraries_path, :method=>:get, :class=>"search_form" do %>
      <span class="pub_time">
        <input type="text" class="datepicker" placeholder="开始日期" name="start_date" value="<%= params[:start_date] %>"/>
        <input type="text" class="datepicker" placeholder="结束日期" name="end_date" value="<%= params[:end_date] %>"/>
      </span>

      <%=select_tag :genre, options_for_select([["选择筛选条件",""],
          ["图片名称","title"],
          ["图片作者","username"],
          ["已被管理员修改过的图片","yes_update"],
          ["未被管理员修改过的图片","no_update"],
          ["图片ID","id"],
          ["所属频道","imageable_type"],
          ["按修改管理员","last_user_id"],
          ["编辑完成、未审核", "edit_no_verify"],
          ["已编辑色号，未审核标签", "color_no_edit"],
          ["已审核标签，未编辑色号", "edit_no_color"],
          [" 套图ID", "imageable_id"],
          ["已编辑色号, 已审核标签", "edit_color"],
          ["未编辑色号, 未审核标签","no_edit_color"],
          ["不予审核的图片","no_audited"],
          ["发布时间","pub_time"],
          ["修改时间","al_time"],["根据最后修改时间","last_al_time"],
          ["已填写色号", "yes_color"]], params[:genre]), :style=>"width: 200px;z-index:8000;position:relative"%>
      <%=text_field_tag :keywords, params[:keywords], :placeholder => '输入筛选内容', :class => 'search_input'%>
      <input type='submit' class="button basicBtn" value='筛选'/>
    <% end %>
    <div class="head">
      <h5 class="iFrames">图库列表</h5>
    </div>

    <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
      <thead>
        <th width='30px'>ID</th>
        <th>名称</th>
        <th width='60px'>列表页图片</th>
        <th>所属相册</th>
        <th width='120px'>发布时间</th>
        <th>最后修改人</th>
        <th width='120px'>最后修改时间</th>
        <th>所属频道</th>
        <th>所属用户</th>
        <th width='35px'>审核?</th>
        <th width='260px'>操作</th>
      </thead>
      <tbody>
        <% if @images.present? %>
          <%- @images.each do |image| -%>
          <tr>
            <td><%= image.id %></td>
            <td>
              <%- if image.user_id %>
               <%= link_to(truncate(image.title, length: 20), main_app.user_design_path(user_id: image.user_id, id: image.imageable_id), target: '_blank') if image.title.present? %>
              <%- end %>
            </td>
            <td>
             <%= image_tag(image.file(:thumb), size: '50x50', class: 'image-thumbnail',
                :"data-placement" => 'right',
                :"data-html" => true,
                :"data-original-title" => "#{image_tag(image.file(:image_libraries_hover))}",
                rel: 'tooltip') %>
            </td>
            <td>
              <%= link_to(truncate(image.imageable.title, length: 20), main_app.user_design_path(user_id: image.user_id, id: image.imageable_id), target: '_blank') if image.imageable.try(:title).present? %></td>
            <td><%= image.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= image.last_user.username if image.last_user %></td>
            <td><%= image.last_updated_at.strftime("%Y-%m-%d %H:%M") if image.last_updated_at %></td>
            <td><%= link_to(image.channel_name, main_app.user_design_path(user_id: image.user_id, id: image.imageable_id)) %></td>
            <td><%= image.user.username if image.user %></td>
            <td><%= image.audited? ? 'Y' : 'N' %></td>
            <td>
              <% if can? :edit, :album %>
              <%= link_to '编辑', main_app.user_designs_path(image.user.id, :genre => params[:genre], :keywords => params[:keywords], :page => params[:page]) if image.user %>
              <% end %>
              <% if can? :set_details, :details %>
                <%= link_to '设置详情', "javascript:void(0)", :class => 'set_name', :"data-id" => image.id %>
              <% end %>
              <% if can? :settings, :tab %>
                <%= link_to '设置标签', main_app.image_library_categories_path(image, :genre => params[:genre], :keywords => params[:keywords], :page => params[:page]) %>
              <% end %>
              <% if can? :set, :color %>
                <%= link_to '设置色号', "javascript:void(0)", :class => 'set_color', :"data-id" => image.id %>
              <% end %>
              <% if can? :delete, :del %>
                <%#= link_to '删除', main_app.image_library_destroy_image_path(image, :genre => params[:genre], :keywords => params[:keywords], :page => params[:page]), method: :delete, :confirm => "确定删除吗" %>
                <%= link_to '不予审核', main_app.image_library_no_audited_path(image, :genre => params[:genre], :keywords => params[:keywords], :page => params[:page]), :confirm => "确定不予审核吗" %>
              <% end %>
              <%= render partial: 'name', :locals => { :image => image }%>
              <%= render partial: 'color', :locals => { :image => image }%>
            </td>
          </tr>
          <%- end -%>
        <% end %>
      </tbody>
    </table>
  </div>
  <ul>
    <%= paginate @images if @images.present? %>
    <form>
      <input style="visibility:hidden" name="keyword" value="<%= params[:keywords]%>"/>
      <input style="visibility:hidden" name="genre" value="<%=params[:genre]%>"/>
      <input style="visibility:hidden" name="start_date" value="<%=params[:start_date]%>"/>
      <input style="visibility:hidden" name="end_date" value="<%=params[:end_date]%>"/>
      <li class="l_reply_num" style="margin-left:2px; margin-right:10px" >共有<span class="red"></span><%= @page_count %>页</li>
      <li class="l_reply_num" >跳到 <input theme="2" name="page" genre="<%=params[:genre]%>" keywords="<%= params[:keywords]%>" max-page="9" type="text" style="width:30px;height:14px;" /> 页&nbsp;<button id="pager_go2" type="submit" value="确定" style="padding: 0 2px 0 2px;height:21px;line-height:15px;">确定</button>&nbsp;</li>
    </form>

  </ul>
</div>

