<%= content_for :tail do %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <script type="text/javascript">
    $(function() {
      $(".image-thumbnail").hover(
        function () {
          $(this).tooltip('show');
        },
        function () {
          $(this).tooltip('hide');
        }
      );
    });
    $(function(){
      <%- if flash[:alert].present? %>
        alert('<%= flash[:alert] %>')
      <%- end %>  
    });
  </script>
<%- end -%>

<style type="text/css">
.search_form{position:absolute;right:5px;top:5px;z-index:998;}
.search_form .search_input{padding:3px 5px 4px;margin:0 0 0 10px;}
ul.sub,#menu{margin: 0;}
.content .title h5{padding:0 15px;}
</style>
<div class="content">
  <div class="title">
    <h5>图库管理</h5>
  </div>

  <div class="widget first" style="position:relative;">
    <%=form_tag main_app.image_libraries_path, :method=>:get, :class=>"search_form" do %>
      <%=select_tag :genre, options_for_select([["选择筛选条件",""],["图片名称","title"],["图片作者","username"],["已被管理员修改过的图片","yes_update"],["未被管理员修改过的图片","no_update"],["图片ID","id"],["所属频道","imageable_type"],["按修改管理员","last_user_id"]], params[:genre]), :style=>"width: 200px;"%>
      <%=text_field_tag :keywords, params[:keywords], :placeholder => '输入筛选内容', :class => 'search_input'%>
      <input type='submit' class="button basicBtn" value='筛选'/>
    <% end %>
    <div class="head">
      <h5 class="iFrames">图库列表</h5>
    </div>

    <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
      <thead>
        <th width='30px'>ID</th>
        <th>名称</th>
        <th width='60px'>列表页图片</th>
        <th>所属相册</th>
        <th width='120px'>发布时间</th>
        <th>最后修改人</th>
        <th width='120px'>最后修改时间</th>
        <th>所属频道</th>
        <th>所属用户</th>
        <th width='35px'>审核?</th>
        <th width='260px'>操作</th>
      </thead>
      <% if @images.present? %>
        <tbody>
          <%- @images.each do |image| -%>
          <tr>
            <td><%= image.id %></td>
            <td><%= image.title %></td>
            <td>
              <%= image_tag(image.file(:thumb), size: '50x50', class: 'image-thumbnail',
                :"data-placement" => 'right',
                :"data-html" => true,
                :"data-original-title" => "#{image_tag(image.file(:slide_thumb))}",
                rel: 'tooltip') %>
            <td>&nbsp;</td>
            <td><%= image.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= image.try(:last_user).try(:username) if image.last_user %></td>
            <td><%= image.last_updated_at.strftime("%Y-%m-%d %H:%M") if image.last_updated_at %></td>
            <td><%= image.channel_name %></td>
            <td><%= image.try(:user).try(:username) %></td>
            <td><%= image.audited? ? 'Y' : 'N' %></td>
            <td>
              <%= link_to '编辑', '' %>
              <%= link_to '设置名称', '' %>
              <%= link_to '设置标签', main_app.image_library_categories_path(image) %>
              <%= link_to '设置色号', '' %>
              <%= link_to '审核', '' %>
              <%= link_to '删除', '' %>
            </td>
          </tr>
          <%- end -%>
        </tbody>
      <% end %>
    </table>
  </div>
  <%= paginate @images if @images.present? %>
</div>