<% content_for :tail do -%>
	<script type="text/javascript">
  	$(function(){
  		$('.rules-nav').on('click','> li > a', function(){
  			var hash = this.hash.substr(1);
  			$(this).parent().addClass('active').siblings().removeClass('active');
  			$('.' + hash).show().siblings().hide();
  		}).on('click', 'ul a', function(){
  			var hash = this.hash.substr(1);
  			$('.' + hash).show().siblings().hide();
  			$(this).closest('ul').siblings('a').click();
  		});
  	});
	</script>
<% end %>
<div class="container-fluid">
	<div class="design_works pad_t60">
		<div class="wrapper rules pad_b40">
			<ul class="rules-nav clearfix">
				<li class="active"><a href="#rules-rules">活动规则</a></li>
				<li class="pr">
					<a href="#rules-contents">活动内容</a>
					<ul class="rules-subnav">
						<li><a href="#rules-public">大众用户</a></li>
						<li><a href="#rules-designers" class="noborder">家装公司/设计师</a></li>
					</ul>
				</li>
				<li><a href="#rules-awards">活动奖项</a></li>
				<li><a href="#rules-regulations">评选细则</a></li>
				<li><a href="#rules-judges">评委名单</a></li>
				<li><a href="#rules-timetable">活动时间</a></li>
			</ul>
			<div class="rules-bin ft14">
				<div class="rules-rules pd30">
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">参与资格</a>
							</span>
						</h3>
						<ul>
							<li>• 所有iColor注册的普通用户、室内设计师和家装公司均可参与。</li>
						</ul>
					</div>
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">参与内容</a>
							</span>
						</h3>
						立邦携手全国超过10000名专业家装公司和设计师，为您免费设计，打造您梦想的空间，让您全情投入刷新生活。
						<ul>
							<li>
								<span>•</span>
								<p>普通大众用户：可以发布在成长中经历或见证的关于家•刷新•爱情的美好故事或爱情宣言，上传需整体装修的新房房型图，并标明设计需求，即有机会免费征集多套定制设计作品。</p>
							</li>
							<li>
								<span>• 家装公司和设计师：</span>
								<p style="margin-left:136px;">可以上传已有的设计作品（注意标注作品所在城市和楼盘信息）,参加专业类奖项评选；<br />也可以针对普通大众用户公布的房型图进行设计上传，参加活动类奖项评选，更有机会达成商业合作。</p>
							</li>
						</ul>
					</div>
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">活动细则及注意事项</a>
							</span>
						</h3>
						<ul>
							<li>
								<span>•</span>
								<p>所有活动的参与者必需是iColo网站的注册用户。</p>
							</li>
							<li>
								<span>•</span>
								<p>普通大众用户发布的爱的宣言（故事）必须是本人的原创，不得有抄袭或剽窃他人文字、侵犯他人知识产权及其他合法权益的行为，否则责任自负。房型图需为整体待装修的<b>新房房型图</b>（局部翻新不包括在内），每套房型图最多获得<b>3位</b>设计师的免费创意。</p>
							</li>
							<li>
								<span>•</span>
								<p>家装公司和设计师参与活动上传的作品，必须是个人原创设计的作品，不能有抄袭或剽窃他人设计成果、侵犯他人知识产权及其他合法权益的行为，否则责任自负。</p>
								<p class="font-italic fixie7">
									对于上传的已有原创作品，需包含3-5张同一套室内设计的设计图纸（CAD图纸、手绘、3D效果图任选其一）或实际效果图。作品以图片（JPG、GIF、PNG或BMP格式均可）形式上传，单张图片大小不超过1M，且勿加任何水印。对于标注<b>立邦色号</b>或<b>艺术漆色号</b>的作品，评委会将重点优先考虑。另外，如填写设计故事，还可参加iColor刷新大奖的角逐。<br />
									对于针对普通大众的房型图设计，以<b>创意方案</b>为主。可上传3张图纸：<b>一张平面图、一张主要立面图 和 一张效果图</b>即可。<br />
									设计作品中不得出现推荐非立邦品牌的涂料产品，或对立邦产品进行诋毁、贬低的成分。
								</p>
							</li>
							<li>
								<span>•</span>
								<p>iColor将对所有普通大众发布的爱的宣言 和 设计师上传的设计作品进行形式审查，不完整、不正确或不符合要求的均将视为无效或作废，举办方有权取消其参与活动或评比的资格。</p>
							</li>
							<li>
								<span>•</span>
								<p>活动全程立邦将不收取任何费用。</p>
							</li>
							<li>
								<span>•</span>
								<p>活动最终解释权属iColor网站。</p>
							</li>
						</ul>
					</div>
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">版权说明</a>
							</span>
						</h3>
						<ul>
							<li>
								<span>•</span>
								<p>所有爱的宣言或设计作品的知识产权和版权均归本人所有，iColor拥有展示、刊登和出版的无偿使用权。任何可能发生的各种形式的版权（署名）纠纷将完全由设计者本人承担。</p>
							</li>
						</ul>
					</div>
				</div><!-- rules-rules -->
				<div class="rules-contents pd30 hide">
					<div class="rules-public">
						<h1>活动内容 针对大众用户</h1>
						<div class="rules-section">
							<h3 class="clearfix">
								<span class="btn-title_medium pull-left">
									<a href="javascript:;" class="pull-left">活动时间</a>
								</span>
							</h3>
							<ul>
								<li>• 2013年5月 – 2013年9月</li>
							</ul>
						</div>
						<div class="rules-section noborder">
							<h3 class="clearfix">
								<span class="btn-title_medium pull-left">
									<a href="javascript:;" class="pull-left">如何参与</a>
								</span>
							</h3>
							<ul>
								<li>
									<span>•</span>
									<p>
										发布爱的宣言，填写装修需求，并上传需整体装修的新房房型图，就有机会获得设计师的免费创意。<br />
										如将最终的装修合同上传，还可获得刷新基金。
									</p>
								</li>
								<li>
									<span>•</span>
									<p>注册&投票：对所有爱的宣言或设计作品进行投票，有机会赢取每周幸运奖。</p>
								</li>
								<li>
									<span>•</span>
									<p>咨询：咨询心仪的家装公司/设计师，3天内即可获免费专业解答。</p>
								</li>
							</ul>
						</div>
            <% if current_user %>
              <% story = Story.where(user_id: current_user.id, is_save: true) %>
              <%  if story.present? %>
                <a href="javascript:alert('您已经上传过房型图！');" class="rules-public-btn" >我要装修</a>
              <% else %>
                <a href="<%= new_story_path %>" class="rules-public-btn" >我要装修</a>
              <% end %>
            <% else -%>
              <%= link_to_function "我要装修", "show_login()",:class=>"rules-public-btn" %>
            <% end -%>
					</div>
					<div class="rules-designers hide">
						<h1>活动内容 针对大众用户</h1>
						<div class="rules-section">
							<h3 class="clearfix">
								<span class="btn-title_medium pull-left">
									<a href="javascript:;" class="pull-left">活动时间</a>
								</span>
							</h3>
							<ul>
								<li>• 2013年5月 – 2013年9月</li>
							</ul>
						</div>
						<div class="rules-section noborder">
							<h3 class="clearfix">
								<span class="btn-title_medium pull-left">
									<a href="javascript:;" class="pull-left">如何参与</a>
								</span>
							</h3>
							<ul>
								<li>
									<span>•</span>
									<p>
										<strong>上传作品</strong><br />
										方式一：在<a href="<%=stories_path%>">我能设计</a>频道挑选普通大众上传的房型图，下载、设计后提交，参与活动类奖项评选（iColor刷新大奖）<br />
										方式二：上传本人已有的原创设计参与专业类奖项评选<b>（如填写设计故事或业主感言更可参加iColor刷新大奖的评选）</b>
									</p>
								</li>
								<li>
									<span>•</span>
									<p>
										<strong>回复咨询</strong><br />
										对普通大众的咨询进行专业解答。
									</p>
								</li>
							</ul>
						</div>
						<% if current_user %>
							<% unless current_user.common_user? %>
						    <a href="<%=new_user_design_path(current_user)%>" class="rules-designers-btn">我要设计</a>
              <% end -%>
            <% else -%>
              <%= link_to_function "我要设计", "show_login()", :class=>"rules-designers-btn" %>
            <% end -%>
					</div>
				</div><!-- rules-contents -->
				<div class="rules-awards mt30 clearfix hide">
					<img src="<%=asset_path 'baicheng/rules/banner.jpg'%>">
					<dl style="width:51%;">
						<dt><img src="<%=asset_path 'baicheng/rules/title3_1.jpg'%>"></dt>
						<dd class="awards">
							<h3>iColor刷新大奖</h3>
							<p>• 针对大众新房房型图所做的房型图设计<br>• 上传原创设计作品<span class="cr">（需填写设计故事或业主感言）</span></p>
						</dd>
						<dd class="awards awards_third">
							<h3 style="margin-top:10px;">设计专项奖</h3>
							<p>• 最佳视觉设计    • 最佳配色设计     • 最佳空间规划</p>
						</dd>
						<dd class="awards awards_second">
							<h3 style="margin-top:10px;">特殊墙面效果奖</h3>
							<p>• 运用立邦艺术漆效果做原创设计</p>
						</dd>
						<dd class="clearfix two_rows">
							<dl class="clearfix" style="width:auto;">
								<dd class="awards awards_fourth pull-left nomargin noborder">
									<h3 style="margin-top:20px;">网络人气奖</h3>
										<strong class="cr">（仅限对大众房型图提供免费设计的作品）</strong>
								</dd>
							</dl>
							<!-- <dl class="clearfix">
								<dd class="awards awards_fifth pull-left nomargin noborder">
									<h3 style="margin-top:10px;">色彩达人奖</h3>
									<p class="ft14">（人人有奖）</p>
								</dd>
							</dl> -->
						</dd>
						<dd class="clearfix two_rows noborder">
							<!-- <dl class="clear">
								<dd class="awards awards_fourth fl nomargin noborder">
									<h3 style="margin-top:20px;">咨询下订</h3>
								</dd>
							</dl> -->
							<dl class="clearfix">
								<dd class="awards awards_sixth pull-left nomargin noborder">
									<h3 style="margin-top:20px;">注册&amp;投票幸运奖</h3>
								</dd>
							</dl>
						</dd>
					</dl style="width:49%;">
					<dl>
						<dt><img src="<%=asset_path 'baicheng/rules/title3_2.jpg'%>"></dt>
						<dd class="awards awards_eight">
							<h3>iColor刷新大奖</h3>
							<p>• 发布爱的宣言+填写装修需求+上传房型图<br />
								<span class="cr">（如上传合同还可获刷新基金）</span>
							</p>
						</dd>
						<dd class="awards awards_seventh">
							<h3 style="margin-top:20px;">• 刷新奖</h3>
							<span class="cr">（成单并上传施工合同的前100名）</span>
			   
						</dd>
						<dd class="awards awards_sixth noborder">
							<h3 style="margin-top:20px;">注册&amp;投票幸运奖</h3>
						</dd>
					</dl>
				</div><!-- rules-awards -->
				<div class="rules-regulations pd30 hide">
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">评选过程</a>
							</span>
						</h3>
						<ul>
							<li>• 由国内外著名室内设计专家在每个城市参与活动的普通用户、设计师和家装公司中评选出获奖选手。</li>
						</ul>
					</div>
					<div class="rules-section">
						<h3 class="clearfix">
							<span class="btn-title_medium pull-left">
								<a href="javascript:;" class="pull-left">评比标准</a>
							</span>
						</h3>
						<ul>
							<li>
								<span>• 普通大众</span>
								<p class="font-italic fixie7">发布的爱的宣言（故事）能提倡积极向上的人生态度和健康的世界观、人生观和爱情观，传递对美好生活的正能量。对于能体现家的刷新对生活或爱情的美好影响的故事作品，予以优先考虑。</p>
							</li>
							<li>
								<span>• 家装公司/设计师</span>
								<p class="font-italic fixie7"><span class="cr fb">活动类奖项：</span>针对大众房型图的设计，要能准确将房型图的特点及用户需求完美结合，表达出用户对家的特别向往。</p>
								<p class="font-italic fixie7"><span class="cr fb">专业类奖项：</span>上传的已有原创作品，需提倡对楼盘特色的充分及合理利用，强调色彩与空间的和谐搭配。同时，作品需注重室内设计的创新与创意，强调室内设计的以人为本，注重实用功能的合理性及人性化的设计。</p>
							</li>
						</ul>
					</div>
				</div><!-- rules-regulations -->
				<div class="rules-judges pd30 hide">
					<h3 class="clearfix">
						<span class="btn-title_medium pull-left">
							<a href="javascript:;" class="pull-left">评委名单</a>
						</span>
					</h3>
					<table class="rules-table1">
						<tbody><tr>
							<td width="540">北京筑邦建筑装饰工程有限公司总建筑师</td>
							<td class="text-center">赵虹</td>
						</tr>
						<tr>
							<td width="540">东南大学建筑学院教授、博士生导师</td>
							<td class="text-center">高祥生</td>
						</tr>
						<tr>
							<td width="540">鸿扬集团首席设计师、鸿扬集团陈志斌设计事务所创意总监</td>
							<td class="text-center">陈志斌</td>
						</tr>
						<tr>
							<td width="540">中国建筑设计研究院环境艺术设计研究院室内所所长</td>
							<td class="text-center">郭晓明</td>
						</tr>
						<tr>
							<td width="540">苏州金螳螂建筑装饰股份有限公司设计研究总院副总设计师</td>
							<td class="text-center">舒剑平</td>
						</tr>
						<tr>
							<td width="540">全国杰出中青年室内建筑师、艺术院校副教授</td>
							<td class="text-center">李进</td>
						</tr></tbody>
					</table>
				</div><!-- rules-judges -->
				<div class="rules-timetable pd30 hide">
					<h3 class="clearfix">
						<span class="btn-title_medium pull-left">
							<a href="javascript:;" class="pull-left">活动时间</a>
						</span>
					</h3>
					<ul class="rules-timeline clearfix">
						<li>5月</li>
						<li>6月</li>
						<li>7月</li>
						<li>8月</li>
						<li>9月</li>
						<li>10月</li>
						<li>11月</li>
					</ul>
					<table class="rules-table2 mt30">
						<tbody><tr>
							<th align="left" width="560">因爱之名•刷新生活——立邦携手万名设计师为您免费设计新家</th>
							<th>评选揭晓</th>
							<th>奖品发送</th>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr></tbody>
					</table>
				</div><!-- rules-timetable -->
			</div><!-- rules-bin -->
			<div class="redline_b4 pad_t60"></div>
		</div>
	</div>
</div>