<%- content_for :head do %>
  <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .shadow {
            zoom: 1;
        }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="/master_topics">热点话题</a>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper pt25 pb30'>
    <%- if @topics %>
        <%- @topics.each do |topic| %>
            <div class="shadow mt25 mb15">
              <div class="section">
                <div class="hot_topics_box group">
                  <div class="fl">
                    <h3><a href="/master_topics/<%= topic.id %>" ><%= topic.title %></a></h3>
                    <div class="h3_sub pr group" style=" overflow:visible">
                      <span>时间：<%= topic.published_at.to_formatted_s(:db) %></span><span class="zf">转发(0)</span><span class="pl">评论(<%= topic.comments.length%>)</span>
                      <div class="popup_zf group none" style="bottom:-25px; left:116px;"><span style="background:none; padding:0; margin:0; line-height:14px;">一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></div>
                    </div>
                    <div class="hot_topic_main group">
                      <%= image_tag topic.preview_img.url(:icolor_master_topics) if topic.preview_img %>
                      <div class="hot_topics_con">
                        <p><%= raw topic.intro %>...<%= link_to "[详细]", "/master_topics/#{topic.id}" %></p>
                      <p class="pl40">
                        <%- topic.tag_counts_on(:tags).each do |tag| %>
                        <span><%= link_to tag.name,  "/master_topics?tags=#{URI.escape(tag.name)}"%></span>
                        <%- end %>
                      </p>
                      </div>
                    </div>
                  </div>
                  <!--fl-->
                  <%- if topic.comments.size > 0 %>
                  <div class="fr new_comm">
                  <h4>最新评论</h4>
                    <ul>
                      <%- if topic.comments.size >6 %>
                        <%- topic.comments[0..5].each do |comment| %>
                            <li><%= comment.content.first(12)+"..." %></li>
                        <%- end %>
                            <li class="noborder"><%= topic.comments[6].content.first(12) %></li>
                      <%- else %>
                          <%- topic.comments[0...topic.comments.size-1].each do |comment| %>
                              <li><%= comment.content.first(12)+"..." %></li>
                          <%- end %>
                          <li class="noborder"><%= topic.comments[topic.comments.size-1].content.first(12) %></li>
                      <%- end %>
                    </ul>
                  </div>
                  <%- end %>
                  <!--fr-->
                </div>
              </div>
            </div>
        <%- end %>
    <%- end %>
  </div>
  <!--wrapper ends-->

  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @topics %>
    </div>
    <!--pager ends-->
  </div>
</div><!--pager ends-->
</div><!--sub_bot ends-->
</div><!--main ends-->