<%- content_for :head do %>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .shadow {
            zoom: 1;
        }

        body {
            background-repeat: repeat-y;
        }

        .master_topic_review .review_wrap {
            padding: 0 30px;
        }

        .master_topic_review .reviewform textarea {
            width: 830px;
        }

        .master_topic_review .review_listA .content {
            width: 730px;
        }

        .master_topic_review .review_wrap .pager {
            text-align: right;
            margin-bottom: 15px;
        }
    </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag "reply" %>
<%- end %>
<div class="main master_topic_review">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
  <em><a class="fb" href="/master_topics">热点话题</a></em>
  <em><a href="#">大师殿堂</a><span></span></em>
  <em><a href="/">首页</a><span></span></em>
  </div>
  <div class='wrapper hot_topic pt25 pb30'>
    <div class="shadow mt25 mb15">
      <div class="section">
        <div class="topic_box">
          <div class="topic_tit">
            <h2><%= @topic.title %></h2>

            <h3>时间：<%= @topic.published_at.to_formatted_s(:db) %></span><span>浏览：0次</span></h3>
          </div>
          <!--topic_tit ends-->
          <div class="topic_con">
            <%= raw @topic.body %>
          </div>
          <!--topic_con ends-->
        </div>
        <!--topic_box ends-->

        <%= render :partial => "topic_footer" %>

        <div class="review_wrap">
          <div class="reviewform">
            <div class="bar">
              <h4><span>评论</span>(<%= @topic.comments.length %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
            </div>
            <div class="form-content">
              <%= form_for(Comment.new) do |f| %>
                  <%= f.hidden_field :commentable_id, value: params[:id] %>
                  <%= f.hidden_field :commentable_type, value: 'Post' %>
                  <p class="input">
                    <%= f.text_area :content, :class => "area_text" %>
                  </p>
                  <p class="button">
                    <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
                    <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
                  </p>
              <% end %>
            </div>
          </div>
          <div class="pager ft12">
            <%= paginate @comments %>
          </div>
          <div class="review_list">
            <ul class="review_listA">
              <% @comments.each do |c| %>
                  <li>
                    <div class="bar">
                      <span class="user"><%= c.user.display_name %></span><span class="time"><%= c.created_at.to_date %></span>
                    </div>
                    <div class="reply">
                      <a href="javascript:void(0)">回复</a>
                    </div>
                    <div class="content">
                      <%= c.content %>
                    </div>
                    <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                        <div class='reply_list cl pr clear ft14'>
                          <em class='pa'>◆</em>
                          <span class='pa'>◆</span>
                          <p class="reply_tabs fl">
                            <%= r.user.display_name %><%= r.content %>
                          </p>
                          <p class="fr">
                            <%= r.created_at.to_date %>
                          </p>
                        </div>
                    <%- end %>
                    <div class="reply_input none cl pr clear">
                      <%= form_for(ReplyMsg.new) do |f| %>
                        <%= f.hidden_field :show_id, value: @topic.id %>
                        <%= f.hidden_field :comment_id, value: c.id %>
                        <%= f.hidden_field :reply_type, value: "master_topics" %>
                        <%= f.text_area :content, :rows => 5 %>
                        <em class="pa">◆</em>
                        <span class="pa">◆</span>
                        <input type="image" src="<%= asset_path "btn.jpg" %>">
                      <%- end %>
                    </div>
                    <!--reply_input ends-->
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--shadow ends-->
  </div>
  <!--wrapper ends-->
  <div class="sub_bot pr">
    <div class="pager topic_pager ft12">
      <%- unless @prev_topic.nil? %>
          <a href="/master_topics/<%= @prev_topic.id %>" class="prev"><span></span>上一篇</a>
      <%- end %>
      <%- unless @next_topic.nil? %>
          <a href="/master_topics/<%= @next_topic.id %>" class="next"><span></span>下一篇</a>
      <%- end %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
