<%- content_for :head do %>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .shadow {
            zoom: 1;
        }

        body {
            background-repeat: repeat-y;
        }

        .master_topic_review .review_wrap {
            padding: 0 30px;
        }

        .master_topic_review .reviewform textarea {
            width: 830px;
        }

        .master_topic_review .review_listA .content {
            width: 730px;
        }

        .master_topic_review .review_wrap .pager {
            text-align: right;
            margin-bottom: 15px;
        }
    </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag "reply" %>
<%- end %>
<div class="main master_topic_review">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
  <em><a class="fb" href="/master_topics">业内动态</a></em>
  <em><a href="/master_interviews">大师殿堂</a><span></span></em>
  <em><a href="/">首页</a><span></span></em>
  </div>
  <div class='wrapper hot_topic pt25 pb30'>
    <div class="shadow mt25 mb15">
      <div class="section">
        <div class="topic_box">
          <div class="topic_tit">
            <h2><%= @topic.title %></h2>
            <h3 class="clear" style="padding:0 210px;">时间：<%= @topic.published_at.to_formatted_s(:db) %></span><span>浏览：<%= @topic.browsing_count %>次</span>
              <div id="ckepop" class="fr">
                <span class="jiathis_txt">一键分享：</span>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_kaixin001"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_qzone"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
              </div>
            </h3>
          </div>
          <!--topic_tit ends-->
          <div class="topic_con">
            <%= raw @topic.body %>
          </div>
          <!--topic_con ends-->
        </div>
        <!--topic_box ends-->

        <%= render :partial => "topic_footer" %>

        <div class="review_wrap">
          <div class="reviewform">
            <div class="bar">
              <h4><span>评论</span>(<%= @topic.comments.length %>)</h4><span class="r"><span class="words_tip">0</span>/140</span>
            </div>
            <div class="form-content">
              <%= form_for(Comment.new) do |f| %>
                  <%= f.hidden_field :commentable_id, value: params[:id] %>
                  <%= f.hidden_field :commentable_type, value: 'Post' %>
                  <p class="input">
                    <%= f.text_area :content, :class => "area_text" %>
                  </p>
                  <p class="button">
                    <!-- <input type="image" name="submit" src="<%= asset_path "design/submitA.gif" %>" alt="提交" value="提交" /> -->
                    <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
                  </p>
              <% end %>
            </div>
          </div>
          <div class="pager ft12">
            <%= paginate @comments %>
          </div>
          <div class="review_list">
            <ul class="review_listA">
              <% @comments.each do |c| %>
                  <li>
                    <div class="bar">                      
                      <% if c.user %>
                        <a href="/users/<%= c.user.id %>" class="user"><%= c.user.display_name %></a>
                      <% else %>
                        <a href="#" class="user">匿名</a>
                      <% end %>                      
                      <span class="time"><%= c.created_at.to_date %></span>
                    </div>
                    <div class="reply">
                      <a href="javascript:void(0)">回复</a>
                    </div>
                    <div class="content">
                      <%= c.content %>
                    </div>

                    <div class="reply_area none cl pr">
                      <em class="pa">◆</em>
                      <span class="pa">◆</span>
                      <div class="reply_input clear">
                        <%= form_for(ReplyMsg.new) do |f| %>
                            <%= f.hidden_field :show_id, value: @topic.id %>
                            <%= f.hidden_field :comment_id, value: c.id %>
                            <%= f.hidden_field :reply_type, value: "master_topics" %>
                            <%= f.text_area :content,:rows => 2 %>
                            <input type="image" src="<%= asset_path "btn.jpg" %>">
                        <%- end %>
                      </div>
                      <!--reply_input ends-->
                    </div>
                    <!--reply_area ends-->

                    <div class="reply_list none cl pr">
                      <em class="pa">◆</em>
                      <span class="pa">◆</span>
                      <div class="reply_con ft14 clear">
                        <div class="clear">
                          <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                              <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                                <p class="reply_tabs fl">
                                  <a href="/users/<%= r.user.id %>"><%= r.user.display_name %></a>回复:<%= r.content %>
                                </p>
                                <p class="fr">
                                  <%= r.created_at.to_date %>
                                </p>
                              </div>
                          <%- end %>
                        </div>
                      </div><!--reply_con ends-->
                    </div><!--reply_list ends-->
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--shadow ends-->
  </div>
  <!--wrapper ends-->
  <div class="sub_bot pr">
    <div class="pager topic_pager ft12">
      <%- unless @prev_topic.nil? %>
          <a href="/master_topics/<%= @prev_topic.id %>" class="prev"><span></span>上一篇</a>
      <%- end %>
      <%- unless @next_topic.nil? %>
          <a href="/master_topics/<%= @next_topic.id %>" class="next"><span></span>下一篇</a>
      <%- end %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
