<%- content_for :head do %>
  <%= stylesheet_link_tag 'style', 'weekstar' %>
  <style type="text/css">
    .shadow {
      zoom: 1;
    }
  </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= set_style[:pic_path] %>' alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="/">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="/master_topics">热点话题</a>
  </div><!--sub_nav ends-->
  <div class='wrapper hot_topic pt25 pb30'>
    <div class="shadow mt25 mb15">
      <div class="section">
        <div class="topic_box">
          <div class="topic_tit">
            <h2>家居色彩与主人气质</h2>
            <h3><span>来源：<%= @topic.content_source %> 时间：<%= @topic.published_at.to_formatted_s(:db) %></span><span>浏览：128次</span></h3>
          </div><!--topic_tit ends-->
          <div class="topic_con">
            <%= raw @topic.body %>
          </div><!--topic_con ends-->
        </div><!--topic_box ends-->
        <%= render :partial => "topic_footer" %>
      </div>
    </div><!--shadow ends-->
  </div><!--wrapper ends-->
 <div class="sub_bot pr">
	<div class="pager topic_pager ft12">
    <%- unless @prev_topic.nil? %>
	    <a href="/magic_topics/<%= @prev_topic.id %>" class="prev"><span></span>上一篇</a>
    <%- end %>
	<%- unless @next_topic.nil? %>
	    <a href="/magic_topics/<%= @next_topic.id %>" class="next"><span></span>下一篇</a>
    <%- end %>
	</div><!--pager ends-->
	</div><!--sub_bot ends-->
</div><!--main ends-->
