<div class="content">
  <div class="title"><h5><%= parent.name %> > 一周装修小贴士 </h5>
    <div class="num"><%= link_to '新增', new_subject_weekly_tip_path(parent), :class => "redNum" %></div>
    <%- if can?(:manage, Subject) && parent -%>
      <div class="num"><%= link_to '结构管理', subjects_path(:parent_id => parent), :class => "redNum" %></div>
    <%- end -%>
  </div>
  <!-- Dynamic table -->
  <div class="table">
    <div class="head"><h5 class="iFrames">一周装修小贴士列表</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
      <thead>
        <tr>
          <th width="5%">ID</th>
          <th>期次</th>
          <th width="20%">发布时间</th>
          <th width="100px">操作</th>
        </tr>
      </thead>
      <tbody>
        <%- collection.each do |c| %>
          <tr class="gradeA">
            <td><%= c.id %></td>
            <td><%= c.week %></td>
            <td><%= c.published_at.to_date %></td>
            <td nowrap="nowrap" align="center">
              <%= link_to '编辑', edit_subject_weekly_tip_path(parent, c), :class => 'button basicBtn' %>
              <%= link_to '删除', [parent, c], :confirm => '确定删除?', :method => :delete, :class => 'button basicBtn' %>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
</div>
