<style type="text/css">
.nav_red li{width:109px;}
</style>
<div class="container refresh_main">
		<h3 class="chann_caption nomargin"><i class="icon-map icon-map9 icon_colors"></i><strong>刷新生活</strong><small>iColor和您一起刷新家，新开始</small></h3>
		<% if @kv %>
			<div class="mt10">
        <a href="<%= @kv.url %>" target="_blank"><%= image_tag(@kv.file.url(:special), usemap: "#mapkv_special") %></a>
        <%- if @kv.kv_maps.any? %>
          <map id="mapkv_special" name="mapkv_special">
            <%- @kv.kv_maps.each do |map| %>
              <area shape="rect" coords="<%= map.x_line %>,<%= map.y_line %>,<%= map.x_line + map.width %>,<%= map.y_line + map.high %>" href="<%= map.url %>" target="_blank" />
            <%- end %>
          </map>
        <%- end %>
			</div>
		<% end %>
		<ul class="breadcrumb">
			<li><a href="<%= root_path %>">首页</a> > </li>
			<li><a href="<%=refresh_record_index_path%>">刷新生活</a> > </li>
			<li class="active"><a href="<%=refresh_record_index_path%>">刷新实录</a></li>
		</ul>
		<hr class="border2 border2_mt2">

		<div class="clearfix refresh_lists refresh_video_list">
			<div class="unstyled map-left index_main pull-left">
				<h5 class="page_title">热门视频</h5>
				<ul class="thumbnails">
					<% @life_memoirs.each do |lm| %>
  					<li class="span5">
  						<div class="thumbnail">
  							<a href="<%= refresh_record_path(lm)%>" class="vedio_thumbnail" target="_blank"><img data-src="holder.js/300x200" alt="" src="<%=lm.file.url(:list_340x240)%>"></a>
  							<h5><%=lm.title%></h5>
  							<h5><strong><%=lm.s_title%></strong></h5>
  							<p><%=lm.summary%></p>
  							<% if lm.url.present? %>
  							 <a href="<%=lm.url%>" class="show_all_link" target="_blank">阅读全文>></a>
                <% else %>
                  <a class="show_all_link"><br></a>
                <% end %>
  							<div class="video_share clearfix">
  								<!-- JiaThis Button BEGIN -->
  								<div id="" class="jiathis_style pull-right" style="margin-top:5px;">
  									<span class="jiathis_txt">一键分享：</span>
  									<a class="jiathis_button_tsina"></a>
  									<a class="jiathis_button_kaixin001"></a>
  									<a class="jiathis_button_renren"></a>
  									<a class="jiathis_button_qzone"></a>
  									<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
  									<!-- <a class="jiathis_counter_style"></a> -->
  								</div>
  								<!-- JiaThis Button END -->
  							</div>
  						</div>
  					</li>
					<% end %>
				</ul>
				<form class="pager pager-form noborder">
					<%= paginate @life_memoirs %>
					<!-- &nbsp;&nbsp;
					共200页
					跳到第<input type="text" />页
					<input type="submit" value="GO" class="pager-submit" /> -->
				</form>
			</div>
			<div class="pull-right">
				<ul class="unstyled map-right index_main js-img_show">
					<li class="clearfix refresh_r_tit">
						<a href="<%=@wonderfuls_url.url if @wonderfuls_url %>" target="_blank" class="pull-right"><small class="muted">更多></small></a>
						<strong class="pull-left" style="font-size: 14px;">精彩资讯</strong>
					</li>
          <% @wonderfuls.each_with_index do |cd,index| %>
					<li class="map-r1 dott1 <%="active" if index == 0%>">
              <i class="icon-i16 icon-<%=index+1%>"><%=index+1%></i>
							<strong class="js-title"><%=cd.title%></strong><br>
							<a href="<%= cd.url %>" class="<%="hide" if index != 0%> js-img" target="_blank"><img src="<%=cd.file.url(:list_155x115)%>" alt="" /></a>
					</li>
          <% end %>
				</ul>
				<div class="chann_warp chann1_right map-right index_main mt10">
					<div class="media media_chann">
						<a class="pull-left" href="/design_images/lists" target="_blank">
							<i class="icon-chann icon-chann_imgbase"></i>
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a class="media-heading_link_a" href="/images" target="_blank">装修图库</a></h4>
							<p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
						</div>
					</div>
					<div class="media media_chann">
						<a class="pull-left" href="/color_designs" target="_blank">
							<i class="icon-chann icon-chann_match"></i>
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a class="media-heading_link_a" href="/color_designs" target="_blank">色彩配搭</a></h4>
							<p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
						</div>
					</div>
					<div class="media media_chann">
						<a class="pull-left" href="/channel/refresh_service" target="_blank">
							<i class="icon-chann icon-chann_fresh2"></i>
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a class="media-heading_link_a" href="/channel/refresh_service" target="_blank">立邦刷新服务</a></h4>
							<p class="media_con nomargin">对话顶尖设计大师，提升家装专业眼界！</p>
						</div>
					</div>
				</div>
				<div class="mt10"><a href="<%=@i_banner.position(1).first.url if @i_banner.position(1).first %>" target="_blank"><img src="<%=@i_banner.position(1).first.try(:file).try(:url,:list_230x230)%>"></a></div>
				<div class="mt10"><a href="<%=@i_banner.position(2).first.url if @i_banner.position(2).first %>" target="_blank"><img src="<%=@i_banner.position(2).first.try(:file).try(:url,:list_230x170)%>"></a></div>
			</div>
		</div>

		<div class="index_main refresh_news mt10 clearfix">
			<%= render :partial => "foot_select" %>
			<div class="pull-right"><a href="<%=@i_banner.position(3).first.url if @i_banner.position(3).first %>" target="_blank"><img src="<%=@i_banner.position(3).first.try(:file).try(:url,:list_230x230)%>"></a></div>
		</div>

		<div class="clearfix">
			<div class="footer_banner pull-left"><a href="<%=@i_banner.position(4).first.url if @i_banner.position(4).first %>" target="_blank"><img src="<%=@i_banner.position(4).first.try(:file).try(:url,:list_670x85)%>"></a></div>
			<div class="footer_banner pull-right"><a href="<%=@i_banner.position(5).first.url if @i_banner.position(5).first %>" target="_blank"><img src="<%=@i_banner.position(5).first.try(:file).try(:url,:list_310x85)%>"></a></div>
		</div>