<% content_for :tail do -%>
  <style type="text/css">
  /*罗嘉良*/
  a{cursor:default;}
  .video_btn{position:absolute;top:30px;left:460px;cursor:pointer;}
  .ljl{background:#fff;border:1px solid #e5e5dd;font:12px/20px "SimSun";text-align:justify;}
  .ljl p{text-indent:24px;}
  .re_ljl1{position:relative;}

  .re_ljl2{font:12px/24px "SimSun";padding:20px 57px 30px;margin-bottom:20px;background:url(<%=asset_path 'refresh_life/refresh/ljl/re_ljl2.jpg'%>) no-repeat center bottom;}

  .re_ljl3{padding:0 56px;}
  .re_ljl3 .well{padding:0;margin:0 0 50px;border:0;border-radius:0;box-shadow:none;background:#f2f2f2;}
  .re_ljl3 .well p{text-indent:0;margin-bottom:0;line-height:30px;}
  .re_ljl3 .well p.indent30{text-indent:14px;}
  .re_ljl3 .well img{margin-right:20px;}
  .re_ljl3 .well.well-large{padding:25px 20px 15px 30px;margin-bottom:5px;}
  .re_ljl3 .well.well-large ul p{line-height:24px;margin-top:5px;}

  .re_ljl4,.re_ljl5{padding:0 83px;margin-bottom:35px;}
  .re_ljl4 p{margin:30px 280px 10px 0;}
  .re_ljl4 img.pull-right{margin-top:-50px;}

  /*.re_ljl5 ul{padding:0 0 0 14px;}*/
  .re_ljl5 li p{text-indent:0;margin:10px 10px 32px 0;line-height:24px;}
  .re_ljl5 li p span{display:block;}
  .re_by{padding:10px 20px;border-bottom:4px solid #e71d36;color:#707070;font:12px "Microsoft Yahei";}
  </style>
<% end %>
<div class="container refresh_main">
  <h3 class="chann_caption nomargin"><i class="icon-map icon-map9 icon_colors"></i><strong>刷新生活</strong><small>立邦帮您刷新，共建美好生活</small></h3>
  <ul class="breadcrumb">
    <li><a href="#">首页</a> > </li>
    <li><a href="#">刷新生活</a> > </li>
    <li><a href="#">为爱刷新</a> > </li>
    <li class="active">幸福生活 新的开始</li>
  </ul>
  <hr class="border2 border2_mt2">

  <div class="ljl">
    <div class="re_ljl1">
      <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ban_ljl.jpg'%>" alt="" />
      <a class="video_btn" href="http://www.icolor.com.cn/refresh_record/32"><img src="<%=asset_path 'refresh_life/refresh/video_btn.png'%>"></a>
    </div>
    <div class="re_ljl2 clearfix">
      <div class="media pull-left">
        <a class="pull-left" href="javascript:;">
          <img class="media-object" src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl1.jpg'%>">
        </a>
        <div class="media-body">
          <p class="media">
            “花园”两个字洋溢着幸福与温暖，这种氛围与本期空间秀的嘉宾罗嘉良与苏岩夫妇的气质相似，你可以在苏岩的眼睛中找到快乐与幸福的光芒，也可以轻易从罗嘉良眼中捕捉到他投向妻子的关切目光。他们牵手而来，似恋爱中的男女。对于如何为家庭生活保持生命力，苏岩不假思索地说:“智慧可以让人幸福。”
          </p>
        </div>
      </div>
    </div>
    <div class="re_ljl3">
      <h4 class=""><img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl3.jpg'%>" alt="浇灌幸福 用色彩刷新生活" /></h4>
      <p>这次艾安为罗嘉良与苏岩夫妇设计花园式卧室的时候，正巧赶上罗嘉良与苏岩新房的装修正在收尾。谈到家庭装修布置，罗嘉良与苏岩这两位“设计师”可谓滔滔不绝。苏岩作为家里的发言人说：“我们这次是轻装修、重装饰，空间选择暖色系，家具多是欧式老家具。为了衬托出这些老家具，装饰上需要特殊的色彩，而不是大白墙。我们会根据空间功能、光线选择墙面的颜色，比如卧室要温馨、舒服的颜色。”夫妇二人对复古风格的喜好惊人地一致。“我们喜欢去欧洲旅行，欧洲有很多怀旧的老物件，看到就会很开心，这些东西有着丰富的内涵。”罗嘉良时不时为太太补充几句。</p>
      <p> 女儿的降生，让罗嘉良与苏岩的生活渐渐慢下来，也更加恩爱。“待产、生产、育儿、装修房子，把人生的这两件大事做完，也就没时间做别的了”，罗嘉良和苏岩特地把女儿的房间墙壁刷成粉色，并在女儿的活动室刷了一面粉色的墙。对于罗嘉良和苏岩来说，女儿就该是娇滴温馨的粉色。色彩就是心情的表现。</p>
      <p>对于自己的卧室，恩爱夫妻自然是有另外的打算，那应该是一个可以放松的地方。面对这个由艾安为他们设计的花园式卧室，夫妻俩感觉格外惊喜。这是个充满绿色的世界，从嫩黄到新绿，再到深绿。色彩的变化就像是生命的不同阶段，两个人从相识、相知、相爱，再到后来新生命的到来，又开始进入新的篇章。色彩浓郁了，感情深厚了，是爱将一切刷新。</p>
      <div class="well clearfix">
        <img class="pull-left" src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl4.jpg'%>" alt="" />
        <p class="mt20"><strong>立邦墙面乳胶漆：</strong>立邦净味120硅藻抗甲醛（NN1320-3中灰、GC0030-4水漾活力、GC007-2水清柳叶、GA4000-1早春三月）</p>
        <p><strong>立邦墙面艺术漆：</strong>VC7060-FGS4银河星光</p>
      </div>
      <div class="well well-large">
        <div class="clearfix">
          <img class="pull-left" src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl5.jpg'%>" alt="" />
          <p class="indent30">“我们都很喜欢这个花园式设计，楼梯的颜色、结构、布置都很特别。嫩黄、新绿这些有着自然气息的颜色不断递进，就像我们的生活不断感悟到爱的力量。”—罗嘉良</p>
          <p class="mt20 indent30">“这是个充满温暖幸福的空间。罗嘉良与苏岩刚刚喜得宝宝，这种花园式生机勃勃的效果与他们目前的生活状态很相符。”—艾安——iColor明星设计师</p>
          <div class="mt20"><strong>墙面乳胶漆：</strong></div>
          <div>立邦净味120硅藻抗甲醛（NN1320-3中灰、GA0001-1翡翠绿、GA5100-1鳄梨、GA5000-1佛罗里达棕、GA4100-1枯木逢春、GA8800-1嫩黄绿、GC007-2水清柳叶、GC4120-3树芽绿、GC4620-3清凉薄荷、GA4200-1眉目传情、GA4300-1圣诞树、GA4400-1热带雨林、GC0030-4水漾活力、GA4000-1早春三月、GC5001-4圣洁）</div>
        </div>
        <ul class="unstyled clearfix mt10">
          <li class="pull-left" style="width:438px;margin-right:50px;">
            <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl6.jpg'%>" alt="">
            <p><strong>立邦墙面乳胶漆：</strong><br>立邦净味120硅藻抗甲醛（NN1320-3中灰、GC0030-4水漾活力、GC007-2水清柳叶、GA4000-1早春三月）</p>
          </li>
          <li class="pull-left" style="width:334px;">
            <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl7.jpg'%>" alt="">
            <p><strong>立邦墙面乳胶漆：</strong>立邦净味120硅藻抗甲醛（NN1320-3中灰）</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="re_ljl2"></div>
    <div class="re_ljl4 clearfix">
      <h4 class=""><img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl8.jpg'%>" alt="花园式生活 用创意刷新设计" /></h4>
      <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl9.jpg'%>" class="pull-right" alt="" />
      <p> 本期的设计师艾安是著名当代艺术家，这是他第二次与空间秀栏目合作。得知这次的嘉宾是罗嘉良与苏岩之后，艾安特别为他们设计了这个花园式卧室。在这个两层空间中，连接上下两层的多功能楼梯成为整个空间的亮点。楼梯呈异型几何结构，改变了整个空间趋于扁平化的视觉感受；而用立邦净味系列的绿色渐变系列粉刷的楼梯，配合丰富的植被，大面积的绿色跃动于灰色背景中，使整个空间生机盎然。</p>
      <p>以楼梯为界，一层被分隔为两个空间。楼梯前为较为开放的公共空间，紧挨楼梯处则是进门的玄关，玄关正对面为主人休息和会客的区域。与以往的私密或半私密式卧室不同，在艾安设计的花园式空间中，卧室更为开放，直接与会客区相连，两个功能区通过地毯完成分隔。而床的背景墙，设计师大胆启用了立邦的艺术漆系列，特殊的效果让这里别具特色。当阳光洒下来的时候，它波光粼粼，宛如清澈的湖水；夜晚在灯光的照射下，它又有着星空的璀璨。</p>
      <p> 与床相对的区域，是更为私密的神秘花园。从床沿处起步，路过梳妆台是楼梯的正背面，设计师在这个地方隐藏藏了一个神秘花园，它具有阅读工作区的功能性。一棵贯穿两层的大树和一整面植物墙，为整个卧室带来一抹大自然的灵动。这是个安静的卧室，这是个舒适的空间，这更是一个充满爱的地方。</p>
    </div>
    <div class="re_ljl5 clearfix">
      <ul class="re_wlk4 unstyled clearfix">
        <li class="pull-left" style="width:437px;">
          <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl10.jpg'%>" alt="">
          <p>
            <span>女儿的诞生让我们知道要通过言谈举止及用行动让女儿和彼此感知爱。家中的装饰和色彩也能表现出自己的心情。这不是大白墙能替代的，卧室墙壁的颜色就应该是温馨、舒服的，如自然一般。—苏岩  </span>
            <span><strong>立邦墙面乳胶漆：</strong>立邦净味120硅藻抗甲醛（NN1320-3中灰）</span>
          </p>
          <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl12.jpg'%>" alt="">
        </li>
        <li class="pull-left" style="width:394px;">
          <img src="<%=asset_path 'refresh_life/refresh/ljl/re_ljl11.jpg'%>" alt="">
        </li>
      </ul>
    </div>
    <p class="text-right re_by"><em>以上资料由《美好家园》友情提供</em></p>
  </div>
</div>