<%- content_for :head do %>
  <style type="text/css">
  /* 王丽坤 */
  a{cursor:default;}
  .wlk{background:#fff;border:1px solid #e5e5dd;font:14px "SimHei";}
  .wlk .badge{border-radius:12px;}
  .re_wlk1{position:relative;background:url(<%= asset_path 'refresh_life/refresh/wlk/re1_ban.jpg' %>) no-repeat center top;height:212px;padding:40px 510px 30px 60px;margin-bottom:30px;}
  .re_wlk1 h1{font:36px "Microsoft Yahei";color:#ef072e;}
  .re_wlk1 .text-error{color:#ef072e;font:18px "SimSun";}
  .re_wlk1 p{line-height:18px;}
  .re_wlk1 p em{font-size:12px;}
  .re_wlk1 .detail{margin-top:16px;}
  .video_btn{position:absolute;top:80px;left:500px;cursor:pointer;}

  .re_wlk2{padding:0 38px 40px;}
  .re_wlk2 .media.pull-left{width:420px;margin:0 20px;}
  .re_wlk2 .media-body .media{font:12px/18px "Microsoft Yahei";text-align:justify;margin-top:0;}
  .re_wlk2 .media h6{font:bold 12px/14px "Microsoft Yahei";margin-top:20px;}

  .re_wlk3{padding:0 68px 50px;font:11px/14px "Microsoft Yahei";}
  .re_wlk3 .span7{width:53.264957%}
  .re_wlk3 .span5{width:44.17094%}
  .arrow_up{padding-left:18px;background:url(<%= asset_path 'refresh_life/refresh/arrow_up.jpg' %>) no-repeat 3px 0;}
  .badge-blue{background:#5fafb8;padding:5px 9px;}

  .re_wlk4{padding:0 56px 40px;}
  .re_wlk4 li{margin-left:20px;}
  .re_wlk4 span.badge-blue{margin:5px 0 0 18px;}

  .re_by{padding:10px 20px;border-bottom:4px solid #e71d36;color:#707070;font:12px "Microsoft Yahei";}
  </style>
<%- end %>
<h3 class="chann_caption nomargin"><i class="icon-map icon-map9 icon_colors"></i><strong>刷新生活</strong><small>立邦帮您刷新，共建美好生活</small></h3>
<ul class="breadcrumb">
  <li><a href="<%= root_path %>">首页</a> > </li>
  <li><a href="<%=refresh_record_index_path%>">刷新生活</a> > </li>
  <li><a href="<%=refresh_record_index_path%>">为爱刷新</a> > </li>
  <li class="active">“素颜女神”的素美卧室</li>
</ul>
<hr class="border2 border2_mt2">

<div class="wlk">
  <div class="re_wlk1">
    <h1>"素颜女神"的素美卧室</h1>
    <p class="text-error">建筑师韩文强为王丽坤刷新静雅空间</p>
    <p class="detail">“在步入这个空间之前，我原以为素色很难出彩，觉得米色和亚麻色都是很冷静的颜色，但设计之后，完全改变了我的固有看法，带给我很大的惊喜。整个空间让我觉得很有爱，传递给我的是那种完全被刷新的温暖的感觉。没想到我的状态和情绪真的会因为颜色而改变。”</p>
    <p class="text-right mr10"><em>——王丽坤</em></p>
    <a class="video_btn" href="/refresh_record/31" target="_blank"><img src="<%= asset_path 'refresh_life/refresh/video_btn.png'%>"></a>
  </div>
  <div class="re_wlk2 clearfix">
    <div class="media pull-left">
      <a class="pull-left" href="javascript:;">
        <img class="media-object" src="<%= asset_path 'refresh_life/refresh/wlk/re1_1.jpg'%>">
      </a>
      <div class="media-body">
        <h6 class="media-heading">王丽坤</h6>
        <div class="media">
          中国内地女演员。从小学习舞蹈，毕业于北京舞蹈学院中国舞本科班。2004年被徐克导演选中出演由其监制的电视剧《七剑下天山》而出道。2009年因在古装大戏《美人心计》中一人出色分饰三个性格迥异的角色而获得业界和观众的一致好评。其他代表作有《五号特工组》《血色迷雾》《青盲》《枪花》等。
        </div>
      </div>
    </div>
    <div class="media pull-left">
      <a class="pull-left" href="javascript:;">
        <img class="media-object" src="<%= asset_path 'refresh_life/refresh/wlk/re1_2.jpg'%>">
      </a>
      <div class="media-body">
        <h6 class="media-heading">韩文强（iColor专业会员）</h6>
        <div class="media">
          2002年及2005年于中央美术学院先后获得艺术设计学士学位和硕士学位。2005年至今任教于中央美术学院建筑学院室内设计教研室。2009年创立ARCH STUDIO建筑设计工作室，从事建筑及室内设计实践。
        </div>
      </div>
    </div>
  </div>
  <div class="re_wlk3">
    <div class="text-center"><img src="<%= asset_path 'refresh_life/refresh/wlk/re1_3.jpg'%>" alt="" /></div>
    <p class="row-fluid mt10">
      <span class="span7 arrow_up">在这个空间以传递爱为主题，以'九宫格'为设计灵感，韩文强为‘素颜女神’王丽坤打造了一个传统又不失现代感的卧室。</span>
      <span class="pull-right badge badge-blue">室内涂料推荐：立邦净味120硅藻抗甲醛（YC2807-4 黄飘带）</span>
    </p>
  </div>
  <ul class="re_wlk4 unstyled clearfix">
    <li class="pull-left" style="width:256px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_4.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">在这个空间以传递爱为主题，以'九宫格'为设计灵感，韩文强为‘素颜女神’王丽坤打造了一个传统又不失现代感的卧室。</span>
        <span class="badge badge-blue">室内推荐色：YC2807-4 黄飘带</span>
      </p>
    </li>
    <li class="pull-left" style="width:283px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_5.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">米色、亚麻色是这个卧室的基底色调。韩文强选择了立邦净味系列的黄飘带这款颜色，这种米色素雅且带有一点温暖的墙面颜色似附和着儒家的中庸之道：不少不过，刷新我们对生活的感悟，而家，也许就应该具有这样的包容性，它给你的距离恰是不远不近，刚刚好。</span>
        <span class="badge badge-blue">室内推荐色：木器漆WM633</span>
      </p>
    </li>
    <li class="pull-left" style="width:285px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_6.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">在这个新中式的空间里，竹子、茶具、托盘都是古朴素雅的陈设物件，所以与之搭配的颜色既要能衬托空间，同时也要压得住这个气场，韩文强选择立邦黄飘带（YC2807-4）这款颜色，淡淡的米色带点亚麻的质朴感，把感觉传达得很到位。</span>
        <span class="badge badge-blue">室内推荐色：YC2807-4 黄飘带</span>
      </p>
    </li>
  </ul>
  <ul class="re_wlk4 unstyled clearfix">
    <li class="pull-left" style="width:308px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_7.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">步入这个由建筑师韩文强为她量身打造的主题卧室，王丽坤露出了招牌式的淡雅微笑，她毫不掩饰喜爱之情：“这种素、净的调子真的很难拿捏，火候稍微掌握不当，就容易显得寡淡或单调，但是他（韩文强）的设计考虑到了这些因素，用了很多现代的家居单品来混搭，效果令人赞叹。”</span>
      </p>
    </li>
    <li class="pull-left" style="width:264px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_8.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">在这个空间里，人与墙面、物质界面的关系更近，空间内有更多水平的交流，也许这就是平常所谓的‘亲密疏离’。这种扁平式的空间，让人与房子的距离更近，少了些许空旷感，更有家的氛围；而在比较开阔的空间，空间感更强同时又带来一种孤零感，人与家的距离远了一些。 </span>
      </p>
    </li>
    <li class="pull-left" style="width:248px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_9.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">王丽坤说：“我喜欢简洁干净的颜色，但我不太喜欢纯白色，那种白的发青的颜色太过于冷清，这个空间的颜色我觉得挺好的，既干净，还有一些温暖的东西在里面，待在这个空间心里会有很踏实的感觉。”</span>
      </p>
    </li>
  </ul>
  <ul class="re_wlk4 unstyled clearfix">
    <li class="pull-left" style="width:422px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_10.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">素雅的色彩，景观与自然的交接，静谧却不失自由的中式哲学应用，组成了这样可以让人卸下防备，静心休息、思考的空间。而对于最看重卧室氛围、爱好素色的王丽坤来说，这里无疑是一个让人心动的素美卧室。</span>
      </p>
    </li>
    <li class="pull-left" style="width:422px;">
      <img src="<%= asset_path 'refresh_life/refresh/wlk/re1_11.jpg'%>" alt="">
      <p class="row-fluid mt10">
        <span class="arrow_up span12">如果说方方正正的九宫格太过规矩，是一个束缚，那么空间内部的陈设会让你改变这一看法：卷起竹帘后的景色会让你想起对道家思想有极佳传承的“竹林七贤”。室内可居住，室外有自然，这种无缝隙连接，正是中式山水园林建造中所强调的人与建筑、自然的和谐相生。</span>
      </p>
    </li>
  </ul>
  <p class="text-right re_by"><em>以上王丽坤素雅空间由韩文强和美好家园空间秀合作设计</em></p>
</div>