<%- content_for :head do %>
  <style type="text/css">
    /* 徐静蕾 */
    a{cursor:default;}
    .xjl{background:#fff;border:1px solid #e5e5dd;font:14px "SimHei";}
    .xjl .badge{border-radius:12px;}
    .re_xjl1{position:relative;background:url(<%= asset_path 'refresh_life/refresh/xjl/xjl_ban.jpg'%>) no-repeat center top;height:212px;padding:40px 510px 30px 60px;margin-bottom:30px;}
    .video_btn{position:absolute;top:82px;left:430px;cursor:pointer;}

    .re_xjl2{padding:0 9px 23px;line-height: 24px;}
    .re_xjl2 p{margin-left: 26px;margin-right: 26px;}

    .re_xjl3{margin:0 25px 54px;background: #f8f8f8;}
    .re_xjl3 .img{
      position: relative;
      width: 351px;
    }
    .re_xjl3 .content{
      width: 570px;
      margin-left: 20px;
      padding-top: 30px;
      line-height: 24px;
    }
    .re_xjl3 .content p.pull-left{
      position: relative;
      width: 266px;
      margin-right: 15px;
    }
    .re_xjl3 .badge{
      position: absolute;
      bottom: -32px;
      left: 0;
    }
    .re_xjl3 .content .badge{
      bottom: -56px;
    }
    .re_xjl3 p em{
      font: normal 24px "SimSun";
    }

    .re_xjl4{margin:0 25px;padding:25px 0 0 0;border-top: 1px solid #ddd;}
    .re_xjl4 .pull-left{
      width: 530px;
      padding-left: 5px;
    }
    .re_xjl4 .pull-right{
      width: 390px;
    }
    .re_xjl4 p,.re_xjl5 p{margin-bottom: 0;text-indent: 28px;line-height: 24px;}
    .re_xjl4 h4,.re_xjl5 h4{margin-top: 0px;font-size: 24px;font-weight: normal;}
    .re_xjl4 .span4{
      width: 307px;
      margin: 0 0 0 4px;
    }

    .re_xjl5{margin:0 25px 50px;padding-top: 28px;}
    .re_xjl5 .pull-left{
      width: 473px;
    }
    .re_xjl5 .pull-right{
      width: 445px;
    }

    .mt10{
      margin-top: 10px;
    }
    .mt20{
      margin-top: 20px;
    }
    .lineb1{
      border-bottom: 1px solid #ddd;
      padding-bottom: 23px;
      margin-bottom: 23px;
    }
    .badge-blue{background:#5fafb8;padding:5px 9px;}
    .re_by{padding:10px 20px;border-bottom:4px solid #e71d36;color:#707070;font:12px "Microsoft Yahei";}
  </style>
<%- end %>

<h3 class="chann_caption nomargin"><i class="icon-map icon-map9 icon_colors"></i><strong>刷新生活</strong><small>立邦帮您刷新，共建美好生活</small></h3>
<ul class="breadcrumb">
  <li><a href="/">首页</a> > </li>
  <li><a href="/refresh_record">刷新生活</a> > </li>
  <li><a href="/refresh_record">刷新实录</a> > </li>
  <li class="active">徐静蕾的书香客厅</li>
</ul>
<hr class="border2 border2_mt2">

<div class="xjl">
  <div class="re_xjl1">
    <a class="video_btn" href="javascript:;"><img src="<%= asset_path 'refresh_life/refresh/video_btn.png'%>"></a>
  </div>
  <div class="re_xjl2">
    <p>面对圈中公认的“美女”+“才女”徐静蕾，设计师赖亚楠决定为其打造一个带有读写功能的现代感客厅，以凸显其身上兼具的现代时尚与古典优雅气质。爱书，爱生活，爱温暖，这是徐静蕾对家的理解，就如同她的笑容，纯净得有如初见。</p>
    <div class="text-center">
      <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-1.jpg'%>" alt="" />
      <p class="mt10 clearfix lineb1">
        <span class="pull-left badge badge-blue">墙面推荐色：立邦  OW045-4 海滨微风</span>
        <span class="pull-right badge badge-blue">墙面推荐色：立邦  NN2607-4 夏日莉莲</span>
      </p>
    </div>
  </div>

  <div class="re_xjl3 clearfix">
    <div class="pull-left img">
      <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-2.jpg'%>" alt="" />
      <span class="badge badge-blue">墙面推荐色：立邦艺术漆 NN7340-SRS2 江南烟雨</span>
    </div>
    <div class="pull-left content">
      <p>
        <em>徐</em>静蕾，高挑纤瘦，没有想象中才女“老徐”的酷，有的是温婉、恬静，充满了亲切与知性，又绝对的清爽脱俗。白羊座的她喜爱尝试新鲜事物、寻求突破，对于有兴趣的事情永远敢想敢做，这是个喜爱思考、有理想、有才气的女子，永远活得那么真实、那么简单又生动精彩。才女的家应该是优雅的、温暖的。在这里她为自己刷新每一天的生活，感受着岁月的无限美好。
      </p>
      <div class="clearfix">
        <p class="pull-left">
          <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-3.jpg'%>" alt="" />
          <span class="badge badge-blue">墙面推荐色：立邦  OW045-4 海滨微风</span>
        </p>
        <p class="pull-left">
          <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-4.jpg'%>" alt="" />
          <span class="badge badge-blue">墙面推荐色：立邦艺术漆 NN7340-SRS2 江南烟雨</span>
        </p>
      </div>
    </div>
  </div>
  <div class="re_xjl4">
    <div class="clearfix">
      <div class="pull-left">
        <h4>温暖舒适  刷新空间的温度</h4>
        <p>电影《亲密敌人》之后，徐静蕾就从大众的视线中消失了，令人期待这位一直喜欢尝试不同领域的才女是否又在酝酿什么新计划。“拍《亲密敌人》的时候我真的太过繁忙与疲惫，于是那时我就想给自己画一个饼”，徐静蕾笑言，“就是给自己一个远景与期待，告诉自己说：‘没关系，再累两天就可以放一个长假了。’我经常因为喜欢才去做一件事，可是喜欢的事里总会有不喜欢的部分，于是又会想为什么要做这些事呢？物质上的丰富并不能成为我前进的动力，我的梦想其实很简单，就是过一段每天都能自然醒的日子。”想到就去做，这似乎是白羊座的典型特征。此后，徐静蕾真的给自己放了一个超长假期，用她自己的话来说就是“近两年没干什么正经事，最多是帮朋友客串一下”。</p>
        <p>因为她坚持一个观点：女人，应该用1/10的时间做家务，用9/10的时间享受生活。所以她把更多的时间留给了生活，不盲目于模式化的工作，徐静蕾开始了她的旅行计划：中国香港、中国台湾、日本、韩国、泰国、瑞士、德国、法国、美国，每个地方她都会住上两个月，充分感受当地的城市风情与生活氛围。 </p>
        <p>“冷，会让身体不自觉地紧张起来；热，却可以让人自然放松。”徐静蕾如是总结。她天生怕冷，因而喜欢温暖的地方，尤其对阳光和煦、地中海气候的美国洛杉矶记忆犹新。徐静蕾在洛杉矶住过两种房子，一种是Service Apartment，另一种是典型的北美独立式住宅，有花园、草坪、泳池和经典的美国西海岸风格的室内家装。“相比之下，我更喜欢独立式住宅的居住氛围”，徐静蕾思索了一下，“它更能让我放松下来，洛杉矶宽敞的街道很像北京，松弛和温暖的状态让我想起了家。像今天这个空间，大部分家具都是原木色调，这也会让我觉得很舒服和温暖。” </p>
      </div>
      <div class="pull-right">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-5.jpg'%>" alt="" />
      </div>
    </div>
    <div class="clearfix mt20">
      <div class="pull-left span4">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-6.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦艺术漆 NN7340-SRS2 江南烟雨</span>
      </div>
      <div class="pull-left span4">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-7.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦  NN7701-4 轻纱</span>
      </div>
      <div class="pull-left span4">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-8.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦艺术漆 NN7340-SRS2 江南烟雨</span>
      </div>
    </div>
    <p class="mt20 lineb1">谈到自己对于家居的理解，徐静蕾笑言：“我是个不喜欢折腾的人，一般不在家的时候才会考虑装修。我会提前安排好预算，然后找喜欢家居装饰的同事来帮忙实现。”面对赖亚楠为她设计的这个包含卫浴间与书香客厅的空间，徐静蕾解释说，“我对家的要求其实很简单，温暖、舒服、干净就可以了。像今年春天我自己刚刚装修过的家，大环境只是用了浅色的木地板与白墙的组合，除了给小猫们弄了一个专门的房间，其他地方基本都没有改动。而像今天这个中西结合的客厅就给了我很多惊喜和启发，整体色调使用了我喜欢的灰色、米色、大地色，尤其是两侧充满肌理感的灰色墙漆，很有艺术装饰效果。”</p>
  </div>
  <div class="re_xjl5">
    <div class="clearfix">
      <div class="pull-left">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-9.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦  OW045-4 海滨微风  立邦艺术漆 NN7340-SRS2 江南烟雨</span>
      </div>
      <div class="pull-right">
        <h4>优雅知性 刷新书斋文化</h4>
        <p>
          一直以现代的东方设计语言见长的设计师赖亚楠，考虑到徐静蕾身上兼具的古典气质与时尚品位，特别为她量身定制了这个既有中式书香气又充满现代感的读写式客厅。作为DOMO nature家居品牌的创始人，赖亚楠喜欢用产品诉说自己的内心世界，以及她对现代人生活方式的看法，她将自然、和谐、美感及独立个性的创造带入到每一件产品中。她的作品中充满中国的东方文化精神及文人情结，尽可能地表现材料本身的语言美感，并将“唯美”坚持到底。 大多数客厅设计都是以娱乐性为主导，而考虑到徐静蕾喜爱读书又擅长书法，设计师赖亚楠希望为其打造一个以书斋文化为主题的现代感客厅。“这次空间秀的临时主人是徐静蕾， 我想以书房为主题的客厅空间还是比较适合她的。她是有书卷气息的女星，是大众公认的才女，又擅长书法，因此我特别为她准备了这个知性且有文化感的客厅。”赖亚楠如是诠释她的作品。
        </p>
      </div>
    </div>
    <div class="clearfix mt20">
      <div class="pull-left" style="width:395px;">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-10.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦艺术漆 NN7340-SRS2 江南烟雨</span>
      </div>
      <div class="pull-right" style="width:529px;">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-11.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦乳胶漆  OW045-4 海滨微风</span>
      </div>
    </div>
    <div class="clearfix mt20">
      <p class="pull-left mt10" style="width:470px;padding-left:5px;">
        客厅空间设计围绕“书香”这个主题开展，客厅的整体色调为含蓄、质朴的大地色系，这个淳朴自然的颜色不仅描绘了空间优雅、知性的格调，同时也为空间增加了暖意。立邦轻纱系列的乳胶漆给空间涂抹上自然的色泽，无味无痕，有如云烟一样。整个客厅最先被选定的是一个造型简洁、质感强烈并具有明式风格的大书柜。作为整个空间的视觉中心，定下了它就定下了整个空间的基调，其他家居产品都要根据它的调性来进行选择。实木书柜拥有原木的天然肌理质感，同时运用了明式家具的榫卯接合的工艺，坚实稳定。与之搭配，设计师选择了卡其色皮质沙发和有户外感的浅色木质地板，以平衡实木书柜的古朴厚重，增加客厅的现代感和舒适度。同时，赖亚楠选择了一款灰色肌理感艺术漆来粉刷两侧的墙壁。灰色作为中性色，可以充分衬托大地色系的温暖和格调，而立邦艺术漆特有的纹理和光泽，又为空间带来了设计感和艺术气息。与此同时，设计师还在客厅内预留了家电空间，可放置冰箱等便捷的家电产品。因为如今的家电早已不仅是功能产品，更成为装饰整个家居的艺术作品。 客厅一侧的区域被设计成了一个简洁的卫浴空间，延续了客厅的整体风格和设计语言。整体墙面设计师选用了浅灰色作为空间的底色，以原木材质的地板与家具，搭配充满现代气质的浴缸，依然给人以自然温暖之感。而香薰、植物等配饰的巧妙融入，也将徐静蕾喜爱的家居舒适感凸显无遗。
      </p>
      <div class="pull-right" style="width:454px;">
        <img src="<%= asset_path 'refresh_life/refresh/xjl/xjl-12.jpg'%>" alt="" />
        <span class="badge badge-blue mt10">墙面推荐色：立邦  OW045-4 海滨微风  立邦艺术漆 NN7340-SRS2 江南烟雨</span>
      </div>
    </div>
  </div>

  <p class="text-right re_by"><em>以上资料由《美好家园》友情提供</em></p>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <%= render partial: 'refresh_record/refresh_jx_list', locals: {resource: @images_jingxuan, more_url: @images_jingxuan_more, title: '装修图库精选'} %>
  <%= render partial: 'refresh_record/refresh_jx_list', locals: {resource: @star_jingxuan, more_url: @star_jingxuan_more, title: '设计之星作品精选'} %>
  <div class="pull-right">
    <a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_230x230) %></a>
  </div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left">
    <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_670x85) %></a>
  </div>
  <div class="footer_banner mt10 pull-right">
    <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[2].try(:file).try(:url, :list_310x85) %></a>
  </div>
</div>