<% content_for :head do -%>
<%= stylesheet_link_tag "upload_image/jquery.fileupload-ui" %>
<% end %>
<% content_for :tail do -%>
<script>
  $(function() {
    $.imagepreview({
      file : $('#files'),
      img : $('#photo'),
      maxWidth : 240,
      maxHeight : 170
    });

    $('form[data-redirect_url]').bind('ajax:success', function(evt, data, status, xhr) {
        alert("保存成功");

        var url = $(this).data('redirect_url');
        window.location.href = url;
    }).bind('ajax:complete', function(evt, xhr, status){
      eval(xhr.responseText);
    }).bind("ajax:error", function(evt, xhr, status, error) {
      alert(xhr.responseText);
    });

  });

  function open_link() {
    var url = $('#url').val();
    window.open(url, "_blank");
  }
</script>
<% end %>
<div class="span2">
    <div id="upload_files_container">
      <img id="photo" src="<%= @home_life_video.file.url(:list_1000x85) %>" alt="" />
    </div>
</div>
<div class="span5">
  <div class="clearfix form_edit">
    <div class="editarea">
      <div class="media">
        <div class="media-body">
          <%= form_tag(home_life_video_path(@home_life_video.id), :multipart => true, :id => 'fileupload', :method => 'put', :remote => true, :'data-redirect_url' => "/manage/home_life_videos") do %>
          <%= hidden_field_tag 'id', @home_life_video.id %>
              <p class="form-inline">
                  <div class="fileupload-buttonbar">
                      <%= submit_tag "保存", :id => 'save', data: { disable_with: "请等待..." }, :class => 'btn btn-primary' %>
                      <a href="/manage/home_life_videos" class="btn btn-mini btn-primary">取消</a>
                      <input type="checkbox" class="toggle">
                      <span class="fileupload-loading"></span>
                  </div>
                  <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
              </p>
              <p class="form-inline">
                <label for="" class="control-label">排序</label>
                <select name='rank' class='input-small'>
                  <option value=1 <%= 'selected' if @home_life_video.rank == 1 %>>1</option>
                  <option value=2 <%= 'selected' if @home_life_video.rank == 2 %>>2</option>
                </select>
              </p>
              <p class="form-inline">
                <label for="" class="control-label">标题</label>
                <input type="text" id="title" name="title" class="input-xlarge" value="<%= @home_life_video.title %>" maxlength=10 maxlength=10>
                <span class="help-inline text-error">(10个汉字)</span>
              </p>
              <p class="form-inline">
                <label for="" class="control-label">链接</label>
                <input type="text" id="url" name="url" class="input-xlarge" value="<%= @home_life_video.url %>">
                <a href="javascript:;" class="help-inline btn btn-link" onclick="open_link();return false;">检测链接</a>
              </p>
              <p class="form-inline">
                  <span class="btn fileinput-button btn-mini btn-primary">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>上传图片</span>
                      <input type="file" name="files" id="files">
                  </span>
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

