<%- content_for :tail do %>
    <%= javascript_include_tag 'jquery.masonry.js' %>
    <script type="text/javascript">
        $(function() {
            $('#inspiration').masonry();
        });
        $(function() {
            $('.works_box').hover(function() {
                $(this).children('.host_works_edit').toggle();
            })
        })
    </script>
    <!-- <div class="float_ads tr">
      <a href="/gift"><img src="<%#= asset_path "float_ads.gif" %>"/></a><br/>
      <a href="javascript:void(0)" class="shut_float ft12">关闭</a>
    </div> -->
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_main">
        <div class="design_result">
          <% @designs.in_groups_of(4, false).each do |group| -%>
          <ul class="d_works group">
            <% group.each do |design| -%>
            <li id="<%= design.id%>">
              <div class="works_box">
              <%- if current_user && current_user == @user %>
                <div class="host_works_edit none"><%= link_to "编辑", design_update_user_design_path(current_user, design), class: "works_img_edit" %><%= link_to "删除", user_design_path(current_user, design), :method => :delete, class: "works_img_del" %></div>
              <%- end %>
              <%= link_to image_tag(design.cover_img.file.url(:list), class: 'host_works_img'),
                user_design_path(@user, design) if design.cover_img %>
              </div>
              <h3><%= design.title %></h3>
              <p class="p1 group">
                <strong class="ft14 fb">当前票数：<%= design.votes_count %></strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>
              <p class="p2 group">
                <span class="zf ft12">转发 (<%= design.shares_count %>)</span><span class="pl ft12">评论 (<%= design.comments_count %>)</span>
              </p>
              <span class="popup_zf group none"><span>一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></span>
              <p>风格：<%= design.style %></p>
            </li>
            <% end -%>
          </ul>
          <!--result one ends-->
          <% end -%>
        </div>
        <!--design_result ends-->
      </div>

      <div class="pager host_pager ft12">
        <%= paginate @designs %>
      </div>
      <!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->