<%- content_for :head do %>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag 'jquery.masonry.js' %>
  <script type="text/javascript">
    $(function() {
      $('#inspiration').masonry();
    });
  </script>
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_main">
        <div class="design_result">
          <ul class="d_works group">
            <li>
              <a href="2-2-1.html"><img class="host_works_img" src="<%= asset_path "design/d_result1.jpg " %>" title="华丽的外表 朴素的内涵" alt=""/></a> <!--id="fancybox-manual-c" class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"-->
              <h3>华丽的外表 朴素的内涵</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result2.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result3.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result3.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
          </ul>
          <!--result one ends-->


          <ul class="d_works group">
            <li>
              <a href="2-2-1.html"><img class="host_works_img" src="<%= asset_path "design/d_result1.jpg " %>" title="华丽的外表 朴素的内涵" alt=""/></a> <!--id="fancybox-manual-c" class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"-->
              <h3>华丽的外表 朴素的内涵</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result2.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result3.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
            <li>
              <a class="fancybox" data-fancybox-group="button" href="<%= asset_path "design/d_result1_b.jpg " %>"><img class="host_works_img" src="<%= asset_path "design/d_result3.jpg " %>" title="现代简约 白色 卧室" alt=""/></a>

              <h3>现代简约 白色 卧室</h3>

              <p class="p1 group">
                <strong class="ft14 fb">当前票数：286</strong><a class="vote_btn" href="#"><img src="<%= asset_path "personal/d_host_vote_btn.png" %>" alt=""/></a>
              </p>

              <p class="p2 group">
                <span class="zf ft12">转发 (124)</span><span class="pl ft12">评论 (86)</span>
              </p>

              <p>
                风格：田园
              </p>
            </li>
          </ul>
          <!--result one ends-->
        </div>
        <!--design_result ends-->
      </div>

      <div class="pager host_pager ft12">
        <a class="prev" href="#"><span></span>上一页</a><a href="#">1</a><a href="#" class="current">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a class="next" href="#">下一页<span></span></a>
      </div>
      <!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->