<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag "location.js", "LinkageSelect.js" %>
<% end -%>
<div class="main">
  <div class="reset_bg2 pr"></div>
  <div class="wrapper">
    <%= form_for current_user, :url => user_path, :remote => true  do |f| %>
    <div class="reg_content ft14">
      <div class="upload fr tc">
        <div class="upload_area">
          <img src="<%= asset_path "news/regimg_bg.jpg" %>" />
        </div>
        <input type="image" src="<%= asset_path "news/reg_upload.jpg" %>" />
      </div><!--upload ends-->

      <%= render :partial => "#{current_user.role.role}" ,:locals => { :f => f } %>

      <div class="reg_list fl">
        <label for="uesername">邮编：</label>
        <%= f.text_field :zip_code, :class => "postcode fl" ,:maxlength => "6" %>
        <span class="reg_tip3 fl">注：邮编必须为数字且只能6位</span>
      </div><!--reg_list ends-->
      <div class="reg_list fl">
        <label for="uesername">联系电话：</label>
        <%= f.text_field :phone, :class => "username fl" %>
        <span class="reg_tip3 fl">请填写您常用电话以便通知获奖信息</span>
      </div><!--reg_list ends-->
      <div class="reg_list fl">
        <label for="uesername">在线联系方式：</label>
        <img src="<%= asset_path "news/qq_icon.jpg" %>" class="icon fl" />
        <%= f.text_field :qq, :class => "password fl" %>
        <img src="<%= asset_path "news/feixin.jpg" %>" class="icon fl" />
        <%= f.text_field :fetion, :class => "password fl" %>
        <img src="<%= asset_path "news/msn.jpg" %>" class="icon fl" />
        <%= f.text_field :msn, :class => "password fl" %>
      </div><!--reg_list ends-->
      <div class="border_bottom tc ft12">
        <span class="fb">注：</span>完成此步骤可获得更多积分哦！
      </div>
      <p class="tc">
      <input type="image" src="<%= asset_path "news/reset_save.jpg" %>" />&nbsp;
      <a href="/users/suc_regist"><img src="<%= asset_path "news/reg_skip.jpg" %>" /></a>
      <%- end %>
      </p>
    </div><!--reg_content ends-->
    <div class="ads">
      <a href="#"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->