<%- content_for :head do %>
    <%= stylesheet_link_tag 'reg', 'style' %>
<%- end %>
<%- content_for :tail do %>
    <script type="text/javascript">
        $(function() {
            $('#d_notice').children('p').mouseover(function() {
                $(this).addClass('p_hover').siblings('p').removeClass()
            })
        })
    </script>
    <!-- <div class="float_ads tr">
      <a href="/gift"><img src="<%#= asset_path "float_ads.gif" %>"/></a><br/>
      <a href="javascript:void(0)" class="shut_float ft12">关闭</a>
    </div> -->
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_main">
        <div class="host_main_list" id="d_notice">
          <h3 class="mb15">
            <span class="ft14">编辑</span><span class="ft14">发起时间</span><strong>标题</strong>（共<%= @events.size %>条）</h3>
          <% @events.each do |event| %>
              <p>
                <%- if current_user && current_user == @user %>
                  <span><%= link_to "编辑", edit_user_event_path(current_user,event.id) %>/<%= link_to "删除", user_event_path(current_user,event.id), :method => "delete" %></span>
                  <span><%= event.created_at.strftime("%Y-%m-%d") %></span><%= event.title %>
                <%- end %>
              </p>
          <%- end -%>
        </div>
        <div class="pager host_pager ft12">
          <%= paginate @events %>
        </div>
        <!--pager ends-->
      </div>
    </div>
    <!--shadow ends-->
  </div>
</div>