<%- content_for :head do %>
  <%= stylesheet_link_tag 'style' %>
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_main">
        <%= form_for :message, :url => user_messages_path, :html => {:class => "host_msgboard line_b_dot", :id => 'new_message'} do |f| %>
          <fieldset>
            <textarea name="message[content]" id="host_main" class="area_text">你有神马对TA说的呢？</textarea>
            <p><span class="words_tip">0</span>/140</p>
          </fieldset>
          <fieldset>
            <input class="host_submit noborder" type="submit" value="" />
            <input class="host_reset noborder" type="reset" value="" />
          </fieldset>
        <%- end %>
        <div class="msgboard_list mt25">
         <%- unless @messages.blank? %>
         <%- @messages.each do |m| %>
          <div class="msgboad_item">
            <%= link_to user_path(m.from_user.id) do %>
                <% if m.from_user.avatar -%>
                    <%= image_tag m.from_user.avatar.file(:thumb), :class => 'box_shadow' %>
                <% else -%>
                    <%= image_tag "news/regimg_bg.jpg", :width => "78", :height => "70", :class => 'box_shadow' %>
                <% end -%>
            <%- end %>
            <h2 class="visitor_info">
              <strong class="fl"><%= m.from_user.display_name %></strong>
              <span class="fl"><%= m.created_at.to_s(:db)[5..6] %>月<%= m.created_at.to_s(:db)[8..9] %>日&nbsp;&nbsp;<%= m.created_at.to_s(:time) %></span>
            </h2>
            <div class="msgboard_btn">
              <%- if current_user && current_user == @user %>
                <%= link_to "删除",user_message_path(current_user.id,m.id), :method => "delete" %>
              <%- end %>
              <a href="#">回复</a>
            </div>
            <div class="msg_list_box">
              <div class="signup_text">
                <span></span>
                <p><%= m.content %></p>
              </div>
            </div>
          </div>
          <!--msgboad_item ends-->
          <%- end %><%- else %>
             您没有留言信息！
          <%- end %>
        </div>
        <!--msgboard_list ends-->
      </div>
      <!--host_main ends-->

      <div class="pager host_pager ft12">
        <%= paginate @messages %>
      </div>
      <!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->