<%- content_for :head do %>
	<style type="text/css">
		.per_con_r ul li p{float:left;width:95px;padding: 2px;}
	</style>
<%- end %>

<div class="main signup group">
	<div class="shadow signup_box">
		<div class="section">

			<%= render :partial => "users/profile_box" %>

			<div class="host_main" style="padding-left:0;padding-right:0;">
				<div class="per_main">
					<div class="per_con_l">
						<%= form_for :mood, url: { :action => "create" }, html: {id: "per_form", multipart: true} do |f| %>
							<h4 class="txt_tit">书写iColor心情</h4>
							<textarea name="mood[content]"></textarea>
							<ul class="per_btn_area">
								<li><input type="submit" value="发布"></li>
								<li class="per_public"><span>公开</span>
									<input type="hidden" id="is_privacy" name="mood[is_privacy]" value="true"/>
									<ul>
										<li class="per_p"><a href="javascript:void(0)" data="true">公开</a></li>
										<li class="per_s"><a href="javascript:void(0)" data="false">私密</a></li>
									</ul>
								</li>
								<li class="per_pictures">
									<span>图片</span>
									<%= file_field_tag 'mood[img]'%>
								</li>

								<%= render :partial => "users/expression" %>

								<input type="hidden" id="color_code" name="mood[color_code]"/>
								<input type="hidden" id="color_name" name="mood[color_name]"/>
								<input type="hidden" id="font_color" name="mood[font_color]"/>
								
								<li class="per_mood per_mood2">色彩心情
									<ul class="per_mood_options">
										<li><a class="mood_1" data="0e8752"  data-name="墨绿色" data-code="GA5000-1" href="javascript:void(0)"></a></li>
										<li><a class="mood_2" data="8e8e8e"  data-name="灰色"   data-code="NN7860-4" href="javascript:void(0)"></a></li>
										<li><a class="mood_3" data="a49fff"  data-name="紫色"   data-code="BN0006-2" href="javascript:void(0)"></a></li>
										<li><a class="mood_4" data="ffad85"  data-name="白色"   data-code="OW038-4" href="javascript:void(0)"></a></li>
										<li><a class="mood_5" data="dde830"  data-name="黄色"   data-code="YA8600-1" href="javascript:void(0)"></a></li>
										<li><a class="mood_6" data="f660ff"  data-name="粉色"   data-code="RC0011-4" href="javascript:void(0)"></a></li>
										<li><a class="mood_7" data="fb0dcb"  data-name="紫色" data-code="VA8900-1" href="javascript:void(0)"></a></li>
										<li><a class="mood_8" data="da9316"  data-name="黄色"	data-code="NN3440-2" href="javascript:void(0)"></a></li>
										<li><a class="mood_9" data="fe604b"  data-name="橙色"	data-code="RC8130-2" href="javascript:void(0)"></a></li>
										<li><a class="mood_10" data="2e5beb" data-name="蓝色"	data-code="BC6740-2" href="javascript:void(0)"></a></li>
										<li><a class="mood_11" data="29dcbc" data-name="蓝色"	data-code="GA4500-1" href="javascript:void(0)"></a></li>
										<li><a class="mood_12" data="5be71d" data-name="绿色"	data-code="GA4000-1" href="javascript:void(0)"></a></li>
									</ul>
								</li>
							</ul>
						<%- end %>

						<div class="clear"></div>

						<%- @moods.each do |m| %>
							<%- if m.present? %>
								<%- img = m.img.url if m.img.exists?(:original) -%>
								
								<div class="per_con pr">
									<p><%= m.created_at.strftime("%Y年%m月%d日 %H时%M分") %></p>									
									<p>
										<span><%= m.user.display_name %>发表:</span>
										<p style="color:#<%= m.font_color %>;">
											<%= m.content %>
										</p>
									</p>	
									<%- if img %>
										<%= image_tag m.img.url(:thumb) %>
									<%- end %>
									<p class="p2">
										<span class="zf" href="#">转发(<%= m.shares_count %>)</span>
									</p>									
									<%= forward_links("#{m.content}", user_moods_url, m.img.url, m.id.to_s, "Mood") %>
								</div>
							<%- end %>
						<%- end %>

						<div class="pager host_pager">
							<%= paginate @moods %>
						</div><!--pager ends-->
						<div class="clear"></div>
					</div>
					<div class="per_con_r">
						<h3>可能感兴趣的人</h3>
						<ul>
							<%- @weekly_stars.each do |w| %>
								<% id = w.author_url.match(%r(http://www.icolor.com.cn/users/(\d{1,})?)).to_a[1] %>
								<% user = User.find(id) if id.present? %>
								<li>
									<%= show_avatar(user,"icon","53x50") %>
									<p><span title="<%= user.display_name %>"><%= truncate(user.display_name, length:8) %></span></p>
									<p><a href="<%= user_path(user) %>">进入个人主页&gt;</a></p>
								</li>
							<%- end %>
						</ul>
						<p class="per_more"><a href="/weekly_stars?from=top">更多...</a></p>
					</div>
					<div class="clear"></div>     
				</div>
			</div>
		</div>
	</div>
	<!--shadow ends-->
</div>
<!--main ends-->

<%- content_for :tail do %>
	<%= javascript_include_tag "jquery.masonry.js" %>
	<script type="text/javascript">
		$(function() {
			$('#inspiration').masonry();
		});
	</script>
<%- end %>