<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
  <%= javascript_tag("alert(#{flash[:errors]})") if flash[:errors] %>
<% end -%>

<div class="main">
  <div class="reg_bg1 pr"></div>
  <div class="wrapper">
    <%= form_for(resource, :as => resource_name, :url => "/users/#{current_user.id}/update_user_role" ) do |f| %>
      <div class="reg_content ft14">
        <div class="reg_list reg_width fl">
          <label for="uesername">我的身份：</label>
          <div class="fl">
            <select class="fl" name="user[user_role]" id="user_type">
              <option value=""> ----请选择---- </option>
              <option value="designer_0" <%= 'selected' if current_user.job_designer? %>>设计师（在职）</option>
              <option value="designer_1" <%= 'selected' if current_user.reading_designer? %>>设计师（在读）</option>
              <option value="company" <%= 'selected' if current_user.company? %>>家装公司</option>
              <option value="user" <%= 'selected' if current_user.common_user? %>>普通用户</option>
            </select>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list fl none" id="user_email">
          <label></label>
          <span class="reg_tip4 fl">是否公开我的Email:</span>
          <input type="radio" name="user[is_show_email]" class="fl radio_btn" value="1"/>
          <span class="recommand fl">是</span>
          <input type="radio" name="user[is_show_email]" class="fl radio_btn" value="0"/>
          <span class="recommand fl">否</span>
        </div>
        <div class="reg_list reg_width fl">
          <label for="uesername"><span>*</span>所在地：</label>
          <div class="fl">
            <select id="province" class="level_1 fl" name="user[state]"></select>
            <select id="city" class="level_2 fl" name = user[city]></select>
            <select id="county" class="level_3 fl" name = user[area_id]></select>
            <span class="reg_tip3 fl">注：如果系统辩识有误，请手动选择</span>
          </div>
        </div><!--reg_list ends-->

         <div class="reg_list reg_width fl">
          <label for="uesername"><span>*</span>联系电话：</label>
          <input type="text" class="username fl" name="user[phone]" id="user_phone" value="<%= current_user.try(:phone) %>">
          <span class="reg_tip3 fl">请填写您常用电话以便通知获奖信息</span>
        </div><!--reg_list ends-->

        <div class="reg_list reg_width fl">
          <label for="recommander"><span>*</span>Email：</label>
          <input type="text" class="username fl" name="user[email]" id="email" value="<%= current_user.try(:email) %>"/>
          <span class="reg_tip3 fl">请填写真实邮箱，以便接收icolor电子期刊及获奖信息</span>
        </div><!--reg_list ends-->

        <br style="float:left;display:inline;clear:both;" />
        <p class="tc">
        <input type="image" style="_margin-top:-20px;" src="<%= asset_path "news/reg_next.jpg" %>" />
        </p>
      </div><!--reg_content ends-->
    <%- end %>
    <div class="ads">
      <a href="/gift"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
<script type="text/javascript" charset="utf-8">
    $(function() {
      var options = {
        data  : data
      }
      var sel = new LinkageSelect(options);
      <%- if current_user.try(:area_id) -%>
      <%-
        provice_id = current_user.city.try(:parent).try(:id)
        city_id = current_user.try(:city).try(:id)
        area_id = current_user.try(:area).try(:id)
      %>
        sel.bind('.level_1','<%= provice_id %>');
        sel.bind('.level_2','<%= city_id %>');
        sel.bind('.level_3','<%= area_id %>');
      <%- else -%>
        sel.bind('.level_1', null, '请选择');
        sel.bind('.level_2', null, '请选择');
        sel.bind('.level_3', null, '请选择');
      <%- end -%>
    });
  </script>
<%- content_for :tail do %>
  <%= javascript_tag do -%>
    <%- if flash[:errors] %>
      alert('<%= raw flash[:errors] %>');
    <%- end %>
  <%- end %>
<%- end %>  