<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
  <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
<% end -%>

<div class="main">
  <div class="reg_bg1 pr"></div>
  <div class="wrapper">
    <%= form_for(resource, :as => resource_name, :url => "/users/#{current_user.id}/update_user_role" ) do |f| %>
      <div class="reg_content ft14">
        <div class="reg_list reg_width fl">
          <label for="uesername">我的身份：</label>
          <div class="fl">
            <select class="fl" name="user[role_id]">
              <option value=""> ----请选择---- </option>
              <option value="designer_0">设计师（在职）</option>
              <option value="designer_1">设计师（在读）</option>
              <option value="company">家装公司</option>
              <option value="user">普通用户</option>
            </select>
          </div>
        </div><!--reg_list ends-->
        <div class="reg_list reg_width fl">
          <label for="uesername">所在地：</label>
          <div class="fl">
            <select id="province" class="level_1 fl" name="user[state]"></select>
            <select id="city" class="level_2 fl" name = user[city]></select>
            <select id="county" class="level_3 fl" name = user[area_id]></select>
            <span class="reg_tip3 fl">注：如果系统辩识有误，请手动选择</span>
          </div>
        </div><!--reg_list ends-->
        <br style="float:left;display:inline;clear:both;" />
        <p class="tc">
        <input type="image" style="_margin-top:-20px;" src="<%= asset_path "news/reg_next.jpg" %>" />
        </p>
      </div><!--reg_content ends-->
    <%- end %>
    <div class="ads">
      <a href="#"><img src="<%= asset_path "news/reg_ad.jpg" %>" /></a>
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->
<script type="text/javascript" charset="utf-8">
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level_1');
        sel.bind('.level_2');
        sel.bind('.level_3');

    });
</script>