<% content_for :head do -%>
  <%= stylesheet_link_tag 'reg' %>
<% end -%>
<div class="main syslist">
  <div class="shadow">
    <div class="section pr">
      <div class="sys_bar clearfix ft12">
        <h4 class="pull-left nomargin">重设密码</h4>
        <div class="pull-right">
          <a href="/">首页</a> > 重设密码
        </div>
      </div>
      <!--sys_bar ends-->
      <%= simple_form_for(resource, :as => resource_name, :url => users_passwords_reset_path, :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>
        <div class="sys_bar ft14">
          <div class="reg_list fb">使用电子邮箱找回</div>
          <div class="forget">
            <%= hidden_field_tag "reset_psd", 1 %>
            <label class="fl fb tr">新密码：</label>
            <input type="password" class="email fl fb" name="user[password]" id="email"/>
            <label class="fl fb tr">确认密码：</label>
            <input type="password" class="email fl fb" name="user[password_confirmation]" id="email"/>
          </div>
          <!--forget ends-->
          <div class="forget pr">
            <p class="pa cr none ft14">*您输入的电子邮箱不正确！*</p>
          </div>
          <!--forget ends-->
        </div>
        <!--sys_bar ends-->
        <div class="reset_commit fl">
          <input type="image" src="<%= asset_path "news/submit.jpg" %>" class="fl">
          <input type="reset" value="重置" class="reset_reset fb ft14 fl">
        </div>
        <!--reg_content ends-->
      <%- end %>
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--main ends-->
<%- content_for :tail do %>
  <%= javascript_tag do -%>
    <%- if flash[:errors] %>
      alert('<%= raw flash[:errors] %>');
    <%- end %>
  <%- end %>
<%- end %>