<%- content_for :head do %>
  <%= stylesheet_link_tag 'jDatepicker' %>
  <%= javascript_include_tag "datepicker_lang_US.js","jquery.datepicker.js" %>
    <script type="text/javascript">
        $(function() {
            $(".temptime").datepicker({ picker: "<img class='picker' align='middle' src='<%= asset_path "img/cal.gif" %>' alt=''/>" });
        })
    </script>
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">
      <div class="host_self group">
        <div class="signup_img_box">
          <img class="box_shadow" src="<%= asset_path "personal/d_host_img.jpg  " %>" alt=""/>

          <p><a href="#">修改账户信息</a></p>
        </div>
        <div class="host_status">
          <a href="#" class="return fr"></a>

          <h2><strong>杨明洁</strong><em>金牌会员</em></h2>
          <!--<a class="back_perhome" href="#">返回个人主页</a>-->
          <div class="signup_text">
            <p>从业5年，擅长简约及田园风格室内装修设计</p>
          </div>
          <p class="d_hostaddr">上海罗磊室内设计有限公司</p>

          <p class="icon_email">Email： designer@163.com</p>

          <p class="icon_qq">Q Q： 1204333759</p>

          <p class="icon_msn">MSN： designer@hotmail.com</p>

          <p class="icon_fetion">飞 信： 395005</p>
        </div>
        <!--host_status ends-->
      </div>
      <!--host_self ends-->
      <ul class="system_info group">
        <li class="icon_point"><a href="#">我的积分</a></li>
        <li class="icon_info"><a href="#">系统消息(2)</a></li>
        <li class="icon_qustion"><a href="#">我的提问(新回复1)</a></li>
        <li class="icon_active"><a href="#">我报名的活动</a></li>
      </ul>
      <!--system_info ends-->
      <div class="sort_box pr group">
        <ul class="sort_show_ul group">
          <li class="sort_show modify pr">
            <a class="sort_show_a fb" href="#">修改活动信息</a>
            <img src="<%= asset_path "design/arr_bottom.gif  " %>" class="pa"/>
          </li>
        </ul>
      </div>
      <!--sort_box ends-->
      <div class="host_main modifys ft14 clear">
        <form>
          <div class="modify_list">
            <label for="event_title">活动标题：</label>
            <input type="text" value="春季设计交流会" class="event_title"/>
          </div>
          <div class="modify_list">
            <label for="event_date">活动时间：</label>
            <select>
              <option>当天结束</option>
            </select>
            <input type="text" class="temptime"/>
            <select>
              <option>09:00</option>
            </select>
            至
            <select>
              <option>24:00</option>
            </select>
          </div>
          <div class="modify_list">
            <label for="upload_img">上传图片：</label>

            <div class="upload_img fl">
              <img src="<%= asset_path "personal/upload_imgs.jpg  " %>"/>
            </div>
            <div class="uploads fl">
              <h2 class="fl ft16">从电脑中选择你喜欢的照片</h2>

              <p class="fl ft12">你可以上传JPG、JPEG、gif "%>、PNG或BMP文件</p>
              <input type="file" class="upload_file fl"/>
              <input type="image" src="<%= asset_path "personal/upload_img.jpg  " %>" class="fl cl"/>
              <a href="#" class="upload_cancel fl"></a>
            </div>
            <!--uploads ends-->
          </div>
          <div class="modify_list">
            <label for="instructions">活动介绍：</label>
            <textarea class="fl"></textarea>
          </div>
          <div class="reset_commit fl">
            <input type="image" src="<%= asset_path "news/submit.jpg  " %>" class="fl"/>
            <input type="reset" value="重置" class="reset_reset fb ft14 fl"/>
          </div>
          <!--reset_commit ends-->
        </form>
      </div>
      <!--host_main ends-->
    </div>
    <!--section ends-->
  </div>
  <!--shadow ends-->
</div><!--main ends-->