  <style>
  blockquote{padding:45px 130px 40px;}
  blockquote strong{float:left;margin-top: -4px;}
  blockquote span{font:14px/20px "SimSun";color:#2a2a2a;margin-left: 30px;display: block;}
  blockquote .muted{font:12px Arial;color:#8d8c8c;}
</style>

<h3 class="chann_caption nomargin">
  <i class="icon-map icon-map1 icon_colors"></i>
  <strong>对话名人</strong>
  <small>不怕不懂，就怕不问！再多家装问题，都有iColor专家为您免费解答！</small>
</h3>
<ul class="breadcrumb">
  <li><a href="#">首页</a> &gt;</li>
  <li><a href="/dialog_celebrity">对话名人</a> &gt;</li>
  <li><a href="/dialog_celebrity/master_interviews">名家设计</a> &gt;</li>
  <li class="active"><%=@master.name%>的访谈</li>
</ul>
<hr class="border2 border2_mt2">

<div class="master_interview">
  <div class="clearfix">
    <div class="pull-left intv_left">
      <h5 class="intv_title clearfix">
        <span class="line_r pull-left">名人简介</span><span class="pull-left">ＭASTER PROFILE</span>
        <div class="pull-right">
          <!-- Baidu Button BEGIN -->
          <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
            <span class="pull-left mt6">一键分享：</span>
            <a class="bds_tsina"></a>
            <a class="bds_kaixin001"></a>
            <a class="bds_renren"></a>
            <a class="bds_qzone"></a>
            <a href="#" class="bds_more" data-cmd="more"></a>
          </div>
          <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
          <script type="text/javascript" id="bdshell_js"></script>
          <script type="text/javascript">
          document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
          </script>
          <!-- Baidu Button END -->
        </div>
      </h5>
      <div class="intv_intro clearfix">
        <div class="pull-left">
          <h3 class="">
            <%= @master.name -%>
            <span class="help-block">国籍：<%= @master.nationality -%> 领域：<%= @master.master_field -%></span>
          </h3>
          <p><%= raw @master.intro -%></p>
          <div class="pull-right hide"><%=link_to "more>>","#",target: "_blank",style: "color: #9f9f9f;"  -%></div>
        </div>
        <div class="pull-right intv_photo">
          <img src="<%=@master.avatar(:middle2)%>" width="150" height="160">
        </div>
      </div>
    </div>
    <div class="pull-right intv_right">
      <h5 class="intv_title"><a href="/dialog_celebrity/master_interviews" class="pull-right a_hover_red">更多></a><strong>最新名人访谈</strong></h5>
      <ul class="unstyled clearfix">
        <%  @last_masters.each do |_master| -%>
        <li>
          <a href="<%= master_interview_dialog_celebrity_master_profile_path(_master) -%>">
            <img src="<%= _master.avatar(:small1) -%>">
            <span class="help-block"><%= _master.name -%></span>
          </a>
        </li>
        <%end-%>
      </ul>
    </div>
  </div>
  <% if @master.interview_content.present? -%>
  <div class="mt20 intv_list">
    <h5 class="intv_title clearfix">
      <span class="line_r pull-left">名人访谈</span><span class="pull-left">ＭASTER INTERVIEW</span>
    </h5>
    <ul class="index_main unstyled">
      <li class="dott1">
        <% if @master.interview_content_type == "问答类型访谈" %>
          <% @master.interview_content.split("\r\n\r\n").each_with_index do |content,index| %>
          <% if index % 2 == 0 %>
          <h5 class="clearfix">
            <i class="icon-intv1 icon-i16 pull-left"></i>
            <span class="help-block"><%= content -%></span>
          </h5>
          <%end-%>
          <% if index %2 == 1 %>
          <p class="clearfix">
            <i class="icon-intv2 icon-i16 pull-left"></i>
            <span class="help-block"><%=content -%></span>
          </p>
          <%end-%>
          <%end-%>
        <%end-%>
        <% if @master.interview_content_type == "文章类型访谈" %>
          <p class="clearfix">
            <i class="icon-intv2 icon-i16 pull-left"></i>
            <span class="help-block"><%=@master.interview_content %></span>
          </p>
        <%end-%>
      </li>
    </ul>
  </div>
  <%end-%>
  <% if @master.master_designs.present? -%>
  <div class="mt20 intv_works">
    <h5 class="intv_title clearfix">
      <span class="line_r pull-left">名人作品</span><span class="pull-left">ＭASTER WORKS</span>
    </h5>
    <div class="index_main">
      <div class="topic_slide">
        <div id="master_slide" class="slider-bin show nopadding">
          <div class="slider-container">
            <ul>
              <% _design = @master.master_designs.order("created_at desc").first %>
              <% if _design.present? -%>
                <% _design.master_design_uploads.order("created_at desc").each do |_upload| -%>
                  <li>
                    <a class="bg_imgs" href="<%=dialog_celebrity_master_design_path(_design.id,upload_id: _upload.id)%>" target="_blank"><img src="<%= _upload.file2(:interview) -%>" /></a>
                  </li>
                <%end-%>
              <%end-%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%end-%>
  <% if @master.message.present? -%>
  <div class="mt20 intv_msg">
    <h5 class="intv_title clearfix">
      <span class="line_r pull-left">名人寄语</span><span class="pull-left">ＭASTER MESSAGE</span>
    </h5>
    <blockquote class="index_main">
      <p class="clearfix pr"><strong><img src="/assets/quotMark.jpg" height="20" width="22" alt="" /></strong><span><%=@master.message%></span></p>
      <span class="muted"><%=@master.name%></span>
    </blockquote>
  </div>
  <%end-%>
</div>

<div class="mt10"><a href="<%= @banners[0].url -%>"><img src="<%=@banners[0].file(:list_1000x85)%>"></a></div>