<div class="index_refresh">
	<p class="clearfix index_tit">
		<a href="/channel/refresh_service" target="_blank" class="pull-right"><small>刷新服务</small></a>
		<a class="pull-right"> | </a>
		<a href="/refresh_life/refresh_show" target="_blank" class="pull-right"><small>刷新效果</small></a>
		<a class="pull-right"> | </a>
		<a href="/refresh_record" target="_blank" class="pull-right"><small>为爱刷新</small></a>
		<strong class="pull-left">刷新生活</strong>
	</p>
	<hr class="border2 border2_mt2">
	<div class="index_main clearfix">
		<div id="refresh_slide" class="media tit_con media_refresh pull-left mr10">
			<div class="slider-bin pull-left">
				<div class="slider-container">
					<ul class="clearfix nomargin">
						<% @home_life_videos.each do |hfv| %>
						<li class="item">
							<a class="pull-left media_a title_opacity" href="<%=hfv.url%>">
								<img class="lazy" data-src="<%= hfv.file.url(:list_1000x85) %>" width="1000" height="85" />
								<p>
									<span><%=hfv.title%></span>
								</p>
							</a>
						</li>
						<% end %>
					</ul>
				</div>
				<ul class="circle_indicators nomargin">
					<li class="slider-active"><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
				</ul>
			</div>
			<div class="media-body">
				<h5 class="title nomargin"><a class="pull-right" href="/refresh_life/refresh_list"><small class="muted">更多></small></a>精彩资讯</h5 class="title">
				<ul class="unstyled nomargin">
					<% @questions.each do |question| %>
						<li><a href="<%=question.link%>" target="_blank"><%=question.title%></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<a href="javascript:void(0);"class="home_banner2">
			<img class="pull-left mr5 lazy" data-src="<%= @banner2.try(:file).try(:url, :list_240x170) %>" width="240" height="170" />
		</a>
		<a href="<%= @banner3.url? ? @banner3.url : 'javascript:void(0);' if @banner3 %>" target="_blank">
			<img class="pull-left lazy" data-src="<%= @banner3.try(:file).try(:url, :list_230x170) %>" width="230" height="170" />
		</a>
	</div>
</div>