<% content_for :tail do -%>
<style type="text/css">
  h5{
    font-size: 14px;
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
  }
</style>
<script type="text/javascript">
$(function(){
  $.get("<%=home_get_vote_path%>",{},function(data){
    var indexVote = $('.index-vote')
    indexVote.eq(0).text(data.week_vote)
    indexVote.eq(1).text(data.design_vote)
    indexVote.eq(2).text(data.color_vote)
  })
});
</script>

<%= stylesheet_link_tag "famous","jquery.slider" %>

<% end -%>
  <div class="clearfix mt10">
    <div id="indexkv" class="pull-left">
      <div class="slider-bin">
        <div class="slider-container">
          <ul class="clearfix">
            <%- @home_kvs.each_with_index do |k,index| %>
              <li class="item">
                  <a href="javascript:;" onclick="window.open('<%= k.url %>','','')" target="_blank">
                    <img class="lazy" data-src="<%= k.try(:file).try(:url,:big) %>" usemap="#mapkv<%= index %>" width="700" height="345" />
                  </a>
                  <%- if k.kv_maps.any? %>
                    <map id="mapkv<%= index %>" name="mapkv<%= index %>">
                      <%- k.kv_maps.each do |map| %>
                        <area shape="rect" coords="<%= map.x_line %>,<%= map.y_line %>,<%= map.x_line + map.width %>,<%= map.y_line + map.high %>" href="<%= map.url %>" target="_blank" />
                      <%- end %>
                    </map>
                  <%- end %>
              </li>
            <%- end %>
          </ul>
        </div>
        <ul class="carousel-indicators">
          <%- @home_kvs.each_with_index do |k,index| %>
            <li class="<%= 'slider-active' if index == 0 %>"><a href="javascript:;" class="<%= 'noborder' if index == 0 %>"><%= k.title %><span class="hover"></span></a></li>
          <%- end %>
        </ul>
      </div>
    </div>
    <div class="pull-right indexkv_r">
      <h5>精华推荐</h5>
      <ul class="ul_dot">
        <%- @home_recommends.each do |r| %>
          <li>
            <a href="<%= r.url %>" target="_blank"><%= r.title %></a>
          </li>
        <%- end %>
      </ul>
      <div class="indexkv_r_img">
        <a href="<%= @banner1.url? ? @banner1.url : 'javascript:void(0);' if @banner1 %>" target="_blank">
          <img class="lazy" data-src="<%= @banner1.try(:file).try(:url, :list_270x100) %>" width="270" height="100" />
        </a>
      </div>
    </div>
  </div>


  <%= render :partial => 'dialog_celebrity' %>

  <%= render :partial => 'refresh' %>

  <%= render :partial => 'image_lib' %>

  <div class="index_master">
    <p class="clearfix index_tit">
      <a href="/master_designs" target="_blank" class="pull-right"><small>大师作品</small></a>
      <a class="pull-right"> | </a>
      <a href="/master_interviews" target="_blank" class="pull-right"><small>大师访谈</small></a>
      <strong class="pull-left">大师殿堂</strong>
    </p>
    <hr class="border2 border2_mt2">
    <div class="index_main clearfix">
      <div class="media pull-left">
        <a class="pull-left media_a" href="/master_interviews/<%= @master_profile.id %>" target="_blank">
          <img class="media-object lazy" data-src="<%= @master_profile.try(:preview_img_in).try(:url,:home_img) %>"  width="150" height="160">
        </a>
        <div class="media-body">
          <h6 class="media-heading"><%= @master_profile.title %></h6>
          <p class=""><%= truncate(@master_profile.interview_content, length: 60) %></p>
          <p class="text-right nomargin">
            <a href="/master_interviews/<%= @master_profile.id %>" target="_blank"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
          </p>
        </div>
      </div>
      <div id="master_slide" class="slider-bin pull-right">
        <div class="slider-container">
          <ul>
            <%- @master_design_images.each do |img|%>
              <li>
                <a href="/master_designs/<%= img.master_design_id if img %>" target="_blank">
                  <img class="lazy" data-src="<%= img.try(:file).try(:url,:home_slide) if img %>" width="145" height="125" />
                </a>
              </li>
            <%- end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer_banner">
    <a href="<%= @banner4.url? ? @banner4.url : 'javascript:void(0);' if @banner4 %>" target="_blank">
      <img class="lazy" data-src="<%= @banner4.try(:file).try(:url, :list_1000x85) %>" width="1000" height="85" />
    </a>
  </div>

  <%= render :partial => 'design_show' %>

  <div class="clearfix">
    <div class="index_access pull-left">
      <p class="clearfix index_tit">
        <a href="/mix_colors/new<%= link_suffix %>" target="_blank" class="pull-right"><small>配色咨询</small></a>
        <a class="pull-right"> | </a>
        <a href="/faqs" target="_blank" class="pull-right"><small>装修贴士</small></a>
        <a class="pull-right"> | </a>
        <a href="/channel/access" target="_blank" class="pull-right"><small>设计快查</small></a>
        <strong class="pull-left">业主通道</strong>
      </p>
      <hr class="border2 border2_mt2">
      <div class="index_main">
        <div class="media tit_con">
          <a href="<%= @banner5.url? ? @banner5.url : 'javascript:void(0);' if @banner5 %>" target="_blank" class="pull-left media_a">
            <img class="media-object lazy" data-src="<%= @banner5.try(:file).try(:url, :list_290x200) %>" width="290" height="200" />
          </a>
          <div class="media-body">
            <ul class="ul_dot nomargin">
              <% @owner_entrys.each_with_index do |oe,index| %>
                <li class="<%='noborder' if index == 1%>" style="height: auto;white-space: normal;overflow: visible;">
                  <h5 class="nomargin"><a href="<%= oe.link %>" target="_blank"><%= oe.title %></a></h5>
                  <p class="nomargin" style="height: 72px;overflow: hidden;"><a ><%= truncate(oe.content, length: 90) %></a></p>
                </li>
              <%  end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="index_news pull-right">
      <p class="clearfix index_tit">
        <a href="/articles" target="_blank" class="pull-right"><small class="muted">查看更多<i class="icon-i16 icon-more"></i></small></a>
        <strong class="pull-left">装修资讯</strong>
      </p>
      <hr class="border2 border2_mt2">
      <div class="index_main">
        <div class="media">
          <% if @fit_image.present? %>
          <a class="pull-left media_a" href="<%= @fit_image.try(:link)%>" target="_blank">
            <img class="media-object lazy" data-src="<%= @fit_image.file.try(:url, :img) %>" width="138" height="165" />
            <h6><%= @fit_image.try(:title)%><i class="icon-i16 icon-more_yellow"></i></h6>
          </a>
          <% end %>
          <div class="media-body">
            <ul class="ul_dot nomargin">
              <% @fit_literals.each_with_index do |literal,i| %>
                <li class="<%= 'noborder' if i + 1 == @fit_literals.size %>">
                  <a href="<%= literal.try(:link) %>" target="_blank"><%= literal.try(:title) %></a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <div class="footer_banner pull-left">
      <a href="<%= @banner6.url? ? @banner6.url : 'javascript:void(0);' if @banner6 %>" target="_blank">
        <img class="lazy" data-src="<%= @banner6.try(:file).try(:url, :list_670x85) %>" width="670" height="85" />
      </a>
    </div>
    <div class="footer_banner pull-right">
      <a href="<%= @banner7.url? ? @banner7.url : 'javascript:void(0);' if @banner7 %>" target="_blank">
        <img class="lazy" data-src="<%= @banner7.try(:file).try(:url, :list_310x85) %>" width="310" height="85" />
      </a>
    </div>
  </div>