<% content_for :head do -%>
  <%= stylesheet_link_tag 'jquery.slider', '2013base','2013index' %>
<% end -%>

<%- content_for :index do %>
<!-- <div style="background:url(<%#= asset_path "icolor_qr.png"%>) no-repeat;position:fixed;width:150px;height:167px;left:10px;bottom:10px;z-index:10;"></div> -->

<img src="<%= asset_path "2013/index/grid.gif"%>" id="grid" style="z-index:1;" />

<%- end %>
  <%- if MagicSetting.kv_of_home_index.present? %>
    <%= raw MagicSetting.kv_of_home_index %>
  <%- end %>
<div class="wrapper ft14">
  <div class="blocks clear">
    <h2 class="tr">
      <a href="/master_interviews<%= link_suffix %>" class="fl ft16">大师殿堂</a>
      <a href="/master_interviews<%= link_suffix %>">大师访谈</a> |
      <a href="/master_designs<%= link_suffix %>">大师作品</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="/master_interviews/<%= @master_interview.id %>"><%= image_tag @master_interview.preview_img_out.url(:home_page2), :height=>"365px", :width=>"380px" %></a>
      <%- master_interview = @master_interview.title + '一' + @master_interview.name %>
      <a href="/master_interviews/<%= @master_interview.id %>" class="blocks_title ft16"><%= truncate(master_interview, length: 25) %></a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <div class="blocks_mid mb25">
        <a href="/master_designs/<%=@master_design.id%>">
            <%- unless @master_design.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design.master_design_uploads.first.file.url(:home_page), :height=>"170px", :width=>"380px")%>
            <%- end %>
        </a>
        <a href="/master_designs/<%=@master_design.id%>" class="blocks_title ft14"><span class="blocks_arrow fr"></span><%= truncate(@master_design.try(:design_name), length: 20) %></a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/master_interviews<%= link_suffix %>" class="block">大师殿堂</a>
      </div>
      <div class="blocks_mini">
        <a href="/master_designs/<%=@master_design_two.id%>">
          <%- unless @master_design_two.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design_two.master_design_uploads.first.file.url(:home_page1), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="/master_designs/<%=@master_design_two.id%>" class="blocks_title ft14"><%= truncate(@master_design_two.try(:design_name), length: 11)%></a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big pr">
      <a href="/master_designs/<%=@master_design_three.id%>">
        <%- unless @master_design_three.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design_three.master_design_uploads.first.file.url(:home_page3), :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/master_designs/<%=@master_design_three.id%>" class="blocks_title ft14"><%= truncate(@master_design_three.try(:design_name), length: 20)%></a>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <h2>
      <a href="/design_images" class="ft16">装修图库</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="<%=image_show_design_image_path(@desing_image.id)%>">
        <%- unless @desing_image.file.nil? %>
              <%= image_tag(@desing_image.file.url(:home_design_image1), :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="<%=image_show_design_image_path(@desing_image.id)%>" class="blocks_title ft16"><%= truncate(@desing_image.design.try(:title), length: 20)%></a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <div class="blocks_mid mb25">
        <a href="<%=image_show_design_image_path(@desing_image_two.id)%>">
          <%- unless @desing_image_two.file.nil? %>
              <%= image_tag(@desing_image_two.file.url(:home_design_image2), :height=>"170px", :width=>"380px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_two.id)%>" class="blocks_title ft14"><%= truncate(@desing_image_two.design.try(:title), length: 20)%></a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/design_images<%= link_suffix %>" class="block block2_3">装修图库</a>
      </div>
      <div class="blocks_mini">
        <a href="<%=image_show_design_image_path(@desing_image_three.id)%>">
          <%- unless @desing_image_three.file.nil? %>
                <%= image_tag(@desing_image_three.file.url(:home_design_image3), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_three.id)%>" class="blocks_title ft14"><%= truncate(@desing_image_three.design.try(:title), length: 11)%></a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <div class="blocks_mini mr20">
        <a href="<%=image_show_design_image_path(@desing_image_four.id)%>">
          <%- unless @desing_image_four.file.nil? %>
                <%= image_tag(@desing_image_four.file.url(:home_design_image3), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_four.id)%>" class="blocks_title ft14"><%= truncate(@desing_image_four.design.try(:title), length: 11)%></a>
      </div>
      <div class="blocks_mini">
        <a href="<%=image_show_design_image_path(@desing_image_five.id)%>">
          <%- unless @desing_image_five.file.nil? %>
                <%= image_tag(@desing_image_five.file.url(:home_design_image3), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_five.id)%>" class="blocks_title ft14"><%= truncate(@desing_image_five.design.try(:title), length: 11)%></a>
      </div>
      <div class="blocks_mid mt25">
        <a href="<%=image_show_design_image_path(@desing_image_six.id)%>">
          <%- unless @desing_image_six.file.nil? %>
                <%= image_tag(@desing_image_six.file.url(:home_design_image2), :height=>"170px", :width=>"380px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_six.id)%>" class="blocks_title ft14"><%= truncate(@desing_image_six.design.try(:title), length: 20)%></a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <h2 class="tr">
      <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>" class="fl ft16">设计鉴赏</a>
      <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>">设计之星</a> |
      <a href="/designs<%= link_suffix %>">作品展示</a> |
      <a href="/color_designs<%= link_suffix %>">色彩配搭</a> |
      <a href="/inspirations<%= link_suffix %>">灵感秀</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>">
        <%- unless @weekly_star.weekly_star_uploads.first.file.nil? %>
              <%= image_tag(@weekly_star.weekly_star_uploads.first.file.url(:home_page1), :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>" class="blocks_title ft14">
        <span class="blocks_like fr"><%=@link_design.try(:votes_count)%></span><%= truncate(@weekly_star.design_name, length: 20)%>
      </a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20 pr">
      <a href="<%=user_design_path(@design.user_id, @design)%>">
        <%- unless @design.cover_img.nil? %>
              <%= image_tag(@design.cover_img.file.url(:home_design_image1), :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="<%=user_design_path(@design.user_id, @design)%>" class="blocks_title ft14"><%= truncate(@design.title, length:20)%></a>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <div class="blocks_mid mb25">
        <a href="/color_designs/<%= @color_design.id %>">
        <%- unless @color_design.main_preview_img.nil? %>
              <%= image_tag(@color_design.main_preview_img.url(:home_page), :height=>"170px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/color_designs/<%= @color_design.id %>" class="blocks_title ft14"><%=truncate(@color_design.design_name, length: 20)%></a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/inspirations/<%= @inspiration.id %>">
          <%- unless @inspiration.cover_img.file.nil? %>
                <%= image_tag(@inspiration.cover_img.file.url(:home_design_image3), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="/inspirations/<%= @inspiration.id %>" class="blocks_title ft14"><%= truncate(@inspiration.title, length: 11)%></a>
      </div>
      <div class="blocks_mini">
        <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>" class="block block3_5">设计鉴赏</a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <div class="blocks_large fl mr20">
      <h2 class="tr">
        <a href="/channel/access<%= link_suffix %>" class="fl ft16">业主通道</a>
        <a style="margin:0 6px;" href="/channel/access">设计快查</a> |
        <a style="margin:0 6px;" href="/faqs">装修问答</a> |
        <a style="margin:0 6px;" href="/faqs#tips">装修贴士</a> |
        <a style="margin:0 6px;" href="/mix_colors/new">配色咨询</a> |
        <a style="margin:0 6px;" href="http://www.nipponpaint.com.cn/shuaxin/fuwu/">刷新服务</a>
      </h2>
      <div class="blocks_big mr20">
        <a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/" class="fl"><img src="<%= asset_path "2013/index/blocks4.1.jpg"%>" /></a>
        <a href="/channel/access" class="fl block block4_2">业主通道</a>
        <a href="/mix_colors/new<%= link_suffix %>" class="fl mt25"><img src="<%= asset_path "2013/index/blocks4.3.jpg"%>" /></a>
      </div>
      <div class="blocks_big">
        <div class="blocks_mini mr20">
          <a href="/channel/access"><img src="<%= asset_path "2013/index/blocks4.4.jpg"%>" /></a>
          <a href="/channel/access" class="blocks_title ft14">设计快查</a>
        </div>
        <div class="blocks_mini">
          <a href="javascript:void(0);"><img src="<%= asset_path "2013/index/blocks4.5.jpg"%>" /></a>
          <a href="javascript:void(0);" class="blocks_title ft14">装修丘比特</a>
        </div>
        <div class="blocks_mid mt25">
          <h3>装修小贴士</h3>
          <ul class="blocks_tips ft12">
            <li><a href="/faqs#tips" title="<%=@body[0]%>"><%=@body[0]%></a></li>
            <p><%= @body[1]%></p>
            <li><a href="/faqs#tips1" title="<%=@body[2]%>"><%=@body[2]%></a></li>
            <li><a href="/faqs#tips2" title="<%=@body[4]%>"><%=@body[4]%></a></li>
            <li><a href="/faqs#tips3" title="<%=@body[6]%>"><%=@body[6]%></a></li>
          </ul>
        </div>
      </div>
    </div><!-- blocks_large -->
    <div class="blocks_big">
      <h2 class="tr">
        <a href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>" class="fl ft16">行业资讯</a>
        <a href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>">装修资讯</a> |
        <a href="/color_articles<%= link_suffix %>">色彩资讯</a> |
        <a href="/master_topics">业内动态</a>
      </h2>
      <div class="blocks_mid mb25">
        <ul class="blocks_news ft12">
          <% @articles.each do |article| %>
          <li>
            <span><%= article.published_at.to_date %></span>
            <a href="/articles/<%=article.id%>" title="<%=article.title%>"><%=article.title%></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="blocks_mini mr20">
        <a href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>" class="block block5_1">行业资讯</a>
      </div>
      <div class="blocks_mini">
        <a href="/articles/<%=@articles.first.id%>"><img src="<%= @articles.first.preview_img%>" width="180" height="170"/></a>
        <a href="/articles/<%=@articles.first.id%>" class="blocks_title ft14"><%= truncate(@articles.first.title, length: 12)%></a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <div class="blocks_big mr20">
      <h2 class="tr">
        <a href="/softwares/tools<%= link_suffix %>" class="fl ft16">应用工具</a>
        <a href="/softwares/case">案例下载</a> |
        <a href="/softwares/tools<%= link_suffix %>">配色软件</a> |
        <a href="javascript:;">APP</a>
      </h2>
      <div class="blocks_mini mr20 mb25">
        <a href="/softwares/case"><img src="<%= asset_path "2013/index/blocks6.1.jpg"%>" /></a>
        <a href="/softwares/case" class="blocks_title ft14">案例下载</a>
      </div>
      <div class="blocks_mini mb25">
        <a href="javascript:;"><img src="<%= asset_path "2013/index/blocks6.2.jpg"%>" /></a>
        <a href="javascript:;" class="blocks_title ft14">配色软件</a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/softwares/tools" class="block block6_3">应用工具</a>
      </div>
      <div class="blocks_mini">
        <a href="/softwares/tools<%= link_suffix %>"><img src="<%= asset_path "2013/index/blocks6.4.jpg"%>" /></a>
        <a href="/softwares/tools<%= link_suffix %>" class="blocks_title ft14">配色软件</a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <h2 class="tr">
        <a href="/art" class="fl ft16">漆光艺彩</a>
        <a href="/art">艺术漆效果</a> |
        <a href="/7-1<%= link_suffix %>">木器漆效果</a>
      </h2>
      <div class="blocks_mid mb25">
        <a href="/art"><img src="<%= asset_path "2013/index/blocks7.1.jpg"%>" /></a>
        <a href="/art" class="blocks_title ft14">艺术漆效果</a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/7-1<%= link_suffix %>"><img src="<%= asset_path "2013/index/blocks7.2.jpg"%>" /></a>
        <a href="/7-1<%= link_suffix %>" class="blocks_title ft14">木器漆效果</a>
      </div>
      <div class="blocks_mini">
        <a href="/art" class="block block7_3">漆光艺彩</a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <h2 class="tr">
        <a href="/designer_events" class="fl ft16">精彩活动</a>
        <a href="/designer_events">设计师活动</a> |
        <a href="/other_events">其他活动</a>
      </h2>
      <div class="blocks_mini mr20">
        <a href="/designer_events" class="block block8_1">精彩活动</a>
      </div>
      <a href="/gift" class="fl"><img src="<%= asset_path "2013/index/blocks8.2.jpg"%>" /></a>
      <div class="blocks_mid mt25">
        <a href="/yda/2013"><img src="<%= asset_path "2013/index/banner-0219.jpg"%>" width="380" height="170"/></a>
        <a href="/yda/2013" class="blocks_title ft14">2013年度iColor未来之星活动蓄势待发，敬请期待！</a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="mt25 clear">
    <a href="/design_zg" class="fl mr20"><img src="<%= asset_path "2013/index/blocks9.2.jpg"%>" /></a>
    <a href="/design_zg2" class="fl"><img src="<%= asset_path "2013/index/blocks9.1.jpg"%>" /></a>
  </div><!-- mt25 -->
</div><!--wrapper-->
<div class="imap">
  <div class="wrapper clear">
    <img src="<%= asset_path '2013/index/blocks10.gif' %>" usemap="#imap" />
      <map id="imap" name="imap">
          <area shape="rect" coords="0,0,136,136" href="/master_interviews" />
          <area shape="rect" coords="150,0,286,136" href="/design_images" />
          <area shape="rect" coords="300,0,435,136" href="/weekly_stars?star_type=<%= URI.escape("每周之星")%><%= link_suffix %>" />
          <area shape="rect" coords="448,0,584,136" href="/channel/access" />
          <area shape="rect" coords="597,0,733,136" href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>" />
          <area shape="rect" coords="746,0,883,136" href="/softwares/tools" />
          <area shape="rect" coords="896,0,1032,136" href="/art" />
          <area shape="rect" coords="1044,0,1180,136" href="/designer_events" />
      </map>
  </div>
</div><!-- imap -->

<%- content_for :tail do %>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<%= javascript_include_tag "jquery.slider","2013main" %>
<% end -%>