<% content_for :head do -%>
<%= stylesheet_link_tag 'index' %>
<style type="text/css">
.boxb_content {
  position: relative;
}

.boxb_text, .boxb_text2 {
  position: absolute;
  color: #fff;
  background: url(<%= asset_path "master/meng1.png"%>);
  z-index: 100px;
}

.boxb_text {
  bottom: 0px;
  _bottom: 2px;
  left: 0;
  width: 572px;
  height: 72px;
  padding: 15px;
}

.boxb_text2 {
  top: 247px;
  left: 0;
  width: 285px;
  height: 53px;
  padding: 10px;
  font: 16px/23px "Microsoft Yahei";
  color: #fff;
  margin: 0 7px;
}

.boxb_text h2 {
  font: 18px "Microsoft Yahei";
}

.boxb_text p {
  font: 12px/18px "SimSun";
  margin-top: 8px;
}

.boxb_box {
  width: 318px;
}

.boxb_box img.master_img {
  padding: 7px;
}

.boxb_box p {
  padding: 7px 10px;
  font: 12px/20px "SimSun";
  color: #fff;
}

.boxb_box h4{
  font-size:50px;
  color:#fff;
  font-weight:bold;
  text-align:center;
  height:104px;
  line-height:104px;
}
#home_improvement_news .list .t{height:auto!important;text-align:left;}
#home_improvement_news .list .t a{white-space:normal;}
</style>
<% end -%>
<%- content_for :index do %>
<div class="slides pr">
  <div class="slidesContainer">
    <div class="slider pr fl">
      <img src="<%= asset_path "kv1.jpg"%>" usemap="#Map1"/>
      <map id="Map1" name="Map1">
        <area shape="rect" coords="484,184,986,349" href="#"/>
      </map>
    </div>
    <!--slider ends-->
    <div class="slider pr fl">
      <img src="<%= asset_path "kv3.jpg"%>" usemap="#Map3"/>
      <map id="Map3" name="Map3">
        <area shape="rect" coords="359,304,621,342" href="/weekly_stars" />
      </map>
    </div>
    <!--slider ends-->
    <div class="slider pr fl">
      <img src="<%= asset_path "kv6.jpg"%>" usemap="#Map4" />
      <map id="Map4" name="Map4">
        <area shape="rect" coords="419,416,510,442" href="/yda" />
      </map>
    </div>
    <!--slider ends-->
    <div class="slider pr fl">
      <img src="<%= asset_path "kv2.jpg"%>" usemap="#Map2"/>
      <map id="Map2" name="Map2">
        <area shape="rect" coords="930,157,1335,309" href="#"/>
      </map>
    </div>
    <!--slider ends-->
  </div>
  <!--slidesContainer ends-->
  <!--slidesContainer ends-->
  <div class="bullets pa">
    <div class="bullet cp current"></div>
    <div></div>
    <div class="bullet cp"></div>
    <div></div>
    <div class="bullet cp"></div>
    <div></div>
    <div class="bullet cp"></div>
  </div>
  <!--bullets ends-->
</div><!--slides ends-->
<%- end %>
<div class="center pr">
  <div class="centerBg indexmain">
    <div class="top1content">
      <div class="boxA" id="master_palace">
        <div class="titlebar">
          <div class="left"><img src="<%= asset_path "design/boxA_triangle_left.gif" %>"/></div>
          <div class="right"><img src="<%= asset_path "design/boxA_triangle_right.gif" %>"/></div>
          <div class="title">
            <span class="cn">大师殿堂</span>
            <span class="en">Feel the Masters</span>
          </div>
        </div>
        <div class="box_content">
          <div class="master_palace_content">
            <% if @master_interview -%>
            <div class="original">
              <div class="image"><a href="/master_interviews/<%= @master_interview.id %>"><%= image_tag @master_interview.preview_img_in.url %></a></div>
              <div class="t"><a href="/master_interviews/<%= @master_interview.id %>"><%= @master_interview.title %></a></div>
              <div class="c">
                <div class="text"><%=  gsub_body_string(@master_interview.intro, 80) %></div>
              </div>
              <div class="plus">+</div>
            </div>
            <div class="replace boxB">
              <div class="box_title"><h3>大师访谈</h3></div>
              <div class="boxb_content boxb_box">
                <a href="/master_interviews/<%= @master_interview.id %>">
                  <%= image_tag @master_interview.preview_img_out.url(:home_page), :class=> "master_img" %>
                </a>
                <div class="boxb_text2"><%= @master_interview.title %></div>
                <p><%= gsub_body_string(@master_interview.intro, 140) %></p>
                <h4><%= @master_interview.name %></h4>
              </div>
            </div>
            <% end -%>
          </div>
        </div>
      </div>

      <div id="design_appreciation">
        <div class="inner">
          <div class="titlebar">
            <span class="cn">设计鉴赏</span>
            <span class="en">Appreciate the works</span>
          </div>
          <div class="box_content">
            <div class="inner">
              <div class="inner_inner">
                <div class="image">
                  <a href="/weekly_stars">
                    <% unless @weekly_star.main_preview_img.nil? %>
                      <%= image_tag(@weekly_star.main_preview_img.url(:index)) %>
                    <%- end -%>
                  </a>
                </div>
                <div class="t">
                  <p>设计师：<%= @weekly_star.try(:author) %></p>
                </div>
                <div class="s">
                  <p class="like"><%= @weekly_star.try(:votes_count) %></p>
                  <p class="review">评论<%= @weekly_star.try(:comments_count) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="boxA" id="information">
        <div class="titlebar">
          <div class="left"><img src="<%= asset_path "design/boxA_triangle_left.gif" %>"/></div>
          <div class="right"><img src="<%= asset_path "design/boxA_triangle_right.gif" %>"/></div>
          <div class="title">
            <span class="cn">行业资讯</span>
            <span class="en">Sector News</span>
          </div>
        </div>
        <div class="box_content">
          <div class="inner">
            <ul>
              <% @home_infos.each do |info| %>
              <li><a href="#"><%= image_tag(info.preview_img.url) %></a></li>
              <%- end -%>
              <li class="desc">
                <p class="c"><%= @home_infos.first.try(:title) %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="boxA" id="hot_topic">
        <div class="titlebar">
          <div class="left"><img src="<%= asset_path "design/boxA_triangle_left.gif" %>"/></div>
          <div class="right"><img src="<%= asset_path "design/boxA_triangle_right.gif" %>"/></div>
          <div class="title"></div>
        </div>
        <div class="box_content boxB shadow" style="padding:15px 20px">
          <div class="box_title"><h3>大师热点话题</h3></div>
          <div class="boxb_content" style="width:600px;height:236px;overflow:hidden;  ">
            <a href="/master_topics/<%= @hot_topic.id %>">
              <%= image_tag @hot_topic.preview_img.url(:icolor_master_topic) %>
            </a>
            <div class="boxb_text">
              <h3><%= @hot_topic.title %></h3>
              <p>
                <%= gsub_body_string(@hot_topic.body, 130) %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="boxB" id="masters_guidance">
        <div class="box_title"><h3>大师作品</h3>
          <div class="more"><a href="/master_designs">+查看更多</a></div>
        </div>
        <% if @master_design -%>
        <div class="boxb_content qa">
          <div class="gallery galleryN">
            <span class="moveleft"></span>
            <span class="moveright"></span>
            <div class="list">
              <ul>
                <%- @master_design.master_design_uploads.each do |i| %>
                <%- unless i.file.nil? %>
                <li><%= image_tag(i.file.url(:home_page))%></li>
                <%- end %>
                <%- end %>
              </ul>
            </div>
          </div>

          <div class="intro">
            <h3>作者：<%= @master_design.try(:master_profile).try(:name) %></h3>
            <p>国籍：<%= @master_design.try(:master_profile).try(:nationality) %></p>
            <p>作品名称：<%= @master_design.try(:design_name) %></p>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
    <div class="top1mask"></div>
    <div class="boxA" id="top2">
      <div class="titlebar">
        <div class="left"><img src="<%= asset_path "design/boxA_triangle_left.gif" %>"/></div>
        <div class="right"><img src="<%= asset_path "design/boxA_triangle_right.gif" %>"/></div>
        <div class="title"></div>
      </div>
      <div class="box_content">
        <div class="titlebar">
          <div class="title">
            <span class="cn">设计鉴赏</span>
            <span class="en">Appreciate the works</span>
          </div>
        </div>
        <div class="inner">
          <div class="inner-inner">
            <div class="boxB" id="weekly_star">
              <div class="box_title"><h3>每周之星</h3></div>
              <div class="boxb_content" style=" position: static; top: 0;">
                <a href="/weekly_stars/<%= @weekly_star.id%>">
                    <% unless @weekly_star.main_preview_img.nil? %>
                      <%= image_tag(@weekly_star.main_preview_img.url(:index)) %>
                    <%- end -%>
                </a>
                <div class="cor"></div>
                <div class="designer">设计师：<%= @weekly_star.try(:author) %></div>
                <div class="notes"><%= @weekly_star.try(:votes_count) %></div>
              </div>
            </div>
            <div class="boxB" id="afflatus_showcase">
              <div class="box_title"><h3>灵感秀</h3></div>
              <div class="boxb_content">
                <div class="galleryP">
                  <ul>
                    <% @inspirations.each do |insp| %>
                    <li>
                      <%- unless insp.cover_img.nil? -%>
                        <a href="/inspirations/<%= insp.id %>"></a><%= image_tag insp.cover_img.try(:file).url(:home_page) %>
                      <%- end -%>
                    </li>
                    <%- end -%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="recommended_works">
            <div class="box_title"><img src="<%= asset_path "design/recommended_works.gif" %>"></div>
            <div class="box_content">
              <div class="galleryM">
                <span class="moveleft"></span>
                <span class="moveright"></span>
                <div class="list">
                  <ul>
                    <% @designs.each do |design|  %>
                    <li>
                      <div class="img">
                        <a href="/designs/<%= design.id %>"><%= image_tag design.cover_img.file.url(:slide_thumb) if design.cover_img %></a>
                      </div>
                      <div class="s">
                        <p class="like"><%= design.shares_count %></p>
                        <p class="forward">转发</p>
                        <p class="review">评论</p>
                      </div>
                    </li>
                    <%- end -%>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="home_improvement_news">
      <div class="titlebar">
        <span class="cn">行业资讯</span>
        <span class="en">Sector News</span>
      </div>
      <div class="box_content">
        <div class="left">
          <div class="industry_news shadow">
            <div class="boxB">
              <div class="box_title"><h3>行业资讯</h3></div>
              <div class="boxb_content">
                <div class="major">
                  <div class="legend"><a href="/articles/<%= @articles.first.try(:id) %>"><%= @articles.first.try(:title) %></a></div>
                  <div class="desc">
                    <%= gsub_body_string(@articles.first.try(:body), 125) %>
                    <a href="/articles/<%= @articles.first.try(:id) %>">[查看详细]</a>
                  </div>
                </div>
                <div class="list">
                  <ul>
                    <% @articles.shift %>
                    <% @articles.each do |article| %>
                    <li>
                      <div class="img"><%= image_tag(article.preview_img.url()) %></div>
                      <div class="t"><a href="/articles/<%= article.id %>"><%= article.title %></a></div>
                      <div class="c"><%= gsub_body_string(article.body, 70) %><a href="/articles/<%= article.id %>">[查看详细]</a></div>
                    </li>
                    <%- end -%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="inner shadow">
            <div class="tweibo boxB">
              <div class="box_title"><h3>立邦官微资讯</h3></div>
              <div class="boxb_content">
                <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2032078483&verifier=b48b0477&dpc=1"></iframe>
              </div>
            </div>
          </div>
          <div class="tweets boxB">
            <div class="box_title"><h3>行业红人微博资讯</h3></div>
            <div class="boxb_content">
              <ul>

              <% @weibo_data.each do |weibo| -%>
              <li>
                <div class="simg"><a href="http://weibo.com/<%= weibo.user_profile_url %>" target="_blank"><img src="<%= weibo.thumbnail_pic %>"></a></div>
                <div class="bimg">
                  <div class="popupB">
                    <div class="popupinner">
                      <div class="content">
                        <div class="t">
                          <div class="face"><a href="http://weibo.com/<%= weibo.user_profile_url %>" target="_blank"><img src="<%= weibo.user_profile_image_url %>"></a></div>
                          <div class="tcontent">
                            <a href="http://weibo.com/<%= weibo.user_profile_url %>" class="user" target="_blank"><%= weibo.user_name %>：</a>
                            <%= weibo.text %>
                            <br/>
                            <br/>
                            <img src="<%= weibo.bmiddle_pic %>" height="200">
                          </div>
                          <div class="time"><a href="http://weibo.com/<%= weibo.user_profile_url %>"  target="_blank"><%= weibo.created_time.to_formatted_s(:db) %></a> <span class="from">来自 <a href="http://weibo.com/<%= weibo.user_profile_url %>">新浪微博</a></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% end -%>

            </ul>
            <!--[if IE 6]>
            <script type="text/javascript">
            if ($.browser.msie && $.browser.version < 7) {
            $(function() {
            $('div.tweets li').hover(function() {
            //$(this).find('div.bimg').css('right','-135px');
            $(this).addClass('hover');
            }, function() {
            //$(this).find('div.bimg').css('right','-1350px');
            $(this).addClass('hover');
            });
            })
            }
            </script>
            <![endif]-->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="topb2">
    <div class="box_content">
      <div id="gift">
        <div class="titlebar">
          <!--<span class="cn">礼从天降</span>-->
          <!--<span class="en">Promotion and more</span>-->
          <img src="<%= asset_path 'design/promotion_and_more.jpg' %>">
        </div>
        <div class="boxb_content">
          <a href="/gift.html"><img src="<%= asset_path "design/activitiesB.gif" %>"></a>
        </div>
      </div>

      <div id="utility"  style="width:457px;">
        <div class="inner">
          <div class="titlebar">
            <!--<span class="cn">实用工具</span>-->
            <!--<span class="en">Tools & Mix</span>-->
            <img src="<%= asset_path 'design/tools.jpg' %>">
          </div>
          <div class="boxb_content">
            <img src="<%= asset_path "design/utility.jpg" %>" usemap="#utility_map"/>
            <map name="utility_map" id="utility_map">
              <area shape="rect" coords="0,0,202,73" href="http://www.icolor6.net/"/>
              <area shape="rect" coords="1,78,203,147" href="/softwares/case"/>
              <area shape="rect" coords="207,1,405,155" href="http://www.nipponpaint.com.cn/shuaxin/fuwu/home.html" target="_blank"/>
            </map>
          </div>
        </div>
      </div>
      <div id="paint_art" style="width:232px; left:823px;">
        <div class="inner">
          <div class="titlebar">
            <!--<span class="cn">漆光艺彩</span>-->
            <!--<span class="en">Colorful arts</span>-->
            <img src="<%= asset_path 'design/arts.jpg' %>">
          </div>
          <div class="boxb_content">
            <!--<div class="boxleft"><img src="images/design/paintart.jpg"></div>-->
            <div class="boxright">
              <div class="galleryO" style="width:232px;">
                <div class="buttons">
                  <div class="moveleft"></div>
                  <div class="moveright"></div>
                  <div class="n"><span class="current">1</span>/<span class="total">4</span></div>
                </div>
                <div class="list" style="width:232px;">
                  <ul>
                    <li><a href="#"><img src="<%= asset_path "design/paintart1.png"%>"></a></li>
                    <li><a href="#"><img src="<%= asset_path "design/paintart2.png"%>"></a></li>
                    <li><a href="#"><img src="<%= asset_path "design/paintart3.png"%>"></a></li>
                    <li><a href="#"><img src="<%= asset_path "design/paintart4.png"%>"></a></li>
                    <li><a href="#"><img src="<%= asset_path "design/paintart5.png"%>"></a></li>
                    <li><a href="#"><img src="<%= asset_path "design/paintart6.png"%>"></a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="base">
      <div class="c shadow"></div>
    </div>
  </div>
</div>
<!--centerBg ends-->
</div><!--center ends-->
<div class="footer_adv">
  <div class="inner">
    <a href="#"><img src="<%= asset_path "design/banner_design.jpg"%>" border="0" usemap="#Map"/>
      <map name="Map" id="Map">
        <area shape="rect" coords="27,167,122,196" href="/design_zg"/>
        <area shape="rect" coords="618,152,717,183" href="/design_zg2"/>
      </map>
    </a>
  </div>
</div>
<%- content_for :tail do %>
<%= javascript_include_tag "galleryN" %>
<%= javascript_include_tag "galleryM" %>
<%= javascript_include_tag "galleryO" %>
<%= javascript_include_tag "index3" %>

<script type="text/javascript">
  $(function() {
      $("#home_improvement_news").hide();
  });
</script>
<% end -%>
