<% content_for :head do -%>
  <%= stylesheet_link_tag 'imgbase','2013index','2013base' %>
<% end -%>

<%- content_for :index do %>
<!-- <div style="background:url(<%= asset_path "icolor_qr.png"%>) no-repeat;position:fixed;width:150px;height:167px;left:10px;bottom:10px;z-index:10;"></div> -->

<div id="grid_brush" style="left: 0px; margin-left: 0px;z-index: 999999;">
  <a href="javascript:;" id="brush" class="none" style="left: 0px; right: auto;">刷子</a>
  <div id="grid">
    <a href="javascript:;" class="close_btn pa">关闭</a>
    <img src="<%= asset_path "2013/index/float_grid.jpg"%>" usemap="#map1">
    <map id="map1" name="map1">
      <area shape="rect" coords="0,0,83,84" href="/master_interviews" target="_blank">
      <area shape="rect" coords="84,0,167,84" href="/design_images" target="_blank">
      <area shape="rect" coords="168,0,251,84" href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>" target="_blank">
      <area shape="rect" coords="0,85,83,169" href="/channel/access" target="_blank">
      <area shape="rect" coords="84,85,167,169">
      <area shape="rect" coords="168,85,251,169" href="/articles?from=top&tags=<%= URI.escape("设计相关") %>" target="_blank">
      <area shape="rect" coords="0,170,83,254" href="/softwares/tools" target="_blank">
      <area shape="rect" coords="84,170,167,254" href="/art" target="_blank">
      <area shape="rect" coords="168,170,251,254" href="/designer_events" target="_blank">
    </map>
  </div>
</div>

<a href="javascript:;" id="gotop" style="display: block;">返回顶部</a>
<div class="slides pr">
  <%- if MagicSetting.kv_of_home_index.present? %>
    <%= raw MagicSetting.kv_of_home_index %>
  <%- end %>
</div><!--slides ends-->
<%- end %>
<div class="wrapper ft14">
  <div class="blocks clear">
    <h2 class="tr">
      <a href="/master_interviews?from=top" class="fl ft16">大师殿堂</a>
      <a href="/master_interviews?from=top">大师访谈</a> |
      <a href="/master_designs?from=top">大师作品</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="/master_interviews?from=top"><%= image_tag @master_interview.preview_img_out, :height=>"365px", :width=>"380px" %></a>
      <a href="#" class="blocks_title ft16"><%= @master_interview.title %> 一 <%= @master_interview.name %></a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <div class="blocks_mid mb25">
        <a href="/master_designs/<%=@master_design.id%>">
            <%- unless @master_design.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design.master_design_uploads.first.file, :height=>"170px", :width=>"380px")%>
            <%- end %>
        </a>
        <a href="/master_designs/<%=@master_design.id%>" class="blocks_title ft14"><span class="blocks_arrow fr"></span><%= @master_design.try(:design_name) %></a>
      </div>
      <div class="blocks_mini mr20 blocks_show">
        <a href="/master_interviews?from=top"><img src="<%= asset_path "2013/index/blocks1.3.png"%>" /></a>
      </div>
      <div class="blocks_mini">
        <a href="/master_designs/<%=@master_design_two.id%>">
          <%- unless @master_design_two.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design_two.master_design_uploads.first.file, :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="/master_designs/<%=@master_design_two.id%>" class="blocks_title ft14"><%=@master_design_two.try(:design_name)%></a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big pr">
      <a href="/master_designs/<%=@master_design_three.id%>">
        <%- unless @master_design_three.master_design_uploads.first.file.nil? %>
              <%= image_tag(@master_design_three.master_design_uploads.first.file, :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/master_designs/<%=@master_design_three.id%>" class="blocks_title ft14"><%=@master_design_three.try(:design_name)%></a>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <h2>
      <a href="/design_images" class="ft16">装修图库</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="<%=image_show_design_image_path(@desing_image.id)%>">
        <%- unless @desing_image.file.nil? %>
              <%= image_tag(@desing_image.file.url(:original), :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="<%=image_show_design_image_path(@desing_image.id)%>" class="blocks_title ft16"><%=@desing_image.design.try(:title)%></a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <div class="blocks_mid mb25">
        <a href="<%=image_show_design_image_path(@desing_image_two.id)%>">
          <%- unless @desing_image_two.file.nil? %>
              <%= image_tag(@desing_image_two.file.url(:original), :height=>"170px", :width=>"380px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_two.id)%>" class="blocks_title ft14"><%=@desing_image_two.design.try(:title)%></a>
      </div>
      <div class="blocks_mini mr20 blocks_show">
        <a href="#"><img src="<%= asset_path "2013/index/blocks2.3.png"%>" /></a>
      </div>
      <div class="blocks_mini">
        <a href="<%=image_show_design_image_path(@desing_image_three.id)%>">
          <%- unless @desing_image_three.file.nil? %>
                <%= image_tag(@desing_image_three.file, :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_three.id)%>" class="blocks_title ft14"><%=@desing_image_three.design.try(:title)%></a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <div class="blocks_mini mr20">
        <a href="<%=image_show_design_image_path(@desing_image_four.id)%>">
          <%- unless @desing_image_four.file.nil? %>
                <%= image_tag(@desing_image_four.file, :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_four.id)%>" class="blocks_title ft14"><%=@desing_image_four.design.try(:title)%></a>
      </div>
      <div class="blocks_mini">
        <a href="<%=image_show_design_image_path(@desing_image_five.id)%>">
          <%- unless @desing_image_five.file.nil? %>
                <%= image_tag(@desing_image_five.file, :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_five.id)%>" class="blocks_title ft14"><%=@desing_image_five.design.try(:title)%></a>
      </div>
      <div class="blocks_mid mt25">
        <a href="<%=image_show_design_image_path(@desing_image_six.id)%>">
          <%- unless @desing_image_six.file.nil? %>
                <%= image_tag(@desing_image_six.file, :height=>"170px", :width=>"380px")%>
          <%- end %>
        </a>
        <a href="<%=image_show_design_image_path(@desing_image_six.id)%>" class="blocks_title ft14"><%=@desing_image_six.design.try(:title)%></a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <h2 class="tr">
      <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>" class="fl ft16">设计鉴赏</a>
      <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>">设计之星</a> |
      <a href="/designs?from=top">作品展示</a> |
      <a href="/color_designs?from=top">色彩配搭</a> |
      <a href="/inspirations?from=top">灵感秀</a>
    </h2>
    <div class="blocks_big mr20 pr">
      <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>">
        <%- unless @weekly_star.weekly_star_uploads.first.file.nil? %>
              <%= image_tag(@weekly_star.weekly_star_uploads.first.file, :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>" class="blocks_title ft14">
        <span class="blocks_like fr"><%=@link_design.try(:votes_count)%></span><%=@weekly_star.design_name%>
      </a>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20 pr">
      <a href="<%=user_design_path(@design.user_id, @design)%>">
        <%- unless @design.cover_img.nil? %>
              <%= image_tag(@design.cover_img.file, :height=>"365px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="<%=user_design_path(@design.user_id, @design)%>" class="blocks_title ft14"><%=@design.title%></a>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <div class="blocks_mid mb25">
        <a href="/color_designs/<%= @color_design.id %>">
        <%- unless @color_design.main_preview_img.nil? %>
              <%= image_tag(@color_design.main_preview_img, :height=>"170px", :width=>"380px")%>
        <%- end %>
      </a>
      <a href="/color_designs/<%= @color_design.id %>" class="blocks_title ft14"><%=@color_design.design_name%></a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/inspirations/<%= @inspiration.id %>">
          <%- unless @inspiration.cover_img.file.nil? %>
                <%= image_tag(@inspiration.cover_img.file.url(:outside), :height=>"170px", :width=>"180px")%>
          <%- end %>
        </a>
        <a href="/inspirations/<%= @inspiration.id %>" class="blocks_title ft14"><%=@inspiration.title%></a>
      </div>
      <div class="blocks_mini blocks_show">
        <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>"><img src="<%= asset_path "2013/index/blocks3.5.png"%>" /></a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <div class="blocks_large fl mr20">
      <h2 class="tr">
        <a href="/channel/access?from=top" class="fl ft16">业主通道</a>
        <a href="/channel/access">设计快查</a> |
        <a href="/faqs">装修问答</a> |
        <a href="/faqs#tips">装修贴士</a> |
        <a href="/mix_colors/new">配色咨询</a> |
        <a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/">刷新服务</a>
      </h2>
      <div class="blocks_big mr20">
        <a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/" class="fl"><img src="<%= asset_path "2013/index/blocks4.1.jpg"%>" /></a>
        <a href="/channel/access" class="fl blocks_show"><img src="<%= asset_path "2013/index/blocks4.2.png"%>" /></a>
        <a href="/mix_colors/new?from=top" class="fl mt25"><img src="<%= asset_path "2013/index/blocks4.3.jpg"%>" /></a>
      </div>
      <div class="blocks_big">
        <div class="blocks_mini mr20">
          <a href="/channel/access"><img src="<%= asset_path "2013/index/blocks4.4.jpg"%>" /></a>
          <a href="/channel/access" class="blocks_title ft14">设计快查</a>
        </div>
        <div class="blocks_mini">
          <a href="/channel/access"><img src="<%= asset_path "2013/index/blocks4.5.jpg"%>" /></a>
          <a href="/channel/access" class="blocks_title ft14">设计代寻</a>
        </div>
        <div class="blocks_mid mt25">
          <h3>装修小贴士</h3>
          <ul class="blocks_tips ft12">
            <% @weekly_tips.each_with_index do |weekly_tip,index| %>
              <% weekly = weekly_tip.body.split('？') %>
              <% if index < 1%>
                <li><a href="/faqs#tips" title="<%=weekly[0]%>？"><%=weekly[0]%>？</a></li>
                <p><%=weekly[1]%></p>
              <% else %>
                <li><a href="/faqs#tips" title="<%=weekly[0]%>？"><%=weekly[0]%>？</a></li>
              <% end %>
            <% end %>
            
            
          </ul>
        </div>
      </div>
    </div><!-- blocks_large -->
    <div class="blocks_big">
      <h2 class="tr">
        <a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>" class="fl ft16">行业资讯</a>
        <a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>">装修资讯</a> |
        <a href="/color_articles?from=top">色彩资讯</a> |
        <a href="/master_topics">业内动态</a>
      </h2>
      <div class="blocks_mid mb25">
        <ul class="blocks_news ft12">
          <% @articles.each do |article| %>
          <li>
            <span><%= article.published_at.to_date %></span>
            <a href="/articles/<%=article.id%>" title="<%=article.title%>"><%=article.title%></a>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="blocks_mini mr20 blocks_show">
        <a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>"><img src="<%= asset_path "2013/index/blocks5.1.png"%>" /></a>
      </div>
      <div class="blocks_mini">
        <a href="/articles/<%=@articles.first.id%>"><img src="<%= @articles.first.preview_img%>" width="180" height="170"/></a>
        <a href="/articles/<%=@articles.first.id%>" class="blocks_title ft14"><%=@articles.first.title%></a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="blocks clear">
    <div class="blocks_big mr20">
      <h2 class="tr">
        <a href="/softwares/tools?from=top" class="fl ft16">应用工具</a>
        <a href="/softwares/case">案例下载</a> |
        <a href="/softwares/tools?from=top">配色软件</a> |
        <a href="/softwares/app">APP</a>
      </h2>
      <div class="blocks_mini mr20 mb25">
        <a href="/softwares/case"><img src="<%= asset_path "2013/index/blocks6.1.jpg"%>" /></a>
        <a href="/softwares/case" class="blocks_title ft14">案例下载</a>
      </div>
      <div class="blocks_mini mb25">
        <a href="/softwares/app"><img src="<%= asset_path "2013/index/blocks6.2.jpg"%>" /></a>
        <a href="/softwares/app" class="blocks_title ft14">APP</a>
      </div>
      <div class="blocks_mini mr20 blocks_show">
        <a href="/softwares/tools"><img src="<%= asset_path "2013/index/blocks6.3.png"%>" /></a>
      </div>
      <div class="blocks_mini">
        <a href="/softwares/tools?from=top"><img src="<%= asset_path "2013/index/blocks6.4.jpg"%>" /></a>
        <a href="/softwares/tools?from=top" class="blocks_title ft14">配色软件</a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big mr20">
      <h2 class="tr">
        <a href="/art" class="fl ft16">漆光异彩</a>
        <a href="/art">艺术漆效果</a> |
        <a href="/7-1?from=top">木器漆效果</a>
      </h2>
      <div class="blocks_mid mb25">
        <a href="/art"><img src="<%= asset_path "2013/index/blocks7.1.jpg"%>" /></a>
        <a href="/art" class="blocks_title ft14">艺术漆效果</a>
      </div>
      <div class="blocks_mini mr20">
        <a href="/7-1?from=top"><img src="<%= asset_path "2013/index/blocks7.2.jpg"%>" /></a>
        <a href="/7-1?from=top" class="blocks_title ft14">木器漆效果</a>
      </div>
      <div class="blocks_mini blocks_show">
        <a href="/art"><img src="<%= asset_path "2013/index/blocks7.3.png"%>" /></a>
      </div>
    </div><!-- blocks_big -->
    <div class="blocks_big">
      <h2 class="tr">
        <a href="/designer_events" class="fl ft16">精彩活动</a>
        <a href="/designer_events">设计师活动</a> |
        <a href="/other_events">其他活动</a>
      </h2>
      <div class="blocks_mini mr20 blocks_show">
        <a href="/designer_events"><img src="<%= asset_path "2013/index/blocks8.1.png"%>" /></a>
      </div>
      <a href="/gift" class="fl"><img src="<%= asset_path "2013/index/blocks8.2.jpg"%>" /></a>
      <div class="blocks_mid mt25">
        <a href="/designer_events/city/npyda?page=1"><img src="<%= asset_path "design/d_act_list/pic1.jpg"%>" width="380" height="170"/></a>
        <a href="/designer_events/city/npyda?page=1" class="blocks_title ft14">立邦亚洲青年设计师大赛(NPYDA)成功落幕</a>
      </div>
    </div><!-- blocks_big -->
  </div><!-- blocks -->
  <div class="mt25 clear">
    <a href="/design_zg" class="fl mr20"><img src="<%= asset_path "2013/index/blocks9.1.jpg"%>" /></a>
    <a href="/design_zg2" class="fl"><img src="<%= asset_path "2013/index/blocks9.2.jpg"%>" /></a>
  </div><!-- mt25 -->
</div><!--wrapper-->
<div class="imap">
  <div class="wrapper clear">
    <a href="/master_interviews"><img src="<%= asset_path "2013/index/blocks10.1.png"%>" /></a>
    <a href="/design_images"><img src="<%= asset_path "2013/index/blocks10.2.png"%>" /></a>
    <a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星")%>"><img src="<%= asset_path "2013/index/blocks10.3.png"%>" /></a>
    <a href="/channel/access"><img src="<%= asset_path "2013/index/blocks10.4.png"%>" /></a>
    <a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>"><img src="<%= asset_path "2013/index/blocks10.5.png"%>" /></a>
    <a href="/softwares/tools"><img src="<%= asset_path "2013/index/blocks10.6.png"%>" /></a>
    <a href="/art"><img src="<%= asset_path "2013/index/blocks10.7.png"%>" /></a>
    <a href="/designer_events"><img src="<%= asset_path "2013/index/blocks10.8.png"%>" class="nomargin" /></a>
  </div>
</div><!-- imap -->

<%- content_for :tail do %>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<%= javascript_include_tag "2013main" %>
<% end -%>