<%- content_for :head do %>
  <%= stylesheet_link_tag "exciting_activities", "style" %>
    <style type="text/css">
        span.arrow_1 {
            right: 203px;
        }

        span.arrow_2 {
            right: 135px;
        }
    </style>
<%- end %>
<div class="main page_weekstar">
  <div class='sub_title tr'><img src="<%= asset_path "design/title_event.png"%>"/></div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">精彩活动</a><span class="arrow_2"></span><a class="fb" href="#">年度色彩趋势活动</a>
  </div>
  <!--sub_nav ends-->
  <div class="wrapper group color-trend">
    <div class="shadow">
      <div class="section">
        <div class="banner_n">
          <div class="master_story group">
            <div class="master_story_l fl">
              <img class="fr" src="<%= asset_path "design/master_story_img.jpg"%>" alt=""/><a class="fl" href="#">沈立东</a>

              <p class="master_story_l2 fl">工商管理博士，高级室内建筑师，国家一级注册建筑师，上海现代建筑装饰环境设计研究院有限公司董事长。获“2006年中国设计业十大杰出青年经济人物”、“2006年度上海十大青年经济人物”、“全国自身室内建筑师”、“中国室内设计成就奖”。</p>
            </div>
            <img class="fr" src="<%= asset_path "design/4.1.1_n.jpg"%>"/></div>
          <div class="galleryE_wrap">
            <div class="share">
              <!-- JiaThis Button BEGIN -->
              <div id="jiathis_style_32x32"><a class="jiathis_button_qzone"></a> <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a> <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_kaixin001"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a></div>
              <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
              <!-- JiaThis Button END -->
              <span class="t">分享视频</span></div>
            <div class="galleryE"><span class="moveleft"></span> <span class="moveright"></span>

              <div class="list">
                <ul>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                  <li><a href="#"><img src="<%= asset_path "design/ub1.jpg"%>"/></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="review_wrap">
          <div class="reviewform">
            <div class="bar">
              <h4><span>评论</span>(86)</h4>
              <span class="r">0/140</span></div>
            <div class="form-content">
              <form>
                <p class="input">
                  <textarea></textarea>
                </p>

                <p class="button">
                  <input type="image" name="submit" src="<%= asset_path "design/submitA.gif"%>" alt="提交" value="提交"/>
                </p>
              </form>
            </div>
          </div>
          <div class="pager ft12"><a class="prev" href="#"><span></span>上一页</a> <a href="#">1</a>
            <a href="#" class="current">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
            <a href="#">7</a> <a href="#">8</a> <a href="#">...</a> <a href="#">20</a>
            <a class="next" href="#">下一页<span></span></a></div>
          <div class="review_list">
            <ul class="review_listA">
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
              <li>
                <div class="bar"><span class="user">NEO</span><span class="time">2012-2-12</span></div>
                <div class="reply"><a href="#">回复</a></div>
                <div class="content">很好！非常好的工具！赞一个...</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
    <div class="pager ft12"><a class="prev" href="#"><span></span>上一页</a> <a href="#">1</a>
      <a href="#" class="current">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a>
      <a href="#">7</a> <a href="#">8</a> <a href="#">...</a> <a href="#">20</a>
      <a class="next" href="#">下一页<span></span></a></div>
  </div>
  <!--sub_bot ends-->
</div>