<div class="wrapper">
  <div class="grid-container ft12">
    <div class="refresh-bin">
      <%= render partial: 'baicheng/design_works/sidebar' %>
      <ul class="grid-ul">
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/refresh/load-files.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅中邦城市别墅中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">

              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">爱，让我们在一起在一起在一起在一起</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">我们一起走过的路</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">我们的爱情小屋</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">那些年，那些屋</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">我们的爱情小屋</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">我们的爱情小屋</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">我们一起走过的路</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">那些年，那些屋</a>
        </li>
        <li>
          <a href="#" class="bubble">那些年，那些屋</a>
        </li>
        <li>
          <a href="#" class="bubble">我们一起走过的路</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">中邦城市别墅</a></h3>
            <p><span>现代简约</span>北欧E家（杭州）</p>
          </div>
        </li>
        <li>
          <a href="#" class="bubble">那些年，那些屋</a>
        </li>
        <li>
          <div class="grid-bin">
            <div class="grid-img">
              <%= link_to image_tag('baicheng/grid/grid.jpg'), 'javascript:void(0)' %>
            </div>
            <h3><a href="#">我的艺术家</a></h3>
            <p><span>清新田园</span>极美设计（北京）</p>
          </div>
        </li>
      </ul>
      <div class="pager">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">...</a>
        <a href="#">下一页</a>
        <a href="#">最后一页</a>
      </div>
    </div>
  </div>
</div>
