<%- content_for :head do %>
	<%= stylesheet_link_tag "baicheng/jquery.slider","baicheng/style" %>
<%- end %>
<%- content_for :tail do %>
	<%= javascript_include_tag "jquery.slider","baicheng/main" %>
	<script type="text/javascript">
		$(function() {
		  Object.size = function(obj) {
		  var size = 0, key;
		  for (key in obj) {
		    if (obj.hasOwnProperty(key)) size++;
		  }
		  return size;
		  };
		});
		var color_codes = {
		  <%- color1, color2, color3 = search_color_code(@image.color1), search_color_code(@image.color2), search_color_code(@image.color3) %>

		  '<%= @image.id %>': {
		    <%-
		    codes = []
		    [color1, color2, color3].each_with_index do |color, index|
		        unless color.blank?
		            codes << "'#{index+1}': { 'rgb': '#{color.rgb}', 'code': '#{color.code}', 'name': '#{color.name}', 'category': '#{@image.color1_name}'}"
		        end
		    end
		    %>
		    <%= codes.join(",").html_safe %>
		  }
		};

		$('#colors_con').mouseenter(function() {
		  var id = $("#gallery_caption").text() * 1;
		  if (id == 0) {
		      id = <%= @image.try(:id) %>
		  }

		  code = color_codes[id];
		  // Get the size of an object
		  var size = Object.size(code);
		  var $ul = $(this).find('ul');
		  var tmp = '';
		  for (i = 1; i <= size; i++) {
		      if (code[i].rgb == '') {
		          tmp += '<li><div class="colorblock" style="background:url(/assets/color_code/' + code[i].code + '.png)"></div><h5>' + code[i].category + '</h5><p>立邦木器漆(' + code[i].code + ')</p></li>';
		      } else {
		          tmp += '<li><div class="colorblock" style="background-color:rgb(' + code[i].rgb + ')"></div><h5>' + code[i].category + '</h5><p>立邦(' + code[i].code + ')' + code[i].name + '</p></li>';
		      }
		  };

		  $ul.html(tmp);
		  $(this).children('img').hide();
		  $(this).children('div.desc').show();
		  $(".list ul li:last").addClass("noborder");
		}).mouseleave(function(){
		  $(this).children('img').show();
		  $(this).children('div.desc').hide();
		});
	</script>
<%- end %>
<div class="wrapper">
	<div class="refresh-logo fl">
		<a href="#" title="活动近况" class="e-recent">活动近况</a>
		<a href="#" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
		<a href="#" title="发表故事 征集设计" class="e-publish">发表故事 征集设计</a>
	</div><!-- refresh-logo -->
	<div class="refresh-container fl">
		<div class="refresh-bin">
			<div class="pr">
				<div class="story-slider slider_bin">
					<%- @design_images.each do |design_image| %>
						<div>
							<a href="#">
								<%= image_tag(design_image.try(:file).url(:design_work_slide), size: "680x353") %>
							</a>
						</div>
					<%- end %>
				</div>
				<div class="show-group pa">
					<ul class="clear">
						<li><a href="#" class="icon-like"><%= @design.votes_count %></a></li>
						<li><a href="#" class="icon-view"><%= @design.comments_count %></a></li>
					</ul>
				</div>

				<div class="slider-btngroup clear">
					<div class="show-group fl">
						<ul class="clear">
							<li>
								<%= link_to "收藏", user_collects_path(@design.user_id,:designs_id =>@design), :remote => true, method: :post, :class =>"icon-collect new_message" %>
							</li>
						</ul>
					</div>
					<div class="show-group fl">
						<ul class="clear">
							<li><a href="<%= download_user_design_path(@design.user_id, @design.id) %>" class="icon-download">下载</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="colorsbox" style="height:82px;overflow:hidden;">
				<img src="<%= asset_path 'baicheng/content/colors_icon_tit.jpg' %>" style="float:left; margin:15px 5px 0 10px;" />
				<div id="colors_con" class="colors_con" style="float:left; padding:20px 0 0; height:35px; position:relative;">
          <img src="<%= asset_path "baicheng/content/colors2.jpg" %>"  style="display: inline-block;" />
          <div class="desc" style=" height:35px; width:600px; margin:19px 0px;display:none; position:absolute; left:1px; top:1px;">
            <div class="list" style="height:35px;">
              <ul class="group" style="overflow:hidden;">
              </ul>
            </div>
          </div>
        </div>
				
				<div class="fr" style="margin:10px;">
					<a href="#" class="db" style="margin-bottom:5px;"><img src="<%= asset_path 'baicheng/content/go_shops.jpg' %>"></a>
					<a href="#"><img src="<%= asset_path 'baicheng/content/tmall.jpg' %>"></a>
				</div>
			</div>
			<!-- Colors END -->
			<div class="img-info">
				<div class="clear">
					<span class="fr nomargin">
						<span class="fl ft12" style="margin:3px 3px 0 0">分享</span>
						<!-- JiaThis Button BEGIN -->
						<span class="jiathis_style fl" style="margin:3px 0 0 0">
							<a class="jiathis_button_renren"></a>
							<a class="jiathis_button_kaixin001"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_qzone"></a>
							<!-- <a class="jiathis_button_tqq"></a> -->
							<!-- <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a> -->
							<a class="jiathis_counter_style"></a>
						</span>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1362023134897376" charset="utf-8"></script>
						<!-- JiaThis Button END -->
					</span>
					<a href="<%= user_asks_path(@design.user_id) %>" class="fl btn-title" target= "_blank">免费咨询</a>
				</div>
				<div class="questionmart clear ft12 pr">
					<span class="fl nomargin">咨询成功后，快来<a href="#" class="cr fb">上传合同</a>，抢装修基金 </span>
					<div class="js-questionmart fl">
						<img style="padding:7px 20px 0 3px;" src="<%= asset_path 'baicheng/content/questionmark.jpg' %>">
						<div class="questionmart_pop questionmart_pop2 none">
							<h3 style="margin:5px 0">免费咨询（线上）</h3>
							<div class="clear">
								<span class="fl nomargin">大众用户点击</span>
								<a href="<%= user_asks_path(@design.user_id) %>" class="fl btn-title" style="padding:1px 0;">免费咨询</a>
								<span class="fl nomargin">后，</span>
								<span class="fl nomargin">与家装公司/设计师进行免费咨询。</span>
							</div>
							<h3 style="margin-top:15px;">签约下单（线下）</h3>
							<p>大众用户与家装公司/设计师咨询后，成功签约。</p>
							<h3 style="margin-top:16px;">上传合同（线上）</h3>
							<p>家装公司/设计师可进入<a href="<%= user_path(@design.user_id) %>" style="color:#333;" target="_blank">个人主页</a>，<br>点击<a href="#"><img src="<%= asset_path 'baicheng/content/upload.jpg' %>"></a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="img-info">
				<p class="workinfo clear">
					<span>设计师：</span><em><%= @design.user.display_name %></em>
					<span>设计风格：</span><em>	<%= @design.style %></em>
					<span>楼盘名称：</span><em><%= @design.property_name %></em>
					<span>楼盘所在地：</span><em><%= @design.location %></em>
					<span>设计说明：</span><em>	<%= @design.content %></em>
					<span>推荐理由：</span><em>	<%= @design.reason %></em>
				</p>
			</div>
			<div class="img-info">
				<h4 class="icon-word cr fb">业主感言</h4>
				<p class="thankwords">无论装修也好，做事也罢。我们都要有一个方法论做指导。如果仅仅凭借个人的好恶亦或者习惯去做某事，处理问题的过程中肯定会有很多关节是我们考虑不周全的，这样也会造成很多不必要的麻烦。</p>
				<%= form_for(Comment.new, :html => {:class => "comment-form"}) do |f| %>
					<h5 class="fb">
						<span class="fr nomargin">0/140</span>
						评论(<%= @design.comments_count %>)
					</h5>
          <%= f.hidden_field :commentable_id, value: @design.id %>
          <%= f.hidden_field :commentable_type, value: 'Design' %>
          <%= f.text_area :content %>
          <button class="submit_btn">提交评论</button>
        <%- end %>
				<div class="pr">
					<div class="pager ft12 comment-pager">
						<%= paginate @comments %>
					</div>
					<div class="comment-list">
						<%- @comments.each do |comment| %>
							<div class="comment-item">
								<h5>
									<span class="fr"><%= comment.created_at.to_date %></span>
									<%= comment.user ? comment.user.display_name : "匿名" %>
								</h5>
								<p class="pr">
									<%= comment.content %>
									<%- unless @design.user == current_user %>
										<a href="javascript:;" class="reply-btn js-reply">回复</a>
									<%- end %>
								</p>
                <%= form_for(ReplyMsg.new, :html => {:class => "reply_form comment-form clear none"}) do |f| %>
                  <%= f.hidden_field :show_id, value: @design.id %>
                  <%= f.hidden_field :comment_id, value: comment.id %>
                  <%= f.hidden_field :reply_type, value: "design_works" %>
                  <%= f.text_area :content, :rows => 2 %>
                  <button class="submit_btn">提交评论</button>
                  <button class="submit_btn submit_btn_cancel js-submit_btn_cancel">取消</button>
                <%- end %>

								<%- comment.reply_msgs.order("created_at DESC").each do |reply| %>
									<p class="pr noborder">
										<em class="cr"><%= reply.user.display_name %></em>
										 回复说：<%= reply.content %>
										 <%- unless @design.user == current_user %>
										 	<%= link_to "删除", reply_msg_path(reply.id), :class => "reply_del", method: :delete, :confirm => "确定删除么?" %>
										 <%- end %>
									</p>
								<%- end %>
							</div>
						<%- end %>
					</div>
				</div>
			</div>
		</div>
	</div><!-- refresh-container -->
</div><!-- wrapper -->