<% content_for :head do -%>
  <%= stylesheet_link_tag 'style', 'weekstar' %>
<% end -%>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "master/title_master.png" %>" alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/master_interviews">大师访谈</a></em>
    <em><a href="/master_interviews">大师殿堂</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60'>
    <%= render :partial => "master_switch" %>
    <div class="list_box">
      <%- @articles.each do |article| %>
        <div class="list_main mt25 group">
          <div class="img_name"><%= image_tag article.preview_img_out.url(:original), :title => "装修设计师-#{article.name}", :alt => "装修设计师-#{article.name}" %>
            <h2><%= article.name %></h2>
          </div>
          <div class="list_detail">
            <h3><a href="/master_interviews/<%= article.id %>"><%= article.title %></a></h3>
            <p class="h3_sub"><span><%= article.created_at.to_formatted_s(:db) %></span></p>
            <p><%= raw truncate(article.intro, :length => 250) %></p>
            <p class="pt25"><a href="/master_interviews/<%= article.id %>"><img src="<%= asset_path "master/look_detail_btn.png" %>" alt="" /></a></p>
          </div><!--list_detail ends-->
        </div>
      <%- end %>
    </div><!--list_box ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @articles %>
    </div>
  </div><!--sub_bot ends-->
</div><!--main ends-->