<div class="main">
  <div class='sub_title tr'>
    <img src='/assets/master/title_master.png' alt="" />
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="#">首页</a><span class="arrow_1"></span><a href="#">大师殿堂</a><span class="arrow_2"></span><a class="fb" href="#">大师访谈</a>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60'>
    <div class="design_tit group pb10 line_b_dot">
      <ul class="design_filter group">
        <li class="<%= 'li_current' if params[:filter].nil? || params[:filter] == '全部' %> ">
        <a href="/master_interviews">全部</a>
        </li>
        <li class="<%= 'li_current' if params[:filter] == '海外' %> ">
        <a href="/master_interviews?filter=<%= URI.escape("海外") %>">海外</a>
        </li>
        <li class="<%= 'li_current' if params[:filter] == '港澳台' %> ">
        <a href="/master_interviews?filter=<%= URI.escape("港澳台") %>">港澳台</a>
        </li>
        <li class="<%= 'li_current' if params[:filter] == '中国大陆'%> ">
        <a href="/master_interviews?filter=<%= URI.escape("中国大陆") %>">中国大陆</a>
        </li>
      </ul>
    </div><!--design_tit ends-->
    <div class="list_btn line_b_dot">
      <a href="#"><img src="/assets/master/color_master_btn.png" /></a>
      <a href="#"><img src="/assets/master/space_master_btn.png" /></a>
    </div><!--list_btn ends-->
    <div class="list_box">
      <%- unless @articles.nil? %>
      <%- @articles.each do |article| %>
        <div class="list_main mt25 group">
          <div class="img_name"><%= image_tag article.preview_img_out.url(:original) %>
            <h2><%= article.name %></h2>
          </div>
          <div class="list_detail">
            <h3><a href="/master_interviews/<%= article.id %>"><%= article.title %></a></h3>
            <p class="h3_sub"><span><%= article.created_at.to_formatted_s(:db) %></span></p>
            <p><%= raw truncate(article.intro, :length => 250) %></p>
            <p class="pt25"><a href="/master_interviews/<%= article.id %>"><img src="/assets/master/look_detail_btn.png" alt="" /></a></p>
          </div><!--list_detail ends-->
        </div>
      <%- end %>
      <%- end %>
    </div><!--list_box ends-->
  </div><!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%= paginate @articles %>
    </div>
  </div><!--sub_bot ends-->
</div><!--main ends-->