<%- content_for :head do %>
    <%= stylesheet_link_tag 'style', 'weekstar' %>
    <style type="text/css">
        .shadow {
            zoom: 1;
        }
    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src="<%= asset_path "master/title_master.png" %>" alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
  <em><a class="fb" href="/master_interviews">大师访谈</a></em>
  <em><a href="#">大师殿堂</a><span></span></em>
  <em><a href="/">首页</a><span></span></em>
</div><!--sub_nav ends-->
  <div class='wrapper pb60'>
    <div class="profile group">
      <div class="video">
        <%= image_tag @article.preview_img_in.url(:original) %>
      </div>
      <!--video ends-->
      <div class="shadow profile_info">
          <div class="tit_bg"><h2>大师简介MASTER PROFILE</h2></div>
          <div class="over_text pr">
          <p class="profile_name"><%= @article.name %></p>
          <p class="line_b_dot"><span>国籍：<%= @article.nationality %></span><span>领域：<%= @article.master_field %></span></p>
          <p><%= raw @article.position %></p>
        </div>
      </div>
      <!--profile_info ends-->
    </div>
    <!--profile ends-->
    <div class="shadow mb25">
      <div class="section">
        <div class="tit_bg"><h2>访谈内容INTERVIEW</h2></div>
        <%- if !@article.interview_content_type.blank? %>
            <%- if @article.interview_content_type == "问答类型访谈" %>
                <%- t = @article.interview_content.split("\r\n\r\n") %>
                <%- (t.size/2).times do |i| %>
                    <div class="interview_box">
                      <div class="interview">
                        <h3><%= t[2*i] %></h3>

                        <p class="interview_icon"><%= t[2*i+1] %></p>
                      </div>
                    </div>
                <%- end %>
            <%- else %>
                <div class="interview_box text ft12">
                  <%- t = @article.interview_content.split(%r(\r\n)) %>
                  <%- t.each do |a| %>
                    <p><%= a %></p>
                  <%- end %>
                </div>
                <!--interview_box ends-->
            <%- end %>
        <%- end %>
      </div>
    </div>
    <div class="shadow mb25">
      <div class="section">
        <div class="tit_bg"><h2>作品欣赏WORKS</h2></div>
        <div class="works_slide">
          <a class="works_pre" href="javascript:void(0)"><img src="<%= asset_path "master/works_left.png" %>" alt=""/></a>
          <a class="works_next" href="javascript:void(0)"><img src="<%= asset_path "master/works_right.png" %>" alt=""/></a>

          <div class="img_box">
            <div class="img_list">
              <% @article.master_designs.each do |design| -%>
                <% design.master_design_uploads.each do |upload| -%>
                  <img class="list1" src="<%= upload.file.url(:interview) %>" alt=""/>
                <% end -%>
              <% end -%>
            </div>
          </div>
        </div>
        <!--works_slide ends-->

        <script type="text/javascript">
            var page = 1;
            var i = 5;
            $('a.works_next').click(function() {
                var $parent = $(this).parent('.works_slide');
                var $v_list = $parent.find('div.img_list');
                var $v_box = $parent.children('.img_box');

                var v_width = $v_box.width();
                var len = $v_list.find('img').length;
                var page_count = Math.ceil(len / i);

                if (!$v_list.is(':animated')) {
                    if (page == page_count) {
                        $v_list.animate({left:'0px'});
                        page = 1;

                    } else {
                        $v_list.animate({left:'-=' + v_width});
                        page++;
                    }
                }
            })

            $('a.works_pre').click(function() {
                var $parent = $(this).parent('.works_slide');
                var $v_list = $parent.find('div.img_list');
                var $v_box = $parent.children('.img_box');

                var v_width = $v_box.width();
                var len = $v_list.find('img').length;
                var page_count = Math.ceil(len / i);

                if (!$v_list.is(':animated')) {
                    if (page == 1) {
                        $v_list.animate({left:'-=' + v_width * (page_count - 1)});
                        page = page_count;

                    } else {
                        $v_list.animate({left:'+=' + v_width});
                        page--;
                    }
                }
            })
        </script>
      </div>
    </div>
    <div class="shadow">
      <div class="section">
        <div class="tit_bg"><h2>大师寄语MASTER MESSAGE</h2></div>
        <p class="master_msg master_icon_bg ft14"><%= @article.message %></p>
      </div>
    </div>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'></div>
  <!--sub_bot ends-->
</div><!--main ends-->
