- content_for :head do
  = stylesheet_link_tag 'manage/dialog_celebrity'
  = javascript_include_tag "manage/home_dialog_celebrities"

= render "manage/home_dialog_celebrities/breadcrumb"

#manage_dialog_celebrity_pege
  = simple_form_for @page,:url => "/manage/home_dialog_celebrities/save_data",:method => "post", :html => { :id => "manage_dialog_celebrity_pege_form",:class => "mt20"} do |f|

    %span.ltitle
      首页 - 对话名人 - 名人名家 - 本期名人
    .checkbox.mb20.mt20.shadow-white
      %label
        %input#check_last_celebrity{type: "checkbox", :name => "dialog_celebrity_page[last_celebrity]",:checked => @page.last_celebrity, :value=>"1"}
        %span.lbl 显示最新录入的名人在线
      .clearfix
        .fl 选择想要显示的名家
        .fl.ml5
          %select.form-control#celebrity-list{:name => "dialog_celebrity_page[celebrity_id]"}
            %option 选择名人
            - @celebrities.each do |_celebrity|
              %option{ value: _celebrity.id, selected: _celebrity.id == @page.celebrity_id, data: _celebrity.name }= _celebrity.name
        .fl.ml20 或者直接输入名人姓名
        %input#search-celebrity.fl.ml5{type: "text", placeholder: "输入名人姓名"}
        .fl.ml10
          %a.btn.btn-small.btn-primary#find-celebrity-btn.radius6{href: "javascript:;"} 查找

    %span.ltitle
      首页 - 对话名人 - 名人名家 - 本期名家
    .checkbox.mt20.shadow-white
      %label
        %input#check_last_master{type: "checkbox", :name => "dialog_celebrity_page[last_master]",:checked => @page.last_master, :value=>"1"}
        %span.lbl 显示最新一期的名家设计
      .clearfix
        .fl 选择想要显示的名家
        .fl.ml5
          %select.form-control#master-list{:name => "dialog_celebrity_page[master_id]"}
            %option 选择名家
            - @masters.each do |_master|
              %option{ value: _master.id, selected: _master.id == @page.master_id, data: _master.name }= _master.name
        .fl.ml20 或者直接输入名家姓名
        %input#search-master.fl.ml5{type: "text", placeholder: "输入名家姓名"}
        .fl.ml10
          %a.btn.btn-small.btn-primary#find-master-btn.radius6{href: "javascript:;"} 查找
    .mt20
      %input.btn.btn-small.btn-primary.ml20#save-btn.radius6{type: "submit", value: "保存"}
      %a.btn.btn-small.btn-primary.ml10#reset-btn.radius6{ href: "javascript:;" } 恢复



