 <%- content_for :head do %>
  <%= stylesheet_link_tag "style" %>
 <% end -%>

 <div class="main gift">
  <div class='wrapper gift_box'>
    <img src="<%= asset_path "paint_art/gift_banner3.png"%>"/>
    <div class="art_step1 art_step">
      <h2><img src=" <%= asset_path "paint_art/gift_step3_1.png"%>"/></h2>                
      <% unless @gift1.first.blank? %>
      <div class="awards_list" id="awards_slide1">                    
        <div class="awards_list_container">
          <div class="awards_list_slides group pr">
            <%- @dates_arr1.each do |d|%>
            <%- give_time = d[0] %>
            <%- end_time = d[1] %>
            <%- gift = @gift1.where("YEAR(give_time) = ? AND MONTH(give_time) = ? AND DAY(give_time) = ? AND YEAR(end_time)= ? AND MONTH(end_time) = ? AND DAY(end_time) = ? ", give_time.year,give_time.month,give_time.day,end_time.year,end_time.month,end_time.day) %>    
            <ul class="awards_slides_ul">
              <li class="awards_date pr"><h3><%= (give_time + 1.days).strftime("%Y/%m/%d") %> - <%= (end_time + 1.days).strftime("%Y/%m/%d") %></h3></li>
              <%- gift.each do |g| %>                                                       <li><em><%= g.gift_sub_type%></em><span><%= g.winner%></span><strong><%= g.gift_name%></strong></li>
              <%- end -%>   
            </ul>  
            <%- end %>    
          </div>
        </div>
        <a class="awards_next awards_btn_next" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_l#{@dates_arr1.size < 2 ? '' : 'n'}.png"%>"/></a>
        <a class="awards_per awards_btn_per" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_r#{@dates_arr1.size < 2 ? '' : 'n'}.png"%>"/></a>
      </div>
      <%- end -%>
    </div>

    <div class="art_step2 art_step">
      <h2><img src="<%= asset_path "paint_art/gift_step3_2.png"%>"/></h2>
      <% unless @gift2.first.blank? %>
      <div class="awards_list" id="awards_slide2">
        <div class="awards_list_container marl155 group">
          <div class="awards_list_slides marl155 group">
            <%- @dates_arr2.each do |d|%>
            <%- end_year = d.split('/')[0] %>
            <%- end_month = d.split('/')[1] %>
            <%- gift = @gift2.where("YEAR(end_time) = ? AND MONTH(end_time) = ? ",end_year,end_month) %>    
            <ul class="awards_slides_ul">
              <li class="awards_date pr"><h3><%= end_year + "/" + end_month %></h3></li>
              <%- gift.each do |g| %>                                                 
              <li><em><%= g.gift_sub_type%></em><span><%= g.winner%></span><strong><%= g.gift_name%></strong></li>
              <%- end -%>   
            </ul>  
            <%- end %>                              
          </div>
        </div>
        <a class="awards_next awards_btn_next" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_l#{@dates_arr2.size < 2 ? '' : 'n'}.png"%>"/></a>
        <a class="awards_per awards_btn_per" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_r#{@dates_arr2.size < 2 ? '' : 'n'}.png"%>"/></a>
      </div>
      <%- end -%>
    </div>

    <div class="art_step3 art_step">
      <h2><img src="<%= asset_path "paint_art/gift_step3_3.png"%>"/></h2>
      <% unless @gift3.first.blank? %>
      <div class="awards_list" id="awards_slide3">
        <div class="awards_list_container">
          <div class="awards_list_slides group pr">
            <%- @dates_arr3.each do |d|%>
            <%- give_time = d[0] %>
            <%- end_time = d[1] %>
            <%- gift = @gift3.where("YEAR(give_time) = ? AND MONTH(give_time) = ? AND DAY(give_time) = ? AND YEAR(end_time)= ? AND MONTH(end_time) = ? AND DAY(end_time) = ? ", give_time.year,give_time.month,give_time.day,end_time.year,end_time.month,end_time.day) %>    
            <ul class="awards_slides_ul">
              <li class="awards_date pr"><h3><%= (give_time + 1.days).strftime("%Y/%m/%d") %> - <%= (end_time + 1.days).strftime("%Y/%m/%d") %></h3></li>
              <%- gift.each do |g| %> 
              <li><em><%= g.gift_sub_type%></em><span><%= g.winner%></span><strong><%= g.gift_name%></strong></li>
              <%- end -%>   
            </ul>  
            <%- end %>    
          </div>
        </div>
        <a class="awards_next awards_btn_next" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_l#{@dates_arr3.size < 2 ? '' : 'n'}.png"%>"/></a>
        <a class="awards_per awards_btn_per" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_r#{@dates_arr3.size < 2 ? '' : 'n'}.png"%>"/></a>
      </div>
      <%- end -%>
    </div>

    <div class="art_step4 art_step">
      <h2><img src="<%= asset_path "paint_art/gift_step3_4.png"%>"></h2>
      <% unless @gift4.first.blank? %>
        <div class="awards_list" id="awards_slide4">
          <div class="awards_list_container marl155 group">
            <div class="awards_list_slides marl155 group">
              <%- @dates_arr4.each do |d|%>
                <%- end_year = d.split('/')[0] %>
                <%- end_month = d.split('/')[1] %>
                <%- gift = @gift4.where("YEAR(end_time) = ? AND MONTH(end_time) = ? ",end_year,end_month) %>    
                <ul class="awards_slides_ul">
                  <li class="awards_date pr"><h3><%= end_year + "/" + end_month %></h3></li>
                  <%- gift.each do |g| %>                                                 
                  <li><em><%= g.gift_sub_type%></em><span><%= g.winner%></span><strong><%= g.gift_name%></strong></li>
                  <%- end -%>   
                </ul>  
              <%- end %>                          
            </div>
          </div>
          <a class="awards_next awards_btn_next" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_l#{@dates_arr4.size < 2 ? '' : 'n'}.png"%>"/></a>
          <a class="awards_per awards_btn_per" href="javascript:void(0)"><img src="<%= asset_path "paint_art/awards_btn_r#{@dates_arr4.size < 2 ? '' : 'n'}.png"%>"/></a>
        </div>    
      <%- end -%> 
    </div>
  </div><!--wrapper ends-->
</div><!--main ends-->

<script type="text/javascript">
function awards_slide(ID){

  var page = 1;
  var i = 1;
  $(ID+'a.awards_btn_per').click(function(){
    var $parent = $(this).parent('div.awards_list');
    var $v_list = $parent.find('div.awards_list_slides');
    var $v_container = $parent.children('div.awards_list_container');

    var v_width = $v_container.width();
    var len = $v_list.find('ul.awards_slides_ul').length;
    var page_count = Math.ceil(len/i);

    if(!$v_list.is(':animated')){
      if(page == page_count){
        $v_list.animate({'left':'0px'});
        page = 1;

      }else{
        $v_list.animate({'left':'-='+v_width});
        page++;
      }
    }   
  })
  $(ID+'a.awards_btn_next').click(function(){
    var $parent = $(this).parent('div.awards_list');
    var $v_list = $parent.find('div.awards_list_slides');
    var $v_container = $parent.children('div.awards_list_container');

    var v_width = $v_container.width();
    var len = $v_list.find('ul.awards_slides_ul').length;
    var page_count = Math.ceil(len/i);

    if(!$v_list.is(':animated')){
      if(page == 1){
        $v_list.animate({left:'-='+v_width*(page_count-1)});
        page = page_count;

      }else{
        $v_list.animate({left:'+='+v_width});
        page--;
      }
    }
  }) 
}
awards_slide('#awards_slide1 ');
awards_slide('#awards_slide2 ');
awards_slide('#awards_slide3 ');
awards_slide('#awards_slide4 ');
</script>