<%- content_for :head do %>
  <%= stylesheet_link_tag "winnings/winner_list"%>
<% end -%>
<h3 class="chann_caption nomargin"><i class="icon-map icon-map8 icon_colors"></i><strong>精彩活动</strong><small>记录iColor的点滴精彩</small></h3>
<a href="<%= @banners[0].url? ? @banners[0].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[0].try(:file).try(:url, :list_1000x85), class: 'mt10' %></a>
<ul class="breadcrumb">
  <li><a href="/">首页</a> > </li>
  <li><a href="/designer_events">精彩活动</a> > </li>
  <li class="active">获奖名单</li>
</ul>
<hr class="border2 border2_mt2">
<div class="gift_list">
  <% if @event_kv %>
    <div class="imgs">
      <a href="<%= @event_kv.url %>" target="_blank">
        <%= image_tag(@event_kv.file.url(:gift_kv), usemap: "#event_kv_map") %>
      </a>
      <%- if @event_kv.kv_maps.any? %>
        <map id="event_kv_map" name="event_kv_map">
          <%- @event_kv.kv_maps.each do |map| %>
            <area shape="rect" coords="<%= map.x_line %>,<%= map.y_line %>,<%= map.x_line + map.width %>,<%= map.y_line + map.high %>" href="<%= map.url %>" target="_blank" />
          <%- end %>
        </map>
      <%- end %>
    </div>
  <% end %>

  <% if @regs.present? %>
    <div class="gift_item">
      <h3 class="title"><img src="<%=asset_path 'winner_list/gift_list/title1.jpg' %>" alt="" /></h3>
      <div id="" class="gift_carousel slider-bin">
        <div class="slider-container">
          <ul class="unstyled clearfix">
            <%- @regs.each do |d|%>
              <%- give_time = d[0] %>
              <%- end_time = d[1] %>
              <%- gift = @reg_luck.where("YEAR(give_time) = ? AND MONTH(give_time) = ? AND DAY(give_time) = ? AND YEAR(end_time)= ? AND MONTH(end_time) = ? AND DAY(end_time) = ? ", give_time.year,give_time.month,give_time.day,end_time.year,end_time.month,end_time.day) %>
              <li>
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="4"><%= (give_time + 1.days).strftime("%Y年%m月%d日") %> - <%= (end_time + 1.days).strftime("%Y年%m月%d日") %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- gift.in_groups_of(2).each do |g| %>
                      <tr>
                        <td class="noborder" width="266"><%= g[0].try(:winner) %></td>
                        <td class="bg_gray"><%= g[0].try(:gift_name) %></td>
                        <td width="266"><%= g[1].try(:winner) %></td>
                        <td class="bg_gray"><%= g[1].try(:gift_name) %></td>
                      </tr>
                    <%- end %>
                  </tbody>
                </table>
              </li>
            <%- end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <% if @votes.present? %>
    <div class="gift_item">
      <h3 class="title"><img src="<%=asset_path 'winner_list/gift_list/title2.jpg' %>" alt="" /></h3>
      <div id="" class="gift_carousel slider-bin">
        <div class="slider-container">
          <ul class="unstyled clearfix">
            <%- @votes.each do |d|%>
              <%- end_year = d.split('/')[0] %>
              <%- end_month = d.split('/')[1] %>
              <%- gift = @vote_luck.where("YEAR(end_time) = ? AND MONTH(end_time) = ? ",end_year,end_month) %>
              <li>
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="4"><%= "#{end_year}年#{end_month}月" %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- gift.in_groups_of(2).each do |g| %>
                      <tr>
                        <td class="noborder" width="266"><%= g[0].try(:winner) %></td>
                        <td class="bg_gray"><%= g[0].try(:gift_name) %></td>
                        <td width="266"><%= g[1].try(:winner) %></td>
                        <td class="bg_gray"><%= g[1].try(:gift_name) %></td>
                      </tr>
                    <%- end %>
                  </tbody>
                </table>
              </li>
            <%- end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left">
    <a href="<%= @banners[1].url? ? @banners[1].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[1].try(:file).try(:url, :list_670x85) %></a>
  </div>
  <div class="footer_banner mt10 pull-right">
    <a href="<%= @banners[2].url? ? @banners[2].url : 'javascript:void(0);' %>" target="_blank"><%= image_tag @banners[2].try(:file).try(:url, :list_310x85) %></a>
  </div>
</div>
