 <%- content_for :head do %>
  <%= stylesheet_link_tag "style" %>
 <% end -%>

 <div class="main winner-bin">
    <h1>因爱之名 刷新生活 ————立邦携手万名设计师为您免费设计新家</h1>
        <% if @regs.present? %>
            <div class="winner-reg pr pd30">
            <h2 class="pa">注册有奖</h2>
            <div class="winner-slide pr">
                    <a href="javascript:;" class="winner-prev pa">prev</a>
                    <a href="javascript:;" class="winner-next pa">next</a>
                    <div class="winner-slide-bin pr">
                        <div class="winner-slide-container">
                            <%- @regs.each do |d|%>
                                <%- give_time = d[0] %>
                                <%- end_time = d[1] %>
                                <%- gift = @reg_luck.where("YEAR(give_time) = ? AND MONTH(give_time) = ? AND DAY(give_time) = ? AND YEAR(end_time)= ? AND MONTH(end_time) = ? AND DAY(end_time) = ? ", give_time.year,give_time.month,give_time.day,end_time.year,end_time.month,end_time.day) %>    
                                <ul>
                                  <li class="h3"><%= (give_time + 1.days).strftime("%Y/%m/%d") %> - <%= (end_time + 1.days).strftime("%Y/%m/%d") %></li>
                                  <%- gift.each do |g| %> 
                                    <li><span><%= g.winner%></span><%= g.gift_name%></li>
                                  <%- end -%>   
                                </ul>  
                            <%- end %>

                        </div>
                    </div>
                </div>
            </div>
        <%- end -%>

        <% if @votes.present? %>
            <div class="winner-vote pd30">
            <h2>投票有礼</h2>
            <div class="winner-slide pr">
                    <a href="javascript:;" class="winner-prev pa">prev</a>
                    <a href="javascript:;" class="winner-next pa">next</a>
                    <div class="winner-slide-bin pr">
                        <div class="winner-slide-container">
                            <%- @votes.each do |d|%>
                            <ul>
                                <%- end_year = d.split('/')[0] %>
                                <%- end_month = d.split('/')[1] %>
                                <%- gift = @vote_luck.where("YEAR(end_time) = ? AND MONTH(end_time) = ? ",end_year,end_month) %>  
                                  <li class="h3"><%= end_year + "/" + end_month %></li>
                                  <%- gift.each do |g| %> 
                                    <li><span><%= g.winner%></span><%= g.gift_name%></li>
                                  <%- end -%>   
                            </ul>      
                            <%- end %>
                        </div>
                    </div>
                </div>
            </div>
        <%- end -%>

        <% if @months.present? %>
            <div class="winner-color pd30">
            <h2>月度最佳色彩奖/月度最佳设计奖</h2>
            <div class="winner-slide pr">
                    <a href="javascript:;" class="winner-prev pa">prev</a>
                    <a href="javascript:;" class="winner-next pa">next</a>
                    <div class="winner-slide-bin pr">
                        <div class="winner-slide-container">
                            <%- @votes.each do |d|%>
                            <ul>
                                <%- end_year = d.split('/')[0] %>
                                <%- end_month = d.split('/')[1] %>
                                <%- gift = @month_best.where("YEAR(end_time) = ? AND MONTH(end_time) = ? ",end_year,end_month) %>  
                                  <li class="h3"><%= end_year + "/" + end_month %></li>
                                  <%- gift.each do |g| %> 
                                    <li><span><%= g.winner%></span><%= g.gift_name%></li>
                                  <%- end -%>   
                            </ul>      
                            <%- end %>
                        </div>
                    </div>
                </div>
            </div>
        <%- end -%>
</div><!--main ends-->

<script type="text/javascript">
;(function($){
    $.fn.winnerSlider = function(config){
        config = $.extend({
            speed : 400
        }, config);
        return this.each(function(){
            var that = $(this),
                slide = that.children(),
                $ul = that.find('ul'),
                pages = $ul.length,
                width = that.width(),
                arr = [],
                pager = 1;
            if(pages < 2) return;

            $ul.each(function(i, ul){
                arr.push($(ul).remove());
            });
            slide.append(arr[0]);

            that.siblings('.winner-next').click(function(){
                playL(pager + 1);
                that.animate({'height' : slide.find('ul').last().outerHeight() + 'px'}, 'fast');
            });
            that.siblings('.winner-prev').click(function(){
                playR(pager - 1);
                that.animate({'height' : slide.find('ul').first().outerHeight() + 'px'}, 'fast');
            })
            function playL(page){
                if(slide.is(':animated')) return;
                var ul;
                if(page <= pages){
                    ul = arr[page - 1];
                    pager = page;
                } else {
                    ul = arr[0];
                    pager = 1;
                }
                slide.append(ul).animate({'left' : - width + 'px'}, config.speed,function (){
                    slide.find('ul').first().remove();
                    slide.css('left', 0);
                });
            }
            
            function playR(page){
                if(slide.is(':animated')) return;
                var ul;
                if(page === 0){
                    ul = arr[arr.length - 1];
                    pager = pages;
                } else {
                    ul = arr[page - 1];
                    pager = page;
                }
                slide.prepend(ul).css('left', - width + 'px').animate({'left': 0}, config.speed, function(){
                    slide.find('ul').last().remove();
                });
            }
        });
    };
    $(function(){
        $('.winner-slide-bin').winnerSlider();
    });
})(jQuery);
</script>