<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "dd" %>
    <style type="text/css">
      #filter_form .ddChild{top:257px!important;}
    </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag "uncompressed.jquery.dd" %>
    <script type="text/javascript">
        $(document).ready(function() {

            try {
                //$("body select").msDropDown();
                oHandler = $("#order,#design_style,#design_color,#design_usage").msDropDown({useSprite:'sprite'}).data("dd");
                $("#ver").html($.msDropDown.version);
            } catch(e) {
                alert("Error: "+e.message);
            }

            /*try {
             //$("body select").msDropDown();
             oHandler = $("#color_select_style").msDropDown({useSprite:'sprite'}).data("dd");
             $("#ver").html($.msDropDown.version);
             } catch(e) {
             alert("Error: "+e.message);
             }

             try {
             //$("body select").msDropDown();
             oHandler = $("#color_select_fct").msDropDown({useSprite:'sprite'}).data("dd");
             $("#ver").html($.msDropDown.version);
             } catch(e) {
             alert("Error: "+e.message);
             }
             */
        })

    </script>
<% end %>
<div class="main">
  <div class='sub_title text-right pt25'>
    <img src='<%= asset_path "design/title_design.png"%>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "色彩配搭", "/color_designs", :class => "fb" %></em>
    <em><%= link_to "设计鉴赏", "/weekly_stars" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper pb60 group'>
    <form class="design_tit group" method="get" id="filter_form">
      <ul class="design_filter group unstyled">
        <!-- <form method="get" id="filter_form"> -->
        <li>
            <%= select_tag "order", options_for_select(color_design_order_option, params[:order]), class: "arrow_filter li_current",
                    :onchange => "$('#filter_form').submit()" ,:style =>"width:108px;" %>
        <li>
          <%= select_tag "design_style", options_for_select(color_design_style_option, params[:design_style]), class: "arrow_filter li_current",
                         :onchange => "$('#filter_form').submit()" ,:style =>"width:108px;" %>
        </li>
          <li>
          <%= select_tag "design_usage", options_for_select(color_design_usage_option, params[:design_usage]), class: "arrow_filter",
                         :onchange => "$('#filter_form').submit()",:style =>"width:108px;" %>
        </li>
        <li>
          <%= select_tag "design_color", options_for_select(color_design_color_option, params[:design_color]), class: "arrow_filter",
                         :onchange => "$('#filter_form').submit()",:style =>"width:108px;" %>
        </li>
        <!-- </form> -->

      </ul>
    </form>
    <div class="design_result color_design">
    <%- unless @designs.nil? %>
      <% @designs.in_groups_of(3, false).each do |group| -%>
          <ul class="d_works group unstyled" style="margin:0">
            <% group.each do |design| -%>
                <li class="pr">
                  <a href="/color_designs/<%= design.id %>"><img src="<%= design.main_preview_img.url(:index) %>" title="<%= design.design_name %>" alt=""/></a>
                  <h3><%= design.design_name %></h3>

                  <p class="p2 group">
                    <%= link_to  raw("<span class='gzh ft12' id='votes_count#{design.id}'>#{design.votes_count}</span>"), votes_path(:voteable_id => design.id, :voteable_type => "ColorDesign"), :remote => true, :method => 'post' %>

                    <span class="zf ft12">转发 (<%=design.shares_count %>)</span>
                    <a href="/color_designs/<%= design.id %>#review_focus"><span class="pl ft12">评论 (<%=design.comments.length %>)</span></a>
                  </p>
                  <%= forward_links("#iColor分享#一幅精美的室内色彩搭配案例----【#{design.design_name}】，推荐色：立邦#{design.try(:recommend_color1)} #{ColorCode.find_by_code(design.recommend_color1).try(:name)}，让色彩融入生活，尽在iColor@刷新生活iColor，", "http://#{request.host_with_port}/color_designs/#{design.id}", design.main_preview_img.url, design.id.to_s, "ColorDesign") %>
                </li>
            <% end -%>
          </ul>
      <% end -%>
    <%- end %>
    </div>
    <!--design_result ends-->
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%- unless @designs.nil? %>
        <%= paginate @designs %>
      <%- end %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->