<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
<%- end %>
<div class="main">
  <div class='sub_title tr pt25'>
    <img src='<%= asset_path "design/title_design.png"%>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="/">首页</a><span class="arrow_1"></span><a href="#">设计鉴赏</a><span class="arrow_2"></span><a class="fb" href="/color_designs">色彩搭配</a>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper pb60 group'>
    <div class="design_tit group">
      <ul class="design_filter group">
        <li class=<%="#{'li_current' if params[:order] == '最新' }" %> >
          <a href="/color_designs?order=<%= URI.escape('最新')%>">最新</a>
        </li>
        <li class=<%="#{'li_current' if params[:order] == '最热' }" %> >
          <a href="/color_designs?order=<%= URI.escape('最热')%>">最热</a>
        </li>
        <li>
          <!--<a href="#">风格</a>-->
          <select id="color_select_style" class="arrow_filter li_current" style="width:100px;">
            <%- ColorDesign.style_select.each do |style| %>
                <option class="nobg">风格</option>
                <option class="nobg"><%= style %></option>
            <%- end %>
          </select>
        </li>
        <li>
          <!--<a href="#">户型</a>-->
          <select id="color_select_fct" class="arrow_filter" style="width:77px;">
            <%- ColorDesign.usage_select.each do |usage| %>
                <option class="nobg">功能区</option>
                <option class="nobg"><%= usage %></option>
            <%- end %>
          </select>
        </li>
        <li>
          <!--<a href="#">城市</a>-->
          <select id="color_select" class="arrow_filter" style="width:108px;">
            <%- ColorDesign.color_select.each do |color| %>
                <option class="nobg">色系</option>
                <option class="nobg"><%= color %></option>
            <%- end %>
          </select>
        </li>
      </ul>
    </div>
    <div class="design_result color_design">
    <%- unless @designs.nil? %>
      <% @designs.in_groups_of(3, false).each do |group| -%>
          <ul class="d_works group">
            <% group.each do |design| -%>
                <li class="pr">
                  <a href="/color_designs/<%= design.id %>"><img src="<%= design.main_preview_img.url(:index) %>" title="<%= design.design_name %>" alt=""/></a>
                  <h3><%= design.design_name %></h3>

                  <p class="p2 group">
                    <span class="gzh ft12">0</span><span class="zf ft12">转发 (0)</span><span class="pl ft12">评论 (<%=design.comments.length %>)</span>
                  </p>
                  <span class="popup_zf group none" style="bottom:35px;left:68px;"><span>一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></span>
                </li>
            <% end -%>
          </ul>
      <% end -%>
    <%- end %>
    </div>
    <!--design_result ends-->
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'>
    <div class="pager ft12">
      <%- unless @designs.nil? %>
        <%= paginate @designs %>
      <%- end %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->