<% content_for :head do -%>
    <%= stylesheet_link_tag 'weekstar' %>
    <style type="text/css">
        span.arrow_1 {
            right: 87px;
        }
        span.popup_zf{bottom: -1px; left: 165px;}
    </style>
    <%= stylesheet_link_tag 'style' %>
<% end -%>
<% content_for :tail do -%>
    <%= javascript_include_tag 'galleryB.js','reply' %>
    <%= render :partial => "recommend_color" %>
    <script type="text/javascript">
        $(".slide_thumb").click(function(event) {
            event.preventDefault();
            $(".big_image img").attr("src", $(event.target).parent().attr("href"));
        });
        function show_login() {
          o_in();
          $('#login_win').show();
          $("#design_message").hide();
          $('#overlay_new_user, #new_user').bind('ajax:error', function (xhr, status, error) {
              err_in();
          });
      }
        $(function(){
          if ($("#new_message")) {
            $("#new_message").click(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        
        });
    </script>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/color_designs">色彩配搭</a></em>
    <em><a href="/weekly_stars">设计鉴赏</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB pr">
      <h1><%= @design.design_name %></h1>

      <div class="subtitle">
        <div class="votes">
          所获票数：<span id="votes_count<%= @design.id %>"><%= @design.votes_count %></span>
          <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "ColorDesign"), :remote => true, :method => 'post' %>
        </div>
        <div class="operate pr">
          <!-- <span class="forward">转发 (<%= @design.shares_count %>)</span> -->
          <span class="review">评论 (<%= @design.comments.length %>)</span>
          <span class="forward" style="height:18px">一键转发：</span>
          <!-- JiaThis Button BEGIN -->
          <div id="ckepop">
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_kaixin001"></a>
            <a class="jiathis_button_renren"></a>
          </div>
          <!-- JiaThis Button END -->
          <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
          <!-- JiaThis Button END -->
          <script type="text/javascript" charset="utf-8">
          var jiathis_config = {
            boldNum:4,
            siteNum:4,
            showClose:false,
            sm:"kaixin001,renren,tsina,tqq",
            imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
            imageWidth:26,
            marginTop:150,
            pic: "http://www.icolor.com.cn/<%= @design.show_preview_img.url(:slide) %>",
            url:"http://<%=request.host_with_port%>/color_designs/<%=@design.id%>",
            title:"#iColor分享#一幅精美的室内色彩搭配案例----【<%=@design.design_name %>】，推荐色：立邦<%=@design.recommend_color1%> <%=@code.name if @code.present? %>，让色彩融入生活，尽在iColor@刷新生活iColor，",
            data_track_clickback:true
          }
          </script>
          <%#= forward_links("#iColor分享#一幅精美的室内色彩搭配案例----【#{@design.design_name}】，推荐色：立邦#{@design.recommend_color1} #{@code.name}，让色彩融入生活，尽在iColor@刷新生活iColor", "http://#{request.host_with_port}/color_designs/#{@design.id}", @design.show_preview_img.url(:slide), @design.id.to_s, "ColorDesign") %>
        </div>
      </div>

      <div class="btn_group fr" style="margin-top:5px;">
        <%= link_to "免费下载", "/color_designs/#{@design.id}/download", :class =>"icon_freedown" %>
        <%= link_to "收藏", user_collects_path(@design, color_design_id: @design.id), :remote => true, method: :post, id: "new_message", :class => "icon_colleting"  %>
        <%= link_to "全屏观看", "/color_designs/#{@design.id}/fullscreen", :class =>"icon_fullscreen" %>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image pr">
        <a href="<%= "/color_designs/#{@design_prev}" %>" class="link_prev_img"></a>
        <a href="<%= "/color_designs/#{@design_next}" %>" class="link_next_img"></a>
        <% if @design.show_preview_img -%>
            <%= image_tag @design.show_preview_img.url(:slide), :alt => "装修设计欣赏-#{@design.design_name}" %>
        <% end -%>
      </div>
      <div class="colorsbox " style="padding:10px 0; overflow:hidden;">
        <div class="color-picker group">
          <div class="colors_tit" style="float:left; margin:20px 15px 0 0;">
            <img src="<%= asset_path "master/colors_icon_tit.png" %>" />
          </div>
          <div id="colors_con" class="colors_con" style="float:left; padding:25px 0 0; height:35px; width:617px; position:relative;">
            <img src="<%= asset_path "design/colors2.gif" %>" />
            <div class="desc" style=" height:35px; width:617px; margin:25px 0;display:none; position:absolute; left:1px; top:1px; background:#fff;">
              <div class="list" style="height:35px;">
                <ul class="group" style="overflow:hidden;">
                </ul>
              </div>
            </div>
          </div>
          <div class="mall_link">
            <a href="http://www.nipponpaint.com.cn/web/home/dealer_search.jsp" target="_blank"><img src="<%= asset_path "master/go_shops.jpg"%>" /></a>
            <a href="http://nipponpaint.tmall.com/shop/viewShop.htm?prt=1338961882482&prc=1" target="_blank"><img src="<%= asset_path "master/mall_link_btn.png" %>" /></a>
          </div>
        </div>
      </div>

      <div class="properties">
        <table class="propertyA th_bold">
          <tr><th>风格：</th>
            <td><%= @design.design_style %></td>
          </tr>
          <tr><th>功能区：</th>
            <td><%= @design.design_usage %></td>
          </tr>
          <tr><th>色系：</th>
            <td><%=  @design.design_color %></td>
          </tr>
          <tr><th>推荐色：</th>
            <%- color1, color2, color3 = search_color_code(@design.recommend_color1), search_color_code(@design.recommend_color2), search_color_code(@design.recommend_color3) %>
            <%- color_var = [(color1 if color1),(color2 if color2),(color3 if color3)].first %>
            <%- if color_var && color_var.code =~ /^FM|^WM/ %>
            <td><%= ('立邦木器漆'+ color_var.code ) if color_var %></td>
            <%- else %>
            <td><%= ('立邦'+ color_var.code + color_var.name) if color_var %></td>
            <%- end %>  
          </tr>
          <tr><th>搭配理念：</th>
            <td><%= @design.design_thought %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span id="review_focus">评论</span>(<%= @design.comments.length %>)</h4>
            <span class="r"><span class="words_tip">0</span>/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
                <%= f.hidden_field :commentable_id, value: params[:id] %>
                <%= f.hidden_field :commentable_type, value: 'ColorDesign' %>
                <p class="input">
                  <%= f.text_area :content, :class => "area_text" %>
                </p>

                <p class="button">
                  <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
                </p>
            <% end %>
          </div>
        </div>
        <div class="pager ft12">
          <%- unless @comments.nil? %>
              <%= paginate @comments %>
          <%- end %>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <% @comments.each do |c| %>
                <li>
                  <div class="bar">                    
                    <% if c.user %>
                      <a href="/users/<%= c.user.id %>" class="user"><%= c.user.display_name %></a>
                    <% else %>
                      <a href="#" class="user">匿名</a>
                    <% end %>
                    <span class="time"><%= c.created_at.to_date %></span>
                  </div>
                  <div class="reply">
                    <a href="javascript:void(0)">回复</a>
                  </div>
                  <div class="content">
                    <%= c.content %>
                  </div>

                  <div class="reply_area none cl pr">
                    <em class="pa">◆</em>
                    <span class="pa">◆</span>

                    <div class="reply_input clear">
                      <%= form_for(ReplyMsg.new) do |f| %>
                          <%= f.hidden_field :show_id, value: @design.id %>
                          <%= f.hidden_field :comment_id, value: c.id %>
                          <%= f.hidden_field :reply_type, value: "color_designs" %>
                          <%= f.text_area :content, :rows => 2 %>
                          <input type="image" src="<%= asset_path "btn.jpg" %>">
                      <%- end %>
                    </div>
                    <!--reply_input ends-->
                  </div>
                  <!--reply_area ends-->
                  <div class="reply_list none cl pr">
                    <em class="pa">◆</em>
                    <span class="pa">◆</span>

                    <div class="reply_con ft14 clear">
                      <div class="clear">
                        <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                            <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                              <p class="reply_tabs fl">
                                <a href="/users/<%= r.user.id %>"><%= r.user.display_name %></a>回复:<%= r.content %>
                              </p>

                              <p class="fr">
                                <%= r.created_at.to_date %>
                              </p>
                            </div>
                        <%- end %>
                      </div>
                    </div>
                    <!--reply_con ends-->
                  </div>
                  <!--reply_list ends-->
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div class='sub_bot pr'></div>
</div>