<% content_for :head do -%>
    <%= stylesheet_link_tag 'weekstar' %>
    <style type="text/css">
        span.arrow_1 {
            right: 87px;
        }
    </style>
<% end -%>
<% content_for :tail do -%>
    <%= javascript_include_tag 'galleryB.js','reply' %>
    <%= render :partial => "recommend_color" %>
    <script type="text/javascript">
        $(".slide_thumb").click(function(event) {
            event.preventDefault();
            $(".big_image img").attr("src", $(event.target).parent().attr("href"));
        });
    </script>
<% end -%>
<div class="main page_weekstar page_weekstar_detail">
  <div class='sub_title tr pt25'>
    <img src="<%= asset_path "design/title_design.png" %>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/color_designs">居室色彩配搭</a></em>
    <em><a href="/weekly_stars">装修设计欣赏</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="weekstart_titleB">
      <h1><%= @design.design_name %></h1>

      <div class="subtitle">
        <div class="votes">
          所获票数：<span id="votes_count<%= @design.id %>"><%= @design.votes_count %></span>
          <%= link_to image_tag("design/d_vote_btn.png"), votes_path(:voteable_id => @design.id, :voteable_type => "ColorDesign"), :remote => true, :method => 'post' %>
        </div>
        <div class="operate pr">
          <span class="forward">转发 (0)</span>
          <span class="review">评论 (<%= @design.comments.length %>)</span>
          <div class="popup_zf group none" style="bottom:-35px; left:25px;"><span style="background:none; padding:0; margin:0; line-height:14px;">一键转发：</span><a class="popup_zf_qq" href="#"></a><a  class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a></div>
        </div>
      </div>
      <div class="fullscreen_btn">
        <%= link_to "全屏观看", "/color_designs/#{@design.id}/fullscreen" %>
      </div>
    </div>
    <div class="weekstart_detail">
      <div class="big_image">
        <% if @design.show_preview_img -%>
            <%= image_tag @design.show_preview_img.url(:slide), :alt => "装修设计欣赏-#{@design.design_name}" %>
        <% end -%>
      </div>
      <div class="color-picker" style="padding-top:0px;">
      <div class="color">
        <div class="palettes">
          <%- 8.times do %>
              <div class="palette">
                <div class="desc desc3">
                  <div class="title"></div>
                  <div class="list">
                    <ul>
                    </ul>
                  </div>
                </div>
              </div>
          <%- end %>
        </div>
      <!--[if IE 6]>
      <script type="text/javascript">
          if( $.browser.msie && $.browser.version < 7 ) {
              $(function(){
                  $('div.palette').hover(function(){
                      $(this).find('div.desc').show();
                  },function(){
                      $(this).find('div.desc').hide();
                  });
              })
          }
      </script>
      <![endif]-->
      <div class="gotaobao"><a href="http://nipponpaint.tmall.com/shop/viewShop.htm">访立邦淘宝商城，点选更多产品颜色</a></div>
      </div>
      </div>
      <div class="properties">
        <table class="propertyA th_bold">
          <tr><th>风格：</th>
            <td><%= @design.design_style %></td>
          </tr>
          <tr><th>功能区：</th>
            <td><%= @design.design_usage %></td>
          </tr>
          <tr><th>色系：</th>
            <td><%=  @design.design_color %></td>
          </tr>
          <tr><th>推荐色：</th>
            <%- color1, color2, color3 = search_color_code(@design.recommend_color1), search_color_code(@design.recommend_color2), search_color_code(@design.recommend_color3) %>
            <%- color_var = [(color1 if color1),(color2 if color2),(color3 if color3)].first %>
            <%- if color_var.code =~ /^FM|^WM/ %>
            <td><%= ('立邦木器漆'+ color_var.code ) if color_var %></td>
            <%- else %>
            <td><%= ('立邦'+ color_var.code + color_var.name) if color_var %></td>
            <%- end %>  
          </tr>
          <tr><th>搭配理念：</th>
            <td><%= @design.design_thought %></td>
          </tr>
        </table>
      </div>
      <div class="review_wrap">
        <div class="reviewform">
          <div class="bar">
            <h4><span>评论</span>(<%= @design.comments.length %>)</h4>
            <span class="r"><span class="words_tip">0</span>/140</span>
          </div>
          <div class="form-content">
            <%= form_for(Comment.new) do |f| %>
                <%= f.hidden_field :commentable_id, value: params[:id] %>
                <%= f.hidden_field :commentable_type, value: 'ColorDesign' %>
                <p class="input">
                  <%= f.text_area :content, :class => "area_text" %>
                </p>

                <p class="button">
                  <%= image_submit_tag "design/submitA.gif", value: "提交", alt: "提交" -%>
                </p>
            <% end %>
          </div>
        </div>
        <div class="pager ft12">
          <%- unless @comments.nil? %>
              <%= paginate @comments %>
          <%- end %>
        </div>
        <div class="review_list">
          <ul class="review_listA">
            <% @comments.each do |c| %>
                <li>
                  <div class="bar">
                    <span class="user"><%= c.user.display_name %></span><span class="time"><%= c.created_at.to_date %></span>
                  </div>
                  <div class="reply">
                    <a href="javascript:void(0)">回复</a>
                  </div>
                  <div class="content">
                    <%= c.content %>
                  </div>

                  <div class="reply_area none cl pr">
                    <em class="pa">◆</em>
                    <span class="pa">◆</span>

                    <div class="reply_input clear">
                      <%= form_for(ReplyMsg.new) do |f| %>
                          <%= f.hidden_field :show_id, value: @design.id %>
                          <%= f.hidden_field :comment_id, value: c.id %>
                          <%= f.hidden_field :reply_type, value: "color_designs" %>
                          <%= f.text_area :content, :rows => 2 %>
                          <input type="image" src="<%= asset_path "btn.jpg" %>">
                      <%- end %>
                    </div>
                    <!--reply_input ends-->
                  </div>
                  <!--reply_area ends-->
                  <div class="reply_list none cl pr">
                    <em class="pa">◆</em>
                    <span class="pa">◆</span>

                    <div class="reply_con ft14 clear">
                      <div class="clear">
                        <%- c.reply_msgs.order("created_at DESC").each do |r| %>
                            <div class="clear  <%= "reply_line" if r != c.reply_msgs.first %> ">
                              <p class="reply_tabs fl">
                                <%= r.user.display_name %>回复:<%= r.content %>
                              </p>

                              <p class="fr">
                                <%= r.created_at.to_date %>
                              </p>
                            </div>
                        <%- end %>
                      </div>
                    </div>
                    <!--reply_con ends-->
                  </div>
                  <!--reply_list ends-->
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <div class='sub_bot pr'></div>
</div>