<% content_for :head do -%>
<%= stylesheet_link_tag 'uploadify' %>
<style type="text/css">
body{background:url(<%= asset_path 'spring/spring/spring_bg.jpg'%>) no-repeat top center;}
.footer{background-color:#dcdcdc;}
.spring2013{background:url(<%= asset_path 'spring/spring/spring2013.png'%>) no-repeat;width:822px;height:1037px;margin:340px auto 10px;padding:33px 35px 0 35px;_background-image:url(<%= asset_path 'spring/spring/spring2013.gif'%>);}
.spring_form{background:#fff url(<%= asset_path 'spring/spring/spring_form.jpg'%>) no-repeat left top;width:769px;height:370px;border:2px solid #b7b7b7;padding:20px 18px 0 31px;}
.spring_photo{background:#fff;width:373px;height:261px;border:1px solid #b7b7b7;margin-right:17px;padding:8px 10px 33px 10px;}
.spring_img{width:373px;height:261px;display:table-cell;vertical-align:middle;}
.spring_img i{background:url(<%= asset_path 'spring/spring/spring_camera.png'%>) no-repeat;width:131px;height:110px;position:absolute;left:-36px;bottom:-79px;_background-image:url(<%= asset_path 'spring/spring/spring_camera.gif'%>);}
.spring_img img{max-width:373px;max-height:261px;}
.spring_upload{background:url(<%= asset_path 'spring/spring/spring_upload.png'%>) no-repeat;width:178px;height:51px;left:50%;top:50%;margin-left:-89px;margin-top:-20px;_background-image:url(<%= asset_path 'spring/spring/spring_upload.gif'%>);}

.spring_users{width:353px;height:36px;line-height:36px;}
.spring_form .tr{padding:5px 0;}
.spring_form textarea{width:350px;height:232px;}
.spring_users,.spring_form textarea{background:#fff;border:1px solid #b7b7b7;font:bold 16px "Microsoft Yahei";display:block;}
.spring_submit{background:url(<%= asset_path 'spring/spring/spring_submit.jpg'%>) no-repeat;width:101px;height:44px;bottom:-2px;left:50%;border:0;margin-left:-51px;}
.spring_more{bottom:8px;right:8px;font-style:italic;}

.spring2013 li{background:url(<%= asset_path 'spring/spring/spring_list.jpg'%>) 0 22px no-repeat;margin:10px 0;padding:10px 0 10px 36px;}
.spring2013 li span{font-size:18px;}
.spring2013 li p{margin:13px 0;}
li.spring2{background-position:0 -61px;}
li.spring3{background-position:0 -109px;}
li.spring4{background-position:0 -182px;}
li.spring5{background-position:0 -326px;}
li.spring6{background-position:0 -446px;}

.spring_card{background:url(<%= asset_path 'spring/spring/spring_card.png'%>) no-repeat;width:833px;height:549px;margin-left:-416px;margin-top:-275px;}
.spring_layer{background:#fff;position:fixed;_position:absolute;width:100%;height:100%;left:0;top:0;bottom:0;right:0;opacity:0.5;filter:alpha(opacity=50);cursor:pointer;}

.spring_btn{background:url(<%= asset_path 'spring/spring/spring_btn.png'%>) no-repeat;width:136px;height:40px;text-indent:-999em;right:100px;bottom:-35px;_background-image:url(<%= asset_path 'spring/spring/spring_btn.gif'%>);}
.spring_img div{position: absolute!important;left:50%; top: 50%;margin: -12px 0 0 -89px;}
.spring_img object{position:absolute;left:0;top:0;}
</style>
<% end %>
<% content_for :tail do %>
  <%= javascript_include_tag "swfobject.js", "jquery.uploadify.js" %>
  <script type="text/javascript" charset="utf-8">
    <%- session_key = Rails.application.config.session_options[:key] -%>
    $(function() {
      if($('#user_signed').val() != 'true') {
        o_in()
        $('.unlogin').show()

        $('#spring_upload').click(function(event){
          event.preventDefault();
          if($('#user_signed').val() != 'true'){
            o_in()
            $('.unlogin').show()
          }
        });
      } else {
        $('#spring_upload').uploadify({
          swf : '/uploadify/uploadify.swf',
          cancelImage : '/uploadify/uploadify-cancel.png',
          // progressData : 'percentage',
          buttonText : "<a class='spring_upload pa'></a>",
          fileTypeDesc : '图片文件',
          fileTypeExts : '*.jpg',
          successTimeout : 6000,
          fileSizeLimit : '5MB',
          // uploadLimit : 60,
          width : 178,
          height : 51,
          multi : false,
          auto : true,
          checkExisting : false,
          transparent : true,
          uploader : '<%= user_design_images_path(current_user || 0) %>',
          onUploadSuccess : function(file, data, response) {
            $('#overlay').hide()
            $('#spring_upload_queue').hide()
            var dat = eval('(' + data + ')');
            if (dat.result == 'success') {
              var image_id = dat.upload.split("/")[2];
              $("#attendee_image_id").val(image_id);
              $("#upload_img").attr("src",dat.path);

              // var image = $("#attendee_image_id").val()
              // if(image != '' && image != undefined){
              //   $('.flash').show()
              //   $('#overlay').show()
              // }
            }else{
              alert("图片上传失败");
            };
          },
          postData : {
            '_http_accept': 'application/javascript',
            'format' : 'json',
            '_method': 'post',
            '<%= session_key %>' : '<%= cookies[session_key] %>',
            'authenticity_token': '<%= form_authenticity_token %>'
          },
          onUploadError : function(file, errorCode, errorMsg, errorString) {
            alert('您的网络不给力，请稍后尝试'+ errorCode + errorMsg);
          }
        });
      }
    });
    function submit_blessing() {
      if($('#user_signed').val() != 'true') {
        o_in()
        $('.unlogin').show()

        $('#upload_photo').click(function(event){
          event.preventDefault();
          if($('#user_signed').val() != 'true'){
            o_in()
            $('.unlogin').show()
          }
        });
      } else {
        log = ''
        flag = true
        var title = $('#title').val();
        var attendee_image_id = $('#attendee_image_id').val();
        var blessing = $('#blessing').val();
        if (title == null || title == ""){
          log += '请@好友！';
          flag = false;
        }
        if (attendee_image_id == null || attendee_image_id == ""){
          log += '请上传照片！';
          flag = false;
        }

        if (blessing == null || blessing == ""){
          log += '请填写祝福语！'
          flag = false;
        }

        if (flag == false){
          alert(log);
        }else{
          $.post("<%=blessing_special_event_path%>",{attendee_image_id:attendee_image_id,title:title,blessing:blessing},function(){});
        }
      }
    }
</script>
<% end %>
<div class="wrapper ft14 spring2013">
	<%= hidden_field_tag 'user_signed', current_user.present? %>

  <form class = "spring_form pr ft16">
		<div class="spring_photo fl">
			<div class="spring_img pr tc">
				<a href='javascript:;' class='spring_upload pa' id='spring_upload'></a>
				<img src="<%= asset_path 'spring/spring/spring_img.jpg'%>" id="upload_img"/>
				<i></i>
			</div>
		</div><!-- spring_photo -->
		<div class="fl cw ft12">
			<input type="text" class="spring_users" name="title" id="title"/>
			<p class="tr">@3位好友，以逗号区分</p>
			<%=text_area_tag 'blessing', '' ,:maxlength => "120" %>
			<p class="tr">写下您的新春祝福吧！</p>
		</div>
    <%= hidden_field_tag 'attendee_image_id' %>
		<input type="button" value="" class="spring_submit pa" onclick="submit_blessing()" />
		<a href="<%=inspirations_path%>" class="spring_more cr pa ft14" target="_blank">查看更多美图>></a>
  </form>

	<ul class="ft14 cr">
		<li><img src="<%= asset_path 'spring/spring/spring_heading.jpg'%>" alt="活动内容介绍" /></li>
		<li class="spring2">
			<span>活动对象：</span>
			iColor的注册用户
		</li>
		<li class="spring3">
			<span>活动时间：</span>
			2013.2.4-2013.2.17
		</li>
		<li class="spring4">
			<span>活动步骤：</span><br /><br />
			<p>Step1：注册用户上传春节年味的图片,图片将会被同步到灵感秀频道。</p>
			<p>Step2：@3位好友并写祝福，提交后弹出个性化电子贺卡。</p>
			<p>Step3：确认后电子贺卡将同步发送至新浪微博和iColor个人心情。</p>
		</li>
		<li class="spring5">
			<span>活动奖励：</span><br /><br />
			<p>每天随机抽取获奖者5名，发送iColor新春小礼物包。</p>
			<p>活动结束后公布获奖名单并寄送礼品。</p>
		</li>
		<li class="spring6">
			<span>活动说明：</span><br /><br />
			<p>每位注册用户的活动次数不限。</p>
		</li>
	</ul>
</div><!--wrapper-->
<div class="spring_layer none"></div>
<div class="spring_card abs_center none">
  <img src="" id ="spring_image" />
  <%= form_tag send_greeting_cards_special_event_path, :method => :post do %>
    <input type="hidden" id="friends" name="friends">
    <input type="hidden" id="image_id" name="image_id">
    <input type="hidden" id="special_event_id" name="special_event_id">
    <input type="submit" class="spring_btn pa" value="确定">
  <% end %>
</div><!-- spring_card -->