<%= stylesheet_link_tag 'uploadify' %>
<%= javascript_include_tag "swfobject.js", "jquery.uploadify.js" %>
<style type="text/css">
.uploadifyQueueItem{background-color: transparent!important;}
.main{width:963px;padding-bottom:75px;background:#900202;margin-bottom:50px;}
.active_area{position:relative;background:url("<%= asset_path 'special_event/newyear_bg3.jpg'%>") no-repeat;height:203px;text-align:center;}
.active_area .button_small{margin-top:15px;}
.link1{position:absolute;right:86px;bottom:30px;color:#ffffff;font:14px "Microsoft Yahei";text-decoration:underline;}
#layer{width:100%;height:100%;position:fixed;_position:absolute;top:0;left:0;background: black;cursor: pointer;opacity: 0.9;-moz-opacity: 0.9;filter: alpha(opacity=90);z-index:10000;display:none;}
.new_year{position:fixed;_position:absolute;top:50%;left:50%;margin-left:-395px;margin-top:-300px;background:url("<%= asset_path 'special_event/bg.png'%>") no-repeat;width:765px;height:606px;padding-right:25px;z-index:100001;display:none;}
.new_year p.success_info{margin-top:365px;background:url("<%= asset_path 'special_event/t_img1.png'%>") no-repeat right top;}
.new_year p.unsuccess_info{margin-top:395px;background:url("<%= asset_path 'special_event/f_img1.png'%>") no-repeat right top;}
p.success_info,p.unsuccess_info{padding:148px 129px 0 50px;text-align:right;overflow:hidden;}
.checkbox{float:left;width:22px;height:22px;background:url("<%= asset_path 'special_event/check_bg_f.png'%>") no-repeat;margin:5px 10px;}
.checkbox_checked{background:url("<%= asset_path 'special_event/check_bg_t.png'%>") no-repeat!important;}
.new_year_close{position:absolute;top:-10px;right:-10px;}
.flash{width:800px;height:620px;position:fixed;_position:absolute;top:50%;left:50%;margin-left:-400px;margin-top:-310px;z-index:100001;display:none;}
.main .tips{background:url("<%= asset_path 'special_event/newyear_bg4.jpg'%>") no-repeat left top;padding:25px 85px;min-height:317px;_height:317px;}
.main .tips p{color:#fff;margin:25px 0;line-height:16px;font-family:"Microsoft Yahei";}
.main .tips span.display_block{display:block;margin:5px 0 5px 48px;}
.main .tips i{display:inline-block;background:url("<%= asset_path 'special_event/icon.png'%>") no-repeat 0 0;width:33px;height:33px;position:relative;top:12px;margin-right:10px;}
.main .tips strong,.main .tips span{line-height:33px;}
.main .tips strong{font-size:18px;}
.main .tips span{font-size:14px;}
.main .tips i.icon_time{background-position:0 -70px;}
.main .tips i.icon_step{background-position:0 -145px;}
.main .tips i.icon_award{background-position:0 -290px;}
.main .tips i.icon_state{background-position:0 -360px;}
.morethree{width:610px;height:345px;position:fixed;_position:absolute;top:50%;left:50%;margin-left:-305px;margin-top:-175px;display:none;z-index: 100001;}
a.button_small{
  display:inline-block;
  background:url("<%= asset_path 'special_event/button.jpg'%>") no-repeat top center;
  height:31px;
  width:70px;
  text-align:center;
  color:#712222;
  font:bold 16px/31px "Microsoft Yahei";
}
.uploadify{color:red;font-size:26px;font-family:'Microsoft Yahei';font-style:italic;line-height:145px;display:block;width:453px;height:141px;margin:0 auto;text-decoration:underline;}
#upload_photo_queue {
  line-height:145px;display:block;width:400px;height:141px;margin:0 auto;
}
.uploadify span.uploadifyButtonText{color:red;line-height:145px;font-size: 26px;font-style: italic;}
#upload_photo object{
  left: 0;
}
/*.uploadify{margin:0 auto;}*/
.uploadify:hover .uploadifyButton {
  background-color: transparent!important;;
}
.uploadifyButton {
  background-color: transparent!important;;
}
#upload_photo_queue{
  position: relative;
  top: -50px;
}
.cancel{display:inline;}
/*#overlay{z-index:10000;}*/
</style>

<script type="text/javascript" charset="utf-8">
<%- session_key = Rails.application.config.session_options[:key] -%>
$(function() {
  if($('#user_signed').val() != 'true'){
    o_in()
    $('.unlogin').show()
  }

  swfobject.registerObject("FlashID");

  $('#upload_photo').click(function(event){
    event.preventDefault();
    if($('#user_signed').val() != 'true'){
      o_in()
      $('.unlogin').show()
    }
  });
  $('#upload_photo').uploadify({
    swf : '/uploadify/uploadify.swf',
    cancelImage : '/uploadify/uploadify-cancel.png',
    // progressData : 'percentage',
    buttonText : "点击上传图片",
    fileTypeDesc : '图片文件',
    fileTypeExts : '*.jpg',
    successTimeout : 6000,
    fileSizeLimit : '5MB',
    uploadLimit : 60,
    width : 453,
    height : 141,
    multi : false,
    auto : true,
    checkExisting : false,
    transparent : true,
    uploader : '<%= user_design_images_path(current_user || 0) %>',
    onUploadSuccess : function(file, data, response) {
      var dat = eval('(' + data + ')');
      if (dat.result == 'success') {
        var image_id = dat.upload.split("/")[2];
        $("#attendee_image_id").val(image_id);
        alert("图片上传成功");
        var image = $("#attendee_image_id").val()
        if(image != '' && image != undefined){
          $('.flash').show()
          $('#overlay').show()
        }
      }else{
        alert("图片上传失败");
      };
    },
    postData : {
      '_http_accept': 'application/javascript',
      'format' : 'json',
      '_method': 'post',
      '<%= session_key %>' : '<%= cookies[session_key] %>',
      'authenticity_token': '<%= form_authenticity_token %>'
    },
    onUploadError : function(file, errorCode, errorMsg, errorString) {
      alert('您的网络不给力，请稍后尝试'+ errorCode + errorMsg);
    }
  });

  $('.overlay').show()

  $('#overlay').click(function(){
    $(this).hide();
    $('.new_year').hide();
    $('.flash').hide();
  })
  $('.js-close').click(function(){
    $('.new_year').hide();
    $('.morethree').hide();
    $('#overlay').hide()
  })
  $(window).resize(function(){
    fix();
  })

  var ie6 = $.browser.msie && $.browser.version == 6;

  if(ie6){fix();}

  $('.js-checkbox').click(function(){
    $(this).toggleClass('checkbox_checked')
  })

  $('.js-flash').click(function(){
    var image = $("#attendee_image_id").val()
    if(image != '' && image != undefined){
      $('.flash').show();
      $('#overlay').show();
      $(".js-checkbox").addClass("checkbox_checked");
    }
  })

  $('.js-weibo').click(function(){
    if ($(this).parent().has(".checkbox_checked").size() > 0) {
      if($(this).parent().has(".success_info").size() > 0) {
        zhong = 1;
      } else {
        zhong = 0;
      }
      $.post('/special_events/2/weibo', {zhong: zhong}, function(data, textStatus, xhr) {
      });
    };
    $('.new_year').hide();
    $('.morethree').hide();
    $('#overlay').hide()
  })
});

function fix(){
  $('#overlay').css({'height' : document.body.scrollHeight + 'px', 'width' : document.documentElement.clientWidth + 'px'});
}

function zadan() {
  var image = $("#attendee_image_id").val()
  $('.flash').hide();
  if(image != '' && image != undefined) {
    $.post('/special_events/2/award', {image_id: image}, function(data, textStatus, xhr) {
    });
  }
}
</script>

<div class="main">
  <%= hidden_field_tag 'user_signed', current_user.present? %>
  <div><%= image_tag 'special_event/newyear_bg1.jpg' %></div>
  <div><%= image_tag 'special_event/newyear_bg2.jpg' %></div>
  <div class="active_area">
    <div style='height:145px;overflow:hidden;'>
      <%= hidden_field_tag 'attendee_image_id' %>
      <a href="#" class="upload_img" id='upload_photo'></a>
    </div>
    <a href="http://www.icolor.com.cn/inspirations?from=top" class="link1">查看更多美图...</a><!--link to 灵感秀 -->
  </div>
  <div class="tips">
    <h3><%= image_tag 'special_event/rules_title.png' %></h3>
    <p>
      <i class="icon_object"></i>
      <strong>活动对象：</strong>
      <span>iColor所有的注册用户</span>
    </p>
    <p>
      <i class="icon_time"></i>
      <strong>活动时间：</strong>
      <span>2013.1.1-2013.1.3</span>
    </p>
    <p>
      <i class="icon_step"></i>
      <strong>活动步骤：</strong>
      <span class="display_block">Step1：注册用户上传新年相关美图</span>
      <span class="display_block">Step2：上传成功后即可参与砸金蛋抽奖</span>
      <span class="display_block">Step3：活动分享至已绑定的新浪微博和iColor个人心情</span>
    </p>
    <p>
      <i class="icon_award"></i>
      <strong>活动奖励：</strong>
      <span>奖品包括立邦288色卡或缤纷净味12色套装一份（奖品随机发放）</span>
    </p>
    <p>
      <i class="icon_state"></i>
      <strong>活动说明：</strong>
      <span class="display_block">每位注册用户每天获10次砸金蛋机会，中奖者可活动iColor提供的活动奖励</span>
    </p>
    <p class="tr"><a href="/" class="button_small">返回</a></p>
  </div>
</div><!--main ends-->

<div class="flash">
  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="793" height="618">
    <param name="movie" value="/flash/SE_kick_egg.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="6.0.65.0" />
    <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="/flash/SE_kick_egg.swf" width="793" height="618">
      <!--<![endif]-->
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="6.0.65.0" />
      <param name="expressinstall" value="Scripts/expressInstall.swf" />
      <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
      <div>
        <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
        </div>
      <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>
<% if current_user %>
<div class="new_year has_award">
  <a href="#" class="new_year_close js-close"><%= image_tag 'special_event/close.png' %></a>
    <p class="success_info">
    <a href="javascript:;" class="checkbox checkbox_checked js-checkbox"></a>
    <%= image_tag 'special_event/f_txt.png', border: "0", usemap: "#Map"%>
    <map name="Map" id="Map">
      <area shape="rect" coords="170,26,409,48" href="http://www.iColor.com.cn" />
    </map>
    <span style="display:block;color:#fff;font-size:16px;font-family:'Microsoft Yahei';margin-top:5px;text-align:left;margin-left:49px;">
      请到<a href="/users/<%=current_user.id%>" style="color:#487ac5;text-decoration:underline;font-style:italic;">个人账户</a>
      填写或核实您的邮寄地址，我们将尽快寄出您的获奖礼物！
    </span>
  </p><!-- 中奖 -->
  <button type="button" style="position:absolute;right:25px;bottom:20px;" class="js-weibo"><%= image_tag 'submit_btn.jpg' %></button>
</div>
<% end %>
<div class="new_year no_award">
  <a href="#" class="new_year_close js-close"><%= image_tag 'special_event/close.png' %></a>
  <p class="unsuccess_info">
    <a href="javascript:;" class="checkbox checkbox_checked js-checkbox"></a>
    <%= image_tag 'special_event/f_txt.png', border: "0", usemap: "#Map"%>
    <map name="Map" id="Map">
      <area shape="rect" coords="170,26,409,48" href="http://www.iColor.com.cn" />
    </map>
  </p>
  <button type="button" style="position:absolute;right:25px;bottom:20px;" class="js-weibo"><%= image_tag 'submit_btn.jpg' %></button>
</div>

<div class="morethree">
  <a href="#" class="new_year_close js-close"><%= image_tag 'special_event/close.png' %></a>
  <%= image_tag 'special_event/bg2.png', border: "0", usemap: "#Map2" %>
  <map name="Map2" id="Map2">
    <area shape="rect" coords="384,169,460,211" href="http://www.icolor.com.cn/inspirations?from=top" />
  </map>
</div>