<%- content_for :head do %>
    <%= stylesheet_link_tag "news" %>
    <style type="text/css">
        span.arrow_1 {
            right: 281px;
            _right: 290px;
        }

        span.arrow_2 {
            right: 210px;
            _right: 220px;
        }

        span.arrow_3 {
            right: 136px;
            _right: 143px;
        }

        .popup_zf {
            width: 180px;
            position: absolute;
            left: 15px;
            bottom: 20px;
            *bottom: 25px !important;
            _bottom: 30px;
            background: #fff;
            padding: 5px 0 !important;
            border: 1px solid #f1f1f1;
        }

        .popup_zf span {
            float: left;
            font-size: 12px;
            padding: 3px 5px !important;
            marn: 0;
        }

        .popup_zf a {
            float: left;
            display: inline;
            width: 16px;
            height: 16px;
            background: url(<%= asset_path "master/icon_zf.png"%>) no-repeat;
            margin: 0px 3px;
        }

        .popup_zf a.pupot_zf_qq {
            background-position: left 0;
        }

        .popup_zf a.popup_zf_sina {
            background-position: left -16px;
        }

        .popup_zf a.popup_zf_rr {
            background-position: left -32px;
        }

        .popup_zf a.popup_zf_kaixin {
            background-position: left -48px;
        }

    </style>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "news/title_tools.png" %>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <a href="index.html">首页</a>
    <span class="arrow_1"></span>
    <a href="#">实用工具</a>
    <span class="arrow_2"></span>
    <a href="#">配色工具</a>
    <span class="arrow_3"></span>
    <a class="fb" href="#">爱彩电脑配色软件</a>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper clear'>
    <div class="app_bg fl ft12">
      <div class="app_top clear">
        <h1 class="fl fb">快捷测量工具</h1>
        <span class="fl">发布时间：2012年3月28日</span>
        <ul class="fr">
          <li class="trans fl pr"><a href="#">转发(11)</a>

            <div class="popup_zf group none" style="position:absolute;">
              <span>一键转发：</span><a class="popup_zf_qq" href="#"></a><a class="popup_zf_sina" href="#"></a><a class="popup_zf_rr" href="#"></a><a class="popup_zf_kaixin" href="#"></a>
            </div>
          </li>
          <li class="commt fl"><a href="#">评论(12)</a></li>
        </ul>
      </div>
      <!--app_top ends-->
      <p>想要为你家居的室内外做色彩搭配吗？立邦公司开发的配色工具将令你的色彩搭配变得简单而直观。马上试用一下吧。</p>

      <div class="app fl pr">
        <div class="app_slides pr">
          <div class="app_container pr">
            <a href="#"><img src="<%= asset_path "news/app_img.jpg" %>"/></a>
            <a href="#"><img src="<%= asset_path "news/app_img.jpg" %>"/></a>
            <a href="#"><img src="<%= asset_path "news/app_img.jpg" %>"/></a>
            <a href="#"><img src="<%= asset_path "news/app_img.jpg" %>"/></a>
          </div>
          <!--app_container ends-->
        </div>
        <!--app_slides ends-->
        <a href="javascript:void(0)" class="app_prev pa"></a>
        <a href="javascript:void(0)" class="app_next pa"></a>
      </div>
      <!--app ends-->
      <div class="app_right fl">
        <div class="apps tc">快速测量工具</div>
        <a href="#" class="app_down db">(126)</a>

        <p class="tc">大小：32.4MB<br/>支持系统：Win7/WinXP</p>
      </div>
      <!--app_right ends-->
    </div>
    <!--app_bg ends-->
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'></div>
  <!--sub_bot ends-->
</div><!--main ends-->
