<script type="text/javascript">
  $(function(){

    $('#upload_image form[data-redirect_url]').bind('ajax:success', function(evt, data) {
      alert("保存成功");
      if ($.trim(window.flag).length == 0) {
        var i_id = <%= @index_id %>;
        if ($.trim(i_id).length == 0) {
          var url = $(this).data('redirect_url');
          window.location.href = url;
        } else {
          var next_id = i_id + 1
          if (next_id > 4) {
            next_id = 1
          }
          $('.link' + next_id).click();
        }
      } else {
        var url = $(this).data('redirect_url');
        window.location.href = url;
      }
    }).bind("ajax:error", function(evt, data) {
      alert(data.responseText);
    });

    $('#get_vote').on('click', function(event) {
      var url = $('#url').val();
      $.post("home_image_lib/search_vote",{url: url},function(result){
        $('#vote').val(result);
      });
    });

  });

  function open_link() {
    var url = $('#url').val();
    window.open(url, "_blank");
  }

  function btn_save() {
    // var flag = 1;
    window.flag = 1; 
  }
</script>

<style>
.design_form .control-label{width:auto;}
.form_edit{margin-top:20px;}
/*.editarea{width:570px;}*/
.editarea .media{border-bottom:1px dotted #ddd;padding-bottom:20px;}
.editarea .media:last-child{border:0;}
/*.editarea img{width:150px;height:80px;}*/
.showarea{width:300px;height:270px;}
.showarea a{margin:0 8px 8px 0;border:1px solid #ddd;position:relative;}
.showarea a span{position:absolute;width:100%;height:100%;text-align:center;z-index:-1}
.showarea a.img_big span{line-height:260px;}
.showarea a.img_small span{line-height:80px;}
.showarea .img_big,.showarea .img_big img{width:200px;height:260px;}
.showarea .img_small,.showarea .img_small img{width:80px;height:80px;}
</style>

<div class="span6" id="upload_image">
<%= form_tag('home_design_show/save_data', :id => 'edit_form', :remote => true, :'data-redirect_url' => "/manage/home_design_show?design_type=#{@design_type}") do %>
<%= hidden_field_tag 'design_id', @home_design_show.id %>
<h5>编辑信息</h5>
<div class="clearfix">
  <label for="" class="pull-left control-label mr10">标题</label>
  <input type="text" id="title" name="title" class="pull-left input-xlarge mr10" value="<%= @title %>" data-maxlength=11 maxlength=11 />
  <p class="pull-left control-label text-error">标题最多输入11个汉字</p>
</div>
<div class="clearfix form_edit">
  <div class="pull-left editarea">
    <div class="media">
      <a class="pull-left" href="#">
        <img src="<%= @home_design_show.file.url(:list_80x80) %>" alt="">
      </a>
      <div class="media-body">
        <div class="clearfix mt5">
          <label for="" class="pull-left control-label mr10">位置</label>
          <select name='position' class=' pull-left input-small'>
            <option value=1>左1</option>
            <option value=2>右1</option>
            <option value=3>右2</option>
            <option value=4>右3</option>
          </select>
        </div>
        <div class="clearfix mt5">
          <label for="" class="control-label">链接</label>
          <input type="text" id="url" name="url" class="pull-left input-xlarge mr10" value="<%= @home_design_show.url %>">
          <p class="pull-left control-label" onclick="open_link();return false;" style="color:#0088CC;">检测链接</p>
        </div>

        <div class="clearfix mt5">
          <label class="control-label">投票数</label>
          <div class="controls">
          <input type="text" id="vote" name="vote" class="input-mini" value="<%= @home_design_show.vote %>">
            <%= link_to "获取投票数", "javascript:void(0);", :id => "get_vote", :class => 'btn btn-link' %>
          </div>
        </div>

      </div>
    </div>
    <div class="media">
    </div>
    <div class="media">
    </div>
  </div>
  <div class="pull-right showarea">
    <a class="pull-left img_big" href="javascript:;">
      <span>左一 200x260</span>
      <!-- <img src="images/gallery/image-2.jpg" alt=""> -->
    </a>
    <a class="pull-left img_small" href="javascript:;">
      <span>右一 80x80</span>
      <!-- <img src="images/gallery/thumb-5.jpg" alt=""> -->
    </a>
    <a class="pull-left img_small" href="javascript:;">
      <span>右二 80x80</span>
      <!-- <img src="images/gallery/thumb-2.jpg" alt=""> -->
    </a>
    <a class="pull-left img_small" href="javascript:;">
      <span>右三 80x80</span>
      <!-- <img src="images/gallery/thumb-1.jpg" alt=""> -->
    </a>
  </div>
</div>

<%= submit_tag "保存", :id => 'save', :onclick => "return btn_save();", data: { disable_with: "请等待..." }, :class => 'btn btn-large btn-primary' %>
<%= submit_tag "保存并跳转到下一张", :id => 'next_save', data: { disable_with: "请等待..." }, :class => 'btn btn-large btn-primary' %>

<% end %>
</div>


