<%= form_tag cubit_fixtures_path, :class=>"pull-left chann_warp chann1_left nomargin", :remote => true do %>
  <h3 class="chann_tit"><img src="<%= asset_path 'manage/channel/chann_tip1.jpg'%>" alt="chann_tip1" /></h3>
  <p class="linet1"><img src="<%= asset_path 'manage/channel/chann_tip2.jpg'%>" alt="chann_tip2" /></p>
  <h4 class="text-center mt10"><img src="<%= asset_path 'manage/channel/chann_tit1.jpg'%>" alt="chann_tit1"></h4>
  <div class="options dott1 clearfix">
    <div class="pull-left form-inline option">
      <label for="input1" class="control-label">姓名<span>*</span></label>
      <%= text_field :cubit_fixtures, :name ,:class => "input-medium"%>
    </div>
    <div class="pull-left form-inline option">
      <label for="input2" class="control-label">电话<span>*</span></label>
      <%= text_field :cubit_fixtures, :phone, :class => "input-medium" %>
    </div>
    <div class="pull-left form-inline option">
      <label for="input3" class="control-label">装修面积<span>*</span></label>
      <%= text_field :cubit_fixtures, :fixture_area, :class => "input-medium" %>
    </div>
    <div class="pull-left form-inline option">
      <label for="" class="control-label">期望风格<span>*</span></label>
      <%=  select_tag "cubit_fixtures[style]", options_from_collection_for_select(ImageLibraryCategory.style, "title", "title",params[:style]),:prompt=>'请选择', :class => "input-medium"  %>
    </div>
    <div class="pull-left form-inline option">
      <label for="input4" class="control-label">楼盘名称<span>*</span></label>
      <%= text_field :cubit_fixtures, :house_name, :class => "input-medium" %>
    </div>
    <div class="pull-left form-inline option">
      <label for="" class="control-label">房型<span>*</span></label>
      <%=  select_tag "cubit_fixtures[fixture_type]", options_from_collection_for_select(ImageLibraryCategory.where(parent_id: 1), "title", "title",params[:tag]),:prompt=>'请选择',class: "input-medium"%>
    </div>
    <div class="pull-left form-inline option linkageseclet2">
      <label for="" class="control-label">装修区域<span>*</span></label>
        <select class="level_1 input-small" name=""></select>
        <select class="level_2 input-small" name=""></select>
        <select class="level_3 input-small" name="cubit_fixtures[area_id]"></select>
    </div>
    <div class="pull-left form-inline option">
      <label for="" class="control-label">装修预算<span>*</span></label>
      <%=  select_tag "cubit_fixtures[pre_price]", options_from_collection_for_select(ImageLibraryCategory.cost, "title", "title",params[:style]),:prompt=>'请选择', :class => "input-medium"  %>
    </div>
  </div>
  <div class="text-center dott1 pt30"><%= submit_tag "",:class => 'input_submit'%></div>
<% end %>
<% content_for :tail do %>
  <script type="text/javascript">
  $(function(){
    var bool = true;
    var one = true;
    $('.chann1_left').submit(function(){
      var input_submit = $(this).find('.input_submit');
      if(one){
        input_submit.bind('click', inputTimeout);
        setTimeout(function(){
          input_submit.unbind('click', inputTimeout);
          one = bool = true;
        },5000);
        one = false;
      }
      return bool;
    })
    function inputTimeout(){
      bool = false;
      alert('系统正在处理上一次提交的需求，请稍后再试！')
    }
  })
  </script>
<% end %>