<% content_for :head do -%>
    <%= stylesheet_link_tag 'news' %>
    <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
<% end -%>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "news/title_owner.png"%>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/channel/access">片区快查</a></em>
    <em><a href="/channel">业主通道</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <div class="owner_map clear">
      <% if MagicSetting.promote_designers -%>
          <% MagicSetting.promote_designers.split(",").each do |user_id| -%>
              <% user = User.find(user_id.to_i) rescue nil -%>
              <%= link_to image_tag(user.avatar.file.url(:access_wall), :title => "装修设计师-#{user.display_name}", :alt => "装修设计师-#{user.display_name}"), user_path(user) if !user.avatar.nil? && !user.avatar.file.nil? %>
          <% end -%>
      <% end -%>
      <!--<img src='<%#= asset_path "news/kv.jpg" %>'/>-->
    </div>
    <!--owner_map ends-->
    <div class="owner_bar ft12 clear">
      <%= form_tag("/channel/access", :method => "put") do%>
      <img src="<%= asset_path "news/hot_search.png"%>" class="fl"/>
      <select id="province" class="level_1">
        <option>请选择省--不限</option>
      </select>
      <select id="city" class="level_2">
        <option>请选择市--不限</option>
      </select>
      <select id="country" class="level_3" name="area_id">
        <option>请选择区--不限</option>
      </select>
      <select name="user_role">
        <option value="">----请选择----</option>
        <option value="designer_0">设计师（在职）</option>
        <option value="designer_1">设计师（在读）</option>
        <option value="company">家装公司</option>
      </select>
      <input type="text" value="请输入关键字" class="owner_search fl" name="keywords"/>
      <input type="image" src="<%= asset_path "news/search_btn.jpg"%>" class="owner_sub fl"/>
      <%- end %>
    </div>
    <!--owner_bar ends-->
    <%- unless params.keys.include?("page") %>
        <%- if MagicSetting.recommend_designers %>
            <% MagicSetting.recommend_designers.split(",").each do |user_id| -%>
                <% user = User.find(user_id.to_i) rescue nil -%>
                <div class="owner clear">
                  <%= link_to image_tag(user.avatar.file.url(:access_icon), :class => "fl", :title => "装修设计师-#{user.display_name}", :alt => "装修设计师-#{user.display_name}"), user_path(user) if !user.avatar.nil? && !user.avatar.file.nil? %>

                  <div class="owner_center fl ft12">
                    <span class="owner_name fl fb ft14"><%= user.display_name %></span>
                    <span class="owner_city fl">(<%= user.city.try(:name) %>)</span>
                    <%= link_to "进入主页", user_path(user), :class => "fl" %>
                    <div class="owner_info fl pr">
                      <span></span>
                      <%= user.signature %>
                    </div>
                    <!--owner_info ends-->
                  </div>
                  <!--owner_center ends-->
                  <%= link_to "我要咨询", user_messages_path(user), :class => "owner_ask tc ft14 fr fb", :id => "channel_access" %>
                </div>
            <% end -%>
        <%- end %>
    <%- end %>

    <%- if params.keys.include?("page") %>
        <% @design_users.each do |user| %>
            <div class="owner clear">
              <%= link_to user_path(user) do %>
                  <%- if user.avatar %>
                      <img src="<%= user.avatar.try(:file).try(:url, :access_icon) %>" class="fl" title="装修设计师-<%= user.display_name %>" alt="装修设计师-<%= user.display_name %>">
                  <%- else %>
                      <%= image_tag "news/regimg_bg.jpg", :width => "57", :height => "57", :class => 'fl' %>
                  <%- end %>
              <% end -%>

              <div class="owner_center fl ft12">
                <span class="owner_name fl fb ft14"><%= user.display_name %></span>
                <span class="owner_city fl">(<%= user.city.try(:name) %>)</span>
                <%= link_to "进入主页", user_path(user), :class => "fl" %>
                <div class="owner_info fl pr">
                  <span></span>
                  <%= user.signature %>
                </div>
                <!--owner_info ends-->
              </div>
              <!--owner_center ends-->
              <%= link_to "我要咨询", user_messages_path(user), :class => "owner_ask tc ft14 fr fb", :id => "channel_access" %>
            </div>
        <%- end -%>
    <%- end %>
  </div>
  <!--wrapper ends-->
  <div class='sub_bot ft12 pr'>
    <div class="pager ft12">
      <%= paginate @design_users %>
    </div>
    <!--pager ends-->
  </div>
  <!--sub_bot ends-->
</div><!--main ends-->
<script type="text/javascript" charset="utf-8">
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level_1', null, '请选择省');
        sel.bind('.level_2');
        sel.bind('.level_3');
    });
</script>
