<% content_for :head do -%>
    <%= stylesheet_link_tag "imgbase","2013base","2013upload" %>
    <style type="text/css">
    body, button, input, select, textarea {
      font-size: 12px;
    }
  </style>
    <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
<% end -%>
<div class="wrapper">
  <div class="channel">
    <ul class="tabnav" style="margin-top: 101px;">
        <li class="current" data-tab="#tabnav1">设计快查</li>
        <li data-tab="#tabnav2"><a href="/faqs">家装问答</a></li>
        <li data-tab="#tabnav3"><a href="/faqs#tips">装修贴士</a></li>
        <li data-tab="#tabnav4"><a href="/mix_colors/new">配色咨询</a></li>
        <li data-tab="#tabnav5"><a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/" target="_blank">刷新服务</a></li>
    </ul>

    <div class="tab_contents">
      <div class="tabspan" id="tabnav1">
        <%= form_tag "/channel/access", :method => "put", :class=>"channel_search clear" do %>
            <fieldset class="linkageseclet fl">
                <select id="province" class="level_1" name="province_id">
                  <option>请选择省--不限</option>
                </select>
                <select id="city" class="level_2" name="city_id">
                  <option>请选择市--不限</option>
                </select>
                <select id="country" class="level_3" name="area_id">
                  <option>请选择区--不限</option>
                </select>
                <select name="user_role">
                  <option value="">请选择身份</option>
                  <option value="designer_0">设计师（在职）</option>
                  <option value="designer_1">设计师（在读）</option>
                  <option value="company">家装公司</option>
                </select>
            </fieldset>
            <fieldset class="search fl">
                <input type="text" class="fl" name="keywords">
                <input type="image" src="<%= asset_path "search-icon.jpg"%>">
            </fieldset>
            <fieldset>
                <button class="channel_btn"></button>
            </fieldset>
        <% end %>


          <ul class="channel_list clear">
            <% @design_users.each do |user| %>
            <% sort_input = MagicSetting.recommend_designs %>
            <% design_count = user.designs.order("designs.id in (#{sort_input}) desc").joins(:design_images).group("imageable_id") if user.designs%>
            <% design = user.designs.order("created_at desc").first %>
              <li style="height:205px">
                  <div class="clear" style="height: 155px;width:273px;overflow:hidden;">
                    <% if design %>
                      <%= link_to user_design_path(user.id, design.id) do %>
                        <img class="fl" src="<%=design.try(:design_images).first.try(:file) if user.designs.first%>" width="208px" height="155">
                      <% end %>
                    <% else %>
                      <img class="fl" width="208px" height="155">
                    <% end %>
                    <%= link_to user_path(user) do %>
                      <%- if user.avatar %>
                          <img src="<%= user.avatar.try(:file).try(:url, :access_icon) %>" class="fl" title="装修设计师-<%= user.display_name %>" alt="装修设计师-<%= user.display_name %>">
                      <%- else %>
                          <%= image_tag "news/regimg_bg.jpg", :width => "57", :height => "57", :class => 'fl' %>
                      <%- end %>
                    <% end %>
                  </div>
                  <h3><%=design.title if design%></h3>
                  <p><%=user.display_name ? user.display_name : user.name%> (<%=user.area.name if user.area%>)</p>
                  <p><span><%=design_count.length%></span> 作品 / <span><%=user.inspirations.count%></span> 灵感秀</p>
              </li>
            <%- end -%>
          </ul><!-- channel_list end -->


        <div class="pager ft12">
           <%= paginate @design_users  if @design_users%>
        </div>

      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<script type="text/javascript" charset="utf-8">
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level_1', null, '请选择省');
        sel.bind('.level_2', null, '请选择市');
        sel.bind('.level_3', null, '请选择区');
    });
</script>