<% content_for :head do -%>
  <style type="text/css">
    a,a:hover{text-decoration: none;}
    .channel3 .chann_warp{padding:11px 13px 20px;height:670px;}
    .lists_text .item_img img{height:115px;}
  </style>
    <%= javascript_include_tag "/location.js", "LinkageSelect.js", "/resources/js/plugins/exp/exp.js" %>
<% end -%>
<div class="container">
    <h3 class="chann_caption nomargin"><i class="icon-map icon-map4 icon_colors"></i><strong>业主通道</strong><small>免费为您提供全方位的家装咨询和服务</small></h3>
    <div class="mt10"><img src="<%=@ibnner1.file.url(:list_1000x85) if @ibnner1%>"></div>
    <ul class="breadcrumb">
      <li><a href="#">首页</a> > </li>
      <li><a href="#">业主通道</a> > </li>
      <li class="active">设计快查</li>
    </ul>
    <hr class="border2 border2_mt2">

    <div class="channel1 clearfix">
      <%= render :partial => "cubit_form" %>

      <div class="pull-right chann_warp chann1_right">
        <h5 class="chann_tit chann_linebg">查看更多装修资讯 了解相关装修服务</h5>

        <div class="media media_chann">
          <a class="pull-left" href="/mix_colors/new">
            <i class="icon-chann icon-chann_colors"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a class="media-heading_link_a" href="/mix_colors/new">在线配色服务</a></h4>
            <p class="media_con">您是不是对家居的色彩搭配感到烦恼，不知该如何选择了呢？如今您大可不用担心啦...</p>
          </div>
        </div>
        <div class="media media_chann">
          <a class="pull-left" href="/channel/refresh_service">
            <i class="icon-chann icon-chann_fresh"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a class="media-heading_link_a" href="/channel/refresh_service">立邦刷新服务</a></h4>
            <p class="media_con">不用搬家、不用您动手的专业涂刷服务！我们帮您搬移及保护家具，全程不用您动手，只需短短几天，即可实现焕然一新的家...</p>
          </div>
        </div>
        <div class="media media_chann">
          <a class="pull-left" href="/images">
            <i class="icon-chann icon-chann_imgbase"></i>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a class="media-heading_link_a" href="/images">装修图库</a></h4>
            <p class="media_con">寻找2013最新家装图片，给您专属的家装设计参考！各种风格、各种户型和各种配色，这里一网打尽....</p>
          </div>
        </div>

        <div class="media tit_con pt15">
          <ul class="ul_dot nomargin">
            <% @channel_tips.each do |channel_tip| %>
            <li>
              <h5 class="nomargin"><a href="#" target="_blank"><%=channel_tip.title%></a></h5>
              <p class=""><a href="#"><%=channel_tip.content%></a></p>
            </li>
            <% end %>
            <li class="text-right noborder unstyled"><a href="/faqs" class="a_hover_red">查看更多装修小贴士>></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="channel1 chann_warp chann2_warp">
      <div class="clearfix chann_linebg">
        <div class="chann_tit pull-left">寻找更多<span class="text_alert">同城</span>设计师和家装公司，为您出谋划策</div>
        <%= form_for @search, :url => channel_access_path,:html => {:method => :get,:class => "channel_search pull-right"} do |f| %>
          <fieldset class="linkageseclet1 pull-left">
            <select id="province" class="level1_1" name="province_id">
            </select>
            <select id="city" class="level1_2" name="city_id">
            </select>
            <select id="country" class="level1_3" name="area_id">
            </select>
            <%= select_tag "user_role", options_for_select([["请选择身份",""],["设计师(在职)","designer_0"],["设计师(在读)","designer_1"],["家装公司","company"]],params[:user_role]) %>
          </fieldset>
          <fieldset class="search pull-left">
            <%= f.text_field :user_username_or_user_name_like,:class => "input-medium pull-left", :placeholder=>"Search" %>
            <input type="image" class="input_image noborder pull-left" src="<%= asset_path 'manage/channel/search-icon.jpg'%>">
          </fieldset>
          <fieldset class="pull-left">
            <button class="channel_btn noborder">搜索</button>
          </fieldset>
        <% end %><!-- channel_search -->
      </div>
      <!-- <hr class="chann_linebg noborder" /> -->
      <ul class="lists_text unstyled clearfix">

        <%- @design_users.each do |design| %>
          <% user = design.user %>
          <li>
            <div class="item_bg">
              <div class="item">
                <a href="<%= user_design_path(user,user.designs.first)%>" class="item_img"><%= image_tag(design.file.url(:channel_image),height: '115') rescue ""%></a>

                <h6><a href="<%= user_design_path(user,user.designs.first)%>"><%=user.designs.first.title%></a></h6>
                <p><%=user.display_name ? user.display_name : user.name%> <%="(#{user.area.name})" if user.area %></p>
                <p><span><%= user.designs.includes(:design_images).count %></span>套作品</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="pager">
        <%= paginate @design_users  if @design_users%>
      </div>
    </div>

    <div class="clearfix">
      <div class="footer_banner pull-left"><a href="<%=@ibnner2.url if @ibnner2 %>"><img src="<%=@ibnner2.file.url(:list_670x85) if @ibnner2 %>"></a></div>
      <div class="footer_banner pull-right"><a href="<%=@ibnner3.url if @ibnner3 %>"><img src="<%=@ibnner3.file.url(:list_310x85) if @ibnner3%>"></a></div>
    </div>

    <div class="channel3 clearfix mt20">
      <%= render :partial => "company_star_list"%>
      <div class="chann2_right pull-right">
        <div><small>分享您的心路历程,记录您的装修点滴</small></div>
        <hr class="border2 border2_mt2">
        <%= render :partial => "icolor_mood" %>
      </div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level_1', null, '省/直辖市');
        sel.bind('.level_2', null, '城市');
        sel.bind('.level_3', null, '区');
    });
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level1_1', null, '省/直辖市');
        sel.bind('.level1_2', null, '城市');
        sel.bind('.level1_3', null, '区');
    });
    // $(function(){
    //   $('.circle_pager a').click(function(e){
    //     e.preventDefault();
    //     var a_index = $(this).index();
    //     $(this).siblings().removeClass('active');
    //     $(this).addClass('active');
    //     $(this).parent().siblings('div.list_page').eq(a_index).siblings('.list_page').hide();
    //     $(this).parent().siblings('div.list_page').eq(a_index).show();
    //   });
    // });
    // $('.deshed_line a.sure_submit').bind("click",function(){
    //   $('form.submit_form').submit();
    // });
</script>