<% content_for :head do -%>
    <%= stylesheet_link_tag "imgbase","2013base","2013upload","/resources/js/plugins/exp/css/style.css" %>
    <style type="text/css">
    body, button, input, select, textarea {
      font-size: 12px;
    }
  </style>
    <%= javascript_include_tag "/location.js", "LinkageSelect.js","2013main", "/resources/js/plugins/exp/exp.js" %>
<% end -%>
<div class="wrapper">
  <div class="channel">
    <!-- <ul class="tabnav clear" style="margin-top: 101px;">
        <li class="current" data-tab="#tabnav1">设计快查</li>
        <li data-tab="#tabnav2"><a href="/faqs">家装问答</a></li>
        <li data-tab="#tabnav3"><a href="/faqs#tips">装修贴士</a></li>
        <li data-tab="#tabnav4"><a href="/mix_colors/new">配色咨询</a></li>
        <li data-tab="#tabnav5"><a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/" target="_blank">刷新服务</a></li>
    </ul> -->
    <div class="tab_contents">
      <div class="tabspan" id="tabnav1">
        <a name="cubit"></a>
        <%= render :partial => "cubit_form" %>
        <a name="search"></a>
        <%= form_for @search, :url => channel_access_path,:html => {:method => :get,:class => "channel_search clear"} do |f| %>
            <fieldset class="linkageseclet2 fl">
                <select id="province" class="level_1" style="width:134px;" name="province_id">
                </select>
                <select id="city" class="level_2" style="width:134px;" name="city_id">
                </select>
                <select id="country" class="level_3" style="width:134px;" name="area_id">
                </select>
                <%= select_tag "user_role", options_for_select([["请选择身份",""],["设计师(在职)","designer_0"],["设计师(在读)","designer_1"],["家装公司","company"]],params[:user_role]) %>
            </fieldset>
            <fieldset class="search fl">
              <%= f.text_field :user_username_or_user_name_like,:class => "fl" %>
                <input type="image" src="<%= asset_path "search-icon.jpg"%>">
            </fieldset>
            <fieldset>
                <button class="channel_btn"></button>
            </fieldset>
        <% end %>
        <ul class="channel_list clear">
          <%- @design_users.each do |design| %>
          <% user = design.user %>
            <li style="height:205px">
              <div class="clear" style="height: 155px;width:270px;overflow:hidden;">
                <%= link_to user_path(user), :target => "_blank" do %>
                  <%= image_tag(design.file.url(:list),size: '205x155', class: 'fl') rescue ""%>
                <% end %>
                <%= link_to user_path(user), :target => "_blank" do %>
                  <%- if user.avatar %>
                      <img src="<%= user.avatar.try(:file).try(:url, :access_icon) %>" class="fr" title="装修设计师-<%= user.display_name %>" alt="装修设计师-<%= user.display_name %>">
                  <%- else %>
                      <%= image_tag "news/regimg_bg.jpg", :width => "57", :height => "57", :class => 'fr' %>
                  <%- end %>
                <% end %>
              </div>
              <h3>
                <%= link_to truncate(design.title, length: 20), user_path(user),
                    target: '_blank', title: design.title rescue '' %>
              </h3>
              <p><%=user.display_name ? user.display_name : user.name%> <%="(#{user.area.name})" if user.area %></p>
              <p><span><%= user.designs.includes(:design_images).count %></span> 作品</p>
            </li>
          <%- end %>
        </ul><!-- channel_list end -->

        <div class="pager ft12">
           <%= paginate @design_users  if @design_users%>
        </div>

        <div class="channel_banner tc">
          <a href="/yda/2013"><img src="<%= asset_path '2013/ydabanner.jpg' %>"></a>
          <img src="<%= asset_path '2013/yda_2.jpg' %>" style="margin-left:20px;">
        </div>

        <div class="channel_bottom clear">
          <%= render :partial => "company_star_list"%>

          <!-- <div class="clear"></div>
          <div class="bottom_list_logo clear"> -->
            <%#- @users.each do |user| %>
              <%#= show_avatar(user,"original","100x100") %>
            <%#- end %>
          <!-- </div> -->
          <div class="clear"></div>
          <div class="channel_passage">
            <h4 class="fl">快速通道</h4>
            <% if current_user -%>
              <% unless current_user.common_user? %>
                <%= link_to new_user_design_path(current_user) do %>
                  上传作品<span>upload works</span>
                <%- end %>
                <%= link_to user_asks_path(current_user) do %>
                  免费咨询<span style="font-size:9px;">free consultation</span>
                <%- end %>
              <% end -%>
            <% else -%>
              <a href="/users/sign_up">注册<span>register</span></a>
              <%= link_to_function raw("上传作品<span>upload works</span>"), "show_login()" %>
              <%= link_to_function raw('免费咨询<span style="font-size:9px;">free consultation</span>'), "show_login()" %>
            <% end -%>
          </div>
          </div><!-- bottom_list end -->

          <%= render :partial => "icolor_mood" %>
        </div>
      </div>
    </div>
  </div>
</div><!--wrapper ends-->
<script type="text/javascript" charset="utf-8">
    $(function() {
        var options = {
            data  : data
        }

        var sel = new LinkageSelect(options);
        sel.bind('.level_1', null, '请选择省');
        sel.bind('.level_2', null, '请选择市');
        sel.bind('.level_3', null, '请选择区');
    });
    $(function(){
      $('.circle_pager a').click(function(e){
        e.preventDefault();
        var a_index = $(this).index();
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
        $(this).parent().siblings('div.list_page').eq(a_index).siblings('.list_page').hide();
        $(this).parent().siblings('div.list_page').eq(a_index).show();
      });
    });
    $('.deshed_line a.sure_submit').bind("click",function(){
      $('form.submit_form').submit();
    });
</script>
