<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <%= javascript_include_tag 'twitter/bootstrap' %>
  <script>
    function GetDateStr(AddDayCount)
    {
      var dd = new Date();
      dd.setDate(dd.getDate() + AddDayCount);//获取AddDayCount天后的日期 
      var y = dd.getFullYear();
      var m = dd.getMonth() + 1;//获取当前月份的日期 
      var d = dd.getDate();
      return y + "-" + m + "-" + d;
    }
    function set_date(type) {

      $('#begin_date').attr("disabled", type != 'custom');
      $('#end_date').attr("disabled", type != 'custom');
      if (type === 'custom') {
        if ($('#begin_date').val() == '') {
          $('#begin_date').val(GetDateStr(0));
        }
        if ($('#end_date').val() == '') {
          $('#end_date').val(GetDateStr(0));
        }

      }
    }

    $(function() {
      $('[data-toggle*=]').click(function() {
        $($(this).attr('data-toggle')).toggle();
      });

      $('[data-hide*=]').click(function() {
        $($(this).attr('data-hide')).hide();
      });

      $('input:radio').change(
              function() {
                set_date($(this).val());
              }
      );
      $('#<%= params[:search_type] || 'today'   %>').prop("checked", true).change();

    });
  </script>

<%end%>

<div class="content">

  <div class="title">
    <h5>因爱之名统计</h5>
  </div>

  <div class="widget first" style="position:relative;width:99.7%;min-height:500px">

    <%= form_tag '/admin/content/baicheng/daily_report', class: 'search_form',method: 'get'  do %> 

        <input type="radio" id="today" name="search_type" id='today' value="today" checked="true"/> 
        <label for="today" >当日报表</label>

        <input type="radio"   id="yesterday" name="search_type" id='yesterday'   value="yesterday" /> 
        <label for="yesterday" >昨日报表</label>
        <span class="pub_time" style="border: 1px solid #d5d5d5;padding:4px">
          <input type="radio"   id="custom" name="search_type"  id='custom'   value="custom" /> 

          <label for="custom" >自选报表</label>
          <input type="text" class="datepicker" placeholder="开始日期" name="begin_date" id='begin_date'  value="<%= params[:begin_date] %>"/>
          <input type="text" class="datepicker" placeholder="结束日期" name="end_date" id='end_date' value="<%= params[:end_date] %>"/>
        </span>
        &nbsp;
        <input type="submit" class="button basicBtn"  value="确定">
        <input type="submit" class="button basicBtn" name='submit' value="导出Excel">
      <%end %>
      <div class="head">
        <h5 class="iFrames">日报表下载</h5>
      </div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" >
          <tr>
            <td>本阶段发布房型图数: &nbsp;&nbsp;&nbsp;<b><%= @count1 %></b></td>
            <td>历史发布房型图数: &nbsp;&nbsp;&nbsp;<b><%= @count2 %></b></td>
            <td>房型图总数: &nbsp;&nbsp;&nbsp;<b><%= @count3 %></b></td>
          </tr>
          <tr>
            <td>被预订的房型图: &nbsp;&nbsp;&nbsp;<b><%= @count4 %></b></td>
            <td>未被预订的房型图: &nbsp;&nbsp;&nbsp;<b><%= @count5 %></b></td>
            <td></td>
          </tr>
          <tr>
            <td>收到作品的房型图: &nbsp;&nbsp;&nbsp;<b><%= @count6 %></b></td>
            <td>未收到作品的房型图: &nbsp;&nbsp;&nbsp;<b><%= @count7 %></b></td>
            <td></td>
          </tr>

          <tr>
            <td>本阶段发布的作品数: &nbsp;&nbsp;&nbsp;<b><%= @count8 %></b></td>
            <td>历史发布作品数: &nbsp;&nbsp;&nbsp;<b><%= @count9 %></b></td>
            <td>作品总数: &nbsp;&nbsp;&nbsp;<b><%= @count10 %></b></td>
          </tr>
          <tr>
            <td>被洽谈的作品数: &nbsp;&nbsp;&nbsp;<b><%= @count11 %></b></td>
            <td>已成交的作品数: &nbsp;&nbsp;&nbsp;<b><%= @count12 %></b></td>
            <td></td>
          </tr>
      </table>
      <br/>
      <table cellpadding="0" cellspacing="0" border="0" class="display" >
        <thead>
          <tr>  
            <th>房型图上传时间</th>
            <th>用户名</th>
            <th>省</th>
            <th>市</th>
            <th>区</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>户型图URL</th>
            <th>是否上传合同</th>
            <th>操作</th>
          </tr>
        </thead>
        <body>
          <% @results.each do |item| %>
          <tr>
            <td><%= l item.created_at,format: :long %></td>
            <td><%=  item.user.display_name%></td>
            <td><%= item.location.split(' ')[0] %></td>
            <td><%= item.location.split(' ')[1] %></td>
            <td><%= item.location.split(' ')[2] %></td>
            <td><%= item.user.phone %></td>
            <td><%= item.user.email %></td>
            <td><%= link_to url_for("/love/stories/#{item.id}"),url_for("/love/stories/#{item.id}"),target: '_blank'  %></td>
            <td>否</td>
            <td> <%= link_to_if item.want_designers.size>0, '显示',"javascript:void(0);" ,:'data-toggle'=>"##{dom_id(item,'detail')}" %> <%= link_to_if  item.want_designers.size>0, '隐藏',"javascript:void(0);" ,:'data-hide'=>"##{dom_id(item,'detail')}"   %></td>
          </tr>
          <tr id='<%= dom_id(item,'detail') %>' style='display:none'>
            <td colspan="10">
              <table cellpadding="0" cellspacing="0" border="0" class="display" style="background-color: #eee;width: 100%" >
                <thead>
                  <tr>
                    <th>已点击我想设计的设计师</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>是否上传作品</th>
                    <th>作品url</th>
                  </tr>
                </thead>
                <body>
                  <% item.want_designers.each do |story_user| %>
                  <tr>
                    <td><%= story_user.display_name %></td>
                    <td><%= story_user.phone  %></td>
                    <td><%= story_user.email %></td>  
                    <td><%= item.designs.where(user_id: story_user.id).first ? '是' : '否' %></td>
                    <td><%= link_to url_for("/love/design_competes/#{item.designs.where(user_id: story_user.id).first.id}")  , url_for("/love/design_competes/#{item.designs.where(user_id: story_user.id).first.id}") ,target: '_blank'  if item.designs.where(user_id: story_user.id).first%></td>
                  </tr>
                <% end %>
                </body>
              </table>
            </td>
          </tr>
        <% end %>
        </body>
      </table>

    </div>
    <div class="pager host_pager ft12"> 
      <%= paginate @results %>
    </div>
  </div>



