<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <style>
    /* styles unrelated to zoom */
    * { border:0; margin:0; padding:0; }
    p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

    /* these styles are for the demo, but are not required for the plugin */
    .zoom {
      display:inline-block;
    }

    /* magnifying glass icon */
    .zoom:after {
      content:'';
      display:block;
      width:33px;
      height:33px;
      position:absolute;
      top:0;
      right:0;
    }
    .zoom img {
      display: block;
    }
    .zoom img::selection { background-color: transparent; }
  </style>
  <%= javascript_include_tag "LinkageSelect.js", "/location.js", "keymaster.min", "jquery.zoom" , 'icolor', 'magic_content/image_library', 'jquery.blockui' %>
	<script type="text/javascript">
    $(function() {
      window.area_data = data;
      iColor.ImageLibrary.init_area_selection(window.area_data, '<%= @image.area_id %>',
        <%= @image.areas %>);
      iColor.ImageLibrary.bindEvents();
    });
    $(function() {
      $(".expand-image").click(function(){
          if($('.expand-image').text() == "收缩")
          {
            $('.js-tab-image-childen').hide()
          }else{
            $('.js-tab-image-childen').show()
          }
      })
      $(".image-thumbnail").hover(
        function () {
          $(this).tooltip('show');
        },
        function () {
          $(this).tooltip('hide');
        }
      );
    });
    $(document).ready(function(){
      $('#ex1').zoom();
    });
    $(function(){
      $('.js-hover li').hover(function(){
        $(this).find('.thumbnail_big').toggle()
    })
    })
	</script>
<%- end %>

<div class="content content_image tags_main">
  <%= render partial: 'layouts/flash_message' %>
  <%= render partial: 'image_with_tags', locals: { image: @image, categories: @categories, image_tag_ids: @image_tag_ids } %>
</div>