<div class="color_form_overlay"></div>
<style type="text/css">
.pub_time{display:none;display:none;}
</style>
<%- content_for :tail do %>
  <%= stylesheet_link_tag "image_libraries" %>
  <%= javascript_include_tag 'twitter/bootstrap' %>
  <script type="text/javascript">
    $(function(){
      $('.set_name').click(function(){
        $(this).siblings('.name_form').show()
        $('.color_form_overlay').show()
      })
      $('.js-close').click(function(){
        $(this).parents('form').hide();
        $('.color_form_overlay').hide();
      })
      $("#genre").change(function(e){
        if($(this).val() == 'pub_date' || $(this).val() == 'al_date'){
          $('.pub_time').show()
        }else{
          $('.pub_time').hide()
        }
      })
    });
  </script>
<%- end %>
<div class="content">
  <%= render partial: 'layouts/flash_message' %>
  <div class="title">
    <h5>套图管理</h5>
  </div>

  <div class="widget first" style="position:relative;width:99.7%;min-height:500px">
    <%=form_tag main_app.suit_images_path, :method=>:get, :class=>"search_form" do %>
      <span class="pub_time">
        <input type="text" class="datepicker" placeholder="开始日期" name="start_date" value="<%= params[:start_date] %>"/>
        <input type="text" class="datepicker" placeholder="结束日期" name="end_date" value="<%= params[:end_date] %>"/>
      </span>

      <%=select_tag :genre, options_for_select([["选择时间筛选条件",""],
          ["发布时间","pub_date"],
          ["修改时间","al_date"]], params[:genre]), :style=>"width: 200px;z-index:8000;position:relative"%>
      <%=text_field_tag :keywords, params[:keywords], :placeholder => '输入筛选内容', :class => 'search_input'%>
      <input type='submit' class="button basicBtn" value='筛选'/>
    <% end %>
    <div class="head">
      <h5 class="iFrames">套图列表</h5>
    </div>

    <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
      <thead>
        <th width='30px'>ID</th>
        <th>名称</th>
        <th width='60px'>列表页图片</th>
        <th>所属相册</th>
        <th width='120px'>发布时间</th>
        <th>最后修改人</th>
        <th width='120px'>最后修改时间</th>
        <th>所属频道</th>
        <th>所属用户</th>
        <th width='180px'>操作</th>
      </thead>
      <tbody>
        <% if @images.present? %>
          <%- @images.each do |image| -%>
          <tr>
            <td><%= image.imageable_id %></td>
            <td>
               <%= truncate(image.title, length: 20) if image.title.present? %>
            </td>
            <td>
             <%= image_tag(image.try(:file), size: '50x50', class: 'image-thumbnail',
                :"data-placement" => 'right',
                :"data-html" => true,
                # :"data-original-title" => "#{image_tag(image.try(:file).slide_thumb)}",
                rel: 'tooltip') %>
            </td>
            <td>
              <%- if image.imageable_type == "ColorDesign" && image.try(:imageable_id) %>
                <%= link_to(truncate(image.imageable.title, length: 20), main_app.color_designs_path(image.imageable_id), target: '_blank') if image.imageable.try(:title).present? %>
              <%- elsif  image.imageable_type == "MasterDesign" && image.try(:imageable_id) %>
                <a href="/master_designs/<%= image.imageable_id %>">
                   <%= truncate(image.imageable.title, length: 20) if image.imageable.try(:title).present? %>
                </a>

              <% end -%>
            </td>
            <td><%= image.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= image.last_user.username if image.last_user %></td>
            <td><%= image.last_updated_at.strftime("%Y-%m-%d %H:%M") if image.last_updated_at %></td>
            <%- if image.imageable_type == "ColorDesign" && image.try(:imageable_id) %>
              <td>
                <%= link_to(image.channel_name, main_app.color_designs_path(image.imageable_id)) %>
              </td>
            <%- elsif image.imageable_type == "MasterDesign" && image.try(:imageable_id) %>
                <td>
                  <a href="/master_designs">
                    <%= image.channel_name %>
                  </a>
              </td>
            <%- end %>
            <td><%= image.user.username if image.user %></td>
            <td>
              <%# if can? :set_details, :details %>
                <%#= link_to '设置名称', "javascript:void(0)", :class => 'set_name', :"data-id" => image.id %>
              <%# end %>
              <% if can? :settings, :tab %>
                <%= link_to '管理套图', main_app.image_libraries_path(:keywords => image.imageable_id, :genre => "imageable_id") %>
              <% end %>
              <% if can? :settings, :tab %>
                <%= link_to '设置标签', main_app.suit_image_categories_path(image) %>
              <% end %>
              <%= render partial: 'name', :locals => { :image => image }%>
            </td>
          </tr>
          <%- end -%>
        <% end %>
      </tbody>
    </table>
  </div>
  <ul>
    <%= paginate @images if @images.present? %>
    <form>
      <input style="visibility:hidden" name="keyword" value="<%= params[:keywords]%>"/>
      <input style="visibility:hidden" name="genre" value="<%=params[:genre]%>"/>
      <input style="visibility:hidden" name="genre" value="<%=params[:start_date]%>"/>
      <input style="visibility:hidden" name="genre" value="<%=params[:end_date]%>"/>
      <li class="l_reply_num" style="margin-left:2px; margin-right:10px" >共有<span class="red"></span><%= @page_count %>页</li>
      <li class="l_reply_num" >跳到 <input theme="2" name="page" genre="<%=params[:genre]%>" keywords="<%= params[:keywords]%>" max-page="9" type="text" style="width:30px;height:14px;" /> 页&nbsp;<button id="pager_go2" type="submit" value="确定" style="padding: 0 2px 0 2px;height:21px;line-height:15px;">确定</button>&nbsp;</li>
    </form>
  </ul>
</div>

