<% content_for :tail do -%>
  <%= javascript_include_tag "/location.js", "LinkageSelect.js" %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      if(typeof data != 'undefined'){
        var options = {
          data  : data
        }
        console.log(options)
        var sel = new LinkageSelect(options);
        console.log(sel)
        sel.bind('.level_1');
        sel.bind('.level_2');
        sel.bind('.level_3');
      }
      $("#recognize_captcha").live("click", function(){
        $.post("<%= simple_captcha_update_captcha_path %>", {}, function(data){
          $("#simple_captcha").replaceWith(data);
        });
      });
    });
  </script>
<% end %>



<div class="container">
  <ul class="breadcrumb">
    <li><a href="#">首页</a> > </li>
    <li class="active">用户中心</li>
  </ul>
  <hr class="border2 border2_mt2">

  <ul class="nav nav-tabs upload_tab login_tab" id="login_tab">
    <li><a href="/users/sign_in">登录</a></li>
    <li class="active"><a href="/users/sign_up">注册</a></li>
    <li><a href="/users/password/new">找回密码</a></li>
  </ul>

  <div class="tab-content login_content">
    <div class="tab-pane active" id="login_tab2">
      <div class="index_main noborder">
        <%= form_for(resource, :as => resource_name, :url => "/users", html:{:class=>"form-horizontal reg_form"}, :remote => true ) do |f| %>
          <%= hidden_field_tag :return_to, params[:return_to] %>
          <ul class="unstyled clearfix steps step1">
            <li class="muted" style="width:163px;"><small>Step 1 基本资料</small></li>
            <li class="muted" style="width:559px;"><small>Step 2 注册成功</small></li>
            <li class="muted" style="width:163px;"><small>Step 3 完善信息</small></li>
          </ul>
          <div class="control-group">
            <label class="control-label" for="">
              用户名
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <input class="input-xlarge mr5" type="text" id="" name="user[username]">
              <span class="label label-important hide">该用户名已存在，请重新输入。</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              密码
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <input class="input-xlarge mr5" type="password" id="" name="user[password]">
              <span class="label label-blue">密码不得少于6位数</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              确认密码
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <input class="input-xlarge mr5" type="password" id="" name="user[password_confirmation]">
              <span class="label label-green">密码强度：很强</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              我的身份
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <select name="user[user_role]" id="" class="input-xlarge">
                <option value="">-请选择-</option>
                <option value="designer_0">设计师（在职）</option>
                <option value="designer_1">设计师（在读）</option>
                <option value="company">家装公司</option>
                <option value="user">普通用户</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              所在地
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <select id="province" class="input-small level_1" name="user[state]">省</select>
              <select id="city" class="input-small level_2" name="user[city]">市</select>
              <select id="county" class="input-small level_3" name="user[area_id]">区</select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              E-mail
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <input class="input-xlarge mr5" type="text" id="" name="user[email]">
              <span class="label label-blue">请填写真实邮箱，以便接收icolor电子期刊及获奖信息</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              联系电话
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <input class="input-xlarge mr5" type="text" id="" name="user[phone]">
              <span class="label label-blue">请填写您常用电话以便通知获奖信息</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="">
              输入验证码
              <span class="help-inline text-important">*</span>
            </label>
            <div class="controls">
              <%= show_simple_captcha %>
            </div>
          </div>

          <p class="text-center dott1 pt30"><small>注：您的注册信息仅用于icolor官网，我们不会对外公开您的信息，请放心</small></p>
          <div class="text-center form-inline">
            <label class="checkbox">
              <input type="checkbox" name="user[is_read]"> <small>接受会员注册协议（阅读）</small>
            </label>
          </div>
          <div class="text-center dott1 pt30 mt20">
            <button type="submit" class="upload_img_btn">下一步</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <div class="footer_banner mt10 pull-left"><a href="#"><img src="images/index/footer_banner.jpg"></a></div>
    <div class="footer_banner mt10 pull-right"><a href="#"><img src="images/index/footer_banner2.jpg"></a></div>
  </div>
</div>