<div class="design_result">
	<ul class="d_works group">

		<%- @designs.each do |design| %>
			<li>
				<div class="works_box">
					<%- if current_user && current_user == @user %>
						<div class="host_works_edit none">
							<%= link_to "编辑", design_update_user_design_path(current_user, design), class: "works_img_edit" %>
							<%= link_to "删除", user_design_path(current_user, design), :method => :delete, class: "works_img_del" %>
						</div>
					<%- end %>	

					<%= link_to image_tag(design.cover_img.file.url(:index), class: 'host_works_img', title:"装修设计欣赏-#{design.title}" , alt:"装修设计欣赏-#{design.title}"), user_design_path(@user, design) if design.cover_img %>				
				</div>

				<h3><%= design.title %></h3>

				<p class="p2 group">
					<span class="zf ft12">转发 (<%= design.shares_count %>)</span>
					<span class="pl ft12">评论 (<%= design.comments_count %>)</span>
				</p>

				<%
					cover_img = design.cover_img.file.url if design.cover_img
					role = "#{design.user.role_id.eql?(2) ? '家装公司' : '设计师'}:" if design.user.role_id != 3
					text = if design.user.area_id.present?
						province = design.user.city.try(:parent).try(:name)
						city = design.user.try(:city).try(:name)

						if province && city
							province == city ? "#{city}的" : "#{province + city}的"
						else
							"#{city}的" if city
						end
					end
				-%>
				<%= forward_links("#iColor分享#来自#{text}#{role}#{design.user.display_name}的作品【#{design.title}】，优秀案例不容错过，还不点击欣赏？一切尽在iColor，@刷新生活iColor，", user_design_url(design.user_id, design), cover_img, design.id.to_s, "Design") %>
				
				<p>风格：<%= design.design_style_names %></p>
			</li>
		<%- end %>		

	</ul><!--result one ends-->
</div><!--design_result ends-->

<div class="pager host_pager" style="position:relative;bottom:-36px;left:0;">
	<%= paginate @designs %>
</div><!--pager ends-->