<% content_for :head do %>
<%= javascript_include_tag "bootstrap/jquery.min" %>
<%= stylesheet_link_tag "famous/jquery.slide", "famous/icolor", "famous" %>
<%end-%>

<h3 class="chann_caption nomargin"><i class="icon-map icon-map1 icon_colors"></i><strong>对话名人</strong><small>直面大师专家，为您在线授道解惑</small></h3>
<ul class="breadcrumb">
  <li><a href="index.html">首页</a> > </li>
  <li><a href="#">对话名人</a> > </li>
  <li class="active">小编宝典</li>
</ul>
<hr class="border2 border2_mt2">
<a href="#"><img src="images/channel/banner1.jpg" alt="" width="1000" height="85" style="height: 85px;" /></a>
<div class="clearfix mt10">
  <div class="pull-left famous_left">
    <div class="index_main">
      <h5 class="title">
        <form action="<%='/dialog_celebrity/celebrity_notes' -%>" class="form_search pull-right nomargin">
          <div class="input-append">
            <input type="text" class="nomargin" name="keyword" placeholder="按关键字搜索" />
            <% if params[:board_id] %>
              <input type="hidden" name="board_id" value="<%=params[:board_id]%>">
            <%end-%>
            <button class="btn"><i class="icon-i16 icon-search_white"></i></button>
          </div>
        </form>
        小编宝典
      </h5>

      <ul class="nav nav-tabs famous_tab mb0" id="famous_tab">
        <li class="<%= params[:board_id].blank? ? 'active' : '' %>" style="background-color:#4c4c4c;">
          <a href="/dialog_celebrity/editor_treasuries" >
            全部
            <span class="active_arrow hide"></span>
          </a>
        </li>
        <% CelebrityContentBoard.order("id asc").limit(5).each do |_board| %>
          <li style="background-color:<%=_board.color%>;" class="<%= params[:board_id] == _board.id.to_s ? 'active' : '' %>">
            <a href="/dialog_celebrity/celebrity_notes?board_id=<%=_board.id%>">
              <%=_board.name%>
              <span class="active_arrow hide"></span>
            </a>
          </li>
        <%end-%>
      </ul>

      <div class="tab-content famous_tab_content mt0">
        <div class="tab-pane active" id="famous_tab1">
          <div class="refresh_lists designer_events famous_script">
            <% @articles.each do |_article| %>
            <div class="media tit_con">
              <a class="pull-left media_a" href="designer_events_in.html">
                <img class="media-object" src="images/refresh/refresh_list2.jpg" style="width: 280px; height: 145px;">
              </a>
              <div class="media-body refresh_list">
                <div class="list_mata">
                  <span class="pull-right"><%= _article.author.name -%>【<%= _article.author.board.name -%>】</span>
                  <span class="label bg_orange">精彩推荐</span>
                  <span class="time"><%=_article.created_at.strftime("%y-%m-%d")%></span>
                </div>
                <ul class="ul_dot clearfix nomargin">
                  <li class="nomargin">
                    <h5 class="nomargin"><a href="<%=dialog_celebrity_celebrity_note_path(_article.id)%>" target="_blank"><%= _article.name -%></a></h5>
                    <p class="nomargin"><a href="<%=dialog_celebrity_celebrity_note_path(_article.id)%>"><% _article.intro -%></a></p>
                  </li>
                </ul>
                <div class="nomargin clearfix"><a class="btn_detail btn_detail_gray pull-left" href="<%=dialog_celebrity_celebrity_note_path(_article.id)%>">查看详情</a></div>
              </div>
            </div>
            <%end -%>
          </div>
          <div class="pager host_pager ft12">
            <%= paginate(@articles,remote: true) if !@questions.blank? %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pull-right smaller famous_right">
    <div class="map-right index_main">
      <div class="media media_chann">
        <a class="pull-left" href="#">
          <i class="icon-chann icon-chann_imgbase"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="#">装修图库</a></h4>
          <p class="media_con nomargin">寻找最新家装图片<br>给您专属的家装设计参考！</p>
        </div>
      </div>
      <div class="media media_chann">
        <a class="pull-left" href="#">
          <i class="icon-chann icon-chann_match"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="#">色彩配搭</a></h4>
          <p class="media_con nomargin">色彩搭配案例 家居色彩宝典 为您的家装出谋画色！</p>
        </div>
      </div>
      <div class="media media_chann">
        <a class="pull-left" href="#">
          <i class="icon-chann icon-chann_fresh2"></i>
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a class="media-heading_link_a" href="#">立邦刷新服务</a></h4>
          <p class="media_con nomargin">对话顶尖设计大师，提升家装专业眼界！</p>
        </div>
      </div>
    </div>
    <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner2.jpg" width="230" height="170"></a></div>
    <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner3.jpg" width="230" height="230"></a></div>
    <div class="mt10"><a href="#"><img src="images/refresh/refresh_list_banner2.jpg" width="230" height="170"></a></div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <div class="refresh_new pull-left">
    <h5><a href="#" target="_blank" class="pull-right"><small class="muted">更多></small></a>装修图库精选</h5>
    <ul class="ul_dot">
      <li><a href="#" target="_blank">卧室基因突变 装饰空间网友改造空间哲学师马昌国的设计秘籍空间哲学师马昌国的设计秘籍</a></li>
      <li><a href="#" target="_blank">来自设计之星小毕的小情调婚房设计</a></li>
      <li><a href="#" target="_blank">110 平米时尚混搭 田园气质童话梦想</a></li>
      <li><a href="#" target="_blank">淡雅色彩配搭让你在夏日享清凉</a></li>
      <li class="noborder"><a href="#" target="_blank">都市静谧空间 80平森系素雅两居</a></li>
    </ul>
  </div>
  <div class="refresh_new pull-left">
    <h5><a href="#" target="_blank" class="pull-right"><small class="muted">更多></small></a>设计之星作品精选</h5>
    <ul class="ul_dot">
      <li><a href="#" target="_blank">空间哲学师马昌国的设计秘籍空间哲学师马昌国的设计秘籍</a></li>
      <li><a href="#" target="_blank">来自设计之星小毕的小情调婚房设计</a></li>
      <li><a href="#" target="_blank">110 平米时尚混搭 田园气质童话梦想</a></li>
      <li><a href="#" target="_blank">淡雅色彩配搭让你在夏日享清凉</a></li>
      <li class="noborder"><a href="#" target="_blank">都市静谧空间 80平森系素雅两居</a></li>
    </ul>
  </div>
  <div class="pull-right"><a href="#"><img src="images/refresh/refresh_list_banner3.jpg"></a></div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left"><a href="#"><img src="images/index/footer_banner.jpg"></a></div>
  <div class="footer_banner mt10 pull-right"><a href="#"><img src="images/index/footer_banner2.jpg"></a></div>
</div>

<div id="float_right_btn">
  <p id="back-top">
    <a href="#top"><img src="images/back_top.png"></a>
  </p>
  <a href="javascript:;" class="codebar">
    <img class="code_big" src="images/code_big.jpg">
    <img src="images/code.png">
  </a>
  <a href="javascript:;" class="ask_btn mt10 js-ask_btn">
    <img src="images/ask.png" alt="我要咨询" />
    <form action="" class="ask_form nomargin">
      <fieldset class="">
        <h5>我要咨询</h5>
        <p>
          亲爱的会员您好！请问您有什么需要咨询？<br>您可以给我们留言，我们会通过系统消息对您的留言给予答复！
        </p>
        <textarea name="" id="" cols="" rows=""></textarea>
        <div class="text-right">
          <button class="btn btn-success btn-large">确定</button>
        </div>
      </fieldset>
    </form>
  </a>
</div>

<%= javascript_include_tag "bootstrap/bootstrap.min" %>
<%= javascript_include_tag "famous/main" %>
