<%- content_for :head do %>
    <%= stylesheet_link_tag "news","style" %>
    <style type="text/css" media="screen">
    .clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
    </style>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag 'myfocus' %>
    <script type="text/javascript">
        myFocus.set({
            id : 'boxID',
            pattern : 'mF_fscreen_tb',
            time : 3,
            wrap : false,
            trigger : 'mouseover',
            width : 808,
            height : 280,
            txtHeight : '0'
        });
    </script>
<%- end %>
<% cache "softwares_case" do %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "news/title_tools.png"%>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "案例下载", "/softwares/case", :class => 'fb' %></em>
    <em><%= link_to "应用工具", "/softwares/tools" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper case'>
    <div class="news_top">
      <div class="tools_select clear">
        <!-- <a href="/softwares/case" class="tools_case now"></a> -->
        <!-- <a href="/softwares/tools" class="tools_soft"></a> -->
        <!-- <a href="javascript:void(0);" class="tools_app"></a> -->
        <!-- <a href="/softwares/app" class="tools_app"></a> -->
      </div>
    </div>
    <!--news_top ends-->
    <div class="case_sub pr ft14">
      <span><span>免费</span>索取</span>（可在线下载或至立邦专卖店免费索取！）
    </div>
    <!--case_sub ends-->
    <div class="shadow">
      <div class="section">
        <div class="case_big fb" style="height:280px;">
          <div class="case_display pr">
            <a href="<%Rails.root%>/system/pdf/2014-15年MIX国际色彩趋势杂志-秋冬季中英文版.rar" class="pa pdf_down_left" style="width:203px;height:55px;top:182px;left:49px;"></a>
            <img src="<%= asset_path "news/case_pdf_color.jpg"%>" alt="2014-15年MIX国际色彩趋势杂志-秋冬季中英文版"/>
          </div>
        </div>
        <hr style="border:1px solid #c6c6c6;width:812px;margin:0 auto;" />
        <div class="case_big fb" style="height:280px;">
          <div class="case_display pr">
            <a href="<%Rails.root%>/system/pdf/Demo1113.wmv" class="pa pdf_down_left"style="width:148px;height:33px;top:165px;left:530px;"></a>
            <img src="<%= asset_path "news/case_pdf_video.jpg"%>" alt="Demo1113"/>
          </div>
        </div>
        <hr style="border:1px solid #c6c6c6;width:812px;margin:0 auto;" />
        <div class="case_big fb" style="height:280px;">
          <div class="case_display pr">
            <a href="<%Rails.root%>/system/pdf/立邦别册确认版-13年.pdf" class="pa pdf_down_left"></a>
            <img src="<%= asset_path "news/case_pdf_shuaxin.jpg"%>" alt="立邦别册确认版-13年"/>
          </div>
        </div>
        <hr style="border:1px solid #c6c6c6;width:812px;margin:0 auto;" />
        <div class="case_big fb">
          <div id="boxID" class="case_display pr">
            <div class="loading"><span>请稍候...</span></div>
            <ul class="pic">
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-卧室篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case1.jpg"%>" alt="色彩搭配案例-卧室篇"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-餐厅篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case2.jpg"%>" alt="色彩搭配案例-餐厅篇"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-儿童房篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case3.jpg"%>" alt="色彩搭配案例-儿童房篇"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-客厅篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case4.jpg"%>" alt="色彩搭配案例-客厅篇"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-色彩风格合集.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case5.jpg"%>" alt="色彩搭配案例-色彩风格合集"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-全集.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case6.jpg"%>" alt="色彩搭配案例-全集"/>
              </li>
            </ul>
          </div>
          <!--case_display ends-->
          <span class="case_span fl">案例下载</span>
        </div>
        <!--case_big ends-->
        <div class="crossline clear">
          <div class="case_small ft18 fb fl">
            <div class="small_show pr">
              <a href="<%Rails.root%>/system/pdf/2012色彩趋势0307.pdf"><img src="<%= asset_path "news/cases1.jpg"%>" alt="2012色彩趋势0307" /></a>
              <img src="<%= asset_path "news/hot_icon.gif"%>" alt="2012色彩趋势0307" class="hot_icon pa"/>
            </div>
            <!--small_show ends-->
            <span class="case_span fl">流行色彩手册</span>
            <a href="<%Rails.root%>/system/pdf/2012色彩趋势0307.pdf" class="pdf_down fr"></a>
          </div>
          <!--case_small ends-->
          <div class="case_small ft18 fb fr">
            <div class="small_show pr">
              <a href="<%Rails.root%>/system/pdf/靓彩最终版.pdf"><img src="<%= asset_path "news/cases2.jpg"%>" alt="靓彩最终版"/></a>
            </div>
            <!--small_show ends-->
            <span class="case_span fl">靓彩豪华手册</span>
            <a href="<%Rails.root%>/system/pdf/靓彩最终版.pdf" alt="靓彩最终版" class="pdf_down fr"></a>
          </div>
          <!--case_small ends-->
        </div>
        <!--crossline ends-->
      </div>
      <!--section ends-->
    </div>
    <!--shadow ends-->
  </div>
  <!--wrapper ends-->
</div><!--main ends-->
<% end %>