<%- content_for :head do %>
    <%= stylesheet_link_tag "news" %>
<%- end %>
<%- content_for :tail do %>
    <%= javascript_include_tag 'myfocus' %>
    <script type="text/javascript">
        myFocus.set({
            id : 'boxID',
            pattern : 'mF_fscreen_tb',
            time : 3,
            wrap : false,
            trigger : 'mouseover',
            width : 808,
            height : 280,
            txtHeight : '0'
        });

    </script>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "news/title_tools.png"%>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
   <em><a class="fb" href="/softwares/case">色彩搭配案例</a></em>
    <em><a href="/softwares/tools">配色工具</a><span></span></em>
    <em><a href="/softwares/tools">装修工具</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
  </div>
  <!--sub_nav ends-->
  <div class='wrapper case'>
    <div class="news_top">
      <div class="tools_select clear">
       <a href="/softwares/tools" class="tools_soft"></a>
        <a href="/softwares/case" class="tools_case now"></a>
        <a href="/softwares/app" class="tools_app"></a>
      </div>
    </div>
    <!--news_top ends-->
    <div class="case_sub pr ft14">
      <span><span>免费</span>索取</span>（可在线下载或至立邦专卖店免费索取！）
    </div>
    <!--case_sub ends-->
    <div class="shadow">
      <div class="section">
        <div class="case_big fb">
          <div id="boxID" class="case_display pr">
            <div class="loading"><span>请稍候...</span></div>
            <ul class="pic">
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-卧室篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case1.jpg"%>"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-餐厅篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case2.jpg"%>"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-儿童房篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case3.jpg"%>"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-客厅篇.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case4.jpg"%>"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-色彩风格合集.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case5.jpg"%>"/>
              </li>
              <li>
                <a href="<%Rails.root%>/system/pdf/色彩搭配案例-全集.pdf" class="pa pdf_down"></a>
                <img src="<%= asset_path "news/case6.jpg"%>"/>
              </li>
            </ul>
          </div>
          <!--case_display ends-->
          <span class="case_span fl">色彩搭配案例</span>
        </div>
        <!--case_big ends-->
        <div class="crossline clear">
          <div class="case_small ft18 fb fl">
            <div class="small_show pr">
              <a href="<%Rails.root%>/system/pdf/2012色彩趋势0307.pdf"><img src="<%= asset_path "news/cases1.jpg"%>"/></a>
              <img src="<%= asset_path "news/hot_icon.gif"%>" class="hot_icon pa"/>
            </div>
            <!--small_show ends-->
            <span class="case_span fl">流行色彩手册</span>
            <a href="<%Rails.root%>/system/pdf/2012色彩趋势0307.pdf" class="pdf_down fr"></a>
          </div>
          <!--case_small ends-->
          <div class="case_small ft18 fb fr">
            <div class="small_show pr">
              <a href="<%Rails.root%>/system/pdf/靓彩最终版.pdf"><img src="<%= asset_path "news/cases2.jpg"%>"/></a>
            </div>
            <!--small_show ends-->
            <span class="case_span fl">靓彩豪华手册</span>
            <a href="<%Rails.root%>/system/pdf/靓彩最终版.pdf" class="pdf_down fr"></a>
          </div>
          <!--case_small ends-->
        </div>
        <!--crossline ends-->
      </div>
      <!--section ends-->
    </div>
    <!--shadow ends-->
  </div>
  <!--wrapper ends-->
</div><!--main ends-->