<%- content_for :head do %>
    <%= stylesheet_link_tag "news" %>
    <%= javascript_include_tag 'myfocus'%>
    <style type="text/css">
        .popup_zf {
            width: 180px;
            position: absolute;
            left: 15px;
            bottom: -32px;
            background: #fff;
            padding: 5px 0 !important;
            border: 1px solid #f1f1f1;
        }

        .popup_zf span {
            float: left;
            font-size: 12px;
            padding: 3px 5px !important;
            margin: 0;
        }

        .popup_zf a {
            float: left;
            display: inline;
            width: 16px;
            height: 16px;
            background: url(<%= asset_path "master/icon_zf.png"%>) no-repeat;
            margin: 0px 3px;
        }

        .popup_zf a.pupot_zf_qq {
            background-position: left 0;
        }

        .popup_zf a.popup_zf_sina {
            background-position: left -16px;
        }

        .popup_zf a.popup_zf_rr {
            background-position: left -32px;
        }

        .popup_zf a.popup_zf_kaixin {
            background-position: left -48px;
        }
        .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    </style>
<%- end %>
<div class="main">
  <div class='sub_title text-right'>
    <img src='<%= asset_path "news/title_tools.png" %>'/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><%= link_to "配色软件", "/softwares/tools", :class => 'fb' %></em>
    <em><%= link_to "应用工具", "/softwares/tools" %><span></span></em>
    <em><%= link_to "首页", "/" %><span></span></em>
  </div><!--sub_nav ends-->
  <div class='wrapper'>
    <div class="news_top">
      <div class="tools_select clear">
        <a href="/softwares/case" class="tools_case"></a>
        <a href="/softwares/tools" class="tools_soft now"></a>
        <!-- <a href="javascript:void(0);" class="tools_app"></a> -->
      </div>
    </div>
    <!--news_top ends-->
    <div class="tools_bg clear">
      <div class="tools_left fl">
        <img src="<%= asset_path "news/tools_img.jpg" %>"/>
        <a href="http://icolour5.com/icolor6_cn" class="tools_use db" target="_blank"></a>
      </div>
      <!--tools_left ends-->
      <div class="tools_right fr">
        <h1>iColor电脑配色软件</h1>

        <p>想要为你家居的室内外做色彩搭配吗？立邦公司开发的配色软件将令你的色彩搭配变得简单而直观。马上试用一下吧。</p>
        <a href="/mix_colors/new" target="_blank" class="tools_service db"></a>
        <a href="http://icolour5.com/icolor6_cn" target="_blank" class="tools_guide db"></a>
      </div>
      <!--tools_right ends-->
    </div>
    <!--tools_bg ends-->
  </div>
  <!--wrapper ends-->
  <div class='sub_bot pr'></div>
  <!--sub_bot ends-->
</div><!--main ends-->
