<div class="file-list clear upload_item" id="banner_image<%= upload.id %>">
	<a href="#" class="pull-left" style="margin-top: 16px;">
		<%= image_tag upload.file.url(:thumb)%>
	</a>
	<p class="pull-left" style="margin-top: 16px;"><%= upload.file.original_filename %></p>
	<%#= hidden_field_tag "home_banner_id", upload.id %>
	<input type="hidden" name="home_banner_id[<%= upload.id %>]" value="<%= upload.id %>">
	<div class="clearfix">
	  <%=link_to "删除", home_banner_path(upload), method: :delete, confirm: 'delete it?', :class => 'btn'%>
	  <a href="#Editbanner" type="button" class="btn" >编辑</a>
	</div>	
</div><!--file-list ends-->