<div class="content">
  <div class="title">
    <h5><%= form_title %></h5>
    <div class="num"><%= link_to '返回', subject_posts_path(parent), :class => "redNum" %></div>
  </div>

  <%- if resource.errors.size > 0 -%>
    <div class="nNote nFailure hideit">
      <p><strong>出错啦: </strong><%= resource.errors.full_messages.join(", ") %></p>
    </div>
  <%- end -%>

  <!-- Form with validation -->
  <%= simple_form_for([parent, resource], :html => { :class => "mainForm", :id => "valid", :multipart => true }) do |f| %>
    <fieldset>
      <div class="widget border">
        <%= f.input :title, :input_html => { :class=> "validate[required]" }, :label => "标题:" %>
        <%= f.input :slug, :label => "数据KEY:" %>
        <%= f.input :preview_img, :label => "上传缩略图:" %>
        <%= f.input :intro, :input_html => { :rows => 8, :class=>"x" }, :label => "简介:" %>
        <%= f.input :body, :input_html => { :rows => 30, :class=>"x" }, :label => "内容:" %>

        <div class="rowElem">
          <label>发布时间:</label>
          <div class="formRight www1">
            <%= text_field_tag "post[published_at]", nil, :class=> "datepicker validate[required]", :value => "#{set_date(resource)["date"]}" %>
            <%= text_field_tag "post[time]", nil, :class=> "timepicker validate[required]", :value => "#{set_date(resource)["time"]}" %>
          </div>
          <div class="fix"></div>
        </div>

        <%- if resource.subject.slug == "articles" %>
          <%= f.input :tag_list, :collection => ["设计相关", "产品相关"],:prompt => '--请选择--', :label => "标签:" %>
        <%- else %>
          <%= f.input :tag_list, :hint => "Tips: 多个标签之间用“，”隔开", :label => "标签:" %>
        <%- end %>

        <%= f.input :content_source, :html => { :class=> "validate[required]" }, :label => "来源:" %>

        <div class="rowElem">
          <%= f.button :submit, :value => "#{button_value}" %>
          <div class="fix"></div>
        </div>
      </div>
    </fieldset>
  <%- end %>
</div>