<div class="content">
  <% if  parent.name == "精彩资讯" %>
    <div class="title"><h5>刷新生活 > 精彩资讯列表</h5>
  <% else %>
     <div class="title"><h5><%= parent.name %> > 新闻</h5>
  <% end %>
    <div class="num"><%= link_to '新增新闻', new_subject_post_path(parent), :class => "redNum" %></div>
    <div class="num"><a href="/manage/life_memoirs" class="redNum">返回刷新生活 </a></div>
	<%- if can?(:manage, Subject) && parent -%>
    <div class="num"><%= link_to '结构管理', subjects_path(:parent_id => parent), :class => "redNum" %></div>
	<%- end -%>
  </div>
  <!-- Dynamic table -->
  <div class="table">
    <div class="head">
      <% if  parent.name == "精彩资讯" %>
        <h5 class="iFrames">精彩资讯列表</h5>
      <% else %>
        <h5 class="iFrames">新闻列表</h5>
      <% end %>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
      <thead>
      <tr>
        <th width="5%">ID</th>
        <th>标题</th>
		<th width="10%">数据KEY</th>
        <th width="15%">发布时间</th>
        <th width="100px">操作</th>
      </tr>
      </thead>
      <tbody>
      <%- collection.each do |c| %>
        <tr class="gradeA">
          <td><%= c.id %></td>
          <td><%= link_to c.title, [parent, c] %></td>
          <td><%= c.slug %></td>
          <% if c.published_at.nil? %>
          <td><%= format_time c.created_at %></td>
          <% else %>
          <td><%= c.published_at.strftime("%Y-%m-%d %H:%M") %></td>
          <% end %>
          <td nowrap="nowrap" align="center">
				    <%= link_to '编辑', edit_subject_post_path(parent, c), :class => 'button basicBtn' %>
				    <%= link_to '删除', [parent, c], :confirm => '确定删除?', :method => :delete, :class => 'button basicBtn' %>
		  </td>
        </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>