<div class="container-fluid">
  <div class="text-center">
    <div class="refresh-flash pr">
      <!-- <a target="_blank" href="javascript:;" class="flash-btn pa">分享爱的故事</a> -->
      <!-- <a target="_blank" href="javascript:;" class="flash-btn2 pa">上传设计作品</a> -->
      <div class="index-kv wrapper">
        <%= image_tag 'love_story/images/index/index-kv2.png', usemap: '#map-kv', class: 'index-kv', alt: '' %>
        <div class="text-center">
          <a href="/users/sign_in?return_to=<%= love_story_root_url %>" class="js-fenxiang" data-confirm="登录网站后才能分享爱的故事,是否现在登录?"><%= image_tag 'love_story/images/index/index-kv-btn1.png' %></a>
          <a href="/users/sign_in?return_to=<%= love_story_root_url %>" class="js-upload" data-confirm="登录网站后才能上传设计作品,是否现在登录?"><%= image_tag 'love_story/images/index/index-kv-btn2.png' %></a>
        </div>
      </div>
      <!-- <map name="map-kv" id="map-kv">
        <area shape="rect" coords="225,216,387,270" href="#" alt="" />
      </map> -->
    </div> <!-- 图片部分 -->
  </div>
</div>