<%- content_for :head do %>
    <%= stylesheet_link_tag "exciting_activities", "style" %>
<%- end %>

<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="<%= asset_path "design/title_event.png"%>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/other_events">其他精彩活动</a></em>
    <em><a href="#">精彩活动</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
    <style type="text/css">
        span.arrow_1 {
            right: 180px
        }

        span.arrow_2 {
            right: 111px
        }
    </style>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="shadow event event_desc">
      <div class="section clear">
        <a href="/other_events/kv"><img src="<%= asset_path "design/pm1.jpg"%>"></a>
      </div>
    </div>

    <div class="shadow mb25">
      <div class="section">
        <div class="tit_bg"><h2>往期回顾</h2></div>
        <div class="interview_box dec_list">
          <ul>
            <li>
              <div class="img"><%= link_to image_tag('design/ph1.jpg'),"/designer_events" %></div>
              <div class="properties">
                <div class="title"><strong>活动名称：</strong><a href="#">秀照片
                  炫灵感—立邦为您免费装修</a></div>
                <div class="time"><strong>活动时间：</strong>2012年4月5日～2012年6月5日</div>
                <div class="intro">色彩缤纷的金秋十月，立邦在上海、北京、广州、成都、沈阳、大连六座城市......</div>
              </div>
            </li>
            <li>
              <div class="img"><img src="<%= asset_path "design/ph1.jpg"%>"/></div>
              <div class="properties">
                <div class="title"><strong>活动名称：</strong><a href="#">秀照片
                  炫灵感—立邦为您免费装修</a></div>
                <div class="time"><strong>活动时间：</strong>2012年4月5日～2012年6月5日</div>
                <div class="intro">色彩缤纷的金秋十月，立邦在上海、北京、广州、成都、沈阳、大连六座城市......</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
  </div>
  <!--sub_bot ends-->
</div>