<%- content_for :head do %>
    <%= stylesheet_link_tag "exciting_activities", "style" %>
<%- end %>

<div class="main page_weekstar">
  <div class='sub_title tr'>
    <img src="<%= asset_path "design/title_event.png"%>"/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/other_events">其他精彩活动</a></em>
    <em><a href="/events">精彩活动</a><span></span></em>
    <em><a href="/">首页</a><span></span></em>
    <style type="text/css">
        .properties .intro{ width:630px;}
    </style>
  </div><!--sub_nav ends-->
  <div class="wrapper group">
    <div class="shadow event event_desc">
      <div class="section clear">
         <a href="/designs" target="_blank"><img src="<%= asset_path "design/pm3.jpg"%>"></a>
      </div>
    </div>

     <div class="shadow mb25">
         <div class="section">
           <div class="tit_bg">
             <h2>近期活动</h2>
           </div>
           <div class="interview_box dec_list">
             <ul>
               <li>
                 <div class="img"><%= link_to image_tag('design/ph3.jpg'),"/gift?from=top" %></div>
                 <div class="properties">
                   <div class="title">
                     <strong>活动名称：</strong><a href="#">iColor搭台你唱戏</a><!--<span class="status">正在进行中</span>-->
                   </div>
                   <div class="time">
                     <strong>活动时间：</strong>2012
                   </div>
                   <div class="intro">
                     每月iColor会从所有上传作品的设计师中，评选出空间设计明星和色彩搭配明星各一名，同时，凡上传作品的设计师均可参与月度抽奖赢取ipad!
                   </div>
                 </div>
               </li>
             </ul>
           </div>
          </div>
        </div>

    <div class="shadow mb25">
      <div class="section">
        <div class="tit_bg"><h2>往期回顾</h2></div>
        <div class="interview_box dec_list">
          <ul>
            <li>
              <div class="img"><%= link_to image_tag('design/ph4.jpg'),"/other_events/kv" %></div>
              <div class="properties">
                <div class="title"><strong>活动名称：</strong><a href="/other_events/kv">“立邦为你刷新生活” 主题路演活动</a></div>
                <div class="time"><strong>活动时间：</strong>2011-10-01</div>
                <div class="intro">色彩缤纷的金秋十月，立邦在上海、北京、广州、成都、沈阳、大连六座城……</div>
              </div>
            </li>
            <li>
              <div class="img"><%= link_to image_tag('design/ph5.jpg'),"/designer_events/weibo" %></div>
              <div class="properties">
                <div class="title"><strong>活动名称：</strong><a href="/designer_events/weibo">刷新生活iColor微博直播</a></div>
                <div class="time"><strong>活动时间：</strong>2011-07-12</div>
                <div class="intro">与新浪微博同步更新。实用家装资讯，各种精彩活动花絮和信息，最新流行风格样板间图片，国际前沿色彩趋势……超多精彩内容，24小时刷新不间断！</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='sub_bot pr'>
  </div>
  <!--sub_bot ends-->
</div>