<%- content_for :head do %>
    <%= stylesheet_link_tag "style" %>
    <style type="text/css">
        span.arrow_1 {
            right: 168px;
        }

        span.arrow_2 {
            right: 98px;
        }
    </style>
<%- end %>
<%- content_for :tail do %>
    <script type="text/javascript">
        $(function() {
            $('.other_act_btn').click(function() {
                $(this).parents('.act_area').children('div').slideToggle()
            })
        })
    </script>
<%- end %>
<div class="main">
  <div class='sub_title tr'>
    <img src='<%= asset_path "design/title_event.png"%>' alt=""/>
  </div>
  <div class='sub_nav ft12 pr tr'>
    <em><a class="fb" href="/other_events">其他精彩活动</a></em>
    <em><a href="/events">精彩活动</a><span></span></em>
    <em><a href="/">iColor首页</a><span></span></em>
    <style type="text/css">
        span.arrow_1 {
            right: 180px
        }

        span.arrow_2 {
            right: 111px
        }
    </style>
  </div><!--sub_nav ends-->
  <div class='wrapper oth_act pt25 pb30'>
    <div class="shadow">
      <div class="section">
        <p class="oth_act_p1">
          色彩缤纷的金秋十月，立邦在上海、北京、广州、成都、沈阳、大连六座城市全面展开2011年度 “立邦为你刷新生活”的主题路演活动。
        </p>

        <p class="oth_act_p2">
          这次活动，立邦期许能为消费者带来更多更新的互动体验，三款主打产品，立邦金装竹炭净味全效、立邦弹性抗裂净味全效、立邦菏净全效墙面漆，分别以独特而强大的功能特性，在活动的三个环节中精彩展示，更辅以咨询师专业的配色讲解，立邦独有净味技术的现场涂刷演绎，给大家带来全方位的“刷新体验”。
        </p>

        <p class="oth_act_p3">
          什么样的墙面漆可以像荷叶那样“出尘脱俗”，隔绝污渍？什么样的墙面漆可以如竹林之风，自然清新无异味？什么样的墙面漆可以像肌肤一般弹性紧致，拉伸自如，从而防止裂纹？在现场都可以通过有趣的互动活动找到答案。
        </p>

        <p class="oth_act_p4">
          在“菏净不沾污”的活动中，消费者可以在荷立净技术漆膜与普通漆膜上喷射有色液体，即使重复多次，也可以发现相较普通漆膜明显的着色情况而言，荷立净技术漆膜完全无法着色，洁净依旧；在“净味大比拼”展台前，体验者逐一嗅闻立邦的非净味漆、普通净味漆以及金装竹炭净味，后者几乎没有异味的舒适嗅觉体验，让每一位参与者都信服竹炭因子与净味技术结合后“释放”出的清新气息；最为有趣的要数“弹性拉力赛”，两
          位参与者各执立邦弹力膜的一端拉伸，长度最长的获胜，不少参与者把一根手指长度 的弹力膜拉伸到了成年人臂展长度，真的有种做“龙须面”的感觉；现场的人气最旺
          的还是净味色彩DIY绘画，孩子在父母的陪伴下，在立邦色彩咨询师专业指导下，用 立邦缤纷净味迷你12色涂料在画纸上尽情挥洒着缤纷的想象力，许多充满童趣的作品
          都被父母们带走收藏，环保无污染的净味色彩如同孩子们纯洁的眼睛，折射着世界的 原色。
        </p>

        <p class="oth_act_p5">
          如同立邦此次刷新活动所宣导的：为自己刷新梦想；为家人刷新幸福；为孩子刷新未来。立邦期待能让更多消费者了解“刷新”的幸福涵义，配以立邦全方位的优质产品和独有的调色净味技术，为每位消费者带来更多环保又靓丽的刷新体验。陪伴每位消费者迈出幸福人生的每一步。
        </p>

        <div class="act_area mt25">
          <h2>
            <a href="javascript:void(0)" class="other_act_btn"><img src="<%= asset_path "big_bg/other_act_btn.png"%>"/></a>立邦为你刷新生活——活动主题阐释
          </h2>

          <div class=" act_area_con">
            <p class="line_b_dot">
              人的一生当中，总会有许多的转折点和新开始。
              <br/>
              不论是新学期、新工作、新身份、新年龄、新房子，还是恋人之间的相识、相恋、结婚、孕育新的生命，或单纯的想要改变。
              <br/>
              这些都是成长和生活过程中必须经历的阶段，代表着人生的刷新和突破。虽然每个人刷新目的与内心所求并不相同，但相同的是对美好生活的追求。
            </p>

            <p>
              我们立邦了解，这些对美好生活由衷的向往，给予了人最热情的生活动力。
              因此我们不只是专注于产品与色彩的研发，而是透过人们生活的不断刷新，改变彼此之间的关系，拉近人与人之间的联系。
              <br/>
              从现在开始，让立邦与您一起刷新，一起去拥有更好的生活起点，一起拥抱更好、更璀璨的明天！
            </p>
          </div>
        </div>
        <!--act_area ends-->
        <div class="act_area">
          <h2>
            <a href="javascript:void(0)" class="other_act_btn"><img src="<%= asset_path "big_bg/other_act_btn.png" %>"/></a>活动主推产品说明
          </h2>

          <div class="act_area_box">
            <div class="act_item line_b_dot">
              <img src="<%= asset_path "big_bg/act_tj.jpg" %>" alt=""/>

              <div class="fl acr_item_text">
                <h3 class="ft_green">为自己刷新梦想</h3>
                <span class="bg_green">立邦弹性抗裂净味五合一</span>

                <p>
                  超强无裂纹，无暇纯净享受
                  <br/>
                  立邦“弹性抗裂净味五合一”内墙乳胶漆具有超强的弹张性能，漆膜可随基材的细微变化以及温差造成的热胀冷缩引起的裂缝而自由伸缩，大大提升了产品的防裂能力，同时采用“立邦净味”技术，能大幅度降低产品中的残存气味，达到真正净味。
                </p>
              </div>
            </div>
            <!--act_item ends-->
            <div class="act_item line_b_dot">
              <img src="<%= asset_path "big_bg/act_tj2.jpg" %>" alt=""/>

              <div class="fl acr_item_text">
                <h3 class="ft_red">为家人刷新幸福</h3>
                <span class="bg_red">立邦金装竹炭净味全效</span>

                <p>
                  清新空气，“净”享健康生活
                  <br/>
                  立邦“金装竹炭净味全效”内墙乳胶漆采用了先进的立邦净味技术，不添加香精，大幅度降低产品中残存气味。在解决家居墙面问题的同时，使您不再为烦人的气味而担忧，更增添竹炭因子，为您创造健康环保、自然纯净的家居空间。
                </p>
              </div>
            </div>
            <!--act_item ends-->
            <div class="act_item line_b_dot">
              <img src="<%= asset_path "big_bg/act_tj3.jpg" %>" alt=""/>

              <div class="fl acr_item_text">
                <h3 class="ft_yellow">为孩子刷新未来</h3>
                <span class="bg_yellow">立邦菏净全效</span>

                <p>
                  污渍难停留，净味更健康
                  <br/>
                  立邦“荷净净味全效”内墙乳胶漆，在保持原全效功能的基础上，采用了立邦最新研发的“立邦荷立净”技术，增加漆膜表面的疏水性，使漆膜更致密，从而大大增强了家居墙面对于水性污渍的抗污性。
                </p>
              </div>
            </div>
            <!--act_item ends-->
          </div>
          <!--act_area_box ends-->
        </div>
        <!--act_area ends-->
        <script type="text/javascript">
            $(function() {
                $('.other_act_btn').click(function() {
                    $(this).parents('.act_area').children('div').slideToggle()
                })
            })
        </script>
        <div class="act_rules">
          <h3>促销信息介绍</h3>

          <p>
            “刷新生活，购漆送大礼”
            <br/>
            活动即日起至2012年10月31日
            <br/>
            <br/>
            1. 购漆二送一 购买活动产品2桶，送指定底漆产品1桶；
            <br/>
            2. 满额送好礼 购买净味全效礼包享8折优惠，金装抗甲醛净味全效礼包、全能木器漆享7.5折优惠；
            <br/>
            3. 免费调千色 购乳胶漆，即可免费净味调色；
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--wrapper ends-->
</div><!--main ends-->