<%- content_for :head do %>
    <%= stylesheet_link_tag "review_net"%>
<%- end %>
<div class="main page_weekstar">
      <div class='sub_title tr'>
        <%= image_tag 'design/title_event.png'%>
      </div>
      <div class='sub_nav ft12 pr tr'>
        <em><a class="fb" href="/other_events">其他精彩活动</a></em>
        <em><a href="/events">精彩活动</a><span></span></em>
        <em><a href="/">首页</a><span></span></em>
      </div><!--sub_nav ends-->
      <div class="wrapper padt25">
        <div class="shadow">
          <div class="section">
            <div class="tc"><%= image_tag 'design/trend/review_net_over.jpg'%></div>
            <div class="review_net">
              <h4>参与方法</h4>
              <p>活动期间内(2012年11月8日-2012年11月22日)对装修点评网发起的有奖点评主题帖进行回复。</p>
              <h4>活动规则</h4>
              <p>抢到尾数12的前5名幸运儿，以及提供最精彩独到见解的5名网友，将获得 iColor <strong>小龙U盘一个</strong>。</p>
              <p>获奖名单将在<a href="http://www.icolor.com.cn" target="_blank">www.icolor.com.cn</a>网站进行公布;</p>
              <h4>活动时间</h4>
              <p>2012年11月8日-2012年11月22日;<br>11月23日-11月30日为评奖阶段;<br>12月3日奖品将统一由iColor发送;</p>
              <p>立即发表你的精彩评论，请点击<a href="http://www.80018.cn/p.asp?/=312214" target="_blank">http://www.80018.cn/p.asp?/=312214</a></p>
              <h4>作品征集</h4>
              <p>装修点评网与立邦iColor即将联合推出下一波<strong>【东方style】</strong>作品点评活动，快去iColor上传你的作品，我们会于每周/每月评选出设计之星，除了能获得iColor提供的精美好礼外，还有机会成为下次点评案例，免费提供iColor官网首页大幅宣传展示机会，中华室内设计网A963、装修点评网作品曝光展示，名利双收！还不快去<a href="http://www.icolor.com.cn" target="_blank">www.icolor.com.cn</a>了解更多</p>
              <a href="http://www.icolor.com.cn/gift_list<%= link_suffix %>"><%= image_tag 'design/trend/search_award.jpg'%></a>
            </div>
          </div>
        </div>
      </div>
      <div class='sub_bot pr'>
        <div class="pager ft12"></div><!--pager ends-->
      </div><!--sub_bot ends-->
</div>