<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section">
      <img src="<%= asset_path "big_bg/beijing_tit.jpg" %>"/>

      <p>北京，数千年历史沉淀成就了这样一个世界闻名的文化古城，在这里，每一种色彩都是浓郁而经得起时间磨砺的。作为立邦2011春季色彩潮流研讨会的第二站，北京的会议更是带给所有参会设计师更多的惊喜和激情。 </p>

      <p>第一站上海的会议结束后，不少设计师感觉意犹未尽，并且跟立邦提议今后的会议可增加更多的问答和交流环节。因为会议特别邀请到从业超过20年的资深色彩专家、立邦国际荣誉色彩顾问Mr.Dominic
        作为主讲人，大家都感觉非常难得，想有更多的机会与Dominic交流。所以，这次北京站的会议，立邦在Dominic的精彩演讲后特别增加了问答时间，以回馈设计师们的热情。</p>

      <p class="line_b_dot">
        <img src="<%= asset_path "big_bg/beijing1.jpg" %>"/><img src="<%= asset_path "big_bg/beijing2.jpg" %>"/><img src="<%= asset_path "big_bg/beijing3.jpg" %>"/>
      </p>

      <div class="beijing_question">
        <h2 class="line_b_dot">如下为会程中设计师与Dominic交流问答的节选：</h2>

        <h3>色彩可以改变空间的感觉，但具体在设计的运用中，有什么规则可以参照吗？</h3>

        <p>色彩确实能改变我们对空间的感觉，也确实存在一些规律，例如，暖色调能使房间看起来更加紧凑。而冷色调具有扩张的效果，能使空间看起来更大更通透。因此，在颜色选择之前，检查空间布局是否符合要求是非常重要的。具体的运用方法您可以详细参考立邦iColor网站色彩趋势了解更多。</p>

        <h3>请问Dominic先生，不同功能的房间，在颜色选择时有什么需要注意的吗？</h3>

        <p>颜色对人的情绪有一定影响，在决定家装设计颜色时必须考虑各个房间的功能。例如开放、放松的环境，中性色、绿色或黄色是比较适合的色调。而暖色系会加强空间的私密性，营造更为亲密舒适的环境空间。对于卧室来讲，建议使用冷色调的油漆，会带给人更放松的感觉。</p>

        <h3>请问，在设计过程中，如何考虑周边环境的协调性？</h3>

        <p class="noborder">考虑外墙漆使用的时候，建议使用与环境色和现有物体相协调的颜色，如砖墙、石材和屋顶的颜色：棕色是接近砖墙的色彩，绿色接近家中所使用的石材颜色以及房屋周围植物的颜色。当选择室内色彩时，以该家具或织物的色彩为主基调，运用色彩和谐搭配原理来选择合适的颜色。</p>
      </div>

      <div class="beijing_b">
        <img class="fr" src="<%= asset_path "big_bg/beijing4.jpg" %>"/>

        <p>在整个问答环节，设计师们表现出了前所未有的热情，每个人似乎都有无数问题需要向Dominic请教，主持人拿着话筒在提问者之间穿梭不停，可是活动的时间又是如此有限。直到主持人最后祭出了杀手锏：承诺这样的活动将来一定会再次举行，立邦绝不食言；这次研讨会上亮相的立邦icolor网站作为设计师交流的专业平台，也将向大家永久敞开大门。 </p>

        <p>接下来的创意DIY环节，设计师们的热情被再次点燃，争先恐后地拿起刷子和模板，沾起立邦缤纷迷你涂料就挥洒起来，想象力层出不穷，现场氛围再度掀起新一轮的高潮。研讨会在欢乐的气氛中结束了，设计师们纷纷跟Dominic合影，要把这兴奋的一刻永远定格下来。</p>
      </div>
    </div>
  </div>
</div>
