<div class='wrapper act_beijing pt25 pb30'>
  <div class="shadow">
    <div class="section"><img src="<%= asset_path "big_bg/chengdu_tit.jpg"%>"/>

      <p>2011立邦色彩研讨会最后一站是成都。在这个美食与美色兼具的美丽城市，立邦所带来的色彩与创意将激发出怎样的缤纷灵感？这一站的会议又有些什么好玩的花絮呢？现在就跟我看看吧!</p>

      <p class="line_b_dot">
        <img src="<%= asset_path "big_bg/chengdu1.jpg"%>"/><img src="<%= asset_path "big_bg/chengdu2.jpg"%>"/><img src="<%= asset_path "big_bg/chengdu3.jpg"%>"/>
      </p>

      <div class="chengdu_con line_b_dot">
        <h3>精彩案例色缤纷</h3>

        <p>Mr.Dominic-立邦国际荣誉色彩顾问的精彩演讲之后，分别对三位家装设计总监的搭配实例进行了点评。其中来自云南昆明皇巢装饰首席设计师施瑾的作品极具地域特色，她介绍在云南色彩丰富的东南亚风格比较流行，多元文化的融合也使人们更加崇尚自然元素，而她带来的案例业主是来自大理的少数民族，将中式和东南亚风格进行结合，运用木雕等</p>

        <p>Dominic点评了施瑾的案例，他认为这个作品是多元文化融合的典型范例，且非常巧妙地运用了对比色，很多自然、手工的元素体现在里面，既创造出优雅奢华的感受，又令人感觉温馨舒适。</p>
      </div>
      <div class="beijing_b chengdu_con line_b_dot"><img class="fr" src="<%= asset_path "big_bg/chengdu4.jpg"%>"/>

        <h3>色彩体系引灵感</h3>

        <p>东方家园首席设计师陈荣涵在随后的交流中介绍，东方家园推出的七大色彩体系和立邦的六大色彩流行趋势很接近，这次的研讨会对于他们随后的工作具有指导性意义，很多新鲜创意和设计搭配的元素，引发了更丰富的色彩灵感。</p>
      </div>
      <div class="beijing_b chengdu_con2 line_b_dot mb25"><img src="<%= asset_path "big_bg/chengdu5.jpg"%>"/>

        <h3>创意涂刷玩到High</h3>

        <p>最后，在立邦缤纷净味迷你涂料的涂刷互动体验中，设计师们通过透明模板在画板上随意色彩DIY，尽情发挥创意和想象力。</p>

        <P>全套12色的立邦净味迷你涂料是立邦今年将推出的创意新品，配备了各种形状的透明模板，设计师们将不同的模板和色彩进行大胆创意组合，营造出各种出人意料的涂刷效果。渐变色、大胆撞色、图形错位组合…只有想不到，没有刷不到，现场不断涌现出灵感飞扬的作品，设计师们的创意被不断激发升华，大家玩至high到不行。</P>

        <p>“涂料不单是营造一块美丽的墙面，它展现的是人们积极的生活态度和美好生活的渴望，让色彩的影响力深入人心，藉由高新技术的支持，创造更加美好的居家环境。“立邦为你刷新生活”，这就是我们立邦正在做，并将持续做下去的动力。”立邦西区销售总经理孙荣隆先生最后总结。</p>
      </div>
      <p class="chengdu_b mb25">
        <img src="<%= asset_path "big_bg/chengdu6.jpg"%>"/><img src="<%= asset_path "big_bg/chengdu7.jpg"%>"/><img src="<%= asset_path "big_bg/chengdu8.jpg"%>"/>
      </p>
    </div>
  </div>
</div>
