<%- if @love_story_user.try(:avatar) -%>
  $('.story_photo').replaceWith("<%= render partial: 'user_avatar' %>");
<%- else %>
  $('.story_photo').attr('href', '<%= user_asks_path(@love_story_user) if @love_story_user %>');
<%- end %>
<%- if @love_story.love_story_images.count > 0 %>
  $('#slider_pics').html("<%= j render partial: 'story_info_modal' %>");
<%- else %>
  $('#slider_pics').html('<li>顶尖设计师</li>');
<%- end %>
$('.js-author_name').html("<%= @love_story.user_name %>");
$('.js-author_area').html("<%= Area.find_by_id(@love_story.area_id).try(:root).try(:name)%>");
$('.js-author_date').html("<%= @love_story.created_at.to_date %>");
$('.js-author_content').html("<%= @love_story.content %>");
$('#havepics').modal('show');