<div class="content">
  <div class="title"><h5>iColor工具</h5>
    <div class="num"><%= link_to '新增工具', main_app.new_tool_path, :class => "redNum" %></div>
  </div>   
  <!-- Dynamic table -->
  <div class="table">
    <div class="head"><h5 class="iFrames">工具列表</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
      <thead>
      <tr>
        <th width="5%">ID</th>
        <th>工具名称</th>
        <th>工具数量(单位/套)</th>
        <th>已申请工具数量(单位/套)</th>
        <th width="100px">操作</th>
      </tr>
      </thead>
      <tbody>
      <%- collection.each do |c| %>
        <tr class="gradeA">
          <td><%= c.id %></td>
          <td><%= c.name %></td>
          <td><%= c.total %></td>
          <td><%= c.has_applied %></td>
          <td nowrap="nowrap" align="center">
		        <%= link_to '编辑', main_app.edit_tool_path(c), :class => 'button basicBtn' %>
	          <%= link_to '删除', main_app.tool_path(c), :confirm => '确定删除?', :method => :delete, :class => 'button basicBtn' %>
		      </td>
        </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>