<% content_for :body_head do %>
  <script type='text/javascript'>
  // Conversion Name: 为爱刷新_9landing on 发布我的故事页
  var ebRand = Math.random()+'';
  ebRand = ebRand * 1000000;
  //<![CDATA[
  document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=436293&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
  //]]>
  </script>
  <noscript>
  <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=436293&amp;ns=1"/>
  </noscript>
<% end %>
<div class="container-fluid bann_green_skin introduction">
  <div class="banner"></div>
  <div class="container">
    <div class="top-bg"></div>
    <div class="main">
      <ul class="nav nav-tabs introduction_tabs" id="introduction_tab">
        <li class="active"><a href="#users" data-toggle="tab">普通用户<i></i></a></li>
        <li><a href="#designers" data-toggle="tab">设计师/家装公司<i></i></a></li>
        <li><a href="#judgers" data-toggle="tab">评委名单<i></i></a></li>
      </ul>
      <div class="tab-content ph15">
        <div class="tab-pane active" id="users">
          <h2>普通用户 活动说明</h2>
          <ul class="introduction-list">
            <li>
              <strong>参与资格</strong>
              <p>所有活动的参与者必须是iColor网站的注册用户、新浪微博参与#为爱刷新#话题讨论者。</p>
            </li>
            <li>
              <strong>活动规则</strong>
              <p><b>活动细则及注意事项：</b></p>
              <ul>
                <li>•  普通用户上传的爱的故事与照片必须为个人所有，不许复制、抄袭、转载形式发布。</li>
                <li>•  iColor将对所有普通用户上传的爱的故事进行形式审查，不完整、不正确或不符合要求的均将视为无效或作废，举办方有权取消其参与活动或
                    评比的资格。</li>
                <li>•  活动全程立邦将不收取任何费用。</li>
                <li>•  活动最终解释权属iColor网站。</li>
              </ul>
              <p><b>版权说明：</b></p>
              <ul>
                <li>•  所有故事的知识产权和版权均归本人所有， 一经与权力人双方约定后，立邦涂料（中国）有限公司拥有展示、刊登和出版的无偿使用权。任何可能发生的各种形式的版权（署名）纠纷将完全由用户本人承担。</li>
              </ul>
            </li>
            <li>
              <p><strong>活动内容</strong></p>
              <p><b>活动时间：</b> 2014年3月1日 – 2014年9月30日</p>
              <p><b>获奖公布时间：</b></p>
              <p>2014年3月-11月间不定期公布获奖名单</p>
              <p><b>如何参与： </b></p>
              <p>活动页面发布爱的故事并上传家庭/生活照，或在新浪微博发布#为爱刷新#+”爱的故事”，就有机会获得免费装修；同时，也可在iColor网站邀约心仪的设计师度身定制新家，由iColor优质设计师为您实现“爱”的新家。</p>
            </li>
            <li>
              <strong>活动奖励</strong>
              <p class="mt25"><img draggable="false" src="<%= asset_path 'love_story/images/intro/prize-users.jpg'%>" alt="" /></p>
              <p class="mt25"><em>*特等奖、一等奖、二等奖获奖消费者的刷新案例有机会入选卫视节目拍摄或者iColor“为爱刷新”视频拍摄</em></p>
              <p><em>*中奖者需负担税费，立邦涂料（中国）有限公司将在兑现奖励时按照国家规定代扣代缴20%相关税费</em></p>
            </li>
            <li>
              <p><strong>评选细则</strong></p>
              <p><b>评选过程：</b></p>
              <p>由知名媒体评选出获奖案例；</p>
              <p><b>评比标准：</b></p>
              <p>有爱的故事，积极期待生活的刷新，传递对美好生活的正能量！</p>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="designers">
          <h2>设计师/家装公司 活动说明</h2>
          <ul class="introduction-list">
            <li>
              <strong>参与资格</strong>
              <p>所有活动的参与者必须是iColor网站的注册用户、新浪微博参与#为爱刷新#话题讨论者。</p>
            </li>
            <li>
              <strong>活动规则</strong>
              <p><b>活动细则及注意事项：</b></p>
              <ul>
                <li>•  家装公司和设计师参与活动上传的作品，必须是个人设计的作品，不能有抄袭或剽窃他人设计成果、侵犯他人知识产权及其他合法权益的行为，否则责任自负。<br />
                <small>作品图以创意方案为主。需上传3张以上（包含3张）室内效果图。作品以图片（JPG、GIF、PNG或BMP格式均可）形式上传，单张图片大小不超过1M，且勿加任何水印。对于标注立邦色号或艺术漆色号的作品，评委会将重点优先考虑。<br />设计作品中不得出现推荐非立邦品牌的涂料产品，或对立邦产品进行诋毁、贬低的成分。</small>
                </li>
                <li>•  iColor将对所有设计师/家装公司上传的设计作品进行形式审查，不完整、不正确或不符合要求的均将视为无效或作废，举办方有权取消其参与活动或评比的资格。</li>
                <li>•  活动全程立邦将不收取任何费用。</li>
                <li>•  活动最终解释权属iColor网站。</li>
              </ul>
              <p><b>版权说明：</b></p>
              <ul>
                <li>•  所有设计作品的知识产权和版权均归本人所有， 一经与权力人双方约定后，立邦涂料（中国）有限公司拥有展示、刊登和出版的无偿使用权。任何可能发生的各种形式的版权（署名）纠纷将完全由设计者本人承担。</li>
              </ul>
            </li>
            <li>
              <strong>活动内容</strong>
              <p><b>活动时间：</b> 2014年3月 – 2014年10月</p>
              <p><b>获奖公布时间：</b></p>
              <p>2014年3月-9月：分3期不定期公布金马奖获奖名单<br />2014年11月：白马奖/专业奖获奖名单公布</p>
              <p><b>如何参与： </b></p>
              <p>上传个人原创作品（实景图或效果图），参与专业评委及网民投票评选，优秀设计师除获得专业类奖项之外，还有机会参与卫视节目录制或者iColor“为爱刷新”视频拍摄，向全世界展示设计才华。</p>
            </li>
            <li>
              <strong>活动奖励</strong>
              <p class="mt25"><img src="<%= asset_path 'love_story/images/intro/prize-designers.jpg'%>" alt="" /></p>
              <p class="mt25"><em>*金马奖、白马奖获奖设计师有机会参与卫视节目录制或者iColor“为爱刷新”视频录制及入编iColor设计年鉴</em></p>
            </li>
            <li>
              <strong>评选细则</strong>
              <p><b>评选过程：</b></p>
              <p>由国内知名设计学院专家与网名投票形式在每个参与活动的设计师和家装公司中评选出获奖选手。</p>
            </li>
          </ul>
        </div>
        <div class="tab-pane" id="judgers">
          <h2>评委名单</h2>
          <ul class="introduction-judgers clearfix">
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img1.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>李进</h3>
                <p style="margin-top:84px;">高级室内设计师<br />
                加拿大Ryerson大学访问学者<br />
                全国杰出中青年室内建筑师<br />
                长期从事设计研究与教育工作<br />
                现为上海市室内设计专业水平认证专家</p>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img2.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>来增祥</h3>
                <p>毕业于列宁格勒建工学院<br />
                现任同济大学建筑系教授<br />
                曾获上海市重点工程个人立功奖章、上海优秀建筑装饰专业设计一等奖、北京人民大会堂国宴厅装饰设计荣誉证书、北京人民大会堂上海厅装饰设计荣誉证书等奖项。<br />
                主要作品：上海一号线地铁新闸路站(建筑与室内设计)、北京天安门广场复八线地铁天东站、天西站建筑装饰与室内设计等重大项目。</p>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img3.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>郑曙旸</h3>
                <p>毕业于中央工艺美术学院工业美术系<br />
                文学士学位<br />
                现任清华大学美术学院副院长、教授、博士生导师、艺术设计分部主任。<br />
                论 著： 《室内设计程序》《环境艺术设计》 《景观设计》等。<br />
                主要作品：<br />
                匈牙利布达佩斯香港楼酒店室内设计、主持制定2008北京奥运会城市环境景观规划纲要</p>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img4.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>彭军</h3>
                <p style="margin-top:84px;">从事室内设计29年，毕业于天津美术学院环艺设计，擅长现代风格，现任天津美术学院艺术设计学院副院长、环境艺术设计系主任，英国布鲁乃尔大学、诺森比亚大学高级访问学者；中国美术家协会会员。</p>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img5.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>王琼</h3>
                <p style="margin-top:124px;">毕业于西北师范学院美术系<br />任金螳螂建筑与城市环境学院副院长、室内设计系系主任</p>
              </div>
            </li>
            <li>
              <img src="<%= asset_path 'love_story/images/intro/img6.jpg'%>" alt="" />
              <div class="pull-right">
                <h3>王铁</h3>
                <p>副院长、教授、硕士生导师<br />
                中国建筑装饰协会专家组 副组长<br />
                中国建筑装饰协会 常务理事 设计委员会 副主任<br />
                中国美术家协会 会员<br />
                中国美术家协会环境艺术委员会 委员<br />
                著作：<br />
                文字空间到视觉空间设计 湖南美术出版社<br />
                建筑设计与环境 安徽美术出版社<br />
                室内建筑空间创造 辽宁科学技术出版社</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>