<div class="e-pop abs-center none">
  <a href="javascript:;" class="close-btn">关闭</a>
  <div class="clear">
    <div class="e-count" id="e-ml1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ml2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ml3">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ml4">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>公里，</p>
    <div class="e-count" id="e-ct1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ct2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>个城市，</p>
    <div class="e-count" id="e-ds1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ds2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ds3">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ds4">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>位设计师，</p>
    <div class="e-count" id="e-ps1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ps2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ps3">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ps4">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ps5">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-ps6">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>个普通参与者，</p>
    <div class="e-count" id="e-st1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-st2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-st3">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>个感人的爱情刷新故事，</p>
    <div class="e-count" id="e-pro1">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-pro2">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-pro3">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-pro4">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <div class="e-count" id="e-pro5">
      <%= image_tag('baicheng/map/digit.jpg') %>
    </div>
    <p>张真实的设计作品</p>
  </div>
  <a href="javascript:void(0);" class="e-pop-btn">点击查看</a>
</div><!-- abs_center -->
