<div class="wrapper map pr">
  <%#= render partial: 'baicheng/welcome/sidebar' %>
  <%= render partial: 'baicheng/welcome/jiathis' %>
  <div class="refresh-logo">
    <%= image_tag('baicheng/refresh/leftlogo.png') %>
    <a href="javascript:;" title="活动近况" class="e-recent">活动近况</a>
    <% if current_user -%>
      <% unless current_user.common_user? %>
        <% if controller_name == "stories" && action_name == "show" %>
             <a href="<%=new_user_design_path(current_user, story_id: @story.id)%>" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
        <% else %>
            <a href="<%=new_user_design_path(current_user)%>" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
        <% end %>
      <% else %>
        <a href="javascript:alert('只有设计师/家装公司才能上传哦！');" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
      <% end %>
    <% else -%>
       <%= link_to_function "上传作品 Upload", "show_login()", :class=>"e-upload" %>
    <% end %>

    <% if current_user -%>
        <a href="<%=new_story_path%>" title="发表故事 征集设计" class="e-publish">发表故事 征集设计</a>
    <% else -%>
       <%= link_to_function "发表故事 征集设计", "show_login()", :class=>"e-publish" %>
    <% end %>
  </div><!-- refresh-logo -->


<ul id="map">
    <!--xinliang-->
    <% if @xx.present? && @xx2.present? %>
      <li class="dot1" title="新乡">
        <ul class="map-ring">
          <% cnt = 0 %>
          <% @xx.each_with_index do |xx,i| %>
            <% cnt = i+1 %>
            <li class="msg msg<%=i+1%> content">
              <div>
                <p><%=xx.story.title%></p>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt) != 0 %>
            <%(6-cnt).times do |i| %>
              <li class="msg msg<%=cnt+(i+1)%>"></li>
            <% end %>
          <% end %>

          <% cnt2 = 0 %>
          <% @xx2.each_with_index do |xx,i| %>
            <% cnt2 = i+7 %>
            <li class="token token<%=i+7%>">
              <a href="#">
                <%- if xx.design.user.avatar %>
                  <img src="<%=xx.design.user.avatar.try(:url, :access_icon)%>" height = "36" width = "36" />
                <%- else %>
                  <%= image_tag "news/regimg_bg.jpg", :width => "36", :height => "36"%>
                <%- end %>
              </a>
              <div>
                <a href="#"><%=xx.design.user.username%></a>
                <b><%=xx.design.user.area.name%></b>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (12-cnt2) != 0 %>
            <%(12-cnt2).times do |i| %>
              <li class="token token<%=cnt2+(i+1)%>">
                <a href="#">
                    <img src="<%=asset_path 'baicheng/map/img.png'%>" height = "36" width = "36" />
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% else %>
      <li class="dot1 empty" title="新乡"></li>
    <% end %>
    <!--xinliang end-->

    <!--langfang-->
    <% if @lf.present? && @lf2.present? %>
      <li class="dot2" title="廊坊">
        <ul class="map-ring">
          <% @lf.each_with_index do |lf,i| %>
            <% cnt = i+1 %>
            <li class="msg msg<%=i+1%> content">
              <div>
                <p><%=lf.story.title%></p>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt) != 0 %>
            <%(6-cnt).times do |i| %>
              <li class="msg msg<%=cnt+(i+1)%>"></li>
            <% end %>
          <% end %>
          <% @lf2.each_with_index do |lf,i| %>
            <% cnt2 = i+7 %>
            <li class="token token<%=i+7%>">
              <a href="#">
                <%- if lf.design.user.avatar %>
                  <img src="<%=lf.design.user.avatar.try(:url, :access_icon)%>" height = "36" width = "36" />
                <%- else %>
                  <%= image_tag "news/regimg_bg.jpg", :width => "36", :height => "36"%>
                <%- end %>
              </a>
              <div>
                <a href="#"><%=lf.design.user.username%></a>
                <b><%=lf.design.user.area.name%></b>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (12-cnt2) != 0 %>
            <%(12-cnt2).times do |i| %>
              <li class="token token<%=cnt2+(i+1)%>">
                <a href="#">
                    <img src="<%=asset_path 'baicheng/map/img.png'%>" height = "36" width = "36" />
                </a>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% else %>
      <li class="dot2 empty" title="廊坊"></li>
    <% end %>
    <!--langfang end-->

    <!--datong-->
    <% if @dt.present? && @dt2.present? %>
      <li class="dot3" title="大同">
        <ul class="map-ring">
          <% @dt.each_with_index do |dt,i| %>
            <% cnt = i+1 %>
            <li class="msg msg<%=i+1%> content">
              <div>
                <p><%=dt.story.title%></p>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt) != 0 %>
            <%(6-cnt).times do |i| %>
              <li class="msg msg<%=cnt+(i+1)%>"></li>
            <% end %>
          <% end %>
          <% @dt2.each_with_index do |dt,i| %>
            <% cnt2 = i+7 %>
            <li class="token token<%=i+7%>">
              <a href="#">
                <%- if dt.design.user.avatar %>
                  <img src="<%=dt.design.user.avatar.try(:url, :access_icon)%>" height = "36" width = "36" />
                <%- else %>
                  <%= image_tag "news/regimg_bg.jpg", :width => "36", :height => "36"%>
                <%- end %>
              </a>
              <div>
                <a href="#"><%=dt.design.user.username%></a>
                <b><%=dt.design.user.area.name%></b>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (12-cnt2) != 0 %>
            <%(12-cnt2).times do |i| %>
              <li class="token token<%=cnt2+(i+1)%>">
                <a href="#">
                    <img src="<%=asset_path 'baicheng/map/img.png'%>" height = "36" width = "36" />
                </a>
              </li>
            <% end %>
          <% end %> 
        </ul>
      </li>
    <% else %>
      <li class="dot3 empty" title="大同"></li>
    <% end %>
    <!--datong end -->

    <!--sjz-->
    <% if @sjz.present? && @sjz2.present? %>
      <li class="dot4" title="石家庄">
        <ul class="map-lamp">
          <% @sjz.each_with_index do |sjz,i| %>
            <% cnt = i+1 %>
            <li class="msg msg<%=i+1%> content">
              <div>
                <p><%=sjz.story.title%></p>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt) != 0 %>
            <%(6-cnt).times do |i| %>
              <li class="msg msg<%=cnt+(i+1)%>"></li>
            <% end %>
          <% end %>
          <% @sjz2.each_with_index do |sjz,i| %>
            <% cnt2 = i+1 %>
            <li class="token token<%=i+1%>">
              <a href="#">
                <%- if sjz.design.user.avatar %>
                  <img src="<%=sjz.design.user.avatar.try(:url, :access_icon)%>" height = "36" width = "36" />
                <%- else %>
                  <%= image_tag "news/regimg_bg.jpg", :width => "36", :height => "36"%>
                <%- end %>
              </a>
              <div>
                <a href="#"><%=sjz.design.user.username%></a>
                <b><%=sjz.design.user.area.name%></b>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt2) != 0 %>
            <%(6-cnt2).times do |i| %>
              <li class="token token<%=cnt2+(i+1)%>">
                <a href="#">
                    <img src="<%=asset_path 'baicheng/map/img.png'%>" height = "36" width = "36" />
                </a>
              </li>
            <% end %>
          <% end %> 
        </ul>
      </li>
    <% else %>
      <li class="dot4 empty" title="石家庄"></li>
    <% end %>
    <!--sjz end-->

    <!--ly-->
    <% if @ly.present? && @ly2.present? %>
      <li class="dot5" title="洛阳">
        <ul class="map-ray">
          <% @ly2.each_with_index do |ly,i| %>
            <% cnt2 = i+1 %>
            <li class="token token<%=i+1%>">
              <a href="#">
                <%- if ly.design.user.avatar %>
                  <img src="<%=ly.design.user.avatar.try(:url, :access_icon)%>" height = "36" width = "36" />
                <%- else %>
                  <%= image_tag "news/regimg_bg.jpg", :width => "36", :height => "36"%>
                <%- end %>
              </a>
              <div>
                <a href="#"><%=ly.design.user.username%></a>
                <b><%=ly.design.user.area.name%></b>
                <i></i>
              </div>
            </li>
          <% end %>
          <% if (6-cnt2) != 0 %>
            <%(6-cnt2).times do |i| %>
              <li class="token token<%=cnt2+(i+1)%>">
                <a href="#">
                    <img src="<%=asset_path 'baicheng/map/img.png'%>" height = "36" width = "36" />
                </a>
              </li>
            <% end %>
          <% end %> 
          <% @ly.each_with_index do |ly,i| %>
          <% cnt = i+1 %>
          <li class="msg msg<%=i+1%> content">
            <div>
              <p><%=ly.story.title%></p>
              <i></i>
            </div>
          </li>
          <% end %>
          <% if (6-cnt) != 0 %>
            <%(6-cnt).times do |i| %>
              <li class="msg msg<%=cnt+(i+1)%>"></li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% else %>
      <li class="dot5 empty" title="洛阳"></li>
    <% end %>
    <!--ly end -->
    <li class="dot6 empty" title="承德"></li>
    <li class="dot7 empty" title="太原"></li>
    <li class="dot8 empty" title="安阳"></li>
    <li class="dot9 empty" title="福州"></li>
    <li class="dot10 empty" title="运城"></li>
    <li class="dot11 empty" title="张家口"></li>
    <li class="dot12 empty" title="威海"></li>
    <li class="dot13 empty" title="成都"></li>
    <li class="dot14 empty" title="包头"></li>
    <li class="dot15 empty" title="咸阳"></li>
    <li class="dot16 empty" title="呼市"></li>
    <li class="dot17 empty" title="南宁"></li>
    <li class="dot18 empty" title="临沂"></li>
    <li class="dot19 empty" title="泸州"></li>
    <li class="dot20 empty" title="北京"></li>
    <li class="dot21 empty" title="沈阳"></li>
    <li class="dot22 empty" title="开封"></li>
    <li class="dot23 empty" title="淄博"></li>
    <li class="dot24 empty" title="自贡"></li>
    <li class="dot25 empty" title="汉中"></li>
    <li class="dot26 empty" title="哈尔滨"></li>
    <li class="dot27 empty" title="宁波"></li>
    <li class="dot28 empty" title="保定"></li>
    <li class="dot29 empty" title="南充"></li>
    <li class="dot30 empty" title="宜昌"></li>
    <li class="dot31 empty" title="上海"></li>
    <li class="dot32 empty" title="南昌"></li>
    <li class="dot33 empty" title="长治"></li>
    <li class="dot34 empty" title="济南"></li>
    <li class="dot35 empty" title="荆州"></li>
    <li class="dot36 empty" title="开发区"></li>
    <li class="dot37 empty" title="义乌"></li>
    <li class="dot38 empty" title="秦皇岛"></li>
    <li class="dot39 empty" title="渭南"></li>
    <li class="dot40 empty" title="厦门"></li>
    <li class="dot41 empty" title="济宁"></li>
    <li class="dot42 empty" title="齐齐哈尔"></li>
    <li class="dot43 empty" title="宜宾"></li>
    <li class="dot44 empty" title="合肥"></li>
    <li class="dot45 empty" title="金华"></li>
    <li class="dot46 empty" title="广元"></li>
    <li class="dot47 empty" title="常州"></li>
    <li class="dot48 empty" title="苏州"></li>
    <li class="dot49 empty" title="武汉"></li>
    <li class="dot50 empty" title="杭州"></li>
    <li class="dot51 empty" title="银川"></li>
    <li class="dot52 empty" title="台州"></li>
    <li class="dot53 empty" title="温州"></li>
    <li class="dot54 empty" title="深圳"></li>
    <li class="dot55 empty" title="长沙"></li>
    <li class="dot56 empty" title="海口"></li>
    <li class="dot57 empty" title="扬州"></li>
    <li class="dot58 empty" title="无锡"></li>
    <li class="dot59 empty" title="南京"></li>
    <li class="dot60 empty" title="南阳"></li>
    <li class="dot61 empty" title="佛山"></li>
    <li class="dot62 empty" title="大连"></li>
    <li class="dot63 empty" title="嘉兴"></li>
    <li class="dot64 empty" title="湖州"></li>
    <li class="dot65 empty" title="鞍山"></li>
    <li class="dot66 empty" title="长春"></li>
    <li class="dot67 empty" title="绵阳"></li>
    <li class="dot68 empty" title="吉林"></li>
    <li class="dot69 empty" title="重庆"></li>
    <li class="dot70 empty" title="昆明"></li>
    <li class="dot71 empty" title="贵阳"></li>
    <li class="dot72 empty" title="广州"></li>
    <li class="dot73 empty" title="遵义"></li>
    <li class="dot74 empty" title="徐州"></li>
    <li class="dot75 empty" title="许昌"></li>
    <li class="dot76 empty" title="郑州"></li>
    <li class="dot77 empty" title="兰州"></li>
    <li class="dot78 empty" title="天津"></li>
    <li class="dot79 empty" title="城阳"></li>
    <li class="dot80 empty" title="乌鲁木齐"></li>
    <li class="dot81 empty" title="西安"></li>
  </ul>








</div>

<%= render partial: 'baicheng/welcome/event_activity' %>


<%- content_for :head do %>
  <%= stylesheet_link_tag "baicheng/map" %>
<%- end %>

<%- content_for :tail do %>
  <script type="text/javascript">
  $('#map').on('click', function(e){  
    $(this).find('.ul-active').removeClass('ul-active');
    var $target = $(e.target);
    $target.is('li') && $target.find('ul').addClass('ul-active'); 
  });  
  $(function(){
    var recent = Layer({
      <%- unless params[:unload].present? %>
        auto : true,      // 是否自动弹出，默认false
      <%- end %>
      btn : $('.e-recent'), // 触发弹窗按钮
      box : $('.e-pop')   // 弹窗
    });
    $('.e-pop img').attr('draggable',false);

    $('#e-ml1')
    .spinCounter({spinTime: 1000, stopDigit: 2})
    .next().spinCounter({spinTime: 1260, stopDigit: 5})
    .next().spinCounter({spinTime: 1520, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-ct1')
    .spinCounter({spinTime: 1000, stopDigit: 8})
    .next().spinCounter({spinTime: 1500, stopDigit: 2});

    $('#e-ds1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1260, stopDigit: 6})
    .next().spinCounter({spinTime: 1520, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-ps1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1160, stopDigit: 2})
    .next().spinCounter({spinTime: 1320, stopDigit: 0})
    .next().spinCounter({spinTime: 1480, stopDigit: 0})
    .next().spinCounter({spinTime: 1640, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});

    $('#e-st1').spinCounter({spinTime: 1000, stopDigit: 1})
    .next().spinCounter({spinTime: 1400, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 2});

    $('#e-pro1').spinCounter({spinTime: 1000, stopDigit: 2})
    .next().spinCounter({spinTime: 1200, stopDigit: 0})
    .next().spinCounter({spinTime: 1400, stopDigit: 0})
    .next().spinCounter({spinTime: 1600, stopDigit: 0})
    .next().spinCounter({spinTime: 1800, stopDigit: 0});
  });
  </script>
<%- end %>
