
<%- if (controller_name == 'stories' && action_name == 'show') || (controller_name == 'design_works' && action_name == 'show') %>
	<div class="refresh-logo pf">
<%- else %>
	<div class="refresh-logo nomargin pf">
<%- end %>
  <%= image_tag('baicheng/refresh/leftlogo.png') %>
  <a href="javascript:;" title="活动近况" class="e-recent">活动近况</a>
  <% if current_user -%>
	  <% if controller_name == "stories" && action_name == "show" %>
	  	   <a href="<%=new_user_design_path(current_user, story_id: @story.id)%>" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
	  <% else %>
	  		<a href="<%=new_user_design_path(current_user)%>" title="上传作品 Upload" class="e-upload">上传作品 Upload</a>
	  <% end %>
	<% else -%>
	   <%= link_to_function "上传作品 Upload", "show_login()", :class=>"e-upload" %>
	<% end %>

	<% if current_user -%>
	  	<a href="<%=new_story_path%>" title="发表故事 征集设计" class="e-publish">发表故事 征集设计</a>
	<% else -%>
	   <%= link_to_function "发表故事 征集设计", "show_login()", :class=>"e-upload" %>
	<% end %>
</div><!-- refresh-logo -->
