<%- content_for :head do %>
  <style type='text/css'>
    body{background: url(<%= asset_path 'baicheng/index/index-bg.jpg' %>) no-repeat top center;}
  </style>
  <%= stylesheet_link_tag "baicheng/index" %>
<%- end %>
<div class="wrapper index pr">
  <%= link_to '刷新百城iColor', '/baicheng', class: "index-logo" %>
  <%= link_to '我要参加', '/baicheng/jump', class: "index-join" %>
  <%= link_to '我要PK', '/baicheng/pk', class: "index-pk" %>
  <a href="javascript:void(0)" class="index-btn1">LUCK Draw 注册 登录</a>
  <a href="javascript:void(0)" class="index-btn2">免费咨询</a>
  <a href="javascript:void(0)" class="index-btn3">为爱刷新</a>
  <%= render partial: 'baicheng/welcome/jiathis' %>
</div>
