<%- content_for :head do %>
  <style type='text/css'>
    body{background: url(<%= asset_path 'baicheng/index/leap-bg.jpg' %>) no-repeat top center;}
  </style>
  <%= stylesheet_link_tag "baicheng/index" %>
<%- end %>
<%- content_for :tail do %>
  <script type="text/javascript">
    $('.leap-btn1').click(function (){
      <%- unless current_user %>
        show_login();
      <%- end %>
    });
  </script>
<%- end %>
<div class="wrapper leap pr">
  <%= link_to '刷新百城iColor', '/baicheng', class: "index-logo" %>
  <a href="/baicheng/design_works" class="leap-join">立即参加</a>
  <a href="javascript:void(0)" class="leap-btn1">LUCK Draw 注册 登录</a>
  <a href="/baicheng/design_works" class="leap-btn2">免费咨询</a>
  <a href="/baicheng/design_works" class="leap-btn3">为爱刷新</a>
  <%= link_to '设计大PK', '/baicheng/pk', class: "leap-right" %>

  <%= render partial: 'baicheng/welcome/jiathis' %>
</div>
