<% content_for :head do -%>
    <%= stylesheet_link_tag "style","industry_news" %>
    <style>
    #bdshare{float:right!important;}
    .news_detail_main .title .info{height:30px;padding:0 250px;}
    .news_detail_main .title .info .time{line-height:30px;}
    .wrapper{padding:43px;}
    </style>
<% end -%>
<%- content_for :tail do %>
     <!-- <div class="float_ads tr">
      <a href="/gift"><img src="<%#rail= asset_path "float_ads.gif"%>"/></a><br/>
      <a href="javascript:void(0)" class="shut_float ft12">关闭</a>
    </div> -->
<%- end %>
<style>
  #ckepop a span{ margin-top: 4px; }
  #ckepop > a.jiathis_counter_style > span.jiathis_bubble_style{ margin-top: 4px; }
</style>
<div class="main industry_news">
  <div class="wrapper group news_detail">
    <div class="shadow news_detail_main">
      <div class="section">
        <div class="title">
          <h1><%= @article.name %></h1>
          <div class="info clearfix">
            <div class="time pull-left">时间：<%= @article.created_at.to_date %></div>

              <!-- JiaThis Button BEGIN -->
              <div id="ckepop" style="margin-top: 2px;">
                <span class="pull-left mt6">一键分享：</span>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_t163"></a>
                <a class="jiathis_counter_style"></a>
              </div>

              <% content_for :tail do %>
              <script type="text/javascript" charset="utf-8">
                  var jiathis_config = {
                      boldNum:4,
                      siteNum:4,
                      showClose:false,
                      sm:"kaixin001,renren,tsina,tqq",
                      imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
                      imageWidth:26,
                      marginTop:150,
                      url:"<%= request.url%>",
                      title:"#iColor对话名人#我正在阅读设计名家：<%=@article.name%>的设计手记，他对设计方面的理解让我深受启发，大家也一起来学习下吧。他还可以在线解答我的装修疑惑哦，你也来看看吧",
                      pic:"<%= (request.base_url + @article.thumb(:thumb)) unless @article.thumb.nil? %>",
                      data_track_clickback: true
                  }

                </script>
                <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
              <% end %>
              <!-- JiaThis Button END -->


          </div>
        </div>
        <div class="news_content">
          <%= raw @article.content %>
        </div>
      </div>
    </div>
    <!--sub_bot ends-->
  </div>
</div>



