<h3 class="chann_caption nomargin"><i class="icon-map icon-map8 icon_colors"></i><strong>精彩活动</strong><small>记录iColor的点滴精彩</small></h3>
<ul class="breadcrumb">
  <li><a href="/">首页</a> > </li>
  <li><a href="#">精彩活动</a> > </li>
  <li class="active">设计师活动</li>
</ul>
<hr class="border2 border2_mt2">

<div class="clearfix">
  <div class="index_main pull-left events_in">
    <h4 class="text-center title"><%=@article.name%></h4>
    <%= raw @article.content -%>
  </div>
  <div class="pull-right smaller">

    <%= render "dialog_celebrity/shared/media_chann" -%>
    <%= render "dialog_celebrity/shared/new_designs" -%>

    <%= render partial: 'design_images/image_list', locals: { i_column_type_id: 4, name: '装修效果图精华推荐' } %>
    <div><a href="<%=@banners[1].url%>"><img src="<%=@banners[1].file(:list_230x170)%>"></a></div>
    <div class="mt10"><a href="<%=@banners[2].url%>"><img src="<%=@banners[2].file(:list_230x230)%>"></a></div>
    <div class="mt10"><a href="<%=@banners[3].url%>"><img src="<%=@banners[3].file(:list_230x170)%>"></a></div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <%= render "refresh_record/foot_select" %>
  <div class="pull-right"><a href="<%=@banners[4].url%>"><img src="<%=@banners[4].file(:list_230x230)%>"></a></div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left"><a href="<%=@banners[5].url%>"><img src="<%=@banners[5].file(:list_670x85)%>"></a></div>
  <div class="footer_banner mt10 pull-right"><a href="<%=@banners[6].url%>"><img src="<%=@banners[6].file(:list_310x85)%>"></a></div>
</div>
