<%- content_for :head do %>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag 'jquery.masonry.js' %>
    <script type="text/javascript">
        $(function() {
            $('#inspiration').masonry();
        });
    </script>
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">
      <div class="host_self group">
        <div class="signup_img_box"> <img class="box_shadow" src="<%= asset_path "personal/d_host_img.jpg " %>" alt="" />
          <%- if params[:user_id].to_i == current_user.id %>
          <p><a href="#">修改账户信息</a></p>
          <%- end %>
        </div>
        <div class="host_status">
          <p class="d_hostaddr">上海罗磊室内设计有限公司</p>
          <!--<a class="back_perhome" href="#">返回个人主页</a>-->
          <div class="signup_text">
            <p> 从业5年，擅长简约及田园风格室内装修设计 </p>
          </div>
          <p class="icon_email">Email：  designer@163.com</p>
          <p class="icon_qq">Q   Q：  1204333759</p>
          <p class="icon_msn">MSN：  designer@hotmail.com</p>
          <p class="icon_fetion">飞  信：  395005</p>
        </div>
        <!--host_status ends-->
      </div>
      <!--host_self ends-->
      <%- if params[:user_id].to_i == current_user.id %>
      <ul class="system_info group">
        <li class="icon_point"><a href="f_in_point.html">我的积分</a></li>
        <li class="icon_info"><a href="f_in_infolist.html">系统消息(2)</a></li>
        <li class="icon_qustion"><a href="f_in_question.html">我的提问(新回复1)</a></li>
        <li class="icon_active"><a href="f_in_signup.html">我报名的活动</a></li>
      </ul>
      <%- end %>
      <!--system_info ends-->

      <div class="sort_box pr mt25 group">
        <ul class="sort_show_ul group">
          <li> <a class="sort_show_a" href="f_in_works.html">作&nbsp;&nbsp;品</a> </li>
          <li> <a class="sort_show_a" href="f_in_ins.html">灵感秀</a> </li>
          <li class="sort_show"> <a class="sort_show_a" href="f_in_msgboard.html">留言板</a> </li>
          <li> <a class="sort_show_a" href="f_in_notice.html">活动公告</a> </li>
        </ul>
        <!--<a class="launch_act" href="#">我要上传</a>-->
      </div>
      <!--sort_box ends-->

      <div class="host_main">
        <%= form_for :message, :url => user_messages_path, :html => {:class => "host_msgboard line_b_dot"} do |f| %>
          <fieldset>
            <textarea name="message[content]">你有神马对TA说的呢？</textarea>
            <p>0/140</p>
          </fieldset>
          <fieldset>
            <input class="host_submit noborder" type="submit" value="" />
            <input class="host_reset noborder" type="reset" value="" />
          </fieldset>
        <%- end %>
        <div class="msgboard_list mt25">
         <%- unless @messages.blank? %>
         <%- @messages.each do |m| %>
          <div class="msgboad_item"> <img class="box_shadow" src="<%= asset_path "personal/visitor_fans1.jpg " %>" alt="" />
            <h2 class="visitor_info"><strong class="fl"><%= m.from_user.display_name %></strong><span class="fl"><%= m.created_at.to_s(:db)[5..6] %>月<%= m.created_at.to_s(:db)[8..9] %>日&nbsp;&nbsp;<%= m.created_at.to_s(:time) %></span></h2>
            <!--<div class="msgboard_btn"><a href="#">删除</a><a href="#">回复</a></div>-->
            <div class="msg_list_box">
              <div class="signup_text">
                <p><%= m.content %></p>
              </div>
            </div>
          </div>
          <!--msgboad_item ends-->
          <%- end %><%- else %>
             您没有留言信息！
          <%- end %>
        </div>
        <!--msgboard_list ends-->
      </div>
      <!--host_main ends-->

      <div class="pager host_pager ft12">
        <%= paginate @messages %>
      </div>
      <!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->