<%- content_for :head do -%>
    <style type="text/css">
        .recommend_color input{width: 80px !important;margin-right: 15px;}
        .ac_results{background: #FFFFFF !important;z-index: 500;border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
    </style>
<%- end -%>
<%- content_for :tail do -%>
<%= javascript_include_tag "jquery.autocomplete.js" %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $(".recommend_color input").autocomplete("/admin/content/color_codes/autocomplete_recommend_color");
    });
</script>
<%- end -%>
<div class="content">
  <div class="title">
    <h5><%= form_title %></h5>
    <div class="num"><%= link_to '返回', subject_color_designs_path(parent), :class => "redNum" %></div>
  </div>

  <%- if resource.errors.size > 0 -%>
    <div class="nNote nFailure hideit">
      <p><strong>出错啦: </strong><%= resource.errors.full_messages.join(", ") %></p>
    </div>
  <%- end -%>

  <!-- Form with validation -->
  <%= simple_form_for([parent, resource], :html => { :class => "mainForm", :id => "valid", :multipart => true }) do |f| %>
    <fieldset>
      <div class="widget border">
        <%= f.input :design_name, :input_html => { :class=> "validate[required]" }, :label => "作品名称:" %>
        <%= f.input :main_preview_img, :label => "列表页图片:" %>
        <%= f.input :show_preview_img, :label => "内页图片:" %>

        <div class="rowElem">
          <label>&nbsp;&nbsp;&nbsp;风格:</label>
          <div class="formRight www1">
            <%= f.select :design_style, color_design_style_option, :class => "validate[required]" ,:prompt => '--请选择--'  %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <label>&nbsp;&nbsp;&nbsp;功能区:</label>
          <div class="formRight www1">
            <%= f.select :design_usage, color_design_usage_option, :class => "validate[required]" ,:prompt => '--请选择--' %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <label>&nbsp;&nbsp;&nbsp;色系:</label>
          <div class="formRight www1">
            <%= f.select :design_color, color_design_color_option, :class => "validate[required]" ,:prompt => '--请选择--'  %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <label>&nbsp;&nbsp;推荐色(请输入颜色编码):</label>
          <div class="formRight www1 recommend_color">
          <%- 3.times do |i| %>
            <%= text_field_tag "color_design[recommend_color#{i+1}]", '', :value => "#{ColorDesign.find(resource.id).send("recommend_color#{i+1}")}" %>
          <%- end %>
          </div>
          <label>&nbsp;&nbsp;推荐色(请输入颜色类型):</label>
          <div class="formRight www1 recommend_color">
          <%- 3.times do |i| %>
            <%= text_field_tag "color_design[recommend_color_category#{i+1}]", '', :value => "#{ColorDesign.find(resource.id).send("recommend_color_category#{i+1}")}" %>
          <%- end %>
          </div>
          <div class="fix"></div>
        </div>

        <%= f.input :design_thought, :label => "搭配理念:" %>

        <div class="rowElem">
          <div>
            <label class="string">发布时间:</label>
          </div>
          <div class="formRight www1">
            <%= text_field_tag "color_design[published_at]", nil, :class=> "datepicker validate[required]", :value => "#{set_date(resource)["date"]}" %>
            <%= text_field_tag "color_design[time]", nil, :class=> "timepicker validate[required]", :value => "#{set_date(resource)["time"]}" %>
          </div>
          <div class="fix"></div>
        </div>

        <%= f.input :tag_list, :hint => "Tips: 多个标签之间用“，”隔开", :label => "标签:" %>
        <div class="rowElem">
          <%= f.button :submit, :value => "#{button_value}" %>
          <div class="fix"></div>
        </div>
      </div>
    </fieldset>
  <%- end %>
</div>