<%- content_for :tail do %>
   <!--  <div class="float_ads tr">
      <a href="/gift"><img src="<%#= asset_path "float_ads.gif" %>"/></a><br/>
      <a href="javascript:void(0)" class="shut_float ft12">关闭</a>
    </div> -->
<%- end %>
<div class="main signup group">
  <div class="shadow signup_box">
    <div class="section">

      <%= render :partial => "users/profile_box" %>

      <div class="host_sort group">
        <ul class="show_tit_ul group">
          <li class="sort_show_tit">
            <%= link_to "我的提问", user_faqs_path, :class => "sort_show_a" %>
          </li>
        </ul>
      </div><!--host_sort ends-->

      <div class="host_main_list">
        <h3><span class="ft14">提问时间</span><span class="ft14">回答数</span><strong>标题</strong>（共<%= @faqs.size %>条）</h3>
        <%- unless @faqs.blank? %>
        <%- @faqs.each do |f| %>
        <p>
          <span class="<%= "replay_new_time" if @faqs.first == f %>"><%= f.created_at.strftime("%Y-%m-%d %H:%M:%S")[0..9] %></span>
          <span class="<%= "replay_new" if @faqs.first == f %>"><%= f.comments_count %></span>
          <a href="/faqs/<%= f.try(:id) %>"><%= f.try(:title) %></a>
        </p>
        <%- end %><%- else %>
        <p>您还没有提问！</p>
        <%- end %>
      </div>

      <div class="pager host_pager ft12">
        <%= paginate @faqs %>
      </div><!--pager ends-->
    </div>
  </div>
  <!--shadow ends-->
</div>
<!--main ends-->
