<div class="header clear">
  <a href="/yda" class="fl"><img src="<%= asset_path "yda/yda_logo.png"%>" alt="" /></a>
    <ul class="nav fl">
      <li><a href="/yda">首页</a></li>
        <li><a href="/yda/info">赛事简介</a></li>
        <li><a href="/yda/theme">赛事主题</a></li>
        <li><a href="/yda/act" class="yda_act">如何参加</a></li>
        <li><a href="/yda/agenda">赛事日程</a></li>
        <li><a href="/yda/prize">赛事奖项</a></li>
    </ul><!--nav ends-->
</div><!--header ends-->

<div class="yda ft14">
	<div class="yda_top pr">
      <span class="pa tr ft12">如何参加</span>
    </div><!--yda_top ends-->
    <div class="yda_title_act">如何参加</div>
    <p>
      <img src="<%= asset_path "yda/yda_step1.png"%>" alt="" class="yda_step fl" />
      实名制注册成为<a href="http://www.icolor.com.cn/" title="iColor官网" class="fb cr" target="_blank">iColor网站</a>的会员。（参赛作品上传需实名注册）<br />
      <span class="italic">注：iColor网站是NPYDA立邦亚洲青年设计师大赛中国区官网</span>
    </p>
    <p>
      <img src="<%= asset_path "yda/yda_step2.png"%>" alt="" class="yda_step fl" /><br /><a href="#" class="fb cr underline">下载</a>并仔细阅读参赛细则，设计并上传你的参赛作品。
    </p>
    <p>
      <img src="<%= asset_path "yda/yda_step3.png"%>" alt="" class="yda_step fl" />
      中国赛区评选出30位优秀设计师及作品,获得中国区”iColor未来设计明星”称号，并代表中国赛区自动入围10月在马来西亚举办的亚洲决赛（<a href="http://www.youngdesigneraward.com.my/" class="fb cr underline" target="_blank">点击浏览国际大赛官方网站</a>）
    </p>
    <p>
      <img src="<%= asset_path "yda/yda_step4.png"%>" alt="" class="yda_step fl" />
      <br />决赛获奖作品的得主将受邀于11月亲赴马来西亚领奖。
    </p>
</div><!--yda ends-->
