<%- content_for :jiathis_config do %>
  <script type="text/javascript" charset="utf-8">
    var jiathis_config = {
        boldNum:0,
        siteNum:7,
        showClose:false,
        sm:"t163,kaixin001,renren,douban,tsina,tqq,tsohu",
        imageWidth:26,
        marginTop:150,
        url:"http://www.icolor.com.cn/love/fashion_model/<%= params[:id] %>",
        title:"#因爱之名 刷新生活#想要了解时尚人士的家居设计，解读他们的艺术风格，学习大师设计理念，iColor“时尚榜样”等着你来一同欣赏 http://www.icolor.com.cn/love/fashion_model/<%= params[:id] %>",
        summary:" ",
        data_track_clickback:true
    }
  </script>
<%- end %>
<%- content_for :head do %>
<style type="text/css">
/*wanglikun_css*/
.role-model3{background: url(<%= asset_path 'baicheng/works/bg5_3.jpg' %>) no-repeat center top;min-height:170px;}
.role-model3 .wrapper{padding:15px 25px 25px;box-shadow:0px -1px 4px #ddd;}
.role-model3 .model-img{margin:0 0 40px;}
</style>
<%- end %>
<% content_for :tail do %>
	<%= javascript_include_tag 'baicheng/flowplayer-3.2.11.min' %>
	<script>
		flowplayer("player", "/system/flash/flowplayer-3.2.12.swf", {
			clip: {
				autoPlay: false
			}
		});
	</script>
<% end %>

<% if params[:id] == "foreign" %>
  <div class="container-fluid">
	<div class="role-model pad_t60">
		<div class="wrapper">
			<p>Edward Davinson是上海国拍红酒品鉴专家，六七年前他从伦敦来到上海。上海这个充满艺术气质的城市，立刻成为了他的新欢，他把家按在这里，慢慢体会这个城市的美。</p>
			<p>在Edward Davinson的心里，红色是代表喜庆和爱意的，宝宝房间里热烈的中国红，红色的墙壁上挂满了孩子的照片。和每个幸福的父亲一样，每每谈起孩子他都是一脸的骄傲。</p>
			<p>而中式的装修设计，更能在表现家的温暖之余，将艺术品完美的结合起来。客厅和私人空间交接处大红色描金的龙凤呈祥的朱门，便是主人的心水之物。他要让艺术品和自己和家人生活在一起，每天都能感受到美的力量。</p>
			<img src="<%= asset_path 'baicheng/works/model.jpg' %>" width="837" height="1892" class="model-img" />
			<i class="pull-right">以上资料由《美好家园》友情提供</i>
			<div class="redline_b4 pad_b40"></div>
		</div>
	</div>
<% elsif params[:id] == "native" %>
  <div class="container-fluid">
	<div class="role-model role-model2 pad_t60">
		<div class="wrapper">
			<p>崔睿是一名室内设计师，并在京城有着自己的家居饰品店。在这次刷新家的时候，她完全得体现出自己的审美需求，她是一个“自然简单生活理念”的追随者，所以家就和她的穿着一样，安静舒适，富有生活气息。</p>
			<p>白色，如此单纯的色彩，在崔睿的手中却能发挥中独特的魅力。如同中国山水画的留白一样，她让墙面空出来，只是配一幅手抄的《心经》、一张古琴，仅此而已。</p>
			<p>家中的竹木家具，很多是从景德镇定做的。那里是她曾经见到过的山水田园，如今她要把这幅画面搬回来，让家成为自己的世外桃源。</p>
			<img src="<%= asset_path 'baicheng/works/model2.jpg' %>" width="837" height="1892" class="model-img" />
			<i class="pull-right">以上资料由《美好家园》友情提供</i>
			<div class="redline_b4 pad_b40"></div>
		</div>
	</div>
<% elsif params[:id] == "luojialiang" %>
	<%= stylesheet_link_tag "baicheng/luojialiang" %>
	<style type="text/css">
	/*luojialiang_css*/
	.role-model p{margin:0;line-height:20px;text-indent:25px;}
	.p2 p,.p4 p,.p7 p,.p9 p{margin:25px 0}
	.role-model3{background: url(<%= asset_path 'baicheng/works/bg5_5.jpg' %>) no-repeat center top;min-height:170px;font-size:12px;}
	.role-model3 .wrapper{padding:15px 25px 25px;box-shadow:0px -1px 4px #ddd;*border:1px solid #ddd;background-position:0 90px;}
	.role-model3 .model-img{margin:0 0 40px;}
	.video_btn{top:-275px;left:415px;}
	.redline_b4{margin:0 -25px;}
	</style>
	<div class="container-fluid">
		<div class="role-model role-model3 pad_t60">
			<div class="wrapper pr" style="height:2965px;">
				<div class="p1">
					<p>   &ldquo;花园&rdquo;两个字洋溢着幸福与温暖，这种氛围与本期空间秀的嘉宾罗嘉良与苏岩夫妇的气质相似，你可以在苏岩的眼睛中找到快乐与幸福的光芒，也可以轻易从罗嘉良眼中捕捉到他投向妻子的关切目光。他们牵手而来，似恋爱中的男女。对于如何为家庭生活保持生命力，苏岩不假思索地说:&ldquo;智慧可以让人幸福。&rdquo;</p>
					<p class="lastNode"></p>
				</div>
				<div class="top1">

					<p>浇灌幸福 用色彩刷新生活</p><p class="lastNode"></p>
				</div>
				<div class="p2">
					<p>    这次艾安为罗嘉良与苏岩夫妇设计花园式卧室的时候，正巧赶上罗嘉良与苏岩新房的装修正在收尾。谈到家庭装修布置，罗嘉良与苏岩这两位&ldquo;设计师&rdquo;可谓滔滔不绝。苏岩作为家里的发言人说：&ldquo;我们这次是轻装修、重装饰，空间选择暖色系，家具多是欧式老家具。为了衬托出这些老家具，装饰上需要特殊的色彩，而不是大白墙。我们会根据空间功能、光线选择墙面的颜色，比如卧室要温馨、舒服的颜色。&rdquo;夫妇二人对复古风格的喜好惊人地一致。&ldquo;我们喜欢去欧洲旅行，欧洲有很多怀旧的老物件，看到就会很开心，这些东西有着丰富的内涵。&rdquo;罗嘉良时不时为太太补充几句。</p><p>    女儿的降生，让罗嘉良与苏岩的生活渐渐慢下来，也更加恩爱。&ldquo;待产、生产、育儿、装修房子，把人生的这两件大事做完，也就没时间做别的了&rdquo;，罗嘉良和苏岩特地把女儿的房间墙壁刷成粉色，并在女儿的活动室刷了一面粉色的墙。对于罗嘉良和苏岩来说，女儿就该是娇滴温馨的粉色。色彩就是心情的表现。</p><p>    对于自己的卧室，恩爱夫妻自然是有另外的打算，那应该是一个可以放松的地方。面对这个由艾安为他们设计的花园式卧室，夫妻俩感觉格外惊喜。这是个充满绿色的世界，从嫩黄到新绿，再到深绿。色彩的变化就像是生命的不同阶段，两个人从相识、相知、相爱，再到后来新生命的到来，又开始进入新的篇章。色彩浓郁了，感情深厚了，是爱将一切刷新。</p>
					<p></p>
					<p class="lastNode"></p>
				</div>
				<div style="position:absolute;top:450px;left:21px;background:#F2F2F2;height:332px;width:852px;"></div>
				<div class="p3">

					<p><strong>立邦墙面乳胶漆</strong>：立邦净味120硅藻抗甲醛（NN1320-3中灰、GC0030-4水漾活力、GC007-2水清柳叶、GA4000-1早春三月）<br /><strong>立邦墙面艺术漆</strong>：VC7060-FGS4银河星光</p>
					<p class="lastNode"></p>
				</div>
				<div style="position:absolute;top:825px;left:21px;background:#F2F2F2;height:968px;width:852px;"></div>
				<div class="p4">

					<p>  &ldquo;我们都很喜欢这个花园式设计，楼梯的颜色、结构、布置都很特别。嫩黄、新绿这些有着自然气息的颜色不断递进，就像我们的生活不断感悟到爱的力量。&rdquo;&mdash;罗嘉良</p><p>&ldquo;这是个充满温暖幸福的空间。罗嘉良与苏岩刚刚喜得宝宝，这种花园式生机勃勃的效果与他们目前的生活状态很相符。&rdquo;&mdash;艾安&mdash;&mdash;iColor明星设计师</p><p><strong>墙面乳胶漆：</strong><br />立邦净味120硅藻抗甲醛（NN1320-3中灰、GA0001-1翡翠绿、GA5100-1鳄梨、GA5000-1佛罗里达棕、GA4100-1枯木逢春、GA8800-1嫩黄绿、GC007-2水清柳叶、GC4120-3树芽绿、GC4620-3清凉薄荷、GA4200-1眉目传情、GA4300-1圣诞树、GA4400-1热带雨林、GC0030-4水漾活力、GA4000-1早春三月、GC5001-4圣洁） </p><p class="lastNode"><br /></p>
				</div>
				<div style="position:relative;padding:29px 0;margin:0 -25px;top:1784px;"><%= image_tag 'baicheng/works/bg6.jpg' %></div>
				<div class="p6">

					<p class="lastNode"><strong>立邦墙面乳胶漆：</strong>立邦净味120硅藻抗甲醛（NN1320-3中灰）<br />
					</p>
				</div>
				<div class="p5">

					<p class="lastNode"><strong>立邦墙面乳胶漆：</strong><br />立邦净味120硅藻抗甲醛（NN1320-3中灰、GC0030-4水漾活力、GC007-2水清柳叶、GA4000-1早春三月）
					</p>
				</div>
				<div class="top2">

					<p>花园式生活 用创意刷新设计</p><p></p><p class="lastNode"></p>
				</div>
				<div class="p7">

					<p>    本期的设计师艾安是著名当代艺术家，这是他第二次与空间秀栏目合作。得知这次的嘉宾是罗嘉良与苏岩之后，艾安特别为他们设计了这个花园式卧室。在这个两层空间中，连接上下两层的多功能楼梯成为整个空间的亮点。楼梯呈异型几何结构，改变了整个空间趋于扁平化的视觉感受；而用立邦净味系列的绿色渐变系列粉刷的楼梯，配合丰富的植被，大面积的绿色跃动于灰色背景中，使整个空间生机盎然。</p>
					<p>    以楼梯为界，一层被分隔为两个空间。楼梯前为较为开放的公共空间，紧挨楼梯处则是进门的玄关，玄关正对面为主人休息和会客的区域。与以往的私密或半私密式卧室不同，在艾安设计的花园式空间中，卧室更为开放，直接与会客区相连，两个功能区通过地毯完成分隔。而床的背景墙，设计师大胆启用了立邦的艺术漆系列，特殊的效果让这里别具特色。当阳光洒下来的时候，它波光粼粼，宛如清澈的湖水；夜晚在灯光的照射下，它又有着星空的璀璨。</p>
					<p class="lastNode">    与床相对的区域，是更为私密的神秘花园。从床沿处起步，路过梳妆台是楼梯的正背面，设计师在这个地方隐藏藏了一个神秘花园，它具有阅读工作区的功能性。一棵贯穿两层的大树和一整面植物墙，为整个卧室带来一抹大自然的灵动。这是个安静的卧室，这是个舒适的空间，这更是一个充满爱的地方。
					</p>
				</div>
				<div class="p8">

					<p>立邦墙面艺术漆：VC7060-FGS4银河星光</p>
					<p class="lastNode"></p>
				</div>
				<div id=""></div>
				<div class="p9">

					<p class="lastNode">女儿的诞生让我们知道要通过言谈举止及用行动让女儿和彼此感知爱。家中的装饰和色彩也能表现出自己的心情。这不是大白墙能替代的，卧室墙壁的颜色就应该是温馨、舒服的，如自然一般。&mdash;苏岩<br /><strong>立邦墙面乳胶漆</strong>：立邦净味120硅藻抗甲醛（NN1320-3中灰）
					</p>
				</div>
				<div class="p10" style="width:220px;text-align:right;left:650px">

					<p class="lastNode" style="color:#707070;font-style:italic;">以上资料由《美好家园》友情提供</p>
				</div>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r2_c2.png', id: 'luojialiang_r2_c2' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r4_c3.png', id: 'luojialiang_r4_c3' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r6_c4.jpg', id: 'luojialiang_r6_c4' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r8_c7.jpg', id: 'luojialiang_r8_c7' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r10_c15.jpg', id: 'luojialiang_r10_c15' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r11_c7.jpg', id: 'luojialiang_r11_c7' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r14_c5.png', id: 'luojialiang_r14_c5' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r15_c16.jpg', id: 'luojialiang_r15_c16' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r18_c13.jpg', id: 'luojialiang_r18_c13' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r19_c6.jpg', id: 'luojialiang_r19_c6' %>
				<%= image_tag 'baicheng/luojialiang/luojialiang_r20.jpg', id: 'luojialiang_r20' %>
				<a class="video_btn" href="/love/fashion_model/ljlmov"><%= image_tag 'baicheng/works/video_btn.png' %></a>
			</div>
			<div class="redline_b4" style="width:895px;margin:0 auto 20px auto;"></div>
		</div>
	</div>
<% elsif params[:id] == "wanglikun" %>
	<div class="container-fluid">
		<div class="role-model role-model3 pad_t60">
			<div class="wrapper pr">
				<div><%= image_tag 'baicheng/works/model3_1.jpg', class: 'model-img' %></div>
				<div><%= image_tag 'baicheng/works/model3_2.jpg' %></div>
				<div><%= image_tag 'baicheng/works/model3_3.jpg' %></div>
				<div><%= image_tag 'baicheng/works/model3_4.jpg' %></div>
				<div><%= image_tag 'baicheng/works/model3_5.jpg' %></div>
				<i class="pull-right">以上王丽坤素雅空间由韩文强和美好家园空间秀合作设计</i>
				<div class="redline_b4 pad_b40"></div>
				<a class="video_btn" href="/love/fashion_model/mov" id='monitor_link_346296'><%= image_tag 'baicheng/works/video_btn.png' %></a>
			</div>
		</div>
	</div>
<% elsif params[:id] == "ljlmov" %>
	<style type="text/css">
	.container-fluid{background:url(<%= asset_path 'baicheng/works/model_video.jpg' %>) no-repeat center bottom;}
	.role-video{background:url(<%= asset_path 'baicheng/works/model5_8.jpg' %>) no-repeat center top;height:753px;}
	.video-wrapper{*margin-top:127px;}
	</style>
	<div class="container-fluid">
		<div class="role-model role-video pad_t60">
			<div class="video-wrapper">
				<a href="/system/flash/luojialiang.flv" style="display:block;width:900px;height:506px" id="player"></a>
			</div>
		</div>
	</div>
<% elsif params[:id] == "mov" %>
	<div class="container-fluid">
		<div class="role-model role-video pad_t60">
			<div class="video-wrapper">
				<a href="/system/flash/Spaceshow201306.flv" style="display:block;width:900px;height:506px" id="player"></a>
			</div>
		</div>
	</div>
<% end %>