<%= stylesheet_link_tag "upload_image/jquery.fileupload-ui" %>
<script type="text/javascript">
  $(function(){
  	$('#channel_link1').click(function(){
				window.open($('#channel-url-1').val());
			});
    $('form[data-redirect_url]').bind('ajax:success', function(evt, data) {
      alert("保存成功");

      var url = $(this).data('redirect_url');
      window.location.href = url;
    }).bind("ajax:error", function(evt, data) {
      alert(data.responseText);
    });

  });
</script>
<div id="breadcrumbs">
  <ul class="breadcrumb">
    <li class="<%= 'active_red' if controller_name == 'banner_channel' %>"><a href="/manage/banner_channel">设计快查</a></li>
    <span>|</span>
    <li class=""><a href="#">装修贴士</a></li>
  	<span>|</span>
  	<li><a href="#">配色咨询</a></li>
  </ul>
</div>
<div class="main">
	<div id="index_tab6" class="tab-pane active">
		<div class="clearfix row-fluid bann_edit">
			<div class="span3 well well-small nom" style="height:400px;">
				<p style="margin-top:20px;">
					<a href="/manage/banner_channel?position=1" class="btn btn-small btn-block <%= @i_banner.position == 1 ? 'btn-primary' : 'btn-light' %>">1000x85</a>
				</p>

				<div class="clearfix" style="margin-top:200px;">
					<p class="text-left">
						<a href="/manage/banner_channel?position=2" class="btn btn-small span7 <%= @i_banner.position == 2 ? 'btn-primary' : 'btn-light' %>">670x85</a>
						<a href="/manage/banner_channel?position=3" class="btn btn-small span5 <%= @i_banner.position == 3 ? 'btn-primary' : 'btn-light' %>">310x85</a>
					</p>
				</div>
			</div>

			<div class="span8">
				<p class="banner_show">
					<img src="<%= asset_path @i_banner.file("list_#{@i_banner.size}".to_sym) %>">
				</p>
				<div>
				<span class="btn btn-small btn-primary fileinput-button">
				    <i class="icon-plus icon-white"></i>
				    <span>上传图片...</span>
				    <input id="fileupload" type="file" name="file" multiple>
				</span>
				<span class="help-inline">当前banner限制尺寸：<%= @i_banner.size %></span></div>
				<div class="widget-box mt5">
					<div class="widget-header widget-header-flat">
						<h5>编辑信息</h5>
					</div>
					<div class="widget-body">
						<%= form_tag('banner_channel/save_data', :id => 'edit_form', :remote => true, :'data-redirect_url' => "/manage/banner_channel?position=#{@i_banner.position}", :class => "widget-main clearfix nom") do %>
						<%= hidden_field_tag 'position', @i_banner.position %>
							<div class="span4 form-inline">
								<label class="span3 control-label">图片标识</label>
								<div class="span9">
									<input class="input-medium" type="text" name="photo_name" placeholder="" value="<%= @i_banner.photo_name %>" data-maxlength=10 maxlength=10 />
									<p class="nom">(不超过十个汉字)</p>
								</div>
							</div>
							<div class="span4 form-inline">
								<label class="span1 control-label">组</label>
								<div class="span9">
								<%= select_tag "i_banner_group_id", options_from_collection_for_select(@i_banner_groups, "id", "name", @i_banner.i_banner_group_id), prompt: "请选择组", :class => "input-medium" %>
									<p class="nom">&nbsp;<strong class="text-error"></strong></p>
									<p class="nom">&nbsp;</p>
								</div>
							</div>
							<div class="span4 form-inline">
								<label class="span3 control-label">链接</label>
								<div class="span9">
									<input class="input-medium" id="channel-url-1" type="text" name="url" value="<%= @i_banner.url %>" />
									<p class="nom"><a href="javascript:void(0);" id="channel_link1">检测链接</a></p>
								</div>
							</div>

							<div class="span4 form-inline">
								<p class="span12 nom">页面标识&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @i_banner.page_name %></p>
							</div>
							<p class="span12 nom">
								<%= submit_tag "保存", :id => 'save', data: { disable_with: "请等待..." }, :class => 'btn btn-small btn-primary' %>
							</p>
						<% end %>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
<%= javascript_include_tag "upload_image/vendor/jquery.ui.widget",
                              "upload_image/jquery.iframe-transport",
                              "upload_image/jquery.fileupload" %>
<script type="text/javascript">
$(function() {
    var position = <%= @i_banner.position %>;
    var url = 'banner_channel/create_image?position=' + position;
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        acceptFileTypes:  /(\.|\/)(gif|jpe?g|png)$/i,
        maxNumberOfFiles: 1,
        maxFileSize: 5000000,
        done: function (e, data) {
        	alert(data.result.notify);
        	window.location.href = "/manage/banner_channel?position=<%= @i_banner.position %>";
        },
        error: function (e, data) {
        	alert(data.result);
        }
    })
});
</script>