<div class="content">
  <div class="title">
    <h5><%= form_title %></h5>
    <div class="num"><%= link_to '返回', subject_master_profiles_path(parent), :class => "redNum" %></div>
  </div>

  <%- if resource.errors.size > 0 -%>
    <div class="nNote nFailure hideit">
      <p><strong>出错啦: </strong><%= resource.errors.full_messages.join(", ") %></p>
    </div>
  <%- end -%>

  <!-- Form with validation -->
  <%= simple_form_for([parent, resource], :html => { :class => "mainForm", :id => "valid", :multipart => true }) do |f| %>
    <fieldset>
      <div class="widget border">
        <%= f.input :title, :input_html => { :class=> "validate[required]" }, :label => "标题:" %>
        <%= f.input :intro, :input_html => { :rows => 15, :class=>"x" }, :label => "简介:" %>
        <%= f.input :name, :input_html => { :class=> "validate[required]" }, :label => "姓名:" %>
        <%= f.input :nationality, :input_html => { :class=> "validate[required]" }, :label => "国籍:" %>
        <%= f.input :master_field, :label => "领域:" %>
        <%= f.input :master_kind, :collection => ["色彩大师", "室内空间大师"],:prompt => '--请选择--', :label => "大师分类:" %>
        <%= f.input :position, :input_html => { :rows => 15, :class=>"x" }, :label => "职位:" %>
        <%= f.input :interview_content, :label => "访谈内容:", :hint => "请在输入标题或者内容后换行！" %>
        <%= f.input :preview_img_out, :label => "上传列表页图片:" %>
        <%= f.input :preview_img_in, :label => "上传内页图片:" %>
        <div class="rowElem">
          <label>发布时间:</label>
          <div class="formRight www1">
            <%= text_field_tag "master_profile[published_at]", nil, :class=> "datepicker validate[required]", :value => "#{set_date(resource)["date"]}" %>
            <%= text_field_tag "master_profile[time]", nil, :class=> "timepicker validate[required]", :value => "#{set_date(resource)["time"]}" %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <label>&nbsp;&nbsp;&nbsp;地区:</label>
          <div class="formRight www1">
            <%= f.select :tag_list, MasterProfile.tag_list, :class => "validate[required]" ,:prompt => '--请选择--'  %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <%= f.button :submit, :value => "#{button_value}" %>
          <div class="fix"></div>
        </div>
      </div>
    </fieldset>
  <%- end %>
</div>
