<div class="content">
  <div class="title"><h5><%= parent.name %> > 大师档案</h5>
    <div class="num"><%= link_to '新增大师档案', new_subject_master_profile_path(parent), :class => "redNum" %></div>
	<%- if can?(:manage, Subject) && parent -%>
    <div class="num"><%= link_to '结构管理', subjects_path(:parent_id => parent), :class => "redNum" %></div>
	<%- end -%>
  </div>
  <!-- Dynamic table -->
  <div class="table">
    <div class="head"><h5 class="iFrames">大师档案列表</h5></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
      <thead>
      <tr>
        <th width="5%">ID</th>
        <th width="20%">发布时间</th>
        <th width="20%">操作</th>
      </tr>
      </thead>
      <tbody>
      <%- collection.each do |c| %>
        <tr class="gradeA">
          <td><%= c.id %></td>
          <% if c.published_at.nil? %>
          <td><%= format_time c.created_at %></td>
          <% else %>
          <td><%= c.published_at.strftime("%Y-%m-%d %H:%M") %></td>
          <% end %>
          <td>
				    <%= link_to '编辑', edit_subject_master_profile_path(parent, c), :class => 'button basicBtn' %>
				    <%= link_to '删除', [parent, c], :confirm => '确定删除?', :method => :delete, :class => 'button basicBtn' %>
			    </td>
        </tr>
      <%- end %>
      </tbody>
    </table>
  </div>
</div>