<li class="<%= 'active' if controller_name == 'banner_group' %>">
  <a href="/manage/banner_group">组管理</a>
</li>
<li class="<%= 'active' if controller_name == 'special_kv' %>">
  <a href="/manage/special_kv">专题KV</a>
</li>
<li class="<%= 'active' if controller_name == 'banner_home' %>">
  <a href="/manage/banner_home">首页</a>
</li>
<li class="<%= 'active' if controller_name == 'banner_refresh' %>">
  <a href="/manage/banner_refresh?page_name=刷新实录">刷新生活</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">大师殿堂</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">装修图库</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">设计鉴賞</a>
</li>
<li class="<%= 'active' if controller_name == 'banner_channel' %>">
  <a href="/manage/banner_channel">业主通道</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">行业资讯</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">应用工具</a>
</li>
<li class="<%= 'active' if controller_name == '' %>">
  <a href="#">精彩活动</a>
</li>
