<li class="<%= 'active' if controller_name == 'home' %>">
  <a href="/manage/dialog_celebrities">对话名人首页</a>
</li>
<li class="<%= 'active' if controller_name == 'celebrity_questions' %>">
  <a href="/manage/dialog_celebrities/celebrity_questions">名人问答</a>
</li>
<li class="<%= 'active' if controller_name == 'master_profiles' %>">
  <a href="<%=dialog_celebrities_master_profiles_path%>">名人管理</a>
</li>
<li class="<%= 'active' if controller_name == 'celebrity_online' %>">
  <a href="/manage/celebrity_online">名人家设计</a>
</li>
<li class="<%= 'active' if controller_name == 'celebrity_online' %>">
  <a href="/manage/celebrity_online">名人手记</a>
</li>
<li class="<%= 'active' if controller_name == 'editor_treasuries' %>">
  <a href="<%=dialog_celebrities_editor_treasuries_path%>">小编宝典</a>
</li>
