<li class="<%= 'active' if controller_name == 'home_kvs' %>">
  <a href="<%= manage_root_path(sort: 1) %>">主键KV设置</a>
</li>
<li class="<%= 'active' if controller_name == 'home_recommends' %>">
  <a href="/manage/home_recommends">精华推荐</a>
</li>
<li class="<%= 'active' if controller_name == 'questions' %>">
  <a href="/manage/questions">刷新生活</a>
</li>
<li class="<%= 'active' if controller_name == 'home_image_lib' %>">
  <a href="/manage/home_image_lib">装修图库</a>
</li>
<li class="<%= 'active' if controller_name == 'home_design_show' %>">
  <a href="/manage/home_design_show">设计鉴賞</a>
</li>
<li class="<%= 'active' if controller_name == "owner_enter" %>">
  <a href="/manage/owner_enter">业主通道</a>
</li>
<li class="<%= 'active' if controller_name =~ /fit_images|fit_literals/ %>">
  <a href="/manage/fit_images">装修资讯</a>
</li>
<li class="<%= 'active' if controller_name == 'home_banners' %>">
  <a href="/manage/home_banners">banner管理</a>
</li>
<li class="<%= 'active' if controller_name == 'home_image_lists' %>">
  <a href="/manage/home_image_lists">图片首页</a>
</li>