<% content_for :head do %>
<%= stylesheet_link_tag "famous" %>
<%end-%>

<%- content_for :tail do %>
<script type="text/javascript">
$(function(){
  <% if params[:board_id].present? %>
    $.post("/dialog_celebrity/refresh_celebrity_questions",{board_id: "<%=params[:board_id]%>"})
  <% else -%>
    $.post("/dialog_celebrity/refresh_celebrity_questions",function(result){
      $("#celebrity_questions").html(result.content)
    })
  <%end-%>

})
</script>
<%- end %>

<h3 class="chann_caption nomargin"><i class="icon-map icon-map1 icon_colors"></i><strong>对话名人</strong><small>直面大师专家，为您在线授道解惑</small></h3>
<ul class="breadcrumb">
  <li><a href="/">首页</a> > </li>
  <li><a href="/dialog_celebrity">对话名人</a> > </li>
  <li class="active">名人问答</li>
</ul>
<hr class="border2 border2_mt2">
<a href="<%= @banners[0].url %>" target="_blank">
  <%= image_tag @banners[0].file(:list_1000x85) %>
</a>

<div class="clearfix mt10">
  <div class="pull-left famous_left">
    <div id="celebrity_questions"></div>
  </div>
  <div class="pull-right smaller famous_right">
    <div class="index_main nopadding">
      <div class="famous_tips text-center">
        <!-- <p>解决<strong id="replied_count">0000000000</strong>问题</p> -->
        <p style="margin-top: 30px;"><a href="<%= new_dialog_celebrity_celebrity_question_path -%>" class="btn_ask text-left">我要提问</a></p>
      </div>
    </div>
    <%= render "dialog_celebrity/shared/new_designs" -%>
    <div class="mt10"><a href="<%=@banners[1].url%>"><img src="<%=@banners[1].file(:list_230x170)%>" width="230" height="170"></a></div>
    <div class="mt10"><a href="<%=@banners[2].url%>"><img src="<%=@banners[2].file(:list_230x230)%>" width="230" height="230"></a></div>
  </div>
</div>

<div class="index_main refresh_news mt10 clearfix">
  <%= render "refresh_record/foot_select" %>
  <div class="pull-right"><a href="<%=@banners[3].url%>"><img src="<%=@banners[3].file(:list_230x230)%>" width="230" height="170"></a></div>
</div>

<div class="clearfix">
  <div class="footer_banner mt10 pull-left"><a href="<%=@banners[4].url%>"><img src="<%=@banners[4].file(:list_670x85) -%>"></a></div>
  <div class="footer_banner mt10 pull-right"><a href="<%=@banners[5].url%>"><img src="<%=@banners[5].file(:list_310x85)%>"></a></div>
</div>
