<%- content_for :head do -%>
    <style type="text/css">
        .recommend_color input{width: 80px !important;margin-right: 15px;}
        .ac_results{background: #FFFFFF !important;z-index: 500;border-left: 1px solid #ccc; border-bottom: 1px solid #ccc;}
        .recommend_color .rowElem{border: none;}
        .recommend_color .formRight{margin-top: 0;}
    </style>
    <%= stylesheet_link_tag 'uploadify' %>
<%- end -%>
<%- content_for :tail do %>
<%= javascript_include_tag "swfobject.js", "jquery.uploadify.js","jquery.autocomplete.js" %>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
         autocom();
    });
    function autocom(){
        $(".recommend_color > input").autocomplete("/admin/content/color_codes/autocomplete_recommend_color");
    }
</script>
<script type="text/javascript" charset="utf-8">
<%- session_key = Rails.application.config.session_options[:key] -%>
$(function() {

  $('#upload_photo').click(function(event){
    event.preventDefault();
  });

  $('#upload_photo').uploadify({
    swf : '/uploadify/uploadify.swf',
    cancelImage : '/uploadify/uploadify-cancel.png',
    multi : true,
    auto : true,
    checkExisting : false,
    buttonImage : null,
    uploader : '/admin/content/master_design_uploads',
    buttonText : '选择文件',
    onUploadSuccess : function(file, data, response) {
      var dat = eval('(' + data + ')');
      $.getScript(dat.upload);
    },
    postData : {
        '_http_accept': 'application/javascript',
        'format' : 'json',
        '_method': 'post',
        '<%= session_key %>' : '<%= cookies[session_key] %>',
        'authenticity_token': '<%= form_authenticity_token %>'
    }
  });

});
</script>
<%- end -%>

<div class="content">
  <div class="title">
    <h5><%= form_title %></h5>
    <div class="num"><%= link_to '返回', subject_master_designs_path(parent), :class => "redNum" %></div>
  </div>

  <%- if resource.errors.size > 0 -%>
    <div class="nNote nFailure hideit">
      <p><strong>出错啦: </strong><%= resource.errors.full_messages.join(", ") %></p>
    </div>
  <%- end -%>

  <!-- Form with validation -->
  <%= simple_form_for([parent, resource], :html => { :class => "mainForm", :id => "valid", :multipart => true }) do |f| %>
    <fieldset>
      <div class="widget border">
        <%= f.input :design_name, :input_html => { :class=> "validate[required]" }, :label => "作品名称:" %>
        <%= f.input :main_preview_img, :label => "上传图片:" %>

        <div class="rowElem">
          <div class="formRight www1 recommend_color">
            <%= f.input :master_profile_id, :collection => MasterProfile.all.collect { |i| [i.name,i.id] }, :prompt => '--请选择--', :label => "大师访谈中的大师:"%>
            <%= f.input :master_name, :label => "或输入大师名字:" %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <div>
            <label class="string">作品相册:</label>
          </div>
          <div class="formRight www1">
            <%= button_tag "上传图片", :id => 'upload_photo' %>

            <div id="uploads">
              <%= render :partial => "magic_content/master_design_uploads/upload", :collection => resource.master_design_uploads %>
            </div>
          </div>
          <div class="fix"></div>
        </div>

        <%= f.input :design_intro, :label => "作品简介:", :hint => "请在输入标题或者内容后换行！" %>

        <div class="rowElem">
          <div>
            <label class="string">发布时间:</label>
          </div>
          <div class="formRight www1">
            <%= text_field_tag "master_design[published_at]", nil, :class=> "datepicker validate[required]", :value => "#{set_date(resource)["date"]}" %>
            <%= text_field_tag "master_design[time]", nil, :class=> "timepicker validate[required]", :value => "#{set_date(resource)["time"]}" %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <label>&nbsp;&nbsp;&nbsp;地区:</label>
          <div class="formRight www1">
            <%= f.select :tag_list,  options_for_select(MasterProfile.tag_list), :class => "validate[required]" ,:prompt => '--请选择--'  %>
          </div>
          <div class="fix"></div>
        </div>

        <div class="rowElem">
          <%= f.button :submit, :value => "#{button_value}" %>
          <div class="fix"></div>
        </div>
      </div>
    </fieldset>
  <%- end %>
</div>
