<!--<%- if controller_name =~ /weekly_stars|^designs/ && action_name =~ /index|show/ && params[:from].present?%>
	<div class="static">
		<% if current_user -%>
			<% unless current_user.common_user? %>
				<a href="<%= new_user_design_path(user_id: current_user, utm_source: 'static_banner_designs', utm_medium: 'banner', utm_content: 'master_interviews', utm_campaign: 'static_banner') %>" target="_blank"><img src="<%= asset_path "static1.png" %>"/></a>
			<% end -%>
		<% else -%>
			<%= link_to_function image_tag("#{asset_path "static1.png"}"), "show_login()", target: "_blank" %>
		<% end -%>
	</div>
<%- end %>

<%- if controller_name =~ /^inspirations/ && action_name =~ /index|show/ && params[:from].present?%>
<div class="static">
	<div class="static">
		<% if current_user -%>
			<% unless current_user.common_user? %>
				<a href="<%= new_user_inspiration_path(user_id: current_user, utm_source: 'static_banner_inspirations', utm_medium: 'banner', utm_content: 'inspirations', utm_campaign: 'static_banner') %>" target="_blank" ><img src="<%= asset_path "static2.png" %>"/></a>
			<% end -%>
		<% else -%>
			<%= link_to_function image_tag("#{asset_path "static2.png"}"), "show_login()", target: "_blank" %>
		<% end -%>
	</div>
</div>
<%- end %>-->

<%#- if ((controller_name =~ /articles|color_articles|events|designer_events|other_events|gifts|softwares|channel|faqs|mix_colors/ || action_name =~ /weibo_wall/) && params[:from].present?) || action_name =~ /city/%>
	<div class="static static3">
		<a href="/master_interviews?from=top&utm_source=static_banner_master_interviews&utm_medium=banner&utm_content=master_interviews&utm_campaign=static_banner" class="static_a" target="_blank" >大师殿堂</a>
		<a href="/weekly_stars?from=top&star_type=每周之星&utm_source=static_banner_weekly_stars&utm_medium=banner&utm_content=weekly_stars&utm_campaign=static_banner" class="static_b" target="_blank" >设计鉴赏</a>
		<a href="/channel/access?from=top&utm_source=static_banner_access&utm_medium=banner&utm_content=access&utm_campaign=static_banner" class="static_c" target="_blank">漆光艺彩</a>
	</div>
<%#- end %>