<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= page_title %></title>
  <%= csrf_meta_tag %>

  <%- unless controller_name == "design_images" %>
    <meta name="Description" content="<%= des_content %>"/>
    <meta name="Keywords" content="<%= keyword_content %>"/>
  <%- end %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <!--所有的个人主页都加载style.css -->
  <%- if params[:user_id] %>
      <%= stylesheet_link_tag "style" %>
  <%- end %>
  <%= yield :head %>
  <!--[if IE 6]>
  <script src="/png.js"></script>
  <script>
      PNG.fix('img,div,a,ul,li,h2,strong,span,p');
  </script>
  <![endif]-->

  <script type="text/javascript" charset="utf-8">
      var jiathis_config = {
          boldNum:4,
          siteNum:4,
          showClose:false,
          sm:"kaixin001,renren,tsina,tqq",
          imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
          imageWidth:26,
          marginTop:150,
          url:"http://www.icolor.com.cn",
          title:"#iColor分享#一个你不容错过的网站，更多精彩装修案例、灵感家装图片尽在iColor，@刷新生活iColor，",
          data_track_clickback:true
      }
  </script>
  <style type="text/css" >
    .nav_hot{position:absolute;top:-13px;left:60px;}
    .nav_hot2{position: absolute;top: -5px;left: 65px;}
    <%- if controller_name != "home" && controller_name != "design_images" %>
     .navBot{margin:12px 0;}
    <%- end %>
    .navBot li{padding:1px 5px 2px;}
  </style>
</head>
<body style="<%= 'height:100%;' if controller_name =~ /master_designs|design_appreciation|color_designs/ %>">
	<%= rendered_script_conversion %>
<div class="header">
  <div class="nav pr">
    <div class="logo">
      <a href="/"><%= image_tag "logo1.png" %></a>
    </div>
    <div class="navTop fr">
      <span class="js-user-info"></span>

      <iframe style="float:left;display:inline;margin:11px;" width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=63&height=24&uid=2032078483&style=1&btn=red&dpc=1"></iframe>
      <div class="search fl">
        <%= form_tag("/search", :method => "get") do %>
          <select class="fl ft12" name="qt">
            <option value="0">选择分类</option>
            <option value="1">文章</option>
            <option value="2">作品</option>
            <option value="3">设计师/家装公司</option>
          </select>
          <div class="fr">
            <input type="text" class="fl" value="<%= params["search_word"] || 'Search' %>" name="search_word"/>
            <input type="image" style="margin-right:2px;" src="<%= asset_path("search-icon.jpg") %>"/>
          </div>
        <%- end %>
      </div>
      <!--search ends-->
      <div class="navLabel fl ft12">
        <a href="http://shop.nipponpaint.com.cn/" target="_blank">立邦网上商城</a> |
        <a href="javascript:void(0)" class="subscribe">订阅电子期刊</a> |
        <a href="javascript:void(0)" class="jiathis_btn">分享</a>
        <!-- JiaThis Button BEGIN -->
        <div id="ckepop" class="jiathis_area none">
          <span class="jiathis_txt">一键分享：</span>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_kaixin001"></a>
          <a class="jiathis_button_renren"></a>
          <a class="jiathis_button_qzone"></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          <a class="jiathis_counter_style"></a>
        </div>
        <!-- JiaThis Button END -->
      </div>
      <!--navLabel ends-->

      <a href="javascript:;" class="login fl"></a>
      <a href="/users/sign_up" class="reg fl"></a>
      <a href="/" class="nippon fl"></a>
    </div>
    <!--navTop ends-->
    <ul class="navBot fr cw fb ft14">
      <li><%= link_to "首页", "/", :class => "#{'active' if controller_name == 'home'}" %></li>
      <li class="pr"><%= link_to "大师殿堂", "/master_interviews", :class => "#{'active' if controller_name == 'master_interviews' || controller_name == 'master_designs'}" %>
        <ul>
          <li><%= link_to "大师访谈", "/master_interviews", :class => ('active' if controller_name == 'master_interviews') %></li>
          <li class="pr noborder"><%= link_to "大师作品", "/master_designs", :class => ('active' if controller_name == 'master_designs') %>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <!-- <li class="noborder"><a href="/master_topics<%= link_suffix %>">业内动态</a></li> -->
        </ul>
      </li>
      <li class="pr">
        <%= link_to "装修图库", "/design_images", :class => "#{'active' if controller_name == 'design_images'}" %>
        <span class="nav_hot"><img src="<%= asset_path "new.png" %>"></span>
      </li>

      <li class="pr"><%= link_to "设计鉴赏", "/weekly_stars",:class => ('active' if controller_name == 'weekly_stars' || controller_name == 'designs' || controller_name == 'color_designs' || controller_name == 'inspirations') %>
        <ul>
          <li class="pr">
            <%= link_to "设计之星", "/weekly_stars",:class => ('active' if controller_name == 'weekly_stars') %>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li><%= link_to "作品展示", "/designs", :class => "#{'active' if controller_name == 'designs'}" %></li>
          <li class="pr"><%= link_to "色彩配搭", "/color_designs", :class => "#{'active' if controller_name == 'color_designs'}" %>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li class="pr noborder"><%= link_to "灵感秀", "/inspirations", :class => "#{'active' if controller_name == 'inspirations'}" %></li>
          <!-- <li class="noborder pr"><a href="/my_show<%= link_suffix %>">我型我秀</a> -->
          <!--  <span class="nav_hot2"><img src="<%= asset_path "new.png" %>"></span> -->
          <!-- </li> -->
        </ul>
        <span class="nav_hot"><img src="<%= asset_path "hot.png" %>"></span>
      </li>

      <li class="pr"><%= link_to "业主通道", "/channel/access", :class => "#{'active' if controller_name == 'channel' || controller_name == 'faqs' || controller_name == 'mix_colors' }" %>
        <ul >
          <li class="pr"><%= link_to "设计快查", "/channel/access", :class => "#{'active' if controller_name == 'channel'}" %><span class="nav_hot2"><img src="<%= asset_path "new.png" %>"></span></li>
          <li><%= link_to "装修问答", "/faqs", :class => "#{'active' if controller_name == 'faqs'}" %></li>
          <li><%= link_to "装修贴士", "/faqs#tips" %></li>
          <li><%= link_to "配色咨询", "/mix_colors/new", :class => "#{'active' if controller_name == 'mix_colors'}" %></li>
          <li class="noborder"><%= link_to "刷新服务", "http://www.nipponpaint.com.cn/shuaxin/fuwu/", :target => "_blank" %></li>
          <!-- <li><a href="/faqs<%= link_suffix %>">装修问答</a></li>
          <li class="noborder"><a href="/mix_colors/new<%= link_suffix %>">配色咨询</a></li> -->
        </ul>
        <span class="nav_hot"><img src="<%= asset_path "hot.png" %>"></span>
      </li>

      <li class="pr"><%= link_to "行业资讯", "/articles", :class => "#{'active' if controller_name == 'articles' || controller_name == 'color_articles' || controller_name == 'master_topics'}" %>
        <ul>
          <li class="pr"><%= link_to "装修资讯", "/articles", :class => "#{'active' if controller_name == 'articles'}" %>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li><%= link_to "色彩资讯", "/color_articles", :class => "#{'active' if controller_name == 'color_articles'}" %></li>
          <li class="noborder"><%= link_to "业内动态", "/master_topics", :class => "#{'active' if controller_name == 'master_topics'}" %></li>
        </ul>
      </li>
      <li class="pr"><%= link_to "应用工具", "/softwares/tools", :class => "#{'active' if controller_name == 'softwares'}" %>
        <ul>
          <li><%= link_to "案例下载", "/softwares/case", :class => "#{'active' if controller_name == 'softwares' && action_name == 'case'}" %></li>
          <li class="noborder"><%= link_to "配色软件", "/softwares/tools", :class => "#{'active' if controller_name == 'softwares' && action_name == 'tools'}" %></li>
          <!-- <li class="noborder"><a href="/softwares/app">APP</a></li> -->
        </ul>
      </li>

      <li class="pr"><%= link_to "漆光艺彩", "/art", :class => "#{'active' if controller_name == 'function'}" %>
        <ul style="width:146px">
          <li><%= link_to "米兰诺艺术效果", "/art", :class => "#{'active' if controller_name == 'function' && action_name == 'art'}" %></li>
          <li class="noborder"><%= link_to "木纹风尚生活", "/7-1", :class => "#{'active' if controller_name == 'function' && action_name == '7-1'}" %></li>
          <!--<li><a href="/7-2">墙面艺术效果</a></li>-->
          <!-- <li class="noborder"><a href="/7-3<%= link_suffix %>">刷新灵感我绘我家</a></li> -->
        </ul>
        <!-- <span class="nav_hot"><img src="<%= asset_path "new.png"%>" /></span> -->
      </li>
      <li class="noborder pr"><%= link_to "精彩活动", "/designer_events", :class => "#{'active' if controller_name == 'designer_events' || controller_name == 'other_events' || controller_name == 'gifts'}" %>
        <ul style="width:116px; left: -25px;_left: -17px">
          <li><%= link_to "设计师活动", "/designer_events", :class => "#{'active' if controller_name == 'designer_events'}" %></li>
          <li><%= link_to "其他活动", "/other_events", :class => "#{'active' if controller_name == 'other_events'}" %></li>
          <li class="noborder"><%= link_to "获奖名单", "/gift_list", :class => "#{'active' if controller_name == 'gifts'}" %></li>
          <!-- <li class="noborder"><a href="/events<%= link_suffix %>">年度色彩趋势活动</a></li> -->
        </ul>
      </li>
    </ul>
    <!--navBot ends-->
  </div>
  <!--nav ends-->

  <%= yield :index %>
</div>
<!--header ends-->

<div id="pop0223" style="display:none">
  <div id="overlay" style="display:block;z-index:10000;"></div>
  <div style="position:fixed;_position:absolute;top:50px;left:50%;margin-left:-494px;_margin-left:-480px;z-index:10001">
    <a class="js-index_popclose0223" href="javascript:;" style="position:absolute;right:56px;top:63px;z-index:10001"><img src="<%= asset_path '2013/index/index_popclose0223.jpg' %>"></a>
    <img src="<%= asset_path '2013/index/index_pop0223.png' %>">
  </div>
</div>

<%= yield %>

<div class='footer <%= 'mt50' if controller_name =~ /contact|function|designer_events|other_events|register|rank|designs|moods|gifts|messages|inspirations/ || action_name =~ /community/ %>'>
  <div class='links'>
    <div class='w_995'>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link1.png")), 'http://www.nipponpaint.com.cn/' %>
        <%= link_to image_tag(asset_path("link1.png")), 'http://www.nipponpaint.com.cn/' %>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link2.jpeg")), 'http://shop.nipponpaint.com.cn/' %>
        <%= link_to image_tag(asset_path("link2.jpeg")), 'http://shop.nipponpaint.com.cn/' %>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link3.png")), 'http://nipponpaint.tmall.com/shop/viewShop.htm' %>
        <%= link_to image_tag(asset_path("link3.png")), 'http://nipponpaint.tmall.com/shop/viewShop.htm' %>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link4.png")), 'http://www.e-jjj.com/' %>
        <%#= image_tag(asset_path("link4.png")) %>
        <%= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link5.png")), 'http://www.80018.cn/' %>
        <%= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link6.png")), 'http://www.pchouse.com.cn/' %>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link7.png")), 'http://www.spta.gov.cn/index.html' %>
        <%#= link_to_if request.env['REQUEST_PATH'] == "/", image_tag(asset_path("link8.png")), 'http://www.colorcoordinator.cn/' %>
        <%#= image_tag(asset_path("link7.png")) %>
        <%#= image_tag(asset_path("link8.png")) %>
    </div>
    <!--w_995 ends-->
  </div>
  <!--links ends-->
  <div class='bot_map w_995 ft12 clear'>
    <div class="inner">
      <ul>
        <li><a href="/master_interviews" class='fb'>大师殿堂</a></li>
        <li><a href="/master_interviews">大师访谈</a></li>
        <li><a href="/master_designs<%= link_suffix %>">大师作品</a></li>
      </ul>
      <ul>
        <li><a href="/design_images<%= link_suffix %>">装修图库</a></li>
      </ul>
      <ul>
        <li><a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>" class='fb'>设计鉴赏</a></li>
        <li><a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %><%= link_suffix %>">设计之星</a></li>
        <li><a href="/designs">作品展示</a></li>
        <li><a href="/color_designs">色彩配搭</a></li>
        <li><a href="/inspirations">灵感秀</a></li>
      </ul>
      <ul>
        <li>
          <a href="#" class='fb'>业主通道</a>
        </li>
        <li><a href="/channel/access">设计快查</a></li>
        <li><a href="/faqs">装修问答</a></li>
        <li><a href="/faqs#tips">装修贴士</a></li>
        <li><a href="/mix_colors/new<%= link_suffix %>">配色咨询</a></li>
        <li><a href="http://www.nipponpaint.com.cn/shuaxin/fuwu/">刷新服务</a></li>
      </ul>
      <ul>
        <li><a href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>" class='fb'>行业资讯</a></li>
        <li><a href="/articles?tags=<%= URI.escape("设计相关") %><%= link_suffix %>">装修资讯</a></li>
        <li><a href="/color_articles<%= link_suffix %>">色彩资讯</a></li>
        <li><a href="/master_topics">业内动态</a></li>
      </ul>
      <ul>
        <li><a href="/softwares/tools<%= link_suffix %>" class='fb'>应用工具</a></li>
        <li><a href="/softwares/case">案例下载</a></li>
        <li><a href="/softwares/tools">配色软件</a></li>
        <!-- <li><a href="/softwares/app">设计应用软件</a></li> -->
      </ul>
      <ul>
        <li><a href="/art<%= link_suffix %>" class='fb'>漆光艺彩</a></li>
        <li><a href="/art<%= link_suffix %>">米兰诺艺术效果</a></li>
        <li><a href="/7-1<%= link_suffix %>">木纹风尚生活</a></li>
      </ul>
      <ul class="ul_last">
        <li><a href="/designer_events<%= link_suffix %>" class='fb'>精彩活动</a></li>
        <li><a href="/designer_events<%= link_suffix %>">设计师活动</a></li>
        <li><a href="/other_events<%= link_suffix %>">其他活动</a></li>
        <li><a href="/gift_list<%= link_suffix %>">获奖名单</a></li>
      </ul>
    </div>
  </div>
  <!--bot_map ends-->
  <div class='copyright ft12'>
    <div class='w_995'>
      <p>
      <a href='http://www.nipponpaint.com.cn/' target="_blank">立邦官网</a> |
      <a href='/contact' target="_blank">联系我们</a> |
      <a href='/rules' target="_blank">会员机制</a> |
      <a href='http://shop.nipponpaint.com.cn/' target="_blank">网上商城</a> |
      <a href='/state' target="_blank">网站声明</a> |
      <a href='/about' target="_blank">关于我们</a> |
      <a href='/sitemap' target="_blank">网站地图</a> 
      </p>
      <p>Copyright 2012 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved</p>
      <P>沪ICP备08019990号</P>
    </div>
    <!--w_995 ends-->
  </div>
  <!--copyright ends-->
</div>
<!--footer ends-->

<%= render "layouts/overlay" %>
<%= render "layouts/static" %>

<%= yield :tail %>

<% if content_for? :script %>
  <%= javascript_tag do %>
    $(function() {
      <%= yield :script %>
    });
  <% end %>
<% end %>

<% if content_for? :special_event_script %>
  <%= javascript_tag do %>
    <%= yield :special_event_script %>
  <% end %>
<% end %>

<script type="text/javascript">
$(document).ready(function () {
  $.getScript("/home/overall.js?"+(new Date().valueOf()));
});
</script>

<% if Rails.env.production? %>

<!-- Piwik -->
<script type="text/javascript">
window.onload = function(){
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://118.126.9.64:8000/piwik/" : "http://118.126.9.64:8000/piwik/");
  // document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  var pw = document.createElement('script');
  pw.src = pkBaseURL+ 'piwik.js';
  pw.type = 'text/javascript';
  document.body.appendChild(pw);
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  <% if current_user && current_user.role_id -%>
  piwikTracker.setCustomVariable(1, "Role", "<%= current_user.role_name %>_<%= current_user.des_status %>", "visit");
  piwikTracker.setCustomVariable(2, "Role", "<%= current_user.role_name %>_<%= current_user.des_status %>", "page");
  <% else -%>
  piwikTracker.setCustomVariable(1, "Role", "guest", "visit");
  piwikTracker.setCustomVariable(2, "Role", "guest", "page");
  <% end -%>
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
  };
</script>
<noscript>
  <p><img src="http://118.126.9.64:8000/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p>
</noscript>
<!-- End Piwik Tracking Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27414296-4']);
  _gaq.push(['_trackPageview']);

  _gaq.push(['_setAccount', 'UA-32012607-1']);
  _gaq.push(['_setDomainName', 'icolor.com.cn']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>

<% end %>

<div class="server_area">
  <%- unless controller_name == "weekly_stars" || controller_name == "design_images" || controller_name == "designs" %>
    <a href="javascript:void(0)" class="server fr"></a>
  <%- end %>
  <div class="server_input none">
    <%= form_tag online_qa_path, :id => "new_site_message", :remote => true do %>
        <div class="server_content ft14 tc fb">
          亲爱的会员您好！请问您有什么需要咨询？<br/>
          <span class="ft12">您可以给我们留言，我们会通过系统消息对您的留言给予答复；<br/>
          您也可以发送邮件至icolor@nipponpaint.com.cn，<br/>
          我们也将尽快回复给您！</span>
          <%= text_area_tag "site_message[desc]" %>
          <span class="server_check none">请输入您要咨询的内容。</span>
        </div>
        <!--server_content ends-->
        <p class="subs_submit tc">
          <input type="image" src="<%= asset_path "submit_btn.jpg" %>" id="server_submit"/>
        </p>
    <%- end %>
  </div>
  <!--server_input ends-->
  <div class="server_suc none">
    <div class="server_content ft14 tc">
      <img src="<%= asset_path "server_suc.jpg" %>"/>

      <p>我们将在3个工作日内对您的留言给予答复，请留意<a href="#" class="fb cr">系统消息</a>。</p>
    </div>
    <!--server_content ends-->
    <p class="subs_submit tc">
      <input type="image" src="<%= asset_path "submit_btn.jpg" %>" id="server_close"/>
    </p>
  </div>
  <!--server_suc ends-->
</div>
<!--server_area ends-->
<a href="javascript:;" id="gotop">返回顶部</a>

<!--百度统计-->
<script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F60925cbfbdc097b3cfc9493e515f0d24' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
