<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= page_title %></title>
  <%= csrf_meta_tag %>

  <%- if controller_name == "home" %>
     <meta name="Description" content="<%= des_content %>"/>
  <%- end %>
  <meta name="Keywords" content="<%= keyword_content %>"/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <!--所有的个人主页都加载style.css -->
  <%- if params[:user_id] %>
      <%= stylesheet_link_tag "style" %>
  <%- end %>
  <%= yield :head %>
  <!--[if IE 6]>
  <script src="/png.js"></script>
  <script>
      PNG.fix('img,div,a,ul,li,h2,strong,span,p');
  </script>
  <![endif]-->

  <script type="text/javascript" charset="utf-8">
      var jiathis_config = {
          boldNum:4,
          siteNum:4,
          showClose:false,
          sm:"kaixin001,renren,tsina,tqq",
          imageUrl:"http://v2.jiathis.com/code/images/r5.gif",
          imageWidth:26,
          marginTop:150,
          url:"http://www.icolor.com.cn",
          title:"#iColor分享#一个你不容错过的网站，更多精彩装修案例、灵感家装图片尽在iColor，@刷新生活iColor，",
          data_track_clickback:true
      }
  </script>
  <style type="text/css" >
    .nav_hot{position:absolute;top:-13px;left:60px;}
    .nav_hot2{position: absolute;top: -5px;left: 65px;}
  </style>

</head>
<body style="<%= 'height:100%;' if controller_name =~ /master_designs|design_appreciation|color_designs/ %>">
<div class="header">
  <div class="nav pa">
    <div class="logo">
      <a href="/"><%= image_tag "logo1.png" %></a>
    </div>
    <div class="navTop fr">
      <%- if user_signed_in? %>
          <a href="<%= user_path(current_user) %>" class="user_info fl">
            <strong><%= truncate(current_user.display_name, length: 12) %></strong>
            我的主页<%= link_to '退出', destroy_user_session_path, :method => :delete, :class => "user_info out fl" %>
          </a>
      <%- end %>

      <iframe style="float:left;display:inline;margin:11px;" width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&width=63&height=24&uid=2032078483&style=1&btn=red&dpc=1"></iframe>
      <div class="search fl">
        <%= form_tag("/search", :method => "get") do %>
        <div class="fl">
          <input type="text" class="fl" value="<%= params["search_word"] || 'Search' %>" name="search_word"/>
          <input type="image" src="<%= asset_path("search-icon.jpg") %>"/>
        </div>
        <select class="fr ft12" name="qt">
          <option value="0">选择分类</option>
          <option value="1">文章</option>
          <option value="2">作品</option>
          <option value="3">设计师/家装公司</option>
        </select>
        <%- end %>
      </div>
      <!--search ends-->
      <div class="navLabel fl ft12">
        <a href="http://shop.nipponpaint.com.cn/" target="_blank">立邦网上商城</a> |
        <a href="javascript:void(0)" class="subscribe">订阅电子期刊</a> |
        <a href="javascript:void(0)" class="jiathis_btn">分享</a>
        <!-- JiaThis Button BEGIN -->
        <div id="ckepop" class="jiathis_area none">
          <span class="jiathis_txt">一键分享：</span>
          <a class="jiathis_button_tsina"></a>
          <a class="jiathis_button_kaixin001"></a>
          <a class="jiathis_button_renren"></a>
          <a class="jiathis_button_qzone"></a>
          <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
          <a class="jiathis_counter_style"></a>
        </div>
        <!-- JiaThis Button END -->
      </div>
      <!--navLabel ends-->
      <%- unless user_signed_in? %>
          <a href="javascript:;" class="login fl"></a>
          <a href="/users/sign_up" class="reg fl"></a>
      <%- end %>
      <a href="/" class="nippon fl"></a>
    </div>
    <!--navTop ends-->
    <ul class="navBot fr cw fb ft14">
      <li><a href="/?from=top">首页</a></li>
      <li class="pr"><a href="/master_interviews?from=top">大师殿堂</a>
        <ul>
          <li><a href="/master_interviews?from=top">大师访谈</a></li>
          <li><a href="/master_topics?from=top">热点话题</a></li>
          <li class="noborder pr"><a href="/master_designs?from=top">大师作品</a>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
        </ul>
        <span class="nav_hot"><img src="<%= asset_path "hot.png" %>"></span>
      </li>
      <li class="pr"><a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>">设计鉴赏</a>
        <ul>
          <li><a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>">设计之星</a></li>
          <li><a href="/designs?from=top">推荐作品</a></li>
          <li class="pr"><a href="/inspirations?from=top">灵感秀</a>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li class="pr"><a href="/color_designs?from=top">色彩配搭</a>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li class="noborder pr"><a href="/my_show?from=top">我型我秀</a>
           <!--  <span class="nav_hot2"><img src="<%= asset_path "new.png" %>"></span> -->
          </li>
        </ul>
        <span class="nav_hot"><img src="<%= asset_path "hot.png" %>"></span>
      </li>
      <li class="pr"><a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>">行业资讯</a>
        <ul>
          <li class="pr"><a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>">装修资讯</a>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li><a href="/color_articles?from=top">色彩资讯</a></li>
          <li class="noborder"><a href="/weibo_wall?from=top">微博资讯</a></li>
        </ul>
      </li>
      <li class="pr"><a href="/designer_events?from=top">精彩活动</a>
        <ul class="w_nav1">
          <li><a href="/events?from=top">年度色彩趋势活动</a></li>
          <li><a href="/designer_events?from=top">设计师活动</a></li>
          <li class="pr"><a href="/other_events?from=top">其他精彩活动</a></li>
          <li class="noborder pr"><a href="/gift_list?from=top">获奖名单</a></li>
        </ul>
      </li>
      <li class="pr"><a href="/softwares/tools?from=top">实用工具</a>
        <ul class="w_nav2">
          <li><a href="/softwares/tools?from=top">配色工具</a></li>
          <li class="noborder"><a href="/softwares/app?from=top">设计应用软件</a></li>
        </ul>
      </li>
      <li class="pr"><a href="/channel/access?from=top">业主通道</a>
        <ul class="w_nav3">
          <li class="pr"><a href="/channel/access?from=top">片区快查</a>
            <span class="nav_hot2"><img src="<%= asset_path "hot.png" %>"></span>
          </li>
          <li><a href="/faqs?from=top">家装设计咨询</a></li>
          <li class="noborder"><a href="/mix_colors/new?from=top">在线配色服务</a></li>
        </ul>
      </li>
      <li class="noborder pr"><a href="/art?from=top">漆光艺彩</a>
        <ul class="w_nav4">
          <li><a href="/art?from=top">米兰诺艺术效果</a></li>
          <li><a href="/7-1?from=top">木纹风尚生活</a></li>
          <!--<li><a href="/7-2">墙面艺术效果</a></li>-->
          <li class="noborder"><a href="/7-3?from=top">刷新灵感我绘我家</a></li>
        </ul>
        <!-- <span class="nav_hot"><img src="<%= asset_path "new.png"%>" /></span> -->
      </li>
    </ul>
    <!--navBot ends-->
  </div>
  <!--nav ends-->

  <%= yield :index %><!--仅仅首页的-->

  <div class="loginBg pa none">
    <div class="err_tips cr ft12 none pa">
      用户名或密码错误
      <span class="fr cp">x</span>
    </div>
    <!--err_tips-->
    <div class="loginCon ft12 clear">
      <%= form_for(:user, :url => user_session_path, :remote => true, :html => {:id => "new_user"}) do |f| %>
          <div class="clear">
            <label for="username" class="username ft14 fl">帐号：</label>
            <input id="username" type="text" class="fl" value="用户名/邮箱/手机" name="user[login]"/>
          </div>
          <div class="clear">
            <label for="password" class="password ft14 fl">密码：</label>
            <input id="password" type="password" class="fl" name="user[password]"/>
            <span class="tips tc fr"><a href="/users/password/new">忘记密码？</a></span>
          </div>
          <input id="login" type="image" src="<%= asset_path "login.jpg" %>"/>

          <div class="checkbox fl">
            <input type="checkbox"/><span>下次自动登录</span>
          </div>
      <%- end %>
    </div>
    <!--loginCon ends-->
    <ul class="loginCon ft12 border clear">
      <li><a href="/users/auth/weibo"><img src="<%= asset_path "sina.jpg" %>"/>新浪微博</a></li>
      <li><a href="/users/auth/qq_connect"><img src="<%= asset_path "qq.jpg" %>"/>QQ</a></li>
      <li><a href="/users/auth/renren"><img src="<%= asset_path "rr.jpg" %>"/>人人网</a></li>
      <li class="noborder"><a href="/users/auth/kaixin"><img src="<%= asset_path "kx.jpg" %>"/>开心网</a></li>
    </ul>
    <div class="loginCon ft12 border clear">
      <p class="fl">还没加入iColor?</p>
      <a href="/users/sign_up" class="reg_now fl"></a>
    </div>
    <!--loginCon ends-->
    <div class="loginCon border">
      <a href="/gift"><img src="<%= asset_path "reg_ads.jpg" %>" alt="ads"/></a>
    </div>
  </div>
  <!--loginBg ends-->
</div>
<!--header ends-->

<%= yield %>

<div class='footer <%= 'mt50' if controller_name =~ /contact|function|designer_events|other_events|register|rank|designs|moods|gifts|messages|inspirations/ || action_name =~ /community/ %>'>
  <div class='links'>
    <div class='w_995'>
      <a href='http://www.nipponpaint.com.cn/'><img src="<%= asset_path "link1.png" %>" target="_blank" alt="" /></a>
      <a href='http://shop.nipponpaint.com.cn/'><img src="<%= asset_path "link2.jpeg" %>" target="_blank" alt="" /></a>
      <a href='http://nipponpaint.tmall.com/shop/viewShop.htm'><img src="<%= asset_path "link3.png" %>" target="_blank" alt="" /></a>
      <a href='http://www.e-jjj.com/'><img src="<%= asset_path "link4.png" %>" target="_blank" alt="" /></a>
      <a href='http://www.80018.cn/'><img src="<%= asset_path "link5.png" %>" target="_blank" alt="" /></a>
      <a href='http://www.pchouse.com.cn/'><img src="<%= asset_path "link6.png" %>" target="_blank" alt="" /></a>
      <a href='http://www.spta.gov.cn/index.html'><img src='<%= asset_path "link7.png" %>' target="_blank" alt="" /></a>
      <a href='http://www.colorcoordinator.cn/'><img src='<%= asset_path "link8.png" %>' target="_blank" alt="" /></a>
    </div>
    <!--w_995 ends-->
  </div>
  <!--links ends-->
  <div class='bot_map w_995 ft12 clear'>
    <div class="inner">
      <ul>
        <li><a href="/master_interviews" class='fb'>大师殿堂</a></li>
        <li><a href="/master_interviews">大师访谈</a></li>
        <li><a href="/master_topics">热点话题</a></li>
        <li><a href="/master_designs">大师作品</a></li>
      </ul>
      <ul>
        <li><a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>" class='fb'>设计鉴赏</a></li>
        <li><a href="/weekly_stars?from=top&star_type=<%= URI.escape("每周之星") %>">设计之星</a></li>
        <li><a href="/designs">推荐作品</a></li>
        <li><a href="/inspirations">灵感秀</a></li>
        <li><a href="/color_designs">色彩配搭</a></li>
        <li><a href="/my_show">我型我秀</a></li>
      </ul>
      <ul>
        <li><a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>" class='fb'>行业资讯</a></li>
        <li><a href="#">色彩资讯</a></li>
        <li><a href="/articles?from=top&tags=<%= URI.escape("设计相关") %>">装修资讯</a></li>
        <li><a href="#">微博资讯</a></li>
      </ul>
      <ul>
        <li><a href="#" class='fb'>精彩活动</a></li>
        <li><a href="#">年度色彩趋势活动</a></li>
        <li><a href="/events">设计师活动</a></li>
        <li><a href="#">其他精彩活动</a></li>
      </ul>
      <ul>
        <li><a href="/softwares/case" class='fb'>实用工具</a></li>
        <li><a href="/softwares/tools">配色工具</a></li>
        <li><a href="/softwares/app">设计应用软件</a></li>
      </ul>
      <ul>
        <li>
          <a href="#" class='fb'>业主通道</a>
        </li>
        <li><a href="/channel/access">片区快查</a></li>
        <li><a href="/faqs">家装设计咨询</a></li>
        <li><a href="/mix_colors/new">在线配色服务</a></li>
      </ul>
      <ul class="ul_last">
        <li><a href="/7-3" class='fb'>漆光艺彩</a></li>
        <li><a href="#">木纹风尚生活</a></li>
        <li><a href="#">墙面艺术效果</a></li>
        <li><a href="/7-3">刷新灵感我绘我家</a></li>        
      </ul>
    </div>
  </div>
  <!--bot_map ends-->
  <div class='copyright ft12'>
    <div class='w_995'>
      <p>
      <a href='http://www.nipponpaint.com.cn/' target="_blank">立邦官网</a> |
      <a href='/contact' target="_blank">联系我们</a> |
      <a href='/rules' target="_blank">会员机制</a> |
      <a href='http://shop.nipponpaint.com.cn/' target="_blank">网上商城</a> |
      <a href='/state' target="_blank">网站声明</a> |
      <a href='/about' target="_blank">关于我们</a>
      </p>
      <p>Copyright 2012 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved</p>
      <P>沪ICP备08019990号</P>
    </div>
    <!--w_995 ends-->
  </div>
  <!--copyright ends-->
</div>
<!--footer ends-->

<%= render "layouts/overlay" %>
<%= render "layouts/static" %>

<%= yield :tail %>

<% if content_for? :script %>
  <%= javascript_tag do %>
    $(function() {
      <%= yield :script %>
    });
  <% end %>
<% end %>

<% if content_for? :special_event_script %>
  <%= javascript_tag do %>
    <%= yield :special_event_script %>
  <% end %>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#new_user').bind('ajax:error', function (xhr, status, error) {
            err_in();
        });
    });
</script>
<script type="text/javascript">

    // show login window for un-login user
    $(function () {

      //订阅电子期刊
      if ($(".subscribe")) {
            $(".subscribe").click(function (event) {
                <% if current_user -%>
                  o_in();
                  $('#july_last').show().find('input[type=text]').val('');
                  $('.subs_err').hide();
                <% else -%>
                  show_login();
                  return false;
                <% end -%>
            });
        };

      //礼从天降登陆身份验证
      if ($("#gift_login")) {
            $("#gift_login").click(function (event) {
                <% if current_user && !(current_user.common_user?) -%>
                return true;
                <% elsif current_user && current_user.common_user? -%>
                alert("抱歉！普通用户身份是无法上传作品的哦！");
                return false;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        };

      if ($("#per_form")) {
            $("#per_form").submit(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;

      if ($("#new_message")) {
            $("#new_message").submit(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        // if ($("#new_comment")) {
        //     $("#new_comment").submit(function (event) {
        //         <% if current_user -%>
        //         var $area = $('#comment_content')
        //         var txt = $area.val();
        //         if (txt == '') {
        //             inputBlank($area);
        //             return false;
        //         }
        //         <% else -%>
        //         show_login();
        //         return false;
        //         <% end -%>
        //     });
        // }
        // ;
        if ($("#new_reply_msg")) {
            $("#new_reply_msg").submit(function (event) {
                <% if current_user -%>
                var $area = $('#reply_msg_content')
                var txt = $area.val();
                if (txt == '') {
                    inputBlank($area);
                    return false;
                }
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($("#new_faq")) {
            $("#new_faq").submit(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($("#new_site_message")) {
            $("#new_site_message").submit(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                $('.server_input').hide();
                $('.server_suc').hide();
                return false;
                <% end -%>
            });
        }
        ;
        if ($("#channel_service")) {
            $("#channel_service").submit(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($("#channel_access")) {
            $("#channel_access").click(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($(".one_key_forward")) {
            $(".one_key_forward").click(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($("#ckepop a")) {
            $("#ckepop a").click(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        }
        ;
        if ($(".new_mix_color")) {
            $(".new_mix_color").click(function (event) {
                <% if current_user -%>
                return true;
                <% else -%>
                show_login();
                return false;
                <% end -%>
            });
        };
    });
</script>
<!-- Piwik -->
<script type="text/javascript">
  var pkBaseURL = (("https:" == document.location.protocol) ? "https://203.156.231.36:8000/piwik/" : "http://203.156.231.36:8000/piwik/");
  document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script><script type="text/javascript">
  try {
  var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
  <% if current_user && current_user.role_id -%>
  piwikTracker.setCustomVariable(1, "Role", "<%= current_user.role_name %>_<%= current_user.des_status %>", "visit");
  piwikTracker.setCustomVariable(2, "Role", "<%= current_user.role_name %>_<%= current_user.des_status %>", "page");
  <% else -%>
  piwikTracker.setCustomVariable(1, "Role", "guest", "visit");
  piwikTracker.setCustomVariable(2, "Role", "guest", "page");
  <% end -%>
  piwikTracker.trackPageView();
  piwikTracker.enableLinkTracking();
  } catch( err ) {}
</script>
<noscript>
  <p><img src="http://203.156.231.36:8000/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p>
</noscript>
<!-- End Piwik Tracking Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27414296-4']);
  _gaq.push(['_trackPageview']);

  _gaq.push(['_setAccount', 'UA-32012607-1']);
  _gaq.push(['_setDomainName', 'icolor.com.cn']);
  _gaq.push(['_trackPageview']);  

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>

<div class="server_area">
  <a href="javascript:void(0)" class="server fr"></a>

  <div class="server_input none">
    <%= form_tag online_qa_path, :id => "new_site_message", :remote => true do %>
        <div class="server_content ft14 tc fb">
          亲爱的会员您好！请问您有什么需要咨询？<br/>
          <span class="ft12">您可以给我们留言，我们会通过系统消息对您的留言给予答复；<br/>
          您也可以发送邮件至icolor@nipponpaint.com.cn，<br/>
          我们也将尽快回复给您！</span>
          <%= text_area_tag "site_message[desc]" %>
          <span class="server_check none">请输入您要咨询的内容。</span>
        </div>
        <!--server_content ends-->
        <p class="subs_submit tc">
          <input type="image" src="<%= asset_path "submit_btn.jpg" %>" id="server_submit"/>
        </p>
    <%- end %>
  </div>
  <!--server_input ends-->
  <div class="server_suc none">
    <div class="server_content ft14 tc">
      <img src="<%= asset_path "server_suc.jpg" %>"/>

      <p>我们将在3个工作日内对您的留言给予答复，请留意<a href="#" class="fb cr">系统消息</a>。</p>
    </div>
    <!--server_content ends-->
    <p class="subs_submit tc">
      <input type="image" src="<%= asset_path "submit_btn.jpg" %>" id="server_close"/>
    </p>
  </div>
  <!--server_suc ends-->
</div>
<!--server_area ends-->
</body>
</html>
