<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>百城活动</title>
<%= stylesheet_link_tag "baicheng_all.css" %>
<%= javascript_include_tag "baicheng" %>
<%= yield :head %>
</head>
<body>
	<%= yield %>
<!-- <div class="footer">
	<ul class="center clear">
		<li><a href="1.html" class="bot-nav1">首页</a></li>
		<li><a href="2.html" class="bot-nav2">大众三级跳</a></li>
		<li><a href="3.html" class="bot-nav3">设计大PK</a></li>
		<li><a href="map.html" class="bot-nav4 active">作品聚集地</a></li>
		<li><a href="5.1.html" class="bot-nav5">活动规则及奖项设置</a></li>
		<li class="pr">
			<a href="#" class="bot-nav6">注册·登录</a>
			<a href="#" class="bot-nav7">返回iColor网</a>
		</li>
	</ul>
</div> -->
	<div class="footer">
		<ul class="center clear">
			<li>
				<%= link_to '首页', '/baicheng',
					class: "bot-nav1 #{'active' if controller_name == 'welcome' && params[:page].blank?}" %>
			</li>
			<li>
				<%= link_to '大众三级跳', '/baicheng/jump',
					class: "bot-nav2 #{'active' if controller_name == 'welcome' && params[:page] == 'jump'}" %>
			</li>
			<li>
				<%= link_to '设计大PK', '/baicheng/pk',
					class: "bot-nav3 #{'active' if controller_name == 'welcome' && params[:page] == 'pk'}" %>
			</li>
			<li>
				<%= link_to '作品聚集地', design_works_path,
					class: "bot-nav4 #{'active' if controller_name =~ /design_works|stories/ }" %>
			</li>
			<li>
				<%= link_to '活动规则及奖项设置', intro_path(id: 'index'),
					class: "bot-nav5 #{'active' if controller_name == 'intros'}" %>
			</li>
			<li class="pr">
				<a href="#" class="bot-nav6">注册·登录</a>
				<a href="#" class="bot-nav7">返回iColor网</a>

			</li>
		</ul>
	</div><!-- footer -->
	<div id="layer"></div>
	<%= render partial: 'baicheng/welcome/login' %>
	<%= yield :tail %>
	<script type="text/javascript">
		$(function(){
	    if ($(".new_message")) {
	        $(".new_message").click(function () {
	            <% if current_user -%>
	            return true;
	            <% else -%>
	            alert('请先登录');
	            return false;
	            <% end -%>
	        });
	    };
	    $('.close-btn').click(function(){
				$('.abs-center').hide();
				$('#layer').hide();
			});
	  });
		function upload_link () {
			<% if current_user && current_user.role_id == 1 -%>
        window.location.href = "alert('跳转上传页面的地方')";
	    <% elsif current_user %>
	      window.location.href = "javascript:void(0);";
	    <% else -%>
	      alert('请登录');
	    <% end -%>
		};
		function show_login () {
			$('.unlogin').show();
			$('#layer').show();
		};
	</script>
</body>
</html>
