<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <title><%= @title %></title> -->
<title>百城</title>
<!-- <meta name="description" content="<%= @description %>" /> -->
<%= csrf_meta_tag %>
<%= stylesheet_link_tag "baicheng_all.css" %>
<%= javascript_include_tag "baicheng","main.js" %>

<!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="<%=asset_path 'baicheng/ie6.css'%>">
<![endif]-->
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="<%=asset_path 'baicheng/ie7.css'%>">
<![endif]-->
<%= yield :head %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar_top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="./index.html"><img alt="logo" src="<%=asset_path 'baicheng/logo.jpg'%>"></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="./index.html">首页</a>
						</li>
						<li class="divider-vertical_nav"></li>
						<li class="">
							<a href="./2.html">我要装修</a>
						</li>
						<li class="divider-vertical_nav"></li>
						<li class="">
							<a href="./3.html">我能设计</a>
						</li>
						<li class="divider-vertical_nav"></li>
						<li>
							<a href="/baicheng/design_competes">设计作品大比拼</a>
						</li>
						<li class="divider-vertical_nav"></li>
						<li class="">
							<a href="./5.html">时尚榜样</a>
						</li>
						<li class="divider-vertical_nav"></li>
						<li class="">
							<a href="./6.html">活动章程及说明</a>
						</li>
					</ul>
				</div>
				<%- if current_user %>
				    <ul class="nav nav_userinfo pull-right">
						<li class="pr user_name">
							<a class="username_css" href="/baicheng/sysinfo"><%= current_user.try(:username) %>(3)</a>
							<span class="system_info_tip"><em class="tip_arrow"></em>3条系统消息</span>
						</li>
						<li><a href="#">查看我的活动主页</a></li>
						<li class="divider-vertical_dot"></li>
						<li><%= link_to '退出', destroy_user_session_path, :method => :delete %></li>
					</ul>
                <%-else %>
					<ul class="nav pull-right">
						<li>
							<a href="#"><i class="icon-refresh_login"></i>登录</a>
						</li>
						<li class="divider-vertical"></li>

						<li>
							<a href="#"><i class="icon-refresh_register"></i>注册</a>
						</li>
					</ul><!-- right nav end -->
				<%- end %>
			</div>
		</div>
	</div>
 	<%= yield :body_head %>
	<%= yield %>
	<div class="navbar navbar_footer nomargin">
		<div class="navbar-inner nopadding">
			<div class="container">
				<a class="brand" href="./index.html"><img alt="logo" src="<%=asset_path 'baicheng/logo_footer.png'%>"></a>
				<p class="pull-left copyright nomargin">Copyright 2013 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved</p>
				<ul class="nav pull-right">
					<li>
						<a class="txt_img_align" style="padding:10px 0;" href="#">去<img class="pad_h5" src="<%=asset_path 'baicheng/logo_link.png'%>"></a>
					</li>
					<li>
						<a style="padding:10px 10px 10px 0;" href="#">查看更多案例</a>
					</li>
					<li class="divider-vertical_footer"></li>

					<li>
						<a href="#">免责声明</a>
					</li>
					<li class="divider-vertical_footer"></li>

					<li>
						<!-- JiaThis Button BEGIN -->
						<div id="ckepop" class="jiathis_area none clearfix share_area">
							<span class="jiathis_txt">分享：</span>
							<a class="jiathis_button_renren"></a>
							<a class="jiathis_button_douban"></a>
							<a class="jiathis_button_tsina"></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
							<!-- <a class="jiathis_counter_style"></a> -->
						</div>
						<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
						<!-- JiaThis Button END -->
					</li>
				</ul><!-- right nav end -->
			</div>
		</div>
	</div>
	<div id="layer"></div>
	<div class="wel_login" style="display:none">
	  <%= render partial: 'baicheng/welcome/login' %>
    </div>
	<%#= yield :body_tail %>
	<%#= yield :tail %>
	<%#= javascript_include_tag "/baicheng_location.js" %>
	<script type="text/javascript">
		swfobject.registerObject("FlashID");
		$(function(){
	    $('.close-btn').click(function(){
				$('.abs-center').hide();
				$('#layer').hide();
			});
	    $('.e-pop-btn').click(function(){
				$('.abs-center').hide();
				$('#layer').hide();
			});
	   });
		function show_login () {
			$('.wel_login').show();
			$('.unlogin').show();
			$('#layer').show();
		};
	</script>
</body>
</html>
