<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <% custom_meta = CustomMeta.find_by_fullpath(request.fullpath) %>
  <% if custom_meta %>
    <title><%= custom_meta.title %></title>
    <meta name="Description" content="<%= custom_meta.description %>"/>
    <meta name="Keywords" content="<%= custom_meta.keywords %>"/>
  <% else %>
    <title><%= page_title %></title>
    <meta name="Description" content="<%= des_content %>"/>
    <meta name="Keywords" content="<%= keyword_content %>"/>
  <% end %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "home_manage" %>
  <!--所有的个人主页都加载style.css -->
  <%- if params[:user_id] %>
      <%= stylesheet_link_tag "style" %>
  <%- end %>
  <%= yield :head %>
  <!--[if IE 6]>
  <script src="/png.js"></script>
  <script>
      PNG.fix('img,div,a,ul,li,h2,strong,span,p');
  </script>
  <![endif]-->
  <style type="text/css" >
    .nav_hot{position:absolute;top:-13px;left:60px;}
    .nav_hot2{position: absolute;top: -5px;left: 65px;}
    <%- if controller_name != "home" && controller_name != "design_images" %>
     .navBot{margin:12px 0;}
    <%- end %>
    .navBot li{padding:1px 5px 2px;}
  </style>
</head>
<body>
  <div class="navbar nomargin">
    <div class="container">
      <div class="home_head">
        <a class="brand" href="/"><%= image_tag "logo.jpg" %></a>
        <%= form_tag("/search", :method => "get",:class => "nav_top pull-right form-inline") do %>
          <span class="input-append follow_button">
            <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
            <wb:follow-button uid="2032078483" type="red_1" width="67" height="24" ></wb:follow-button>
          </span>
          <select class="input-small" name="qt">
              <option value="0">选择分类</option>
              <option value="1">文章</option>
              <option value="2">作品</option>
              <option value="3">设计师/家装公司</option>
            </select>
          <span class="top_search">
            <input type="text" value="" placeholder="<%= params["search_word"] || 'Search' %>" name="search_word"/>
            <button class="" type="submit">search</button>
          </span>
          <a class="help-inline js-share_btn" href="javascript:void(0);">分享</a>
          <!-- Baidu Button BEGIN -->
          <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare js-share_toggle">
            <a class="bds_qzone"></a>
            <a class="bds_tsina"></a>
            <a class="bds_tqq"></a>
            <a class="bds_renren"></a>
            <a class="bds_t163"></a>
            <a class="bds_more" style="background-image:none!important;padding-left:0;">更多分享平台...</a>
          </div>
          <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
          <script type="text/javascript" id="bdshell_js"></script>
          <!-- Baidu Button END -->
          <a class="btn btn-mini login btn_gray nomargin" href="/users/sign_in">登录</a>
          <a href="/users/sign_up" target="_blank" class="btn btn-mini btn_red nomargin">免费注册</a>
          <a style="display:inline-block;"><%= image_tag "nippon.png" %></a>
        <% end %>
        <div class="user_infos pull-right js-user-info" style="display:none">
          <a href="" class="js-user-homepage"><span class="text-error text-right js-user-name"></span>的主页</a>
          <a href="/users/sign_out" data-method="delete" rel="nofollow" title="退出">退出</a>
        </div>
        <ul class="nav nav_red nomargin">
          <li class="<%='active noborder' if controller_name == 'home' %>">
            <a href="/">首页</a>
          </li>
          <li class="<%='active noborder' if controller_name == 'refresh_record' || controller_name == 'art' || controller_name == 'refresh_show' %>">
            <a href="<%=refresh_record_index_path%>" target="_blank">刷新生活</a>
            <ul class="subnav">
              <li><a href="<%=refresh_record_index_path%>">刷新实录</a></li>
              <li><a href="/refresh_life/refresh_show">刷新效果</a></li>
              <li><a href="http://shuaxinfuwu.nipponpaint.com.cn/" target="_blank">刷新服务</a></li>
            </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name == 'master_interviews' || controller_name == 'master_designs' %>">
            <a href="/master_interviews" target="_blank" >大师殿堂</a>
            <ul class="subnav">
              <li><a href="/master_interviews/all/shinei">室内空间大师</a></li>
              <li><a href="/master_interviews/all/color">色彩大师</a></li>
            </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name == 'design_images' %>">
            <a href="<%= lists_design_images_path %>" target="_blank">装修图库</a>
              <ul class="subnav">
                <li><a href="<%= lists_design_images_path %>">图库精华</a></li>
                <li><a href="/images">装修图库大全</a></li>
                <!-- <li><a href="#">装修案例专题</a></li> -->
              </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name == 'weekly_stars' || controller_name == 'designs' || controller_name == 'color_designs' || controller_name == 'inspirations' %>">
            <a href="/weekly_stars" target="_blank">设计鉴赏</a>
            <ul class="subnav">
              <li>
                <%= link_to "设计之星", "/weekly_stars",:class => ('active noborder' if controller_name == 'weekly_stars') %>
              </li>
              <li>
                <%= link_to "作品展示", "/designs", :class => "#{'active noborder' if controller_name == 'designs'}" %>
              </li>
              <li>
                <%= link_to "色彩配搭", "/color_designs", :class => "#{'active noborder' if controller_name == 'color_designs'}" %>
              </li>
<!--               <li>
                <%#= link_to "灵感秀", "/inspirations", :class => "#{'active noborder' if controller_name == 'inspirations'}" %>
              </li> -->
            </ul>
          </li>
          <li class="<%= 'active noborder' if (controller_name == 'channel' && action_name == 'access') || controller_name == 'faqs' || controller_name == 'mix_colors' %>" >
            <a href="/channel/access" target="_blank">业主通道</a>
            <ul class="subnav">
              <li><%= link_to "设计快查", "/channel/access", :class => "#{'active noborder' if controller_name == 'channel'}" %></li>
              <li><%= link_to "装修贴士", "/faqs" %></li>
              <li><%= link_to "配色咨询", "/mix_colors/new", :class => "#{'active noborder' if controller_name == 'mix_colors'}" %></li>
            </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name == 'articles' || controller_name == 'color_articles' || controller_name == 'master_topics' %>" >
            <a href="/articles" target="_blank">行业资讯</a>
            <ul class="subnav">
              <li><%= link_to "装修资讯", "/articles", :class => "#{'active noborder' if controller_name == 'articles'}" %></li>
              <li><%= link_to "色彩资讯", "/color_articles", :class => "#{'active noborder' if controller_name == 'color_articles'}" %></li>
              <li><%= link_to "业内动态", "/master_topics", :class => "#{'active noborder' if controller_name == 'master_topics'}" %></li>
            </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name == 'softwares' %>" >
            <a href="/softwares/case" target="_blank">应用工具</a>
            <ul class="subnav">
              <li><%= link_to "案例下载", "/softwares/case", :class => "#{'active noborder' if controller_name == 'softwares' && action_name == 'case'}" %></li>
            </ul>
          </li>
          <li class="<%= 'active noborder' if controller_name =~ /designer_events|other_events|gifts/ %>">
            <a href="/designer_events" target="_blank">精彩活动</a>
            <ul class="subnav">
              <li><%= link_to "设计师活动", "/designer_events", :class => "#{'active noborder' if controller_name == 'designer_events'}" %></li>
              <li><%= link_to "其他活动", "/other_events", :class => "#{'active noborder' if controller_name == 'other_events'}" %></li>
              <li><%= link_to "获奖名单", "/gift_list", :class => "#{'active noborder' if controller_name == 'gifts'}" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container <%= 'map' if controller_name == 'design_images' %>">
    <%= yield %>
    <div class="home_footer">
      <ul class="index_main index_map clearfix">
        <li>
          <i class="icon-map icon-map9"></i>
          <a href="/refresh_record"><strong>刷新生活</strong></a>
          <a href="/refresh_record">刷新实录</a>
          <a href="/art">刷新效果</a>
          <a href="http://shuaxinfuwu.nipponpaint.com.cn/" target="_blank">刷新服务</a>
        </li>
        <li>
          <i class="icon-map icon-map1"></i>
          <a href="/master_interviews"><strong>大师殿堂</strong></a>
          <a href="/master_interviews/all/shinei">室内空间大师</a>
          <a href="/master_interviews/all/color">色彩大师</a>
        </li>
        <li>
          <i class="icon-map icon-map2"></i>
          <a href="<%= lists_design_images_path %>"><strong>装修图库</strong></a>
          <a href="<%= lists_design_images_path %>">图库精华</a>
          <a href="/images">装修图库大全</a>
          <!-- <a href="#">装修案例专题</a> -->
        </li>
        <li>
          <i class="icon-map icon-map3"></i>
          <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %>"><strong>设计鉴赏</strong></a>
          <a href="/weekly_stars?star_type=<%= URI.escape("每周之星") %>">设计之星</a>
          <a href="/designs">作品展示</a>
          <a href="/color_designs">色彩配搭</a>
          <!-- <a href="/inspirations">灵感秀</a> -->
        </li>
        <li>
          <i class="icon-map icon-map4"></i>
          <a href="#"><strong>业主通道</strong></a>
          <a href="/channel/access">设计快查</a>
          <a href="/faqs">装修贴士</a>
          <a href="/mix_colors/new<%= link_suffix %>">配色咨询</a>
        </li>
        <li>
          <i class="icon-map icon-map5"></i>
          <a href="/articles?tags=<%= URI.escape("设计相关") %>"><strong>行业资讯</strong></a>
          <a href="/articles?tags=<%= URI.escape("设计相关") %>">装修资讯</a>
          <a href="/color_articles">色彩资讯</a>
          <a href="/master_topics">业内动态</a>
        </li>
        <li>
          <i class="icon-map icon-map6"></i>
          <a href="/softwares/case"><strong>应用工具</strong></a>
          <a href="/softwares/case">案例下载</a>
        </li>
        <li>
          <i class="icon-map icon-map8"></i>
          <a href="/designer_events"><strong>精彩活动</strong></a>
          <a href="/designer_events">设计师活动</a>
          <a href="/other_events">其他活动</a>
          <a href="/gift_list">获奖名单</a>
        </li>
      </ul>

      <div class="footer">
        <hr class="border2">
        <%= render partial: footer_links %>
        <hr class="border2">
        <p class="text-center pt15">
          <a href="http://www.nipponpaint.com.cn/" target="_blank">立邦官网</a> |
          <a href="/contact" target="_blank">联系我们</a> |
          <a href="/rules" target="_blank">会员机制</a> |
          <a href="http://shop.nipponpaint.com.cn/" target="_blank">网上商城</a> |
          <a href="/state" target="_blank">网站声明</a> |
          <a href="/about" target="_blank">关于我们</a> |
          <a href="/sitemap" target="_blank">网站地图</a>
        </p>
        <p class="text-center">
          <small>Copyright 2012 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved<br>沪ICP备13045279号</small>
        </p>
      </div>
      <div id="float_right_btn">
        <p id="back-top">
          <a href="#top"><%= image_tag 'back_top.png' %></a>
        </p>
        <a href="javascript:;" class="codebar">
          <%= image_tag 'code_big.jpg', class: 'code_big' %>
          <%= image_tag 'code.png' %>
        </a>
        <a href="javascript:;" class="ask_btn mt10 js-ask_btn">
          <%= image_tag 'ask.png', alt: '我要咨询' %>
          <%= form_tag online_qa_path, :class => "ask_form nomargin", :id => "new_site_message", :remote => true do %>
            <fieldset class="">
              <h5>我要咨询</h5>
              <p>
                亲爱的会员您好！请问您有什么需要咨询？<br>您可以给我们留言，我们会通过系统消息对您的留言给予答复！
              </p>
              <%= text_area_tag "site_message[desc]" %>
              <div class="text-right">
                <button class="btn btn-success btn-large">确定</button>
              </div>
            </fieldset>
          <%- end %>
        </a>
      </div>

    </div>
  </div>

  <%= javascript_include_tag "home_manage" %>
  <%= yield :tail %>

  <%= render "layouts/login" %>
  <script type="text/javascript">
    $(function(){
      function is_mobile() {
        var regex_match = /(nokia|iphone|android|motorola|^mot-|softbank|foma|docomo|kddi|up.browser|up.link|htc|dopod|blazer|netfront|helio|hosin|huawei|novarra|CoolPad|webos|techfaith|palmsource|blackberry|alcatel|amoi|ktouch|nexian|samsung|^sam-|s[cg]h|^lge|ericsson|philips|sagem|wellcom|bunjalloo|maui|symbian|smartphone|midp|wap|phone|windows ce|iemobile|^spice|^bird|^zte-|longcos|pantech|gionee|^sie-|portalmmm|jigs browser|hiptop|^benq|haier|^lct|operas*mobi|opera*mini|320x320|240x320|176x220)/i;
        var u = navigator.userAgent;
        if (null == u) {
          return true;
        }
        var result = regex_match.exec(u);
        if (null == result) {
          return false
        } else {
          return true
        }
      }
      if (is_mobile()) {
        document.location.href= 'http://www.icolor.com.cn/mobile/';
      }

      ;(function($){
        //左侧banner
        $('.js-banner_hover').on('mouseover mouseout','a',function(){
          $('.float_bann').addClass('hidden');
          $('.float_bann_big').removeClass('hidden');
        });
        $('.js-close').on('click', function(){
          $(this).parent().addClass('hidden');
          $(this).parent().siblings().removeClass('hidden');
        });

        //share
        $('.js-share_btn,.js-share_toggle').hover(function(){
          $('.js-share_toggle').toggle()
        });
      }($));
    });
  </script>

  <%= javascript_include_tag '/location.js' %>
  <script type="text/javascript">
    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
  </script>

  <!-- GA监测 -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27414296-4']);
    _gaq.push(['_trackPageview']);

    _gaq.push(['_setAccount', 'UA-32012607-1']);
    _gaq.push(['_setDomainName', 'icolor.com.cn']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- SEM监测 -->
  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0725f99b41799413ca0ae992fb397e34' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <!--百度统计-->
  <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F60925cbfbdc097b3cfc9493e515f0d24' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
  <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
</body>
</html>