<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>iColor 公司主页CMS系统 - 华浔公司</title>
  <%= csrf_meta_tag %>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "manage/bootstrap.css", "manage/bootstrap-responsive.css","huaxun/huaxun_admin/font-awesome.min","huaxun/huaxun_admin/huaxun_admin" %>
    <%= javascript_include_tag "huaxun_all", "manage/bootstrap.js","huaxun/huaxun_admin.js" %>
    <!--[if IE 7]>
      <link rel="stylesheet" href="/dev-assets/huaxun/huaxun_admin/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/dev-assets/huaxun/huaxun_admin/ace-ie.min.css" />
    <![endif]-->
    <!--inline styles if any-->
    <%= yield :head %>
</head>
<body class="haxun_skin">
    <div class="navbar navbar-inverse nomargin">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">
            <small>
              iColor 公司主页CMS系统 - 华浔公司
            </small>
          </a>
          <% if current_user && current_user.genre == 'huaxun' %>
            <ul class="nav ace-nav pull-right">
              <li class="huaxun_skin user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                  <!-- <img class="nav-user-photo" src="avatars/user.jpg" alt="Jason's Photo" /> -->
                  <span id="user_info">
                    <small><%=current_user.username%></small>
                  </span>

                  <i class="icon-caret-down"></i>
                </a>

                <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
                  <li>
                    <%= link_to raw("<i class='icon-off'></i>Logout"), huaxun_sign_out_path, :method => :delete, title: '' %>
                  </li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <%= render :partial => "layouts/nav" %>
    <%= render partial: 'layouts/flash_message' %>
    <%= yield %>
    <%= yield :tail %>
</html>
