<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>百城活动</title>
<%= stylesheet_link_tag "baicheng_all.css", "baicheng/style" %>
<%= javascript_include_tag "baicheng" %>
<%= yield :head %>
</head>
<body>
<div class="header subpage">
	<ul class="nav center clear">
		<li class="logo"><a href="http://www.icolor.com.cn"><img src="<%= asset_path 'nav/logo.gif' %>" /></a></li>
		<li>
			<%=link_to '活动规则', intro_path(:id => 'index'), class: "#{'active' if  params[:id] == 'index'}" %>
		</li>
		<li>
			<%=link_to '活动内容', intro_path(:id => 'content'), class: "#{'active' if  params[:id] == 'content'}" %>
			<ul class="subnav none" style="display: none;">
				<li><a href="<%= intro_path(id: 'content') %>">家装公司/设计师</a></li>
				<li class="noborder"><a href="<%= intro_path(id: 'content_user')%>">大众用户</a></li>
			</ul>
		</li>
		<li>
            <%=link_to '活动奖项', intro_path(:id => 'award'), class: "#{'active' if  params[:id] == 'award'}" %>
		</li>
		<li>
            <%=link_to '评选细则', intro_path(:id => 'detail'), class: "#{'active' if  params[:id] == 'detail'}" %>
		</li>
		<li>
            <%=link_to '评委名单', intro_path(:id => 'name'), class: "#{'active' if  params[:id] == 'name'}" %>
		</li>
		<li>
            <%=link_to '活动时间', intro_path(:id => 'time'), class: "#{'active' if  params[:id] == 'time'}" %>
		</li>
	</ul>
</div><!-- header -->
<%= yield %>
	<div class="footer">
		<ul class="center clear">
			<li>
				<%= link_to '首页', '/baicheng',
					class: "bot-nav1 #{'active' if controller_name == 'welcome' && params[:page].blank?}" %>
			</li>
			<li>
				<%= link_to '大众三级跳', '/baicheng/jump',
					class: "bot-nav2 #{'active' if controller_name == 'welcome' && params[:page] == 'jump'}" %>
			</li>
			<li>
				<%= link_to '设计大PK', '/baicheng/pk',
					class: "bot-nav3 #{'active' if controller_name == 'welcome' && params[:page] == 'pk'}" %>
			</li>
			<li>
				<%= link_to '作品聚集地', design_works_path,
					class: "bot-nav4 #{'active' if controller_name =~ /design_works|stories/ }" %>
			</li>
			<li>
				<%= link_to '活动规则及奖项设置', intro_path(id: 'index'),
					class: "bot-nav5 #{'active' if controller_name == 'intros'}" %>
			</li>
			<li class="pr">
				<%- if current_user %>
					<a href="<%= user_asks_path(current_user) %>" class="bot-nav6">
						<%= truncate(current_user.display_name, length: 12) %>
					</a>				
					<!-- <a href="javascript:show_login();">登录</a> -->
				<%- else %>
					<a href="/users/sign_up?return_to=<%= request.url %>" class="bot-nav6">注册·登录</a>
					<%#= link_to '退出', destroy_user_session_path, :method => :delete %>
				<%- end %>
				<a href="http://www.icolor.com.cn" class="bot-nav7">返回iColor网</a>
			</li>
		</ul>
	</div><!-- footer -->
<div id="layer"></div>
<%= render partial: 'baicheng/welcome/login' %>
<%= yield :tail %>
<script type="text/javascript">
	$(function(){
		$('.close-btn').click(function(){
			$('.abs-center').hide();
			$('#layer').hide();
		});
	});
	function show_login () {
		$('.unlogin').show();
		$('#layer').show();
	};
</script>
</body>
</html>