<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>百城活动</title>
<%= stylesheet_link_tag "baicheng/reset", "baicheng/base", "baicheng/style" %>
<%= javascript_include_tag "jquery","baicheng/main" %>
<%= yield :head %>
</head>
<body>
<div class="header subpage">
	<ul class="nav center clear">
		<li class="logo"><a href="#"><img src="<%= asset_path 'nav/logo.gif' %>" /></a></li>
		<li>
			<%=link_to '活动规则', intros_path() %>
		</li>
		<li
			<a href="baicheng/intros/content" >
			</a>
			<%=link_to '活动内容', intro_path(:id => 'content') %>
			<ul class="subnav none">
				<li><a href="#">家装公司/设计师</a></li>
				<li class="noborder"><a href="#">大众用户</a></li>
			</ul>
		</li>
		<li>
            <%=link_to '活动奖项', intro_path(:id => 'award') %>
		</li>
		<li>
            <%=link_to '评选细则', intro_path(:id => 'detail') %>
		</li>
		<li>
            <%=link_to '评委名单', intro_path(:id => 'name') %>
		</li>
		<li>
            <%=link_to '活动时间', intro_path(:id => 'time') %>
		</li>
	</ul>
</div><!-- header -->
<%= yield %>
<div class="footer subpage">
	<ul class="center clear">
		<li><a href="1.html">首页</a></li>
		<li><a href="2.html">大众三级跳</a></li>
		<li><a href="3.html">设计大PK</a></li>
		<li><a href="map.html">作品聚集地</a></li>
		<li><a class="active" href="5.1.html">活动规则及奖项设置</a></li>
		<li class="tc">
			<a href="#">注册</a> <a>·</a> <a href="#">登录</a>
			<a href="#" class="ft12">返回iColor网</a>
		</li>
	</ul>
</div><!-- footer -->
</body>
</html>