<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title || '爱的故事' %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "love_story_all.css" %>
    <%= yield :head %>
    <!--[if IE 6]>
    <![endif]-->
    <!--[if IE]>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar_top">
      <div class="navbar-inner">
        <div class="container">
          <a target="_blank" href="<%= root_path %>">
            <%= image_tag 'love_story/images/logo.png', class: 'brand', alt: 'iColor' %>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= 'active' if controller_name == 'home' %>">
                <a target="_blank" href="<%= love_story_root_path %>">首页</a>
              </li>
              <li class="<%= 'active' if controller_name == 'love_stories' %>">
                <a target="_blank" href="<%= love_stories_path %>">爱的故事</a>
              </li>
              <li class="<%= 'active' if controller_name == 'minisite_designs' %>">
                <a target="_blank" href="<%= minisite_designs_path %>">设计作品展示</a>
              </li>
              <li class="<%= 'active' if controller_name =~ /minisite_weekly_stars|minisite_stars/ %>">
                <a target="_blank" href="<%= minisite_stars_path %>">设计师精选</a>
              </li>
              <li class="">
                <a target="_blank" href="./5.html">活动说明</a>
              </li>
            </ul>
          </div>
          <%- if current_user %>
            <ul class="nav nav_userinfo pull-right">
              <li class="pr user_name">
                <a class="username_css" href="<%= user_asks_path(current_user) %>" target="_blank"><%= current_user.display_name %></a>
              </li>
              <li class="divider-vertical_dot"></li>
              <li><%= link_to '退出', destroy_user_session_path, :method => :delete %></li>
            </ul> <!--user login-->
          <%- else %>
            <ul class="nav pull-right">
              <li>
                <a target="_blank" href="/users/sign_in?return_to=<%= request.original_url %>"><i class="icon-refresh_login"></i>登录</a>
              </li>
              <li class="divider-vertical"></li>

              <li>
                <a target="_blank" href="/users/sign_up?return_to=<%= request.original_url %>"><i class="icon-refresh_register"></i>注册</a>
              </li>
            </ul> <!--unlogin-->
          <%- end %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="navbar navbar_footer nomargin">
      <div class="navbar-inner nopadding">
        <div class="container">
          <a class="brand" href="http://shop.nipponpaint.com.cn" target="_blank"><img alt="logo" src="<%=asset_path 'love_story/images/logo_footer.png'%>"></a>
          <p class="pull-left copyright nomargin">Copyright 2013 NIPPON PAINT (CHINA)Co.,Ltd All Rights Reserved</p>
          <ul class="nav pull-right">
            <li>
              <a class="txt_img_align" style="padding:10px 0;" href="/">去<img class="pad_h5" src="<%=asset_path 'love_story/images/logo_link.png'%>"></a>
            </li>
            <li>
              <a style="padding:10px 10px 10px 0;" href="/">查看更多案例</a>
            </li>
            <li class="divider-vertical_footer"></li>

            <li>
              <a target="_blank" href="/love/disclaimer">免责声明</a>
            </li>
            <li class="divider-vertical_footer"></li>

            <li>
              <!-- JiaThis Button BEGIN -->
              <div id="ckepop" class="jiathis_area none clearfix share_area">
                <span class="jiathis_txt">分享：</span>
                <a class="jiathis_button_renren"></a>
                <a class="jiathis_button_douban"></a>
                <a class="jiathis_button_tsina"></a>
                <a target="_blank" href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
                <!-- <a class="jiathis_counter_style"></a> -->
              </div>
              <script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
              <!-- JiaThis Button END -->
            </li>
          </ul><!-- right nav end -->
        </div>
      </div>
    </div>
    <%= javascript_include_tag "love_story","/location.js","LinkageSelect.js" %>
    <%= yield :tail %>
  </body>
</html>