<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>icolor</title>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag 'bootstrap/bootstrap.min' ,
    'bootstrap/bootstrap-responsive.min',
    'bootstrap/font-awesome.min',
    'bootstrap/ace.min',
    'bootstrap/ace-responsive.min',
    'bootstrap/ace-skins.min' %>
  <%= javascript_include_tag 'jquery',
    'jquery_ujs',
    'bootstrap/bootstrap.min',
    'bootstrap/ace.min',
    'bootstrap/ace-elements.min' %>

  <%= yield :head %>
<body>

  <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="/manage" class="brand"><small>2013新版icolor首页</small></a>

          <ul class="nav ace-nav pull-right">

            <li class="grey">
              <a href="/admin/content/subjects" >
                <i class="icon-tasks"></i>
                <span class="badge badge-grey">返回管理</span>
              </a>
            </li>

            <li class="light-blue user-profile">
              <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                <span id="user_info">
                  <small>欢迎,</small>
                  <%= current_admin.username %>
                </span>

                <i class="icon-caret-down"></i>
              </a>

              <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer" id="user_menu">
                <li>
                  <a href="/admins/sign_out" data-method="delete"><i class="icon-off"></i>退出系统</a>
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="nav nav-pills widget-header" style="background-color:#F5F5F5;margin:0;">
      <li class="<%= 'active' if controller_name == 'home_kvs' %>"><a href="/manage/home_kvs">主键KV设置</a></li>
      <li class="<%= 'active' if controller_name == 'home_recommends' %>"><a href="/manage/home_recommends">精华推荐</a></li>
      <li class="<%= 'active' if params[:controller] == 'manage/fit_images' %>">
        <a href="/manage/fit_images">装修图库</a>
      </li>
      <li class=""><a href="#">设计鉴賞</a></li>
      <li class="<%= 'active' if params[:controller] == "manage/owner_enter" %>"><a href="manage/owner_enter">业主通道</a></li>
      <li class="<%= 'active' if params[:controller] == 'manage/fit_images' %>">
        <a href="/manage/fit_images">装修资讯</a>
      </li>
      <li class="<%= 'active' if params[:controller] == 'manage/home_banners' %>"><a href="/manage/home_banners">banner管理</a></li>
    </ul>
        
  </div>
</div>

  <%= yield %>

  <%= yield :tail %>
</body>
</html>
